systems/DMI/20150512 Leverance/Servicebeskrivelser og WSDLer/OIO/DMIFERVOIO_20150512/urn/oio/skat/dmi/ws/1_0_0/DMIFERVModregningFordringList_I.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmiws="urn:oio:skat:dmi:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:dmi:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../../../../../../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../efi/1_0_0/MyndighedUdbetalingDato.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../efi/1_0_0/MyndighedUdbetalingTypeKode.xsd"/><xs:include schemaLocation="KundeStruktur.xsd"/>
	<xs:include schemaLocation="MyndighedUdbetalingBeloebStruktur.xsd"/>
	<xs:element name="DMIFERVModregningFordringList_I" type="dmiws:DMIFERVModregningFordringList_IType">
	</xs:element>
	<xs:complexType name="DMIFERVModregningFordringList_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element ref="dmiws:KundeStruktur"/>
			<xs:element name="Udbetaling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efi:MyndighedUdbetalingTypeKode"/>
						<xs:element ref="efi:MyndighedUdbetalingDato"/>
						<xs:element ref="dmiws:MyndighedUdbetalingBeloebStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
