systems/DMI/20150512 Leverance/Servicebeskrivelser og WSDLer/OIO/DMIFERVOIO_20150512/urn/oio/skat/dmi/ws/1_0_0/DMIFERVModregningFordringList_O.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmiws="urn:oio:skat:dmi:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:dmi:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../../../../../../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../efi/1_0_0/FordringStiftelseDato.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../efi/1_0_0/FordringInddrivelseFordringIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../efi/1_0_0/MyndighedUdbetalingDato.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../efi/1_0_0/MyndighedUdbetalingTypeKode.xsd"/><xs:include schemaLocation="KundeStruktur.xsd"/>
	<xs:include schemaLocation="MyndighedUdbetalingBeloebStruktur.xsd"/>
	<xs:include schemaLocation="DMIUdbetalingDaekningMaxBeloebStruktur.xsd"/>
	<xs:element name="DMIFERVModregningFordringList_O" type="dmiws:DMIFERVModregningFordringList_OType">
	</xs:element>
	<xs:complexType name="DMIFERVModregningFordringList_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="KundeFordringListe" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KundeFordring" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmiws:KundeStruktur"/>
									<xs:element name="Udbetaling">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="efi:MyndighedUdbetalingTypeKode"/>
												<xs:element ref="efi:MyndighedUdbetalingDato"/>
												<xs:element ref="dmiws:MyndighedUdbetalingBeloebStruktur"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HovedFordringListe">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="HovedFordring" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="efi:FordringInddrivelseFordringIdentifikator"/>
															<xs:element ref="efi:FordringStiftelseDato"/>
															<xs:element ref="dmiws:DMIUdbetalingDaekningMaxBeloebStruktur"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
