projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/class/FremlagtDokument.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Omfatter de fællesskabs-, internationale- og nationale certifkater og dokumenter og bevillinger som vedlægges angivelsen. Blandt andet, Vareførselsbestemmelser (VAB) </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/Tekst8Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst35Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst2Type.xsd"/>
         <xs:element name="FremlagtDokumentType" type="fase2.1:Tekst8Type">
               
               <xs:annotation>
                  <xs:documentation>Kode som skal specificere hvilke dokumenter og certifikater som er udfærdiget til varerne. FX N325 for en proformafaktura</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FremlagtDokumentReference" type="fase2.1:Tekst35Type">
               
               <xs:annotation>
                  <xs:documentation>Referencenummeret til de udfærdigere dokumenter, certifikater eller bevillinger. Eksempel: Proformafaktura nr. 950445/06</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FremlagtDokumentVareBestemmelseKode" type="fase2.1:Tekst2Type">
               
               <xs:annotation>
                  <xs:documentation>Kode der angiver hvilken varebestemmelse der skal iagttages i forbindelse med vareførslen.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
