projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/class/RisikoVurdering.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Også kaldet risikoanalyse.  En automatisk vurdering/analyse af de indsendte oplysninger på en Summarisk Indgangsangivelse. Resultatet udmyntes i en resultatkode for risikoen.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/Tekst5Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst350Type.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:include schemaLocation="../types/TalHel1Type.xsd"/>
         <xs:element name="RisikoVurderingResultatKode" type="fase2.1:Tekst5Type">
               
               <xs:annotation>
                  <xs:documentation>Kode for risikoanalysens (-vurderingens) udfald, fx A = No Load.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RisikoVurderingTekst" type="fase2.1:Tekst350Type">
               
               <xs:annotation>
                  <xs:documentation>Forklaring af analysens/vurderingens resultatkode.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RisikoVurderingAutomatiskDatoTid" type="fase2.1:DatoTidType">
               
            </xs:element>
         <xs:element name="RisikoVurderingManuelDatoTid" type="fase2.1:DatoTidType">
               
            </xs:element>
         <xs:element name="RisikoVurderingType" type="fase2.1:TalHel1Type">
               
               <xs:annotation>
                  <xs:documentation>Beskriver hvilken type risikovurdering der skal udføres.  1 - National 2 - S&amp;S  Flere kan komme på senere.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
