projects/DMO/DMO20180920/Fase2_1Graensesnit.r18034/package/class/OpkraevningSpecifikationLinje.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Udgør en simpel specifikationslinje i en opkrævning med tekst og beløb. Repræsenterer typisk en delfordring.  Nummer er ikke obligatorisk.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/TalHelType.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="OpkrævningSpecifikationLinjeNummer" type="fase2.1:TalHelType">
               
               <xs:annotation>
                  <xs:documentation>Brugervendt optionelt ID eller linjenummer. Bruges som hjælp til at identificere en linje.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpkrævningSpecifikationLinjeTekst" type="fase2.1:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Kort forklarende tekst på en specifikationslinje.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpkrævningSpecifikationLinjeBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Indhold i et beløbsfelt i en opkrævningspecifikationskabelon.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
