systems/SAPPS/Leverancer/SAPPS20161107/SAPPS_20161107.r15159/package/class/AngivelseFristKalender.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Angiver de angivelse- og betalingsfrister samt forfaldsdato, som gælder for et givet aftaleforhold for en given angivelsesperiode.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/UgeType.xsd"/>
         <xs:include schemaLocation="../types/KodeFireCifreStartEtType.xsd"/>
         <xs:element name="AngivelseFristKalenderGyldigTil" type="skat2016:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver sidste dag i den opgørelsesperiode, som en angivelser omfatter.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AngivelseFristKalenderFristDato" type="skat2016:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver sidste rettidige angivelsesdato, dvs. den dag en angivelse skal være modtaget, for at være rettidig for et givet aftaleforhold for en given angivelsesperiode.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AngivelseFristKalenderForfaldDato" type="skat2016:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver den dato, som der beregnes rente fra, hvis der ikke betales senest sidste rettidige betalingsdato.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AngivelseFristKalenderBetalingDato" type="skat2016:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver sidste rettidige betalingsdato, dvs. den dag en betaling skal være modtaget for at være rettidig for et givet aftaleforhold for en given angivelsesperiode.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AngivelseFristKalenderBetalingUge" type="skat2016:UgeType">
               
               <xs:annotation>
                  <xs:documentation>Angiver ugenummer for den uge, hvor sidste rettidige betalingsdato ligger.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AngivelseFristKalenderBetalingÅr"
                     type="skat2016:KodeFireCifreStartEtType">
               
               <xs:annotation>
                  <xs:documentation>Angiver årstal for sidste rettidige betalingsdato.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
