services/prod/eIndkomst18/view/AnsaettelseForholdPersonKontroller_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:schema="http://rep.oio.dk/oib/beskaeftigelse/xml.schema/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../class/SKAT_HovedOplysningerSvar.xsd"/>
	<xs:import namespace="http://rep.oio.dk/oib/beskaeftigelse/xml.schema/" schemaLocation="../class/MedarbejderAnsatIndikator_20080901.xsd"/>
	<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="https://eksternwiki.skat.dk/oioxml/cpr_dk/CPR_PersonCivilRegistrationIdentifier.xsd"/>
	<xs:include schemaLocation="../view/JuridiskIndkomstUdbetalerStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AfregnendeEnhedFaellesRegistreringStrukturType.xsd"/>
	<xs:element name="AnsaettelseForholdPersonKontroller_O" type="fase2:AnsaettelseForholdPersonKontroller_OType"/>
	<xs:complexType name="AnsaettelseForholdPersonKontroller_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<!--Sequence removed-->
			<xs:element name="AnsaettelseForholdKontrolUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnsaettelseForholdKontrol">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AnsatHosVirksomhed">
										<xs:complexType>
											<xs:choice>
												<xs:element ref="fase2:JuridiskIndkomstUdbetalerStruktur"/>
												<xs:element ref="fase2:AfregnendeEnhedFaellesRegistreringStruktur"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
									<xs:element name="AnsaettelseKontrolResultatSamling">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="AnsaettelseKontrolResultat" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="core:PersonCivilRegistrationIdentifier"/>
															<xs:element ref="schema:MedarbejderAnsatIndikator"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
