systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 SLS P/WSDL/package/view/PersonKontrolOplysningHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   
   <xs:include schemaLocation="../class/Person.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/PersonNavn.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/RapportOplysningIdentifikation.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/KontrolOplysningRapport.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../view/RapportOplysningAdresseStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/RapportOplysningGruppeStrukturType.xsd"/>
   
   
   
   <xs:element name="PersonKontrolOplysningHent_O">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:PersonKontrolOplysningHent_OType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2311"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="PersonKontrolOplysningHent_OType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
										
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               
            

         
               
            
         <xs:element name="KontrolOplysningPersonRapport" minOccurs="0">
            
                  
               
            <xs:complexType>
               
                     
                  
               <xs:sequence>
                  
                        
                     
                  <xs:element ref="fase2.1:PersonCPRNummer"/>
                  
                  
                  
                        
                     
                  <xs:element ref="fase2.1:PersonNavnNavn"/>


                  
                        
                     
                  <xs:element ref="fase2.1:RapportOplysningIdentifikationBoNavn" minOccurs="0"/>




                  
                        
                     
                  <xs:element ref="fase2.1:RapportOplysningAdresseStruktur" minOccurs="0"/>


                  
                        
                     
                  <xs:element ref="fase2.1:KontrolOplysningRapportIndkomstÅr"/>

                  
                        
                     
                  <xs:element name="RapportOplysningGruppeStrukturListe">
                     
                           
                        
                     <xs:complexType>
                        
                              
                           
                        <xs:sequence>

                           
                                 
                              
                           <xs:element ref="fase2.1:RapportOplysningGruppeStruktur" minOccurs="1" maxOccurs="unbounded"/>

                        
                              
                           
                        </xs:sequence>
                     
                           
                        
                     </xs:complexType>
                  
                        
                     
                  </xs:element>


               
                     
                  
               </xs:sequence>
            
                  
               
            </xs:complexType>
         
               
            
         </xs:element>
      
            
            
         
         
         
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
