systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 SLS P/WSDL/package/view/RapportOplysningGruppeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
            
      
   
   
   <xs:include schemaLocation="../class/RapportOplysningGruppe.xsd"/>
         
            
      
         
   
   
   
   <xs:include schemaLocation="../view/RapportOplysningSekvensStrukturType.xsd"/>
   
   
   
   <xs:element name="RapportOplysningGruppeStruktur" type="fase2.1:RapportOplysningGruppeStrukturType"/>
   
   
   
   <xs:complexType name="RapportOplysningGruppeStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
               
      
      
      
      <xs:sequence>


         
         
         
         <xs:element ref="fase2.1:RapportOplysningGruppeNavn" minOccurs="0"/>




         
         
         
         <xs:element ref="fase2.1:RapportOplysningGruppeNummer" minOccurs="0"/>



         
         
         
         <xs:element name="RapportOplysningSekvensListe">
            
            
            
            <xs:complexType>
               
               
               
               <xs:sequence>

                  
                  
                  
                  <xs:element ref="fase2.1:RapportOplysningSekvensStruktur" minOccurs="1" maxOccurs="unbounded"/>

               
               
               
               </xs:sequence>
            
            
            
            </xs:complexType>
         
         
         
         </xs:element>

               
      
      
      
      </xs:sequence>
            
         
         
         
         
         
         
         
      
   
   
   
   </xs:complexType>



</xs:schema>
