services/prod/eIndkomst6/view/IndberetningPligtigVirksomhedStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:virksomhed="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" schemaLocation="http://eksternwiki.skat.dk/oioxml/skat_dk/TSE/SKAT_SEnummerIdentifikator.xsd"/><xs:element name="IndberetningPligtigVirksomhedStruktur" type="fase2:IndberetningPligtigVirksomhedStrukturType"/>
	<xs:complexType name="IndberetningPligtigVirksomhedStrukturType">
		<xs:sequence>
			<xs:element name="IndberetningPligtigVirksomhed">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="virksomhed:SEnummerIdentifikator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
