services/demo/eIndkomst13/view/IndkomstOplysningSumAbonnentBestil_I_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:eindkomstws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eindkomst="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:ws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../class/SKAT_HovedOplysninger.xsd"/>
	<xs:include schemaLocation="../class/AbonnentStrukturType.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/" schemaLocation="../class/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/PersonIndkomstSumSoegeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VirksomhedIndkomstSumSoegeStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningSumAbonnentBestil_I_I" type="eindkomstws:IndkomstOplysningSumAbonnentBestil_I_IType"/>
	<xs:complexType name="IndkomstOplysningSumAbonnentBestil_I_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="IndkomstOplysningSumAbonnentBestilInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="eindkomst:AbonnentAdgangStruktur"/>
						<xs:element name="AbonnentSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Abonnent" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ws:AbonnentStruktur"/>
												<xs:element name="IndkomstSoegeValg">
													<xs:complexType>
														<xs:choice>
															<xs:sequence>
																<xs:element name="IndkomstPersonSumSamling">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="eindkomstws:PersonIndkomstSumSoegeStruktur" minOccurs="1" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:sequence>
																<xs:element name="IndberetningPligtigVirksomhedIndkomstSumSamling">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="eindkomstws:VirksomhedIndkomstSumSoegeStruktur" minOccurs="1" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:choice>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
