services/demo/eIndkomst13/view/IndkomstOplysningPersonSumStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:eindkomstws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:indkomstoplysningadgangreferencenummer="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" schemaLocation="../class/SKAT_IndkomstOplysningAdgangReferenceNummerIdentifikator.xsd"/>
	<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../class/CPR_PersonCivilRegistrationIdentifier.xsd"/>
	<xs:include schemaLocation="../view/IndberetningPligtigVirksomhedStrukturType.xsd"/>
	<xs:include schemaLocation="../view/LoenPeriodeOplysningSumStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningPersonSumStruktur" type="eindkomstws:IndkomstOplysningPersonSumStrukturType"/>
	<xs:complexType name="IndkomstOplysningPersonSumStrukturType">
		<xs:sequence>
			<xs:element ref="core:PersonCivilRegistrationIdentifier"/>
			<xs:element ref="indkomstoplysningadgangreferencenummer:IndkomstOplysningAdgangReferenceNummerIdentifikator" minOccurs="0"/>
			<xs:element name="IndkomstOplysningSumSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IndberetningPligtigVirksomhed" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="eindkomstws:IndberetningPligtigVirksomhedStruktur"/>
									<xs:element name="IndkomstLoenPeriodeSamling">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="eindkomstws:LoenPeriodeOplysningSumStruktur" minOccurs="1" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
