systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/class/ForsikringSelskab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>For at kunne registrere en gyldig forsikring i forbindelse med registreringen eller forsikringsselskabsskifte, så er det en væsentlig del af systemet, at der er en liste med de selskaber, som er godkendt til udstedelse af køretøjers ansvarsforsikringer i Danmark. Forsikringsselskabet kan enten være digitalt opkoblet via anmodningen eller på forhånd kræve et forsikringsbevisnummer (som køretøjets ejer/bruger så skal skaffe på forhånd). Hvorvidt de mere forsikringsspecifikke kommunikationer (tilgange, afgange m.v.) tilgår forsikringsselskabet elektronisk eller via en brugergrænseflade styres af oplysninger inde i IP'ens service kataloger m.v. Udenlandske forsikringsselskaber (f.eks. til grænseplader m.v.) kan oprettes af brugerne, blot der er tale om en markering af forsikringsselskabet som midlertidigt (det kan ikke vælges under en almindelig registrering).</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/TalHelType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/Tekst30Type.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/BolskType.xsd"/>
      
      
   
   
   <xs:element name="ForsikringSelskabNummer" type="fase2.1:TalHelType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Forsikring selskabets nummer.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="ForsikringSelskabNavn" type="fase2.1:Tekst30Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Navnet på forsikring selskab.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="ForsikringSelskabErMidlertidig" type="fase2.1:BolskType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Hvis dette flag er sat, så skal forsikringsselskabet opfattes som midlertidigt i forhold til en simpel anvendelse til f.eks. grænseplader. Selskabet må ikke kunne vælges i forhold til en almindelig registrering.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="ForsikringSelskabKodeNummer" type="fase2.1:TalHelType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Identifikation for forsikring selskab. De første 3 cifre identificerer selskabet og efterfølgende forsikring bevisnummer.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
