systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/class/KoeretoejArt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Et køretøjs art. Indholdet af begrebet er defineret til:  Køretøj art, der er markeret med (x), skal altid have ansvarsforsikring.  01 - Personbil (x) 02 - Stor personbil (x) 03 - Varebil (x) 04 - Lastbil (x) 05 - Påhængsvogn 06 - Sættevogn  07 - Motorcykel (x) 08 - Traktor (x) 09 - Traktorpåhængsvogn 10 - Campingvogn 11 - Påhængsredskab 12 - Motorredskab (x) 16 - Stor knallert (x) 17 - Lille knallert (x) 91 - Motordrevet blokvogn (x) 92 - Bloksættevogn 93 - Blokpåhængsvogn 94 - Blokvognsdolly 95 - Blokvognsmodul</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/TalHelType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/BolskType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstLangType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
      
      
   
   
   <xs:include schemaLocation="../types/ForretningParameterVaerdiStatusType.xsd"/>
      
   
   
   <xs:element name="KøretøjArtNummer" type="fase2.1:TalHelType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjArtNavn" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En mindre tekst - typisk et eller få ord - som unikt giver mulighed for identifikationen af et givet begreb.  I nogle sammenhænge er det også brugt til mindre forklaringer (sætningsniveau)</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjArtKræverForsikring" type="fase2.1:BolskType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Nogle køretøjsarter kræver per automatik en forsikring (ansvar), andre køretøjsarter kræver ikke en forsikring (ansvar). F.eks. kræver en almindelig personbil en ansvarsforsikring, men en påhængsvogn (f.eks. trailer eller campingvogn) kræver lovmæssigt ikke en forsikring, da denne er ansvarsforsikret af det trækkende foranstillede køretøj. Attributten fortæller dermed, hvorvidt der i en registreringsproces er tvunget et valg af forsikringsselskab.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjArtBeskrivelse" type="fase2.1:TekstLangType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjArtGyldigFra" type="fase2.1:DatoType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjArtGyldigTil" type="fase2.1:DatoType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjArtStatus" type="fase2.1:ForretningParameterVærdiStatusType">
      
   
   
   </xs:element>



</xs:schema>
