systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/class/KoeretoejAnvendelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Et køretøjets anvendelse. Følgende anvendelser er identificeret: 1 - Privat personkørsel 20 - Godstransport 21- Taxikørsel 22 - Sygetransport 23 - Ambulancekørsel 25 - Rutekørsel 26 - Rustvognskørsel 27 - Mandskabs-/Materielkørsel 28 - Brandsluknings-/redningskørsel 29 - Privat buskørsel 30 - Buskørsel 31 - Trækkraft for sættevogn 32 - Særlig anvendelse 33 - Skov-, landbrug- og gartnerikørsel 34 - Beboelse 35 - Arbejdskørsel 38 - Godstransport (½ OMS.) 40 - Godstransport erhverv 41 - Godstransport privat/erhverv 42 - Godstransport privat 43 - Kun godkendt til skov-, landbrug og gartneri </xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/TalHelType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstLangType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
      
      
   
   
   <xs:include schemaLocation="../types/ForretningParameterVaerdiStatusType.xsd"/>
      
   
   
   <xs:element name="KøretøjAnvendelseNummer" type="fase2.1:TalHelType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjAnvendelseNavn" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En mindre tekst - typisk et eller få ord - som unikt giver mulighed for identifikationen af et givet begreb.  I nogle sammenhænge er det også brugt til mindre forklaringer (sætningsniveau)</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjAnvendelseBeskrivelse" type="fase2.1:TekstLangType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjAnvendelseGyldigFra" type="fase2.1:DatoType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjAnvendelseGyldigTil" type="fase2.1:DatoType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="KøretøjAnvendelseStatus" type="fase2.1:ForretningParameterVærdiStatusType">
      
   
   
   </xs:element>



</xs:schema>
