systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/class/PeriodiskAfgiftOpkraev.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:include schemaLocation="../types/BeloebType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/PeriodeHyppighedType.xsd"/>
      
   
   
   <xs:element name="PeriodiskAfgiftOpkrævBeløb" type="fase2.1:BeløbType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Samlet beløb der skal opkræves som periodiskafgift. </xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="PeriodiskAfgiftOpkrævGruppeNavn" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Navnet på periodiskafgift gruppen som skal opkræves. </xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="PeriodiskAfgiftOpkrævPeriodeHyppighed" type="fase2.1:PeriodeHyppighedType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En angivelse af hyppigheden for opkrævningen (f.eks. 12mdr, 9 mdr, 18 mdr, 6 mdr, 4 mdr, 3 mdr, 1mdr) osv.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
