systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/class/PladeType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>En pladetype beskriver den fysiske plade i form af farve, dimension (højde, brede) og materiale. Den er adskilt fra selve indholdet på pladen;  men den giver mulighed for at definere en eller flere rækker tekst. Flere rækker tekst er eksempelvis relevante i forhold til plader til motorcykler.</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/TalHelType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/BolskType.xsd"/>
      
      
   
   
   <xs:element name="PladeTypeNummer" type="fase2.1:TalHelType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Et nummer, som unikt beskrive den enkelte værdi for en given periode.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="PladeTypeNavn" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En mindre tekst - typisk et eller få ord - som unikt giver mulighed for identifikationen af et givet begreb.  I nogle sammenhænge er det også brugt til mindre forklaringer (sætningsniveau)</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="PladeTypeEUPlade" type="fase2.1:BolskType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Her angives om nummerpladen har EU mærke. Hvis dette er sandt har nummerpladen et EU mærke.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="PladeTypeViserÅrstal" type="fase2.1:BolskType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En angivelse af at årstalet vises på den fysiske plade. F. eks. grænseplader.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
