systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/class/UdenlandskPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Klasse som indeholder udenlandske personer.</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/UdenlandskPersonNummerType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstLangType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/KoenType.xsd"/>
      
   
   
   <xs:element name="UdenlandskPersonNummer" type="fase2.1:UdenlandskPersonNummerType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Nummer der entydigt identificerer de for SKATs relevante udenlandske personer, der ikke er registreret ved et dansk CPR-nummer.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="UdenlandskPersonFødselDato" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="UdenlandskPersonÅrsag" type="fase2.1:TekstLangType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Årsagen til at en Kunde er blevet oprettet eller afsluttet</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="UdenlandskPersonKøn" type="fase2.1:KønType">
      
   
   
   </xs:element>



</xs:schema>
