systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 SLS P/WSDL/package/class/Myndighed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Indeholder informationer om en given myndighed. I dette tilfælde fungerer myndighed i rollen som myndighed for en given kunde - og ikke som juridisk enhed.   En myndighed kan for SKAT fx være af typen kommune, skattecenter, politikreds, retskreds mv.   </xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/MyndighedNummerType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/NavnType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/KodeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
      
      
   
   
   <xs:include schemaLocation="../types/Tekst300Type.xsd"/>
      
   
   
   <xs:element name="MyndighedNummer" type="fase2.1:MyndighedNummerType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Nummer der entydigt identificerer de for SKAT relevante myndigheder. Nummeret er 4-ciftret og tildeles af Indenrigsministeriet.   Eksempel: Københavns Kommune har nummeret 0101.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="MyndighedNavn" type="fase2.1:NavnType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Navnet på myndigheden fx Skatteministeriet</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="MyndighedType" type="fase2.1:KodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Typekoden for myndigheder.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="MyndighedGyldigFra" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="MyndighedGyldigTil" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="MyndighedÅbningstid" type="fase2.1:Tekst300Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Tekstangivelse af myndighedens åbningstid. Bruges til breve/meddelelser. Fx Mandag - fredag 10:00 - 14:00</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
