systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 SLS P/WSDL/package/class/RapportOplysningMarkering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Markering af regler, processer eller roller som er relevant for forståelsen af sekvensen af kontroloplysninger. Kvalifikatoren kan i sig selv udgøre et flag, men markeringens kode og tekst kan indeholde supplerende oplysninger. Mulige koder er afhængige af kvalifikatoren og dokumenteres særskilt. Fx R75-kvalifikator BNT angiver benyttelse for en ejendom, kode kan da være 01 (=beboelse), tekst er Beboelse. </xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/KodeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
      
      
   
   
   <xs:element name="RapportOplysningMarkeringKvalifikator" type="fase2.1:KodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En kode som beskriver betydningen af et markeringsfelt.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningMarkeringKvalifikatorTekst" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Beskrivelse af tilhørende kvalifikatorkode</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningMarkeringTekst" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En læselig repræsentation af den tilsvarende markeringskode.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningMarkeringKode" type="fase2.1:KodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En kode som repræsenterer værdien af et markeringsfelt fx en paragraf.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
