systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 SLS P/WSDL/package/class/RapportOplysningPeriode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Angivelse af en dato eller periode af dage eller år.</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/KodeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/AarType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/KodeEtCifferStartEtType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/MaanedType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
      
      
      
      
      
   
   
   <xs:element name="RapportOplysningPeriodeKvalifikator" type="fase2.1:KodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Beskriver perioden eller datoen.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningPeriodeKvalifikatorTekst" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Beskrivelse af tilhørende kvalifikatorkode</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningPeriodeÅr" type="fase2.1:AarType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En periode eller tidsangivelse i form af et specifikt år.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningPeriodeKvartal" type="fase2.1:KodeEtCifferStartEtType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Periode angivet som kvartal.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningPeriodeMåned" type="fase2.1:MånedType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Periode angivet som en specifik måned.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningPeriodeDato" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Datoværdien hvor feltet repræsenterer en enkelt dag.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningPeriodeStartÅr" type="fase2.1:AarType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Et årstal som indleder en årrække.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningPeriodeSlutÅr" type="fase2.1:AarType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Et årstal som afslutter en årrække.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningPeriodeStartDato" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En startdato for en periodeoplysning.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningPeriodeSlutDato" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En periodes startdato.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
