systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 SLS P/WSDL/package/class/RapportOplysningIdentifikation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Identifikation af en person, myndighed eller virksomhed i en rapport.  Kvalifikatoren angiver rollen.</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/KodeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/NavnType.xsd"/>
      
      
   
   
   <xs:element name="RapportOplysningIdentifikationKvalifikator" type="fase2.1:KodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Kode der beskriver indholdet i et sæt identifikationsoplysninger. Typisk beskrives rollen for den identificerede person, virksomhed eller myndighed. </xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningIdentifikationKvalifikatorTekst" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Beskrivelse af tilsvarende kvalifikatorkode</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningIdentifikationNavn" type="fase2.1:NavnType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Navn på en virksomhed, person eller institution.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="RapportOplysningIdentifikationBoNavn" type="fase2.1:NavnType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Navnet på boet efter en afdød person.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
