services/prod/eIndkomst7/view/IndkomstOplysningVirksomhedAbonnentBestil_O_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:eindkomst="urn:oio:skat:eindkomst:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://eksternwiki.skat.dk/oioxml/hovedoplysninger/SKAT_HovedOplysningerSvar.xsd"/>
	<xs:import namespace="urn:oio:skat:eindkomst:1.0.0" schemaLocation="../class/urn/oio/skat/eindkomst/1_0_0/NySoegeDatoTidFraDatoTid.xsd"/>
	<xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VirksomhedIndkomstOplysningStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningVirksomhedAbonnentBestil_O_O" type="fase2:IndkomstOplysningVirksomhedAbonnentBestil_O_OType"/>
	<xs:complexType name="IndkomstOplysningVirksomhedAbonnentBestil_O_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<!--Sequence removed-->
			<xs:element name="IndkomstOplysningVirksomhedAbonnentBestil_OUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element name="AbonnentUddataSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AbonnentUddata" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:AbonnentStruktur"/>
												<xs:element ref="eindkomst:NySoegeDatoTidFraDatoTid" minOccurs="0"/>
												<xs:element name="VirksomhedIndkomstOplysningSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:VirksomhedIndkomstOplysningStruktur"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
