services/review/EFIOIO_20141003/urn/oio/skat/efi/ws/1_0_1/NedskrivFordringKvitteringStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/InddrivelseReduceretBeloeb.xsd"/><xs:include schemaLocation="FordringRestBeloebStruktur.xsd"/>
	<xs:include schemaLocation="HaeftelseRestBeloebStruktur.xsd"/>
	<xs:include schemaLocation="NedskrivningBeloebStruktur.xsd"/>
	<xs:element name="NedskrivFordringKvitteringStruktur" type="efiws:NedskrivFordringKvitteringStrukturType"/>
	<xs:complexType name="NedskrivFordringKvitteringStrukturType">
		<xs:sequence>
			<xs:element name="RestBeloeb">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="efiws:FordringRestBeloebStruktur"/>
						<xs:element ref="efiws:HaeftelseRestBeloebStruktur"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="efi:InddrivelseReduceretBeloeb"/>
			<xs:element ref="efiws:NedskrivningBeloebStruktur"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
