services/review/EFIOIO_20141003/urn/oio/skat/efi/ws/1_0_1/OpretAendrKvitteringStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="KundeStruktur.xsd"/>
	<xs:include schemaLocation="AlternativKontaktReferenceStruktur.xsd"/>
	<xs:element name="OpretAendrKvitteringStruktur" type="efiws:OpretAendrKvitteringStrukturType"/>
	<xs:complexType name="OpretAendrKvitteringStrukturType">
		<xs:sequence>
			<xs:element name="KundeSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KundeInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="efiws:KundeStruktur"/>
									<xs:element ref="efiws:AlternativKontaktReferenceStruktur" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
