projects/DMO/Arkiv/DMO20101025/WSDLer og Servicebeskrivelser/Udbetalingstjek/Udbetalingstjek - Services.r3106/package/wsdl/PALKundeUdestaaendeKontrol.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="PALKundeUdeståendeKontrolService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At verificere om PAL har udeståender på den angivne kunde.    Udeståender kan være: - En angivelsesfrist som er overskredet. - En fordring som forfalder til betaling (SRB) indenfor x dage fra dags dato, hvor x er et specifikt angivet antal dage. </xs:documentation>
            <xs:documentation>r3106</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/PALKundeUdestaaendeKontrolInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="PALKundeUdeståendeKontrolServiceRequest">
            <wsdl:part name="Request" element="fase2.1:PALKundeUdeståendeKontrol_I"/>
         </wsdl:message>
         <wsdl:message name="PALKundeUdeståendeKontrolServiceResponse">
            <wsdl:part name="Response" element="fase2.1:PALKundeUdeståendeKontrol_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="PALKundeUdeståendeKontrolServicePortType">
            <wsdl:operation name="getPALKundeUdeståendeKontrol">
               <wsdl:input message="fase2.1:PALKundeUdeståendeKontrolServiceRequest"/>
               <wsdl:output message="fase2.1:PALKundeUdeståendeKontrolServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
