projects/DMO/Arkiv/DMO20101025/WSDLer og Servicebeskrivelser/Udbetalingstjek/Udbetalingstjek - Services.r3106/package/wsdl/SAP38KundeUdestaaendeKontrol.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="SAP38KundeUdeståendeKontrolService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At verificere om SAP38 har udeståender på den angivne kunde.    Udeståender kan være: - En angivelsesfrist som er overskredet. - En fordring som forfalder til betaling (SRB) indenfor x dage fra dags dato, hvor x er et specifikt angivet antal dage. </xs:documentation>
            <xs:documentation>r3106</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/SAP38KundeUdestaaendeKontrolInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="SAP38KundeUdeståendeKontrolServiceRequest">
            <wsdl:part name="Request" element="fase2.1:SAP38KundeUdeståendeKontrol_I"/>
         </wsdl:message>
         <wsdl:message name="SAP38KundeUdeståendeKontrolServiceResponse">
            <wsdl:part name="Response" element="fase2.1:SAP38KundeUdeståendeKontrol_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="SAP38KundeUdeståendeKontrolServicePortType">
            <wsdl:operation name="getSAP38KundeUdeståendeKontrol">
               <wsdl:input message="fase2.1:SAP38KundeUdeståendeKontrolServiceRequest"/>
               <wsdl:output message="fase2.1:SAP38KundeUdeståendeKontrolServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
