services/prod/eIndkomst10/view/IndkomstOplysningPersonHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://eksternwiki.skat.dk/oioxml/hovedoplysninger/SKAT_HovedOplysninger.xsd"/>
	<xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/PersonIndkomstSoegeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VirksomhedIndkomstSoegeStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningPersonHent_I" type="fase2:IndkomstOplysningPersonHent_IType"/>
	<xs:complexType name="IndkomstOplysningPersonHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<!--Sequence removed-->
			<!--Sequence removed-->
			<xs:element name="IndkomstOplysningPersonInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element ref="fase2:AbonnentStruktur"/>
						<xs:element name="IndkomstOplysningValg">
							<xs:complexType>
								<xs:choice>
									<xs:sequence>
										<xs:element name="IndkomstPersonSamling">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="fase2:PersonIndkomstSøgeStruktur" minOccurs="1" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:sequence>
										<xs:element name="IndkomstForVirksomhedSamling">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="fase2:VirksomhedIndkomstSøgeStruktur" minOccurs="1" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
