systems/ES/- Arkiv/Fase 2 - Leverancer/20100826/VirksomhedStamOplysningSamlingHent/view/VirksomhedStamOplysningSamlingHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2008/01/01/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2="http://skat.dk/begrebsmodel/2008/01/01/">
   
   
   <xs:annotation>
      
      
      <xs:documentation/>
   
   
   </xs:annotation>
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         
            
      
   
   <xs:include schemaLocation="../class/DriftFormForhold.xsd"/>
         
            
      
   
   <xs:include schemaLocation="../class/BeskatningParagrafForhold.xsd"/>
         
   
   
   <xs:element name="VirksomhedStamOplysningSamlingHent_I" type="fase2:VirksomhedStamOplysningSamlingHent_IType"/>
   
   
   <xs:complexType name="VirksomhedStamOplysningSamlingHent_IType">
					
      
      <xs:sequence>
							
         
         <xs:element ref="fase2:Kontekst"/>
							
         
         <xs:sequence>
									
         
         
         
         
         
         
         
            
            
            
            
               
            
            <xs:sequence>

         
               
               <xs:element name="VirksomhedStamOplysningSamling">
            
                  
                  <xs:complexType>
               
                     
                     <xs:sequence>


                  
                        
                        <xs:element name="VirksomhedStamOplysning" minOccurs="1" maxOccurs="unbounded">
                     
                           
                           <xs:complexType>
                        
                              
                              <xs:sequence>
                           
                                 
                                 <xs:element ref="fase2:VirksomhedSENummer"/>


                           
                                 
                                 <xs:element ref="fase2:DriftFormForholdStartDato" minOccurs="0"/>




                           
                                 
                                 <xs:element ref="fase2:BeskatningParagrafForholdStartDato" minOccurs="0"/>



                        
                              
                              </xs:sequence>
                     
                           
                           </xs:complexType>
                  
                        
                        </xs:element>

               
                     
                     </xs:sequence>
            
                  
                  </xs:complexType>
         
               
               </xs:element>

               
      
            
            </xs:sequence>
            
         
         
         
         
         
         
         
      
							
         
         </xs:sequence>
									
						
      
      </xs:sequence>
								
   
   </xs:complexType>


</xs:schema>
