systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 ES/WSDL/package/view/AngivelseFrekvensForholdSamlingHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   
   <xs:include schemaLocation="../class/Pligt.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/ForretningOmraadeType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/OplysningVirksomhedType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/OplysningType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/BevillingType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/AcontoType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/KreditBegraensningType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/AngivelseFrekvensType.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../operational/AngivelseFrekvensForholdHentFra.xsd"/>
            
      
   
   
   <xs:include schemaLocation="../class/AngivelseFrekvensForhold.xsd"/>
         
            
      
         
            
      
   
   
   <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
   
            
      
         
            
      
         
            
      
         
   
            
      
         
            
      
         
   
   
   
   <xs:element name="AngivelseFrekvensForholdSamlingHent_I">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:AngivelseFrekvensForholdSamlingHent_IType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2311"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="AngivelseFrekvensForholdSamlingHent_IType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
									
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               
            
            <!--Sequence removed-->

         
               
               
         <xs:element name="InddataValg">
            
                  
                  
            <xs:complexType>
               
                     
                     
               <xs:choice>
                  
                        
                        
                  <xs:sequence>

                     
                           
                           
                     <xs:element name="HvilkeVirksomhederHarAftaleSamling">
                        
                              
                              
                        <xs:complexType>
                           
                                 
                                 
                           <xs:sequence>


                              
                                    
                                    
                              <xs:element name="HvilkeVirksomhederHarAftale" minOccurs="1" maxOccurs="unbounded">
                                 
                                       
                                       
                                 <xs:complexType>
                                    
                                          
                                          
                                    <xs:sequence>
                                       
                                             
                                             
                                       <xs:element ref="fase2.1:PligtKode"/>


                                       
                                             
                                             
                                       <xs:element ref="fase2.1:ForretningOmrådeTypeKode" minOccurs="0"/>




                                       
                                             
                                             
                                       <xs:element ref="fase2.1:OplysningVirksomhedTypeKode" minOccurs="0"/>




                                       
                                             
                                             
                                       <xs:element ref="fase2.1:OplysningTypeKode" minOccurs="0"/>




                                       
                                             
                                             
                                       <xs:element ref="fase2.1:BevillingTypeKode" minOccurs="0"/>




                                       
                                             
                                             
                                       <xs:element ref="fase2.1:AcontoTypeKode" minOccurs="0"/>




                                       
                                             
                                             
                                       <xs:element ref="fase2.1:KreditBegrænsningTypeKode" minOccurs="0"/>


                                       
                                             
                                             
                                       <xs:element ref="fase2.1:AngivelseFrekvensTypeKode"/>

                                       
                                             
                                             <!--Sequence removed-->


                                          
                                                
                                                
                                       <xs:element name="SøgePeriodeValg" minOccurs="0">
                                             
                                                   
                                                   
                                          <xs:complexType>
                                                
                                                      
                                                      
                                             <xs:choice>
                                                   
                                                         
                                                         
                                                <xs:element ref="fase2.1:AngivelseFrekvensForholdHentFra"/>
				
				
                                                   
                                                         
                                                         
                                                <xs:sequence>
				

                                                      
                                                            
                                                            
                                                   <xs:element name="SøgningPåGyldighed">
                                                         
                                                               
                                                               
                                                      <xs:complexType>
                                                            
                                                                  
                                                                  
                                                         <xs:sequence>
                                                               
                                                                     
                                                                     
                                                            <xs:element ref="fase2.1:AngivelseFrekvensForholdGyldigFra"/>


                                                               
                                                                     
                                                                     
                                                            <xs:element ref="fase2.1:AngivelseFrekvensForholdGyldigTil" minOccurs="0"/>



                                                            
                                                                  
                                                                  
                                                         </xs:sequence>
                                                         
                                                               
                                                               
                                                      </xs:complexType>
                                                      
                                                            
                                                            
                                                   </xs:element>

                                                   
                                                         
                                                         
                                                </xs:sequence>
                                                
                                                      
                                                      
                                             </xs:choice>
                                             
                                                   
                                                   
                                          </xs:complexType>
                                          
                                                
                                                
                                       </xs:element>

                                       
                                             
                                             


                                    
                                          
                                          
                                    </xs:sequence>
                                 
                                       
                                       
                                 </xs:complexType>
                              
                                    
                                    
                              </xs:element>

                           
                                 
                                 
                           </xs:sequence>
                        
                              
                              
                        </xs:complexType>
                     
                           
                           
                     </xs:element>

				
				
                  
                        
                        
                  </xs:sequence>
                  
                        
                        
                  <xs:sequence>
				

                     
                           
                           
                     <xs:element name="HarVirksomhedAftaleSamling">
                        
                              
                              
                        <xs:complexType>
                           
                                 
                                 
                           <xs:sequence>


                              
                                    
                                    
                              <xs:element name="HarVirksomhedAftale" minOccurs="1" maxOccurs="unbounded">
                                 
                                       
                                       
                                 <xs:complexType>
                                    
                                          
                                          
                                    <xs:sequence>
                                       
                                             
                                             
                                       <xs:element ref="fase2.1:VirksomhedSENummer"/>

                                       
                                             
                                             
                                       <xs:element name="AftaleValgSamling">
                                          
                                                
                                                
                                          <xs:complexType>
                                             
                                                   
                                                   
                                             <xs:sequence>


                                                
                                                      
                                                      
                                                <xs:element name="AftaleValg" minOccurs="1" maxOccurs="unbounded">
                                                   
                                                         
                                                         
                                                   <xs:complexType>
                                                      
                                                            
                                                            
                                                      <xs:sequence>
                                                         
                                                               
                                                               
                                                         <xs:element ref="fase2.1:PligtKode"/>


                                                         
                                                               
                                                               
                                                         <xs:element ref="fase2.1:ForretningOmrådeTypeKode" minOccurs="0"/>




                                                         
                                                               
                                                               
                                                         <xs:element ref="fase2.1:OplysningVirksomhedTypeKode" minOccurs="0"/>




                                                         
                                                               
                                                               
                                                         <xs:element ref="fase2.1:OplysningTypeKode" minOccurs="0"/>




                                                         
                                                               
                                                               
                                                         <xs:element ref="fase2.1:BevillingTypeKode" minOccurs="0"/>




                                                         
                                                               
                                                               
                                                         <xs:element ref="fase2.1:AcontoTypeKode" minOccurs="0"/>




                                                         
                                                               
                                                               
                                                         <xs:element ref="fase2.1:KreditBegrænsningTypeKode" minOccurs="0"/>


                                                         
                                                               
                                                               
                                                         <xs:element ref="fase2.1:AngivelseFrekvensTypeKode"/>

                                                         
                                                               
                                                               <!--Sequence removed-->


                                                            
                                                                  
                                                                  
                                                         <xs:element name="SøgePeriodeValg" minOccurs="0">
                                                               
                                                                     
                                                                     
                                                            <xs:complexType>
                                                                  
                                                                        
                                                                        
                                                               <xs:choice>
                                                                     
                                                                           
                                                                           
                                                                  <xs:element ref="fase2.1:AngivelseFrekvensForholdHentFra"/>
				
				
                                                                     
                                                                           
                                                                           
                                                                  <xs:sequence>
				

                                                                        
                                                                              
                                                                              
                                                                     <xs:element name="SøgningPåGyldighed">
                                                                           
                                                                                 
                                                                                 
                                                                        <xs:complexType>
                                                                              
                                                                                    
                                                                                    
                                                                           <xs:sequence>
                                                                                 
                                                                                       
                                                                                       
                                                                              <xs:element ref="fase2.1:AngivelseFrekvensForholdGyldigFra"/>


                                                                                 
                                                                                       
                                                                                       
                                                                              <xs:element ref="fase2.1:AngivelseFrekvensForholdGyldigTil" minOccurs="0"/>



                                                                              
                                                                                    
                                                                                    
                                                                           </xs:sequence>
                                                                           
                                                                                 
                                                                                 
                                                                        </xs:complexType>
                                                                        
                                                                              
                                                                              
                                                                     </xs:element>

                                                                     
                                                                           
                                                                           
                                                                  </xs:sequence>
                                                                  
                                                                        
                                                                        
                                                               </xs:choice>
                                                               
                                                                     
                                                                     
                                                            </xs:complexType>
                                                            
                                                                  
                                                                  
                                                         </xs:element>

                                                         
                                                               
                                                               


                                                      
                                                            
                                                            
                                                      </xs:sequence>
                                                   
                                                         
                                                         
                                                   </xs:complexType>
                                                
                                                      
                                                      
                                                </xs:element>

                                             
                                                   
                                                   
                                             </xs:sequence>
                                          
                                                
                                                
                                          </xs:complexType>
                                       
                                             
                                             
                                       </xs:element>


                                    
                                          
                                          
                                    </xs:sequence>
                                 
                                       
                                       
                                 </xs:complexType>
                              
                                    
                                    
                              </xs:element>

                           
                                 
                                 
                           </xs:sequence>
                        
                              
                              
                        </xs:complexType>
                     
                           
                           
                     </xs:element>

				
				
                  
                        
                        
                  </xs:sequence>
                  
                        
                        
                  <xs:sequence>
				

                     
                           
                           
                     <xs:element name="HvilkeAftalerHarVirksomhedSamling">
                        
                              
                              
                        <xs:complexType>
                           
                                 
                                 
                           <xs:sequence>


                              
                                    
                                    
                              <xs:element name="HvilkeAftalerHarVirksomhed" minOccurs="1" maxOccurs="unbounded">
                                 
                                       
                                       
                                 <xs:complexType>
                                    
                                          
                                          
                                    <xs:sequence>
                                       
                                             
                                             
                                       <xs:element ref="fase2.1:VirksomhedSENummer"/>

                                       
                                             
                                             <!--Sequence removed-->


                                          
                                                
                                                
                                       <xs:element name="SøgePeriodeValg" minOccurs="0">
                                             
                                                   
                                                   
                                          <xs:complexType>
                                                
                                                      
                                                      
                                             <xs:choice>
                                                   
                                                         
                                                         
                                                <xs:element ref="fase2.1:AngivelseFrekvensForholdHentFra"/>
				
				
                                                   
                                                         
                                                         
                                                <xs:sequence>
				

                                                      
                                                            
                                                            
                                                   <xs:element name="SøgningPåGyldighed">
                                                         
                                                               
                                                               
                                                      <xs:complexType>
                                                            
                                                                  
                                                                  
                                                         <xs:sequence>
                                                               
                                                                     
                                                                     
                                                            <xs:element ref="fase2.1:AngivelseFrekvensForholdGyldigFra"/>


                                                               
                                                                     
                                                                     
                                                            <xs:element ref="fase2.1:AngivelseFrekvensForholdGyldigTil" minOccurs="0"/>



                                                            
                                                                  
                                                                  
                                                         </xs:sequence>
                                                         
                                                               
                                                               
                                                      </xs:complexType>
                                                      
                                                            
                                                            
                                                   </xs:element>

                                                   
                                                         
                                                         
                                                </xs:sequence>
                                                
                                                      
                                                      
                                             </xs:choice>
                                             
                                                   
                                                   
                                          </xs:complexType>
                                          
                                                
                                                
                                       </xs:element>

                                       
                                             
                                             


                                    
                                          
                                          
                                    </xs:sequence>
                                 
                                       
                                       
                                 </xs:complexType>
                              
                                    
                                    
                              </xs:element>

                           
                                 
                                 
                           </xs:sequence>
                        
                              
                              
                        </xs:complexType>
                     
                           
                           
                     </xs:element>


                  
                        
                        
                  </xs:sequence>
               
                     
                     
               </xs:choice>
            
                  
                  
            </xs:complexType>
         
               
               
         </xs:element>
      
            
            
            
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
