systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 ES/WSDL/package/view/EjerVirksomhedRelationHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   
   <xs:include schemaLocation="../class/Person.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/UdenlandskPerson.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/UdenlandskVirksomhed.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../operational/SoegeDatoFra.xsd"/>
   
   
   
   <xs:include schemaLocation="../operational/SoegeDatoTil.xsd"/>
            
      
   
   
   <xs:include schemaLocation="../class/DriftForm.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/EjerRolleType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/EjerType.xsd"/>
         
   
   
   
   <xs:element name="EjerVirksomhedRelationHent_I">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:EjerVirksomhedRelationHent_IType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2311"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="EjerVirksomhedRelationHent_IType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
									
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
               
            
            <!--Sequence removed-->

         
               
               
         <xs:element name="VirksomhedEjerSøgSamling">
            
                  
                  
            <xs:complexType>
               
                     
                     
               <xs:sequence>


                  
                        
                        
                  <xs:element name="VirksomhedEjerSøg" minOccurs="1" maxOccurs="unbounded">
                     
                           
                           
                     <xs:complexType>
                        
                              
                              
                        <xs:sequence>

                           
                                 
                                 
                           <xs:element name="VirksomhedEjerValg">
                              
                                    
                                    
                              <xs:complexType>
                                 
                                       
                                       
                                 <xs:choice>
                                    
                                          
                                          
                                    <xs:element ref="fase2.1:PersonCPRNummer"/>
				
				
				
                                    
                                          
                                          
                                    <xs:element ref="fase2.1:VirksomhedSENummer"/>
				
				
				
                                    
                                          
                                          
                                    <xs:element ref="fase2.1:UdenlandskPersonNummer"/>
				
				
				
                                    
                                          
                                          
                                    <xs:element ref="fase2.1:UdenlandskVirksomhedNummer"/>

                                 
                                       
                                       
                                 </xs:choice>
                              
                                    
                                    
                              </xs:complexType>
                           
                                 
                                 
                           </xs:element>

                           
                                 
                                 <!--Sequence removed-->


                              
                                    
                                    
                           <xs:element name="SøgePeriode" minOccurs="0">
                                 
                                       
                                       
                              <xs:complexType>
                                    
                                          
                                          
                                 <xs:sequence>
                                       
                                             
                                             
                                    <xs:element ref="fase2.1:SøgeDatoFra"/>


                                       
                                             
                                             
                                    <xs:element ref="fase2.1:SøgeDatoTil" minOccurs="0"/>



                                    
                                          
                                          
                                 </xs:sequence>
                                 
                                       
                                       
                              </xs:complexType>
                              
                                    
                                    
                           </xs:element>

                           
                                 
                                 


                           
                                 
                                 
                           <xs:element name="DriftFormEjerValg">
                              
                                    
                                    
                              <xs:complexType>
                                 
                                       
                                       
                                 <xs:sequence>


                                    
                                          
                                          
                                    <xs:element name="DriftFormEjer" minOccurs="0" maxOccurs="unbounded">
                                       
                                             
                                             
                                       <xs:complexType>
                                          
                                                
                                                
                                          <xs:sequence>
                                             
                                                   
                                                   
                                             <xs:element ref="fase2.1:DriftFormKode"/>

                                             
                                                   
                                                   <!--Sequence removed-->


                                                
                                                      
                                                      
                                             <xs:element name="EjerTypeValg" minOccurs="0">
                                                   
                                                         
                                                         
                                                <xs:complexType>
                                                      
                                                            
                                                            
                                                   <xs:sequence>
                                                         
                                                               
                                                               
                                                      <xs:element ref="fase2.1:EjerRolleTypeKode"/>
                  
                  
                                                         
                                                               
                                                               
                                                      <xs:element ref="fase2.1:EjerTypeKode"/>

                                                      
                                                            
                                                            
                                                   </xs:sequence>
                                                   
                                                         
                                                         
                                                </xs:complexType>
                                                
                                                      
                                                      
                                             </xs:element>

                                             
                                                   
                                                   


                                          
                                                
                                                
                                          </xs:sequence>
                                       
                                             
                                             
                                       </xs:complexType>
                                    
                                          
                                          
                                    </xs:element>

                                 
                                       
                                       
                                 </xs:sequence>
                              
                                    
                                    
                              </xs:complexType>
                           
                                 
                                 
                           </xs:element>


                        
                              
                              
                        </xs:sequence>
                     
                           
                           
                     </xs:complexType>
                  
                        
                        
                  </xs:element>

               
                     
                     
               </xs:sequence>
            
                  
                  
            </xs:complexType>
         
               
               
         </xs:element>

               
      
            
            
            
         
         
         
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
