systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 ES/WSDL/package/view/EjerForholdHistorikStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
            
      
   
   
   <xs:include schemaLocation="../class/EjerForhold.xsd"/>
         
            
      
         
            
      
   
   
   <xs:include schemaLocation="../class/LigningInteressentForhold.xsd"/>
         
            
      
         
   
   
   
   <xs:element name="EjerForholdHistorikStruktur" type="fase2.1:EjerForholdHistorikStrukturType"/>
   
   
   
   <xs:complexType name="EjerForholdHistorikStrukturType">
					
      
      
      <xs:sequence>
							
         
         
         
         
         
         
         
            
            
            
            
            
               
         
         <!--Sequence removed-->
                  
         
            
            
         <xs:element ref="fase2.1:EjerForholdGyldigFra"/>


         
            
            
         <xs:element ref="fase2.1:EjerForholdGyldigTil" minOccurs="0"/>



         
            
            
         <xs:element name="LigningInteressentForholdSamling">
            
               
               
            <xs:complexType>
               
                  
                  
               <xs:sequence>


                  
                     
                     
                  <xs:element name="LigningInteressentForhold" minOccurs="0" maxOccurs="unbounded">
                     
                        
                        
                     <xs:complexType>
                        
                           
                           
                        <xs:sequence>
                           
                              
                              
                           <xs:element ref="fase2.1:LigningInteressentForholdGyldigFra"/>


                           
                              
                              
                           <xs:element ref="fase2.1:LigningInteressentForholdGyldigTil" minOccurs="0"/>



                        
                           
                           
                        </xs:sequence>
                     
                        
                        
                     </xs:complexType>
                  
                     
                     
                  </xs:element>

               
                  
                  
               </xs:sequence>
            
               
               
            </xs:complexType>
         
            
            
         </xs:element>

               
      
         
         
            
         
         
         
         
         
         
         
      
					
      
      
      </xs:sequence>
							
   
   
   </xs:complexType>



</xs:schema>
