systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 ES/WSDL/package/view/VirksomhedSoeg_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   
   <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/Adresse.xsd"/>
         
            
      
         
            
      
         
            
      
         
   
   
   
   <xs:element name="VirksomhedSøg_I">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:VirksomhedSøg_IType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2311"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="VirksomhedSøg_IType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
									
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               
            
            <!--Sequence removed-->

         
               
               
         <xs:element name="Søgekriterier">
            
                  
                  
            <xs:complexType>
               
                     
                     
               <xs:choice>
                  
                        
                        
                  <xs:element ref="fase2.1:VirksomhedCVRNummer"/>
				
				
                  
                        
                        
                  <xs:sequence>
				

                     
                           
                           
                     <xs:element name="VirksomhedOplysningerInd">
                        
                              
                              
                        <xs:complexType>
                           
                                 
                                 
                           <xs:sequence>


                              
                                    
                                    
                              <xs:element ref="fase2.1:VirksomhedNavnFirmaNavnKort" minOccurs="0"/>




                              
                                    
                                    
                              <xs:element ref="fase2.1:AdresseVejNavn" minOccurs="0"/>




                              
                                    
                                    
                              <xs:element ref="fase2.1:AdresseFraHusNummer" minOccurs="0"/>




                              
                                    
                                    
                              <xs:element ref="fase2.1:AdressePostNummer" minOccurs="0"/>




                              
                                    
                                    
                              <xs:element ref="fase2.1:AdressePostDistrikt" minOccurs="0"/>



                           
                                 
                                 
                           </xs:sequence>
                        
                              
                              
                        </xs:complexType>
                     
                           
                           
                     </xs:element>

                  
                        
                        
                  </xs:sequence>
               
                     
                     
               </xs:choice>
            
                  
                  
            </xs:complexType>
         
               
               
         </xs:element>
      
            
            
            
         
         
         
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
