systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 ES/WSDL/package/class/Branche.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Angiver brancheteksten til den 6-cifret branchekode fra Danmarks Statistik</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/TalHelType.xsd"/>
      
      
   
   
   <xs:include schemaLocation="../types/TypeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/StartdatoType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/SlutdatoType.xsd"/>
      
   
   
   <xs:element name="BrancheNr" type="fase2.1:TalHelType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver branchenr. (6 cifre), som defineret af Danmarks Statistik.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="BrancheUndergruppe" type="fase2.1:TalHelType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver de 4 første cifre i branchenummeret.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="BrancheNavn" type="fase2.1:TypeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver mulige branchenavne</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="BrancheGyldigFraDato" type="fase2.1:StartdatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Datoen hvorfra den pågældende branchehovedgruppe er gyldig.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="BrancheGyldigTilDato" type="fase2.1:SlutdatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Dato hvortil en branchehovedgruppe er gyldig.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
