services/prod/Arkiv/eIndkomst320170223/view/IndkomstOplysningPersonTidHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:hsws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247441/artefact/SKAT_HovedOplysninger.xsd"/><xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/PersonIndkomstUdstilletTidStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningPersonTidHent_I" type="hsws:IndkomstOplysningPersonTidHent_IType">
	</xs:element>
	<xs:complexType name="IndkomstOplysningPersonTidHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="IndkomstOplysningPersonTidInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="hsws:AbonnentAdgangStruktur"/>
						<xs:element ref="hsws:AbonnentStruktur"/>
						<xs:element ref="hsws:PersonIndkomstUdstilletTidStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
