services/prod/Arkiv/eIndkomst320170223/view/IndkomstOplysningPersonTidHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:hsws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:eindkomst="urn:oio:skat:eindkomst:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:import namespace="urn:oio:skat:eindkomst:1.0.0" schemaLocation="http://digitaliser.dk/resource/3468796/artefact/PakketStrukturBase64Data.xsd"/><xs:include schemaLocation="../view/IndkomstOplysningPersonStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningPersonTidHent_O" type="hsws:IndkomstOplysningPersonTidHent_OType">
	</xs:element>
	<xs:complexType name="IndkomstOplysningPersonTidHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="IndkomstOplysningPersonTidUddata" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="hsws:IndkomstOplysningPersonStruktur" minOccurs="0"/>
						<xs:element ref="eindkomst:PakketStrukturBase64Data" minOccurs="0"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
