projects/DMO/DMO20180920/Fase2_1Graensesnit.r18034/package/view/OpkraevningSpecifikationStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r18034</xs:documentation>
         </xs:annotation>
				     
				     
         <xs:include schemaLocation="../view/OpkraevningSpecifikationLinjeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpkraevningSpecifikationParameterStrukturType.xsd"/>
				     
         <xs:element name="OpkrævningSpecifikationStruktur"
                     type="fase2.1:OpkrævningSpecifikationStrukturType"/>
         <xs:complexType name="OpkrævningSpecifikationStrukturType">
         
         
         
         
            
            
            
               <xs:sequence>
               <!--Sequence removed-->

                  <xs:element name="OpkrævningSpecifikationStrukturLinjeListe" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeStruktur" minOccurs="1"
                                    maxOccurs="unbounded"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               

               <xs:element name="OpkrævningSpecifikationParameterStrukturListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:OpkrævningSpecifikationParameterStruktur" minOccurs="0"
                                    maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
