projects/DMO/DMO20180920/Fase2_1Graensesnit.r18034/package/view/OpkraevningSpecifikationLinjeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r18034</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/OpkraevningSpecifikationLinje.xsd"/>
				     
         <xs:include schemaLocation="../view/OpkraevningSpecifikationLinjeParameterStrukturType.xsd"/>
				     
         <xs:element name="OpkrævningSpecifikationLinjeStruktur"
                     type="fase2.1:OpkrævningSpecifikationLinjeStrukturType"/>
         <xs:complexType name="OpkrævningSpecifikationLinjeStrukturType">
         
         
         
         
            
            
            
            
            
               <xs:sequence>

               <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeNummer" minOccurs="0"/>

               <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeTekst"/>
                  
                  <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeBeløb"/>
               <xs:element name="OpkrævningSpecifikationLinjeParameterStrukturListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeParameterStruktur" minOccurs="0"
                                    maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
