projects/DMO/DMO20180920/Fase2_1Graensesnit.r18034/package/view/OpkraevningSpecifikationParameterStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r18034</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/OpkraevningSpecifikationParameterNavn.xsd"/>
				     
         <xs:include schemaLocation="../class/OpkraevningSpecifikationParameter.xsd"/>
         <xs:element name="OpkrævningSpecifikationParameterStruktur"
                     type="fase2.1:OpkrævningSpecifikationParameterStrukturType"/>
         <xs:complexType name="OpkrævningSpecifikationParameterStrukturType">
            <xs:sequence>
         
         
         
         
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:OpkrævningSpecifikationParameterNavn"/>
                  <xs:element name="OpkrævningSpecifikationParameterValg">
                     <xs:complexType>
                        <xs:choice>
                           <xs:element ref="fase2.1:OpkrævningSpecifikationParameterBeløb"/>
				
				
				                       <xs:element ref="fase2.1:OpkrævningSpecifikationParameterTekst"/>
				
				
				                       <xs:element ref="fase2.1:OpkrævningSpecifikationParameterDato"/>
				
				
				                       <xs:element ref="fase2.1:OpkrævningSpecifikationParameterMængde"/>
				
				
				                       <xs:element ref="fase2.1:OpkrævningSpecifikationParameterSats"/>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
               
            
         
         
         
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
