projects/DMO/DMO20180920/Fase2_1Graensesnit.r18034/package/view/OpkraevningSpecifikationLinjeParameterStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r18034</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/OpkraevningSpecifikationLinjeParameter.xsd"/>
         <xs:element name="OpkrævningSpecifikationLinjeParameterStruktur"
                     type="fase2.1:OpkrævningSpecifikationLinjeParameterStrukturType"/>
         <xs:complexType name="OpkrævningSpecifikationLinjeParameterStrukturType">
            <xs:sequence>
         
         
         
         
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeParameterNavn"/>
                  <xs:element name="OpkrævningSpecifikationLinjeParameterValg">
                     <xs:complexType>
                        <xs:choice>
                           <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeParameterBeløb"/>
				
				
				                       <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeParameterTekst"/>
				
				
				                       <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeParameterDato"/>
				
				
				                       <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeParameterSats"/>
				
				
				                       <xs:element ref="fase2.1:OpkrævningSpecifikationLinjeParameterMængde"/>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
               
            
         
         
         
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
