systems/DMI/20190528 Leverancer/Fase2_1DMI.DMIUnderretSamlingHent.r19426/package/wsdl/DMIUnderretSamlingHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIUnderretSamlingHentService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At hente underretnings-meddelelser der ligger klar til fordringshaveren hos DMI.</xs:documentation>
            <xs:documentation>1.0</xs:documentation>
            <xs:documentation>r19425</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIUnderretSamlingHentInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIUnderretSamlingHentServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIUnderretSamlingHent_I"/>
         </wsdl:message>
         <wsdl:message name="DMIUnderretSamlingHentServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIUnderretSamlingHent_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIUnderretSamlingHentServicePortType">
            <wsdl:operation name="getDMIUnderretSamlingHent">
               <wsdl:input message="fase2.1:DMIUnderretSamlingHentServiceRequest"/>
               <wsdl:output message="fase2.1:DMIUnderretSamlingHentServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
