services/prod/Arkiv/eIndkomst21/view/AnsaettelseForholdKlassiskAbonnentHent_O_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/>
	<xs:include schemaLocation="../view/IndberetningPligtigVirksomhedStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AnsaettelsePersonStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AnsaettelseUdenlandskPersonStrukturType.xsd"/>
	<xs:element name="AnsaettelseForholdKlassiskAbonnentHent_O_O" type="fase2:AnsaettelseForholdKlassiskAbonnentHent_O_OType"/>
	<xs:complexType name="AnsaettelseForholdKlassiskAbonnentHent_O_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="AnsaettelseForholdKlassiskAbonnentUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VirksomhedAnsættelseForholdSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VirksomhedAnsættelseForhold" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:IndberetningPligtigVirksomhedStruktur"/>
												<xs:element name="AnsættelseForholdPersonSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:AnsættelsePersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="IndkomstOplysningUdenlandskPersonSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:AnsættelseUdenlandskPersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
