services/prod/eIndkomst2/view/AngivelseNiveau4Type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:eindkomstws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:blanket="http://rep.oio.dk/skat.dk/eindkomst/class/blanket/xml/schemas/20071202/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/blanket/xml/schemas/20071202/" schemaLocation="http://digitaliser.dk/resource/5378/artefact/SKAT_BlanketNummerIdentifikator.xsd"/><xs:include schemaLocation="../view/AngivelseFeltIndholdStrukturType.xsd"/>
	<xs:element name="AngivelseNiveau4" type="eindkomstws:AngivelseNiveau4Type"/>
	<xs:complexType name="AngivelseNiveau4Type">
		<xs:sequence>
			<xs:element ref="blanket:BlanketNummerIdentifikator"/>
			<xs:element name="AngivelseFeltSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="eindkomstws:AngivelseFeltIndholdStruktur" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
