services/test/wsdl/AnmeldelseKopiSvarServer.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions name="AnmeldelseKopiSvarServiceDefinitions" targetNamespace="http://service" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://rep.oio.dk/tinglysning.dk/svarservice/message/anmeldelse/1/" xmlns:s2="http://rep.oio.dk/tinglysning.dk/svarservice/message/integration/1/" xmlns:s3="http://service" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/svarservice/message/integration/1/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ed="http://rep.oio.dk/tinglysning.dk/documentation" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://rep.oio.dk/tinglysning.dk/svarservice/message/anmeldelse/1/" xmlns:s2="http://rep.oio.dk/tinglysning.dk/svarservice/message/integration/1/" xmlns:s3="http://service" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sanmmsg="http://rep.oio.dk/tinglysning.dk/svarservice/message/anmeldelse/1/" xmlns:sintifc="http://rep.oio.dk/tinglysning.dk/svarservice/interface/integration/1/" xmlns:sintmsg="http://rep.oio.dk/tinglysning.dk/svarservice/message/integration/1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Status" type="sintmsg:StatusType">
        <xsd:annotation>
          <xsd:documentation>Indikerer at operationen er udført af service provideren med succes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:simpleType name="StatusType">
        <xsd:restriction base="string">
          <xsd:enumeration value="modtaget"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="Sekvensnummer" type="sintmsg:SekvensnummerType"/>
      <xsd:simpleType name="SekvensnummerType">
        <xsd:restriction base="nonNegativeInteger"/>
      </xsd:simpleType>
      <xsd:element name="Modtagerfejl" type="sintmsg:ModtagerfejlType"/>
      <xsd:complexType name="ModtagerfejlType">
        <xsd:sequence>
          <xsd:element name="Fejlkode" type="nonNegativeInteger"/>
          <xsd:element name="Fejlbeskrivelse" type="string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:ed="http://rep.oio.dk/tinglysning.dk/documentation" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://rep.oio.dk/tinglysning.dk/svarservice/message/anmeldelse/1/" xmlns:s2="http://rep.oio.dk/tinglysning.dk/svarservice/message/integration/1/" xmlns:s3="http://service" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sanmmsg="http://rep.oio.dk/tinglysning.dk/svarservice/message/anmeldelse/1/" xmlns:sintifc="http://rep.oio.dk/tinglysning.dk/svarservice/interface/integration/1/" xmlns:sintmsg="http://rep.oio.dk/tinglysning.dk/svarservice/message/integration/1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
			
		</xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/svarservice/message/anmeldelse/1/" version="1.60.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:anm="http://rep.oio.dk/tinglysning.dk/schema/anmeldelse/1/" xmlns:ed="http://rep.oio.dk/tinglysning.dk/documentation" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:msgadm="http://rep.oio.dk/tinglysning.dk/service/message/administration/1/" xmlns:msgext="http://rep.oio.dk/tinglysning.dk/svarservice/message/anmeldelse/1/" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://rep.oio.dk/tinglysning.dk/svarservice/message/anmeldelse/1/" xmlns:s2="http://rep.oio.dk/tinglysning.dk/svarservice/message/integration/1/" xmlns:s3="http://service" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sanmmsg="http://rep.oio.dk/tinglysning.dk/svarservice/message/anmeldelse/1/" xmlns:sintifc="http://rep.oio.dk/tinglysning.dk/svarservice/interface/integration/1/" xmlns:sintmsg="http://rep.oio.dk/tinglysning.dk/svarservice/message/integration/1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="AnmeldelseSvarModtag" type="msgext:AnmeldelseSvarModtagType">
        <xsd:annotation>
          <xsd:documentation>
       Sendes som endelig kvittering for tinglysningen. Implicerer status 'afsluttet' for sagen.
       </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="AnmeldelseSvarModtagType">
        <xsd:sequence>
          <xsd:any namespace="##any" processContents="skip"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </s0:types>
  <s0:message name="anmeldelseSvarModtag">
    <s0:part element="s1:AnmeldelseSvarModtag" name="body_arg"/>
    <s0:part element="s2:Sekvensnummer" name="sekvensnummerheader_arg"/>
  </s0:message>
  <s0:message name="anmeldelseSvarModtagResponse">
    <s0:part element="s2:Status" name="Status"/>
  </s0:message>
  <s0:portType name="AnmeldelseKopiSvar">
    <s0:operation name="anmeldelseSvarModtag" parameterOrder="body_arg sekvensnummerheader_arg">
      <s0:input message="s3:anmeldelseSvarModtag"/>
      <s0:output message="s3:anmeldelseSvarModtagResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="AnmeldelseKopiSvarServiceSoapBinding" type="s3:AnmeldelseKopiSvar">
    <s4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="anmeldelseSvarModtag">
      <s4:operation soapAction="urn:#anmeldelseSvarModtag" style="document"/>
      <s0:input>
        <s4:body parts="body_arg" use="literal"/>
        <s4:header message="s3:anmeldelseSvarModtag" part="sekvensnummerheader_arg" use="literal"/>
      </s0:input>
      <s0:output>
        <s4:body parts="Status" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="AnmeldelseKopiSvarService">
    <s0:port binding="s3:AnmeldelseKopiSvarServiceSoapBinding" name="AnmeldelseKopiSvarSoapPort">
      <s4:address location="https://194.239.239.106:443/eTl/eTlAnmeldelseKopiSvar/AnmeldelseKopiSvar"/>
    </s0:port>
  </s0:service>
</s0:definitions>