services/test/wsdl/MomsAngivelseHentInline.wsdl

<?xml version="1.0"?>
<definitions xmlns:tse="http://rep.oio.dk/skat.dk/TSE/service/momsangivelsemodtag/xml/schemas/2006/09/01/" xmlns:tse2009="urn:oio:skat:tse:1.0.1" xmlns:tsewsdl="urn:oio:skat:tse:service:1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MomsAngivelseHentService" targetNamespace="urn:oio:skat:tse:service:1.0.0" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation/>
	</xs:annotation>
	<types>
		<xsd:schema targetNamespace="urn:oio:skat:tse:1.0.1">
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/"/>
			<xsd:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/"/>
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/"/>
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/"/>
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/"/>
			<xsd:import namespace="urn:oio:skat:tse:1.0.0"/>
			<xsd:element name="MomsAngivelseInputStruktur" type="tse2009:MomsAngivelseInputStrukturType">
				<xsd:annotation>
					<xsd:documentation>Denne inputstruktur kan oprette en eller flere momsangivelser og returnere en kvittering pr. angivelse. Indberetter skal være tilmeldt TastSelv Erhverv vedrørende Moms (ved indberetning for egen virksomhed) eller være autoriseret indberetter for den eller de virksomheder der angives på vegne af. Angiver skal være tilmeldt TastSelv Erhverv vedrørende Moms. Hvis betalingsanmodning  ønskes videregivet til PBS skal angiver tillige være tilmeldt PBS vedrørende Moms i TastSelv Erhverv. Yderligere valideringer oplyses af SKAT..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="MomsAngivelseInputStrukturType">
				<xsd:sequence>
					<xsd:element xmlns:q1="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" ref="q1:IndberetterSEnummerIdentifikator"/>
					<xsd:element maxOccurs="unbounded" ref="tse2009:MomsAngivelseStruktur"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="MomsAngivelseStruktur" type="tse2009:MomsAngivelseStrukturType">
				<xsd:annotation>
					<xsd:documentation>Samling af felter for en angiver (momspligtig virksomhed) i forbindelse med momsafregning til SKAT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="MomsAngivelseStrukturType">
				<xsd:sequence>
					<xsd:element ref="tse2009:AngiverSEnummerIdentifikator"/>
					<xsd:element xmlns:q2="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q2:AngivelsePeriodeStruktur"/>
					<xsd:element xmlns:q3="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q3:ValutaKode"/>
					<xsd:element minOccurs="0" xmlns:q4="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" ref="q4:BetalingsFormidlerKode"/>
					<xsd:element minOccurs="0" xmlns:q5="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" ref="q5:BetalingsDato"/>
					<xsd:element minOccurs="0" xmlns:q6="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" ref="q6:BetalingsBeloeb"/>
					<xsd:element xmlns:q7="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q7:MomsAngivelseAfgiftTilSvarBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q8="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q8:MomsAngivelseCOtoAfgiftBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q9="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q9:MomsAngivelseEksportOmsBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q10="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q10:MomsAngivelseElAfgiftBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q11="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q11:MomsAngivelseEUkoebBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q12="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q12:MomsAngivelseEUsalgBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q13="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q13:MomsAngivelseGasAfgiftBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q14="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q14:MomsAngivelseKulAfgiftBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q15="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q15:MomsAngivelseKoebsMomsBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q16="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q16:MomsAngivelseEUkoebMomsBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q17="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q17:MomsAngivelseOlieAfgiftBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q18="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q18:MomsAngivelseSalgsMomsBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q19="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" ref="q19:MomsAngivelseVandAfgiftBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q20="urn:oio:skat:tse:1.0.0" ref="q20:MomsAngivelseMomsEUYdelserBeloeb"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AngiverSEnummerIdentifikator" xmlns:q21="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" type="q21:CVRnumberIdentifierType">
				<xsd:annotation>
					<xsd:documentation>SE-nummer for den angivende virksomhed. I en angivelse kan der optræde flere virksomheder i forskellige roller. Denne definition markerer at den identificerede virksomhed optræder i rollen som den virksomhed, der angives for.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" version="1.0">
			<xsd:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2002/06/28/"/>
			<xsd:element name="IndberetterSEnummerIdentifikator" xmlns:q22="http://rep.oio.dk/cvr.dk/xml/schemas/2002/06/28/" type="q22:CVRnumberType">
				<xsd:annotation>
					<xsd:documentation>CVR-/SE-nummer for den indberettende virksomhed. Virksomheden skal være tilmeldt TastSelv Erhverv enten vedrørende den angivelsestype der indberettes for eller som autoriseret indberetter for den eller de virksomheder der angives på vegne af.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SEnummerIdentifikator" xmlns:q23="http://rep.oio.dk/cvr.dk/xml/schemas/2002/06/28/" type="q23:CVRnumberType">
				<xsd:annotation>
					<xsd:documentation>CVR-/SE-nummer for den angivende virksomhed ved kvittering.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
		<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cvr.dk/xml/schemas/2002/06/28/" version="1.1">
			<xsd:element name="CVRnumber" xmlns:q24="http://rep.oio.dk/cvr.dk/xml/schemas/2002/06/28/" type="q24:CVRnumberType">
				<xsd:annotation>
					<xsd:documentation>Unique and generally usable identifier for all legal units included i CVR.
			</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="CVRnumberType">
				<xsd:restriction base="xsd:string">
					<xsd:length value="8"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" version="1.1">
			<xsd:element name="CVRnumberIdentifier" xmlns:q25="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" type="q25:CVRnumberIdentifierType">
				<xsd:annotation>
					<xsd:documentation>Unique and generally usable identifier for all legal units included i CVR.
			</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="CVRnumberIdentifierType">
				<xsd:restriction base="xsd:string">
					<xsd:length value="8"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" version="1.0">
			<xsd:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/"/>
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/"/>
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/"/>
			<xsd:element name="ValutaKode" xmlns:q26="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" type="q26:ValutaKodeType">
				<xsd:annotation>
					<xsd:documentation>Valuta (ISO møntkoden) for angivelsens beløbsfelter. SKAT modtager p.t. kun angivelser i danske kroner (DKK).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="ValutaKodeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="AED"/>
					<xsd:enumeration value="AFA"/>
					<xsd:enumeration value="ALL"/>
					<xsd:enumeration value="AMD"/>
					<xsd:enumeration value="ANG"/>
					<xsd:enumeration value="AOA"/>
					<xsd:enumeration value="ARS"/>
					<xsd:enumeration value="AUD"/>
					<xsd:enumeration value="AWG"/>
					<xsd:enumeration value="AZM"/>
					<xsd:enumeration value="BAM"/>
					<xsd:enumeration value="BBD"/>
					<xsd:enumeration value="BDT"/>
					<xsd:enumeration value="BGL"/>
					<xsd:enumeration value="BHD"/>
					<xsd:enumeration value="BIF"/>
					<xsd:enumeration value="BMD"/>
					<xsd:enumeration value="BND"/>
					<xsd:enumeration value="BOB"/>
					<xsd:enumeration value="BRL"/>
					<xsd:enumeration value="BSD"/>
					<xsd:enumeration value="BTN"/>
					<xsd:enumeration value="BWP"/>
					<xsd:enumeration value="BZD"/>
					<xsd:enumeration value="CAD"/>
					<xsd:enumeration value="CHF"/>
					<xsd:enumeration value="CLP"/>
					<xsd:enumeration value="CNY"/>
					<xsd:enumeration value="COP"/>
					<xsd:enumeration value="CRC"/>
					<xsd:enumeration value="CSD"/>
					<xsd:enumeration value="CUP"/>
					<xsd:enumeration value="CVE"/>
					<xsd:enumeration value="CYP"/>
					<xsd:enumeration value="CZK"/>
					<xsd:enumeration value="DEM"/>
					<xsd:enumeration value="DJF"/>
					<xsd:enumeration value="DKK"/>
					<xsd:enumeration value="DOP"/>
					<xsd:enumeration value="DZD"/>
					<xsd:enumeration value="ECS"/>
					<xsd:enumeration value="EEK"/>
					<xsd:enumeration value="EGP"/>
					<xsd:enumeration value="ETB"/>
					<xsd:enumeration value="EUR"/>
					<xsd:enumeration value="FJD"/>
					<xsd:enumeration value="FKP"/>
					<xsd:enumeration value="GBP"/>
					<xsd:enumeration value="GEK"/>
					<xsd:enumeration value="GHC"/>
					<xsd:enumeration value="GIP"/>
					<xsd:enumeration value="GMD"/>
					<xsd:enumeration value="GNF"/>
					<xsd:enumeration value="GTQ"/>
					<xsd:enumeration value="GWP"/>
					<xsd:enumeration value="GYD"/>
					<xsd:enumeration value="HKD"/>
					<xsd:enumeration value="HNL"/>
					<xsd:enumeration value="HRK"/>
					<xsd:enumeration value="HTG"/>
					<xsd:enumeration value="HUF"/>
					<xsd:enumeration value="IDR"/>
					<xsd:enumeration value="ILS"/>
					<xsd:enumeration value="INR"/>
					<xsd:enumeration value="IQD"/>
					<xsd:enumeration value="IRR"/>
					<xsd:enumeration value="ISK"/>
					<xsd:enumeration value="JMD"/>
					<xsd:enumeration value="JOD"/>
					<xsd:enumeration value="JPY"/>
					<xsd:enumeration value="KES"/>
					<xsd:enumeration value="KGS"/>
					<xsd:enumeration value="KHR"/>
					<xsd:enumeration value="KMF"/>
					<xsd:enumeration value="KPW"/>
					<xsd:enumeration value="KRW"/>
					<xsd:enumeration value="KWD"/>
					<xsd:enumeration value="KYD"/>
					<xsd:enumeration value="KZT"/>
					<xsd:enumeration value="LAK"/>
					<xsd:enumeration value="LBP"/>
					<xsd:enumeration value="LKR"/>
					<xsd:enumeration value="LRD"/>
					<xsd:enumeration value="LSL"/>
					<xsd:enumeration value="LTL"/>
					<xsd:enumeration value="LVL"/>
					<xsd:enumeration value="LYD"/>
					<xsd:enumeration value="MAD"/>
					<xsd:enumeration value="MDL"/>
					<xsd:enumeration value="MGF"/>
					<xsd:enumeration value="MKD"/>
					<xsd:enumeration value="MMK"/>
					<xsd:enumeration value="MNT"/>
					<xsd:enumeration value="MOP"/>
					<xsd:enumeration value="MRO"/>
					<xsd:enumeration value="MTL"/>
					<xsd:enumeration value="MUR"/>
					<xsd:enumeration value="MVR"/>
					<xsd:enumeration value="MWK"/>
					<xsd:enumeration value="MXN"/>
					<xsd:enumeration value="MYR"/>
					<xsd:enumeration value="MZM"/>
					<xsd:enumeration value="NAD"/>
					<xsd:enumeration value="NGN"/>
					<xsd:enumeration value="NIO"/>
					<xsd:enumeration value="NOK"/>
					<xsd:enumeration value="NPR"/>
					<xsd:enumeration value="NZD"/>
					<xsd:enumeration value="OMR"/>
					<xsd:enumeration value="PAB"/>
					<xsd:enumeration value="PEN"/>
					<xsd:enumeration value="PGK"/>
					<xsd:enumeration value="PHP"/>
					<xsd:enumeration value="PKR"/>
					<xsd:enumeration value="PLN"/>
					<xsd:enumeration value="PYG"/>
					<xsd:enumeration value="QAR"/>
					<xsd:enumeration value="ROL"/>
					<xsd:enumeration value="RUR"/>
					<xsd:enumeration value="RWF"/>
					<xsd:enumeration value="SAR"/>
					<xsd:enumeration value="SBD"/>
					<xsd:enumeration value="SCR"/>
					<xsd:enumeration value="SDD"/>
					<xsd:enumeration value="SEK"/>
					<xsd:enumeration value="SGD"/>
					<xsd:enumeration value="SHP"/>
					<xsd:enumeration value="SIT"/>
					<xsd:enumeration value="SKK"/>
					<xsd:enumeration value="SLL"/>
					<xsd:enumeration value="SOS"/>
					<xsd:enumeration value="SRG"/>
					<xsd:enumeration value="STD"/>
					<xsd:enumeration value="SVC"/>
					<xsd:enumeration value="SYP"/>
					<xsd:enumeration value="SZL"/>
					<xsd:enumeration value="THB"/>
					<xsd:enumeration value="TJR"/>
					<xsd:enumeration value="TMM"/>
					<xsd:enumeration value="TND"/>
					<xsd:enumeration value="TOP"/>
					<xsd:enumeration value="TPE"/>
					<xsd:enumeration value="TRL"/>
					<xsd:enumeration value="TTD"/>
					<xsd:enumeration value="TWD"/>
					<xsd:enumeration value="TZS"/>
					<xsd:enumeration value="UAH"/>
					<xsd:enumeration value="UGX"/>
					<xsd:enumeration value="USD"/>
					<xsd:enumeration value="UYU"/>
					<xsd:enumeration value="UZS"/>
					<xsd:enumeration value="VEB"/>
					<xsd:enumeration value="VND"/>
					<xsd:enumeration value="VUV"/>
					<xsd:enumeration value="WST"/>
					<xsd:enumeration value="XAF"/>
					<xsd:enumeration value="XCD"/>
					<xsd:enumeration value="XOF"/>
					<xsd:enumeration value="XPF"/>
					<xsd:enumeration value="YER"/>
					<xsd:enumeration value="YUN"/>
					<xsd:enumeration value="ZAR"/>
					<xsd:enumeration value="ZMK"/>
					<xsd:enumeration value="ZRN"/>
					<xsd:enumeration value="ZWD"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="AngivelsePeriodeStruktur" xmlns:q27="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" type="q27:TimeRangeStructureType">
				<xsd:annotation>
					<xsd:documentation>Periode der angives for. Perioden afhænger af virksomhedens registrering hos SKAT og vil fremgå af det registreringsbevis som virksomheden modtager.
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AngivelseKvitteringStruktur" xmlns:q28="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" type="q28:AngivelseKvitteringStrukturType">
				<xsd:annotation>
					<xsd:documentation>Samling af kvitteringsoplysninger for en angiver (momspligtig virksomhed) ved godkendt angivelse i forbindelse med momsafregning til SKAT.
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="AngivelseKvitteringStrukturType">
				<xsd:sequence>
					<xsd:element xmlns:q29="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" ref="q29:SEnummerIdentifikator"/>
					<xsd:element xmlns:q30="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q30:AngivelsePeriodeStruktur"/>
					<xsd:element xmlns:q31="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q31:AngivelseDatoTid"/>
					<xsd:element minOccurs="0" xmlns:q32="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q32:ValutaKode"/>
					<xsd:element minOccurs="0" xmlns:q33="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" ref="q33:BetalingsFormidlerKode"/>
					<xsd:element minOccurs="0" xmlns:q34="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" ref="q34:BetalingsDato"/>
					<xsd:element minOccurs="0" xmlns:q35="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" ref="q35:BetalingsBeloeb"/>
					<xsd:element minOccurs="0" xmlns:q36="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q36:OCRlinieStruktur"/>
					<xsd:element xmlns:q37="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q37:AngivelseKvitteringIdentifikator"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="OCRlinieStruktur" xmlns:q38="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" type="q38:OCRlinieStrukturType">
				<xsd:annotation>
					<xsd:documentation>Samling af OCR oplysninger til brug for indbetaling via HomeBanking.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="OCRlinieStrukturType">
				<xsd:sequence>
					<xsd:element xmlns:q39="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q39:KortTypeIdentifikator"/>
					<xsd:element xmlns:q40="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q40:OCRnummerIdentifikator"/>
					<xsd:element xmlns:q41="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q41:KontoNummerIdentifikator"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="KortTypeIdentifikator" xmlns:q42="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" type="q42:KortTypeIdentifikatorType">
				<xsd:annotation>
					<xsd:documentation>Korttype for indbetaling via HomeBanking.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="KortTypeIdentifikatorType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]{2}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="OCRnummerIdentifikator" xmlns:q43="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" type="q43:OCRnummerIdentifikatorType">
				<xsd:annotation>
					<xsd:documentation>SKATs OCR-nummer for indbetaling via HomeBanking.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="OCRnummerIdentifikatorType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]{16}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="KontoNummerIdentifikator" xmlns:q44="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" type="q44:KontoNummerIdentifikatorType">
				<xsd:annotation>
					<xsd:documentation>Kontonummer for indbetaling via HomeBanking.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="KontoNummerIdentifikatorType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]{8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="AngivelseDatoTid" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Entydigt tidspunkt (dato og tidspunkt) - timestamp - for angivelsens modtagelse i SKAT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AngivelseKvitteringIdentifikator" xmlns:q45="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" type="q45:AngivelseKvitteringIdentifikatorType">
				<xsd:annotation>
					<xsd:documentation>Kvitteringsnummer som det modtagende system tildeler den enkelte angivelse ved godkendelsen.
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="AngivelseKvitteringIdentifikatorType">
				<xsd:restriction base="xsd:integer">
					<xsd:totalDigits value="26"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!--xsd:element name="ValutaKode" xmlns:q46="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" type="q46:ValutaKodeType">
				<xsd:annotation>
					<xsd:documentation>Valuta (ISO møntkoden) for angivelsens beløbsfelter. SKAT modtager p.t. kun angivelser i danske kroner (DKK).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="ValutaKodeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="AED"/>
					<xsd:enumeration value="AFA"/>
					<xsd:enumeration value="ALL"/>
					<xsd:enumeration value="AMD"/>
					<xsd:enumeration value="ANG"/>
					<xsd:enumeration value="AOA"/>
					<xsd:enumeration value="ARS"/>
					<xsd:enumeration value="AUD"/>
					<xsd:enumeration value="AWG"/>
					<xsd:enumeration value="AZM"/>
					<xsd:enumeration value="BAM"/>
					<xsd:enumeration value="BBD"/>
					<xsd:enumeration value="BDT"/>
					<xsd:enumeration value="BGL"/>
					<xsd:enumeration value="BHD"/>
					<xsd:enumeration value="BIF"/>
					<xsd:enumeration value="BMD"/>
					<xsd:enumeration value="BND"/>
					<xsd:enumeration value="BOB"/>
					<xsd:enumeration value="BRL"/>
					<xsd:enumeration value="BSD"/>
					<xsd:enumeration value="BTN"/>
					<xsd:enumeration value="BWP"/>
					<xsd:enumeration value="BZD"/>
					<xsd:enumeration value="CAD"/>
					<xsd:enumeration value="CHF"/>
					<xsd:enumeration value="CLP"/>
					<xsd:enumeration value="CNY"/>
					<xsd:enumeration value="COP"/>
					<xsd:enumeration value="CRC"/>
					<xsd:enumeration value="CSD"/>
					<xsd:enumeration value="CUP"/>
					<xsd:enumeration value="CVE"/>
					<xsd:enumeration value="CYP"/>
					<xsd:enumeration value="CZK"/>
					<xsd:enumeration value="DEM"/>
					<xsd:enumeration value="DJF"/>
					<xsd:enumeration value="DKK"/>
					<xsd:enumeration value="DOP"/>
					<xsd:enumeration value="DZD"/>
					<xsd:enumeration value="ECS"/>
					<xsd:enumeration value="EEK"/>
					<xsd:enumeration value="EGP"/>
					<xsd:enumeration value="ETB"/>
					<xsd:enumeration value="EUR"/>
					<xsd:enumeration value="FJD"/>
					<xsd:enumeration value="FKP"/>
					<xsd:enumeration value="GBP"/>
					<xsd:enumeration value="GEK"/>
					<xsd:enumeration value="GHC"/>
					<xsd:enumeration value="GIP"/>
					<xsd:enumeration value="GMD"/>
					<xsd:enumeration value="GNF"/>
					<xsd:enumeration value="GTQ"/>
					<xsd:enumeration value="GWP"/>
					<xsd:enumeration value="GYD"/>
					<xsd:enumeration value="HKD"/>
					<xsd:enumeration value="HNL"/>
					<xsd:enumeration value="HRK"/>
					<xsd:enumeration value="HTG"/>
					<xsd:enumeration value="HUF"/>
					<xsd:enumeration value="IDR"/>
					<xsd:enumeration value="ILS"/>
					<xsd:enumeration value="INR"/>
					<xsd:enumeration value="IQD"/>
					<xsd:enumeration value="IRR"/>
					<xsd:enumeration value="ISK"/>
					<xsd:enumeration value="JMD"/>
					<xsd:enumeration value="JOD"/>
					<xsd:enumeration value="JPY"/>
					<xsd:enumeration value="KES"/>
					<xsd:enumeration value="KGS"/>
					<xsd:enumeration value="KHR"/>
					<xsd:enumeration value="KMF"/>
					<xsd:enumeration value="KPW"/>
					<xsd:enumeration value="KRW"/>
					<xsd:enumeration value="KWD"/>
					<xsd:enumeration value="KYD"/>
					<xsd:enumeration value="KZT"/>
					<xsd:enumeration value="LAK"/>
					<xsd:enumeration value="LBP"/>
					<xsd:enumeration value="LKR"/>
					<xsd:enumeration value="LRD"/>
					<xsd:enumeration value="LSL"/>
					<xsd:enumeration value="LTL"/>
					<xsd:enumeration value="LVL"/>
					<xsd:enumeration value="LYD"/>
					<xsd:enumeration value="MAD"/>
					<xsd:enumeration value="MDL"/>
					<xsd:enumeration value="MGF"/>
					<xsd:enumeration value="MKD"/>
					<xsd:enumeration value="MMK"/>
					<xsd:enumeration value="MNT"/>
					<xsd:enumeration value="MOP"/>
					<xsd:enumeration value="MRO"/>
					<xsd:enumeration value="MTL"/>
					<xsd:enumeration value="MUR"/>
					<xsd:enumeration value="MVR"/>
					<xsd:enumeration value="MWK"/>
					<xsd:enumeration value="MXN"/>
					<xsd:enumeration value="MYR"/>
					<xsd:enumeration value="MZM"/>
					<xsd:enumeration value="NAD"/>
					<xsd:enumeration value="NGN"/>
					<xsd:enumeration value="NIO"/>
					<xsd:enumeration value="NOK"/>
					<xsd:enumeration value="NPR"/>
					<xsd:enumeration value="NZD"/>
					<xsd:enumeration value="OMR"/>
					<xsd:enumeration value="PAB"/>
					<xsd:enumeration value="PEN"/>
					<xsd:enumeration value="PGK"/>
					<xsd:enumeration value="PHP"/>
					<xsd:enumeration value="PKR"/>
					<xsd:enumeration value="PLN"/>
					<xsd:enumeration value="PYG"/>
					<xsd:enumeration value="QAR"/>
					<xsd:enumeration value="ROL"/>
					<xsd:enumeration value="RUR"/>
					<xsd:enumeration value="RWF"/>
					<xsd:enumeration value="SAR"/>
					<xsd:enumeration value="SBD"/>
					<xsd:enumeration value="SCR"/>
					<xsd:enumeration value="SDD"/>
					<xsd:enumeration value="SEK"/>
					<xsd:enumeration value="SGD"/>
					<xsd:enumeration value="SHP"/>
					<xsd:enumeration value="SIT"/>
					<xsd:enumeration value="SKK"/>
					<xsd:enumeration value="SLL"/>
					<xsd:enumeration value="SOS"/>
					<xsd:enumeration value="SRG"/>
					<xsd:enumeration value="STD"/>
					<xsd:enumeration value="SVC"/>
					<xsd:enumeration value="SYP"/>
					<xsd:enumeration value="SZL"/>
					<xsd:enumeration value="THB"/>
					<xsd:enumeration value="TJR"/>
					<xsd:enumeration value="TMM"/>
					<xsd:enumeration value="TND"/>
					<xsd:enumeration value="TOP"/>
					<xsd:enumeration value="TPE"/>
					<xsd:enumeration value="TRL"/>
					<xsd:enumeration value="TTD"/>
					<xsd:enumeration value="TWD"/>
					<xsd:enumeration value="TZS"/>
					<xsd:enumeration value="UAH"/>
					<xsd:enumeration value="UGX"/>
					<xsd:enumeration value="USD"/>
					<xsd:enumeration value="UYU"/>
					<xsd:enumeration value="UZS"/>
					<xsd:enumeration value="VEB"/>
					<xsd:enumeration value="VND"/>
					<xsd:enumeration value="VUV"/>
					<xsd:enumeration value="WST"/>
					<xsd:enumeration value="XAF"/>
					<xsd:enumeration value="XCD"/>
					<xsd:enumeration value="XOF"/>
					<xsd:enumeration value="XPF"/>
					<xsd:enumeration value="YER"/>
					<xsd:enumeration value="YUN"/>
					<xsd:enumeration value="ZAR"/>
					<xsd:enumeration value="ZMK"/>
					<xsd:enumeration value="ZRN"/>
					<xsd:enumeration value="ZWD"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="AngivelsePeriodeStruktur" xmlns:q47="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" type="q47:TimeRangeStructureType">
				<xsd:annotation>
					<xsd:documentation>Periode der angives for. Perioden afhænger af virksomhedens registrering hos SKAT og vil fremgå af det registreringsbevis som virksomheden modtager.
</xsd:documentation>
				</xsd:annotation>
			</xsd:element-->
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/">
			<xsd:element name="TimeRangeStructure" xmlns:q48="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" type="q48:TimeRangeStructureType"/>
			<xsd:complexType name="TimeRangeStructureType">
				<xsd:choice>
					<xsd:sequence>
						<xsd:element xmlns:q49="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" ref="q49:StartDateTime"/>
						<xsd:choice minOccurs="0">
							<xsd:element xmlns:q50="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" ref="q50:EndDateTime"/>
							<xsd:element xmlns:q51="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" ref="q51:DurationTime"/>
						</xsd:choice>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element xmlns:q52="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" ref="q52:EndDateTime"/>
						<xsd:element minOccurs="0" xmlns:q53="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" ref="q53:DurationTime"/>
					</xsd:sequence>
					<xsd:element xmlns:q54="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" ref="q54:DurationTime"/>
				</xsd:choice>
			</xsd:complexType>
			<xsd:element name="StartDateTime" xmlns:q55="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" type="q55:StartDateTimeType"/>
			<xsd:simpleType name="StartDateTimeType">
				<xsd:restriction base="xsd:dateTime">
					<xsd:pattern value="[0-9\-:T]+Z"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="EndDateTime" xmlns:q56="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" type="q56:EndDateTimeType"/>
			<xsd:simpleType name="EndDateTimeType">
				<xsd:restriction base="xsd:dateTime">
					<xsd:pattern value="[0-9\-:T]+Z"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="DurationTime" xmlns:q57="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" type="q57:DurationTimeType"/>
			<xsd:simpleType name="DurationTimeType">
				<xsd:restriction base="xsd:duration">
					<xsd:pattern value="-?P([0-9]+Y)?(([0-9]|1[0-2])M)?(([1-2]?[0-9]|3[0-1])D)?(T((1?[0-9]|2[0-4])H)?(([1-5]?[0-9]|60)M)?((([1-5]?[0-9](\.[0-9]+)?)|60)S)?)?"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" version="1.0">
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/"/>
			<!--xsd:element name="BetalingsFormidlerKode" xmlns:q58="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" type="q58:BetalingsFormidlerKodeType">
				<xsd:annotation>
					<xsd:documentation>Betalingsformidling for angivelsen. Ønsker virksomheden betalingsanmodningen videresendt af SKAT, f.eks. i forbindelse med PBS leverandørservice, er betalingsformidler PBS og angivelsen suppleres med betalingsbeløb og -dato. Ønsker virksomheden selv at overføre betalingen, udfyldes betalingsformidler med HomeBanking.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="BetalingsFormidlerKodeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PBS"/>
					<xsd:enumeration value="HomeBanking"/>
					<xsd:enumeration value="JyskeBank"/>
					<xsd:enumeration value="Anden betalingsform"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="BetalingsDato" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Betalingsdato for angivelsen. Anvendes sammen med betalingsbeløbet, når virksomheden ønsker betalingsanmodningen videresendt af SKAT, f.eks. i forbindelse med PBS leverandørservice.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BetalingsBeloeb" xmlns:q59="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q59:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Betalingsbeløb for angivelsen. Anvendes sammen med betalingsdatoen, når virksomheden ønsker betalingsanmodningen videresendt af SKAT, f.eks. i forbindelse med PBS leverandørservice.</xsd:documentation>
				</xsd:annotation>
			</xsd:element-->
			<xsd:element name="BetalingsFormidlerKode" xmlns:q60="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" type="q60:BetalingsFormidlerKodeType">
				<xsd:annotation>
					<xsd:documentation>Betalingsformidling for angivelsen. Ønsker virksomheden betalingsanmodningen videresendt af SKAT, f.eks. i forbindelse med PBS leverandørservice, er betalingsformidler PBS og angivelsen suppleres med betalingsbeløb og -dato. Ønsker virksomheden selv at overføre betalingen, udfyldes betalingsformidler med HomeBanking.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="BetalingsFormidlerKodeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PBS"/>
					<xsd:enumeration value="HomeBanking"/>
					<xsd:enumeration value="JyskeBank"/>
					<xsd:enumeration value="Anden betalingsform"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="BetalingsDato" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Betalingsdato for angivelsen. Anvendes sammen med betalingsbeløbet, når virksomheden ønsker betalingsanmodningen videresendt af SKAT, f.eks. i forbindelse med PBS leverandørservice.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BetalingsBeloeb" xmlns:q61="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q61:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Betalingsbeløb for angivelsen. Anvendes sammen med betalingsdatoen, når virksomheden ønsker betalingsanmodningen videresendt af SKAT, f.eks. i forbindelse med PBS leverandørservice.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" version="1.0">
			<xsd:element name="FemtenCifreSeksDecimalerBeloeb" xmlns:q62="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q62:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Beløbstype på 15 cifre inkl. 6 decimaler.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="FemtenCifreSeksDecimalerBeloebType">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="21"/>
					<xsd:fractionDigits value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" version="1.0">
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/"/>
			<xsd:element name="MomsAngivelseAfgiftTilSvarBeloeb" xmlns:q63="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q63:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Samlet afgiftstilsvar for momsangivelsen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseCOtoAfgiftBeloeb" xmlns:q64="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q64:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>CO2-afgift fratrukket i forbindelse med momsangivelsen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseEksportOmsBeloeb" xmlns:q65="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q65:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Rubrik C: Værdien af varer og ydelser, som sælges momsfrit til udlandet efter lovens § 14-21 og 34, bortset fra varesalg til andre EU-lande, jf. rubrik B.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseElAfgiftBeloeb" xmlns:q66="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q66:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>El-afgift fratrukket i forbindelsen med momsangivelsen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseEUkoebBeloeb" xmlns:q67="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q67:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Rubrik A: Værdien uden moms af varekøb i andre EU-lande (EU-erhvervelser).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseEUsalgBeloeb" xmlns:q68="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q68:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Rubrik B: Værdien af varesalg uden moms til andre EU-lande (EU-leverancer).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseGasAfgiftBeloeb" xmlns:q69="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q69:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Gas-afgift fratrukket i forbindelse med momsangivelsen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseKulAfgiftBeloeb" xmlns:q70="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q70:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Kul-afgift fratrukket i forbindelse med momsangivelsen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseKoebsMomsBeloeb" xmlns:q71="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q71:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Købsmoms (indgående moms).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseEUkoebMomsBeloeb" xmlns:q72="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q72:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Moms af varekøb mv. i udlandet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseOlieAfgiftBeloeb" xmlns:q73="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q73:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Olie-afgift fratrukket i forbindelse med momsangivelsen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseSalgsMomsBeloeb" xmlns:q74="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q74:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Salgsmoms (udgående moms).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MomsAngivelseVandAfgiftBeloeb" xmlns:q75="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q75:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Vand-afgift fratrukket i forbindelse med momsangivelsen.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oio:skat:tse:1.0.0" version="1.0">
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/"/>
			<xsd:element name="MomsAngivelseMomsEUYdelserBeloeb" xmlns:q76="http://rep.oio.dk/skat.dk/TSE/felter/xml/schemas/2006/09/01/" type="q76:FemtenCifreSeksDecimalerBeloebType">
				<xsd:annotation>
					<xsd:documentation>Moms af ydelseskøb i udlandet (byggeydelser og arbejdsudleje).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="http://rep.oio.dk/skat.dk/TSE/service/momsangivelsemodtag/xml/schemas/2006/09/01/">
			<xsd:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/"/>
			<xsd:import namespace="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/"/>
			<xsd:element name="MomsAngivelseOutputStruktur" type="tse:MomsAngivelseOutputStrukturType">
				<xsd:annotation>
					<xsd:documentation>Denne outputstruktur returnerer en kvittering pr. momsangivelse.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="MomsAngivelseOutputStrukturType">
				<xsd:sequence>
					<xsd:element xmlns:q77="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q77:HovedOplysningerSvar"/>
					<xsd:element minOccurs="0" maxOccurs="unbounded" xmlns:q78="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" ref="q78:AngivelseKvitteringStruktur"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" version="1.0">
			<xsd:annotation>
				<xsd:documentation>Strukturen er en generisk svarmekanisme til at udveksle forretningsmæssige fejl og adviser med et modsvarende system. 
Strukturen forudsætter ikke nogen servicespecifk viden, udover at navnet på den konkrete service skal stå i feltet ServiceIndikator. 
De fejl og adviser der rapporteres med strukturen skal betragtes som unikt identificeret af ServiceIdentifikator+FejlIdentifikator henholdsvis ServiceIdentifikator+AdvisIdentifikator. Herved kan forskellige services benytte overlappende serier af identifikatorer og stadigvæk være unikt identificeret.</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="HovedOplysningerSvar" xmlns:q79="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" type="q79:HovedOplysningerSvarType">
				<xsd:annotation>
					<xsd:documentation>Strukturen er en generisk svarmekanisme til at udveksle forretningsmæssige fejl og adviser med et modsvarende system. 
Strukturen forudsætter ikke nogen servicespecifk viden, udover at navnet på den konkrete service skal stå i feltet ServiceIndikator. 
De fejl og adviser der rapporteres med strukturen skal betragtes som unikt identificeret af ServiceIdentifikator+FejlIdentifikator henholdsvis ServiceIdentifikator+AdvisIdentifikator. Herved kan forskellige services benytte overlappende serier af identifikatorer og stadigvæk være unikt identificeret.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="HovedOplysningerSvarType">
				<xsd:sequence>
					<xsd:element minOccurs="0" xmlns:q80="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q80:TransaktionIdentifikator"/>
					<xsd:element minOccurs="0" xmlns:q81="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q81:ServiceIdentifikator"/>
					<xsd:element minOccurs="0" xmlns:q82="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q82:TransaktionTid"/>
					<xsd:element xmlns:q83="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q83:SvarStruktur"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SvarStruktur" xmlns:q84="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" type="q84:SvarStrukturType">
				<xsd:annotation>
					<xsd:documentation>Valg mellem et antal forretningsmæssige adviser og fejl der kan returneres fra en service. Der kan rapporteres et ubegrænset antal af begge dele i en vilkårlig orden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="SvarStrukturType">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element xmlns:q85="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q85:AdvisStruktur"/>
					<xsd:element xmlns:q86="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q86:FejlStruktur"/>
				</xsd:choice>
			</xsd:complexType>
			<xsd:element name="AdvisStruktur" xmlns:q87="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" type="q87:AdvisStrukturType">
				<xsd:annotation>
					<xsd:documentation>Et dokumentfragment med denne struktur beskriver en enkelt forretningsmæssig advisering i svaret fra en webservice. Adviseringen består i en identifikator for advisen samt en advisbeskrivelse der kan have specifikt forretningsmæssigt indhold. De forventelige værdierne i denne struktur er en del af kontrakten for de enkelte services som AdvisStruktur indgår i.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="AdvisStrukturType">
				<xsd:sequence>
					<xsd:element xmlns:q88="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q88:AdvisIdentifikator"/>
					<xsd:element minOccurs="0" xmlns:q89="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q89:AdvisTekst"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AdvisIdentifikator" xmlns:q90="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" type="q90:FejlIdentifikatorType">
				<xsd:annotation>
					<xsd:documentation>Element til at identificere en forretningsmæssig advis fra et servicekald. Elementet er typisk en kode hvis aktuelle betydning er en del af beskrivelsen af funktionaliteten for den enkelte service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FejlIdentifikator" xmlns:q91="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" type="q91:FejlIdentifikatorType">
				<xsd:annotation>
					<xsd:documentation>Element til at identificere en forretningsmæssig fejl fra et servicekald. Elementet er typisk en kode hvis aktuelle betydning er en del af beskrivelsen af funktionaliteten for den enkelte service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="FejlIdentifikatorType">
				<xsd:restriction base="xsd:integer"/>
			</xsd:simpleType>
			<xsd:element name="AdvisTekst" xmlns:q92="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" type="q92:FejlTekstType">
				<xsd:annotation>
					<xsd:documentation>Element til at beskrive en forretningsmæssig advis fra et servicekald. Indholdet er typisk en tekst der beskriver en advarsel fra en service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FejlTekst" xmlns:q93="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" type="q93:FejlTekstType">
				<xsd:annotation>
					<xsd:documentation>Element til at beskrive en forretningsmæssig fejl fra et servicekald. Indholdet er typisk en tekst der beskriver en forretningsmæssig fejl opstået i en service.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="FejlTekstType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="FejlStruktur" xmlns:q94="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" type="q94:FejlStrukturType">
				<xsd:annotation>
					<xsd:documentation>Et dokumentfragment med denne struktur beskriver en enkelt forretningsmæssig fejl i svaret fra en webservice. Fejlen består i en identifikator for fejlen samt en fejlbeskrivelse der kan have specifikt forretningsmæssigt indhold. De forventelige værdierne i denne struktur er en del af kontrakten for de enkelte services som FejlStruktur indgår i.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="FejlStrukturType">
				<xsd:sequence>
					<xsd:element xmlns:q95="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q95:FejlIdentifikator"/>
					<xsd:element minOccurs="0" xmlns:q96="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" ref="q96:FejlTekst"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="TransaktionIdentifikator" xmlns:q97="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" type="q97:TransaktionIdentifikatorType">
				<xsd:annotation>
					<xsd:documentation>Felt der giver kalder af service mulighed for at binde sit eget transaktionsspor sammen med den kaldte webservice. Når brug af dette felt understøttes af en service, så vil værdier af en TransaktionIdentifikator der gives ved et kald af service blive returneret ved svar fra samme service. Der er ikke nogen bindinger på hvordan TransaktionsIdentifikatoren skal udformes, men det er hensigten at det kaldende system selv skal administrere anvendelsen af unikke identifikationer af sine kald, så svar kan matches til kald.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:simpleType name="TransaktionIdentifikatorType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="TransaktionTid" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Felt der giver kalder af service mulighed for at tidsstemple sit eget transaktionsspor uafhængigt af kaldte systems interne tid. Når brug af dette felt understøttes af en service, så vil værdier af en TransaktionTid der gives ved et kald af service blive returneret ved svar fra samme service. Der er ikke nogen bindinger på hvordan TransaktionTid skal udformes, udover at det er et xs:dateTime, men det er hensigten at det kaldende system kan anvende tidsstempel til hurtigt at kunne udsøge servicekald i egne loggingmekanismer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServiceIdentifikator" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Element til at identificere den service der svarer. Dens værdi skal antage navnet på den service der svarer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="MomsAngivelseHentServiceRequest">
		<part name="Request" element="tse2009:MomsAngivelseInputStruktur"/>
	</message>
	<message name="MomsAngivelseHentServiceResponse">
		<part name="Response" element="tse:MomsAngivelseOutputStruktur"/>
	</message>
	<portType name="MomsAngivelseHentServicePortType">
		<operation name="getMomsAngivelseHent">
			<input message="tsewsdl:MomsAngivelseHentServiceRequest"/>
			<output message="tsewsdl:MomsAngivelseHentServiceResponse"/>
		</operation>
	</portType>
	<binding name="MomsAngivelseHentServiceBinding" type="tsewsdl:MomsAngivelseHentServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getMomsAngivelseHent">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="MomsAngivelseHentService">
		<port name="MomsAngivelseHentService" binding="tsewsdl:MomsAngivelseHentServiceBinding">
			<soap:address location="https://services.extranet.demo.skat.dk/vericert/services/MomsAngivelseHentServicePort"/>
		</port>
	</service>
</definitions>
