services/prodtin/eIndkomst12/view/AdvisBlanketNiveau3Type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:eindkomstws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:blanket="http://rep.oio.dk/skat.dk/eindkomst/class/blanket/xml/schemas/20071202/" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/blanket/xml/schemas/20071202/" schemaLocation="../class/SKAT_BlanketNummerIdentifikator.xsd"/>
	<xs:include schemaLocation="../view/AdvisFeltStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AdvisBlanketNiveau4Type.xsd"/>
	<xs:element name="AdvisBlanketNiveau3" type="eindkomstws:AdvisBlanketNiveau3Type"/>
	<xs:complexType name="AdvisBlanketNiveau3Type">
		<xs:sequence>
			<xs:element ref="blanket:BlanketNummerIdentifikator"/>
			<xs:element name="AdvisFeltSamling" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="eindkomstws:AdvisFeltStruktur" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdvisBlanketNiveau4Samling" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="eindkomstws:AdvisBlanketNiveau4" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
