projects/Selvangivelsen/20211122/oioservice/urn/oio/skat/selvangivelse/ws/1_0_0/OevrigeOplysningerStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:selvangivelse="urn:oio:skat:selvangivelse:1.0.0" xmlns:selvangivelsews="urn:oio:skat:selvangivelse:ws:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:selvangivelse:ws:1.0.0" version="1.0" xml:lang="DA">
   <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/AlderspensionAfgiftsBeloeb20PctUnder6AArBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/OevrigeOplysningerBeregningsgrundlagAcontoSkatSuccessionBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/AlderspensionDiskvalifikationKode.xsd"/>
   <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/AlderspensionAfgiftsBeloeb40PctDiskvalificeretBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/AlderspensionAfgiftsberegning20PctOg40PctBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/AlderspensionAfgiftsBeloeb4PctBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/AlderspensionAfgiftsberegning4PctBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/OevrigeOplysningerBeregningsgrundlagAcontoSkatBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/AlderspensionAfgiftsBeloeb20PctOver5AArBeloeb.xsd"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:element name="OevrigeOplysningerStruktur" type="selvangivelsews:OevrigeOplysningerStrukturType"/>
         <xs:complexType name="OevrigeOplysningerStrukturType">
               <xs:sequence>
                  <xs:element minOccurs="0" name="Aldersopsparing">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element minOccurs="0" ref="selvangivelse:AlderspensionAfgiftsBeloeb4PctBeloeb"/>
                           <xs:element minOccurs="0" ref="selvangivelse:AlderspensionAfgiftsBeloeb20PctOver5AArBeloeb"/>
                           <xs:element minOccurs="0" ref="selvangivelse:AlderspensionAfgiftsBeloeb20PctUnder6AArBeloeb"/>
                           <xs:element minOccurs="0" ref="selvangivelse:AlderspensionAfgiftsBeloeb40PctDiskvalificeretBeloeb"/>
                           <xs:element minOccurs="0" ref="selvangivelse:AlderspensionAfgiftsberegning4PctBeloeb"/>
                           <xs:element minOccurs="0" ref="selvangivelse:AlderspensionAfgiftsberegning20PctOg40PctBeloeb"/>
                           <xs:element minOccurs="0" ref="selvangivelse:AlderspensionDiskvalifikationKode"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               <xs:element minOccurs="0" ref="selvangivelse:OevrigeOplysningerBeregningsgrundlagAcontoSkatBeloeb"/>
               <xs:element minOccurs="0" ref="selvangivelse:OevrigeOplysningerBeregningsgrundlagAcontoSkatSuccessionBeloeb"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
