projects/TAS blanketter/Leverancer/20160819TAS/20160819TAS.r14689/package/class/ToldOplag.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Specifikke attributter for UCC blanket 8E: Ansøgning og bevilling vedrørende drift af lagerfaciliteter til oplæggelse af varer på toldoplag.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/IDType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/Tekst240Type.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:include schemaLocation="../types/TypeType.xsd"/>
         <xs:element name="ToldOplagID" type="skat2016:IDType">
               
               <xs:annotation>
                  <xs:documentation>Vilkårligt unikt identifikationsnummer</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldOplagEUVareDetaljer" type="skat2016:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Hvis de ansægte varer oplagres sammen med EU-varer, angiver ansøgeren her detaljer om dette.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldOplagSikkerhedstillelseOrdning" type="skat2016:Tekst240Type">
               
               <xs:annotation>
                  <xs:documentation>Angivelse om bevillingen kræver at der stilles en sikkerhed.  I forbindelse med bevilling skal der angives sikkerhedsstillelsesordning. Der kan vælges mellem:  - Sikkerhed pr. toldangivelse - Samlet sikkerhed - SKAT's sikkerhedsstillelsesordning</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldOplagSikkerhedsstillelsesBeløb" type="skat2016:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Hvis bevillingen kræver at der stilles en sikkerhed, skal der angives et sikkerhedsstillelsesbeløb. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldOplagType" type="skat2016:TypeType">
               
               <xs:annotation>
                  <xs:documentation>Angivelse af kodetype for ansøgningen. Der kan her vælges mellem:  - CWP - CW1</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
