projects/TAS blanketter/Leverancer/20160819TAS/20160819TAS.r14689/package/class/UCCAnsoegningAfgoerelseTidligIkraefttraedelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Omhandler ansøgerens eventuelle anmodning om ikrafttrædelsesdato for afgørelsen.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/Tekst1000Type.xsd"/>
         <xs:include schemaLocation="../types/JaNejType.xsd"/>
         <xs:element name="UCCAnsøgningAfgørelseTidligIkræfttrædelseDato" type="skat2016:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Hvis ansøgeren har særligt gode årsager til at afgørelsen skal træde i kraft tidligere end den dag bevillingen udstedes, angiver ansøgeren her en specifik data for, hvornår afgørelsen ønskes trådt i kraft fra.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="UCCAnsøgningAfgørelseTidligIkræfttrædelseÅrsagBeskrivelse"
                     type="skat2016:Tekst1000Type">
               
               <xs:annotation>
                  <xs:documentation>Angivelse af årsagen til en ønskede ikrafttrædelsesdato for en afgørelse.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="UCCAnsøgningAfgørelseTidligIkræfttrædelseHarÅrsag"
                     type="skat2016:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Ja eller Nej angivelse af spørgsmålet Har virksomheden særligt gode årsager til at afgørelsen skal træde i kraft tidligere end den dag bevillingen udstedes?</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
