projects/Manifest/20160919/OIO wsdl filer/Manifest/Manifest - Udstillede wsdl filer/DKA55A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Bjarne Ulvmose (SKAT Hovedcentret) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKA55A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKA55A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--=====DKA55A:N_DECL_TS_AMEND_DK  -->
	<!--===== DECLARATION FOR TEMPORARY STORAGE AMENDMENT -->
	<!--===== Manifest /ics Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--===== Included Features: [10, 12, 18, 20, 26, 27, 28, 29]  -->
	<!--=========================================-->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKA55A" type="ie:DKA55AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKA55AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFACOPE" type="ie:TEMSTOFACOPEType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDECTEMSTO" type="ie:PERLODDECTEMSTOType">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" minOccurs="1" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="GOODS ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARROPR" type="ie:ARROPRType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="ARRIVAL OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DEPOPE" type="ie:DEPOPEType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="DEPARTURE OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRAACDOCOPE" type="ie:TRAACCDOCOPEType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TRANSIT ACCOMPAGNYING DOCUMENT OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUSCLEOPE" type="ie:CUSCLEOPEType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="CUSTOMS CLEARANCE OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDatTimHEA" type="simple:DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Expiration date and time"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--=== HEADER ===-->
	<xs:complexType name="HEAType">
		<xs:annotation>
			<xs:documentation>
				<description value="HEADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TemStoRefNumHEA" type="simple:Numeric_13" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage reference number"/>
						<rule name="R196DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefNumHEA4" type="simple:DeclarationRequestNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="LRN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InTraModHEA" type="simple:Numeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Inland transport mode"/>
						<rule name="R221DK"/>
						<rule name="R165DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdMeaTraArrHEA" type="simple:Alphanumeric_Max31" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Identification of the means of transport at arrival"/>
						<rule name="R011DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatMeaTraArrHEA" type="simple:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Nationality of the means of transport at arrival"/>
						<rule name="R038DK"/>
						<codeList name="CountryCodesFullList" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConRefNumHEA" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Conveyance reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComRefNumHEA" type="simple:Alphanumeric_Max70" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Commercial reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnPlaFacHEA" type="simple:PlaceType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Unloading place facility"/>
						<rule name="R224DK"/>
						<codeList name="Loading_UnloadingPlaceFacility"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotNumOfIteHEA305" type="simple:Numeric_Max5" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Total number of items"/>
						<rule name="R163DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotGroMasHEA307" type="simple:Decimal_11_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Total gross mass"/>
						<rule name="R164DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmeReaHEA" type="simple:Alphanumeric_Max350" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Amendment reason"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SkaRemHEA" type="simple:Alphanumeric_Max350" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="SKAT remarks"/>
						<rule name="R223DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatTimArrHEA" type="simple:DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Date and time of arrrival"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== GOODS ITEM ===-->
	<xs:complexType name="GOOITEGDSType">
		<xs:annotation>
			<xs:documentation>
				<description value="GOODS ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IteNumGDS7" type="simple:Numeric_Max5" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Item number"/>
						<rule name="R004DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroMasGDS46" type="simple:Decimal_11_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Gross mass"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CONNR2" type="ie:CONNR2Type" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="CONTAINERS"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PREADMDOC" type="ie:PREADMDOCType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="PREVIOUS ADMINISTRATIVE DOCUMENT"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== CONTAINERS =====-->
	<xs:complexType name="CONNR2Type">
		<xs:annotation>
			<xs:documentation>
				<description value="CONTAINERS"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
				<xs:annotation>
					<xs:documentation>
						<description value="Container number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PREVIUOS ADMINISTRATIVE DOCUMENT ===-->
	<xs:complexType name="PREADMDOCType">
		<xs:annotation>
			<xs:documentation>
				<description value="PREVIOUS ADMINISTRATIVE DOCUMENT"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PreDocTypPDO" type="simple:Alphanumeric_Max4" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document type"/>
						<rule name="R131DK"/>
						<codeList name="DocumentTypeCommon" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreDocRefPDO" type="simple:Alphanumeric_Max35" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document reference"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY OPERATOR ===-->
	<xs:complexType name="TEMSTOFACOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINTFO" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
						<rule name="R210DK"/>
						<rule name="R222DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE ===-->
	<xs:complexType name="PERLODDECTEMSTOType">
		<xs:annotation>
			<xs:documentation>
				<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINPDS" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepStaPDS" type="simple:Numeric_1">
				<xs:annotation>
					<xs:documentation>
						<description value="Represantive status"/>
						<rule name="R60DK"/>
						<codeList name="RepresentativeStatusCode"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== MANIFEST ITEM ===-->
	<xs:complexType name="MANITEType">
		<xs:annotation>
			<xs:documentation>
				<description value="MANIFEST ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManIteNumMIM" type="simple:Numeric_Max5">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== ARRIVAL OPERATION ===-->
	<xs:complexType name="ARROPRType">
		<xs:annotation>
			<xs:documentation>
				<description value="ARRIVAL OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManRefNumOPR" type="simple:Numeric_13" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MANMIT" type="ie:MANMITType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="MANIFEST ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== MANIFEST ITEM (ARRIVAL) ===-->
	<xs:complexType name="MANMITType">
		<xs:annotation>
			<xs:documentation>
				<description value="MANIFEST ITEM (ARRIVAL)"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManIteNumMIT" type="simple:Numeric_Max5" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== DEPARTURE OPERATION ===-->
	<xs:complexType name="DEPOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="DEPARTURE OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManRefNumDEP" type="simple:Numeric_13" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MANMAI" type="ie:MANMAIType" minOccurs="0" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<!--=== MANIFEST ITEM (DEPARTURE) ===-->
	<xs:complexType name="MANMAIType">
		<xs:annotation>
			<xs:documentation>
				<description value="MANIFEST ITEM (DEPARTURE)"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManIteNumMAI" type="simple:Numeric_Max5" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TRANSIT ACCOMPAGNYING DOCUMENT OPERATION" ===-->
	<xs:complexType name="TRAACCDOCOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TRANSIT ACCOMPAGNYING DOCUMENT OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MRNTAD" type="simple:MRNType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="MRN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CUSTOMS CLEARANCE OPEARTION ===-->
	<xs:simpleType name="CUSCLEOPEType">
		<xs:restriction base="simple:Numeric_13">
			<xs:annotation>
				<xs:documentation>
					<description value="Import refrence number"/>
				</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
