projects/Manifest/20160919/OIO wsdl filer/Manifest/Manifest - Udstillede wsdl filer/OIOEksternAnkomstOgAfgangsIndberetningOpret_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tfe="urn:oio:skat:tfe:ws:1.0.1" xmlns:dka17a="http://manifest.skat.dk/DKA17A" xmlns:dka18a="http://manifest.skat.dk/DKA18A" xmlns:dk917b="http://manifest.skat.dk/DK917B" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="urn:oio:skat:tfe:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation xml:lang="en">The english translation of "OIOEksternAnkomstOgAfgangsIndberetningOpret" is "ArrivalDepartureReportingExternalAuthorityCreate".
		 This translation applies to all names containing "OIOEksternAnkomstOgAfgangsIndberetningOpret".
		 Example: "OIOEksternAnkomstOgAfgangsIndberetningOpretServicePortType" translates to "ArrivalDepartureReportingExternalAuthorityCreateServicePortType".</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="SKAT_HovedOplysningerSvar.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/DKA17A" schemaLocation="DKA17A.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/DKA18A" schemaLocation="DKA18A.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/DK917B" schemaLocation="DK917B.xsd"/>
	<xs:element name="OIOEksternAnkomstOgAfgangsIndberetningOpret_O" type="tfe:OIOEksternAnkomstOgAfgangsIndberetningOpret_OType"/>
	<xs:complexType name="OIOEksternAnkomstOgAfgangsIndberetningOpret_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="KvitteringListe" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="dka17a:DKA17A"/>
						<xs:element ref="dka18a:DKA18A"/>
						<xs:element ref="dk917b:DK917B"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
