projects/Manifest/20160919/OIO wsdl filer/Manifest/Manifest - Udstillede wsdl filer/OIOMidlertidigOpbevaringOpsplitOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tfe="urn:oio:skat:tfe:ws:1.0.1" xmlns:dka80a="http://manifest.skat.dk/DKA80A" xmlns:eu="urn:eu" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="urn:oio:skat:tfe:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation xml:lang="en">The english translation of "OIOMidlertidigOpbevaringOpsplitOpret" is "DivideRequestTemporaryStorageFacilityCreate".
		 This translation applies to all names containing "OIOMidlertidigOpbevaringOpsplitOpret".
		 Example: "OIOMidlertidigOpbevaringOpsplitOpretServicePortType" translates to "DivideRequestTemporaryStorageFacilityCreateServicePortType".</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="SKAT_HovedOplysninger.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/DKA80A" schemaLocation="DKA80A.xsd"/>
	<xs:element name="OIOMidlertidigOpbevaringOpsplitOpret_I" type="tfe:OIOMidlertidigOpbevaringOpsplitOpret_IType"/>
	<xs:complexType name="OIOMidlertidigOpbevaringOpsplitOpret_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="InputListe" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="dka80a:DKA80A"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
