systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 eIndkomst/WSDL/package/view/AbonnentVirksomhedStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
            
      
   
   
   <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         
   
   
   
   <xs:element name="AbonnentVirksomhedStruktur" type="fase2.1:AbonnentVirksomhedStrukturType"/>
   
   
   
   <xs:complexType name="AbonnentVirksomhedStrukturType">
         
         
         
         
         
         
         
            
            
               
      
      
      
      <xs:sequence>

         
         
         
         <xs:element name="AbonnentVirksomhed">
            
            
            
            <xs:complexType>
               
               
               
               <xs:sequence>
                  
                  
                  
                  <xs:element ref="fase2.1:VirksomhedSENummer"/>

               
               
               
               </xs:sequence>
            
            
            
            </xs:complexType>
         
         
         
         </xs:element>
      
      
      
      </xs:sequence>
            
         
         
         
         
         
         
         
         
      
   
   
   
   </xs:complexType>



</xs:schema>
