systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 eIndkomst/WSDL/package/view/AngivelseNiveau4Type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
            
      
   
   
   <xs:include schemaLocation="../class/Blanket.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../view/AngivelseFeltIndholdStrukturType.xsd"/>
   
   
   
   <xs:element name="AngivelseNiveau4" type="fase2.1:AngivelseNiveau4Type"/>
   
   
   
   <xs:complexType name="AngivelseNiveau4Type">
					
      
      
      <xs:sequence>
							
         
         
         
         
         
         
         
            
            
            
               
         
         <!--Sequence removed-->
                  
         
            
            
         <xs:element ref="fase2.1:BlanketNummer"/>

         
            
            
         <xs:element name="AngivelseFeltSamling">
            
               
               
            <xs:complexType>
               
                  
                  
               <xs:sequence>

                  
                     
                     
                  <xs:element ref="fase2.1:AngivelseFeltIndholdStruktur" minOccurs="1" maxOccurs="unbounded"/>

               
                  
                  
               </xs:sequence>
            
               
               
            </xs:complexType>
         
            
            
         </xs:element>

               
      
         
         
            
         
         
         
         
         
         
         
         
      
					
      
      
      </xs:sequence>
							
   
   
   </xs:complexType>



</xs:schema>
