systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 eIndkomst/WSDL/package/view/AnsaettelseForholdVirksomhedHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   
   <xs:include schemaLocation="../class/Person.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/IndkomstVirksomhedOplysningLukketSoegeStrukturType.xsd"/>
   
   
   
   <xs:element name="AnsættelseForholdVirksomhedHent_I">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:AnsættelseForholdVirksomhedHent_IType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2311"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="AnsættelseForholdVirksomhedHent_IType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
									
         
         
         
         
         
         
         
            
            
            
            
            
               
            
            <!--Sequence removed-->

         
               
               
         <xs:element name="AnsættelseForholdVirksomhedInddata">
            
                  
                  
            <xs:complexType>
               
                     
                     
               <xs:sequence>
                  
                        
                        
                  <xs:element ref="fase2.1:AbonnentAdgangStruktur"/>
                  
                  
                  
                        
                        
                  <xs:element ref="fase2.1:AbonnentStruktur"/>

                  
                        
                        
                  <xs:element name="VirksomhedAnsættelseForholdSamling">
                     
                           
                           
                     <xs:complexType>
                        
                              
                              
                        <xs:sequence>

                           
                                 
                                 
                           <xs:element name="VirksomhedAnsættelseForhold">
                              
                                    
                                    
                              <xs:complexType>
                                 
                                       
                                       
                                 <xs:sequence>


                                    
                                          
                                          
                                    <xs:element name="Virksomhed" minOccurs="1" maxOccurs="unbounded">
                                       
                                             
                                             
                                       <xs:complexType>
                                          
                                                
                                                
                                          <xs:sequence>
                                             
                                                   
                                                   
                                             <xs:element ref="fase2.1:IndkomstVirksomhedOplysningLukketSøgeStruktur"/>

                                             
                                                   
                                                   
                                             <xs:element name="PersonValg">
                                                
                                                      
                                                      
                                                <xs:complexType>
                                                   
                                                         
                                                         
                                                   <xs:sequence>

                                                      
                                                            
                                                            
                                                      <xs:element ref="fase2.1:PersonCPRNummer" minOccurs="0" maxOccurs="unbounded"/>

                                                   
                                                         
                                                         
                                                   </xs:sequence>
                                                
                                                      
                                                      
                                                </xs:complexType>
                                             
                                                   
                                                   
                                             </xs:element>


                                          
                                                
                                                
                                          </xs:sequence>
                                       
                                             
                                             
                                       </xs:complexType>
                                    
                                          
                                          
                                    </xs:element>

                                 
                                       
                                       
                                 </xs:sequence>
                              
                                    
                                    
                              </xs:complexType>
                           
                                 
                                 
                           </xs:element>


                        
                              
                              
                        </xs:sequence>
                     
                           
                           
                     </xs:complexType>
                  
                        
                        
                  </xs:element>

               
                     
                     
               </xs:sequence>
            
                  
                  
            </xs:complexType>
         
               
               
         </xs:element>
      
            
            
            
         
         
         
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
