systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 eIndkomst/WSDL/package/view/AnsaettelsePersonStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
            
      
   
   
   <xs:include schemaLocation="../class/Person.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../view/SupplerendePersonOplysningStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/AnsaettelsePeriodeOplysningStrukturType.xsd"/>
   
   
   
   <xs:element name="AnsættelsePersonStruktur" type="fase2.1:AnsættelsePersonStrukturType"/>
   
   
   
   <xs:complexType name="AnsættelsePersonStrukturType">
         
         
         
         
         
         
         
            
            
            
            
               
      
      
      
      <xs:sequence>

         
         
         
         <xs:element name="AnsættelsePerson">
            
            
            
            <xs:complexType>
               
               
               
               <xs:sequence>
                  
                  
                  
                  <xs:element ref="fase2.1:PersonCPRNummer"/>


                  
                  
                  
                  <xs:element ref="fase2.1:SupplerendePersonOplysningStruktur" minOccurs="0"/>



               
               
               
               </xs:sequence>
            
            
            
            </xs:complexType>
         
         
         
         </xs:element>

         
         
         
         <xs:element name="AnsættelseForholdSamling">
            
            
            
            <xs:complexType>
               
               
               
               <xs:sequence>

                  
                  
                  
                  <xs:element ref="fase2.1:AnsættelsePeriodeOplysningStruktur" minOccurs="1" maxOccurs="unbounded"/>

               
               
               
               </xs:sequence>
            
            
            
            </xs:complexType>
         
         
         
         </xs:element>

               
      
      
      
      </xs:sequence>
            
         
         
         
         
         
         
         
         
      
   
   
   
   </xs:complexType>



</xs:schema>
