systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 eIndkomst/WSDL/package/view/IndkomstOplysningPersonAbonnentBestil_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

   
   
   
   <xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/IndkomstOplysningPersonStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/IndkomstOplysningVirksomhedStrukturType.xsd"/>
   
   
   
   <xs:element name="IndkomstOplysningPersonAbonnentBestil_O">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:IndkomstOplysningPersonAbonnentBestil_OType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2311"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="IndkomstOplysningPersonAbonnentBestil_OType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
										
         
         
         
         
         
         
         
            
            
            
            
            
               
            

         
               
            
         <xs:element name="IndkomstPersonAbonnentBestilUddata" minOccurs="0">
            
                  
               
            <xs:complexType>
               
                     
                  
               <xs:sequence>
                  
                        
                     
                  <xs:element ref="fase2.1:AbonnentAdgangStruktur"/>

                  
                        
                     
                  <xs:element name="AbonnentUddataSamling">
                     
                           
                        
                     <xs:complexType>
                        
                              
                           
                        <xs:sequence>


                           
                                 
                              
                           <xs:element name="AbonnentUddata" minOccurs="1" maxOccurs="unbounded">
                              
                                    
                                 
                              <xs:complexType>
                                 
                                       
                                    
                                 <xs:sequence>
                                    
                                          
                                       
                                    <xs:element ref="fase2.1:AbonnentStruktur"/>

                                    
                                          
                                       
                                    <xs:element name="IndkomstOplysning">
                                       
                                             
                                          
                                       <xs:complexType>
                                          
                                                
                                             
                                          <xs:choice>
                                             
                                                   
                                                
                                             <xs:sequence>

                                                
                                                      
                                                   
                                                <xs:element name="PersonIndkomstSamling">
                                                   
                                                         
                                                      
                                                   <xs:complexType>
                                                      
                                                            
                                                         
                                                      <xs:sequence>

                                                         
                                                               
                                                            
                                                         <xs:element ref="fase2.1:IndkomstOplysningPersonStruktur" minOccurs="1" maxOccurs="unbounded"/>

                                                      
                                                            
                                                         
                                                      </xs:sequence>
                                                   
                                                         
                                                      
                                                   </xs:complexType>
                                                
                                                      
                                                   
                                                </xs:element>

				
				
                                             
                                                   
                                                
                                             </xs:sequence>
                                             
                                                   
                                                
                                             <xs:sequence>
				

                                                
                                                      
                                                   
                                                <xs:element name="VirksomhedIndkomstSamling">
                                                   
                                                         
                                                      
                                                   <xs:complexType>
                                                      
                                                            
                                                         
                                                      <xs:sequence>

                                                         
                                                               
                                                            
                                                         <xs:element ref="fase2.1:IndkomstOplysningVirksomhedStruktur" minOccurs="1" maxOccurs="unbounded"/>

                                                      
                                                            
                                                         
                                                      </xs:sequence>
                                                   
                                                         
                                                      
                                                   </xs:complexType>
                                                
                                                      
                                                   
                                                </xs:element>


                                             
                                                   
                                                
                                             </xs:sequence>
                                          
                                                
                                             
                                          </xs:choice>
                                       
                                             
                                          
                                       </xs:complexType>
                                    
                                          
                                       
                                    </xs:element>

                                 
                                       
                                    
                                 </xs:sequence>
                              
                                    
                                 
                              </xs:complexType>
                           
                                 
                              
                           </xs:element>

                        
                              
                           
                        </xs:sequence>
                     
                           
                        
                     </xs:complexType>
                  
                        
                     
                  </xs:element>


               
                     
                  
               </xs:sequence>
            
                  
               
            </xs:complexType>
         
               
            
         </xs:element>
      
            
            
         
         
         
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
