systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 eIndkomst/WSDL/package/view/VirksomhedAnsaettelseForholdStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../operational/IndkomstOplysningAdgangReferenceNummer.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/IndberetningPligtigVirksomhedStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/AnsaettelsePersonStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/AnsaettelseUdenlandskPersonStrukturType.xsd"/>
   
   
   
   <xs:element name="VirksomhedAnsættelseForholdStruktur" type="fase2.1:VirksomhedAnsættelseForholdStrukturType"/>
   
   
   
   <xs:complexType name="VirksomhedAnsættelseForholdStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
               
      
      
      
      <xs:sequence>

         
         
         
         <xs:element name="AnsættelseForholdVirksomhed">
            
            
            
            <xs:complexType>
               
               
               
               <xs:sequence>

                  
                  
                  
                  <xs:element name="AnsættelseForhold">
                     
                     
                     
                     <xs:complexType>
                        
                        
                        
                        <xs:sequence>


                           
                           
                           
                           <xs:element name="Ansættelse" minOccurs="1" maxOccurs="unbounded">
                              
                              
                              
                              <xs:complexType>
                                 
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    
                                    <xs:element ref="fase2.1:IndberetningPligtigVirksomhedStruktur"/>


                                    
                                    
                                    
                                    <xs:element ref="fase2.1:IndkomstOplysningAdgangReferenceNummer" minOccurs="0"/>



                                    
                                    
                                    
                                    <xs:element name="AnsættelseDanskPersonSamling">
                                       
                                       
                                       
                                       <xs:complexType>
                                          
                                          
                                          
                                          <xs:sequence>

                                             
                                             
                                             
                                             <xs:element ref="fase2.1:AnsættelsePersonStruktur" minOccurs="0" maxOccurs="unbounded"/>

                                          
                                          
                                          
                                          </xs:sequence>
                                       
                                       
                                       
                                       </xs:complexType>
                                    
                                    
                                    
                                    </xs:element>


                                    
                                    
                                    
                                    <xs:element name="AnsættelseUdenlandskPersonSamling">
                                       
                                       
                                       
                                       <xs:complexType>
                                          
                                          
                                          
                                          <xs:sequence>

                                             
                                             
                                             
                                             <xs:element ref="fase2.1:AnsættelseUdenlandskPersonStruktur" minOccurs="0" maxOccurs="unbounded"/>

                                          
                                          
                                          
                                          </xs:sequence>
                                       
                                       
                                       
                                       </xs:complexType>
                                    
                                    
                                    
                                    </xs:element>


                                 
                                 
                                 
                                 </xs:sequence>
                              
                              
                              
                              </xs:complexType>
                           
                           
                           
                           </xs:element>

                        
                        
                        
                        </xs:sequence>
                     
                     
                     
                     </xs:complexType>
                  
                  
                  
                  </xs:element>


               
               
               
               </xs:sequence>
            
            
            
            </xs:complexType>
         
         
         
         </xs:element>
      
      
      
      </xs:sequence>
            
         
         
         
         
         
         
         
         
      
   
   
   
   </xs:complexType>



</xs:schema>
