services/demo/eIndkomst2/view/IndkomstOplysningSumHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:eindkomstws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../view/IndkomstOplysningPersonSumStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstOplysningVirksomhedSumStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningSumHent_O" type="eindkomstws:IndkomstOplysningSumHent_OType">
	</xs:element>
	<xs:complexType name="IndkomstOplysningSumHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="IndkomstOplysningSumUddata" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="IndkomstOplysningSumSamling">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="eindkomstws:IndkomstOplysningPersonSumStruktur" minOccurs="1" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="VirksomhedIndkomstSum">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="eindkomstws:IndkomstOplysningVirksomhedSumStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
