systems/ES/- Arkiv/ES20120222/Fase2_1Graensesnit.r6074/package/class/DriftForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Formen som virksomheden drives på.   Angiver de driftsformer som der kan oprettes virksomheder for. Driftsformen angiver, hvordan en virksomhed hæfter for sine økonomiske forpligtelser. Driftsformerne kan opdeles i hovedgrupperne: Personligt ejede, flerejede, selskaber under stiftelse, selskaber og øvrige. Der kan være sammenhæng mellem driftsform og ejer.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:include schemaLocation="../types/TypeType.xsd"/>
         <xs:include schemaLocation="../types/KodeEtCifferStartEtType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:element name="DriftFormKode" type="fase2.1:KodeType">
               
               <xs:annotation>
                  <xs:documentation>Entydig kode som identificerer en driftform.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DriftFormTekstKort" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Angiver kort tekst for tilladte værdier af driftsform, eksempelvis EF, A/S, APS m.fl.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DriftFormTekstLang" type="fase2.1:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Længere beskrivelse af en driftform.  Angiver den fulde tekst for tilladte værdier af driftsform, eksempelvis Enkeltmandsfirma, Aktieselskab, Anpartsselskab m. fl.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DriftFormBeskrivelse" type="fase2.1:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Beskrivelse af en given driftform.  Beskrivelsen har til formål at give bruger og vedligeholder mulighed for en supplerende og/eller forklarende tekst til en konkret tilladt værdi. Beskrivelsen kan eksempelvis angive formålet med den konkrete værdi og kan, når det er relevant, henvise til lovgivningens paragraffer og faglige vejledninger, hvor bruger og vedligeholder kan finde yderligere hjælp.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DriftFormVirksomhedFormType" type="fase2.1:TypeType">
               
               <xs:annotation>
                  <xs:documentation>Angiver den virksomhedsform (driftsform), som en juridisk enhed identificeret med et CVR-nummer er registreret i CVR (Det centrale virksomhedsregister).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DriftFormHæftelseForhold" type="fase2.1:KodeEtCifferStartEtType">
               
               <xs:annotation>
                  <xs:documentation>Kode som angiver hvilket hæftelsesforhold, der er gældende for driftformen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DriftFormGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DriftFormGyldigTil" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>En datotid datatype, som samlet betegner en dato og tid, med formatet dd-mm-yyyy hh:mm:ss</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
