systems/Erhvervssystemet/Erhvervssystemet20161118/OIOXML/VirksomhedAftageForholdHent_20161118/urn/oio/skat/es/ws/1_0_0/VirksomhedAftageForholdHent_O.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:esws="urn:oio:skat:es:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:es:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:es="urn:oio:skat:es:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../../../../../../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/><xs:import namespace="urn:oio:skat:es:1.0.0" schemaLocation="../../1_0_0/ElForbrugsstedAftageForholdSlutDato.xsd"/><xs:import namespace="urn:oio:skat:es:1.0.0" schemaLocation="../../1_0_0/ElForbrugsstedAftageForholdStartDato.xsd"/><xs:import namespace="urn:oio:skat:es:1.0.0" schemaLocation="../../1_0_0/ElForbrugsstedAftageNummerText.xsd"/><xs:element name="VirksomhedAftageForholdHent_O" type="esws:VirksomhedAftageForholdHent_OType">
	</xs:element>
	<xs:complexType name="VirksomhedAftageForholdHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="VirksomhedAftagereListe" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VirksomhedAftagere" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="es:ElForbrugsstedAftageNummerText"/>
									<xs:element ref="es:ElForbrugsstedAftageForholdStartDato"/>
									<xs:element ref="es:ElForbrugsstedAftageForholdSlutDato" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
