systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/view/DIASVedhaeftetFilListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r23726</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Dokument.xsd"/>
         <xs:include schemaLocation="../operational/DIASFilIndholdKode.xsd"/>
				     
         <xs:element name="DIASVedhæftetFilListeStruktur"
                     type="skat2012:DIASVedhæftetFilListeStrukturType"/>
         <xs:complexType name="DIASVedhæftetFilListeStrukturType">
         
         
         
         
         
         
         
            
            
            
               <xs:sequence>
               <xs:element name="FilListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="Fil" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="skat2012:DokumentNummer"/>
                  
                                 <xs:element ref="skat2012:DIASFilIndholdKode"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
