systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/view/SelskabSelvangivelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r23726</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../operational/SelvangivelseVersion.xsd"/>
				     
         <xs:include schemaLocation="../class/SelskabSelvangivelse.xsd"/>
         <xs:include schemaLocation="../class/Selvangivelse.xsd"/>
				     
         <xs:include schemaLocation="../operational/SelskabSelvangivelseVedhaeftetMarkering.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Valuta.xsd"/>
         <xs:include schemaLocation="../class/LigningGrundlag.xsd"/>
         <xs:include schemaLocation="../view/SelskabSelvangivelseOplysningStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DIASVedhaeftetFilListeStrukturType.xsd"/>
				     
         <xs:element name="SelskabSelvangivelseStruktur"
                     type="skat2012:SelskabSelvangivelseStrukturType"/>
         <xs:complexType name="SelskabSelvangivelseStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="Indberetter">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="skat2012:VirksomhedSENummer"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="AdministrationSelskab">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="skat2012:VirksomhedSENummer"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element ref="skat2012:SelvangivelseVersion"/>
                  
                  <xs:element ref="skat2012:SelskabSelvangivelseIndkomstÅr"/>
                  
                  <xs:element ref="skat2012:SelvangivelseDelperiodeStart"/>
                  
                  <xs:element ref="skat2012:SelvangivelseDelperiodeSlut"/>
                  
                  <xs:element ref="skat2012:SelskabSelvangivelseType"/>

               <xs:element ref="skat2012:SelskabSelvangivelseOplysningStruktur" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabSelvangivelseVedhæftetMarkering" minOccurs="0"/>



               <xs:element ref="skat2012:DIASVedhæftetFilListeStruktur" minOccurs="0"/>

               <xs:element ref="skat2012:SelskabSelvangivelseOpdateretTimestamp"/>

               <xs:element ref="skat2012:ValutaKode" minOccurs="0"/>



               <xs:element ref="skat2012:LigningGrundlagFunktionAdskillelseMedarbejderNummer"
                           minOccurs="0"/>

            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
