services/demo/eIndkomst21/view/AnsaettelseForholdKlassiskAbonnentHent_I_OType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bestillingid="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingidentifikator/xml/schemas/20071202/" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingidentifikator/xml/schemas/20071202/" schemaLocation="../class/abonnentbestillingidentifikator/xml/schemas/20071202/SKAT_AbonnentBestillingIdentifikator.xsd"/>
	<xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:element name="AnsaettelseForholdKlassiskAbonnentHent_I_O" type="fase2:AnsaettelseForholdKlassiskAbonnentHent_I_OType"/>
	<xs:complexType name="AnsaettelseForholdKlassiskAbonnentHent_I_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="AnsaettelseForholdKlassiskAbonnentHentUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="bestillingid:AbonnentBestillingIdentifikator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
