projects/Selvangivelsen/20221114/oioservice/urn/oio/skat/selvangivelse/ws/1_0_0/AegtefaelleBidragAngivelseStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" xmlns:dkcc1="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:dkcc2="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" xmlns:selvangivelse="urn:oio:skat:selvangivelse:1.0.0" xmlns:selvangivelsews="urn:oio:skat:selvangivelse:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:selvangivelse:ws:1.0.0" version="1.0" xml:lang="DA">
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdAEgtefaelleBidragPeriodeSlutDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/AlternativAdresseAdresseLinie7Text.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2003/02/13/PersonSurnameName.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressSixthLineText.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdAEgtefaelleBidragPeriodeStartDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressThirdLineText.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2003/02/13/CountryIdentificationCode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdAEgtefaelleBidragMaanedligBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressSecondLineText.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressFifthLineText.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressFourthLineText.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressFirstLineText.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../../../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2003/02/13/PersonGivenName.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/03/15/BirthDate.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:element name="AegtefaelleBidragAngivelseStruktur" type="selvangivelsews:AegtefaelleBidragAngivelseStrukturType"/>
         <xs:complexType name="AegtefaelleBidragAngivelseStrukturType">
               <xs:sequence>
                  <xs:element ref="selvangivelse:UnderholdAEgtefaelleBidragMaanedligBeloeb"/>
                  <xs:element ref="selvangivelse:UnderholdAEgtefaelleBidragPeriodeStartDato"/>
                  <xs:element ref="selvangivelse:UnderholdAEgtefaelleBidragPeriodeSlutDato"/>
               <xs:element name="AegtefaelleIdentifikationValg">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="core:PersonCivilRegistrationIdentifier"/>
				                    <xs:sequence>
                           <xs:element name="NonCPRPerson">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="dkcc1:PersonGivenName"/>
                                    <xs:element ref="dkcc1:PersonSurnameName"/>
                                    <xs:element ref="dkcc:BirthDate"/>
                                    <xs:element minOccurs="0" ref="dkcc2:PostalAddressFirstLineText"/>
                                    <xs:element minOccurs="0" ref="dkcc2:PostalAddressSecondLineText"/>
                                    <xs:element minOccurs="0" ref="dkcc2:PostalAddressThirdLineText"/>
                                    <xs:element minOccurs="0" ref="dkcc2:PostalAddressFourthLineText"/>
                                    <xs:element minOccurs="0" ref="dkcc2:PostalAddressFifthLineText"/>
                                    <xs:element minOccurs="0" ref="dkcc2:PostalAddressSixthLineText"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:AlternativAdresseAdresseLinie7Text"/>
                                    <xs:element ref="dkcc1:CountryIdentificationCode"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
