projects/Selvangivelsen/20221114/oioservice/urn/oio/skat/selvangivelse/ws/1_0_0/PersonSelvangivelseOpret_I.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:bbr="http://rep.oio.dk/bbr.dk/xml/schemas/2005/03/11/" xmlns:blanketfelt="http://rep.oio.dk/skat.dk/eindkomst/class/blanketfelt/xml/schemas/20071202/" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" xmlns:dkcc1="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:schema="http://rep.oio.dk/oib/dato.tid.maal/xml.schema/" xmlns:selvangivelse="urn:oio:skat:selvangivelse:1.0.0" xmlns:selvangivelsews="urn:oio:skat:selvangivelse:ws:1.0.0" xmlns:virksomhed="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:selvangivelse:ws:1.0.0" version="1.0" xml:lang="DA">
<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../../../../../../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/PersonSelvangivelseRevisorindberetning.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/oib/dato.tid.maal/xml.schema/" schemaLocation="../../../../../../oib/dato_tid_maal/xml_schema/AarIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RenteUdgiftAndenGaeldStiftelseProvisionBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseOvertagelsesdatoDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseDelvisUdlejningsandelProcent.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/PersonSelvangivelseFradragHelaarsomregningIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RegnskabAngivelseRevisorforbeholdKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomEjerskabErhvervetFoer1998Indikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomsavanceGenanbringelsePlaceringKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ReguleretTabKontrakterKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseUdflytningDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RegnskabAngivelseOplysningsfritagelseIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RegnskabAngivelseRevisorerklaeringKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UdviklerSENummerIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RegnskabAngivelseRevisorbistandArtKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ToFamilieBenyttelseKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomEjerskabEjerandel.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../../../../cpr_dk/xml/schemas/core/2005/03/18/AuthorityCode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseEjendomstypeKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/PersonSelvangivelseEjendomsoplysningSupplementIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/PersonSelvangivelseBeskatningsordningKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/PersonSelvangivelseVirksomhedOphoerIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RenteUdgiftAndenGaeldStatsgarantStudielaanIPengeinstitutBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/SkattepligtigPersonBemaerkningOphoerDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/PersonSelvangivelseAabenS15D.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseKoeberOvertagelsesdatoDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RegnskabAngivelseOplysningsfritagelseAarsagKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseErhvervsanvendelsesdage.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdAftaegtYdelseBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RegnskabAngivelseRevisorbistandIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseUdlejningNaertstaaendeIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2003/02/13/CountryIdentificationCode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/bbr.dk/xml/schemas/2005/03/11/" schemaLocation="../../../../../../bbr_dk/xml/schemas/2005/03/11/MunicipalRealPropertyIdentifier.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/PersonSelvangivelseHenstandsbegaeringIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/PersonSelvangivelseEjendomsoplysningAcceptIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseErhvervsanvendelsesandelProcent.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseIndflytningEfterIndkomstaarIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/PersonSelvangivelseVirksomhedOphoerTidligereIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/SkattepligtigPersonBemaerkningIndtraedenDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/blanketfelt/xml/schemas/20071202/" schemaLocation="../../../../../../skat_dk/eindkomst/class/blanketfelt/xml/schemas/20071202/BlanketFeltNummerIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/SelvangivelseFeltIndholdBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseErhvervsudlejningsdage.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseDelvisUdlejningsdage.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RegnskabAngivelseGaeldseftergivelseIndikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/SkattepligtigPersonOphoerDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RegnskabAngivelsePrivateAndeleArtKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseHelUdlejningsdage.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseIndflytningDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ToFamilieEnhedsloebeNummerIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" schemaLocation="../../../../../../skat_dk/motor/class/virksomhed/xml/schemas/20080401/VirksomhedSENummerIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressFirstLineText.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjendomAngivelseUbeboeligdage.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/SkattepligtigPersonIndtraedenDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../../../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/RenteUdgiftAndenGaeldLaanMedMereEndToEjereBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:include schemaLocation="UdenlandskEjendomStruktur.xsd"/>
         <xs:include schemaLocation="UdenlandskRentefradragStruktur.xsd"/>
         <xs:include schemaLocation="UdenlandskAktieindkomstStruktur.xsd"/>
         <xs:include schemaLocation="UdenlandskLoenStruktur.xsd"/>
         <xs:include schemaLocation="ServiceFradragAngivelseStruktur.xsd"/>
         <xs:include schemaLocation="BoerneBidragAngivelseStruktur.xsd"/>
         <xs:include schemaLocation="AegtefaelleBidragAngivelseStruktur.xsd"/>
         <xs:include schemaLocation="GaeldTilPrivatRenteUdgiftAngivelseAngivelseStruktur.xsd"/>
         <xs:element name="PersonSelvangivelseOpret_I" type="selvangivelsews:PersonSelvangivelseOpret_IType"/>
         <xs:complexType name="PersonSelvangivelseOpret_IType">
            <xs:sequence>
               <xs:element ref="kontekst:HovedOplysninger"/>
                     <xs:element name="Angiver">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="core:PersonCivilRegistrationIdentifier"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Indberetter">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="virksomhed:VirksomhedSENummerIdentifikator"/>
                              <xs:element ref="selvangivelse:UdviklerSENummerIdentifikator"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element ref="schema:AarIdentifikator"/>
                     <xs:element name="Selvangivelse">
                        <xs:complexType>
                           <xs:sequence>
                                 <xs:element minOccurs="0" name="BeloebsfeltListe">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element maxOccurs="unbounded" minOccurs="0" name="Beloebsfelt">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="blanketfelt:BlanketFeltNummerIdentifikator"/>
                                                   <xs:element ref="selvangivelse:SelvangivelseFeltIndholdBeloeb"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              <xs:element minOccurs="0" ref="selvangivelse:PersonSelvangivelseVirksomhedOphoerIndikator"/>
                              <xs:element minOccurs="0" ref="selvangivelse:PersonSelvangivelseVirksomhedOphoerTidligereIndikator"/>
                              <xs:element minOccurs="0" ref="selvangivelse:PersonSelvangivelseHenstandsbegaeringIndikator"/>
                              <xs:element minOccurs="0" ref="selvangivelse:PersonSelvangivelseBeskatningsordningKode"/>
                              <xs:element minOccurs="0" ref="selvangivelse:PersonSelvangivelseFradragHelaarsomregningIndikator"/>
                              <xs:element minOccurs="0" ref="selvangivelse:PersonSelvangivelseRevisorindberetning"/>
                              <xs:element minOccurs="0" ref="selvangivelse:PersonSelvangivelseAabenS15D"/>
                              <xs:element minOccurs="0" ref="selvangivelse:PersonSelvangivelseEjendomsoplysningAcceptIndikator"/>
                              <xs:element minOccurs="0" ref="selvangivelse:PersonSelvangivelseEjendomsoplysningSupplementIndikator"/>
                              <xs:element minOccurs="0" ref="selvangivelse:ReguleretTabKontrakterKode"/>
                              <xs:element minOccurs="0" ref="selvangivelse:SkattepligtigPersonIndtraedenDato"/>
                              <xs:element minOccurs="0" ref="selvangivelse:SkattepligtigPersonBemaerkningIndtraedenDato"/>
                              <xs:element minOccurs="0" ref="selvangivelse:SkattepligtigPersonOphoerDato"/>
                              <xs:element minOccurs="0" ref="selvangivelse:SkattepligtigPersonBemaerkningOphoerDato"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                        <xs:element minOccurs="0" name="RegnskabAngivelseListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" name="RegnskabAngivelse">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="BeloebsfeltListe">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element maxOccurs="unbounded" minOccurs="0" name="Beloebsfelt">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="blanketfelt:BlanketFeltNummerIdentifikator"/>
                                                            <xs:element ref="selvangivelse:SelvangivelseFeltIndholdBeloeb"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element name="Identifikator">
                                             <xs:complexType>
                                                <xs:choice>
                                                   <xs:element ref="virksomhed:VirksomhedSENummerIdentifikator"/>
				                                               <xs:element ref="core:PersonCivilRegistrationIdentifier"/>
                                                </xs:choice>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element minOccurs="0" ref="selvangivelse:RegnskabAngivelseOplysningsfritagelseIndikator"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:RegnskabAngivelseOplysningsfritagelseAarsagKode"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:RegnskabAngivelseRevisorbistandIndikator"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:RegnskabAngivelseRevisorbistandArtKode"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:RegnskabAngivelseRevisorerklaeringKode"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:RegnskabAngivelseRevisorforbeholdKode"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:RegnskabAngivelsePrivateAndeleArtKode"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:RegnskabAngivelseGaeldseftergivelseIndikator"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="EjendomsavanceAngivelseListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" name="EjendomsavanceAngivelse">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="BeloebsfeltListe">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element maxOccurs="unbounded" minOccurs="0" name="Beloebsfelt">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="blanketfelt:BlanketFeltNummerIdentifikator"/>
                                                            <xs:element ref="selvangivelse:SelvangivelseFeltIndholdBeloeb"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element ref="selvangivelse:EjendomsavanceGenanbringelsePlaceringKode"/>
                                          <xs:element name="Koeb">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="EjendomIdentifikation">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element name="Ejendom">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element minOccurs="0" ref="core:AuthorityCode"/>
                                                                     <xs:element minOccurs="0" ref="bbr:MunicipalRealPropertyIdentifier"/>
                                                                     <xs:element minOccurs="0" ref="dkcc:PostalAddressFirstLineText"/>
                                                                     <xs:element minOccurs="0" ref="dkcc1:CountryIdentificationCode"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element name="Salg">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="EjendomIdentifikation">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element name="Ejendom">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element minOccurs="0" ref="core:AuthorityCode"/>
                                                                     <xs:element minOccurs="0" ref="bbr:MunicipalRealPropertyIdentifier"/>
                                                                     <xs:element minOccurs="0" ref="dkcc:PostalAddressFirstLineText"/>
                                                                     <xs:element minOccurs="0" ref="dkcc1:CountryIdentificationCode"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="EjendomAngivelseListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" name="EjendomAngivelse">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="BeloebsfeltListe">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element maxOccurs="unbounded" minOccurs="0" name="Beloebsfelt">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="blanketfelt:BlanketFeltNummerIdentifikator"/>
                                                            <xs:element ref="selvangivelse:SelvangivelseFeltIndholdBeloeb"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element name="EjendomIdentifikation">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="DanskEjendom">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="core:AuthorityCode"/>
                                                            <xs:element ref="bbr:MunicipalRealPropertyIdentifier"/>
                                                               <xs:element minOccurs="0" name="ToFamilieEjendom">
                                                                  <xs:complexType>
                                                                     <xs:sequence>
                                                                        <xs:element minOccurs="0" ref="selvangivelse:ToFamilieEnhedsloebeNummerIdentifikator"/>
                                                                        <xs:element minOccurs="0" ref="selvangivelse:ToFamilieBenyttelseKode"/>
                                                                     </xs:sequence>
                                                                  </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomEjerskabEjerandel"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomEjerskabErhvervetFoer1998Indikator"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseEjendomstypeKode"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseOvertagelsesdatoDato"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseIndflytningDato"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseIndflytningEfterIndkomstaarIndikator"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseKoeberOvertagelsesdatoDato"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseUdflytningDato"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseUbeboeligdage"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseDelvisUdlejningsdage"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseDelvisUdlejningsandelProcent"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseHelUdlejningsdage"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseErhvervsanvendelsesandelProcent"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseErhvervsanvendelsesdage"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseErhvervsudlejningsdage"/>
                                          <xs:element minOccurs="0" ref="selvangivelse:EjendomAngivelseUdlejningNaertstaaendeIndikator"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="UdenlandskEjendomListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelsews:UdenlandskEjendomStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="UdenlandskRentefradragListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelsews:UdenlandskRentefradragStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="UdenlandskAktieindkomstListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelsews:UdenlandskAktieindkomstStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="UdenlandskLoenListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelsews:UdenlandskLoenStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ServiceFradragAngivelseListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelsews:ServiceFradragAngivelseStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="AftaegtYdelseListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelse:UnderholdAftaegtYdelseBeloeb"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="BoerneBidragAngivelseListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelsews:BoerneBidragAngivelseStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="AegtefaelleBidragAngivelseListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelsews:AegtefaelleBidragAngivelseStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="SGStudielaanListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelse:RenteUdgiftAndenGaeldStatsgarantStudielaanIPengeinstitutBeloeb"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="StiftelseProvisionListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelse:RenteUdgiftAndenGaeldStiftelseProvisionBeloeb"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="LaanMereEndToEjereListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelse:RenteUdgiftAndenGaeldLaanMedMereEndToEjereBeloeb"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="GaeldTilPrivatRenteUdgiftAngivelseListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" ref="selvangivelsews:GaeldTilPrivatRenteUdgiftAngivelseAngivelseStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
