projects/Selvangivelsen/20221114/oioservice/urn/oio/skat/selvangivelse/ws/1_0_0/UdenlandskAktieindkomstStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:selvangivelse="urn:oio:skat:selvangivelse:1.0.0" xmlns:selvangivelsews="urn:oio:skat:selvangivelse:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:selvangivelse:ws:1.0.0" version="1.0" xml:lang="DA">
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UdviklerUnikIdentifikationskodeIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ReguleretUdbytteUdenlandskKapitalIndkomstBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UdenlandskFormueAktieBevisKursvaerdiBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjReguleretGevinstUdenlandskBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2003/02/13/CountryIdentificationCode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UdenlandskSkatKapitalIndkomstBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UdenlandskAktieObligationsbaseretInvesteringBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/EjReguleretUdbytteUdenlandskBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnikIdentifikationskodeIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/SagHandlingTypeTekst.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ReguleretUdbytteUdenlandskBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UdenlandskSkatUdbytteskatBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UdenlandskAktieAktiebaseretInvesteringBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ReguleretGevinstUdenlandskBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:element name="UdenlandskAktieindkomstStruktur" type="selvangivelsews:UdenlandskAktieindkomstStrukturType"/>
         <xs:complexType name="UdenlandskAktieindkomstStrukturType">
               <xs:sequence>
               <xs:element name="UdenlandskAktieindkomst">
                  <xs:complexType>
                     <xs:sequence>
                           <xs:element minOccurs="0" name="UdenlandskAktieindkomstSletUaendret">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element minOccurs="0" ref="selvangivelse:UnikIdentifikationskodeIdentifikator"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:UdviklerUnikIdentifikationskodeIdentifikator"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:SagHandlingTypeTekst"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element minOccurs="0" name="UdenlandskAktieindkomstOpretRet">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element minOccurs="0" ref="selvangivelse:UnikIdentifikationskodeIdentifikator"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:UdviklerUnikIdentifikationskodeIdentifikator"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:SagHandlingTypeTekst"/>
                                    <xs:element minOccurs="0" ref="dkcc:CountryIdentificationCode"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:ReguleretUdbytteUdenlandskKapitalIndkomstBeloeb"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:EjReguleretUdbytteUdenlandskBeloeb"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:EjReguleretGevinstUdenlandskBeloeb"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:ReguleretUdbytteUdenlandskBeloeb"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:ReguleretGevinstUdenlandskBeloeb"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:UdenlandskFormueAktieBevisKursvaerdiBeloeb"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:UdenlandskSkatKapitalIndkomstBeloeb"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:UdenlandskSkatUdbytteskatBeloeb"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:UdenlandskAktieObligationsbaseretInvesteringBeloeb"/>
                                    <xs:element minOccurs="0" ref="selvangivelse:UdenlandskAktieAktiebaseretInvesteringBeloeb"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
