services/demo/Intrastat/VirksomhedSoeg.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s1:definitions name="VirksomhedSoegServiceDefinitions" targetNamespace="http://service" xmlns="" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://service" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  <wsp:UsingPolicy s1:Required="true"/>
  <wsp:Policy s0:Id="SkatGatewayAuthentication">
    <wssp:Identity xmlns:wssp="http://www.bea.com/wls90/security/policy">
      <wssp:SupportedTokens>
        <wssp:SecurityToken TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-x509-token-profile-1.0#X509v3">
		</wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Identity>
    <wssp:Integrity xmlns:wls="http://www.bea.com/wls90/security/policy/wsee#part" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
      <wssp:SignatureAlgorithm URI="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
      <wssp:CanonicalizationAlgorithm URI="http://www.w3.org/2001/10/xml-exc-c14n#"/>
      <wssp:Target>
        <wssp:DigestAlgorithm URI="http://www.w3.org/2000/09/xmldsig#sha1"/>
        <wssp:MessageParts Dialect="http://schemas.xmlsoap.org/2002/12/wsse#part">wsp:Body()</wssp:MessageParts>
      </wssp:Target>
      <wssp:Target>
        <wssp:DigestAlgorithm URI="http://www.w3.org/2000/09/xmldsig#sha1"/>
        <wssp:MessageParts Dialect="http://www.bea.com/wls90/security/policy/wsee#part">wls:SecurityHeader(wsu:Timestamp)</wssp:MessageParts>
      </wssp:Target>
      <wssp:SupportedTokens>
        <wssp:SecurityToken IncludeInMessage="true" TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-x509-token-profile-1.0#X509v3"/>
      </wssp:SupportedTokens>
    </wssp:Integrity>
  </wsp:Policy>
  <wsp:Policy s0:Id="Sign.xml">
    <wssp:Integrity xmlns:wls="http://www.bea.com/wls90/security/policy/wsee#part" xmlns:wssp="http://www.bea.com/wls90/security/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
      <wssp:SignatureAlgorithm URI="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
      <wssp:CanonicalizationAlgorithm URI="http://www.w3.org/2001/10/xml-exc-c14n#"/>
      <wssp:Target>
        <wssp:DigestAlgorithm URI="http://www.w3.org/2000/09/xmldsig#sha1"/>
        <wssp:MessageParts Dialect="http://www.bea.com/wls90/security/policy/wsee#part"> 
        wls:SystemHeaders()
      </wssp:MessageParts>
      </wssp:Target>
      <wssp:Target>
        <wssp:DigestAlgorithm URI="http://www.w3.org/2000/09/xmldsig#sha1"/>
        <wssp:MessageParts Dialect="http://www.bea.com/wls90/security/policy/wsee#part"> 
        wls:SecurityHeader(wsu:Timestamp)
      </wssp:MessageParts>
      </wssp:Target>
      <wssp:Target>
        <wssp:DigestAlgorithm URI="http://www.w3.org/2000/09/xmldsig#sha1"/>
        <wssp:MessageParts Dialect="http://schemas.xmlsoap.org/2002/12/wsse#part">
      wsp:Body()
      </wssp:MessageParts>
      </wssp:Target>
      <wssp:SupportedTokens>
        <wssp:SecurityToken IncludeInMessage="true" TokenType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-x509-token-profile-1.0#X509v3">
          <wssp:TokenIssuer>CN=TDC OCES CA,O=TDC,C=DK,</wssp:TokenIssuer>
        </wssp:SecurityToken>
      </wssp:SupportedTokens>
    </wssp:Integrity>
    <wssp:MessageAge Age="60" xmlns:wssp="http://www.bea.com/wls90/security/policy"/>
  </wsp:Policy>
  <s1:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:intrastat:ws:1.0.0" version="1.0" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" xmlns:fase2_1="urn:oio:skat:intrastat:ws:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:oio="http://rep.oio.dk/skat.dk/intrastat/" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://service" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:virksomhed="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation>OIO-service som henter SE-numre for et givent CVR-nummer.</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="OIOVirksomhedSøgInterface" type="fase2_1:OIOVirksomhedSøgInterfaceType"/>
      <xsd:complexType name="OIOVirksomhedSøgInterfaceType">
        <xsd:choice>
          <xsd:element ref="oio:OIOVirksomhedSøg_I"/>
          <xsd:element ref="fase2_1:OIOVirksomhedSøg_O"/>
        </xsd:choice>
      </xsd:complexType>
      <xsd:element name="OIOVirksomhedSøg_O" type="fase2_1:OIOVirksomhedSøg_OType"/>
      <xsd:complexType name="OIOVirksomhedSøg_OType">
        <xsd:sequence>
          <xsd:element ref="kontekst:HovedOplysningerSvar"/>
          <xsd:element minOccurs="0" ref="cvr:CVRnumberIdentifier"/>
          <xsd:element minOccurs="0" name="VirksomhedOplysninger">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="EnkeltVirksomhed">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element ref="virksomhed:VirksomhedSENummerIdentifikator"/>
                      <xsd:element ref="cvr:LegalUnitName"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" version="1.0" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" xmlns:fase2_1="urn:oio:skat:intrastat:ws:1.0.0" xmlns:oio="http://rep.oio.dk/skat.dk/intrastat/" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://service" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="VirksomhedSENummerIdentifikator" type="cvr:CVRnumberIdentifierType">
        <xsd:annotation>
          <xsd:documentation>8-cifret nummer,  der entydigt identificerer en registreret virksomhed i SKAT.
					Indhold: 8-cifret nummer,  der entydigt identificerer en registreret virksomhed i SKAT.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" version="1.1" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" xmlns:fase2_1="urn:oio:skat:intrastat:ws:1.0.0" xmlns:oio="http://rep.oio.dk/skat.dk/intrastat/" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://service" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="CVRnumberIdentifier" type="cvr:CVRnumberIdentifierType">
        <xsd:annotation>
          <xsd:documentation>Unique and generally usable identifier for all legal units included i CVR.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:simpleType name="CVRnumberIdentifierType">
        <xsd:restriction base="string">
          <xsd:length value="8"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="LegalUnitName" type="string">
        <xsd:annotation>
          <xsd:documentation>Name of the legal unit in question.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/intrastat/" version="1.0" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" xmlns:fase2_1="http://rep.oio.dk/skat.dk/intrastat/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:oio="http://rep.oio.dk/skat.dk/intrastat/" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://service" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="OIOVirksomhedSøg_I" type="fase2_1:OIOVirksomhedSøg_IType"/>
      <xsd:complexType name="OIOVirksomhedSøg_IType">
        <xsd:sequence>
          <xsd:element ref="kontekst:HovedOplysninger"/>
          <xsd:element ref="cvr:CVRnumberIdentifier"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" version="1.0" xmlns:fase2_1="urn:oio:skat:intrastat:ws:1.0.0" xmlns:oio="http://rep.oio.dk/skat.dk/intrastat/" xmlns:s0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:s1="http://service" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tsk="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <!-- HovedOplysninger -->
      <xsd:element name="HovedOplysninger" type="tsk:HovedOplysningerType"/>
      <xsd:complexType name="HovedOplysningerType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="tsk:TransaktionIdentifikator"/>
          <xsd:element minOccurs="0" ref="tsk:TransaktionTid"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:annotation>
        <xsd:documentation>
					Strukturen er en generisk svarmekanisme til at udveksle forretningsmæssige fejl og adviser med et modsvarende system. 
					Strukturen forudsætter ikke nogen servicespecifk viden, udover at navnet på den konkrete service skal stå i feltet ServiceIndikator. 
					De fejl og adviser der rapporteres med strukturen skal betragtes som unikt identificeret af ServiceIdentifikator+FejlIdentifikator 
					henholdsvis ServiceIdentifikator+AdvisIdentifikator. Herved kan forskellige services benytte overlappende serier af identifikatorer 
					og stadigvæk være unikt identificeret.
				</xsd:documentation>
      </xsd:annotation>
      <!-- HovedOplysningerSvar -->
      <xsd:element name="HovedOplysningerSvar" type="tsk:HovedOplysningerSvarType">
        <xsd:annotation>
          <xsd:documentation>
						Strukturen er en generisk svarmekanisme til at udveksle forretningsmæssige fejl og adviser med et modsvarende system. 
						Strukturen forudsætter ikke nogen servicespecifk viden, udover at navnet på den konkrete service skal stå i feltet ServiceIndikator. 
						De fejl og adviser der rapporteres med strukturen skal betragtes som unikt identificeret af ServiceIdentifikator+FejlIdentifikator henholdsvis ServiceIdentifikator+AdvisIdentifikator. Herved kan forskellige services benytte overlappende serier af identifikatorer og stadigvæk være unikt identificeret.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="HovedOplysningerSvarType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="tsk:TransaktionIdentifikator"/>
          <xsd:element minOccurs="0" ref="tsk:ServiceIdentifikator"/>
          <xsd:element minOccurs="0" ref="tsk:TransaktionTid"/>
          <xsd:element ref="tsk:SvarStruktur"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TransaktionIdentifikator" type="tsk:TransaktionIdentifikatorType">
        <xsd:annotation>
          <xsd:documentation>Felt der giver kalder af service mulighed for at binde sit eget transaktionsspor sammen med den kaldte webservice. Når brug af dette felt understøttes af en service, så vil værdier af en TransaktionIdentifikator der gives ved et kald af service blive returneret ved svar fra samme service. Der er ikke nogen bindinger på hvordan TransaktionsIdentifikatoren skal udformes, men det er hensigten at det kaldende system selv skal administrere anvendelsen af unikke identifikationer af sine kald, så svar kan matches til kald.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:simpleType name="TransaktionIdentifikatorType">
        <xsd:restriction base="xs:string">
          <xsd:minLength value="1"/>
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="TransaktionTid" type="xs:dateTime">
        <xsd:annotation>
          <xsd:documentation>Felt der giver kalder af service mulighed for at tidsstemple sit eget transaktionsspor uafhængigt af kaldte systems interne tid. Når brug af dette felt understøttes af en service, så vil værdier af en TransaktionTid der gives ved et kald af service blive returneret ved svar fra samme service. Der er ikke nogen bindinger på hvordan TransaktionTid skal udformes, udover at det er et xs:dateTime, men det er hensigten at det kaldende system kan anvende tidsstempel til hurtigt at kunne udsøge servicekald i egne loggingmekanismer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SvarStruktur" type="tsk:SvarStrukturType">
        <xsd:annotation>
          <xsd:documentation>Valg mellem et antal forretningsmæssige adviser og fejl der kan returneres fra en service. Der kan rapporteres et ubegrænset antal af begge dele i en vilkårlig orden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="SvarStrukturType">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element ref="tsk:AdvisStruktur"/>
          <xsd:element ref="tsk:FejlStruktur"/>
        </xsd:choice>
      </xsd:complexType>
      <xsd:element name="ServiceIdentifikator" type="xs:string">
        <xsd:annotation>
          <xsd:documentation>Element til at identificere den service der svarer. Dens værdi skal antage navnet på den service der svarer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AdvisStruktur" type="tsk:AdvisStrukturType">
        <xsd:annotation>
          <xsd:documentation>Et dokumentfragment med denne struktur beskriver en enkelt forretningsmæssig advisering i svaret fra en webservice. Adviseringen består i en identifikator for advisen samt en advisbeskrivelse der kan have specifikt forretningsmæssigt indhold. De forventelige værdierne i denne struktur er en del af kontrakten for de enkelte services som AdvisStruktur indgår i.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="AdvisStrukturType">
        <xsd:sequence>
          <xsd:element ref="tsk:AdvisIdentifikator"/>
          <xsd:element minOccurs="0" ref="tsk:AdvisTekst"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AdvisIdentifikator" type="tsk:FejlIdentifikatorType">
        <xsd:annotation>
          <xsd:documentation>Element til at identificere en forretningsmæssig advis fra et servicekald. Elementet er typisk en kode hvis aktuelle betydning er en del af beskrivelsen af funktionaliteten for den enkelte service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AdvisTekst" type="tsk:FejlTekstType">
        <xsd:annotation>
          <xsd:documentation>Element til at beskrive en forretningsmæssig advis fra et servicekald. Indholdet er typisk en tekst der beskriver en advarsel fra en service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FejlStruktur" type="tsk:FejlStrukturType">
        <xsd:annotation>
          <xsd:documentation>Et dokumentfragment med denne struktur beskriver en enkelt forretningsmæssig fejl i svaret fra en webservice. Fejlen består i en identifikator for fejlen samt en fejlbeskrivelse der kan have specifikt forretningsmæssigt indhold. De forventelige værdierne i denne struktur er en del af kontrakten for de enkelte services som FejlStruktur indgår i.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="FejlStrukturType">
        <xsd:sequence>
          <xsd:element ref="tsk:FejlIdentifikator"/>
          <xsd:element minOccurs="0" ref="tsk:FejlTekst"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="FejlIdentifikator" type="tsk:FejlIdentifikatorType">
        <xsd:annotation>
          <xsd:documentation>Element til at identificere en forretningsmæssig fejl fra et servicekald. Elementet er typisk en kode hvis aktuelle betydning er en del af beskrivelsen af funktionaliteten for den enkelte service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:simpleType name="FejlIdentifikatorType">
        <xsd:restriction base="xs:integer"/>
      </xsd:simpleType>
      <xsd:element name="FejlTekst" type="tsk:FejlTekstType">
        <xsd:annotation>
          <xsd:documentation>Element til at beskrive en forretningsmæssig fejl fra et servicekald. Indholdet er typisk en tekst der beskriver en forretningsmæssig fejl opstået i en service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:simpleType name="FejlTekstType">
        <xsd:restriction base="xs:string">
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://service" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://service" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getOIOVirksomhedSøg">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="int:OIOVirksomhedSøg_I" xmlns:int="http://rep.oio.dk/skat.dk/intrastat/"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getOIOVirksomhedSøgResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="urn:OIOVirksomhedSøg_O" xmlns:urn="urn:oio:skat:intrastat:ws:1.0.0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s1:types>
  <s1:message name="getOIOVirksomhedSøg">
    <s1:part element="s2:getOIOVirksomhedSøg" name="parameters"/>
  </s1:message>
  <s1:message name="getOIOVirksomhedSøgResponse">
    <s1:part element="s2:getOIOVirksomhedSøgResponse" name="parameters"/>
  </s1:message>
  <s1:portType name="VirksomhedSoeg">
    <s1:operation name="getOIOVirksomhedSøg" parameterOrder="parameters">
      <s1:input message="s2:getOIOVirksomhedSøg"/>
      <s1:output message="s2:getOIOVirksomhedSøgResponse"/>
    </s1:operation>
  </s1:portType>
  <s1:binding name="VirksomhedSoegServiceSoapBinding" type="s2:VirksomhedSoeg">
    <s3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s1:operation name="getOIOVirksomhedSøg">
      <s3:operation soapAction="" style="document"/>
      <s1:input>
        <s3:body parts="parameters" use="literal"/>
        <wsp:Policy>
          <wsp:PolicyReference URI="#Sign.xml"/>
          <wsp:PolicyReference URI="#SkatGatewayAuthentication"/>
        </wsp:Policy>
      </s1:input>
      <s1:output>
        <s3:body parts="parameters" use="literal"/>
      </s1:output>
    </s1:operation>
  </s1:binding>
  <s1:service name="VirksomhedSoegService">
    <s1:port binding="s2:VirksomhedSoegServiceSoapBinding" name="VirksomhedSoegSoapPort">
      <s3:address location="https://securegateway1test.skat.dk:443/intrastat/OIOVirksomhedSoeg/VirksomhedSoeg"/>
    </s1:port>
  </s1:service>
</s1:definitions>