services/demotin/eIndkomst11/skat_dk/eindkomst/IndkomstUdenlandskPersonStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" version="1.0" xml:lang="DA">
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:include schemaLocation="LoenPeriodeOplysningStruktur.xsd"/>
         <xs:element name="IndkomstUdenlandskPersonStruktur" type="fase2:IndkomstUdenlandskPersonStrukturType"/>
         <xs:complexType name="IndkomstUdenlandskPersonStrukturType">
               <xs:sequence>
               <xs:element name="IndkomstLoenPeriodeSamling">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="1" ref="fase2:LoenPeriodeOplysningStruktur"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               </xs:sequence>
         </xs:complexType>
      </xs:schema>
