services/review/EFIOIO_20121218/urn/oio/skat/efi/ws/1_0_1/OpskrivFordringKvitteringStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="FordringRestBeloebStruktur.xsd"/>
	<xs:include schemaLocation="HaeftelseRestBeloebStruktur.xsd"/>
	<xs:include schemaLocation="OpskrivningBeloebStruktur.xsd"/>
	<xs:element name="OpskrivFordringKvitteringStruktur" type="efiws:OpskrivFordringKvitteringStrukturType"/>
	<xs:complexType name="OpskrivFordringKvitteringStrukturType">
		<xs:sequence>
			<xs:element name="RestBeloeb">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="efiws:FordringRestBeloebStruktur"/>
						<xs:element ref="efiws:HaeftelseRestBeloebStruktur"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="efiws:OpskrivningBeloebStruktur"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
