services/test/EMCS/view/EksportGodkendelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:struct="urn:oio:skat:emcs:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:emcs:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:emcs="urn:oio:skat:emcs:1.0.1">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:emcs:1.0.1" schemaLocation="http://digitaliser.dk/resource/708762/artefact/AfgiftOperatoerPunktAfgiftIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:emcs:1.0.1" schemaLocation="http://digitaliser.dk/resource/569212/artefact/LedsagedokumentARCIdentifikator.xsd"/><xs:include schemaLocation="../view/AdresseEUStrukturType.xsd"/>
	<xs:element name="EksportGodkendelseStruktur" type="struct:EksportGodkendelseStrukturType"/>
	<xs:complexType name="EksportGodkendelseStrukturType">
		<xs:sequence>
			<xs:element name="EksportGodkendelse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="struct:AcceptGennemførtDato"/>
						<xs:element ref="struct:ToldstedReferenceNummer"/>
						<xs:element name="EksportGodkendelseLedsageDokumentSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="emcs:LedsagedokumentARCIdentifikator" minOccurs="1" maxOccurs="99"/>
									<xs:element ref="struct:LedsageDokumentSekvensNummer" minOccurs="1" maxOccurs="99"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Modtager" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="emcs:AfgiftOperatoerPunktAfgiftIdentifikator" minOccurs="0"/>
									<xs:element ref="struct:EUOperatørNavn"/>
									<xs:element ref="struct:AdresseEUStruktur"/>
									<xs:element ref="struct:SprogKode"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Accept">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="struct:AcceptReferenceNummer"/>
									<xs:element ref="struct:AcceptAnsvarlig" minOccurs="0"/>
									<xs:element ref="struct:AcceptGennemførtDato"/>
									<xs:element ref="struct:AcceptMRN"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
