services/test/EMCS/view/IE829StrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:struct="urn:oio:skat:emcs:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:emcs:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="../view/BeskedOplysningStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EksportGodkendelseStrukturType.xsd"/>
	<xs:element name="IE829Struktur" type="struct:IE829StrukturType"/>
	<xs:complexType name="IE829StrukturType">
		<xs:sequence>
			<xs:element name="IE829">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="struct:BeskedOplysningStruktur"/>
						<xs:element ref="struct:EksportGodkendelseStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
