services/test/EMCS/view/OIOLedsageDokumentOpsplitningOpret_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:struct="urn:oio:skat:emcs:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:emcs:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:emcs="urn:oio:skat:emcs:1.0.1" xmlns:ledsagedokument="http://rep.oio.dk/skat.dk/emcs/class/ledsagedokument/xml/schemas/20080301/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:import namespace="urn:oio:skat:emcs:1.0.1" schemaLocation="http://digitaliser.dk/resource/571418/artefact/IE917BeskedTekst.xsd"/><xs:import namespace="http://rep.oio.dk/skat.dk/emcs/class/ledsagedokument/xml/schemas/20080301/" schemaLocation="http://digitaliser.dk/resource/1701/artefact/SKAT_LedsagedokumentValideretDato.xsd"/><xs:import namespace="urn:oio:skat:emcs:1.0.1" schemaLocation="http://digitaliser.dk/resource/569212/artefact/LedsagedokumentARCIdentifikator.xsd"/><xs:element name="OIOLedsageDokumentOpsplitningOpret_O" type="struct:OIOLedsageDokumentOpsplitningOpret_OType">
	</xs:element>
	<xs:complexType name="OIOLedsageDokumentOpsplitningOpret_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="Output" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="LedsageDokumentSamling">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LedsageDokument" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="emcs:LedsagedokumentARCIdentifikator"/>
													<xs:element ref="ledsagedokument:LedsagedokumentValideretDato"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:element ref="emcs:IE917BeskedTekst"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
