services/prod/Arkiv/eIndkomst19/view/AnsaettelseForholdVirksomhedAbonnentBestil_I_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:bestilling="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingcallbackreference/xml/schemas/20071202/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247441/artefact/SKAT_HovedOplysninger.xsd"/>
	<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="http://digitaliser.dk/resource/3541/artefact/CPR_PersonCivilRegistrationIdentifier.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingcallbackreference/xml/schemas/20071202/" schemaLocation="../class/abonnentbestillingcallbackreference/xml/schemas/20071202/SKAT_AbonnentBestillingCallbackReference.xsd"/>
	<xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/SoegeDatoTidLukketStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstVirksomhedOplysningAAbenSoegeStrukturType.xsd"/>
	<xs:element name="AnsaettelseForholdVirksomhedAbonnentBestil_I_I" type="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_I_IType"/>
	<xs:complexType name="AnsaettelseForholdVirksomhedAbonnentBestil_I_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element ref="bestilling:AbonnentBestillingCallbackReference" minOccurs="0"/>
			<xs:element name="Inddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element name="AbonnentSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Abonnent" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:AbonnentStruktur"/>
												<xs:element ref="fase2:SøgeDatoTidLukketStruktur" minOccurs="0"/>
												<xs:element name="IndkomstValg">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="AnsættelseForholdSamling">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="AnsættelseForhold" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element ref="fase2:IndkomstVirksomhedOplysningÅbenSøgeStruktur"/>
																					<xs:element name="PersonValg">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element ref="core:PersonCivilRegistrationIdentifier" minOccurs="0" maxOccurs="unbounded"/>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
