projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/wsdl/AnkomstdeklarationOpdater.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="AnkomstdeklarationOpdaterService" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
			<xsd:include schemaLocation="../service/AnkomstdeklarationOpdaterInterface.xsd"/>
		</xsd:schema>
	</types>
	
	
	<!-- Synchronous method -->
	<message name="AnkomstdeklarationOpdaterServiceRequest">
		<part name="Request" element="fase2.1:AnkomstdeklarationOpdater_I"/>
	</message>
	<message name="AnkomstdeklarationOpdaterServiceResponse">
		<part name="Response" element="fase2.1:AnkomstdeklarationOpdater_O"/>
	</message>
	
	
	<!-- STF'ified I method -->
	<message name="AnkomstdeklarationOpdaterSTFSendAnmodRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselSendAnmod_I"/>
	</message>
	<message name="AnkomstdeklarationOpdaterSTFSendAnmodResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselSendAnmod_O"/>
	</message>
	<message name="AnkomstdeklarationOpdaterSTFSendAfslutRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselSendAfslut_I"/>
	</message>
	<message name="AnkomstdeklarationOpdaterSTFSendAfslutResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselSendAfslut_O"/>
	</message>
	<message name="AnkomstdeklarationOpdaterSTFModtagAnmodRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselModtagAnmod_I"/>
	</message>
	<message name="AnkomstdeklarationOpdaterSTFModtagAnmodResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselModtagAnmod_O"/>
	</message>
	<message name="AnkomstdeklarationOpdaterSTFModtagAfslutRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselModtagAfslut_I"/>
	</message>
	<message name="AnkomstdeklarationOpdaterSTFModtagAfslutResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselModtagAfslut_O"/>
	</message>
	
	<!-- Asynchronous O method -->
	<message name="AnkomstdeklarationOpdaterServiceRequest_O">
		<part name="Request" element="fase2.1:AnkomstdeklarationOpdater_O_I"/>
	</message>
	<message name="AnkomstdeklarationOpdaterServiceResponse_O">
		<part name="Response" element="fase2.1:AnkomstdeklarationOpdater_O_O"/>
	</message>
	
	<!-- Standard messages for all services -->
	<message name="KompenserTransRequest">
		<part name="Request" element="fase2.1:KompenserTrans"/>
	</message>
	<message name="KompenserTransResponse">
		<part name="Response" element="fase2.1:KompenserTransSvar"/>
	</message>
	
	<portType name="AnkomstdeklarationOpdaterServiceSynkronPortType">
		<!-- Synchronous operation -->
		<operation name="getAnkomstdeklarationOpdater">
			<input message="fase2.1:AnkomstdeklarationOpdaterServiceRequest"/>
			<output message="fase2.1:AnkomstdeklarationOpdaterServiceResponse"/>
		</operation>
		<!-- Default operation - always present -->
		<operation name="getKompenserTrans">
			<input message="fase2.1:KompenserTransRequest"/>
			<output message="fase2.1:KompenserTransResponse"/>
		</operation>
	</portType>
		
		
	<portType name="AnkomstdeklarationOpdaterServiceAsynkronPortType">
	
		<!-- Replace proper I operation with STF operations -->
		<operation name="getAnkomstdeklarationOpdater_ISTFSendAnmod">
			<input message="fase2.1:AnkomstdeklarationOpdaterSTFSendAnmodRequest"/>
			<output message="fase2.1:AnkomstdeklarationOpdaterSTFSendAnmodResponse"/>
		</operation>
		<operation name="getAnkomstdeklarationOpdater_ISTFSendAfslut">
			<input message="fase2.1:AnkomstdeklarationOpdaterSTFSendAfslutRequest"/>
			<output message="fase2.1:AnkomstdeklarationOpdaterSTFSendAfslutResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAnmod">
			<input message="fase2.1:AnkomstdeklarationOpdaterSTFModtagAnmodRequest"/>
			<output message="fase2.1:AnkomstdeklarationOpdaterSTFModtagAnmodResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAfslut">
			<input message="fase2.1:AnkomstdeklarationOpdaterSTFModtagAfslutRequest"/>
			<output message="fase2.1:AnkomstdeklarationOpdaterSTFModtagAfslutResponse"/>
		</operation>
	
		<!-- Asynchronous O operation -->
		<operation name="getAnkomstdeklarationOpdater_O">
			<input message="fase2.1:AnkomstdeklarationOpdaterServiceRequest_O"/>
			<output message="fase2.1:AnkomstdeklarationOpdaterServiceResponse_O"/>
		</operation>
		<!-- Default operation - always present -->
		<operation name="getKompenserTrans">
			<input message="fase2.1:KompenserTransRequest"/>
			<output message="fase2.1:KompenserTransResponse"/>
		</operation>
	</portType>
		
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Beskrivelse mangler</xs:documentation>
	</xs:annotation>
</definitions>
