projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/wsdl/MidlertidigOpbevaringOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="MidlertidigOpbevaringOpretService" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
			<xsd:include schemaLocation="../service/MidlertidigOpbevaringOpretInterface.xsd"/>
		</xsd:schema>
	</types>
	
	
	
	<!-- STF'ified I method -->
	<message name="MidlertidigOpbevaringOpretSTFSendAnmodRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselSendAnmod_I"/>
	</message>
	<message name="MidlertidigOpbevaringOpretSTFSendAnmodResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselSendAnmod_O"/>
	</message>
	<message name="MidlertidigOpbevaringOpretSTFSendAfslutRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselSendAfslut_I"/>
	</message>
	<message name="MidlertidigOpbevaringOpretSTFSendAfslutResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselSendAfslut_O"/>
	</message>
	<message name="MidlertidigOpbevaringOpretSTFModtagAnmodRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselModtagAnmod_I"/>
	</message>
	<message name="MidlertidigOpbevaringOpretSTFModtagAnmodResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselModtagAnmod_O"/>
	</message>
	<message name="MidlertidigOpbevaringOpretSTFModtagAfslutRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselModtagAfslut_I"/>
	</message>
	<message name="MidlertidigOpbevaringOpretSTFModtagAfslutResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselModtagAfslut_O"/>
	</message>
	
	<!-- Standard messages for all services -->
	<message name="KompenserTransRequest">
		<part name="Request" element="fase2.1:KompenserTrans"/>
	</message>
	<message name="KompenserTransResponse">
		<part name="Response" element="fase2.1:KompenserTransSvar"/>
	</message>
		
		
	<portType name="MidlertidigOpbevaringOpretServiceAsynkronPortIndType">
	
		<!-- Replace proper I operation with STF operations -->
		<operation name="getMidlertidigOpbevaringOpret_ISTFSendAnmod">
			<input message="fase2.1:MidlertidigOpbevaringOpretSTFSendAnmodRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpretSTFSendAnmodResponse"/>
		</operation>
		<operation name="getMidlertidigOpbevaringOpret_ISTFSendAfslut">
			<input message="fase2.1:MidlertidigOpbevaringOpretSTFSendAfslutRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpretSTFSendAfslutResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAnmod">
			<input message="fase2.1:MidlertidigOpbevaringOpretSTFModtagAnmodRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpretSTFModtagAnmodResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAfslut">
			<input message="fase2.1:MidlertidigOpbevaringOpretSTFModtagAfslutRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpretSTFModtagAfslutResponse"/>
		</operation>
	</portType>
	
		
	<portType name="MidlertidigOpbevaringOpretServiceAsynkronPortUdType">
		<!-- Replace proper O operation with STF operations -->
		<operation name="getMidlertidigOpbevaringOpret_OSTFSendAnmod">
			<input message="fase2.1:MidlertidigOpbevaringOpretSTFSendAnmodRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpretSTFSendAnmodResponse"/>
		</operation>
		<operation name="getMidlertidigOpbevaringOpret_OSTFSendAfslut">
			<input message="fase2.1:MidlertidigOpbevaringOpretSTFSendAfslutRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpretSTFSendAfslutResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAnmod">
			<input message="fase2.1:MidlertidigOpbevaringOpretSTFModtagAnmodRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpretSTFModtagAnmodResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAfslut">
			<input message="fase2.1:MidlertidigOpbevaringOpretSTFModtagAfslutRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpretSTFModtagAfslutResponse"/>
		</operation>
		<!-- Default operation - always present -->
		<operation name="getKompenserTrans">
			<input message="fase2.1:KompenserTransRequest"/>
			<output message="fase2.1:KompenserTransResponse"/>
		</operation>
	</portType>
		
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Beskrivelse mangler</xs:documentation>
	</xs:annotation>
</definitions>
