projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/wsdl/MidlertidigOpbevaringOpdater.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="MidlertidigOpbevaringOpdaterService" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
			<xsd:include schemaLocation="../service/MidlertidigOpbevaringOpdaterInterface.xsd"/>
		</xsd:schema>
	</types>
	
	
	
	<!-- STF'ified I method -->
	<message name="MidlertidigOpbevaringOpdaterSTFSendAnmodRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselSendAnmod_I"/>
	</message>
	<message name="MidlertidigOpbevaringOpdaterSTFSendAnmodResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselSendAnmod_O"/>
	</message>
	<message name="MidlertidigOpbevaringOpdaterSTFSendAfslutRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselSendAfslut_I"/>
	</message>
	<message name="MidlertidigOpbevaringOpdaterSTFSendAfslutResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselSendAfslut_O"/>
	</message>
	<message name="MidlertidigOpbevaringOpdaterSTFModtagAnmodRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselModtagAnmod_I"/>
	</message>
	<message name="MidlertidigOpbevaringOpdaterSTFModtagAnmodResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselModtagAnmod_O"/>
	</message>
	<message name="MidlertidigOpbevaringOpdaterSTFModtagAfslutRequest">
		<part name="Request" element="fase2.1:StyretFiloverførselModtagAfslut_I"/>
	</message>
	<message name="MidlertidigOpbevaringOpdaterSTFModtagAfslutResponse">
		<part name="Response" element="fase2.1:StyretFiloverførselModtagAfslut_O"/>
	</message>
	
	<!-- Standard messages for all services -->
	<message name="KompenserTransRequest">
		<part name="Request" element="fase2.1:KompenserTrans"/>
	</message>
	<message name="KompenserTransResponse">
		<part name="Response" element="fase2.1:KompenserTransSvar"/>
	</message>
		
		
	<portType name="MidlertidigOpbevaringOpdaterServiceAsynkronPortIndType">
	
		<!-- Replace proper I operation with STF operations -->
		<operation name="getMidlertidigOpbevaringOpdater_ISTFSendAnmod">
			<input message="fase2.1:MidlertidigOpbevaringOpdaterSTFSendAnmodRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpdaterSTFSendAnmodResponse"/>
		</operation>
		<operation name="getMidlertidigOpbevaringOpdater_ISTFSendAfslut">
			<input message="fase2.1:MidlertidigOpbevaringOpdaterSTFSendAfslutRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpdaterSTFSendAfslutResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAnmod">
			<input message="fase2.1:MidlertidigOpbevaringOpdaterSTFModtagAnmodRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpdaterSTFModtagAnmodResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAfslut">
			<input message="fase2.1:MidlertidigOpbevaringOpdaterSTFModtagAfslutRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpdaterSTFModtagAfslutResponse"/>
		</operation>
	</portType>
	
		
	<portType name="MidlertidigOpbevaringOpdaterServiceAsynkronPortUdType">
		<!-- Replace proper O operation with STF operations -->
		<operation name="getMidlertidigOpbevaringOpdater_OSTFSendAnmod">
			<input message="fase2.1:MidlertidigOpbevaringOpdaterSTFSendAnmodRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpdaterSTFSendAnmodResponse"/>
		</operation>
		<operation name="getMidlertidigOpbevaringOpdater_OSTFSendAfslut">
			<input message="fase2.1:MidlertidigOpbevaringOpdaterSTFSendAfslutRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpdaterSTFSendAfslutResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAnmod">
			<input message="fase2.1:MidlertidigOpbevaringOpdaterSTFModtagAnmodRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpdaterSTFModtagAnmodResponse"/>
		</operation>
		<operation name="getStyretFiloverførselModtagAfslut">
			<input message="fase2.1:MidlertidigOpbevaringOpdaterSTFModtagAfslutRequest"/>
			<output message="fase2.1:MidlertidigOpbevaringOpdaterSTFModtagAfslutResponse"/>
		</operation>
		<!-- Default operation - always present -->
		<operation name="getKompenserTrans">
			<input message="fase2.1:KompenserTransRequest"/>
			<output message="fase2.1:KompenserTransResponse"/>
		</operation>
	</portType>
		
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Beskrivelse mangler</xs:documentation>
	</xs:annotation>
</definitions>
