services/demo/eIndkomst8/view/IndkomstOplysningKlassiskAbonnentHent_O_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://eksternwiki.skat.dk/oioxml/hovedoplysninger/SKAT_HovedOplysningerSvar.xsd"/>
	<xs:include schemaLocation="../view/IndberetningPligtigVirksomhedStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstPersonStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstVirksomhedStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstUdenlandskPersonStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VirksomhedPeriodeOplysningStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningKlassiskAbonnentHent_O_O" type="fase2:IndkomstOplysningKlassiskAbonnentHent_O_OType"/>
	<xs:complexType name="IndkomstOplysningKlassiskAbonnentHent_O_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:sequence>
				<xs:element name="IndkomstOplysningKlassiskAbonnentHent_OUddata" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IndkomstOplysningVirksomhedSamling">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IndkomstOplysningVirksomhed" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="fase2:IndberetningPligtigVirksomhedStruktur"/>
													<xs:element name="IndkomstOplysningPersonSamling">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="fase2:IndkomstPersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="IndkomstOplysningVirksomhedSamling">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="fase2:IndkomstVirksomhedStruktur" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="IndkomstOplysningUdenlandskPersonSamling">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="fase2:IndkomstUdenlandskPersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="VirksomhedPeriodeOplysningSamling">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="fase2:VirksomhedPeriodeOplysningStruktur" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
