services/demo/Arkiv/eIndkomst320170223/view/AbonnentVirksomhedStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:hsws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:virksomhed="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/237613/artefact/SKAT_SEnummerIdentifikator.xsd"/><xs:element name="AbonnentVirksomhedStruktur" type="hsws:AbonnentVirksomhedStrukturType"/>
	<xs:complexType name="AbonnentVirksomhedStrukturType">
		<xs:sequence>
			<xs:element name="AbonnentVirksomhed">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="virksomhed:SEnummerIdentifikator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
