systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/wsdl/LigningSagAfgoerelseModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                        name="LigningSagAfgørelseModtagService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Anvendes til at Selskabsskat-systemet kan modtage afgørelser fra SKAT-Ligning og at ændringer derfor må gennemføres.</xs:documentation>
            <xs:documentation>1.13</xs:documentation>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/">
               <xsd:include schemaLocation="../service/LigningSagAfgoerelseModtagInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="LigningSagAfgørelseModtagServiceRequest">
            <wsdl:part name="Request" element="skat2012:LigningSagAfgørelseModtag_I"/>
         </wsdl:message>
         <wsdl:message name="LigningSagAfgørelseModtagServiceResponse">
            <wsdl:part name="Response" element="skat2012:LigningSagAfgørelseModtag_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="skat2012:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="skat2012:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="LigningSagAfgørelseModtagServicePortType">
            <wsdl:operation name="getLigningSagAfgørelseModtag">
               <wsdl:input message="skat2012:LigningSagAfgørelseModtagServiceRequest"/>
               <wsdl:output message="skat2012:LigningSagAfgørelseModtagServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="skat2012:KompenserTransRequest"/>
               <wsdl:output message="skat2012:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
