systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/wsdl/ModtagSelskabLigningGrundlagListe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                        name="ModtagSelskabLigningGrundlagListeService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Denne service modtager ligningsgrundlag (fra DIAS), som skal lægges ind i 3S og anvendes til beregning af skattebeløb.</xs:documentation>
            <xs:documentation>1.6</xs:documentation>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/">
               <xsd:include schemaLocation="../service/ModtagSelskabLigningGrundlagListeInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="ModtagSelskabLigningGrundlagListeServiceRequest">
            <wsdl:part name="Request" element="skat2012:ModtagSelskabLigningGrundlagListe_I"/>
         </wsdl:message>
         <wsdl:message name="ModtagSelskabLigningGrundlagListeServiceResponse">
            <wsdl:part name="Response" element="skat2012:ModtagSelskabLigningGrundlagListe_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="skat2012:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="skat2012:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="ModtagSelskabLigningGrundlagListeServicePortType">
            <wsdl:operation name="getModtagSelskabLigningGrundlagListe">
               <wsdl:input message="skat2012:ModtagSelskabLigningGrundlagListeServiceRequest"/>
               <wsdl:output message="skat2012:ModtagSelskabLigningGrundlagListeServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="skat2012:KompenserTransRequest"/>
               <wsdl:output message="skat2012:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
