systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/wsdl/SelskabSelvangivelseOpdater.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                        name="SelskabSelvangivelseOpdaterService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At kunne oprette og opdatere selskabers selvangivelser.  Anvendelse: - At en sagsbehandler kan lave rettelser til et selskabsselvangivelse via SKAT-Ligning, dvs SKAT-ligning vil kalde denne service. </xs:documentation>
            <xs:documentation>1.3</xs:documentation>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/">
               <xsd:include schemaLocation="../service/SelskabSelvangivelseOpdaterInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="SelskabSelvangivelseOpdaterServiceRequest">
            <wsdl:part name="Request" element="skat2012:SelskabSelvangivelseOpdater_I"/>
         </wsdl:message>
         <wsdl:message name="SelskabSelvangivelseOpdaterServiceResponse">
            <wsdl:part name="Response" element="skat2012:SelskabSelvangivelseOpdater_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="skat2012:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="skat2012:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="SelskabSelvangivelseOpdaterServicePortType">
            <wsdl:operation name="getSelskabSelvangivelseOpdater">
               <wsdl:input message="skat2012:SelskabSelvangivelseOpdaterServiceRequest"/>
               <wsdl:output message="skat2012:SelskabSelvangivelseOpdaterServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="skat2012:KompenserTransRequest"/>
               <wsdl:output message="skat2012:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
