systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/wsdl/UdenlandskJuridiskEjerHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                        name="UdenlandskJuridiskEjerHentService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Formålet med servicen er at hente registrerede oplysninger om udenlandsk juridisk ejer.</xs:documentation>
            <xs:documentation>1.0</xs:documentation>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/">
               <xsd:include schemaLocation="../service/UdenlandskJuridiskEjerHentInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="UdenlandskJuridiskEjerHentServiceRequest">
            <wsdl:part name="Request" element="skat2012:UdenlandskJuridiskEjerHent_I"/>
         </wsdl:message>
         <wsdl:message name="UdenlandskJuridiskEjerHentServiceResponse">
            <wsdl:part name="Response" element="skat2012:UdenlandskJuridiskEjerHent_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="skat2012:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="skat2012:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="UdenlandskJuridiskEjerHentServicePortType">
            <wsdl:operation name="getUdenlandskJuridiskEjerHent">
               <wsdl:input message="skat2012:UdenlandskJuridiskEjerHentServiceRequest"/>
               <wsdl:output message="skat2012:UdenlandskJuridiskEjerHentServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="skat2012:KompenserTransRequest"/>
               <wsdl:output message="skat2012:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
