systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/wsdl/UdenlandskJuridiskEjerOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                        name="UdenlandskJuridiskEjerOpretService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Formålet med servicen er at oprette en udenlandsk juridisk ejer, dvs. en ikke personlig ejer, i Erhvervssystemet på en virksomhed, der registreres i Danmark med et dansk CVR- eller SE nr.  Ejeren identificeres med den udenlandske ejers udenlandske registreringsnummer (UdenlandskVirksomhedNummer). Der registreres navn og adresse samt øvrige kontaktoplysninger for ejeren. </xs:documentation>
            <xs:documentation>1.0</xs:documentation>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/">
               <xsd:include schemaLocation="../service/UdenlandskJuridiskEjerOpretInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="UdenlandskJuridiskEjerOpretServiceRequest">
            <wsdl:part name="Request" element="skat2012:UdenlandskJuridiskEjerOpret_I"/>
         </wsdl:message>
         <wsdl:message name="UdenlandskJuridiskEjerOpretServiceResponse">
            <wsdl:part name="Response" element="skat2012:UdenlandskJuridiskEjerOpret_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="skat2012:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="skat2012:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="UdenlandskJuridiskEjerOpretServicePortType">
            <wsdl:operation name="getUdenlandskJuridiskEjerOpret">
               <wsdl:input message="skat2012:UdenlandskJuridiskEjerOpretServiceRequest"/>
               <wsdl:output message="skat2012:UdenlandskJuridiskEjerOpretServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="skat2012:KompenserTransRequest"/>
               <wsdl:output message="skat2012:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
