projects/DMO/DMO20190509/Fase2_1DMO.r19330/package/view/KontoStatusHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r19330</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../operational/OpkraevningKontoPosteringAntal.xsd"/>
				     
         <xs:element name="KontoStatusHent_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:KontoStatusHent_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r19330"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="KontoStatusHent_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="KontoStatusHentInput">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="KontoSøg">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeNummer"/>
                  
                                       <xs:element ref="fase2.1:KundeType"/>
                  
                                       <xs:element ref="fase2.1:OpkrævningKontoPosteringAntal"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
