projects/DMO/DMO20190509/Fase2_1DMO.r19330/package/view/OpkraevningFordringRenteHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r19330</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/OpkraevningFordring.xsd"/>
         <xs:element name="OpkrævningFordringRenteHent_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:OpkrævningFordringRenteHent_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r19330"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="OpkrævningFordringRenteHent_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
         
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:KundeNummer"/>
                  
                     <xs:element ref="fase2.1:KundeType"/>
                     <xs:element name="OpkrævningFordringIDValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:sequence>
                                 <xs:element name="HovedOpkrævningFordring">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:OpkrævningFordringID"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="OpkrævningRenteOpkrævningFordringListe">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <!--Sequence removed-->

                                             <xs:element name="OpkrævningRenteOpkrævningFordring">
                                                <xs:complexType>
                                                   <xs:sequence>
                                                      <xs:element ref="fase2.1:OpkrævningFordringID"/>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
                                          

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
