systems/SPIL/StdRec-Begrebsmodel/old - 21feb2011/standard records examples 25marts2011/KasinospilPrSessionStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r4177</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SpilFil.xsd"/>
         <xs:include schemaLocation="../class/Tilladelsesindehaver.xsd"/>
         <xs:include schemaLocation="../class/SpilCertifikat.xsd"/>
         <xs:include schemaLocation="../class/SpilKategori.xsd"/>
         <xs:include schemaLocation="../class/SpilType.xsd"/>
         <xs:include schemaLocation="../class/SpillerInformation.xsd"/>
         <xs:include schemaLocation="../class/Spil.xsd"/>
         <xs:include schemaLocation="../class/Kasinospil.xsd"/>
         <xs:include schemaLocation="../class/TilfaeldighedGenerator.xsd"/>
         <xs:include schemaLocation="../class/Jackpot.xsd"/>
         <xs:include schemaLocation="../class/ValutaOplysning.xsd"/>
         <xs:element name="KasinospilPrSessionStruktur"
                     type="fase2.1:KasinospilPrSessionStrukturType"/>
         <xs:complexType name="KasinospilPrSessionStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="KasinospilStruktur">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="FilInformation">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilFilIdentifikation"/>

                                 <xs:element ref="fase2.1:SpilFilErstatningIdentifikation" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="TilladelsesindehaverOgSpil">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TilladelsesindehaverNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatIdentifikation"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatTilladelsestype"/>
                  
                                 <xs:element ref="fase2.1:SpilKategoriNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeIdentifikation"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeÅbentNetværk"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="KasinospilAggregeretPrSession">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element name="KasinospilSession" minOccurs="1" maxOccurs="unbounded">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:SpillerInformationIdentifikation"/>
                  
                                          <xs:element ref="fase2.1:SpilIdentifikation"/>
                  
                                          <xs:element ref="fase2.1:SpilKøbDatoTid"/>
                  
                                          <xs:element ref="fase2.1:SpilFaktiskSlutDatoTid"/>
                  
                                          <xs:element ref="fase2.1:SpilSalgskanal"/>
                  
                                          <xs:element ref="fase2.1:SpilTerminalIdentifikation"/>
                  
                                          <xs:element ref="fase2.1:KasinospilKategori"/>
                  
                                          <xs:element ref="fase2.1:KasinospilIndskudSpil"/>

                                          <xs:element ref="fase2.1:KasinospilIndskudJackpot" minOccurs="0"/>

                                          <xs:element ref="fase2.1:KasinospilGevinstSpil"/>
                  
                                          <xs:element ref="fase2.1:KasinospilAntalTræk"/>

                                          <xs:element ref="fase2.1:KasinospilKommission" minOccurs="0"/>

                                          <xs:element ref="fase2.1:TilfældighedGeneratorIdentifikation"/>
                  
                                          <xs:element ref="fase2.1:TilfældighedGeneratorSoftwareId"/>

                                          <xs:element ref="fase2.1:JackpotIdentifikation" minOccurs="0"/>



                                          <xs:element ref="fase2.1:SpilAnnullering" minOccurs="0"/>



                                          <xs:element ref="fase2.1:SpilAnnulleringDatoTid" minOccurs="0"/>

                                          <xs:element ref="fase2.1:ValutaOplysningKode"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
