systems/SPIL/StdRec-Begrebsmodel/old - 21feb2011/standard records examples 25marts2011/ManagerspilSlutStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r4177</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SpilFil.xsd"/>
         <xs:include schemaLocation="../class/Tilladelsesindehaver.xsd"/>
         <xs:include schemaLocation="../class/SpilCertifikat.xsd"/>
         <xs:include schemaLocation="../class/SpilKategori.xsd"/>
         <xs:include schemaLocation="../class/SpilType.xsd"/>
         <xs:include schemaLocation="../class/Managerspil.xsd"/>
         <xs:include schemaLocation="../class/ValutaOplysning.xsd"/>
         <xs:element name="ManagerspilSlutStruktur" type="fase2.1:ManagerspilSlutStrukturType"/>
         <xs:complexType name="ManagerspilSlutStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="ManagerspilSlutStruktur">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="FilInformation">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilFilIdentifikation"/>

                                 <xs:element ref="fase2.1:SpilFilErstatningIdentifikation" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="TilladelsesindehaverOgSpil">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TilladelsesindehaverNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatIdentifikation"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatTilladelsestype"/>
                  
                                 <xs:element ref="fase2.1:SpilKategoriNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeIdentifikation"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="ManagerspilSlutInfo">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilTypeFaktiskSlutDatoTid"/>
                  
                                 <xs:element ref="fase2.1:ManagerspilSpillereTillIndh"/>
                  
                                 <xs:element ref="fase2.1:ManagerspilSpillereTotal"/>
                  
                                 <xs:element ref="fase2.1:ManagerspilTilmeldingBeløbTillIndh"/>

                                 <xs:element ref="fase2.1:ManagerspilTilmeldingBeløbTotal" minOccurs="0"/>

                                 <xs:element ref="fase2.1:ManagerspilTilmeldingFeeTillIndh"/>

                                 <xs:element ref="fase2.1:ManagerspilTilmeldingFeeTotal" minOccurs="0"/>

                                 <xs:element ref="fase2.1:ManagerspilTilkøbPuljeBeløbTillIndh"/>

                                 <xs:element ref="fase2.1:ManagerspilTilkøbPuljeBeløbTotal" minOccurs="0"/>

                                 <xs:element ref="fase2.1:ManagerspilTilkøbPuljeFeeTillIndh"/>

                                 <xs:element ref="fase2.1:ManagerspilTilkøbPuljeFeeTotal" minOccurs="0"/>

                                 <xs:element ref="fase2.1:ManagerspilTilføjetPrizepool"/>
                  
                                 <xs:element ref="fase2.1:ManagerspilGevinstTotal"/>
                  
                                 <xs:element ref="fase2.1:ManagerspilTilbagebetalingProcent"/>
                  
                                 <xs:element ref="fase2.1:ValutaOplysningKode"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
