systems/SPIL/StdRec-Begrebsmodel/old - 21feb2011/standard records examples 25marts2011/PokerCashGamePrSessionStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r4177</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SpilFil.xsd"/>
         <xs:include schemaLocation="../class/Tilladelsesindehaver.xsd"/>
         <xs:include schemaLocation="../class/SpilCertifikat.xsd"/>
         <xs:include schemaLocation="../class/SpilKategori.xsd"/>
         <xs:include schemaLocation="../class/SpilType.xsd"/>
         <xs:include schemaLocation="../class/SpillerInformation.xsd"/>
         <xs:include schemaLocation="../class/Spil.xsd"/>
         <xs:include schemaLocation="../class/PokerSession.xsd"/>
         <xs:include schemaLocation="../class/TilfaeldighedGenerator.xsd"/>
         <xs:include schemaLocation="../class/Jackpot.xsd"/>
         <xs:include schemaLocation="../class/ValutaOplysning.xsd"/>
         <xs:element name="PokerCashGamePrSessionStruktur"
                     type="fase2.1:PokerCashGamePrSessionStrukturType"/>
         <xs:complexType name="PokerCashGamePrSessionStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="PokerCashGameStruktur">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="FilInformation">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilFilIdentifikation"/>

                                 <xs:element ref="fase2.1:SpilFilErstatningIdentifikation" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="TilladelsesindehaverOgSpil">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TilladelsesindehaverNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatIdentifikation"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatTilladelsestype"/>
                  
                                 <xs:element ref="fase2.1:SpilKategoriNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeIdentifikation"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeÅbentNetværk"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="PokerCashGameAggregeretPrSession">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element name="CashGameSession" minOccurs="1" maxOccurs="unbounded">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:SpillerInformationIdentifikation"/>
                  
                                          <xs:element ref="fase2.1:SpilIdentifikation"/>
                  
                                          <xs:element ref="fase2.1:SpilKøbDatoTid"/>
                  
                                          <xs:element ref="fase2.1:SpilFaktiskSlutDatoTid"/>
                  
                                          <xs:element ref="fase2.1:SpilSalgskanal"/>
                  
                                          <xs:element ref="fase2.1:SpilTerminalIdentifikation"/>
                  
                                          <xs:element ref="fase2.1:PokerSessionIndskudSpil"/>
                  
                                          <xs:element ref="fase2.1:PokerSessionIndskudJackpot"/>
                  
                                          <xs:element ref="fase2.1:PokerSessionRake"/>
                  
                                          <xs:element ref="fase2.1:PokerSessionGevinstSpil"/>
                  
                                          <xs:element ref="fase2.1:PokerSessionAntalHænder"/>
                  
                                          <xs:element ref="fase2.1:TilfældighedGeneratorIdentifikation"/>
                  
                                          <xs:element ref="fase2.1:TilfældighedGeneratorSoftwareId"/>
                  
                                          <xs:element ref="fase2.1:JackpotIdentifikation"/>
                  
                                          <xs:element ref="fase2.1:SpilAnnullering"/>
                  
                                          <xs:element ref="fase2.1:SpilAnnulleringDatoTid"/>
                  
                                          <xs:element ref="fase2.1:ValutaOplysningKode"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
