systems/SPIL/StdRec-Begrebsmodel/old - 21feb2011/standard records examples 25marts2011/PokerTurneringSlutStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r4177</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SpilFil.xsd"/>
         <xs:include schemaLocation="../class/Tilladelsesindehaver.xsd"/>
         <xs:include schemaLocation="../class/SpilCertifikat.xsd"/>
         <xs:include schemaLocation="../class/SpilKategori.xsd"/>
         <xs:include schemaLocation="../class/SpilType.xsd"/>
         <xs:include schemaLocation="../class/Poker.xsd"/>
         <xs:include schemaLocation="../class/ValutaOplysning.xsd"/>
         <xs:element name="PokerTurneringSlutStruktur" type="fase2.1:PokerTurneringSlutStrukturType"/>
         <xs:complexType name="PokerTurneringSlutStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="PokerTurneringSlutStruktur">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="FilInformation">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilFilIdentifikation"/>

                                 <xs:element ref="fase2.1:SpilFilErstatningIdentifikation" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="TilladelsesindehaverOgSpil">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TilladelsesindehaverNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatIdentifikation"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatTilladelsestype"/>
                  
                                 <xs:element ref="fase2.1:SpilKategoriNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeIdentifikation"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="TurneringsSlutInfo">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilTypeFaktiskSlutDatoTid"/>
                  
                                 <xs:element ref="fase2.1:PokerAntalSpillereTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerAntalSpillereTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerAntalSpillereKval"/>
                  
                                 <xs:element ref="fase2.1:PokerBuyInTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerBuyInTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerFeeTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerFeeTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerRebuyTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerRebuyTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerAddonTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerAddonTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerBuyinAntalTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerBuyinAntalTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerRebuyAntalTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerRebuyAntalTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerAddonAntalTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PokerAddonAntalTotal"/>
                  
                                 <xs:element ref="fase2.1:PokerTilføjetPrizepool"/>
                  
                                 <xs:element ref="fase2.1:PokerGevinstTotal"/>
                  
                                 <xs:element ref="fase2.1:ValutaOplysningKode"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
