systems/SPIL/StdRec-Begrebsmodel/old - 21feb2011/standard records examples 25marts2011/PuljespilEndOfGameStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r4177</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SpilFil.xsd"/>
         <xs:include schemaLocation="../class/Tilladelsesindehaver.xsd"/>
         <xs:include schemaLocation="../class/SpilCertifikat.xsd"/>
         <xs:include schemaLocation="../class/SpilKategori.xsd"/>
         <xs:include schemaLocation="../class/SpilType.xsd"/>
         <xs:include schemaLocation="../class/Puljespil.xsd"/>
         <xs:include schemaLocation="../class/ValutaOplysning.xsd"/>
         <xs:element name="PuljespilEndOfGameStruktur" type="fase2.1:PuljespilEndOfGameStrukturType"/>
         <xs:complexType name="PuljespilEndOfGameStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="PuljespilEndOfGameStruktur">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="FilInformation">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:SpilFilIdentifikation"/>

                                 <xs:element ref="fase2.1:SpilFilErstatningIdentifikation" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="TilladelsesindehaverOgSpil">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TilladelsesindehaverNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatIdentifikation"/>
                  
                                 <xs:element ref="fase2.1:SpilCertifikatTilladelsestype"/>
                  
                                 <xs:element ref="fase2.1:SpilKategoriNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeNavn"/>
                  
                                 <xs:element ref="fase2.1:SpilTypeIdentifikation"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="Pulje">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:PuljespilEndOfGameDatoTid"/>
                  
                                 <xs:element ref="fase2.1:PuljespilIndskudSpilTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PuljespilIndskudSpilTotal"/>
                  
                                 <xs:element ref="fase2.1:PuljespilIndskudJackpotTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PuljespilIndskudJackpotTotal"/>
                  
                                 <xs:element ref="fase2.1:PuljespilAntalRækkerTillIndh"/>
                  
                                 <xs:element ref="fase2.1:PuljespilAntalRækkerTotal"/>
                  
                                 <xs:element ref="fase2.1:PuljespilGevinstPuljeBeløb"/>
                  
                                 <xs:element ref="fase2.1:ValutaOplysningKode"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
