services/prodtin/eIndkomst7/skat_dk/eindkomst/IndkomstOplysningVirksomhedAbonnentBestil_I_I.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" version="1.0" xml:lang="DA">
<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:include schemaLocation="AbonnentAdgangStruktur.xsd"/>
         <xs:include schemaLocation="AbonnentStruktur.xsd"/>
         <xs:include schemaLocation="SoegeDatoTidLukketStruktur.xsd"/>
         <xs:include schemaLocation="IndkomstVirksomhedOplysningAabenSoegeStruktur.xsd"/>
         <xs:include schemaLocation="IndkomstPersonVirksomhedStruktur.xsd"/>
         <xs:element name="IndkomstOplysningVirksomhedAbonnentBestil_I_I" type="fase2:IndkomstOplysningVirksomhedAbonnentBestil_I_IType"/>
         <xs:complexType name="IndkomstOplysningVirksomhedAbonnentBestil_I_IType">
            <xs:sequence>
               <xs:element ref="kontekst:HovedOplysninger"/>
                     <xs:element name="IndkomstOplysningVirksomhedAbonnentBestilInddata">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2:AbonnentAdgangStruktur"/>
                              <xs:element name="AbonnentSamling">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element maxOccurs="unbounded" minOccurs="1" name="Abonnent">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2:AbonnentStruktur"/>
                                                <xs:element minOccurs="0" ref="fase2:SoegeDatoTidLukketStruktur"/>
                                                <xs:element name="IndkomstSoegeValg">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element name="IndkomstVirksomhedSamling">
                                                            <xs:complexType>
                                                               <xs:sequence>
                                                                  <xs:element maxOccurs="unbounded" minOccurs="1" name="IndkomstVirksomhed">
                                                                     <xs:complexType>
                                                                        <xs:sequence>
                                                                           <xs:element ref="fase2:IndkomstVirksomhedOplysningAabenSoegeStruktur"/>
                                                                           <xs:element name="PersonVirksomhedValg">
                                                                              <xs:complexType>
                                                                                 <xs:sequence>
                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="fase2:IndkomstPersonVirksomhedStruktur"/>
                                                                                 </xs:sequence>
                                                                              </xs:complexType>
                                                                           </xs:element>
                                                                        </xs:sequence>
                                                                     </xs:complexType>
                                                                  </xs:element>
                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
