services/prodtin/eIndkomst7/skat_dk/eindkomst/IndkomstVirksomhedStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" version="1.0" xml:lang="DA">
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:include schemaLocation="IndberetningForVirksomhedStruktur.xsd"/>
         <xs:include schemaLocation="VirksomhedLoenPeriodeStruktur.xsd"/>
         <xs:element name="IndkomstVirksomhedStruktur" type="fase2:IndkomstVirksomhedStrukturType"/>
         <xs:complexType name="IndkomstVirksomhedStrukturType">
            <xs:sequence>
                  <xs:element ref="fase2:IndberetningForVirksomhedStruktur"/>
                  <xs:element name="IndkomstLoenPeriodeSamling">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element maxOccurs="unbounded" minOccurs="1" ref="fase2:VirksomhedLoenPeriodeStruktur"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
