services/test/ModtagMomsAngivelse3/urn/oio/skat/tse/1.0.3/MomsAngivelseStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:angivelse="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" xmlns:betaling="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" xmlns:momsangivelse="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" xmlns:tse2008="urn:oio:skat:tse:1.0.0" xmlns:tse2009="urn:oio:skat:tse:1.0.1" xmlns:tse2010="urn:oio:skat:tse:1.0.2" xmlns:tse2011="urn:oio:skat:tse:1.0.3" xmlns:ntse2011="urn:oio:skat:ntse:1.0.0" xmlns:virksomhed="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" targetNamespace="urn:oio:skat:tse:1.0.3" elementFormDefault="qualified" version="1.0" xml:lang="DA">
	<xs:import namespace="urn:oio:skat:ntse:1.0.0" schemaLocation="../../../../../group/oio_skat_ntse_1_0_0.xsd"/>
	<xs:import namespace="urn:oio:skat:tse:1.0.1" schemaLocation="../../../../../group/oio_skat_tse_1_0_1.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/TSE/angivelse/xml/schemas/2006/09/01/" schemaLocation="../../../../../group/rep_oio_dk_skat_dk_TSE_angivelse_xml_schemas_2006_09_01.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/TSE/betaling/xml/schemas/2006/09/01/" schemaLocation="../../../../../group/rep_oio_dk_skat_dk_TSE_betaling_xml_schemas_2006_09_01.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/TSE/momsangivelse/xml/schemas/2006/09/01/" schemaLocation="../../../../../group/rep_oio_dk_skat_dk_TSE_momsangivelse_xml_schemas_2006_09_01.xsd"/>
	<xs:import namespace="urn:oio:skat:tse:1.0.0" schemaLocation="../../../../../group/oio_skat_tse_1_0_0.xsd"/>
	<xs:element name="MomsAngivelseStruktur" type="tse2011:MomsAngivelseStrukturType">
		<xs:annotation>
			<xs:documentation>Samling af felter for en angiver (momspligtig virksomhed) i forbindelse med momsafregning til SKAT.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MomsAngivelseStrukturType">
		<xs:sequence>
			<xs:element ref="tse2009:AngiverSEnummerIdentifikator"/>
			<xs:element ref="angivelse:AngivelsePeriodeStruktur"/>
			<xs:element ref="angivelse:ValutaKode"/>
			<xs:element ref="betaling:BetalingsFormidlerKode" minOccurs="0"/>
			<xs:element ref="betaling:BetalingsDato" minOccurs="0"/>
			<xs:element ref="betaling:BetalingsBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseAfgiftTilSvarBeloeb"/>
			<xs:element ref="momsangivelse:MomsAngivelseCOtoAfgiftBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseEksportOmsBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseElAfgiftBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseEUkoebBeloeb" minOccurs="0"/>
			<xs:element name="SalgBeloebValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="ntse2011:MomsAngivelseEUSalgVarerBeloeb" minOccurs="0"/>
							<xs:element ref="ntse2011:MomsAngivelseIkkeEUSalgVarerBeloeb" minOccurs="0"/>
						</xs:sequence>
						<xs:element ref="momsangivelse:MomsAngivelseEUsalgBeloeb" minOccurs="0"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="momsangivelse:MomsAngivelseGasAfgiftBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseKulAfgiftBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseKoebsMomsBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseEUkoebMomsBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseOlieAfgiftBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseSalgsMomsBeloeb" minOccurs="0"/>
			<xs:element ref="momsangivelse:MomsAngivelseVandAfgiftBeloeb" minOccurs="0"/>
			<xs:element ref="tse2008:MomsAngivelseMomsEUYdelserBeloeb" minOccurs="0"/>
			<xs:element ref="tse2008:MomsAngivelseEUKoebYdelserBeloeb" minOccurs="0"/>
			<xs:element ref="tse2008:MomsAngivelseEUSalgYdelserBeloeb" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
