services/prod/eIndkomst/wsdl/AnsaettelseForholdVirksomhedAbonnentBestil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AnsættelseForholdVirksomhedAbonnentBestilService" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>ABONNEMENT 
En abonnents bestilling til senere (asynkron) levering af ansættelsesforhold, som en eller flere indberetningspligtige (lønudbetalere e. lign.), har indberettet, for en eller flere personer identificeret med dansk CPRnummer og/eller navn, adresse mm. 

Der kan for hver indberetningspligtig angives en liste over de ansatte med dansk CPRnummer, som udstillingen ønskes begrænset til. 

Bestilling anvendes, når der er behov for oplysning om ansættelse til opfølgningsformål. 

Muligheden anvendes typisk, når en abonnent ønsker, 
at hente eventuelle ændringer til tidligere hentede oplysninger 
at hente eventuelle nye oplysninger til brug for opfølgning på en igangværende sag, og 
at hente eventuelle ændringer til tidligere hentede oplysninger samt eventuelle nye oplysninger på en igangværende sag. 

Servicen stiller indkomstoplysninger til rådighed for myndigheder og andre, som iht. eIndkomstlovens § 7 stk. 1, jf. § 15 stk. 1 i eIndkomstbekendtgørelsen, kan anvende oplysninger fra indkomstregistret. 

Anvendelsen af servicen er betinget af, at de pågældende har indgået en abonnementsaftale med told og skatteforvaltningen herom, jf. § 7 stk. 4 i lov om et indkomstregister. 

Servicen udstilles ikke til enhver og må således alene anvendes af kendte brugere, dvs. af de myndigheder m.fl., som abonnerer på ansættelsesoplysninger. 

Servicen kan give adgang til alle oplysninger om ansættelse eller en begrænset mængde af disse oplysninger afhængig af abonnent. De oplysninger, som en abonnent ikke har adgang til, filtreres fra (fjernes før udstilling til abonnenten) på grundlag af oplysning om abonnent, abonnement og anvendelsesformål. 

Begrænsning i kredsen af indberetningspligtige, som der stilles oplysninger til rådighed for, sker hos den enkelte abonnent og fastlægges individuelt med abonnenten i den aftale, der skal indgås iht. lov og bekendtgørelse. Eksempelvis begrænser servicen ikke adgangen for en kommune til alene at omfatte de indberetningspligtige, som bor i kommunen. Denne begrænsning skal ske hos kommunen. 

Ansættelsesforhold stilles til rådighed ubearbejdet. Eventuel tolkning, sammenstilling, summering o. lign. af ansættelsesforhold sker hos den, som har adgang til ansættelsesoplysninger på grundlag af den lovgivning, som gælder for området. 

UDFYLDELSE AF SØGEPERIODE 
Når oplysninger bestilles skal der anføres mindst et og højest to sæt af søgeperioder. 

SøgeDatoTidFra og SøgeDatoTidTil kan udfyldes. SøgeDatoTidFra og SøgeDatoTidTil angiver det tidsrum, hvor indkomstoplysninger er modtaget hos SKAT. Udfyldes de, skal SøgeDatoFra og eventuelt SøgeDatoTil også udfyldes. 

Det er muligt at søge på ansættelsesperiode alene ved at udfylde SøgeDatoFra og eventuelt SøgeDatoTil. 

Det er ikke muligt at søge på den periode, som indkomstoplysningerne rent skattemæssigt hører til i (basismåned). 

SØGNING MED ANSÆTTELSESPERIODE 
Hvis SøgeDatoFra er udfyldt hentes der ansættelsesforhold, hvis gyldighedsperiode ligger helt eller delvist efter den angivne SøgeDatoFra samt ansættelsesforhold, som ikke har slutdato, når ansættelsesforholdets startdato er mindre end eller lig med SøgeDatoFra. 

Hvis både SøgeDatoFra og SøgeDatoTil er udfyldt, hentes der oplysninger, hvis faktiske ansættelsesperiode er helt eller delvis omfattet af den angivne søgeperiode. Hvis et ansættelsesforhold ikke har slutdato, er det omfattet af den angivne tidsperiode, når ansættelsesforholdets startdato er mindre end eller lig SøgeDatoTil. 

SØGNING MED DATO OG TID 
SøgeDatoTidFra og SøgeDatoTidTil indebærer, at der hentes oplysninger om ansættelse, som er indberettet i den angivne tidsperiode. 

Denne søgeperiode skal kombineres med enten en SøgeDatoFra eller SøgeDatoFra og SøgeDatoTil for ikke at hente oplysninger, som ligger før den periode, som er relevant for abonnenten. SøgeDatoFra udtrykker således det tidligste tidspunkt, som der må hentes oplysninger for, som er indberettet i den periode, som er angivet med SøgeDatoTidFra og SøgeDatoTidTil. 

Hvis SøgeDatoFra er udfyldt, hentes der ansættelsesoplysninger, hvis gyldighedsperiode ligger helt eller delvist efter den angivne SøgeDatoFra samt ansættelsesforhold, som ikke har slutdato, når ansættelsesforholdets startdato er mindre end eller lig med SøgeDatoFra. 
Hvis både SøgeDatoFra og SøgeDatoTil er udfyldt, hentes der oplysninger, hvis faktiske ansættelsesperiode er helt eller delvis omfattet af den angivne søgeperiode. Hvis et ansættelsesforhold ikke har slutdato, er det omfattet af den angivne tidsperiode, når ansættelsesforholdets startdato er mindre end eller lig SøgeDatoTil. 

LOGNING 
En myndigheds (abonnents) anmodning om adgang til oplysninger kan udstilles til den, som oplysningerne vedrører, eksempelvis via Skattemappen for personer. Om der sker udstilling fastlægges i abonnementsaftalen for hver abonnent for hvert adgangsformål. Eventuel oplysning fra en abonnent om medarbejderidentifikation udstilles dog ikke. 

Der stilles ikke oplysninger til rådighed, hvis der er krav om logning, og adgangen til oplysningerne ikke kan logges. 

ANDRE FORHOLD 
Servicen kan ikke anvendes i digitale selvbetjeningsløsninger til virksomheder. 

Servicen anvendes normalt ikke til præsentation af oplysninger via en brugergrænseflade for en sagsbehandler, da bestilte oplysninger først leveres efter et stykke tid, medmindre abonnenten understøtter asynkron levering af bestilte oplysninger til en brugergrænseflade.

</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<soap:schema targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:p="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<soap:include schemaLocation="../service/AnsaettelseForholdVirksomhedAbonnentBestilInterface.xsd"/>
		</soap:schema>
	</wsdl:types>
	<wsdl:message name="AnsaettelseForholdVirksomhedAbonnentBestil_IServiceRequest">
		<wsdl:part element="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_I_I" name="Request"/>
	</wsdl:message>
	<wsdl:message name="AnsaettelseForholdVirksomhedAbonnentBestil_IServiceResponse">
		<wsdl:part element="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_I_O" name="Response"/>
	</wsdl:message>
	<wsdl:message name="AnsaettelseForholdVirksomhedAbonnentBestil_OServiceRequest">
		<wsdl:part element="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_O_I" name="Request"/>
	</wsdl:message>
	<wsdl:message name="AnsaettelseForholdVirksomhedAbonnentBestil_OServiceResponse">
		<wsdl:part element="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_O_O" name="Response"/>
	</wsdl:message>
	<wsdl:message name="AnsaettelseForholdVirksomhedAbonnentBestil_OKServiceRequest">
		<wsdl:part element="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_OK_I" name="Request"/>
	</wsdl:message>
	<wsdl:message name="AnsaettelseForholdVirksomhedAbonnentBestil_OKServiceResponse">
		<wsdl:part element="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_OK_O" name="Response"/>
	</wsdl:message>
	<wsdl:portType name="AnsaettelseForholdVirksomhedAbonnentBestil_IServicePortType">
		<wsdl:operation name="getAnsaettelseForholdVirksomhedAbonnentBestil_I">
			<wsdl:input message="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_IServiceRequest"/>
			<wsdl:output message="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_IServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AnsaettelseForholdVirksomhedAbonnentBestil_OServicePortType">
		<wsdl:operation name="getAnsaettelseForholdVirksomhedAbonnentBestil_O">
			<wsdl:input message="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_OServiceRequest"/>
			<wsdl:output message="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_OServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AnsaettelseForholdVirksomhedAbonnentBestil_OKServicePortType">
		<wsdl:operation name="getAnsaettelseForholdVirksomhedAbonnentBestil_OK">
			<wsdl:input message="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_OKServiceRequest"/>
			<wsdl:output message="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_OKServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Binding1" type="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_IServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAnsaettelseForholdVirksomhedAbonnentBestil_I">
			<soap:operation soapAction="urn:#AnsaettelseForholdVirksomhedAbonnentBestil_I"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Binding2" type="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_OServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAnsaettelseForholdVirksomhedAbonnentBestil_O">
			<soap:operation soapAction="urn:#AnsaettelseForholdVirksomhedAbonnentBestil_O"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Binding3" type="fase2:AnsaettelseForholdVirksomhedAbonnentBestil_OKServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAnsaettelseForholdVirksomhedAbonnentBestil_OK">
			<soap:operation soapAction="urn:#getAnsaettelseForholdVirksomhedAbonnentBestil_OK"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AnsaettelseForholdVirksomhedAbonnentBestil">
		<wsdl:port binding="fase2:Binding1" name="Binding1Port">
			<soap:address location="https://services.extranet.skat.dk/vericert/services/AnsaettelseForholdVirksomhedAbonnentBestilServicePort"/>
		</wsdl:port>
		<wsdl:port binding="fase2:Binding2" name="Binding2Port">
			<soap:address location="https://services.extranet.skat.dk/vericert/services/BestillingHent "/>
		</wsdl:port>
		<wsdl:port binding="fase2:Binding3" name="Binding3Port">
			<soap:address location="https://services.extranet.skat.dk/vericert/services/BestillingModtaget "/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
