systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 A D/WSDL/package/class/Adresse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>En superklasse i forhold til de specialiserede klasser: VirksomhedAdresse og PersonAdresse. Indeholder ordnede adresselagringer, hvor hvert adresseelement udfyldes særskilt. Fritekst-adresser benyttes i stedet for, klassen AlternativeAdresse.</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/VirksomhedAdresseLoebeNummerType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/AdresseAnvendelseKodeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/VejKodeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/HusNummerType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/HusBogstavType.xsd"/>
      
      
      
   
   
   <xs:include schemaLocation="../types/LigeUligeType.xsd"/>
      
      
   
   
   <xs:include schemaLocation="../types/NavnType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/EtageType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/EtageTekstType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/SideDoerTekstType.xsd"/>
      
      
   
   
   <xs:include schemaLocation="../types/PostNummerType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/PostDistriktType.xsd"/>
      
      
      
   
   
   <xs:include schemaLocation="../types/LandsDelType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/PostBoksNummerType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
      
      
   
   
   <xs:element name="AdresseFortløbendeNummer" type="fase2.1:VirksomhedAdresseLøbeNummerType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver fortløbende nummerering ved flere adresser af samme type og på samme tidspunkt.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseAnvendelseKode" type="fase2.1:AdresseAnvendelseKodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Kode som angiver adresseringsmuligheder.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseVejNavn" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver navnet  på en vej/gade  i Danmark</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseVejKode" type="fase2.1:VejKodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Kode der sammen med kommunenummer entydigt identificerer en vej eller en del af en vej i Danmark.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseFraHusNummer" type="fase2.1:HusNummerType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver 1. husnummer i et vejafsnit i gaden eller på vejen.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseFraHusBogstav" type="fase2.1:HusBogstavType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver bogstav tilknyttet husnummeret.  Ifølge bekendtgørelse om vejnavne og adresser må kun værdierne A-Z benyttes. På grund af risikoen for forveksling bør bogstaverne I, J, O og Q dog ikke benyttes</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseTilHusNummer" type="fase2.1:HusNummerType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver sidste lige husnummer i et vejafsnit i gaden eller på vejen.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseTilHusBogstav" type="fase2.1:HusBogstavType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver bogstav tilknyttet husnummeret.  Ifølge bekendtgørelse om vejnavne og adresser må kun værdierne A-Z benyttes. På grund af risikoen for forveksling bør bogstaverne I, J, O og Q dog ikke benyttes</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseLigeUlige" type="fase2.1:LigeUligeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angivelse om tal er lige eller ulige.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseLejlighedNummer" type="fase2.1:HusNummerType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseHusNavn" type="fase2.1:NavnType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseEtage" type="fase2.1:EtageType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseEtageTekst" type="fase2.1:EtageTekstType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver etagen tilknyttet husnummer/husbogstav</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseSideDørTekst" type="fase2.1:SideDørTekstType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver side/dør tilknyttet husnummer/husbogstav</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseCONavn" type="fase2.1:NavnType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver navn for en CO-adresse (for virksomheder)</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdressePostNummer" type="fase2.1:PostNummerType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver postnummer (4-cifre)</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdressePostDistrikt" type="fase2.1:PostDistriktType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver postdistriktnavn for postnummer</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseLandsBy" type="fase2.1:NavnType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseByNavn" type="fase2.1:NavnType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver bynavn (lokalt stednavn)</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseLandsDel" type="fase2.1:LandsDelType">
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdressePostBox" type="fase2.1:PostBoksNummerType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver postboksnummer</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseGyldigFra" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver startdato for adresse (år md dg)</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseGyldigTil" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver slutdato for adressen (år md dg)</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
