systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 A D/WSDL/package/class/MeddelelseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Enhver meddelelse, der skal sendes af A&amp;D har en type. Den type bruges til styre hvordan meddelelsen skal sendes, hvor den skal sendes og hvordan den skal formateres.  Meddelelsestyper sættes op af procesejer. </xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/MeddelelseKodeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/URLType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/JaNejType.xsd"/>
      
   
   
   <xs:element name="MeddelelseTypeNavn" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Navn på meddelelsestypen. Se liste over værdier.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="MeddelelseTypeNummer" type="fase2.1:MeddelelseKodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Unikt ID af den enkelte meddelelsestype.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="MeddelelseTypeFagsystemKvitteringAdresse" type="fase2.1:URLType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Hvis denne adresse er angivet, skal A&amp;D sende en kvittering tilbage til fagsystemet på denne adresse. Muligvis tom.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="MeddelelseTypeKunOfficielAdresse" type="fase2.1:JaNejType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Ja: betyder at en meddelelse kun må sendes til kundens officielle adresse.  Nej: betyder at en meddelese også kan sendes til kundes eventuelle andre adresser.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
