projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/view/IEA58MidlertidigOpbevaringOpretAcceptStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14874</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/MidlertidigOpbevaring.xsd"/>
         <xs:include schemaLocation="../class/SummariskAngivelse.xsd"/>
         <xs:include schemaLocation="../class/VarePost.xsd"/>
         <xs:include schemaLocation="../class/Kolli.xsd"/>
         <xs:include schemaLocation="../class/Container.xsd"/>
         <xs:include schemaLocation="../class/ForudgaaendeAdministrativtDokument.xsd"/>
         <xs:include schemaLocation="../class/Transportdeklaration.xsd"/>
         <xs:include schemaLocation="../class/ManifestPost.xsd"/>
         <xs:include schemaLocation="../class/Advisering.xsd"/>
         <xs:include schemaLocation="../class/AdviseringMeddelelse.xsd"/>
         <xs:include schemaLocation="../class/ToldOperatoer.xsd"/>
         <xs:include schemaLocation="../class/EUOperatoer.xsd"/>
         <xs:include schemaLocation="../class/Toldsted.xsd"/>
         <xs:element name="IEA58MidlertidigOpbevaringOpretAcceptStruktur"
                     type="fase2.1:IEA58MidlertidigOpbevaringOpretAcceptStrukturType"/>
         <xs:complexType name="IEA58MidlertidigOpbevaringOpretAcceptStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="IEA58">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="MidlertidigOpbevaring">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringMIONummer"/>

                                 <xs:element ref="fase2.1:SummariskAngivelseLokalReference" minOccurs="0"/>



                                 <xs:element ref="fase2.1:MidlertidigOpbevaringKlarTilAntagelseDatoTid" minOccurs="0"/>



                                 <xs:element ref="fase2.1:SummariskAngivelseForventetAnkomstDatoTid" minOccurs="0"/>



                                 <xs:element ref="fase2.1:MidlertidigOpbevaringAntagelseDatoTid" minOccurs="0"/>



                                 <xs:element ref="fase2.1:SummariskAngivelseFaktiskAnkomstDatoTid" minOccurs="0"/>

                                 <xs:element ref="fase2.1:SummariskAngivelseStatusKode"/>
                  
                                 <xs:element ref="fase2.1:SummariskAngivelseAntalVarePoster"/>
                  
                                 <xs:element ref="fase2.1:SummariskAngivelseAntalKolli"/>
                  
                                 <xs:element ref="fase2.1:SummariskAngivelseTotalBruttoMasse"/>

                                 <xs:element ref="fase2.1:SummariskAngivelseKommercielReferencenummer" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="VarePostListe">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element name="VarePost" minOccurs="1" maxOccurs="99">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:VarePostLøbeNummer"/>
                  
                                          <xs:element ref="fase2.1:VarePostBeskrivelse"/>
                  
                                          <xs:element ref="fase2.1:VarePostBruttoMasse"/>
                                          <xs:element name="Kolli">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element ref="fase2.1:KolliAntal" minOccurs="0"/>

                                                   <xs:element ref="fase2.1:KolliArt"/>

                                                   <xs:element ref="fase2.1:KolliAntalEnheder" minOccurs="0"/>



                                                   <xs:element ref="fase2.1:KolliMærkeOgNummer" minOccurs="0"/>


                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element name="ContainerListe">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element name="Container" minOccurs="0" maxOccurs="99">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:ContainerID"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                          <xs:element name="ForudgåendeAdministrativtDokumentListe">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element name="ForudgåendeAdministrativtDokument" minOccurs="1" maxOccurs="9">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:ForudgåendeAdministrativtDokumentType"/>
                  
                                                            <xs:element ref="fase2.1:ForudgåendeAdministrativtDokumentReference"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                        <xs:element name="Transportdeklaration">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TransportdeklarationReferenceNummer"/>
                                 <xs:element name="ManifestPostListe">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="ManifestPost" minOccurs="0" maxOccurs="9">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:ManifestPostLøbeNummer"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="AdviseringListe">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element name="Advisering" minOccurs="1" maxOccurs="9">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:AdviseringType"/>
                  
                                          <xs:element ref="fase2.1:AdviseringDatoTid"/>
                  
                                          <xs:element ref="fase2.1:AdviseringMeddelelseKode"/>
                  
                                          <xs:element ref="fase2.1:AdviseringMeddelelseBeskrivelse"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                        <xs:element name="MidlertidigOpbevaringFacilitet">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringBevillingType"/>
                  
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringFacilitetAdresseLøbenummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <!--Sequence removed-->

                           <xs:element name="MidlertidigOpbevaringFacilitetOperatør" minOccurs="0">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                    <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                  
                                    <xs:element ref="fase2.1:EUOperatørNavn"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        

                        <xs:element name="Registrator">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                  
                                 <xs:element ref="fase2.1:EUOperatørNavn"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="AnkomstToldsted">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldstedReferenceNummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="KontrolToldsted">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldstedReferenceNummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
