projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/view/IEA71SletMidlertidigOpbevaringAcceptStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14874</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/MidlertidigOpbevaring.xsd"/>
         <xs:include schemaLocation="../class/SummariskAngivelse.xsd"/>
         <xs:include schemaLocation="../class/ToldOperatoer.xsd"/>
         <xs:include schemaLocation="../class/EUOperatoer.xsd"/>
         <xs:include schemaLocation="../class/Advisering.xsd"/>
         <xs:include schemaLocation="../class/AdviseringMeddelelse.xsd"/>
         <xs:element name="IEA71SletMidlertidigOpbevaringAcceptStruktur"
                     type="fase2.1:IEA71SletMidlertidigOpbevaringAcceptStrukturType"/>
         <xs:complexType name="IEA71SletMidlertidigOpbevaringAcceptStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="IEA71">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="MidlertidOpbevaring">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringMIONummer"/>
                  
                                 <xs:element ref="fase2.1:SummariskAngivelseStatusKode"/>
                  
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringSletDatoTid"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="MidlertidigOpbevaringFacilitetOperatør">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                  
                                 <xs:element ref="fase2.1:EUOperatørNavn"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="Registrator">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                  
                                 <xs:element ref="fase2.1:EUOperatørNavn"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="AdviseringListe">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element name="Advisering" minOccurs="1" maxOccurs="9">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:AdviseringType"/>
                  
                                          <xs:element ref="fase2.1:AdviseringDatoTid"/>
                  
                                          <xs:element ref="fase2.1:AdviseringMeddelelseKode"/>
                  
                                          <xs:element ref="fase2.1:AdviseringMeddelelseBeskrivelse"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
