projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/view/IEA90OpretMIOFraMIGStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14874</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/MidlertidigOpbevaring.xsd"/>
         <xs:include schemaLocation="../class/SummariskAngivelse.xsd"/>
         <xs:include schemaLocation="../class/ToldOperatoer.xsd"/>
         <xs:include schemaLocation="../class/EUOperatoer.xsd"/>
         <xs:include schemaLocation="../class/Land.xsd"/>
         <xs:include schemaLocation="../class/AlternativAdresse.xsd"/>
         <xs:element name="IEA90OpretMIOFraMIGStruktur"
                     type="fase2.1:IEA90OpretMIOFraMIGStrukturType"/>
         <xs:complexType name="IEA90OpretMIOFraMIGStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="IEA90">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="MidlertidigOpbevaringPåGrænse">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringMIONummer"/>

                                 <xs:element ref="fase2.1:SummariskAngivelseKommercielReferencenummer" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="MidlertidigOpbevaringFacilitet">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringBevillingType"/>
                  
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringFacilitetAdresseLøbenummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="MidlertidigOpbevaringFacilitetOperatør">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="Modtager">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>

                                 <xs:element ref="fase2.1:ToldOperatørTINNummer" minOccurs="0"/>



                                 <xs:element ref="fase2.1:EUOperatørNavn" minOccurs="0"/>



                                 <xs:element ref="fase2.1:LandKode" minOccurs="0"/>


                                 <!--Sequence removed-->

                                    <xs:element name="VejnavnNummer" minOccurs="0">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:AlternativAdresseAdresseLinie1"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 

                                 <!--Sequence removed-->

                                    <xs:element name="Postkode" minOccurs="0">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:AlternativAdresseAdresseLinie2"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 

                                 <!--Sequence removed-->

                                    <xs:element name="By" minOccurs="0">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:AlternativAdresseAdresseLinie3"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="Registrator">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørRepræsentantStatus"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
