projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/view/IEA97MidlertidigOpbevaringPaaGraenseFraTadStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14874</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Transit.xsd"/>
         <xs:include schemaLocation="../class/SummariskAngivelse.xsd"/>
         <xs:include schemaLocation="../class/Losningssted.xsd"/>
         <xs:include schemaLocation="../class/ToldOperatoer.xsd"/>
         <xs:element name="IEA97MidlertidigOpbevaringPåGrænseFraTadStruktur"
                     type="fase2.1:IEA97MidlertidigOpbevaringPåGrænseFraTadStrukturType"/>
         <xs:complexType name="IEA97MidlertidigOpbevaringPåGrænseFraTadStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="IEA97">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="TransitAngivelse">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TransitMRNNummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <!--Sequence removed-->

                           <xs:element name="MidlertidigOpbevaringPåGrænse" minOccurs="0">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:SummariskAngivelseLokalReference"/>
                  
                                    <xs:element ref="fase2.1:LosningsstedKode"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        

                        <xs:element name="MidlertidigOpbevaringPåGrænseOperatør">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="Registrator">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørRepræsentantStatus"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
