projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/view/IEA98OpretMidlertidigOplagPaaGraenseAcceptStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14874</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/MidlertidigOpbevaring.xsd"/>
         <xs:include schemaLocation="../class/SummariskAngivelse.xsd"/>
         <xs:include schemaLocation="../class/Transit.xsd"/>
         <xs:include schemaLocation="../class/Advisering.xsd"/>
         <xs:include schemaLocation="../class/AdviseringMeddelelse.xsd"/>
         <xs:include schemaLocation="../class/ToldOperatoer.xsd"/>
         <xs:include schemaLocation="../class/EUOperatoer.xsd"/>
         <xs:element name="IEA98OpretMidlertidigOplagPåGrænseAcceptStruktur"
                     type="fase2.1:IEA98OpretMidlertidigOplagPåGrænseAcceptStrukturType"/>
         <xs:complexType name="IEA98OpretMidlertidigOplagPåGrænseAcceptStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="IEA98">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="MidlertidigOpbevaring">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringMIONummer"/>

                                 <xs:element ref="fase2.1:SummariskAngivelseLokalReference" minOccurs="0"/>

                                 <xs:element ref="fase2.1:SummariskAngivelseAntalVarePoster"/>

                                 <xs:element ref="fase2.1:SummariskAngivelseAntalKolli" minOccurs="0"/>

                                 <xs:element ref="fase2.1:SummariskAngivelseTotalBruttoMasse"/>
                  
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringAntagelseDatoTid"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="MidlertidigOpbevaringFacilitet">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringFacilitetAdresseKode"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="SummariskTransitangivelse">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TransitMRNNummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="AdviseringListe">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element name="Advisering" minOccurs="1" maxOccurs="999">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:AdviseringType"/>
                  
                                          <xs:element ref="fase2.1:AdviseringDatoTid"/>
                  
                                          <xs:element ref="fase2.1:AdviseringMeddelelseKode"/>
                  
                                          <xs:element ref="fase2.1:AdviseringMeddelelseBeskrivelse"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                        <xs:element name="MidlertidigOpbevaringFacilitetOperatør">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                  
                                 <xs:element ref="fase2.1:EUOperatørNavn"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="Registrator">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldOperatørType"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørTINNummer"/>
                  
                                 <xs:element ref="fase2.1:EUOperatørNavn"/>
                  
                                 <xs:element ref="fase2.1:ToldOperatørRepræsentantStatus"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
