projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/view/IES58SlutMidlertidigOpbevaringMCCStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14874</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/MidlertidigOpbevaring.xsd"/>
         <xs:include schemaLocation="../class/Transit.xsd"/>
         <xs:include schemaLocation="../class/VarePost.xsd"/>
         <xs:element name="IES58SlutMidlertidigOpbevaringMCCStruktur"
                     type="fase2.1:IES58SlutMidlertidigOpbevaringMCCStrukturType"/>
         <xs:complexType name="IES58SlutMidlertidigOpbevaringMCCStrukturType">
         
         
         
         
         
         
         
            
            
            
            
               <xs:sequence>
               <xs:element name="IES58">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="MidlertidigOpbevaring">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MidlertidigOpbevaringMIONummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element name="TransitAngivelse">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TransitMRNNummer"/>
                                 <xs:element name="VarePostListe">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="VarePost" minOccurs="0" maxOccurs="999">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:VarePostLøbeNummer"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
