projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/view/IES59SlutMidlertidigOpbevaringImportStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14874</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/MidlertidigOpbevaring.xsd"/>
         <xs:include schemaLocation="../class/ToldDeklaration.xsd"/>
         <xs:element name="IES59SlutMidlertidigOpbevaringImportStruktur"
                     type="fase2.1:IES59SlutMidlertidigOpbevaringImportStrukturType"/>
         <xs:complexType name="IES59SlutMidlertidigOpbevaringImportStrukturType">
         
         
         
         
         
         
         
            
            
            
               <xs:sequence>
               <xs:element name="IES59">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="MidlertidigOpbevaringListe">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element name="MidlertidigOpbevaring" minOccurs="1" maxOccurs="99">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:MidlertidigOpbevaringMIONummer"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                        <xs:element name="Fortoldning">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:ToldDeklarationReferenceNummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
