projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/view/MidlertidigOpbevaringOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14874</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/IEA57MidlertidigOpbevaringOpretMIOStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IEA76MidlertidigOpbevaringOpretFraENSStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IEA77MidlertidigOpbevaringOpretFraTADStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IEA97MidlertidigOpbevaringPaaGraenseFraTadStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IEA53OpretMidlertidigOpbevaringPaaGraenseStrukturType.xsd"/>
				     
         <xs:element name="MidlertidigOpbevaringOpret_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:MidlertidigOpbevaringOpret_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14874"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="MidlertidigOpbevaringOpret_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="IEStrukturValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:element ref="fase2.1:IEA57MidlertidigOpbevaringOpretMIOStruktur"/>
				
				
				                          <xs:element ref="fase2.1:IEA76MidlertidigOpbevaringOpretFraENSStruktur"/>
				
				
				                          <xs:element ref="fase2.1:IEA77MidlertidigOpbevaringOpretFraTADStruktur"/>
				
				
				                          <xs:element ref="fase2.1:IEA97MidlertidigOpbevaringPåGrænseFraTadStruktur"/>
				
				
				                          <xs:element ref="fase2.1:IEA53OpretMidlertidigOpbevaringPåGrænseStruktur"/>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
