projects/Manifest/20160919/forretningsservice/20160919Manifest.r14874/package/view/StyretFiloverfoerselModtagAfslut_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14874</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../operational/StyretFiloverfoerselServiceQName.xsd"/>
				     
         <xs:include schemaLocation="../operational/StyretFiloverfoerselBeskedQName.xsd"/>
				     
         <xs:element name="StyretFiloverførselModtagAfslut_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:StyretFiloverførselModtagAfslut_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14874"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="StyretFiloverførselModtagAfslut_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
                  
                     <xs:element ref="fase2.1:StyretFiloverførselServiceQName" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:StyretFiloverførselBeskedQName" minOccurs="0"/>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
