services/prod/Motor/ExternXML/view/AlternativAdresseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/AlternativAdresse.xsd"/>
	<xs:include schemaLocation="../class/AdresseType.xsd"/>
	<xs:include schemaLocation="../class/Land.xsd"/>
	<xs:element name="AlternativAdresseStruktur" type="dmr:AlternativAdresseStrukturType"/>
	<xs:complexType name="AlternativAdresseStrukturType">
		<xs:sequence>
			<xs:element name="AlternativAdresse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:AlternativAdresseFortloebendeNummer" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseAnvendelseKode" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseAdresseLinie1" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseAdresseLinie2" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseAdresseLinie3" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseAdresseLinie4" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseAdresseLinie5" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseAdresseLinie6" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseAdresseLinie7" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseGyldigFra" minOccurs="0"/>
						<xs:element ref="dmr:AlternativAdresseGyldigTil" minOccurs="0"/>
						<xs:element ref="dmr:AdresseTypeKode" minOccurs="0"/>
						<xs:element ref="dmr:AdresseTypeTekst" minOccurs="0"/>
						<xs:element ref="dmr:AdresseTypeGyldigFra" minOccurs="0"/>
						<xs:element ref="dmr:AdresseTypeGyldigTil" minOccurs="0"/>
						<xs:element ref="dmr:LandKode" minOccurs="0"/>
						<xs:element ref="dmr:LandNavn" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
