services/prod/Motor/ExternXML/view/BeskedKvitteringStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../operational/BeskedOriginalType.xsd"/>
	<xs:include schemaLocation="../operational/BeskedOriginalIdentifikationNr.xsd"/>
	<xs:include schemaLocation="../operational/BeskedOriginalIdentifikationDatoTidStempel.xsd"/>
	<xs:include schemaLocation="../operational/FejlKategori.xsd"/>
	<xs:include schemaLocation="../operational/FejlNummer.xsd"/>
	<xs:include schemaLocation="../operational/FejlBesked.xsd"/>
	<xs:include schemaLocation="../operational/AdvisKategori.xsd"/>
	<xs:include schemaLocation="../operational/AdvisNummer.xsd"/>
	<xs:include schemaLocation="../operational/AdvisBesked.xsd"/>
	<xs:include schemaLocation="../view/BeskedIdentifikatorStrukturType.xsd"/>
	<xs:element name="BeskedKvitteringStruktur" type="dmr:BeskedKvitteringStrukturType"/>
	<xs:complexType name="BeskedKvitteringStrukturType">
		<xs:sequence>
			<xs:element name="BeskedOriginalIdentifikator">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:BeskedOriginalType" minOccurs="0"/>
						<xs:element ref="dmr:BeskedOriginalIdentifikationNr" minOccurs="0"/>
						<xs:element ref="dmr:BeskedOriginalIdentifikationDatoTidStempel" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KvitteringValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="FejlIdentifikator">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:FejlKategori"/>
										<xs:element ref="dmr:FejlNummer"/>
										<xs:element ref="dmr:FejlBesked"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="AdvisIdentifikator">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:AdvisKategori"/>
										<xs:element ref="dmr:AdvisNummer"/>
										<xs:element ref="dmr:AdvisBesked"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dmr:BeskedIdentifikatorStruktur"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
