services/prod/Motor/ExternXML/view/EjerBrugerSamlingStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../view/EjerBrugerForholdGrundStrukturType.xsd"/>
	<xs:include schemaLocation="../view/JuridiskEnhedStrukturType.xsd"/>
	<xs:element name="EjerBrugerSamlingStruktur" type="dmr:EjerBrugerSamlingStrukturType"/>
	<xs:complexType name="EjerBrugerSamlingStrukturType">
		<xs:sequence>
			<xs:element name="EjerBrugerSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EjerBruger" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:EjerBrugerForholdGrundStruktur"/>
									<xs:element ref="dmr:JuridiskEnhedStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
