services/prod/Motor/ExternXML/view/ESForsikringAnmodningOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="../class/Forsikring.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummerRettighed.xsd"/>
	<xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../operational/ForsikringKasko.xsd"/>
	<xs:include schemaLocation="../class/ForsikringAnmodning.xsd"/>
	<xs:include schemaLocation="../operational/AnmodningEfterNedbrud.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
	<xs:include schemaLocation="../class/Leasing.xsd"/>
	<xs:include schemaLocation="../view/ForsikringKoeretoejStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejArtStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejAnvendelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejAnvendelseSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/ForsikringSelskabIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AdresseStrukturType.xsd"/>
	<xs:element name="ESForsikringAnmodningOpret_I">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:ESForsikringAnmodningOpret_IType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ESForsikringAnmodningOpret_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element ref="dmr:ForsikringBevisNummer" minOccurs="0"/>
			<xs:element name="ForsikringObjektValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="RegistreringNummerRettighed">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:RegistreringNummerRettighedType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="Koeretoej">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:KoeretoejIdent"/>
										<xs:element ref="dmr:ForsikringKoeretoejStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dmr:KoeretoejArtStruktur"/>
			<xs:element ref="dmr:KoeretoejAnvendelseStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejAnvendelseSamlingStruktur" minOccurs="0"/>
			<xs:element ref="dmr:EjerBrugerSamlingStruktur"/>
			<xs:element name="ForsikringOenske">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:ForsikringKasko"/>
						<xs:element ref="dmr:ForsikringVognskifteFraRegistreringNr" minOccurs="0"/>
						<xs:element ref="dmr:AnmodningEfterNedbrud" minOccurs="0"/>
						<xs:element ref="dmr:ForsikringSelskabIdentifikatorStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Registrator" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VirksomhedIdentifikationValg">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="dmr:VirksomhedCVRNummer"/>
									<xs:element ref="dmr:VirksomhedSENummer"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element ref="dmr:VirksomhedNavnFirmaNavn"/>
						<xs:element ref="dmr:AdresseStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Leasing" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:LeasingGyldigFra"/>
						<xs:element ref="dmr:LeasingGyldigTil"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
