services/prod/Motor/ExternXML/view/ESPladeLeveringBestillingOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="../operational/AntalPlader.xsd"/>
	<xs:include schemaLocation="../class/PladeBestilling.xsd"/>
	<xs:include schemaLocation="../class/PladeSerieTypeKombination.xsd"/>
	<xs:include schemaLocation="../class/Telefon.xsd"/>
	<xs:include schemaLocation="../class/EmailAdresse.xsd"/>
	<xs:include schemaLocation="../view/JuridiskEnhedStrukturType.xsd"/>
	<xs:include schemaLocation="../view/JuridiskEnhedIdentifikatorStrukturType.xsd"/>
	<xs:element name="ESPladeLeveringBestillingOpret_I">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:ESPladeLeveringBestillingOpret_IType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ESPladeLeveringBestillingOpret_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="FysiskPladeBestillingListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Bestilling" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:AntalPlader"/>
									<xs:element ref="dmr:PladeBestillingNummer"/>
									<xs:element name="PladeSerieTypeKombinationIdentifikation">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:PladeSerieTypeKombinationNummer"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Plademodtager">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:JuridiskEnhedStruktur"/>
												<xs:element name="KontaktOplysninger" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="dmr:TelefonNummerUdvidet" minOccurs="0"/>
															<xs:element ref="dmr:EmailAdresseEmail" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PladeProducent">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:JuridiskEnhedIdentifikatorStruktur"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
