services/prod/Motor/ExternXML/view/ESProeveFigurantPladeAEndringListeModtag_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejRegistreringGrundlag.xsd"/>
	<xs:include schemaLocation="../class/PladeSerieTypeKombination.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejRegistrering.xsd"/>
	<xs:include schemaLocation="../class/Forsikring.xsd"/>
	<xs:include schemaLocation="../view/JuridiskEnhedIdentifikatorPrintStrukturType.xsd"/>
	<xs:include schemaLocation="../view/ForsikringSelskabIdentifikatorStrukturType.xsd"/>
	<xs:element name="ESProeveFigurantPladeAendringListeModtag_I">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:ESProeveFigurantPladeAendringListeModtag_IType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ESProeveFigurantPladeAendringListeModtag_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="ProeveFigurantPladeListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProeveFigurantPlade" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:RegistreringNummerNummer"/>
									<xs:element ref="dmr:KoeretoejRegistreringGrundlagGyldigFra"/>
									<xs:element ref="dmr:JuridiskEnhedIdentifikatorPrintStruktur"/>
									<xs:element ref="dmr:PladeSerieTypeKombinationNummer"/>
									<xs:element name="KoeretoejRegistrering">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:KoeretoejRegistreringStatus"/>
												<xs:element ref="dmr:KoeretoejRegistreringStatusDato"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Forsikring">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:ForsikringBevisDato" minOccurs="0"/>
												<xs:element ref="dmr:ForsikringSelskabIdentifikatorStruktur" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
