services/prod/Motor/ExternXML/view/ESStatistikListeModtag_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejArt.xsd"/>
	<xs:include schemaLocation="../class/Leasing.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummerRettighed.xsd"/>
	<xs:include schemaLocation="../class/Person.xsd"/>
	<xs:include schemaLocation="../class/Adresse.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejRegistrering.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejAnvendelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejAnvendelseSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejOplysningGrundStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerForholdGrundStrukturType.xsd"/>
	<xs:include schemaLocation="../view/SynResultatStrukturType.xsd"/>
	<xs:include schemaLocation="../view/TilladelseStrukturType.xsd"/>
	<xs:element name="ESStatistikListeModtag_I">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:ESStatistikListeModtag_IType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ESStatistikListeModtag_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="StatistikSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Statistik" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:KoeretoejIdent" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejArtNummer" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejArtNavn" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejAnvendelseStruktur" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejAnvendelseSamlingStruktur" minOccurs="0"/>
									<xs:element ref="dmr:LeasingGyldigFra" minOccurs="0"/>
									<xs:element ref="dmr:LeasingGyldigTil" minOccurs="0"/>
									<xs:element ref="dmr:RegistreringNummerNummer" minOccurs="0"/>
									<xs:element ref="dmr:RegistreringNummerRettighedGyldigFra" minOccurs="0"/>
									<xs:element ref="dmr:RegistreringNummerRettighedGyldigTil" minOccurs="0"/>
									<xs:element ref="dmr:RegistreringNummerUdloebDato" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejOplysningGrundStruktur"/>
									<xs:element name="EjerBrugerSamling">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="EjerBruger" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="dmr:EjerBrugerForholdGrundStruktur" minOccurs="0"/>
															<xs:element ref="dmr:PersonFoedselDato" minOccurs="0"/>
															<xs:element ref="dmr:PersonKoen" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element ref="dmr:AdressePostNummer" minOccurs="0"/>
									<xs:element ref="dmr:SynResultatStruktur"/>
									<xs:element ref="dmr:KoeretoejRegistreringStatus" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejRegistreringStatusDato" minOccurs="0"/>
									<xs:element name="TilladelseSamling">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Tilladelse" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="dmr:TilladelseStruktur"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
