services/prod/Motor/ExternXML/view/ForsikringKoeretoejStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/TypeAttest.xsd"/>
	<xs:include schemaLocation="../class/TypeAttestVariant.xsd"/>
	<xs:include schemaLocation="../class/Tilladelse.xsd"/>
	<xs:include schemaLocation="../class/Forsikring.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejOplysningGrundStrukturType.xsd"/>
	<xs:include schemaLocation="../view/ForsikringTilladelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/RegistreringNummerStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejRegistreringStrukturType.xsd"/>
	<xs:include schemaLocation="../view/SynResultatStrukturType.xsd"/>
	<xs:include schemaLocation="../view/ForsikringStrukturType.xsd"/>
	<xs:include schemaLocation="../view/ForsikringSelskabIdentifikatorStrukturType.xsd"/>
	<xs:element name="ForsikringKoeretoejStruktur" type="dmr:ForsikringKoeretoejStrukturType"/>
	<xs:complexType name="ForsikringKoeretoejStrukturType">
		<xs:sequence>
			<xs:element ref="dmr:KoeretoejOplysningGrundStruktur"/>
			<xs:element ref="dmr:TypeAttestTypeGodkendelseNummer" minOccurs="0"/>
			<xs:element ref="dmr:TypeAttestTypeAnmeldelseNummer" minOccurs="0"/>
			<xs:element ref="dmr:TypeAttestVariantNummer" minOccurs="0"/>
			<xs:element name="ForsikringTilladelseSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ForsikringTilladelse" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:TilladelseNummer" minOccurs="0"/>
									<xs:element ref="dmr:ForsikringTilladelseStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dmr:RegistreringNummerStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejRegistreringStruktur" minOccurs="0"/>
			<xs:element ref="dmr:SynResultatStruktur" minOccurs="0"/>
			<xs:element name="Forsikring" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:ForsikringIdent"/>
						<xs:element ref="dmr:ForsikringStruktur"/>
						<xs:element ref="dmr:ForsikringSelskabIdentifikatorStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
