services/prod/Motor/ExternXML/view/ForsikringAfgangStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/ForsikringAnmodningBesvarelse.xsd"/>
	<xs:include schemaLocation="../class/Forsikring.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummerRettighed.xsd"/>
	<xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejOplysning.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejRegistrering.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
	<xs:include schemaLocation="../view/ForsikringSelskabIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/BeskedIdentifikatorStrukturType.xsd"/>
	<xs:element name="ForsikringAfgangStruktur" type="dmr:ForsikringAfgangStrukturType"/>
	<xs:complexType name="ForsikringAfgangStrukturType">
		<xs:sequence>
			<xs:element ref="dmr:ForsikringAfgangType"/>
			<xs:element ref="dmr:ForsikringBevisNummer" minOccurs="0"/>
			<xs:element ref="dmr:ForsikringErFejlhaandteret" minOccurs="0"/>
			<xs:element ref="dmr:ForsikringAfgangRegistreretDato"/>
			<xs:element name="ForsikringSelskabGammelt" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:ForsikringSelskabIdentifikatorStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NyForsikringSelskab" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:ForsikringSelskabIdentifikatorStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ForsikringObjekt">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Proeveskilt">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:RegistreringNummerNummer"/>
										<xs:element ref="dmr:RegistreringNummerRettighedGyldigTil"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="Koeretoej">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:KoeretoejIdent"/>
										<xs:element ref="dmr:KoeretoejOplysningStelNummer"/>
										<xs:element ref="dmr:RegistreringNummerNummer"/>
										<xs:element ref="dmr:KoeretoejRegistreringGyldigFra"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dmr:EjerBrugerSamlingStruktur"/>
			<xs:element name="Registrator" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VirksomhedIdentifikationValg">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="dmr:VirksomhedCVRNummer"/>
									<xs:element ref="dmr:VirksomhedSENummer"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element ref="dmr:VirksomhedNavnFirmaNavn"/>
						<xs:element ref="dmr:AdresseStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dmr:BeskedIdentifikatorStruktur"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
