services/prod/Motor/ExternXML/view/ForsikringSamlingStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Forsikring.xsd"/>
	<xs:include schemaLocation="../view/ForsikringStrukturType.xsd"/>
	<xs:include schemaLocation="../view/ForsikringSelskabIdentifikatorStrukturType.xsd"/>
	<xs:element name="ForsikringSamlingStruktur" type="dmr:ForsikringSamlingStrukturType"/>
	<xs:complexType name="ForsikringSamlingStrukturType">
		<xs:sequence>
			<xs:element name="ForsikringSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Forsikring" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:ForsikringIdent"/>
									<xs:element ref="dmr:ForsikringStruktur"/>
									<xs:element ref="dmr:ForsikringSelskabIdentifikatorStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
