services/prod/Motor/ExternXML/view/JuridiskEnhedStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Person.xsd"/>
	<xs:include schemaLocation="../class/PersonNavn.xsd"/>
	<xs:include schemaLocation="../class/PersonStatus.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../class/ProduktionEnhed.xsd"/>
	<xs:include schemaLocation="../class/AlternativKontakt.xsd"/>
	<xs:include schemaLocation="../class/AlternativKontaktPerson.xsd"/>
	<xs:include schemaLocation="../view/PersonAdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VirksomhedNavnStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VirksomhedAdresseStrukturType.xsd"/>
	<xs:element name="JuridiskEnhedStruktur" type="dmr:JuridiskEnhedStrukturType"/>
	<xs:complexType name="JuridiskEnhedStrukturType">
		<xs:sequence>
			<xs:element name="JuridiskEnhedValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Person">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:PersonNavnAdresseBeskyttelseMarkering" minOccurs="0"/>
										<xs:element ref="dmr:PersonCPRNummer" minOccurs="0"/>
										<xs:element ref="dmr:PersonFoedselDato" minOccurs="0"/>
										<xs:element ref="dmr:PersonKoen" minOccurs="0"/>
										<xs:element ref="dmr:PersonNavnNavn" minOccurs="0"/>
										<xs:element ref="dmr:PersonAdresseStruktur" minOccurs="0"/>
										<xs:element ref="dmr:PersonStatusDoedsfaldDato" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="Virksomhed">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:VirksomhedCVRNummer" minOccurs="0"/>
										<xs:element ref="dmr:VirksomhedSENummer" minOccurs="0"/>
										<xs:element ref="dmr:ProduktionEnhedNummer" minOccurs="0"/>
										<xs:element ref="dmr:VirksomhedNavnStruktur"/>
										<xs:element ref="dmr:VirksomhedAdresseStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="UdenlandskPerson">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:AlternativKontaktID" minOccurs="0"/>
										<xs:element ref="dmr:AlternativKontaktPersonFoedselDato" minOccurs="0"/>
										<xs:element ref="dmr:AlternativKontaktPersonKoen" minOccurs="0"/>
										<xs:element ref="dmr:AlternativKontaktNavn"/>
										<xs:element ref="dmr:AlternativKontaktPersonNavnAdresseBeskyttelseMarkering" minOccurs="0"/>
										<xs:element ref="dmr:PersonAdresseStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="UdenlandskVirksomhed">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:AlternativKontaktID" minOccurs="0"/>
										<xs:element ref="dmr:AlternativKontaktNavn"/>
										<xs:element ref="dmr:VirksomhedAdresseStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
