services/prod/Motor/ExternXML/view/JuridiskEnhedIdentifikatorPrintStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
	<xs:include schemaLocation="../class/PersonNavn.xsd"/>
	<xs:include schemaLocation="../view/JuridiskEnhedIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AlternativAdresseStrukturType.xsd"/>
	<xs:element name="JuridiskEnhedIdentifikatorPrintStruktur" type="dmr:JuridiskEnhedIdentifikatorPrintStrukturType"/>
	<xs:complexType name="JuridiskEnhedIdentifikatorPrintStrukturType">
		<xs:sequence>
			<xs:element name="IdentifikatorValg">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="dmr:JuridiskEnhedIdentifikatorStruktur"/>
						<xs:sequence>
							<xs:element name="NavnAdresseFirma">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:VirksomhedNavnFirmaNavn"/>
										<xs:element name="AdresseValg" minOccurs="0">
											<xs:complexType>
												<xs:choice>
													<xs:element ref="dmr:AdresseStruktur"/>
													<xs:element ref="dmr:AlternativAdresseStruktur"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="NavnAdressePerson">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:PersonNavnNavn"/>
										<xs:element name="AdresseValg" minOccurs="0">
											<xs:complexType>
												<xs:choice>
													<xs:element ref="dmr:AdresseStruktur"/>
													<xs:element ref="dmr:AlternativAdresseStruktur"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
