services/prod/Motor/ExternXML/view/JuridiskEnhedIdentifikatorStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Person.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../class/ProduktionEnhed.xsd"/>
	<xs:include schemaLocation="../class/AlternativKontakt.xsd"/>
	<xs:element name="JuridiskEnhedIdentifikatorStruktur" type="dmr:JuridiskEnhedIdentifikatorStrukturType"/>
	<xs:complexType name="JuridiskEnhedIdentifikatorStrukturType">
		<xs:sequence>
			<xs:element name="JuridiskEnhedValg">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="dmr:PersonCPRNummer"/>
						<xs:element ref="dmr:VirksomhedSENummer"/>
						<xs:sequence>
							<xs:element name="PENummerCVR">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:VirksomhedCVRNummer"/>
										<xs:element ref="dmr:ProduktionEnhedNummer" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:element ref="dmr:AlternativKontaktID"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
