services/prod/Motor/ExternXML/view/KoeretoejBlokeringAArsagListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/KoeretoejBlokeringAArsagType.xsd"/>
	<xs:element name="KoeretoejBlokeringAarsagListeStruktur" type="dmr:KoeretoejBlokeringAarsagListeStrukturType"/>
	<xs:complexType name="KoeretoejBlokeringAarsagListeStrukturType">
		<xs:sequence>
			<xs:element name="KoeretoejBlokeringAarsagListe" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KoeretoejBlokeringAarsag" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:KoeretoejBlokeringAarsagTypeNummer"/>
									<xs:element ref="dmr:KoeretoejBlokeringAarsagTypeNavn"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
