services/prod/Motor/ExternXML/view/KoeretoejOplysningStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/KoeretoejOplysning.xsd"/>
	<xs:include schemaLocation="../operational/KoeretoejOplysningFrikoert.xsd"/>
	<xs:include schemaLocation="../operational/KoeretoejOplysningFredetForPladeInddragelse.xsd"/>
	<xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejBetegnelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejFarveStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KarrosseriTypeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejSupplerendeKarrosseriSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejNormStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejMiljoeOplysningStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejMotorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/DispensationTypeSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejUdstyrSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejBlokeringAArsagListeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/PrisOplysningerStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejGruppeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejUndergruppeStrukturType.xsd"/>
	<xs:element name="KoeretoejOplysningStruktur" type="dmr:KoeretoejOplysningStrukturType"/>
	<xs:complexType name="KoeretoejOplysningStrukturType">
		<xs:sequence>
			<xs:element ref="dmr:KoeretoejOplysningOprettetUdFra"/>
			<xs:element ref="dmr:KoeretoejOplysningStatus"/>
			<xs:element ref="dmr:KoeretoejOplysningStatusDato"/>
			<xs:element ref="dmr:KoeretoejOplysningFoersteRegistreringDato" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningStelNummer"/>
			<xs:element ref="dmr:KoeretoejOplysningStelNummerAnbringelse" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningModelAar" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTotalVaegt" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningEgenVaegt" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningKoereklarVaegtMinimum" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningKoereklarVaegtMaksimum" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTekniskTotalVaegt" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningVogntogVaegt" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningAkselAntal" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningStoersteAkselTryk" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningSkatteAkselAntal" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningSkatteAkselTryk" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningPassagerAntal" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningSiddepladserMinimum" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningSiddepladserMaksimum" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningStaapladserMinimum" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningStaapladserMaksimum" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTilkoblingMulighed" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTilkoblingsvaegtUdenBremser" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTilkoblingsvaegtMedBremser" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningPaahaengVognTotalVaegt" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningSkammelBelastning" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningSaettevognTilladtAkselTryk" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningMaksimumHastighed" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningFaelgDaek" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTilkobletSidevognStelnr" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningNCAPTest" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningVVaerdiLuft" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningVVaerdiMekanisk" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningOevrigtUdstyr" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningKoeretoejstand" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysning30PctVarevogn" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTraekkendeAksler" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningEgnetTilTaxi" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningAkselAfstand" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningSporviddenForrest" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningSporviddenBagest" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTypeAnmeldelseNummer" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTypeGodkendelseNummer" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningEUVariant" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningEUVersion" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningKommentar" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTypegodkendtKategori" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningAntalGear" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningAntalDoere" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningFabrikant" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningFrikoert" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningFredetForPladeInddragelse" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningVejvenligLuftaffjedring" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningDanskGodkendelseNummer" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningAargang" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningIbrugtagningDato" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningTrafikskade" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningVeteranKoeretoejOriginal" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningEffektivitetforholdRelevant" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningEffektivitetforholdM3" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningEffektivitetforholdTon" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningVolumenorientering" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejOplysningSovekabine" minOccurs="0"/>
			<xs:element name="KoeretoejFastKombination" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:KoeretoejIdent"/>
						<xs:element ref="dmr:RegistreringNummerNummer" minOccurs="0"/>
						<xs:element ref="dmr:RegistreringNummerIdent" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dmr:KoeretoejBetegnelseStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejFarveStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KarrosseriTypeStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejSupplerendeKarrosseriSamlingStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejNormStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejMiljoeOplysningStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejMotorStruktur" minOccurs="0"/>
			<xs:element ref="dmr:DispensationTypeSamlingStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejUdstyrSamlingStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejBlokeringAarsagListeStruktur" minOccurs="0"/>
			<xs:element ref="dmr:PrisOplysningerStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejGruppeStruktur" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejUndergruppeStruktur" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
