services/prod/Motor/ExternXML/view/KoeretoejGenerelIdentifikatorStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejOplysning.xsd"/>
	<xs:element name="KoeretoejGenerelIdentifikatorStruktur" type="dmr:KoeretoejGenerelIdentifikatorStrukturType"/>
	<xs:complexType name="KoeretoejGenerelIdentifikatorStrukturType">
		<xs:sequence>
			<xs:element name="KoeretoejGenerelIdentifikatorValg">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="dmr:KoeretoejIdent"/>
						<xs:element ref="dmr:RegistreringNummerNummer"/>
						<xs:element ref="dmr:KoeretoejOplysningStelNummer"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
