services/prod/Motor/ExternXML/view/KoeretoejBetegnelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/KoeretoejMaerkeType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejModelType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejVariantType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejTypeType.xsd"/>
	<xs:element name="KoeretoejBetegnelseStruktur" type="dmr:KoeretoejBetegnelseStrukturType"/>
	<xs:complexType name="KoeretoejBetegnelseStrukturType">
		<xs:sequence>
			<xs:element ref="dmr:KoeretoejMaerkeTypeNummer" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejMaerkeTypeNavn" minOccurs="0"/>
			<xs:element name="Model" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:KoeretoejModelTypeNummer"/>
						<xs:element ref="dmr:KoeretoejModelTypeNavn"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Variant" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:KoeretoejVariantTypeNummer"/>
						<xs:element ref="dmr:KoeretoejVariantTypeNavn"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Type" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:KoeretoejTypeTypeNummer"/>
						<xs:element ref="dmr:KoeretoejTypeTypeNavn"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
