services/prod/Motor/ExternXML/view/KoeretoejErklaeringStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/KoeretoejErklaering.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejRegistreringGrundlag.xsd"/>
	<xs:include schemaLocation="../view/JuridiskEnhedStrukturType.xsd"/>
	<xs:element name="KoeretoejErklaeringStruktur" type="dmr:KoeretoejErklaeringStrukturType"/>
	<xs:complexType name="KoeretoejErklaeringStrukturType">
		<xs:sequence>
			<xs:element ref="dmr:KoeretoejErklaeringNummer" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejErklaeringGyldigFra"/>
			<xs:element ref="dmr:KoeretoejErklaeringGyldigTil"/>
			<xs:element ref="dmr:KoeretoejErklaeringForetagneAendringer" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejErklaeringOprettetAfRolle"/>
			<xs:element ref="dmr:JuridiskEnhedStruktur"/>
			<xs:element ref="dmr:KoeretoejRegistreringGrundlagIdent"/>
			<xs:element name="Forhandler" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:JuridiskEnhedStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
