services/prod/Motor/ExternXML/view/KoeretoejRegistreringGrundlagSamlingStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/KoeretoejRegistreringGrundlag.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejRegistreringGrundlagGrundStrukturType.xsd"/>
	<xs:element name="KoeretoejRegistreringGrundlagSamlingStruktur" type="dmr:KoeretoejRegistreringGrundlagSamlingStrukturType"/>
	<xs:complexType name="KoeretoejRegistreringGrundlagSamlingStrukturType">
		<xs:sequence>
			<xs:element name="KoeretoejRegistreringGrundlagSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KoeretoejRegistreringGrundlag" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:KoeretoejRegistreringGrundlagIdent"/>
									<xs:element ref="dmr:KoeretoejRegistreringGrundlagGrundStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
