services/prod/Motor/ExternXML/view/SynIndkaldelseSamlingStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/SynIndkaldelse.xsd"/>
	<xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejOplysning.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejMaerkeType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejModelType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejMotor.xsd"/>
	<xs:include schemaLocation="../view/DrivkraftTypeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejArtStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejAnvendelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejAnvendelseSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/TilladelseSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/SynErindringStrukturType.xsd"/>
	<xs:element name="SynIndkaldelseSamlingStruktur" type="dmr:SynIndkaldelseSamlingStrukturType"/>
	<xs:complexType name="SynIndkaldelseSamlingStrukturType">
		<xs:sequence>
			<xs:element name="SynIndkaldelseSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SynIndkaldelse" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:SynIndkaldelseIndkaldelseType"/>
									<xs:element ref="dmr:SynIndkaldelseUdtraekningDato"/>
									<xs:element ref="dmr:SynIndkaldelseIndkaldelseDato"/>
									<xs:element ref="dmr:SynIndkaldelseSenesteSynDato"/>
									<xs:element ref="dmr:SynIndkaldelseForrigeSenesteSynDato" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejIdent"/>
									<xs:element ref="dmr:KoeretoejOplysningStelNummer"/>
									<xs:element ref="dmr:RegistreringNummerNummer"/>
									<xs:element ref="dmr:KoeretoejOplysningFoersteRegistreringDato"/>
									<xs:element ref="dmr:KoeretoejOplysningTekniskTotalVaegt" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejOplysningEgenVaegt" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejOplysningTotalVaegt" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejOplysningKoereklarVaegtMinimum" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejMaerkeTypeNummer"/>
									<xs:element ref="dmr:KoeretoejMaerkeTypeNavn"/>
									<xs:element ref="dmr:KoeretoejModelTypeNummer"/>
									<xs:element ref="dmr:KoeretoejModelTypeNavn"/>
									<xs:element ref="dmr:DrivkraftTypeStruktur" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejMotorKmPerLiter" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejArtStruktur"/>
									<xs:element ref="dmr:KoeretoejAnvendelseStruktur"/>
									<xs:element ref="dmr:KoeretoejAnvendelseSamlingStruktur"/>
									<xs:element ref="dmr:TilladelseSamlingStruktur"/>
									<xs:element ref="dmr:EjerBrugerSamlingStruktur"/>
									<xs:element name="ErindringListe">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Erindring" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="dmr:SynErindringStruktur"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
