services/prod/Motor/ExternXML/view/SynIndkaldelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/SynIndkaldelse.xsd"/>
	<xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejRegistrering.xsd"/>
	<xs:element name="SynIndkaldelseStruktur" type="dmr:SynIndkaldelseStrukturType"/>
	<xs:complexType name="SynIndkaldelseStrukturType">
		<xs:sequence>
			<xs:element ref="dmr:SynIndkaldelseNummer"/>
			<xs:element ref="dmr:SynIndkaldelseIndkaldelseType"/>
			<xs:element ref="dmr:SynIndkaldelseUdtraekningDato" minOccurs="0"/>
			<xs:element ref="dmr:SynIndkaldelseIndkaldelseDato"/>
			<xs:element ref="dmr:SynIndkaldelseSenesteSynDato"/>
			<xs:element ref="dmr:KoeretoejIdent" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejRegistreringNummer" minOccurs="0"/>
			<xs:element name="IndkaldelseAarsagListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IndkaldelseAarsag" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="dmr:SynIndkaldelseIndkaldelseAarsag"/>
									<xs:element ref="dmr:SynIndkaldelseIndkaldelseAarsagAndet"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
