services/prod/Motor/ExternXML/view/TilladelseSamlingStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Tilladelse.xsd"/>
	<xs:include schemaLocation="../view/TilladelseStrukturType.xsd"/>
	<xs:element name="TilladelseSamlingStruktur" type="dmr:TilladelseSamlingStrukturType"/>
	<xs:complexType name="TilladelseSamlingStrukturType">
		<xs:sequence>
			<xs:element name="TilladelseSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tilladelse" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:TilladelseNummer" minOccurs="0"/>
									<xs:element ref="dmr:TilladelseStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
