services/prod/Motor/ExternXML/view/TypeAttestStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/TypeAttest.xsd"/>
	<xs:include schemaLocation="../class/TilladelseType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejArtStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejBetegnelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/TypeAttestVariantStrukturType.xsd"/>
	<xs:element name="TypeAttestStruktur" type="dmr:TypeAttestStrukturType"/>
	<xs:complexType name="TypeAttestStrukturType">
		<xs:sequence>
			<xs:element ref="dmr:TypeAttestGyldigFra"/>
			<xs:element ref="dmr:TypeAttestGyldigTil" minOccurs="0"/>
			<xs:element ref="dmr:TypeAttestTypeGodkendelseNummer" minOccurs="0"/>
			<xs:element ref="dmr:TypeAttestTypeAnmeldelseNummer"/>
			<xs:element ref="dmr:KoeretoejArtStruktur"/>
			<xs:element ref="dmr:KoeretoejBetegnelseStruktur"/>
			<xs:element name="TypeAttestVariantListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:TypeAttestVariantStruktur" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TilladelseTypeListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:TilladelseTypeNummer" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
