services/prod/Motor/ExternXML/view/USEfterlysningAnnuller_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="../class/Efterlysning.xsd"/>
	<xs:include schemaLocation="../class/EfterlysningRegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/EfterlysningKoeretoej.xsd"/>
	<xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../view/BeskedIdentifikatorStrukturType.xsd"/>
	<xs:element name="USEfterlysningAnnuller_I">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USEfterlysningAnnuller_IType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USEfterlysningAnnuller_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="EfterlysningSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Efterlysning" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="EfterlysningIdentifikator">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:EfterlysningNummer"/>
												<xs:element ref="dmr:BeskedIdentifikatorStruktur"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="EfterlysningsDataValg">
										<xs:complexType>
											<xs:choice>
												<xs:sequence>
													<xs:element name="EfterlysningRegistreringNummer">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="dmr:EfterlysningRegistreringNummerRegistreringNummer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:sequence>
													<xs:element name="EfterlysningKoeretoej">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="dmr:EfterlysningKoeretoejStelNummer"/>
																<xs:element ref="dmr:KoeretoejIdent" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
