services/prod/Motor/ExternXML/view/USForsikringStatusAEndringListeHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejRegistrering.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejOplysning.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejArt.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejMaerkeType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejModelType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejVariantType.xsd"/>
	<xs:include schemaLocation="../operational/HaendelseNummer.xsd"/>
	<xs:include schemaLocation="../operational/HaendelseDato.xsd"/>
	<xs:include schemaLocation="../operational/HaendelseType.xsd"/>
	<xs:include schemaLocation="../class/Forsikring.xsd"/>
	<xs:include schemaLocation="../view/ForsikringSelskabIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/JuridiskEnhedStrukturType.xsd"/>
	<xs:element name="USForsikringStatusAendringListeHent_O">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USForsikringStatusAendringListeHent_OType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USForsikringStatusAendringListeHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="ForsikringStatusAendringListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ForsikringStatusAendring" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Koeretoej">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:KoeretoejIdent"/>
												<xs:element ref="dmr:KoeretoejRegistreringStatus"/>
												<xs:element ref="dmr:KoeretoejRegistreringStatusAarsag"/>
												<xs:element ref="dmr:RegistreringNummerNummer"/>
												<xs:element ref="dmr:KoeretoejOplysningStelNummer"/>
												<xs:element ref="dmr:KoeretoejArtNavn"/>
												<xs:element ref="dmr:KoeretoejMaerkeTypeNavn"/>
												<xs:element ref="dmr:KoeretoejModelTypeNavn"/>
												<xs:element ref="dmr:KoeretoejVariantTypeNavn"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Haendelse">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:HaendelseNummer"/>
												<xs:element ref="dmr:HaendelseDato"/>
												<xs:element ref="dmr:HaendelseType"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Forsikring">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:ForsikringStatus"/>
												<xs:element ref="dmr:ForsikringAfgangAarsag" minOccurs="0"/>
												<xs:element ref="dmr:ForsikringSelskabIdentifikatorStruktur"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element ref="dmr:JuridiskEnhedStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
