services/prod/Motor/ExternXML/view/USKoeretoejBetegnelseHierarkiListeHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="../class/KoeretoejMaerkeType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejModelType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejVariantType.xsd"/>
	<xs:include schemaLocation="../view/PeriodeSoegStrukturType.xsd"/>
	<xs:element name="USKoeretoejBetegnelseHierarkiListeHent_I">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USKoeretoejBetegnelseHierarkiListeHent_IType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USKoeretoejBetegnelseHierarkiListeHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element ref="dmr:PeriodeSoegStruktur" minOccurs="0"/>
			<xs:element name="HierarkiValg" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Maerke">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:KoeretoejMaerkeTypeNavn"/>
										<xs:element ref="dmr:KoeretoejModelTypeNavn" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="Model">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:KoeretoejModelTypeNavn"/>
										<xs:element ref="dmr:KoeretoejVariantTypeNavn" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="Variant">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:KoeretoejVariantTypeNavn"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
