services/prod/Motor/ExternXML/view/USKoeretoejRegistreringHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../class/RegistreringNummerRettighed.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejOplysning.xsd"/>
	<xs:include schemaLocation="../class/Leasing.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejRegistreringGrundlagStrukturType.xsd"/>
	<xs:include schemaLocation="../view/RegistreringNummerStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejRegistreringStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/ForsikringSelskabIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/ForsikringStrukturType.xsd"/>
	<xs:element name="USKoeretoejRegistreringHent_O">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USKoeretoejRegistreringHent_OType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USKoeretoejRegistreringHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="Indhold">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KoeretoejRegistreringGrundlagResultat" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:KoeretoejRegistreringGrundlagStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="dmr:RegistreringNummerStruktur"/>
						<xs:element ref="dmr:RegistreringNummerRettighedType" minOccurs="0"/>
						<xs:element ref="dmr:RegistreringNummerRettighedGyldigFra" minOccurs="0"/>
						<xs:element ref="dmr:RegistreringNummerRettighedGyldigTil" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejRegistreringStruktur" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningStelNummer" minOccurs="0"/>
						<xs:element ref="dmr:EjerBrugerSamlingStruktur" minOccurs="0"/>
						<xs:element name="Forsikring" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:ForsikringSelskabIdentifikatorStruktur"/>
									<xs:element ref="dmr:ForsikringStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Leasing" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:LeasingGyldigFra"/>
									<xs:element ref="dmr:LeasingGyldigTil"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
