services/prod/Motor/ExternXML/view/USKoeretoejRegistreringSekundaerErhvervListeHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../class/KoeretoejOplysning.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejRegistrering.xsd"/>
	<xs:include schemaLocation="../class/PersonNavn.xsd"/>
	<xs:include schemaLocation="../class/Person.xsd"/>
	<xs:include schemaLocation="../class/AlternativKontakt.xsd"/>
	<xs:include schemaLocation="../class/AlternativKontaktPerson.xsd"/>
	<xs:include schemaLocation="../view/KarrosseriTypeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejArtStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejAnvendelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejSupplerendeKarrosseriSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejBetegnelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejMiljoeOplysningStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejMotorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerForholdGrundStrukturType.xsd"/>
	<xs:include schemaLocation="../view/PersonAdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VirksomhedNavnStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VirksomhedAdresseStrukturType.xsd"/>
	<xs:element name="USKoeretoejRegistreringSekundaerErhvervListeHent_O">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USKoeretoejRegistreringSekundaerErhvervListeHent_OType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USKoeretoejRegistreringSekundaerErhvervListeHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="Data" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:KarrosseriTypeStruktur" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejArtStruktur"/>
						<xs:element ref="dmr:KoeretoejAnvendelseStruktur" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejSupplerendeKarrosseriSamlingStruktur" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningStatus"/>
						<xs:element ref="dmr:KoeretoejOplysningFoersteRegistreringDato" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningTotalVaegt" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningKoereklarVaegtMinimum" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningKoereklarVaegtMaksimum" minOccurs="0"/>
						<xs:element ref="dmr:RegistreringNummerStatus"/>
						<xs:element ref="dmr:RegistreringNummerNummer"/>
						<xs:element ref="dmr:KoeretoejRegistreringStatus"/>
						<xs:element ref="dmr:KoeretoejRegistreringStatusDato"/>
						<xs:element ref="dmr:KoeretoejBetegnelseStruktur"/>
						<xs:element ref="dmr:KoeretoejMiljoeOplysningStruktur" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejMotorStruktur" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DatamodtagerValg" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="DataTilKommune">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:EjerBrugerSamlingStruktur" minOccurs="1" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="DataTilPrivate">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PrimaerEjerBrugerListe">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PrimaerEjerBruger" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="EjerBrugerForhold">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="dmr:EjerBrugerForholdGrundStruktur"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="EjerBrugerValg">
																	<xs:complexType>
																		<xs:choice>
																			<xs:sequence>
																				<xs:element name="Person">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element ref="dmr:PersonNavnNavn" minOccurs="0"/>
																							<xs:element ref="dmr:PersonFoedselDato" minOccurs="0"/>
																							<xs:element ref="dmr:PersonKoen" minOccurs="0"/>
																							<xs:element ref="dmr:PersonAdresseStruktur" minOccurs="0"/>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																			<xs:sequence>
																				<xs:element name="Virksomhed">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element ref="dmr:VirksomhedNavnStruktur"/>
																							<xs:element ref="dmr:VirksomhedAdresseStruktur"/>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																			<xs:sequence>
																				<xs:element name="UdenlandskPerson">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element ref="dmr:AlternativKontaktNavn"/>
																							<xs:element ref="dmr:AlternativKontaktPersonFoedselDato" minOccurs="0"/>
																							<xs:element ref="dmr:AlternativKontaktPersonKoen" minOccurs="0"/>
																							<xs:element ref="dmr:PersonAdresseStruktur"/>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																			<xs:sequence>
																				<xs:element name="UdenlandskVirksomhed">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element ref="dmr:AlternativKontaktNavn"/>
																							<xs:element ref="dmr:VirksomhedAdresseStruktur"/>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:choice>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
