services/prod/Motor/ExternXML/view/USKoeretoejDetaljerVis_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../class/SynResultat.xsd"/>
	<xs:include schemaLocation="../class/SynIndkaldelse.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejDataErklaering.xsd"/>
	<xs:include schemaLocation="../class/Leasing.xsd"/>
	<xs:include schemaLocation="../class/VaerdiFastsaettelse.xsd"/>
	<xs:include schemaLocation="../class/AnmeldelseAArsag.xsd"/>
	<xs:include schemaLocation="../operational/TekniskBeregnetNyprisGenberegnetLeasingkoeretoej.xsd"/>
	<xs:include schemaLocation="../operational/ModelAar.xsd"/>
	<xs:include schemaLocation="../operational/Beregningtype.xsd"/>
	<xs:include schemaLocation="../operational/Afgiftgrupper.xsd"/>
	<xs:include schemaLocation="../operational/Synsindkaldelse.xsd"/>
	<xs:include schemaLocation="../operational/AfgiftsType.xsd"/>
	<xs:include schemaLocation="../operational/FordretPeriodiskAfgift.xsd"/>
	<xs:include schemaLocation="../class/EjerBrugerForhold.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejOplysningStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AnmeldelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejRegistreringGrundlagStrukturType.xsd"/>
	<xs:include schemaLocation="../view/SynResultatStrukturType.xsd"/>
	<xs:include schemaLocation="../view/PeriodiskAfgiftGrundStrukturType.xsd"/>
	<xs:include schemaLocation="../view/TilladelseSamlingStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VaerdiFastsaettelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerForholdGrundStrukturType.xsd"/>
	<xs:element name="USKoeretoejDetaljerVis_O">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USKoeretoejDetaljerVis_OType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USKoeretoejDetaljerVis_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="KoeretoejDetaljerVisSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KoeretoejDetaljerVis" minOccurs="0" maxOccurs="100">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:KoeretoejIdent"/>
									<xs:element ref="dmr:KoeretoejOplysningStruktur"/>
									<xs:element ref="dmr:AnmeldelseStruktur" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejRegistreringGrundlagStruktur"/>
									<xs:element name="SynResultatListe">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SynResultat" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="dmr:SynResultatNummer"/>
															<xs:element ref="dmr:SynResultatStruktur"/>
															<xs:element ref="dmr:SynIndkaldelseNummer" minOccurs="0"/>
															<xs:element ref="dmr:KoeretoejDataErklaeringDataErklaering" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element ref="dmr:PeriodiskAfgiftGrundStruktur" minOccurs="0"/>
									<xs:element ref="dmr:TilladelseSamlingStruktur" minOccurs="0"/>
									<xs:element ref="dmr:LeasingGyldigFra" minOccurs="0"/>
									<xs:element ref="dmr:LeasingGyldigTil" minOccurs="0"/>
									<xs:element name="VaerdiFastsaettelseListe">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="VaerdiFastsaettelse" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="dmr:VaerdiFastsaettelseIdent"/>
															<xs:element ref="dmr:VaerdiFastsaettelseStruktur"/>
															<xs:element ref="dmr:AnmeldelseAarsagNavn" minOccurs="0"/>
															<xs:element ref="dmr:TekniskBeregnetNyprisGenberegnetLeasingkoeretoej" minOccurs="0"/>
															<xs:element ref="dmr:ModelAar" minOccurs="0"/>
															<xs:element ref="dmr:Beregningtype" minOccurs="0"/>
															<xs:element ref="dmr:Afgiftgrupper" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element ref="dmr:Synsindkaldelse" minOccurs="0"/>
									<xs:element ref="dmr:AfgiftsType" minOccurs="0"/>
									<xs:element ref="dmr:FordretPeriodiskAfgift" minOccurs="0"/>
									<xs:element ref="dmr:VaerdiFastsaettelseSamletModregningRegulering" minOccurs="0"/>
									<xs:element name="FoersteRegistreringEjerBrugerSamling">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="EjerBruger" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="dmr:EjerBrugerForholdGrundStruktur"/>
															<xs:element ref="dmr:EjerBrugerForholdAftaleType"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
