services/prod/Motor/ExternXML/view/USKoeretoejBetegnelseOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="../class/KoeretoejMaerkeType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejModelType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejVariantType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejTypeType.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:element name="USKoeretoejBetegnelseOpret_I">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USKoeretoejBetegnelseOpret_IType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USKoeretoejBetegnelseOpret_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element ref="dmr:KoeretoejMaerkeTypeNummer" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejMaerkeTypeNavn"/>
			<xs:element ref="dmr:KoeretoejModelTypeNummer" minOccurs="0"/>
			<xs:element ref="dmr:KoeretoejModelTypeNavn"/>
			<xs:element name="Variant" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:KoeretoejVariantTypeNummer" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejVariantTypeNavn"/>
						<xs:element name="Type" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:KoeretoejTypeTypeNummer" minOccurs="0"/>
									<xs:element ref="dmr:KoeretoejTypeTypeNavn"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dmr:VirksomhedSENummer" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
