services/prod/Motor/ExternXML/view/USKoeretoejTekniskDataMedPrimaerEjerBrugerListeHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejOplysning.xsd"/>
	<xs:include schemaLocation="../class/TilladelseType.xsd"/>
	<xs:include schemaLocation="../class/KoeretoejMiljoeOplysning.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejAnvendelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejArtStrukturType.xsd"/>
	<xs:include schemaLocation="../view/DrivkraftTypeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejBetegnelseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejNormStrukturType.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerForholdGrundStrukturType.xsd"/>
	<xs:include schemaLocation="../view/JuridiskEnhedStrukturType.xsd"/>
	<xs:element name="USKoeretoejTekniskDataMedPrimaerEjerBrugerListeHent_O">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USKoeretoejTekniskDataMedPrimaerEjerBrugerListeHent_OType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USKoeretoejTekniskDataMedPrimaerEjerBrugerListeHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="Data">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmr:RegistreringNummerNummer"/>
						<xs:element ref="dmr:KoeretoejOplysningFoersteRegistreringDato"/>
						<xs:element ref="dmr:KoeretoejAnvendelseStruktur"/>
						<xs:element ref="dmr:KoeretoejOplysningTypegodkendtKategori"/>
						<xs:element ref="dmr:KoeretoejArtStruktur"/>
						<xs:element ref="dmr:DrivkraftTypeStruktur" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejBetegnelseStruktur"/>
						<xs:element ref="dmr:TilladelseTypeNummer" minOccurs="0"/>
						<xs:element ref="dmr:TilladelseTypeNavn" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningTekniskTotalVaegt" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningTotalVaegt" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningModelAar" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejNormStruktur"/>
						<xs:element ref="dmr:KoeretoejMiljoeOplysningPartikelFilter" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejMiljoeOplysningEftermonteretPartikelfilter" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningPassagerAntal" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningSiddepladserMinimum" minOccurs="0"/>
						<xs:element ref="dmr:KoeretoejOplysningSiddepladserMaksimum" minOccurs="0"/>
						<xs:element name="PrimaerEjerBrugerListe">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PrimaerEjerBruger" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="EjerBrugerForhold">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="dmr:EjerBrugerForholdGrundStruktur"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element ref="dmr:JuridiskEnhedStruktur"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
