services/prod/Motor/ExternXML/view/USKoeretoejSkadeBlokeringOphaevelseListeModtag_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="../operational/StelNummerGenindhugget.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejGenerelIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KoeretoejBlokeringAArsagListeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/ForsikringSelskabIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/BeskedIdentifikatorStrukturType.xsd"/>
	<xs:element name="USKoeretoejSkadeBlokeringOphaevelseListeModtag_I">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USKoeretoejSkadeBlokeringOphaevelseListeModtag_IType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USKoeretoejSkadeBlokeringOphaevelseListeModtag_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="KoeretoejSkadeBlokeringOphaevSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KoeretoejSkadeBlokeringOphaev" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:KoeretoejGenerelIdentifikatorStruktur"/>
									<xs:element name="SkadeBlokering">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:KoeretoejBlokeringAarsagListeStruktur" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element ref="dmr:ForsikringSelskabIdentifikatorStruktur"/>
									<xs:element ref="dmr:StelNummerGenindhugget"/>
									<xs:element ref="dmr:BeskedIdentifikatorStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
