services/prod/Motor/ExternXML/view/USPladeInddragelseAdvisListeHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../class/PladeInddragelse.xsd"/>
	<xs:include schemaLocation="../class/RegistreringNummer.xsd"/>
	<xs:include schemaLocation="../class/Koeretoej.xsd"/>
	<xs:include schemaLocation="../class/PladeInddragelseType.xsd"/>
	<xs:include schemaLocation="../class/PladeOphaevelseType.xsd"/>
	<xs:include schemaLocation="../class/PladeOphaevelse.xsd"/>
	<xs:include schemaLocation="../view/EjerBrugerSamlingStrukturType.xsd"/>
	<xs:element name="USPladeInddragelseAdvisListeHent_O">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USPladeInddragelseAdvisListeHent_OType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USPladeInddragelseAdvisListeHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="PladeInddragelseAdvisSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PladeInddragelseAdvis" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:PladeInddragelseNummer"/>
									<xs:element ref="dmr:PladeInddragelseOprettetDato"/>
									<xs:element ref="dmr:PladeInddragelseStatus"/>
									<xs:element ref="dmr:PladeInddragelseStatusDato"/>
									<xs:element ref="dmr:RegistreringNummerNummer"/>
									<xs:element ref="dmr:RegistreringNummerIdent"/>
									<xs:element ref="dmr:KoeretoejIdent" minOccurs="0"/>
									<xs:element name="InddragelseAarsagType">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:PladeInddragelseTypeNummer"/>
												<xs:element ref="dmr:PladeInddragelseTypeNavn"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element ref="dmr:PladeInddragelseOprettetBemaerkning" minOccurs="0"/>
									<xs:element name="OphaevelseAarsagType" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:PladeOphaevelseTypeNummer"/>
												<xs:element ref="dmr:PladeOphaevelseTypeNavn"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element ref="dmr:PladeOphaevelseBemaerkning" minOccurs="0"/>
									<xs:element ref="dmr:EjerBrugerSamlingStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
