services/prod/Motor/ExternXML/view/USSynsVirksomhedRettighedHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../operational/KanIndberetteRegistringGrundlag.xsd"/>
	<xs:include schemaLocation="../class/SynResultat.xsd"/>
	<xs:element name="USSynsVirksomhedRettighedHent_I">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dmr:USSynsVirksomhedRettighedHent_IType">
					<xs:attribute name="revision">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="r27806"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="USSynsVirksomhedRettighedHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="Indhold">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SynVirksomhedListe">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SynVirksomhed" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmr:VirksomhedCVRNummer"/>
												<xs:element ref="dmr:KanIndberetteRegistringGrundlag"/>
												<xs:element name="SynRettighedListe">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SynRettighed" minOccurs="1" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="SynstypeListe">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element ref="dmr:SynResultatSynsType" minOccurs="1" maxOccurs="unbounded"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
