services/prod/Motor/ExternXML/view/VirksomhedAdresseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/VirksomhedAdresseType.xsd"/>
	<xs:include schemaLocation="../class/AdresseType.xsd"/>
	<xs:include schemaLocation="../class/Adresse.xsd"/>
	<xs:include schemaLocation="../class/Land.xsd"/>
	<xs:include schemaLocation="../class/Myndighed.xsd"/>
	<xs:include schemaLocation="../class/AlternativAdresse.xsd"/>
	<xs:element name="VirksomhedAdresseStruktur" type="dmr:VirksomhedAdresseStrukturType"/>
	<xs:complexType name="VirksomhedAdresseStrukturType">
		<xs:sequence>
			<xs:element ref="dmr:VirksomhedAdresseTypeKode"/>
			<xs:element ref="dmr:AdresseTypeKode"/>
			<xs:element name="AdresseValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Adresse">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:AdresseFortloebendeNummer" minOccurs="0"/>
										<xs:element ref="dmr:AdresseVejNavn" minOccurs="0"/>
										<xs:element ref="dmr:AdresseFraHusNummer" minOccurs="0"/>
										<xs:element ref="dmr:AdresseFraHusBogstav" minOccurs="0"/>
										<xs:element ref="dmr:AdresseTilHusNummer" minOccurs="0"/>
										<xs:element ref="dmr:AdresseTilHusBogstav" minOccurs="0"/>
										<xs:element ref="dmr:AdresseEtageTekst" minOccurs="0"/>
										<xs:element ref="dmr:AdresseSideDoerTekst" minOccurs="0"/>
										<xs:element ref="dmr:AdresseCONavn" minOccurs="0"/>
										<xs:element ref="dmr:AdresseByNavn" minOccurs="0"/>
										<xs:element ref="dmr:AdressePostNummer" minOccurs="0"/>
										<xs:element ref="dmr:AdressePostDistrikt" minOccurs="0"/>
										<xs:element ref="dmr:AdresseVejKode" minOccurs="0"/>
										<xs:element ref="dmr:AdressePostBox" minOccurs="0"/>
										<xs:element ref="dmr:AdresseGyldigFra" minOccurs="0"/>
										<xs:element ref="dmr:AdresseGyldigTil" minOccurs="0"/>
										<xs:element ref="dmr:LandKode" minOccurs="0"/>
										<xs:element ref="dmr:MyndighedNummer" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="AlternativAdresse">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmr:AlternativAdresseFortloebendeNummer" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseAnvendelseKode" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseAdresseLinie1" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseAdresseLinie2" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseAdresseLinie3" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseAdresseLinie4" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseAdresseLinie5" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseAdresseLinie6" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseAdresseLinie7" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseGyldigFra" minOccurs="0"/>
										<xs:element ref="dmr:AlternativAdresseGyldigTil" minOccurs="0"/>
										<xs:element ref="dmr:LandKode" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
