services/prod/Motor/ExternXML/view/VirksomhedNavnStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
	<xs:element name="VirksomhedNavnStruktur" type="dmr:VirksomhedNavnStrukturType"/>
	<xs:complexType name="VirksomhedNavnStrukturType">
		<xs:sequence>
			<xs:element name="VirksomhedNavnSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VirksomhedNavn" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmr:VirksomhedNavnFirmaNavn"/>
									<xs:element ref="dmr:VirksomhedNavnFirmaNavnKort"/>
									<xs:element ref="dmr:VirksomhedNavnGyldigFra"/>
									<xs:element ref="dmr:VirksomhedNavnGyldigTil" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
