services/review/EFIOIO_20120326/urn/oio/skat/efi/ws/1_0_1/MFFordringIndberet_O.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../../../../../../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/ModtagFordringLeveranceIdentifikator.xsd"/><xs:include schemaLocation="FordringhaverSystemIDStruktur.xsd"/>
	<xs:include schemaLocation="MFAktionStruktur.xsd"/>
	<xs:element name="MFFordringIndberet_O" type="efiws:MFFordringIndberet_OType">
	</xs:element>
	<xs:complexType name="MFFordringIndberet_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="FordringInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efiws:FordringhaverSystemIDStruktur"/>
						<xs:element ref="efi:ModtagFordringLeveranceIdentifikator"/>
						<xs:element name="FordringAktionStatusSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="efiws:MFAktionStruktur" minOccurs="1" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
