services/review/EFIOIO_20120326/urn/oio/skat/efi/ws/1_0_1/MFUnderretAfregnStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/TransaktionVirkningDato.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringTypeKategoriKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/HaeftelseSubsidiaerKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/HaeftelseFormKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringHaverAfregningUnderretKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringHaverAfregningPeriode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringHaverAfregningIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringHaverAfregningDato.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringTypeKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringProduktionEnhedIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringFordringHaverReference.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringFordringArtKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringInddrivelseHovedFordringIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringInddrivelseFordringIdentifikator.xsd"/><xs:include schemaLocation="FordringHaverAfregningBeloebStruktur.xsd"/>
	<xs:include schemaLocation="KundeStruktur.xsd"/>
	<xs:include schemaLocation="FordringAfregningBeloebStruktur.xsd"/>
	<xs:include schemaLocation="FordringRestBeloebStruktur.xsd"/>
	<xs:element name="MFUnderretAfregnStruktur" type="efiws:MFUnderretAfregnStrukturType"/>
	<xs:complexType name="MFUnderretAfregnStrukturType">
		<xs:sequence>
			<xs:element ref="efi:FordringHaverAfregningUnderretKode"/>
			<xs:element name="UdligningAfregningListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UdligningAfregning" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="efi:FordringHaverAfregningIdentifikator"/>
									<xs:element ref="efiws:FordringHaverAfregningBeloebStruktur"/>
									<xs:element ref="efi:FordringHaverAfregningDato"/>
									<xs:element ref="efi:FordringHaverAfregningPeriode"/>
									<xs:element name="FordringHaverFordringListe">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FordringerOmfattetAfUdligningenAfregningen" minOccurs="1" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="efi:FordringInddrivelseFordringIdentifikator"/>
															<xs:element ref="efi:FordringInddrivelseHovedFordringIdentifikator"/>
															<xs:element ref="efi:FordringProduktionEnhedIdentifikator" minOccurs="0"/>
															<xs:element ref="efi:FordringFordringHaverReference" minOccurs="0"/>
															<xs:element ref="efi:FordringFordringArtKode"/>
															<xs:element ref="efi:FordringTypeKode"/>
															<xs:element ref="efi:FordringTypeKategoriKode"/>
															<xs:element ref="efi:TransaktionVirkningDato"/>
															<xs:element name="HaeftelsesforholdListe">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Haeftelsesforhold" minOccurs="1" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element ref="efiws:KundeStruktur"/>
																					<xs:element ref="efi:HaeftelseFormKode"/>
																					<xs:element ref="efi:HaeftelseSubsidiaerKode" minOccurs="0"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element ref="efiws:FordringAfregningBeloebStruktur"/>
															<xs:element ref="efiws:FordringRestBeloebStruktur"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
