projects/TAS blanketter/Leverancer/20160907TAS/20160907TAS.r14805/package/view/AktivForaedlingOEkonomiskeForudsaetningerStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14805</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/OEkonomiskeForudsaetninger.xsd"/>
         <xs:include schemaLocation="../class/VarePost.xsd"/>
         <xs:element name="AktivForædlingØkonomiskeForudsætningerStruktur"
                     type="skat2016:AktivForædlingØkonomiskeForudsætningerStrukturType"/>
         <xs:complexType name="AktivForædlingØkonomiskeForudsætningerStrukturType">
         
         
         
         
         
         
         
         
            
            
            
               <xs:sequence>
               <xs:element name="ØkonomiskForudsætningListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="ØkonomiskForudsætning" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="skat2016:ØkonomiskeForudsætningerKodePrVare"/>
                  
                                 <xs:element ref="skat2016:VarePostBeskrivelse"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
