projects/TAS blanketter/Leverancer/20160907TAS/20160907TAS.r14805/package/view/AktivForaedlingAndetStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14805</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/VareRegnskab.xsd"/>
         <xs:include schemaLocation="../operational/VareRegnskabSystemNavn.xsd"/>
				     
         <xs:include schemaLocation="../class/SupplerendeOplysninger.xsd"/>
         <xs:include schemaLocation="../class/Sikkerhedsstillelse.xsd"/>
         <xs:include schemaLocation="../class/UCCAfgoerelse.xsd"/>
         <xs:include schemaLocation="../class/Valuta.xsd"/>
         <xs:include schemaLocation="../operational/ValutaNavn.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/UCCSamtykkeOffentliggoerBevilling.xsd"/>
         <xs:include schemaLocation="../class/AktivForaedling.xsd"/>
         <xs:include schemaLocation="../view/UCCAnsoegningAndetRettighederOgForpligtelserStrukturType.xsd"/>
				     
         <xs:element name="AktivForædlingAndetStruktur"
                     type="skat2016:AktivForædlingAndetStrukturType"/>
         <xs:complexType name="AktivForædlingAndetStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element name="Vareregnskab">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="skat2016:VareRegnskabPrincip"/>
                  
                           <xs:element ref="skat2016:VareRegnskabSystem"/>
                           <!--Sequence removed-->
                              <xs:element name="AndetVareregnskabSystem">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="skat2016:VareRegnskabSystemNavn"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           
                           <xs:element name="VareregnskabTypeListe">
                              <xs:complexType>
                                 <xs:sequence>


                                    <xs:element ref="skat2016:VareRegnskabType" minOccurs="0" maxOccurs="unbounded"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>

                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="SupplerendeOplysninger">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element ref="skat2016:SupplerendeOplysningerBeskrivelse" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Sikkerhedsstillelse">
                     <xs:complexType>
                        <xs:choice>
                           <xs:sequence>
                              <xs:element ref="skat2016:SikkerhedsstillelseOrdningValg"/>
                              <xs:element name="SamletSikkerhedHar">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="skat2016:UCCAfgørelseReferenceNummer"/>
                  
                                       <xs:element ref="skat2016:SikkerhedsstillelseBeløb"/>
                  
                                       <xs:element ref="skat2016:ValutaKode"/>
                                       <!--Sequence removed-->
                                          <xs:element name="AndetValuta">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="skat2016:ValutaNavn"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
				
				                       </xs:sequence>
                           <xs:sequence>
				
                              <xs:element name="SkatSikkerhedsstillelseOrdningHar">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="skat2016:UCCAfgørelseReferenceNummer"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
                  <xs:element ref="skat2016:UCCAnsøgningAndetRettighederOgForpligtelserStruktur"/>
                  <xs:element name="SamtykkeOffentliggørelse">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="skat2016:UCCSamtykkeOffentliggørBevillingSamtykke"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="BeregningAfImport">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element ref="skat2016:AktivForædlingBeregingAfImportAfgiftBeløb" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
