projects/TAS blanketter/Leverancer/20160907TAS/20160907TAS.r14805/package/view/BlanketmotorVirksomhedStamoplysningerStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14805</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
         <xs:include schemaLocation="../class/DriftForm.xsd"/>
         <xs:include schemaLocation="../class/Telefon.xsd"/>
         <xs:include schemaLocation="../class/EmailAdresse.xsd"/>
         <xs:include schemaLocation="../class/Adresse.xsd"/>
         <xs:include schemaLocation="../class/Land.xsd"/>
         <xs:element name="BlanketmotorVirksomhedStamoplysningerStruktur"
                     type="skat2016:BlanketmotorVirksomhedStamoplysningerStrukturType"/>
         <xs:complexType name="BlanketmotorVirksomhedStamoplysningerStrukturType">
         
         
         
         
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="skat2016:VirksomhedCVRNummer"/>
                  
                  <xs:element ref="skat2016:VirksomhedNavnFirmaNavn"/>
                  
                  <xs:element ref="skat2016:DriftFormTekstLang"/>
                  
                  <xs:element ref="skat2016:TelefonNummer"/>
                  
                  <xs:element ref="skat2016:EmailAdresseEmail"/>
               <xs:element name="Adresse">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element ref="skat2016:AdresseFortløbendeNummer" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseVejNavn" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseFraHusNummer" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseFraHusBogstav" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseTilHusNummer" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseTilHusBogstav" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseEtageTekst" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseSideDørTekst" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseCONavn" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseByNavn" minOccurs="0"/>



                        <xs:element ref="skat2016:AdressePostNummer" minOccurs="0"/>



                        <xs:element ref="skat2016:AdressePostDistrikt" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseVejKode" minOccurs="0"/>



                        <xs:element ref="skat2016:AdressePostBox" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseGyldigFra" minOccurs="0"/>



                        <xs:element ref="skat2016:AdresseGyldigTil" minOccurs="0"/>



                        <xs:element ref="skat2016:LandKode" minOccurs="0"/>


                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
