projects/TAS blanketter/Leverancer/20160907TAS/20160907TAS.r14805/package/view/LagerfaciliteterOplaegVarerToldoplagDatoStederStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14805</xs:documentation>
         </xs:annotation>
				     
				     
         <xs:include schemaLocation="../class/UCCAnsoegningAfgoerelseTidligIkraefttraedelse.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../view/UCCAnsoegningAdresseStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/UCCAnsoegningAfgoerelseIkrafttraedelseStrukturType.xsd"/>
				     
				     
				     
				     
         <xs:element name="LagerfaciliteterOplægVarerToldoplagDatoStederStruktur"
                     type="skat2016:LagerfaciliteterOplægVarerToldoplagDatoStederStrukturType"/>
         <xs:complexType name="LagerfaciliteterOplægVarerToldoplagDatoStederStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element name="AOIFindesIkke">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="HovedbogholderiAdresse">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2016:UCCAnsøgningAdresseStruktur"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="RegnskabStedListe">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="skat2016:UCCAnsøgningAdresseStruktur" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element ref="skat2016:UCCAnsøgningAfgørelseTidligIkræfttrædelseHarÅrsag"/>
                  <xs:element name="IkrafttrædelsesdatoFindes">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="skat2016:UCCAnsøgningAfgørelseIkrafttrædelseStruktur"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Toldsteder">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="HenførselToldstedListe">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2016:UCCAnsøgningAdresseStruktur" minOccurs="1" maxOccurs="unbounded"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>

                           <xs:element name="AfslutningToldstedListe">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2016:UCCAnsøgningAdresseStruktur" minOccurs="1" maxOccurs="unbounded"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>

                           <xs:element name="SikkerhedsstillelseToldsted">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2016:UCCAnsøgningAdresseStruktur"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
