services/demotin/eIndkomst4/skat_dk/eindkomst/IndkomstOplysningPersonTidAbonnentBestil_O_O.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/>
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="AbonnentAdgangStruktur.xsd"/>
	<xs:include schemaLocation="AbonnentStruktur.xsd"/>
	<xs:include schemaLocation="PersonIndkomstOplysningStruktur.xsd"/>
	<xs:element name="IndkomstOplysningPersonTidAbonnentBestil_O_O" type="fase2:IndkomstOplysningPersonTidAbonnentBestil_O_OType"/>
	<xs:complexType name="IndkomstOplysningPersonTidAbonnentBestil_O_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="IndkomstPersonAbonnentTidBestilUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element name="AbonnentUddataSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AbonnentUddata" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:AbonnentStruktur"/>
												<xs:element name="IndkomstOplysning">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PersonIndkomstSamling">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element ref="fase2:PersonIndkomstOplysningStruktur" minOccurs="1" maxOccurs="unbounded"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>