projects/TAS blanketter/Leverancer/20160912TAS/20160912TAS.r14865/package/view/LagerfaciliteterOplaegVarerToldoplagVarerIdentifikationStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14865</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/KN.xsd"/>
         <xs:include schemaLocation="../class/VarePost.xsd"/>
         <xs:include schemaLocation="../operational/VarePostMaengdeEnhedNavn.xsd"/>
				     
         <xs:include schemaLocation="../class/Valuta.xsd"/>
         <xs:include schemaLocation="../operational/ValutaKodeNavn.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/UCCAnsoegningVarerIdentifikationStrukturType.xsd"/>
				     
         <xs:element name="LagerfaciliteterOplægVarerToldoplagVarerIdentifikationStruktur"
                     type="skat2016:LagerfaciliteterOplægVarerToldoplagVarerIdentifikationStrukturType"/>
         <xs:complexType name="LagerfaciliteterOplægVarerToldoplagVarerIdentifikationStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element name="VarerHenføresUnderToldprocedurenListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="VarerHenføresUnderToldproceduren" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>

                                    <xs:element ref="skat2016:KNKode" minOccurs="0"/>

                                    <xs:element ref="skat2016:VarePostBeskrivelse"/>

                                    <xs:element ref="skat2016:VarePostMængde" minOccurs="0"/>



                                    <xs:element ref="skat2016:VarePostMængdeEnhed" minOccurs="0"/>


                                    <!--Sequence removed-->

                                       <xs:element name="AndenMængedEnhed" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element ref="skat2016:VarePostMængdeEnhedNavn" minOccurs="0"/>


                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    


                                    <xs:element ref="skat2016:VarePostVærdiPrEnhed" minOccurs="0"/>



                                    <xs:element ref="skat2016:ValutaKode" minOccurs="0"/>


                                    <!--Sequence removed-->

                                       <xs:element name="AndenValuta" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element ref="skat2016:ValutaKodeNavn" minOccurs="0"/>


                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    

                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element ref="skat2016:UCCAnsøgningVarerIdentifikationStruktur"/>
               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
