projects/TAS blanketter/Leverancer/20160912TAS/20160912TAS.r14865/package/view/ToldangivelseIndskrivningIKlarererRegnskabAndetStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14865</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/VareRegnskab.xsd"/>
         <xs:include schemaLocation="../class/SupplerendeOplysninger.xsd"/>
         <xs:include schemaLocation="../class/UCCSamtykkeOffentliggoerBevilling.xsd"/>
         <xs:element name="ToldangivelseIndskrivningIKlarererRegnskabAndetStruktur"
                     type="skat2016:ToldangivelseIndskrivningIKlarererRegnskabAndetStrukturType"/>
         <xs:complexType name="ToldangivelseIndskrivningIKlarererRegnskabAndetStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="Vareregnskab">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="skat2016:VareRegnskabSystem"/>
                        <!--Sequence removed-->
                           <xs:element name="AndetVareregnskabSystem">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2016:VareRegnskabSystemNavn"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        
                        <xs:element name="VareregnskabTypeListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="skat2016:VareRegnskabType" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="DataAdgang">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="skat2016:VareRegnskabDataAdgangNavn"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="SupplerendeOplysninger">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element ref="skat2016:SupplerendeOplysningerBeskrivelse" minOccurs="0"/>


                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="SamtykkeOffentliggørelse">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="skat2016:UCCSamtykkeOffentliggørBevillingSamtykke"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
