services/demotin/eIndkomst15/view/eSkattekortPersonStrukurType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../class/CPR_PersonCivilRegistrationIdentifier.xsd"/>
	<xs:include schemaLocation="../view/eSkattekortTypeStrukturType.xsd"/>
	<xs:element name="eSkattekortPersonStrukur" type="fase2:eSkattekortPersonStrukurType"/>
	<xs:complexType name="eSkattekortPersonStrukurType">
		<xs:sequence>
			<xs:element name="eSkattekortStrukturPerson">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="core:PersonCivilRegistrationIdentifier"/>
						<xs:element name="eSkattekortTypeStrukturSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="fase2:eSkattekortTypeStruktur" minOccurs="1" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
