projects/DMO/Arkiv/DMO20101025/WSDLer og Servicebeskrivelser/Udbetalingstjek/Udbetalingstjek - Services.r3106/package/view/DRKundeUdestaaendeKontrol_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r3106</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/OpkraevningFordringType.xsd"/>
         <xs:include schemaLocation="../class/OpkraevningFordring.xsd"/>
         <xs:element name="DRKundeUdeståendeKontrol_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DRKundeUdeståendeKontrol_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r3106"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DRKundeUdeståendeKontrol_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
                  
                     <xs:element name="ResultatListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Resultat" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeNummer"/>
                                       <xs:element name="UdeståendeValg">
                                          <xs:complexType>
                                             <xs:choice>
                                                <xs:sequence>
                                                   <xs:element name="ManglendeAngivelseListe">
                                                      <xs:complexType>
                                                         <xs:sequence>

                                                            <xs:element name="ManglendeAngivelse" minOccurs="0" maxOccurs="unbounded">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:OpkrævningFordringTypeID"/>
                  
                                                                     <xs:element ref="fase2.1:OpkrævningFordringPeriodeFraDato"/>
                  
                                                                     <xs:element ref="fase2.1:OpkrævningFordringPeriodeTilDato"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

				
				                                            </xs:sequence>
                                                <xs:sequence>
				
                                                   <xs:element name="UdeståendeFordring">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:OpkrævningFordringSidsteRettidigBetalingDato"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
