projects/DMO/Arkiv/DMO20101025/WSDLer og Servicebeskrivelser/Udbetalingstjek/Udbetalingstjek - Services.r3106/package/view/DRKundeUdestaaendeKontrol_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r3106</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../operational/ForfaldenFordringVindueAntalDage.xsd"/>
				     
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:element name="DRKundeUdeståendeKontrol_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DRKundeUdeståendeKontrol_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r3106"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DRKundeUdeståendeKontrol_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:ForfaldenFordringVindueAntalDage"/>
                     <xs:element name="KundeListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Kunde" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeNummer"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
