systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DMIBetalingEvneHentet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIBetalingEvneHentetService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>EFI kalder denne DMI service for at levere svaret på EFIBetalingEvneAsynkronHent, dvs. betalingsevnen for  kunder beregnet efter reglerne for den anførte myndighedsudbetalingtype.</xs:documentation>
            <xs:documentation>1.13</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIBetalingEvneHentetInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIBetalingEvneHentetServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIBetalingEvneHentet_I"/>
         </wsdl:message>
         <wsdl:message name="DMIBetalingEvneHentetServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIBetalingEvneHentet_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIBetalingEvneHentetServicePortType">
            <wsdl:operation name="getDMIBetalingEvneHentet">
               <wsdl:input message="fase2.1:DMIBetalingEvneHentetServiceRequest"/>
               <wsdl:output message="fase2.1:DMIBetalingEvneHentetServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
