systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DMIDWInterfaceIKKESERVICE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIDWInterfaceIKKESERVICEService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Dette er ikke en reel service men KUN en teknisk placeholder for den datastruktur, som DMIDWInformationOpret skal sende fra DMI til DW.</xs:documentation>
            <xs:documentation>1.20</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIDWInterfaceIKKESERVICEInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIDWInterfaceIKKESERVICEServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIDWInterfaceIKKESERVICE_I"/>
         </wsdl:message>
         <wsdl:message name="DMIDWInterfaceIKKESERVICEServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIDWInterfaceIKKESERVICE_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIDWInterfaceIKKESERVICEServicePortType">
            <wsdl:operation name="getDMIDWInterfaceIKKESERVICE">
               <wsdl:input message="fase2.1:DMIDWInterfaceIKKESERVICEServiceRequest"/>
               <wsdl:output message="fase2.1:DMIDWInterfaceIKKESERVICEServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
