systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DMIFordringHaverAftaleOplysningerAEndr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIFordringHaverAftaleOplysningerÆndrService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Servicen DMIFordringshaverAftaleOplysningÆndr kaldes fra Modtag Fordring når der oprettes en ny fordringshaver eller en ny rettighedshaver. Endvidere når der rettes en eksisterende. Servicen skal oprette en konto til en fordringshaver eller rettighedshaver hos DMI og gemme relevante fordringshaver eller rettighedshaver oplysninger. </xs:documentation>
            <xs:documentation>1.20</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIFordringHaverAftaleOplysningerAEndrInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIFordringHaverAftaleOplysningerÆndrServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIFordringHaverAftaleOplysningerÆndr_I"/>
         </wsdl:message>
         <wsdl:message name="DMIFordringHaverAftaleOplysningerÆndrServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIFordringHaverAftaleOplysningerÆndr_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIFordringHaverAftaleOplysningerÆndrServicePortType">
            <wsdl:operation name="getDMIFordringHaverAftaleOplysningerÆndr">
               <wsdl:input message="fase2.1:DMIFordringHaverAftaleOplysningerÆndrServiceRequest"/>
               <wsdl:output message="fase2.1:DMIFordringHaverAftaleOplysningerÆndrServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
