systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DMIFordringSynkronOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIFordringSynkronOpretService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Servicen DMIFordingSynkronOpret har ansvaret for at oprette alle arter og typer af fordringer inklusiv hæftelsesinformation i Debitormotor.  Svaret sendes retur så snart Fordringen og evt. Hæftelse er oprettet i DMI.  Input strukturen er den samme som i DMIFordringAsynkronOpret og output strukturen er den samme som input strukturen i MFFordringAsynkronOprettet. </xs:documentation>
            <xs:documentation>1.17</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIFordringSynkronOpretInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIFordringSynkronOpretServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIFordringSynkronOpret_I"/>
         </wsdl:message>
         <wsdl:message name="DMIFordringSynkronOpretServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIFordringSynkronOpret_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIFordringSynkronOpretServicePortType">
            <wsdl:operation name="getDMIFordringSynkronOpret">
               <wsdl:input message="fase2.1:DMIFordringSynkronOpretServiceRequest"/>
               <wsdl:output message="fase2.1:DMIFordringSynkronOpretServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
