systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DMIForventetIndbetalingList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIForventetIndbetalingListService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Henter liste af forventede indbetalinger som opfylder det angivne søgekriterium.</xs:documentation>
            <xs:documentation>1.8</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIForventetIndbetalingListInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIForventetIndbetalingListServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIForventetIndbetalingList_I"/>
         </wsdl:message>
         <wsdl:message name="DMIForventetIndbetalingListServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIForventetIndbetalingList_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIForventetIndbetalingListServicePortType">
            <wsdl:operation name="getDMIForventetIndbetalingList">
               <wsdl:input message="fase2.1:DMIForventetIndbetalingListServiceRequest"/>
               <wsdl:output message="fase2.1:DMIForventetIndbetalingListServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
