systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DMIHaeftelseForaeldelseAEndr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIHæftelseForældelseÆndrService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Servicens formål er at oprette og vedligeholde flere forældelsesdatoer for hvert hæftelsesforhold for hver fordring.  Der er behov for at kunne inaktivere en gyldig forældelsesdato og oprette nye forældesesdatoer i overensstemmelse med  reglerne for fordringstypen forældelse og sagsbehandlingen.   </xs:documentation>
            <xs:documentation>1.14</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIHaeftelseForaeldelseAEndrInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIHæftelseForældelseÆndrServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIHæftelseForældelseÆndr_I"/>
         </wsdl:message>
         <wsdl:message name="DMIHæftelseForældelseÆndrServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIHæftelseForældelseÆndr_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIHæftelseForældelseÆndrServicePortType">
            <wsdl:operation name="getDMIHæftelseForældelseÆndr">
               <wsdl:input message="fase2.1:DMIHæftelseForældelseÆndrServiceRequest"/>
               <wsdl:output message="fase2.1:DMIHæftelseForældelseÆndrServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
