systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DMIKontoAEndr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIKontoÆndrService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Denne service har ansvaret for at ændre parametre på en kundes konto med henblik på at lave . Udbetalingsstop . Udligningsstop . Modregningsstop (Kunden kan fritages, Udbetalingstype, Fordringstyper, BFY) . Flag for bobehandling  Ændre kundens kundenr.  Ændre kundens udbetalingsform.  Ændre transporters prioritering.</xs:documentation>
            <xs:documentation>1.16</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIKontoAEndrInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIKontoÆndrServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIKontoÆndr_I"/>
         </wsdl:message>
         <wsdl:message name="DMIKontoÆndrServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIKontoÆndr_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIKontoÆndrServicePortType">
            <wsdl:operation name="getDMIKontoÆndr">
               <wsdl:input message="fase2.1:DMIKontoÆndrServiceRequest"/>
               <wsdl:output message="fase2.1:DMIKontoÆndrServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
