systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DMIKontoIndbetalingFordelingBeregn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIKontoIndbetalingFordelingBeregnService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Denne service har til formål at beregnet forslag til dækningsrækkefølge.</xs:documentation>
            <xs:documentation>1.21</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIKontoIndbetalingFordelingBeregnInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIKontoIndbetalingFordelingBeregnServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIKontoIndbetalingFordelingBeregn_I"/>
         </wsdl:message>
         <wsdl:message name="DMIKontoIndbetalingFordelingBeregnServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIKontoIndbetalingFordelingBeregn_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIKontoIndbetalingFordelingBeregnServicePortType">
            <wsdl:operation name="getDMIKontoIndbetalingFordelingBeregn">
               <wsdl:input message="fase2.1:DMIKontoIndbetalingFordelingBeregnServiceRequest"/>
               <wsdl:output message="fase2.1:DMIKontoIndbetalingFordelingBeregnServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
