systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DMIMeddelelseInformationDUMMY.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DMIMeddelelseInformationDUMMYService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Dette er ikke en reel service men KUN en teknisk placeholder for de datastrukturer, som anvendes til DMI-beskeder.</xs:documentation>
            <xs:documentation>1.22</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DMIMeddelelseInformationDUMMYInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DMIMeddelelseInformationDUMMYServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DMIMeddelelseInformationDUMMY_I"/>
         </wsdl:message>
         <wsdl:message name="DMIMeddelelseInformationDUMMYServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DMIMeddelelseInformationDUMMY_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DMIMeddelelseInformationDUMMYServicePortType">
            <wsdl:operation name="getDMIMeddelelseInformationDUMMY">
               <wsdl:input message="fase2.1:DMIMeddelelseInformationDUMMYServiceRequest"/>
               <wsdl:output message="fase2.1:DMIMeddelelseInformationDUMMYServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
