systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/DPMeddelelseSendAkter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DPMeddelelseSendAkterService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At sende en eller flere meddelelser gennem SKAT A&amp;D f.eks. til kunder, kunderepræsentanter, fordringshavere,  samarbejdsparter og andre parter i inddrivelsen.  Forsendelsesarten, f.eks. brev eller e-mail afgøres af A&amp;D i overensstemmelse med kundens kommunikationsaftale og meddelsestypen.  Servicen kan anvendes til at sende meddeleler til 3. parter f. eks samarbejdsparter, hvor meddelelsen gemmes i kundens sag.</xs:documentation>
            <xs:documentation>1.16</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DPMeddelelseSendAkterInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DPMeddelelseSendAkterServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DPMeddelelseSendAkter_I"/>
         </wsdl:message>
         <wsdl:message name="DPMeddelelseSendAkterServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DPMeddelelseSendAkter_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DPMeddelelseSendAkterServicePortType">
            <wsdl:operation name="getDPMeddelelseSendAkter">
               <wsdl:input message="fase2.1:DPMeddelelseSendAkterServiceRequest"/>
               <wsdl:output message="fase2.1:DPMeddelelseSendAkterServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
