systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/EFIBetalingEvneAsynkronHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="EFIBetalingEvneAsynkronHentService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At få beregnet en liste over kunders betalingsevne i kroner per måned efter reglerne for myndighedsudbetalingstype. Den samme kunde kan forekomme flere gange med forskellige myndighedsudbetalingstyper i kundelisten. Givet en liste af kundenumre og myndighedsudbetalingstyper returnerer EFI ved hjælp af servicen DMIBetalingEvneHentet kundernes betalingsevne beregnet ud fra reglerne for den pågældende myndighedudbetalingstype.  </xs:documentation>
            <xs:documentation>1.8</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/EFIBetalingEvneAsynkronHentInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="EFIBetalingEvneAsynkronHentServiceRequest">
            <wsdl:part name="Request" element="fase2.1:EFIBetalingEvneAsynkronHent_I"/>
         </wsdl:message>
         <wsdl:message name="EFIBetalingEvneAsynkronHentServiceResponse">
            <wsdl:part name="Response" element="fase2.1:EFIBetalingEvneAsynkronHent_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="EFIBetalingEvneAsynkronHentServicePortType">
            <wsdl:operation name="getEFIBetalingEvneAsynkronHent">
               <wsdl:input message="fase2.1:EFIBetalingEvneAsynkronHentServiceRequest"/>
               <wsdl:output message="fase2.1:EFIBetalingEvneAsynkronHentServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
