systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/EFIFordringSaldoAEndret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="EFIFordringSaldoÆndretService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Hændelsen informerer om at fordrings saldo på et hæftelsesforholdet er ændret eller HæftelseSubsidiær er ændret. DMI udsender ikke hændelsen når der tilskrives renter.</xs:documentation>
            <xs:documentation>1.7</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/EFIFordringSaldoAEndretInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="EFIFordringSaldoÆndretServiceRequest">
            <wsdl:part name="Request" element="fase2.1:EFIFordringSaldoÆndret_I"/>
         </wsdl:message>
         <wsdl:message name="EFIFordringSaldoÆndretServiceResponse">
            <wsdl:part name="Response" element="fase2.1:EFIFordringSaldoÆndret_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="EFIFordringSaldoÆndretServicePortType">
            <wsdl:operation name="getEFIFordringSaldoÆndret">
               <wsdl:input message="fase2.1:EFIFordringSaldoÆndretServiceRequest"/>
               <wsdl:output message="fase2.1:EFIFordringSaldoÆndretServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
