systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/wsdl/MFFordringAfskrivUnderret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="MFFordringAfskrivUnderretService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Servicen MFFordringAfskrivUnderret på Modtag fordring har ansvaret for at underrette fordringshaver om automatiske afskrivninger. Denne service kaldes af DMI når DMI har automatisk afskrevet fordringer.</xs:documentation>
            <xs:documentation>1.12</xs:documentation>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/MFFordringAfskrivUnderretInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="MFFordringAfskrivUnderretServiceRequest">
            <wsdl:part name="Request" element="fase2.1:MFFordringAfskrivUnderret_I"/>
         </wsdl:message>
         <wsdl:message name="MFFordringAfskrivUnderretServiceResponse">
            <wsdl:part name="Response" element="fase2.1:MFFordringAfskrivUnderret_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="MFFordringAfskrivUnderretServicePortType">
            <wsdl:operation name="getMFFordringAfskrivUnderret">
               <wsdl:input message="fase2.1:MFFordringAfskrivUnderretServiceRequest"/>
               <wsdl:output message="fase2.1:MFFordringAfskrivUnderretServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
