systems/DMI/20190528 Leverancer/Fase2_1DMI.DMIUnderretSamlingHent.r19426/package/view/AlternativKontaktErstatningNummerStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r19425</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/Person.xsd"/>
         <xs:include schemaLocation="../class/AlternativKontakt.xsd"/>
         <xs:element name="AlternativKontaktErstatningNummerStruktur"
                     type="fase2.1:AlternativKontaktErstatningNummerStrukturType"/>
         <xs:complexType name="AlternativKontaktErstatningNummerStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
               <xs:sequence>
               <xs:element name="ErstatningNummerValg">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="fase2.1:VirksomhedSENummer"/>
				
				
				                    <xs:element ref="fase2.1:VirksomhedCVRNummer"/>
				
				
				                    <xs:element ref="fase2.1:PersonCPRNummer"/>
				
				
				                    <xs:element ref="fase2.1:AlternativKontaktID"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
