systems/DMI/20190528 Leverancer/Fase2_1DMI.DMIUnderretSamlingHent.r19426/package/view/DMIUnderretSamlingHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r19425</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/DMIFordringHaver.xsd"/>
         <xs:include schemaLocation="../class/MFUnderretning.xsd"/>
         <xs:include schemaLocation="../view/FordringhaverSystemIDStrukturType.xsd"/>
				     
         <xs:element name="DMIUnderretSamlingHent_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIUnderretSamlingHent_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r19425"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIUnderretSamlingHent_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
         
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:FordringhaverSystemIDStruktur"/>
                     <xs:element name="FordringHaverSamling">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:DMIFordringHaverID" minOccurs="0" maxOccurs="unbounded"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                     <!--Sequence removed-->

                        <xs:element name="SøgeDatoFra" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MFUnderretningDatoTid"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     

                     <!--Sequence removed-->

                        <xs:element name="UnderretNummerFra" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MFUnderretningNummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     

                     <!--Sequence removed-->

                        <xs:element name="UnderretNummerTil" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MFUnderretningNummer"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
