systems/NTSE/20190524/Fase1eService.r19396/package/view/VirksomhedRevisorAutorisationHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase1="http://skat.dk/begrebsmodel/2006/09/07/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2006/09/07/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r19396</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../operational/ProcesRolleGruppeIdent.xsd"/>
				     
         <xs:include schemaLocation="../class/RevisorOrdning.xsd"/>
         <xs:element name="VirksomhedRevisorAutorisationHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase1:VirksomhedRevisorAutorisationHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r19396"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="VirksomhedRevisorAutorisationHent_OType">
            <xs:sequence>
               <xs:element ref="fase1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
                  
                     <xs:element name="VirksomhedListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="VirksomhedUddata" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="RevisorIdentifikation">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase1:VirksomhedSENummer"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="AngivelseType">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase1:ProcesRolleGruppeIdent"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="RevisorOrdning">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element ref="fase1:RevisorOrdningSlutDato" minOccurs="0"/>

                                                <xs:element ref="fase1:RevisorOrdningStartDato"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
