systems/eSKATdata (HentSelv)/eSKATdata20220209/OIOXML/HentSelvSendData_20220209/urn/oio/skat/hentselv/ws/1_0_1/OevrigeOplysningerStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hentselv="urn:oio:skat:hentselv:1.0.0" xmlns:hsws="urn:oio:skat:hentselv:ws:1.0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:hentselv:ws:1.0.1" version="1.0" xml:lang="DA">
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/PersonKontrolOplysningVirksomhedIndkomstOverfoertBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/PersonKontrolOplysningRenteudgifterTilAEgtefaelleBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/PersonKontrolOplysningRenteudgifterFraAEgtefaelleBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/PersonKontrolOplysningUdenlandskIndkomstOverfoertBeloeb.xsd"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:element name="OevrigeOplysningerStruktur" type="hsws:OevrigeOplysningerStrukturType"/>
         <xs:complexType name="OevrigeOplysningerStrukturType">
               <xs:sequence>
               <xs:element name="RenteudgifterFraAegtefaelleBeloebListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hentselv:PersonKontrolOplysningRenteudgifterFraAEgtefaelleBeloeb"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="RenteudgifterTilAegtefaelleBeloebListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hentselv:PersonKontrolOplysningRenteudgifterTilAEgtefaelleBeloeb"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="UdenlandskIndkomstOverfoertBeloebListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hentselv:PersonKontrolOplysningUdenlandskIndkomstOverfoertBeloeb"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="VirksomhedIndkomstOverfoertBeloebListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hentselv:PersonKontrolOplysningVirksomhedIndkomstOverfoertBeloeb"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               </xs:sequence>
         </xs:complexType>
      </xs:schema>
