services/prod/Arkiv/eIndkomst20/view/AnsaettelseForholdVirksomhedHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247441/artefact/SKAT_HovedOplysninger.xsd"/>
	<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="http://digitaliser.dk/resource/3541/artefact/CPR_PersonCivilRegistrationIdentifier.xsd"/>
	<xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstVirksomhedOplysningLukketSoegeStrukturType.xsd"/>
	<xs:element name="AnsættelseForholdVirksomhedHent_I" type="fase2:AnsættelseForholdVirksomhedHent_IType"/>
	<xs:complexType name="AnsættelseForholdVirksomhedHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<!--Sequence removed-->
			<!--Sequence removed-->
			<xs:element name="AnsættelseForholdVirksomhedInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element ref="fase2:AbonnentStruktur"/>
						<xs:element name="VirksomhedAnsættelseForholdSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VirksomhedAnsættelseForhold">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Virksomhed" minOccurs="1" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:IndkomstVirksomhedOplysningLukketSøgeStruktur"/>
															<xs:element name="PersonValg">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element ref="core:PersonCivilRegistrationIdentifier" minOccurs="0" maxOccurs="unbounded"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
