services/prod/eIndkomst11/view/IndkomstOplysningVirksomhedHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://eksternwiki.skat.dk/oioxml/hovedoplysninger/SKAT_HovedOplysninger.xsd"/>
	<xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstVirksomhedOplysningLukketSoegeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstPersonVirksomhedStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningVirksomhedHent_I" type="fase2:IndkomstOplysningVirksomhedHent_IType">
	</xs:element>
	<xs:complexType name="IndkomstOplysningVirksomhedHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<!--Sequence removed-->
			<!--Sequence removed-->
			<xs:element name="IndkomstOplysningVirksomhedInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element ref="fase2:AbonnentStruktur"/>
						<xs:element name="VirksomhedIndkomstSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IndkomstVirksomhed">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Virksomhed" minOccurs="1" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:IndkomstVirksomhedOplysningLukketSøgeStruktur"/>
															<xs:element name="PersonVirksomhedValg">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element ref="fase2:IndkomstPersonVirksomhedStruktur" minOccurs="0" maxOccurs="unbounded"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
