services/prod/eIndkomst11/view/VirksomhedIndkomstOplysningStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:indkomstoplysningadgangreferencenummer="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" schemaLocation="../class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/SKAT_IndkomstOplysningAdgangReferenceNummerIdentifikator.xsd"/><xs:include schemaLocation="../view/IndberetningPligtigVirksomhedStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstPersonStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstVirksomhedStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstUdenlandskPersonStrukturType.xsd"/>
	<xs:include schemaLocation="../view/VirksomhedPeriodeOplysningStrukturType.xsd"/>
	<xs:element name="VirksomhedIndkomstOplysningStruktur" type="fase2:VirksomhedIndkomstOplysningStrukturType"/>
	<xs:complexType name="VirksomhedIndkomstOplysningStrukturType">
		<xs:sequence>
			<xs:element name="VirksomhedIndkomstOplysning">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VirksomhedIndkomst">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Virksomhed" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:IndberetningPligtigVirksomhedStruktur"/>
												<xs:element ref="indkomstoplysningadgangreferencenummer:IndkomstOplysningAdgangReferenceNummerIdentifikator" minOccurs="0"/>
												<xs:element name="IndkomstOplysningPersonSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:IndkomstPersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="IndkomstOplysningVirksomhedSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:IndkomstVirksomhedStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="IndkomstOplysningUdenlandskPersonSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:IndkomstUdenlandskPersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="VirksomhedPeriodeOplysningSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:VirksomhedPeriodeOplysningStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
