projects/TAS blanketter/Leverancer/20160819TAS/20160819TAS.r14689/package/view/LagerfaciliteterMidlertidigOpbevaringBogholderiStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14689</xs:documentation>
         </xs:annotation>
				     
				     
				     
				     
         <xs:include schemaLocation="../class/VarePost.xsd"/>
         <xs:include schemaLocation="../view/UCCAnsoegningAdresseStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/UCCAnsoegningAfgoerelseIkraefttraedelseStrukturType.xsd"/>
				     
				     
         <xs:element name="LagerfaciliteterMidlertidigOpbevaringBogholderiStruktur"
                     type="skat2016:LagerfaciliteterMidlertidigOpbevaringBogholderiStrukturType"/>
         <xs:complexType name="LagerfaciliteterMidlertidigOpbevaringBogholderiStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
         
            
            
            
            
            
            
               <!--Sequence removed-->
                  <!--Sequence removed-->

                     <xs:element name="RegnskabAdresse" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="skat2016:UCCAnsøgningAdresseStruktur"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  

                  <xs:element name="RegnskabStedListe">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="skat2016:UCCAnsøgningAdresseStruktur" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element ref="skat2016:UCCAnsøgningAfgørelseIkræfttrædelseStruktur"/>
                  <xs:element name="SikkerhedsstillelseToldsted">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="skat2016:UCCAnsøgningAdresseStruktur"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="SpecifikVarebeskrivelseListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="SpecifikVarebeskrivelse" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2016:VarePostBeskrivelse"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
