projects/TAS blanketter/Leverancer/20160819TAS/20160819TAS.r14689/package/view/ToldangivelseIndskrivningIKlarererRegnskabBasisoplysningerOmAnsoegningStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14689</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Ansoegning.xsd"/>
				     
         <xs:include schemaLocation="../class/UCCAnsoegningBevillingGeografiskGyldighed.xsd"/>
         <xs:include schemaLocation="../class/Land.xsd"/>
         <xs:include schemaLocation="../view/UCCAfgoerelseReferenceNummerStrukturType.xsd"/>
				     
         <xs:element name="ToldangivelseIndskrivningIKlarererRegnskabBasisoplysningerOmAnsøgningStruktur"
                     type="skat2016:ToldangivelseIndskrivningIKlarererRegnskabBasisoplysningerOmAnsøgningStrukturType"/>
         <xs:complexType name="ToldangivelseIndskrivningIKlarererRegnskabBasisoplysningerOmAnsøgningStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="skat2016:AnsøgningType"/>
                  
                  <xs:element ref="skat2016:UCCAfgørelseReferenceNummerStruktur"/>
               <xs:element name="MedlemsstaterGyldighed">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="skat2016:UCCAnsøgningBevillingGeografiskGyldighedOmråde"/>
                        <xs:element name="LandeListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="skat2016:LandKode" minOccurs="0" maxOccurs="unbounded"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
