projects/Selvangivelsen/20201109/oioservice/urn/oio/skat/selvangivelse/ws/1_0_0/TopskatStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:selvangivelsews="urn:oio:skat:selvangivelse:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:selvangivelse:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:selvangivelse="urn:oio:skat:selvangivelse:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/TopskatOverfoertTilAegtefaelleBeloeb.xsd"/><xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/TopskatOverfoertFraAegtefaelleBeloeb.xsd"/><xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/TopskatManueltNettoBeloeb.xsd"/><xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/TopskatTotalBeloeb.xsd"/><xs:element name="TopskatStruktur" type="selvangivelsews:TopskatStrukturType"/>
	<xs:complexType name="TopskatStrukturType">
		<xs:sequence>
			<xs:element name="Topskat">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="selvangivelse:TopskatManueltNettoBeloeb" minOccurs="0"/>
						<xs:element name="Topskatter" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PersonligIndkomst" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="selvangivelse:TopskatTotalBeloeb"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KapitalIndkomst" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="selvangivelse:TopskatTotalBeloeb"/>
												<xs:element name="AegtefaelleBetingetTopskat" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="selvangivelse:TopskatTotalBeloeb"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Aegtefaelle" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="selvangivelse:TopskatOverfoertTilAegtefaelleBeloeb" minOccurs="0"/>
												<xs:element ref="selvangivelse:TopskatOverfoertFraAegtefaelleBeloeb" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
