systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/wsdl/PeriodiskAfgiftHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="PeriodiskAfgiftHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Servicen skal hente samtlige detaljerede oplysninger som relaterer sig til en given periodisk afgift.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/PeriodiskAfgiftHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="PeriodiskAfgiftHentServiceRequest">
      
      <part name="Request" element="fase2.1:PeriodiskAfgiftHent_I"/>
   
   </message>
   
   <message name="PeriodiskAfgiftHentServiceResponse">
      
      <part name="Response" element="fase2.1:PeriodiskAfgiftHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="PeriodiskAfgiftHentServicePortType">
      
      <operation name="getPeriodiskAfgiftHent">
         
         <input message="fase2.1:PeriodiskAfgiftHentServiceRequest"/>
         
         <output message="fase2.1:PeriodiskAfgiftHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
