projects/Selvangivelsen/20241010/oioservice/package/urn/oio/skat/selvangivelse/ws/1_0_0/BoerneBidragAngivelseStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" xmlns:dkcc1="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:dkcc2="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" xmlns:selvangivelse="urn:oio:skat:selvangivelse:1.0.0" xmlns:selvangivelsews="urn:oio:skat:selvangivelse:ws:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:selvangivelse:ws:1.0.0" version="1.0" xml:lang="DA">
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressSixthLineText.xsd"/>
            
    
    <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/DummyMarkeringIndikator.xsd"/>
            
    
    <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdBoerneBidragBeloebKonfirmationBeloeb.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2003/02/13/PersonSurnameName.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2003/02/13/CountryIdentificationCode.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressThirdLineText.xsd"/>
            
    
    <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdBoerneBidragAftaltBeloebMaanedligBeloeb.xsd"/>
            
    
    <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/AlternativAdresseAdresseLinie7Text.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressSecondLineText.xsd"/>
            
    
    <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdBoerneBidragDaekningPeriodeStartDato.xsd"/>
            
    
    <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdBoerneBidragBeloebDaabBeloeb.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressFourthLineText.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressFirstLineText.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/05/19/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/05/19/PostalAddressFifthLineText.xsd"/>
            
    
    <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdBoerneBidragNormalbidragProcentTillaegProcent.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../../../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd"/>
            
    
    <xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/UnderholdBoerneBidragDaekningPeriodeSlutDato.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2003/02/13/PersonGivenName.xsd"/>
            
    
    <xs:import namespace="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2005/03/15/" schemaLocation="../../../../../../ebxml/xml/schemas/dkcc/2005/03/15/BirthDate.xsd"/>
            
    
    <xs:annotation>
                        
        
        <xs:documentation/>
                    
    
    </xs:annotation>
            
    
    <xs:element name="BoerneBidragAngivelseStruktur" type="selvangivelsews:BoerneBidragAngivelseStrukturType"/>
            
    
    <xs:complexType name="BoerneBidragAngivelseStrukturType">
                        
        
        <xs:sequence>
                                    
            
            <xs:element name="BarnIdentifikationValg">
                                                
                
                <xs:complexType>
                                                            
                    
                    <xs:choice>
                                                                        
                        
                        <xs:element ref="core:PersonCivilRegistrationIdentifier"/>
                                                                        
                        
                        <xs:sequence>
                                                                                    
                            
                            <xs:element name="NonCPRNummer">
                                                                                                
                                
                                <xs:complexType>
                                                                                                            
                                    
                                    <xs:sequence>
                                                                                                                        
                                        
                                        <xs:element ref="dkcc1:PersonGivenName"/>
                                                                                                                        
                                        
                                        <xs:element ref="dkcc1:PersonSurnameName"/>
                                                                                                                        
                                        
                                        <xs:element ref="dkcc:BirthDate"/>
                                                                                                                        
                                        
                                        <xs:element minOccurs="0" ref="dkcc2:PostalAddressFirstLineText"/>
                                                                                                                        
                                        
                                        <xs:element minOccurs="0" ref="dkcc2:PostalAddressSecondLineText"/>
                                                                                                                        
                                        
                                        <xs:element minOccurs="0" ref="dkcc2:PostalAddressThirdLineText"/>
                                                                                                                        
                                        
                                        <xs:element minOccurs="0" ref="dkcc2:PostalAddressFourthLineText"/>
                                                                                                                        
                                        
                                        <xs:element minOccurs="0" ref="dkcc2:PostalAddressFifthLineText"/>
                                                                                                                        
                                        
                                        <xs:element minOccurs="0" ref="dkcc2:PostalAddressSixthLineText"/>
                                                                                                                        
                                        
                                        <xs:element minOccurs="0" ref="selvangivelse:AlternativAdresseAdresseLinie7Text"/>
                                                                                                                        
                                        
                                        <xs:element ref="dkcc1:CountryIdentificationCode"/>
                                                                                                                    
                                    
                                    </xs:sequence>
                                                                                                        
                                
                                </xs:complexType>
                                                                                            
                            
                            </xs:element>
                                                                                
                        
                        </xs:sequence>
                                                                    
                    
                    </xs:choice>
                                                        
                
                </xs:complexType>
                                            
            
            </xs:element>
                                    
            
            <xs:element name="PeriodeValg">
                                                
                
                <xs:complexType>
                                                            
                    
                    <xs:choice>
                                                                        
                        
                        <xs:sequence>
                                                                                    
                            
                            <xs:element name="HeleAaret">
                                                                                                
                                
                                <xs:complexType>
                                                                                                            
                                    
                                    <xs:sequence>
                                                                                                                        
                                        
                                        <xs:element name="BidragTypeValg">
                                                                                                                                    
                                            
                                            <xs:complexType>
                                                                                                                                                
                                                
                                                <xs:choice>
                                                                                                                                                            
                                                    
                                                    <xs:sequence>
                                                                                                                                                                        
                                                        
                                                        <xs:element name="NormalBidrag">
                                                                                                                                                                                    
                                                            
                                                            <xs:complexType>
                                                                                                                                                                                                
                                                                
                                                                <xs:sequence>
                                                                                                                                                                                                            
                                                                    
                                                                    <xs:element ref="selvangivelse:DummyMarkeringIndikator"/>
                                                                                                                                                                                                        
                                                                
                                                                </xs:sequence>
                                                                                                                                                                                            
                                                            
                                                            </xs:complexType>
                                                                                                                                                                                
                                                        
                                                        </xs:element>
                                                                                                                                                                    
                                                    
                                                    </xs:sequence>
                                                                                                                                                            
                                                    
                                                    <xs:sequence>
                                                                                                                                                                        
                                                        
                                                        <xs:element name="NormalBidragMedTillaeg">
                                                                                                                                                                                    
                                                            
                                                            <xs:complexType>
                                                                                                                                                                                                
                                                                
                                                                <xs:sequence>
                                                                                                                                                                                                            
                                                                    
                                                                    <xs:element ref="selvangivelse:UnderholdBoerneBidragNormalbidragProcentTillaegProcent"/>
                                                                                                                                                                                                        
                                                                
                                                                </xs:sequence>
                                                                                                                                                                                            
                                                            
                                                            </xs:complexType>
                                                                                                                                                                                
                                                        
                                                        </xs:element>
                                                                                                                                                                    
                                                    
                                                    </xs:sequence>
                                                                                                                                                            
                                                    
                                                    <xs:sequence>
                                                                                                                                                                        
                                                        
                                                        <xs:element name="BeloebEfterAftale">
                                                                                                                                                                                    
                                                            
                                                            <xs:complexType>
                                                                                                                                                                                                
                                                                
                                                                <xs:sequence>
                                                                                                                                                                                                            
                                                                    
                                                                    <xs:element ref="selvangivelse:UnderholdBoerneBidragAftaltBeloebMaanedligBeloeb"/>
                                                                                                                                                                                                        
                                                                
                                                                </xs:sequence>
                                                                                                                                                                                            
                                                            
                                                            </xs:complexType>
                                                                                                                                                                                
                                                        
                                                        </xs:element>
                                                                                                                                                                    
                                                    
                                                    </xs:sequence>
                                                                                                                                                        
                                                
                                                </xs:choice>
                                                                                                                                            
                                            
                                            </xs:complexType>
                                                                                                                                
                                        
                                        </xs:element>
                                                                                                                    
                                    
                                    </xs:sequence>
                                                                                                        
                                
                                </xs:complexType>
                                                                                            
                            
                            </xs:element>
                                                                                
                        
                        </xs:sequence>
                                                                        
                        
                        <xs:sequence>
                                                                                    
                            
                            <xs:element name="Periode">
                                                                                                
                                
                                <xs:complexType>
                                                                                                            
                                    
                                    <xs:sequence>
                                                                                                                        
                                        
                                        <xs:element ref="selvangivelse:UnderholdBoerneBidragDaekningPeriodeStartDato"/>
                                                                                                                        
                                        
                                        <xs:element ref="selvangivelse:UnderholdBoerneBidragDaekningPeriodeSlutDato"/>
                                                                                                                        
                                        
                                        <xs:element name="BidragTypeValg">
                                                                                                                                    
                                            
                                            <xs:complexType>
                                                                                                                                                
                                                
                                                <xs:choice>
                                                                                                                                                            
                                                    
                                                    <xs:sequence>
                                                                                                                                                                        
                                                        
                                                        <xs:element name="NormalBidrag">
                                                                                                                                                                                    
                                                            
                                                            <xs:complexType>
                                                                                                                                                                                                
                                                                
                                                                <xs:sequence>
                                                                                                                                                                                                            
                                                                    
                                                                    <xs:element ref="selvangivelse:DummyMarkeringIndikator"/>
                                                                                                                                                                                                        
                                                                
                                                                </xs:sequence>
                                                                                                                                                                                            
                                                            
                                                            </xs:complexType>
                                                                                                                                                                                
                                                        
                                                        </xs:element>
                                                                                                                                                                    
                                                    
                                                    </xs:sequence>
                                                                                                                                                            
                                                    
                                                    <xs:sequence>
                                                                                                                                                                        
                                                        
                                                        <xs:element name="NormalBidragMedTillaeg">
                                                                                                                                                                                    
                                                            
                                                            <xs:complexType>
                                                                                                                                                                                                
                                                                
                                                                <xs:sequence>
                                                                                                                                                                                                            
                                                                    
                                                                    <xs:element ref="selvangivelse:UnderholdBoerneBidragNormalbidragProcentTillaegProcent"/>
                                                                                                                                                                                                        
                                                                
                                                                </xs:sequence>
                                                                                                                                                                                            
                                                            
                                                            </xs:complexType>
                                                                                                                                                                                
                                                        
                                                        </xs:element>
                                                                                                                                                                    
                                                    
                                                    </xs:sequence>
                                                                                                                                                            
                                                    
                                                    <xs:sequence>
                                                                                                                                                                        
                                                        
                                                        <xs:element name="BeloebEfterAftale">
                                                                                                                                                                                    
                                                            
                                                            <xs:complexType>
                                                                                                                                                                                                
                                                                
                                                                <xs:sequence>
                                                                                                                                                                                                            
                                                                    
                                                                    <xs:element ref="selvangivelse:UnderholdBoerneBidragAftaltBeloebMaanedligBeloeb"/>
                                                                                                                                                                                                        
                                                                
                                                                </xs:sequence>
                                                                                                                                                                                            
                                                            
                                                            </xs:complexType>
                                                                                                                                                                                
                                                        
                                                        </xs:element>
                                                                                                                                                                    
                                                    
                                                    </xs:sequence>
                                                                                                                                                        
                                                
                                                </xs:choice>
                                                                                                                                            
                                            
                                            </xs:complexType>
                                                                                                                                
                                        
                                        </xs:element>
                                                                                                                    
                                    
                                    </xs:sequence>
                                                                                                        
                                
                                </xs:complexType>
                                                                                            
                            
                            </xs:element>
                                                                                
                        
                        </xs:sequence>
                                                                        
                        
                        <xs:sequence>
                                                                                    
                            
                            <xs:element name="Engangsbeloeb">
                                                                                                
                                
                                <xs:complexType>
                                                                                                            
                                    
                                    <xs:sequence>
                                                                                                                        
                                        
                                        <xs:element minOccurs="0" ref="selvangivelse:UnderholdBoerneBidragBeloebDaabBeloeb"/>
                                                                                                                        
                                        
                                        <xs:element minOccurs="0" ref="selvangivelse:UnderholdBoerneBidragBeloebKonfirmationBeloeb"/>
                                                                                                                    
                                    
                                    </xs:sequence>
                                                                                                        
                                
                                </xs:complexType>
                                                                                            
                            
                            </xs:element>
                                                                                
                        
                        </xs:sequence>
                                                                    
                    
                    </xs:choice>
                                                        
                
                </xs:complexType>
                                            
            
            </xs:element>
                                
        
        </xs:sequence>
                    
    
    </xs:complexType>
        

</xs:schema>
