systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/AlternativKontaktStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/AlternativKontakt.xsd"/>
         <xs:include schemaLocation="../class/Land.xsd"/>
				     
         <xs:include schemaLocation="../view/AlternativKontaktErstatningNummerStrukturType.xsd"/>
				     
         <xs:element name="AlternativKontaktStruktur" type="fase2.1:AlternativKontaktStrukturType"/>
         <xs:complexType name="AlternativKontaktStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:AlternativKontaktNavn"/>
                  
                  <xs:element ref="fase2.1:AlternativKontaktType"/>
                  
                  <xs:element ref="fase2.1:AlternativKontaktGyldigFra"/>

               <xs:element ref="fase2.1:AlternativKontaktGyldigTil" minOccurs="0"/>


               <!--Sequence removed-->

                  <xs:element name="Nationalitet" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:LandKode"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
               <xs:element ref="fase2.1:AlternativKontaktOprettetAfFagsystem"/>

               <xs:element ref="fase2.1:AlternativKontaktBemærkning" minOccurs="0"/>



               <xs:element ref="fase2.1:AlternativKontaktErstatningNummerStruktur" minOccurs="0"/>


               <!--Sequence removed-->

                  <xs:element name="AlternativKontaktHenvisningNummer" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:AlternativKontaktID"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
