systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/BEOEkstraInfoStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/BetalingOrdningRate.xsd"/>
         <xs:include schemaLocation="../operational/DividendeProcent.xsd"/>
				     
         <xs:element name="BEOEkstraInfoStruktur" type="fase2.1:BEOEkstraInfoStrukturType"/>
         <xs:complexType name="BEOEkstraInfoStrukturType">
         
         
         
         
         
         
         
            
            
            
               
            <xs:sequence>

               <xs:element name="DividendeSamling" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="Dividende" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:BetalingOrdningRateSRBDato"/>
                  
                                 <xs:element ref="fase2.1:DividendeProcent"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

            </xs:sequence>

            
         
         
         
         
         </xs:complexType>
      </xs:schema>
