systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/BetalingOrdningDaekningRaekkefoelgeAEndrStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/EFIHenvendelse.xsd"/>
         <xs:include schemaLocation="../operational/EFIHenvendelsesDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BetalingOrdningAEndrBegrundelse.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
         <xs:include schemaLocation="../class/BetalingOrdningDaek.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DaekningRaekkefoelgeBeloebStrukturType.xsd"/>
				     
         <xs:element name="BetalingOrdningDækningRækkefølgeÆndrStruktur"
                     type="fase2.1:BetalingOrdningDækningRækkefølgeÆndrStrukturType"/>
         <xs:complexType name="BetalingOrdningDækningRækkefølgeÆndrStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>

               <xs:element ref="fase2.1:EFIHenvendelseForm" minOccurs="0"/>



               <xs:element ref="fase2.1:EFIHenvendelsesDato" minOccurs="0"/>



               <xs:element ref="fase2.1:BetalingOrdningÆndrBegrundelse" minOccurs="0"/>


               <xs:element name="FordringOmfattetAfBetalingordningListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="FordringOmfattetAfBetalingordning" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                 <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringTypeFradragsret"/>

                                 <xs:element ref="fase2.1:BetalingOrdningDækPriorit" minOccurs="0"/>


                                 <!--Sequence removed-->

                                    <xs:element name="BetalingOrdningAndelValg" minOccurs="0">
                                       <xs:complexType>
                                          <xs:choice>
                                             <xs:sequence>
                                                <xs:element name="ProcentAndel">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:BetalingOrdningDækProcent"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
				
				                                         </xs:sequence>
				                                         <xs:element ref="fase2.1:DækningRækkefølgeBeløbStruktur"/>
                                          </xs:choice>
                                       </xs:complexType>
                                    </xs:element>
                                 

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
