systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/BobehandlingFremtidigHaendelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/EFIHaendelse.xsd"/>
         <xs:element name="BobehandlingFremtidigHændelseStruktur"
                     type="fase2.1:BobehandlingFremtidigHændelseStrukturType"/>
         <xs:complexType name="BobehandlingFremtidigHændelseStrukturType">
         
         
         
         
         
         
         
            
            
            
            
               <xs:sequence>
               <xs:element name="FremtidigHændelsesSamling">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="FremtidigHændelse" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:EFIHændelseID"/>
                  
                                 <xs:element ref="fase2.1:EFIHændelseType"/>
                  
                                 <xs:element ref="fase2.1:EFIHændelseDato"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
