systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/BoerneBudgetStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/PersonNavn.xsd"/>
         <xs:include schemaLocation="../class/Person.xsd"/>
				     
         <xs:include schemaLocation="../view/BoerneBudgetPostStrukturType.xsd"/>
				     
         <xs:element name="BørneBudgetStruktur" type="fase2.1:BørneBudgetStrukturType"/>
         <xs:complexType name="BørneBudgetStrukturType">
         
         
         
         
         
         
         
            
            
            
            
               <xs:sequence>

               <xs:element ref="fase2.1:PersonNavnNavn" minOccurs="0"/>



               <xs:element ref="fase2.1:PersonCPRNummer" minOccurs="0"/>


               <xs:element name="BørneBudgetPostListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:BørneBudgetPostStruktur" minOccurs="0" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
