systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/DaekningAngivelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../operational/RaekkefoelgeNummer.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../view/TransaktionDaekningBeloebStrukturType.xsd"/>
				     
         <xs:element name="DækningAngivelseStruktur" type="fase2.1:DækningAngivelseStrukturType"/>
         <xs:complexType name="DækningAngivelseStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="DækningSamling">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="TransaktionDækningElement" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DMITransaktionType"/>
                  
                                 <xs:element ref="fase2.1:DMITransaktionID"/>
                  
                                 <xs:element ref="fase2.1:RækkefølgeNummer"/>
                  
                                 <xs:element ref="fase2.1:TransaktionDækningBeløbStruktur"/>
                                 <!--Sequence removed-->

                                    <xs:element name="AndenKunde" minOccurs="0">
                                       <xs:complexType>
                                          <xs:sequence>

                                             <xs:element ref="fase2.1:KundeNummer" minOccurs="0"/>


                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
