systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/DOForventetIndbetalingOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
         <xs:include schemaLocation="../operational/MFNoteTekst.xsd"/>
				     
         <xs:include schemaLocation="../class/ForventetIndbetaling.xsd"/>
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
         <xs:include schemaLocation="../class/ForventetIndbetalingDaek.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterOpretStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/SimuleretRenteBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IndbetalingRaekkefoelgeBeloebStrukturType.xsd"/>
				     
				     
         <xs:element name="DOForventetIndbetalingOpret_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DOForventetIndbetalingOpret_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DOForventetIndbetalingOpret_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="ForventetIndbetaling">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Kunde">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndberetterOpretStruktur"/>
                  
                                       <xs:element ref="fase2.1:KundeStruktur"/>
                                       <!--Sequence removed-->

                                          <xs:element name="KundeNote" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:MFNoteTekst"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       
                                       <xs:element ref="fase2.1:ForventetIndbetalingSRBDato"/>

                                       <xs:element ref="fase2.1:ForventetIndbetalingHændelse" minOccurs="0"/>



                                       <xs:element ref="fase2.1:IndsatsID" minOccurs="0"/>


                                       <xs:element name="FordringListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="Fordring" minOccurs="1" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                                         <xs:element ref="fase2.1:SimuleretRenteBeløbStruktur"/>
                                                         <!--Sequence removed-->

                                                            <xs:element name="DækningRækkefølgeOplysning" minOccurs="0">
                                                               <xs:complexType>
                                                                  <xs:sequence>

                                                                     <xs:element ref="fase2.1:ForventetIndbetalingDækPriorit" minOccurs="0"/>


                                                                     <xs:element name="ForventetIndbetalingAndelValg">
                                                                        <xs:complexType>
                                                                           <xs:choice>
                                                                              <xs:element ref="fase2.1:ForventetIndbetalingDækProcent"/>
				
				
				                                                                          <xs:element ref="fase2.1:IndbetalingRækkefølgeBeløbStruktur"/>
                                                                           </xs:choice>
                                                                        </xs:complexType>
                                                                     </xs:element>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         

                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <!--Sequence removed-->

                                 <xs:element name="AlternativIndbetaler" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:ForventetIndbetalingUdbAltIndb"/>
                  
                                          <xs:element ref="fase2.1:KundeStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
