systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/DOKontoIndbetalingFordelingAEndr_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../operational/OmposteringAktion.xsd"/>
				     
				     
         <xs:include schemaLocation="../operational/MFNoteTekst.xsd"/>
				     
         <xs:include schemaLocation="../class/Opgave.xsd"/>
         <xs:include schemaLocation="../operational/OmposteringStopAktion.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../operational/ForetagIkkeAutomatiskDaekning.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IndbetalingFordelingAArsagStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DaekningAngivelseStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/IndbetalingBeloebStrukturType.xsd"/>
				     
         <xs:element name="DOKontoIndbetalingFordelingÆndr_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DOKontoIndbetalingFordelingÆndr_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DOKontoIndbetalingFordelingÆndr_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:OmposteringAktion"/>
                  
                     <xs:element ref="fase2.1:KundeStruktur"/>
                     <!--Sequence removed-->

                        <xs:element name="KundeNote" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MFNoteTekst"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     

                     <!--Sequence removed-->

                        <xs:element name="AfslutOpgave" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:OpgaveBookingreference"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     


                     <xs:element ref="fase2.1:OmposteringStopAktion" minOccurs="0"/>

                     <xs:element ref="fase2.1:DMIIndbetalingID"/>
                  
                     <xs:element ref="fase2.1:DMIIndbetalingDato"/>
                  
                     <xs:element ref="fase2.1:DMIIndbetalingArt"/>
                  
                     <xs:element ref="fase2.1:DMIIndbetalingKilde"/>

                     <xs:element ref="fase2.1:DMIIndbetalingAfsender" minOccurs="0"/>



                     <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode" minOccurs="0"/>


                     <!--Sequence removed-->

                        <xs:element name="NyIndbetalingFordeling" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:IndbetalingFordelingÅrsagStruktur"/>
                                 <xs:element name="Valg">
                                    <xs:complexType>
                                       <xs:choice>
                                          <xs:sequence>
                                             <xs:element name="NyDækning">
                                                <xs:complexType>
                                                   <xs:sequence>
                                                      <xs:element ref="fase2.1:DækningAngivelseStruktur"/>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
				
				                                      </xs:sequence>
                                          <xs:sequence>
				
                                             <xs:element name="ÆndrIndbetaler">
                                                <xs:complexType>
                                                   <xs:sequence>
                                                      <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                                      <xs:element ref="fase2.1:ForetagIkkeAutomatiskDækning"/>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
				
				                                      </xs:sequence>
                                          <xs:sequence>
				
                                             <xs:element name="OphævDækningsløs">
                                                <xs:complexType>
                                                   <xs:sequence>

                                                      <xs:element ref="fase2.1:IndbetalingBeløbStruktur" minOccurs="0"/>

                                                      <xs:element ref="fase2.1:ForetagIkkeAutomatiskDækning"/>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
                                          </xs:sequence>
                                       </xs:choice>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
