systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/DOKontoUdbetalingAfgoer_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
         <xs:include schemaLocation="../class/Opgave.xsd"/>
         <xs:include schemaLocation="../class/DMIUdbetaling.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/UdbetalingBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/UdbetAfvisAArsagStrukturType.xsd"/>
				     
         <xs:element name="DOKontoUdbetalingAfgør_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DOKontoUdbetalingAfgør_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DOKontoUdbetalingAfgør_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:KundeStruktur"/>
                  
                     <xs:element ref="fase2.1:UdbetalingBeløbStruktur"/>
                     <!--Sequence removed-->

                        <xs:element name="AfslutOpgave" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:OpgaveBookingreference"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     

                     <xs:element name="GodkendtUdbetaling">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:DMIUdbetalingID"/>
                              <xs:element name="UdbetalingÅrsagValg">
                                 <xs:complexType>
                                    <xs:choice>
                                       <xs:element ref="fase2.1:DMIUdbetalingGodkTypeKode"/>
				
				
				                                   <xs:element ref="fase2.1:UdbetAfvisÅrsagStruktur"/>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
