systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/DOKontoStopAEndr_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../operational/EjerAfEnkeltmandsvirksomhed.xsd"/>
				     
         <xs:include schemaLocation="../operational/MFNoteTekst.xsd"/>
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/DMIKunde.xsd"/>
         <xs:include schemaLocation="../view/DOKundeModregningStopStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DOKundeModregningGraenseBFYStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DOInddrivelseKontoStopStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DOOmposteringStopStrukturType.xsd"/>
				     
         <xs:element name="DOKontoStopÆndr_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DOKontoStopÆndr_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DOKontoStopÆndr_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:KundeNummer"/>
                  
                     <xs:element ref="fase2.1:KundeType"/>
                  
                     <xs:element ref="fase2.1:EjerAfEnkeltmandsvirksomhed"/>
                     <!--Sequence removed-->

                        <xs:element name="KundeNote" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MFNoteTekst"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     

                     <!--Sequence removed-->

                        <xs:element name="KundeModregningStopListe" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DOKundeModregningStopStruktur" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     

                     <!--Sequence removed-->

                        <xs:element name="KundeModregningGrænseBFYListe" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DOKundeModregningGrænseBFYStruktur" minOccurs="1"
                                    maxOccurs="unbounded"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     

                     <!--Sequence removed-->

                        <xs:element name="InddrivelseKontoStopListe" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DOInddrivelseKontoStopStruktur" minOccurs="1"
                                    maxOccurs="unbounded"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     

                     <!--Sequence removed-->

                        <xs:element name="OmposteringStopStrukturListe" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DOOmposteringStopStruktur" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     


                     <xs:element ref="fase2.1:KundeUnderBobehandling" minOccurs="0"/>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
