systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/DOKontoIndbetalingFordelingAEndr_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Opgave.xsd"/>
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
				     
				     
         <xs:include schemaLocation="../operational/RaekkefoelgeNummer.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../view/IndbetalingBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransaktionDaekningElementStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/IndbetalingRestBeloebStrukturType.xsd"/>
				     
         <xs:element name="DOKontoIndbetalingFordelingÆndr_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DOKontoIndbetalingFordelingÆndr_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DOKontoIndbetalingFordelingÆndr_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
                  

                     <xs:element ref="fase2.1:OpgaveBookingreference" minOccurs="0"/>


                     <xs:element name="ÆndretIndbetalingFordeling" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="IndbetalingBetalingIdentifikation">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndbetalingID"/>
                                       <xs:element name="NytIndbetalingsIDOption3">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element ref="fase2.1:DMIIndbetalingID" minOccurs="0"/>


                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element ref="fase2.1:IndbetalingBeløbStruktur"/>

                                       <xs:element ref="fase2.1:DMIIndbetalingVirkningFra" minOccurs="0"/>


                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="OprindeligTransaktionDækningElementListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="OprindeligTransaktionDækningElement" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:TransaktionDækningElementStruktur"/>
                  
                                                <xs:element ref="fase2.1:RækkefølgeNummer"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element name="NyTransaktionDækningElementListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="NyTransaktionDækningElement" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:TransaktionDækningElementStruktur"/>
                  
                                                <xs:element ref="fase2.1:RækkefølgeNummer"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element ref="fase2.1:IndbetalingRestBeløbStruktur"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
