systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/DPDokumentSoeg_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/DPPost.xsd"/>
         <xs:include schemaLocation="../operational/DPNoteID.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/DPDokument.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringHaver.xsd"/>
         <xs:include schemaLocation="../class/EFIHenvendelse.xsd"/>
         <xs:include schemaLocation="../operational/EFIHenvendelsesDato.xsd"/>
				     
         <xs:include schemaLocation="../class/MeddelelseType.xsd"/>
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../class/IndsatsType.xsd"/>
         <xs:include schemaLocation="../class/IndsatsUnderType.xsd"/>
         <xs:include schemaLocation="../view/EFIKundeIdentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIIndberetterOpretStrukturType.xsd"/>
				     
         <xs:element name="DPDokumentSøg_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DPDokumentSøg_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DPDokumentSøg_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->

                     <xs:element ref="fase2.1:EFIKundeIdentStruktur" minOccurs="0"/>



                     <xs:element ref="fase2.1:DPPostJournalNummer" minOccurs="0"/>



                     <xs:element ref="fase2.1:DPNoteID" minOccurs="0"/>



                     <xs:element ref="fase2.1:DMIIndberetterOpretStruktur" minOccurs="0"/>


                     <!--Sequence removed-->

                        <xs:element name="PeriodeFra" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DPDokumentOprettetDato"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     

                     <!--Sequence removed-->

                        <xs:element name="PeriodeTil" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DPDokumentOprettetDato"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     


                     <xs:element ref="fase2.1:DPDokumentEksternReference" minOccurs="0"/>



                     <xs:element ref="fase2.1:DMIFordringEFIFordringID" minOccurs="0"/>



                     <xs:element ref="fase2.1:DMIFordringHaverID" minOccurs="0"/>



                     <xs:element ref="fase2.1:EFIHenvendelseForm" minOccurs="0"/>



                     <xs:element ref="fase2.1:EFIHenvendelsesDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:MeddelelseTypeNummer" minOccurs="0"/>



                     <xs:element ref="fase2.1:IndsatsID" minOccurs="0"/>



                     <xs:element ref="fase2.1:IndsatsTypeKode" minOccurs="0"/>



                     <xs:element ref="fase2.1:IndsatsUnderTypeKode" minOccurs="0"/>


                     <!--Sequence removed-->

                        <xs:element name="DokumentPrioritetFra" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DPDokumentPrioritet"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     

                     <!--Sequence removed-->

                        <xs:element name="DokumentPrioritetTil" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DPDokumentPrioritet"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     

                     <!--Sequence removed-->

                        <xs:element name="DPPostTypeSamling" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DPPostType" minOccurs="0" maxOccurs="unbounded"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     


                     <xs:element ref="fase2.1:DPDokumentArt" minOccurs="0"/>


                     <!--Sequence removed-->

                        <xs:element name="DPDokumentTypeSamling" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DPDokumentType" minOccurs="0" maxOccurs="unbounded"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
