systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/EFIBetalingEvneBudgetAEndr_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
         <xs:include schemaLocation="../class/BetalingEvne.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/SBetalingEvne.xsd"/>
         <xs:include schemaLocation="../view/EFIBudgetStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingEvneBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/SBetalingEvneBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/SLoenIndeholdelseBeloebStrukturType.xsd"/>
				     
         <xs:element name="EFIBetalingEvneBudgetÆndr_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:EFIBetalingEvneBudgetÆndr_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="EFIBetalingEvneBudgetÆndr_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               
                  

                     <xs:element name="BudgetSimuleringOplysninger" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:EFIBudgetStruktur"/>
                  
                              <xs:element ref="fase2.1:BetalingEvneBeløbStruktur"/>

                              <xs:element ref="fase2.1:BetalingEvneBeregLønIndProcent" minOccurs="0"/>



                              <xs:element ref="fase2.1:SBetalingEvneBeløbStruktur" minOccurs="0"/>



                              <xs:element ref="fase2.1:SLønIndeholdelseBeløbStruktur" minOccurs="0"/>



                              <xs:element ref="fase2.1:SBetalingEvneBeregnLønIndProcent" minOccurs="0"/>


                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  

            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
