systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/EFIETILAndelSoeg_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../operational/AndelIdentifikatorIndhold.xsd"/>
				     
         <xs:include schemaLocation="../operational/AndelIdentifikatorBeskrivelse.xsd"/>
				     
         <xs:include schemaLocation="../operational/HaeftelserPaaAndelIndikator.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIETILAndelIdentifikatorStrukturType.xsd"/>
				     
         <xs:element name="EFIETILAndelSøg_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:EFIETILAndelSøg_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="EFIETILAndelSøg_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
                  
                     <xs:element name="EFIETILAndelSøgStruktur" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="AndelSamling">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="Andel" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:EFIETILAndelIdentifikatorStruktur"/>
                  
                                                <xs:element ref="fase2.1:AndelIdentifikatorIndhold"/>
                  
                                                <xs:element ref="fase2.1:AndelIdentifikatorBeskrivelse"/>
                  
                                                <xs:element ref="fase2.1:HæftelserPåAndelIndikator"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
