systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/EFIKundeIdentStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Person.xsd"/>
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/AlternativKontakt.xsd"/>
         <xs:element name="EFIKundeIdentStruktur" type="fase2.1:EFIKundeIdentStrukturType"/>
         <xs:complexType name="EFIKundeIdentStrukturType">
         
         
         
         
         
         
         
            
            
            
            
               <xs:sequence>
               <xs:element name="IdentValg">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="fase2.1:PersonCPRNummer"/>
				
				
				                    <xs:element ref="fase2.1:VirksomhedSENummer"/>
				
				
				                    <xs:element ref="fase2.1:AlternativKontaktID"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
