systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/EFIMatriceCelleSamlingStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/EFICelleNoegle.xsd"/>
				     
         <xs:include schemaLocation="../operational/EFIVaerdi.xsd"/>
				     
         <xs:element name="EFIMatriceCelleSamlingStruktur"
                     type="fase2.1:EFIMatriceCelleSamlingStrukturType"/>
         <xs:complexType name="EFIMatriceCelleSamlingStrukturType">
         
         
         
         
         
         
         
            
            
            
               <xs:sequence>
               <xs:element name="CelleSamling">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="CelleStruktur" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element name="CelleNøgleSamling">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:EFICelleNøgle" minOccurs="2" maxOccurs="3"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>


                                 <xs:element ref="fase2.1:EFIVærdi" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
