systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/EFIMatriceModelStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/EFIMatriceNavn.xsd"/>
				     
         <xs:include schemaLocation="../operational/EFIMatriceType.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../operational/EFIVaerdiValgfri.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIMatriceTypeDefinitionStrukturType.xsd"/>
				     
				     
				     
         <xs:element name="EFIMatriceModelStruktur" type="fase2.1:EFIMatriceModelStrukturType"/>
         <xs:complexType name="EFIMatriceModelStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:EFIMatriceNavn"/>
                  
                  <xs:element ref="fase2.1:EFIMatriceType"/>
               <xs:element name="MatriceModel">
                  <xs:complexType>
                     <xs:choice>
                        <xs:sequence>
                           <xs:element name="MatriceDefinition">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="DimensionTypeSamling">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:EFIMatriceTypeDefinitionStruktur" minOccurs="2" maxOccurs="3"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>

                                    <xs:element name="CelleType">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:EFIMatriceTypeDefinitionStruktur"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
				
				                    </xs:sequence>
                        <xs:sequence>
				
                           <xs:element name="TabelDefinition">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="KolonneTypeSamling">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:EFIMatriceTypeDefinitionStruktur" minOccurs="1"
                                                         maxOccurs="unbounded"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>

                                    <xs:element ref="fase2.1:EFIVærdiValgfri"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
