systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/EFIMatriceValideringRapportSamlingStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/EFIMatriceNavn.xsd"/>
				     
         <xs:include schemaLocation="../operational/EFIMatriceValideringRapport.xsd"/>
				     
         <xs:element name="EFIMatriceValideringRapportSamlingStruktur"
                     type="fase2.1:EFIMatriceValideringRapportSamlingStrukturType"/>
         <xs:complexType name="EFIMatriceValideringRapportSamlingStrukturType">
         
         
         
         
         
         
         
            
            
            
               <xs:sequence>
               <xs:element name="RapportSamling">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="RapportStruktur" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:EFIMatriceNavn"/>
                  
                                 <xs:element ref="fase2.1:EFIMatriceValideringRapport"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
