systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/EFIOpgaveBookEllerOpretStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Opgave.xsd"/>
         <xs:include schemaLocation="../class/Opgavetype.xsd"/>
         <xs:include schemaLocation="../class/EFIHenvendelse.xsd"/>
				     
         <xs:include schemaLocation="../class/RSRessource.xsd"/>
         <xs:include schemaLocation="../class/Medarbejderprofil.xsd"/>
				     
         <xs:include schemaLocation="../view/AlternativAdresseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RSEFIEkstraInfoStrukturType.xsd"/>
				     
         <xs:element name="EFIOpgaveBookEllerOpretStruktur"
                     type="fase2.1:EFIOpgaveBookEllerOpretStrukturType"/>
         <xs:complexType name="EFIOpgaveBookEllerOpretStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:OpgaveOpgavetypeID"/>

                  <xs:element ref="fase2.1:OpgavetypeNavn" minOccurs="0"/>



                  <xs:element ref="fase2.1:OpgaveTekst" minOccurs="0"/>



                  <xs:element ref="fase2.1:EFIHenvendelseForm" minOccurs="0"/>



                  <xs:element ref="fase2.1:EFIHenvendelseDato" minOccurs="0"/>



                  <xs:element ref="fase2.1:OpgaveVentedage" minOccurs="0"/>



                  <xs:element ref="fase2.1:OpgaveGennemførselsfrist" minOccurs="0"/>



                  <xs:element ref="fase2.1:OpgaveBookingreference" minOccurs="0"/>


                  <!--Sequence removed-->

                     <xs:element name="MødeAdresse" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:AlternativAdresseStruktur"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  

                  <!--Sequence removed-->

                     <xs:element name="RessourceTrækListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="RessourceTræk" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:RSRessourceID"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  

                  <xs:element name="BooketAf">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:MedarbejderprofilWNummer"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element ref="fase2.1:RSEFIEkstraInfoStruktur" minOccurs="0"/>

               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
