systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/EFIVaerdiTypeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/EFIVaerdi.xsd"/>
				     
         <xs:include schemaLocation="../class/EFIVaerdiType.xsd"/>
         <xs:element name="EFIVærdiTypeStruktur" type="fase2.1:EFIVærdiTypeStrukturType"/>
         <xs:complexType name="EFIVærdiTypeStrukturType">
         
         
         
         
         
         
         
            
            
            
               <xs:sequence>
               <xs:element name="Valg">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:EFIVærdi"/>
                  
                        <xs:element ref="fase2.1:EFIVærdiTypeKode"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
