systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/EjerBrugerSamlingStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
				     
				     
         <xs:include schemaLocation="../view/EjerBrugerForholdGrundStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/JuridiskEnhedStrukturType.xsd"/>
				     
         <xs:element name="EjerBrugerSamlingStruktur" type="fase2.1:EjerBrugerSamlingStrukturType"/>
         <xs:complexType name="EjerBrugerSamlingStrukturType">
         
         
         
         
         
         
         
            
            
            
               <xs:sequence>
               <xs:element name="EjerBrugerSamling">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="EjerBruger" minOccurs="2" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:EjerBrugerForholdGrundStruktur"/>
                  
                                 <xs:element ref="fase2.1:JuridiskEnhedStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
