systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/FordringSaldoAEndretStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/Haeftelse.xsd"/>
         <xs:element name="FordringSaldoÆndretStruktur"
                     type="fase2.1:FordringSaldoÆndretStrukturType"/>
         <xs:complexType name="FordringSaldoÆndretStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
         
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:KundeNummer"/>
                  <xs:element name="FordringSamling">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="FordringÆndret" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>

                                    <xs:element ref="fase2.1:HæftelseSubsidiær" minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
