systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/FordringSumSamlingStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
				     
				     
				     
				     
         <xs:element name="FordringSumSamlingStruktur" type="fase2.1:FordringSumSamlingStrukturType"/>
         <xs:complexType name="FordringSumSamlingStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="SamletGæld">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="FordringArtSumListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="FordringArtSum" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                                 <xs:element name="SumEksklRenter">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                                 <xs:element name="SumInklRenter">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                                 <xs:element name="FordringTypeSumListe">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="FordringTypeSum" minOccurs="0" maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                                                   <xs:element name="SumEksklRenter">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                   <xs:element name="SumInklRenter">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
