systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/HaeftelseModregningStopListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../operational/EjerAfEnkeltmandsvirksomhed.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/HaeftelseModregningStop.xsd"/>
				     
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseModregningStopAArsagStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MyndighedUdbetalingPeriodeStrukturType.xsd"/>
				     
         <xs:element name="HæftelseModregningStopListeStruktur"
                     type="fase2.1:HæftelseModregningStopListeStrukturType"/>
         <xs:complexType name="HæftelseModregningStopListeStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="HæftelseModregningStopListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="HæftelseModregningStop" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:KundeNummer"/>
                  
                                 <xs:element ref="fase2.1:KundeType"/>

                                 <xs:element ref="fase2.1:EjerAfEnkeltmandsvirksomhed" minOccurs="0"/>

                                 <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                 <xs:element ref="fase2.1:HæftelseModregningStopType"/>
                  
                                 <xs:element ref="fase2.1:HæftelseModregningStopStart"/>
                  
                                 <xs:element ref="fase2.1:HæftelseModregningStopSlut"/>
                  
                                 <xs:element ref="fase2.1:HæftelseModregningStopÅrsagStruktur"/>
                                 <!--Sequence removed-->

                                    <xs:element name="MyndighedUdbetaling" minOccurs="0">
                                       <xs:complexType>
                                          <xs:sequence>

                                             <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode" minOccurs="0"/>

                                             <xs:element ref="fase2.1:MyndighedUdbetalingPeriodeStruktur"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
