systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/HaeftelseRenteFritagListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/HaeftelseRenteFritag.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRenteFritagAArsagStrukturType.xsd"/>
				     
         <xs:element name="HæftelseRenteFritagListeStruktur"
                     type="fase2.1:HæftelseRenteFritagListeStrukturType"/>
         <xs:complexType name="HæftelseRenteFritagListeStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="HæftelseRenteFritagListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="HæftelseRenteFritag" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:KundeNummer"/>
                  
                                 <xs:element ref="fase2.1:KundeType"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>

                                 <xs:element ref="fase2.1:HæftelseRenteFritagID" minOccurs="0"/>

                                 <xs:element ref="fase2.1:HæftelseRenteFritagStart"/>
                  
                                 <xs:element ref="fase2.1:HæftelseRenteFritagSlut"/>
                  
                                 <xs:element ref="fase2.1:HæftelseRenteFritagStatusKode"/>
                  
                                 <xs:element ref="fase2.1:HæftelseRenteFritagÅrsagStruktur"/>

                                 <xs:element ref="fase2.1:HæftelseRenteFritagAnnDato" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
