systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/IAIndsatsBoedeforvandlingStrafHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../class/Ressource.xsd"/>
         <xs:include schemaLocation="../class/IndsatsType.xsd"/>
         <xs:include schemaLocation="../class/IndsatsUnderType.xsd"/>
         <xs:include schemaLocation="../class/Tilstand.xsd"/>
         <xs:include schemaLocation="../operational/IndsatsSenestAEndretDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafOprindeligFordringSum.xsd"/>
				     
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafSamarbejdspartKontakt.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafSamarbejdspartTelefon.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafSamarbejdspartReference.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafForaeldelseDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafOpfoelgningDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafVarselAfsoningDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafVarselNyeFordringerDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafVarselFristDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafAnmodningSendtDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafKorrektionSendtDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafAfsoningPaabegyndDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafAfsoningAfslutDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BoedeforvandlingStrafAfsoningAflysDato.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIKundeIdentStrukturType.xsd"/>
				     
         <xs:element name="IAIndsatsBødeforvandlingStrafHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:IAIndsatsBødeforvandlingStrafHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="IAIndsatsBødeforvandlingStrafHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="IndsatsBødeforvandlingStrafHentStruktur" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:IndsatsStartdato"/>
                              <xs:element name="IndsatsOprettetAf">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:RessourceNummer"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element ref="fase2.1:IndsatsSlutdato" minOccurs="0"/>

                              <xs:element ref="fase2.1:IndsatsTypeKode"/>
                  
                              <xs:element ref="fase2.1:IndsatsUnderTypeKode"/>
                  
                              <xs:element ref="fase2.1:TilstandID"/>
                  
                              <xs:element ref="fase2.1:TilstandNavn"/>
                  
                              <xs:element ref="fase2.1:TilstandType"/>

                              <xs:element ref="fase2.1:IndsatsSenestÆndretDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafOprindeligFordringSum" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="SamarbejdPartnerStruktur" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:EFIKundeIdentStruktur"/>

                                          <xs:element ref="fase2.1:BødeforvandlingStrafSamarbejdspartKontakt" minOccurs="0"/>



                                          <xs:element ref="fase2.1:BødeforvandlingStrafSamarbejdspartTelefon" minOccurs="0"/>



                                          <xs:element ref="fase2.1:BødeforvandlingStrafSamarbejdspartReference" minOccurs="0"/>


                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              


                              <xs:element ref="fase2.1:BødeforvandlingStrafForaeldelseDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafOpfølgningDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafVarselAfsoningDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafVarselNyeFordringerDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafVarselFristDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafAnmodningSendtDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafKorrektionSendtDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafAfsoningPåbegyndDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafAfsoningAfslutDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BødeforvandlingStrafAfsoningAflysDato" minOccurs="0"/>


                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
