systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/IAIndsatsUdlaegHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/SporSkabelon.xsd"/>
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../class/Ressource.xsd"/>
         <xs:include schemaLocation="../class/IndsatsType.xsd"/>
         <xs:include schemaLocation="../class/Tilstand.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Udlaeg.xsd"/>
         <xs:include schemaLocation="../operational/BeskedTilKundeVedTilsigelse.xsd"/>
				     
				     
         <xs:include schemaLocation="../operational/MoedeStedPostNummer.xsd"/>
				     
         <xs:include schemaLocation="../operational/UdlaegForetagetDatoTid.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../class/Udlaegsblad.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/Retsafgift.xsd"/>
				     
         <xs:include schemaLocation="../view/AktivMedUdlaegStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpgaveReferenceStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAdresseStrukturType.xsd"/>
				     
				     
				     
				     
         <xs:element name="IAIndsatsUdlægHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:IAIndsatsUdlægHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="IAIndsatsUdlægHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="UdlægSvar" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element ref="fase2.1:SporSkabelonIndsatsSkabelonID" minOccurs="0"/>

                              <xs:element ref="fase2.1:IndsatsStartdato"/>
                              <xs:element name="IndsatsOprettetAf">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:RessourceNummer"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element ref="fase2.1:IndsatsSlutdato" minOccurs="0"/>

                              <xs:element ref="fase2.1:IndsatsTypeKode"/>
                  
                              <xs:element ref="fase2.1:TilstandID"/>
                  
                              <xs:element ref="fase2.1:TilstandNavn"/>
                  
                              <xs:element ref="fase2.1:TilstandType"/>
                              <xs:element name="AktiverMedUdlægISamling">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:AktivMedUdlægStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element name="OpgaveReferenceSamling">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:OpgaveReferenceStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>


                              <xs:element ref="fase2.1:UdlægTilsigelseForm" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægMedTilsigelse" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægTilsigelseDato" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="PolitieftersøgningDato" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:UdlægSagsfremstillingDato"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              


                              <xs:element ref="fase2.1:BeskedTilKundeVedTilsigelse" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægTilsigManuelt" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="TilsigelsesAdresse" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KFIAdresseStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              


                              <xs:element ref="fase2.1:UdlægMødeDatoTid" minOccurs="0"/>



                              <xs:element ref="fase2.1:MødeStedPostNummer" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægPlanlagtOpfølgningDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægForetagetDatoTid" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="UdlægsAdresse" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KFIAdresseStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              
                              <xs:element ref="fase2.1:UdlægForetagetHosSKAT"/>
                  
                              <xs:element ref="fase2.1:UdlægGenoptagetHosSKAT"/>
                              <!--Sequence removed-->

                                 <xs:element name="GenoptagUdlægAdresse" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KFIAdresseStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              


                              <xs:element ref="fase2.1:UdlægsbladGenoptagDatoTid" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="PolitifremstillingDato" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:UdlægSagsfremstillingDato"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                              <!--Sequence removed-->

                                 <xs:element name="RetsafgiftFordringID" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              


                              <xs:element ref="fase2.1:RetsafgiftSidsteGrundlagBeløb" minOccurs="0"/>



                              <xs:element ref="fase2.1:RetsafgiftSidsteBeregningDato" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="TillægsAfgiftFordringID" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                              <!--Sequence removed-->

                                 <xs:element name="TilsigelsesGebyrFordringID" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              


                              <xs:element ref="fase2.1:UdlægForkyndelseDato" minOccurs="0"/>


                              <xs:element name="FordringOmfattetSamling">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>


                              <xs:element ref="fase2.1:UdlægsbladJournalNummer" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="OpfølgningUdlægAdresse" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KFIAdresseStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              


                              <xs:element ref="fase2.1:UdlægsbladNavn" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladØvrigeTilStede" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladVidner" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladUndtagelsesbestemmelser" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladUndtagelsesbestemmelserBegrundelse" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladLåsesmed" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladLåsesmedBegrundelse" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladBetalingBeløb" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladKaldVarselFrasagt" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladSærligeBemærkninger" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladKundeHarKlaget" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdlægsbladKlageBegrundelse" minOccurs="0"/>


                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
