systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/IAIndsatsBobehandlingHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../class/Ressource.xsd"/>
         <xs:include schemaLocation="../class/IndsatsType.xsd"/>
         <xs:include schemaLocation="../class/IndsatsUnderType.xsd"/>
         <xs:include schemaLocation="../class/Tilstand.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/Bobehandling.xsd"/>
         <xs:include schemaLocation="../operational/BobehandlingAfslutningDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BobehandlingAfslutningResultatTekst.xsd"/>
				     
         <xs:include schemaLocation="../operational/BobehandlingDoedsDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BobehandlingFoersteUdlodningsDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BobehandlingStadfaestelseDato.xsd"/>
				     
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:element name="IAIndsatsBobehandlingHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:IAIndsatsBobehandlingHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="IAIndsatsBobehandlingHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element ref="fase2.1:IndsatsStartdato" minOccurs="0"/>
                     <xs:element name="IndsatsOprettetAf" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:RessourceNummer"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                     <xs:element ref="fase2.1:IndsatsSlutdato" minOccurs="0"/>

                     <xs:element ref="fase2.1:IndsatsTypeKode" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:IndsatsUnderTypeKode" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:TilstandID" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:TilstandNavn" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:TilstandType" minOccurs="0"/>
                     <xs:element name="FordringOmfattetSamling" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:DMIFordringEFIFordringID" minOccurs="0" maxOccurs="unbounded"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>


                     <xs:element ref="fase2.1:BobehandlingAfgørelseDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingAfgørelseÅrsag" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingAfgørelseKlageInstans" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingAfgørelseKlageInstansDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingAfslutningDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingAfslutningResultatTekst" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingAnmeldelseDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingAnsøgningDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingCirkulærePlanlagtDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingDekretDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingDødsDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingEfteranmeldelseDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingFørsteUdlodningsDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingFristDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingGældssaneringForslagDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingIndgivelseAnmodningDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingIndledningDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingKendelseDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingKlagefristDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingKlagefristRemonstrationDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingModtagetDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingModtagetKlageDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingSkifteretMødeDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingNyAfgørelseRemonstration" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingNyAfgørelseDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingOpdaterForældelse" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingProklamaDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingSkæringDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingStadfæstelseDato" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingUdløbBegrundelse" minOccurs="0"/>



                     <xs:element ref="fase2.1:BobehandlingUdløbDato" minOccurs="0"/>


                     <xs:element name="BobehandlingKunderepræsentantSamling" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="BobehandlingKontakt" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeNummer"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                     <xs:element name="BobehandlingSamarbejdspartnerSamling" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="BobehandlingKontakt" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeNummer"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
