systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/IAIndsatsParametrePaaIndsatsGem_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../class/IndsatsParameter.xsd"/>
				     
         <xs:include schemaLocation="../class/EFIVaerdiType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIVaerdiTypeStrukturType.xsd"/>
				     
				     
         <xs:element name="IAIndsatsParametrePåIndsatsGem_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:IAIndsatsParametrePåIndsatsGem_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="IAIndsatsParametrePåIndsatsGem_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:IndsatsID"/>
                     <xs:element name="SagGemParameterSamling">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="SagGemParameter" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:IndsatsParameterKode"/>
                                       <xs:element name="GammelVærdi">
                                          <xs:complexType>
                                             <xs:choice>
                                                <xs:element ref="fase2.1:EFIVærdiTypeStruktur"/>
				
				
				                                            <xs:element ref="fase2.1:EFIVærdiTypeNy"/>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="NyVærdi">
                                          <xs:complexType>
                                             <xs:choice>
                                                <xs:element ref="fase2.1:EFIVærdiTypeStruktur"/>
				
				
				                                            <xs:element ref="fase2.1:EFIVærdiTypeSlet"/>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
