systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/IMSagsbehandlerHaendelseUnderproces_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/EFIHaendelse.xsd"/>
         <xs:include schemaLocation="../class/DMIIndberetter.xsd"/>
         <xs:include schemaLocation="../operational/AntalForsoeg.xsd"/>
				     
         <xs:include schemaLocation="../operational/NaesteForsoeg.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/HaendelseFejlStrukturType.xsd"/>
				     
         <xs:element name="IMSagsbehandlerHændelseUnderproces_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:IMSagsbehandlerHændelseUnderproces_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="IMSagsbehandlerHændelseUnderproces_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="VentendeHændelseSamling" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="VentendeHændelse" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeNummer"/>
                  
                                       <xs:element ref="fase2.1:KundeType"/>
                  
                                       <xs:element ref="fase2.1:EFIHændelseID"/>
                  
                                       <xs:element ref="fase2.1:EFIHændelseDato"/>
                  
                                       <xs:element ref="fase2.1:EFIHændelseType"/>
                  
                                       <xs:element ref="fase2.1:DMIIndberetterRolle"/>
                  
                                       <xs:element ref="fase2.1:DMIIndberetterID"/>
                  
                                       <xs:element ref="fase2.1:AntalForsøg"/>

                                       <xs:element ref="fase2.1:NæsteForsøg" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HændelseFejlStruktur" minOccurs="0"/>


                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
