systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/IndsatsStartStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
         <xs:include schemaLocation="../view/BEOEkstraInfoStrukturType.xsd"/>
				     
         <xs:element name="IndsatsStartStruktur" type="fase2.1:IndsatsStartStrukturType"/>
         <xs:complexType name="IndsatsStartStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:IndsatsID"/>
                  <xs:element name="FordringSamling">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:DMIFordringEFIFordringID" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>


                  <xs:element ref="fase2.1:BEOEkstraInfoStruktur" minOccurs="0"/>

               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
