systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/IndsatsFordringTilfoejStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/IndsatsFordringTilfoejBegrundelse.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:element name="IndsatsFordringTilføjStruktur"
                     type="fase2.1:IndsatsFordringTilføjStrukturType"/>
         <xs:complexType name="IndsatsFordringTilføjStrukturType">
         
         
         
         
         
         
         
            
            
            
               <xs:sequence>

               <xs:element ref="fase2.1:IndsatsFordringTilføjBegrundelse" minOccurs="0"/>


               <xs:element name="FordringSamling">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:DMIFordringEFIFordringID" minOccurs="1" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
