systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIAktivStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Aktiv.xsd"/>
         <xs:include schemaLocation="../class/Udlaeg.xsd"/>
         <xs:include schemaLocation="../class/Udlaegsblad.xsd"/>
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/KFIAktivFastEjendomStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivAndelStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivKoeretoejStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivSimpelFordringStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivLoesoereStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivAnpartStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivVaerdipapirStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivOEvrigeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivOphaevetPensionStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivPrivatPensionStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAktivSikkerhedsstillelseStrukturType.xsd"/>
				     
         <xs:element name="KFIAktivStruktur" type="fase2.1:KFIAktivStrukturType"/>
         <xs:complexType name="KFIAktivStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->

                  <xs:element ref="fase2.1:AktivID" minOccurs="0"/>

                  <xs:element ref="fase2.1:AktivKildeType"/>
                  <xs:element name="UdlægReferenceSamling">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="UdlægReference" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:UdlægDato"/>
                  
                                    <xs:element ref="fase2.1:UdlægsbladJournalNummer"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element name="KFIAktiv">
                     <xs:complexType>
                        <xs:choice>
                           <xs:element ref="fase2.1:KFIAktivFastEjendomStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivAndelStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivKøretøjStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivSimpelFordringStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivLøsøreStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivAnpartStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivVærdipapirStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivØvrigeStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivOphævetPensionStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivPrivatPensionStruktur"/>
				
				
				                       <xs:element ref="fase2.1:KFIAktivSikkerhedsstillelseStruktur"/>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
               
            
         
         
         
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
