systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIAlternativKontaktStamoplysningStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/EFIKunde.xsd"/>
         <xs:include schemaLocation="../operational/ErEFIKunde.xsd"/>
				     
         <xs:include schemaLocation="../class/AlternativKontakt.xsd"/>
         <xs:include schemaLocation="../class/AlternativAdresse.xsd"/>
         <xs:include schemaLocation="../class/Land.xsd"/>
         <xs:element name="KFIAlternativKontaktStamoplysningStruktur"
                     type="fase2.1:KFIAlternativKontaktStamoplysningStrukturType"/>
         <xs:complexType name="KFIAlternativKontaktStamoplysningStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:EFIKundeType"/>
                  
                  <xs:element ref="fase2.1:ErEFIKunde"/>
                  
                  <xs:element ref="fase2.1:AlternativKontaktID"/>
                  
                  <xs:element ref="fase2.1:AlternativKontaktNavn"/>
                  
                  <xs:element ref="fase2.1:AlternativKontaktType"/>
               <!--Sequence removed-->

                  <xs:element name="Adresse" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie1" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie2" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie3" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie4" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie5" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie6" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie7" minOccurs="0"/>



                           <xs:element ref="fase2.1:LandKode" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
