systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIAlternativKontaktStamoplysningDetaljeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/AlternativKontakt.xsd"/>
         <xs:include schemaLocation="../operational/ErEFIKunde.xsd"/>
				     
         <xs:include schemaLocation="../operational/HarGyldigAdresse.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Civilstand.xsd"/>
         <xs:include schemaLocation="../class/Person.xsd"/>
         <xs:include schemaLocation="../class/AlternativKontaktPerson.xsd"/>
         <xs:include schemaLocation="../class/PersonStatus.xsd"/>
				     
         <xs:include schemaLocation="../class/EmailAdresse.xsd"/>
         <xs:include schemaLocation="../class/AlternativEmailForhold.xsd"/>
         <xs:include schemaLocation="../class/Telefon.xsd"/>
         <xs:include schemaLocation="../class/AlternativTelefonForhold.xsd"/>
         <xs:include schemaLocation="../class/Fax.xsd"/>
         <xs:include schemaLocation="../class/AlternativFaxForhold.xsd"/>
         <xs:include schemaLocation="../class/AlternativAdresse.xsd"/>
         <xs:include schemaLocation="../class/Land.xsd"/>
         <xs:include schemaLocation="../view/AlternativKontaktStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AlternativKontaktReferenceStrukturType.xsd"/>
				     
         <xs:element name="KFIAlternativKontaktStamoplysningDetaljeStruktur"
                     type="fase2.1:KFIAlternativKontaktStamoplysningDetaljeStrukturType"/>
         <xs:complexType name="KFIAlternativKontaktStamoplysningDetaljeStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:AlternativKontaktID"/>
                  
                  <xs:element ref="fase2.1:ErEFIKunde"/>
                  
                  <xs:element ref="fase2.1:HarGyldigAdresse"/>
                  
                  <xs:element ref="fase2.1:AlternativKontaktStruktur"/>
                  
                  <xs:element ref="fase2.1:AlternativKontaktOprettetDato"/>
                  
                  <xs:element ref="fase2.1:AlternativKontaktÆndretDato"/>
               <!--Sequence removed-->

                  <xs:element name="Personoplysninger" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element ref="fase2.1:CivilstandKode" minOccurs="0"/>



                           <xs:element ref="fase2.1:PersonFødselDato" minOccurs="0"/>

                           <xs:element ref="fase2.1:AlternativKontaktPersonKøn"/>

                           <xs:element ref="fase2.1:PersonStatusDødsfaldDato" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativKontaktPersonNavnAdresseBeskyttelseMarkering"
                                    minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               

               <xs:element name="AlternativKontaktReferenceStrukturListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:AlternativKontaktReferenceStruktur" minOccurs="0"
                                    maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               <xs:element name="EmailListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="Email" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:EmailAdresseEmail"/>
                  
                                 <xs:element ref="fase2.1:AlternativEmailForholdPrimærMarkering"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               <xs:element name="TelefonListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="Telefon" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:TelefonUdenlandskNummer"/>
                  
                                 <xs:element ref="fase2.1:AlternativTelefonForholdPrimærMarkering"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               <xs:element name="FaxListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="Fax" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:FaxUdlandNummer"/>
                  
                                 <xs:element ref="fase2.1:AlternativFaxForholdPrimærMarkering"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               <!--Sequence removed-->

                  <xs:element name="Adresse" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie1" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie2" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie3" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie4" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie5" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie6" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativAdresseAdresseLinie7" minOccurs="0"/>



                           <xs:element ref="fase2.1:LandKode" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
