systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIFordringMultiAEndr_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/EFIKunde.xsd"/>
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/TransportUdlaeg.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterOpretStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIFordringHaverStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MFNoteStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MFKFIDokumentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RenteValgStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIHaeftelseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/TransportRettighedshaverElementIndStrukturType.xsd"/>
				     
         <xs:element name="KFIFordringMultiÆndr_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:KFIFordringMultiÆndr_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="KFIFordringMultiÆndr_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="FordringÆndrListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="FordringÆndr" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndberetterOpretStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMITransaktionLøbenummer"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringTypeKode"/>

                                       <xs:element ref="fase2.1:DMIFordringFordringArtKode" minOccurs="0"/>


                                       <xs:element name="FordringTransportValg">
                                          <xs:complexType>
                                             <xs:choice>
                                                <xs:sequence>
                                                   <xs:element name="Fordring">
                                                      <xs:complexType>
                                                         <xs:sequence>

                                                            <xs:element ref="fase2.1:DMIFordringPEnhedNummer" minOccurs="0"/>



                                                            <xs:element ref="fase2.1:DMIFordringStiftelseTidspunkt" minOccurs="0"/>



                                                            <xs:element ref="fase2.1:EFIKundeArrest" minOccurs="0"/>


                                                            <!--Sequence removed-->

                                                               <xs:element name="NyFordringHaverStruktur" minOccurs="0">
                                                                  <xs:complexType>
                                                                     <xs:sequence>
                                                                        <xs:element ref="fase2.1:EFIFordringHaverStruktur"/>

                                                                        <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>


                                                                     </xs:sequence>
                                                                  </xs:complexType>
                                                               </xs:element>
                                                            

                                                            <xs:element name="SagsbemærkningSamling">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:MFNoteStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>

                                                            <xs:element name="DokumentSamling">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:MFKFIDokumentStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>


                                                            <xs:element ref="fase2.1:RenteValgStruktur" minOccurs="0"/>


                                                            <xs:element name="FordringHæftelseSamling">
                                                               <xs:complexType>
                                                                  <xs:sequence>

                                                                     <xs:element name="FordringHæftelse" minOccurs="0" maxOccurs="unbounded">
                                                                        <xs:complexType>
                                                                           <xs:sequence>
                                                                              <xs:element ref="fase2.1:KFIHæftelseStruktur"/>
                                                                           </xs:sequence>
                                                                        </xs:complexType>
                                                                     </xs:element>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>

                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
				
				                                            </xs:sequence>
                                                <xs:sequence>
				
                                                   <xs:element name="Transport">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:KundeStruktur"/>

                                                            <xs:element ref="fase2.1:TransportUdlægAcceptDato" minOccurs="0"/>



                                                            <xs:element ref="fase2.1:MFNoteStruktur" minOccurs="0"/>


                                                            <xs:element name="TransportRettighedshaverListe">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:TransportRettighedshaverElementIndStruktur" minOccurs="1"
                                                                           maxOccurs="unbounded"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>

                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
