systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIFordringHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../class/IndsatsType.xsd"/>
         <xs:include schemaLocation="../class/IndsatsUnderType.xsd"/>
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/Haeftelse.xsd"/>
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/TransportUdlaeg.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetaling.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
         <xs:include schemaLocation="../view/DMIIndberetterHentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/FordringPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIFordringHaverStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AkkumulRenteRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AkkumulGebyrRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HovedFordringTilbagekaldAArsagStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RenteValgStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIKundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIFordringFundamentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRestBeloebStrukturType.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../view/HaeftelseAfgiftBeregningStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIFordringPosteringStrukturType.xsd"/>
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/MyndighedUdbetalingPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransportRettighedshaverElementUdStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransaktionDaekningElementStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransportTransaktionElementStrukturType.xsd"/>
				     
         <xs:element name="KFIFordringHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:KFIFordringHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="KFIFordringHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="KFIFordringSamling" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Fordring" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringTypeKategori"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>

                                       <xs:element ref="fase2.1:DMIFordringKlasse" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIFordringTypeKode"/>

                                       <xs:element ref="fase2.1:DMIFordringPEnhedNummer" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringModtagelseDato"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringStiftelseTidspunkt"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringForfaldDato"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringSRBDato"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringBogførtDen"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringForeløbigFastsat"/>
                  
                                       <xs:element ref="fase2.1:FordringBeløbStruktur"/>
                  
                                       <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                       <!--Sequence removed-->

                                          <xs:element name="Hovedstol" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:FordringBeløbStruktur"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       
                                       <xs:element ref="fase2.1:FordringPeriodeStruktur"/>

                                       <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>



                                       <xs:element ref="fase2.1:DMIFordringFordringHaverBeskr" minOccurs="0"/>


                                       <xs:element name="IndsatsTypeKodeSamling">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="IndsatsTypeKodeStruktur" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>

                                                         <xs:element ref="fase2.1:IndsatsID" minOccurs="0"/>

                                                         <xs:element ref="fase2.1:IndsatsTypeKode"/>
                  
                                                         <xs:element ref="fase2.1:IndsatsUnderTypeKode"/>

                                                         <xs:element ref="fase2.1:IndsatsStartdato" minOccurs="0"/>


                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <xs:element ref="fase2.1:EFIFordringHaverStruktur"/>

                                       <xs:element ref="fase2.1:AkkumulRenteRestBeløbStruktur" minOccurs="0"/>



                                       <xs:element ref="fase2.1:AkkumulGebyrRestBeløbStruktur" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HovedFordringTilbagekaldÅrsagStruktur" minOccurs="0"/>



                                       <xs:element ref="fase2.1:RenteValgStruktur" minOccurs="0"/>


                                       <xs:element name="Hæftelseliste">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="Hæftelse" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                                         <xs:element ref="fase2.1:EFIKundeStruktur"/>
                  
                                                         <xs:element ref="fase2.1:HæftelseForm"/>
                  
                                                         <xs:element ref="fase2.1:HæftelseModtagelseDato"/>

                                                         <xs:element ref="fase2.1:HæftelseSlutDato" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:HæftelseSubsidiær" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:HæftelseBegrænsetProcent" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:EFIFordringFundamentStruktur" minOccurs="0"/>

                                                         <xs:element ref="fase2.1:HæftelseRestBeløbStruktur"/>

                                                         <xs:element ref="fase2.1:HæftelseForældelseDato" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:AkkumulRenteRestBeløbStruktur" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:AkkumulGebyrRestBeløbStruktur" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:HæftelseAfgiftBeregningStruktur" minOccurs="0"/>


                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <!--Sequence removed-->

                                          <xs:element name="PosteringSamling" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="EFIFordringPostering">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:EFIFordringPosteringStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                     <xs:element name="TransportEllerUdlægsfordringListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="TransportEllerUdlægsfordring" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                       <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                       <xs:element ref="fase2.1:EFIKundeStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>

                                       <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIFordringModtagelseDato"/>

                                       <xs:element ref="fase2.1:DMIFordringBogførtDen" minOccurs="0"/>



                                       <xs:element ref="fase2.1:FordringBeløbStruktur" minOccurs="0"/>



                                       <xs:element ref="fase2.1:FordringRestBeløbStruktur" minOccurs="0"/>

                                       <xs:element ref="fase2.1:TransportUdlægUbegrænset"/>
                  
                                       <xs:element ref="fase2.1:MyndighedUdbetalingNKSNr"/>
                  
                                       <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode"/>
                  
                                       <xs:element ref="fase2.1:MyndighedUdbetalingPeriodeStruktur"/>
                  
                                       <xs:element ref="fase2.1:TransportUdlægAcceptDato"/>
                  
                                       <xs:element ref="fase2.1:TransportUdlægKorrektionDato"/>
                                       <xs:element name="TransportRettighedshaverListe">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:TransportRettighedshaverElementUdStruktur" minOccurs="0"
                                                      maxOccurs="unbounded"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <xs:element name="TransaktionDækningElementListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="TransaktionDækningElement" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:TransaktionDækningElementStruktur"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <xs:element name="TransportTransaktionListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="TransportTransaktion" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:TransportTransaktionElementStruktur"/>

                                                         <xs:element ref="fase2.1:DMIIndbetalingArt" minOccurs="0"/>


                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
