systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIKundeFordringList_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../operational/NulBeloebMarkering.xsd"/>
				     
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../operational/RenterTilDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/BogfoeringDatoSoegFra.xsd"/>
				     
         <xs:include schemaLocation="../operational/BogfoeringDatoSoegTil.xsd"/>
				     
         <xs:include schemaLocation="../operational/VirkningDatoSoegFra.xsd"/>
				     
         <xs:include schemaLocation="../operational/VirkningDatoSoegTil.xsd"/>
				     
         <xs:include schemaLocation="../operational/UdeladTransaktionListe.xsd"/>
				     
         <xs:include schemaLocation="../operational/UdeladRelateredeFordringer.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIKundeIdentStrukturType.xsd"/>
				     
         <xs:element name="KFIKundeFordringList_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:KFIKundeFordringList_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="KFIKundeFordringList_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="Søgekriterier">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:EFIKundeIdentStruktur"/>

                              <xs:element ref="fase2.1:DMIFordringEFIFordringID" minOccurs="0"/>



                              <xs:element ref="fase2.1:IndsatsID" minOccurs="0"/>



                              <xs:element ref="fase2.1:NulBeløbMarkering" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="EnkeltmandsVirksomhed" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:VirksomhedSENummer"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              


                              <xs:element ref="fase2.1:RenterTilDato" minOccurs="0"/>



                              <xs:element ref="fase2.1:BogføringDatoSøgFra" minOccurs="0"/>



                              <xs:element ref="fase2.1:BogføringDatoSøgTil" minOccurs="0"/>



                              <xs:element ref="fase2.1:VirkningDatoSøgFra" minOccurs="0"/>



                              <xs:element ref="fase2.1:VirkningDatoSøgTil" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdeladTransaktionListe" minOccurs="0"/>



                              <xs:element ref="fase2.1:UdeladRelateredeFordringer" minOccurs="0"/>


                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
