systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIKundeIndsatsTypeFordringList_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../class/Aktiv.xsd"/>
         <xs:include schemaLocation="../class/Udlaeg.xsd"/>
         <xs:include schemaLocation="../class/Udlaegsblad.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/EFIFordringFundamentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringSumSamlingStrukturType.xsd"/>
				     
         <xs:element name="KFIKundeIndsatsTypeFordringList_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:KFIKundeIndsatsTypeFordringList_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="KFIKundeIndsatsTypeFordringList_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="Output" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="FordringSamling">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="Fordring" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringTypeKode"/>

                                                <xs:element ref="fase2.1:FordringPeriodeStruktur" minOccurs="0"/>



                                                <xs:element ref="fase2.1:DMIFordringSRBDato" minOccurs="0"/>


                                                <xs:element name="RestgældHovedstol">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                                <xs:element name="RestgældInklRenter">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>

                                                <xs:element ref="fase2.1:EFIFordringFundamentStruktur" minOccurs="0"/>


                                                <!--Sequence removed-->

                                                   <xs:element name="UdlægSamling" minOccurs="0">
                                                      <xs:complexType>
                                                         <xs:sequence>

                                                            <xs:element name="UdlægStruktur" minOccurs="0" maxOccurs="unbounded">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element name="AktivSamling">
                                                                        <xs:complexType>
                                                                           <xs:sequence>

                                                                              <xs:element name="AktivStruktur" minOccurs="1" maxOccurs="unbounded">
                                                                                 <xs:complexType>
                                                                                    <xs:sequence>
                                                                                       <xs:element ref="fase2.1:AktivID"/>
                  
                                                                                       <xs:element ref="fase2.1:AktivType"/>

                                                                                       <xs:element ref="fase2.1:AktivSkønnetFriværdi" minOccurs="0"/>


                                                                                    </xs:sequence>
                                                                                 </xs:complexType>
                                                                              </xs:element>
                                                                           </xs:sequence>
                                                                        </xs:complexType>
                                                                     </xs:element>

                                                                     <xs:element ref="fase2.1:UdlægDato"/>
                  
                                                                     <xs:element ref="fase2.1:UdlægsbladJournalNummer"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

                                                

                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element ref="fase2.1:FordringSumSamlingStruktur"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
