systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIPersonVirksomhedHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../operational/ErEFIKunde.xsd"/>
				     
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
         <xs:include schemaLocation="../class/DriftForm.xsd"/>
         <xs:include schemaLocation="../class/EjerRolleType.xsd"/>
         <xs:include schemaLocation="../class/LedelseForhold.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedStatusType.xsd"/>
         <xs:include schemaLocation="../class/Branche.xsd"/>
         <xs:include schemaLocation="../class/BrancheForhold.xsd"/>
         <xs:include schemaLocation="../class/BrancheType.xsd"/>
         <xs:include schemaLocation="../class/BrancheUnderGruppe.xsd"/>
				     
         <xs:include schemaLocation="../view/VirksomhedKontaktOplysningStrukturType.xsd"/>
				     
         <xs:element name="KFIPersonVirksomhedHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:KFIPersonVirksomhedHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="KFIPersonVirksomhedHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element ref="fase2.1:ErEFIKunde" minOccurs="0"/>
                     

                        <xs:element name="PersonVirksomhedRelationSamling" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element name="PersonVirksomhedRelation" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:VirksomhedSENummer"/>
                  
                                          <xs:element ref="fase2.1:VirksomhedNavnFirmaNavn"/>
                  
                                          <xs:element ref="fase2.1:VirksomhedNavnFirmaNavnKort"/>

                                          <xs:element ref="fase2.1:DriftFormKode" minOccurs="0"/>


                                          <xs:element name="Valg">
                                             <xs:complexType>
                                                <xs:choice>
                                                   <xs:element ref="fase2.1:EjerRolleTypeKode"/>
				
				
				                                               <xs:element ref="fase2.1:LedelseForholdTypeKode"/>
                                                </xs:choice>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     

                     

                        <xs:element name="EnkeltmandsvirksomhedSamling" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element name="Enkeltmandsvirksomhed" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:VirksomhedSENummer"/>

                                          <xs:element ref="fase2.1:VirksomhedCVRNummer" minOccurs="0"/>


                                          <xs:element name="VirksomhedNavn">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:VirksomhedNavnFirmaNavn"/>
                  
                                                   <xs:element ref="fase2.1:VirksomhedNavnFirmaNavnKort"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element ref="fase2.1:DriftFormKode"/>
                  
                                          <xs:element ref="fase2.1:VirksomhedStartDato"/>

                                          <xs:element ref="fase2.1:VirksomhedOphørDato" minOccurs="0"/>



                                          <xs:element ref="fase2.1:VirksomhedStatusTypeKode" minOccurs="0"/>


                                          <!--Sequence removed-->

                                             <xs:element name="BrancheForholdSamling" minOccurs="0">
                                                <xs:complexType>
                                                   <xs:sequence>

                                                      <xs:element name="BrancheForhold" minOccurs="1" maxOccurs="unbounded">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element ref="fase2.1:BrancheNummer"/>
                  
                                                               <xs:element ref="fase2.1:BrancheForholdGyldigFra"/>

                                                               <xs:element ref="fase2.1:BrancheForholdGyldigTil" minOccurs="0"/>

                                                               <xs:element ref="fase2.1:BrancheTypeKode"/>
                  
                                                               <xs:element ref="fase2.1:BrancheTekst"/>
                  
                                                               <xs:element ref="fase2.1:BrancheUnderGruppeNummer"/>

                                                               <xs:element ref="fase2.1:BrancheUnderGruppeNavn" minOccurs="0"/>


                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>

                                          

                                          <!--Sequence removed-->

                                             <xs:element name="VirksomhedKontaktOplysningSamling" minOccurs="0">
                                                <xs:complexType>
                                                   <xs:sequence>

                                                      <xs:element name="VirksomhedKontaktOplysning" minOccurs="1" maxOccurs="unbounded">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element ref="fase2.1:VirksomhedKontaktOplysningStruktur"/>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>

                                          

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>

                     
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
