systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIPersonSoegStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/KFIDelAfPersonCPRNummer.xsd"/>
				     
         <xs:include schemaLocation="../operational/KFIPersonAlderFra.xsd"/>
				     
         <xs:include schemaLocation="../operational/KFIPersonAlderTil.xsd"/>
				     
         <xs:include schemaLocation="../class/PersonNavn.xsd"/>
         <xs:include schemaLocation="../class/Person.xsd"/>
         <xs:include schemaLocation="../class/EmailAdresse.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/Telefon.xsd"/>
         <xs:include schemaLocation="../class/Adresse.xsd"/>
         <xs:include schemaLocation="../class/Myndighed.xsd"/>
         <xs:element name="KFIPersonSøgStruktur" type="fase2.1:KFIPersonSøgStrukturType"/>
         <xs:complexType name="KFIPersonSøgStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="PersonIdentifikationValg">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="PersonSøgeKriterier">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element ref="fase2.1:KFIDelAfPersonCPRNummer" minOccurs="0"/>



                                 <xs:element ref="fase2.1:KFIPersonAlderFra" minOccurs="0"/>



                                 <xs:element ref="fase2.1:KFIPersonAlderTil" minOccurs="0"/>



                                 <xs:element ref="fase2.1:PersonNavnNavn" minOccurs="0"/>



                                 <xs:element ref="fase2.1:PersonKøn" minOccurs="0"/>



                                 <xs:element ref="fase2.1:EmailAdresseEmail" minOccurs="0"/>



                                 <xs:element ref="fase2.1:DMIFordringTypeKode" minOccurs="0"/>



                                 <xs:element ref="fase2.1:TelefonNummer" minOccurs="0"/>


                                 <!--Sequence removed-->

                                    <xs:element name="Folkeregisteradresse" minOccurs="0">
                                       <xs:complexType>
                                          <xs:sequence>

                                             <xs:element ref="fase2.1:AdresseVejNavn" minOccurs="0"/>



                                             <xs:element ref="fase2.1:MyndighedNummer" minOccurs="0"/>



                                             <xs:element ref="fase2.1:AdresseFraHusNummer" minOccurs="0"/>



                                             <xs:element ref="fase2.1:AdresseTilHusNummer" minOccurs="0"/>



                                             <xs:element ref="fase2.1:AdresseFraHusBogstav" minOccurs="0"/>



                                             <xs:element ref="fase2.1:AdresseTilHusBogstav" minOccurs="0"/>



                                             <xs:element ref="fase2.1:AdresseEtageTekst" minOccurs="0"/>



                                             <xs:element ref="fase2.1:AdresseSideDørTekst" minOccurs="0"/>



                                             <xs:element ref="fase2.1:AdressePostNummer" minOccurs="0"/>



                                             <xs:element ref="fase2.1:AdressePostDistrikt" minOccurs="0"/>



                                             <xs:element ref="fase2.1:AdresseByNavn" minOccurs="0"/>


                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
