systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIVirksomhedAdresseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/VirksomhedAdresseType.xsd"/>
         <xs:include schemaLocation="../class/AdresseType.xsd"/>
         <xs:include schemaLocation="../class/Adresse.xsd"/>
         <xs:include schemaLocation="../class/Land.xsd"/>
         <xs:include schemaLocation="../class/Myndighed.xsd"/>
         <xs:element name="KFIVirksomhedAdresseStruktur"
                     type="fase2.1:KFIVirksomhedAdresseStrukturType"/>
         <xs:complexType name="KFIVirksomhedAdresseStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:VirksomhedAdresseTypeKode"/>
                  
                  <xs:element ref="fase2.1:AdresseTypeKode"/>
               <xs:element name="AdresseValg">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="Adresse">
                           <xs:complexType>
                              <xs:sequence>

                                 <xs:element ref="fase2.1:AdresseFortløbendeNummer" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdresseVejNavn" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdresseFraHusNummer" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdresseFraHusBogstav" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdresseTilHusNummer" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdresseTilHusBogstav" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdresseEtageTekst" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdresseSideDørTekst" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdresseCONavn" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdresseByNavn" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdressePostNummer" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdressePostDistrikt" minOccurs="0"/>



                                 <xs:element ref="fase2.1:AdressePostBox" minOccurs="0"/>



                                 <xs:element ref="fase2.1:LandKode" minOccurs="0"/>



                                 <xs:element ref="fase2.1:MyndighedNummer" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
