systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/KFIVirksomhedStamoplysningStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/EFIKunde.xsd"/>
         <xs:include schemaLocation="../operational/ErEFIKunde.xsd"/>
				     
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
         <xs:include schemaLocation="../class/Myndighed.xsd"/>
         <xs:include schemaLocation="../class/MyndighedTilhoerForhold.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIVirksomhedAdresseStrukturType.xsd"/>
				     
         <xs:element name="KFIVirksomhedStamoplysningStruktur"
                     type="fase2.1:KFIVirksomhedStamoplysningStrukturType"/>
         <xs:complexType name="KFIVirksomhedStamoplysningStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:EFIKundeType"/>
                  
                  <xs:element ref="fase2.1:ErEFIKunde"/>
                  
                  <xs:element ref="fase2.1:VirksomhedSENummer"/>

               <xs:element ref="fase2.1:VirksomhedCVRNummer" minOccurs="0"/>


               <xs:element name="VirksomhedNavn">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:VirksomhedNavnFirmaNavn"/>
                  
                        <xs:element ref="fase2.1:VirksomhedNavnFirmaNavnKort"/>
                  
                        <xs:element ref="fase2.1:VirksomhedNavnGyldigFra"/>

                        <xs:element ref="fase2.1:VirksomhedNavnGyldigTil" minOccurs="0"/>


                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="Myndighed">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:MyndighedNummer"/>
                  
                        <xs:element ref="fase2.1:MyndighedTilhørForholdGyldigFra"/>

                        <xs:element ref="fase2.1:MyndighedTilhørForholdGyldigTil" minOccurs="0"/>


                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="PrimærAdresse">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:KFIVirksomhedAdresseStruktur"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
