systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/LaaneUdgiftPostStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
				     
         <xs:include schemaLocation="../class/LaaneUdgift.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../view/EFIBudgetPostStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/LaaneUdgiftRestGaeldBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIBudgetPostBeloebStrukturType.xsd"/>
				     
				     
         <xs:element name="LåneUdgiftPostStruktur" type="fase2.1:LåneUdgiftPostStrukturType"/>
         <xs:complexType name="LåneUdgiftPostStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:EFIBudgetPostStruktur"/>

                  <xs:element ref="fase2.1:LåneUdgiftAnvendelse" minOccurs="0"/>



                  <xs:element ref="fase2.1:LåneUdgiftKreditorNavn" minOccurs="0"/>



                  <xs:element ref="fase2.1:LåneUdgiftStiftelseDato" minOccurs="0"/>



                  <xs:element ref="fase2.1:LåneUdgiftUdløbDato" minOccurs="0"/>



                  <xs:element ref="fase2.1:LåneUdgiftRegistreringNummer" minOccurs="0"/>



                  <xs:element ref="fase2.1:LåneUdgiftKontoNummer" minOccurs="0"/>



                  <xs:element ref="fase2.1:LåneUdgiftRestGældBeløbStruktur" minOccurs="0"/>


                  <!--Sequence removed-->

                     <xs:element name="KundeBudgetPostBeløb" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:EFIBudgetPostBeløbStruktur"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  

                  <!--Sequence removed-->

                     <xs:element name="SamleverBudgetPostBeløb" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:EFIBudgetPostBeløbStruktur"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
               
            
         
         
         
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
