systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MeddelelsePakkeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/MeddelelsePakke.xsd"/>
         <xs:include schemaLocation="../class/EFIHenvendelse.xsd"/>
         <xs:include schemaLocation="../operational/EFIMeddelelseTypeNummer.xsd"/>
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/MeddelelsePakkeAdresseStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/EFIMeddelelseStrukturType.xsd"/>
				     
         <xs:element name="MeddelelsePakkeStruktur" type="fase2.1:MeddelelsePakkeStrukturType"/>
         <xs:complexType name="MeddelelsePakkeStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:MeddelelsePakkeID"/>

               <xs:element ref="fase2.1:EFIHenvendelseForm" minOccurs="0"/>



               <xs:element ref="fase2.1:EFIHenvendelseDato" minOccurs="0"/>


               <!--Sequence removed-->

                  <xs:element name="Kunde" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:EFIMeddelelseTypeNummer"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               

               <!--Sequence removed-->

                  <xs:element name="Samarbejdspart" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:EFIMeddelelseTypeNummer"/>
                           <xs:element name="NavnAdresseSamling">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:MeddelelsePakkeAdresseStruktur" minOccurs="1"
                                             maxOccurs="unbounded"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>

                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               

               <!--Sequence removed-->

                  <xs:element name="Kunderepræsentant" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:EFIMeddelelseTypeNummer"/>
                           <xs:element name="NavnAdresseSamling">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:MeddelelsePakkeAdresseStruktur" minOccurs="1"
                                             maxOccurs="unbounded"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>

                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
               <xs:element ref="fase2.1:EFIMeddelelseStruktur"/>
               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
