systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MFFordringAfskriv_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Ressource.xsd"/>
				     
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../operational/EjerAfEnkeltmandsvirksomhed.xsd"/>
				     
         <xs:include schemaLocation="../class/FordringAfskrivning.xsd"/>
				     
         <xs:include schemaLocation="../operational/DMIFordringAfskrivID.xsd"/>
				     
         <xs:include schemaLocation="../view/AfskrivningAArsagStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MFAfskrivFordringStrukturType.xsd"/>
				     
         <xs:element name="MFFordringAfskriv_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:MFFordringAfskriv_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="MFFordringAfskriv_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="Sagsbehandler">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:RessourceNummer"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element ref="fase2.1:AfskrivningÅrsagStruktur"/>
                     <xs:element name="OperationValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:sequence>
                                 <xs:element name="Afskrivning">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="Kunde">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:KundeNummer"/>
                  
                                                   <xs:element ref="fase2.1:KundeType"/>
                  
                                                   <xs:element ref="fase2.1:EjerAfEnkeltmandsvirksomhed"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element ref="fase2.1:FordringAfskrivningVirkningFra"/>
                  
                                          <xs:element ref="fase2.1:FordringAfskrivningDato"/>
                                          <xs:element name="AfskrivningSamling">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:MFAfskrivFordringStruktur" minOccurs="1" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="AfskrivningTilbagekald">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIFordringAfskrivID" minOccurs="1" maxOccurs="unbounded"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              </xs:sequence>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
