systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MFFordringOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
         <xs:include schemaLocation="../operational/MFNoteTekst.xsd"/>
				     
         <xs:include schemaLocation="../view/MFOpretFordringStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MFOpretTransportStrukturType.xsd"/>
				     
         <xs:element name="MFFordringOpret_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:MFFordringOpret_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="MFFordringOpret_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="FordringArtValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:sequence>
                                 <xs:element name="Fordring">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:MFOpretFordringStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="Transport">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:MFOpretTransportStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                     <!--Sequence removed-->

                        <xs:element name="SagsbehandlerNote" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:MFNoteTekst"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
