systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MFFordringOpskriv_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../view/EFIKundeIdentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpskrivningBeloebStrukturType.xsd"/>
				     
         <xs:element name="MFFordringOpskriv_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:MFFordringOpskriv_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="MFFordringOpskriv_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
                  
                     <xs:element ref="fase2.1:DMIFordringEFIFordringID" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:DMITransaktionLøbenummer" minOccurs="0"/>

                     <xs:element ref="fase2.1:EFIKundeIdentStruktur" minOccurs="0"/>


                     <xs:element name="RestBeløb" minOccurs="0">
                        <xs:complexType>
                           <xs:choice>
                              <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
				
				
				                          <xs:element ref="fase2.1:HæftelseRestBeløbStruktur"/>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                     <xs:element ref="fase2.1:OpskrivningBeløbStruktur" minOccurs="0"/>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
