systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MFOpretTransportStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/TransportUdlaeg.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetaling.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../view/EFIKundeIdentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MyndighedUdbetalingPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MFDokumentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MFTransportRettighedshaverStrukturType.xsd"/>
				     
         <xs:element name="MFOpretTransportStruktur" type="fase2.1:MFOpretTransportStrukturType"/>
         <xs:complexType name="MFOpretTransportStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                  <xs:element ref="fase2.1:DMIFordringTypeKode"/>

               <xs:element ref="fase2.1:DMIFordringModtagelseDato" minOccurs="0"/>



               <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>

               <xs:element ref="fase2.1:EFIKundeIdentStruktur"/>

               <xs:element ref="fase2.1:FordringBeløbStruktur" minOccurs="0"/>

               <xs:element ref="fase2.1:TransportUdlægUbegrænset"/>
                  
                  <xs:element ref="fase2.1:MyndighedUdbetalingNKSNr"/>
                  
                  <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode"/>
                  
                  <xs:element ref="fase2.1:MyndighedUdbetalingPeriodeStruktur"/>

               <xs:element ref="fase2.1:TransportUdlægAcceptDato" minOccurs="0"/>


               <!--Sequence removed-->

                  <xs:element name="TransportDokument" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:MFDokumentStruktur"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               

               <xs:element name="TransportRettighedshaverListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:MFTransportRettighedshaverStruktur" minOccurs="1"
                                    maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
