systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MFOpretFordringStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/MFFordring.xsd"/>
         <xs:include schemaLocation="../class/EFIKunde.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../class/DMIFordringHaver.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringOprindeligBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MFNoteStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MFDokumentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RenteValgStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MFHaeftelseStrukturType.xsd"/>
				     
         <xs:element name="MFOpretFordringStruktur" type="fase2.1:MFOpretFordringStrukturType"/>
         <xs:complexType name="MFOpretFordringStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                  <xs:element ref="fase2.1:DMIFordringTypeKode"/>

               <xs:element ref="fase2.1:DMIFordringEFIFordringID" minOccurs="0"/>



               <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>



               <xs:element ref="fase2.1:DMIFordringPEnhedNummer" minOccurs="0"/>



               <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID" minOccurs="0"/>



               <xs:element ref="fase2.1:DMIFordringFordringHaverBeskr" minOccurs="0"/>



               <xs:element ref="fase2.1:DMIFordringModtagelseDato" minOccurs="0"/>



               <xs:element ref="fase2.1:DMIFordringStiftelseTidspunkt" minOccurs="0"/>

               <xs:element ref="fase2.1:DMIFordringForfaldDato"/>
                  
                  <xs:element ref="fase2.1:DMIFordringSRBDato"/>
                  
                  <xs:element ref="fase2.1:FordringBeløbStruktur"/>
                  
                  <xs:element ref="fase2.1:FordringPeriodeStruktur"/>
                  
                  <xs:element ref="fase2.1:DMIFordringForeløbigFastsat"/>

               <xs:element ref="fase2.1:MFFordringPåklaget" minOccurs="0"/>

               <xs:element ref="fase2.1:EFIKundeArrest"/>
                  
                  <xs:element ref="fase2.1:FordringOprindeligBeløbStruktur"/>
               <xs:element name="SagsbemærkningSamling">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:MFNoteStruktur" minOccurs="0" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               <xs:element name="DokumentSamling">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:MFDokumentStruktur" minOccurs="0" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>


               <xs:element ref="fase2.1:RenteValgStruktur" minOccurs="0"/>

               <xs:element ref="fase2.1:DMIFordringHaverID"/>
               <xs:element name="FordringHæftelseSamling">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:MFHæftelseStruktur" minOccurs="1" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
