systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MFTilbagekaldFordringStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../operational/DMIFordringTilbageOmkBetal.xsd"/>
				     
         <xs:include schemaLocation="../view/HovedFordringTilbagekaldAArsagStrukturType.xsd"/>
				     
         <xs:element name="MFTilbagekaldFordringStruktur"
                     type="fase2.1:MFTilbagekaldFordringStrukturType"/>
         <xs:complexType name="MFTilbagekaldFordringStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                  <xs:element ref="fase2.1:HovedFordringTilbagekaldÅrsagStruktur"/>
               <xs:element name="RelateretFordringKategoriListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:DMIFordringTypeKategori" minOccurs="0" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>


               <xs:element ref="fase2.1:DMIFordringVirkningFra" minOccurs="0"/>

               <xs:element ref="fase2.1:DMIFordringTilbageOmkBetal"/>
               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
