systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MFUnderretAfregnStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/FordringHaverAfregning.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../class/DMIUdbetaling.xsd"/>
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
         <xs:include schemaLocation="../operational/DMIIndbetalingAktivitetType.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../view/FordringHaverAfregningBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringAfregningBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
         <xs:element name="MFUnderretAfregnStruktur" type="fase2.1:MFUnderretAfregnStrukturType"/>
         <xs:complexType name="MFUnderretAfregnStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:FordringHaverAfregningUnderret"/>
                  <xs:element name="UdligningAfregningListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="UdligningAfregning" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:FordringHaverAfregningID"/>
                  
                                    <xs:element ref="fase2.1:FordringHaverAfregningBeløbStruktur"/>
                  
                                    <xs:element ref="fase2.1:FordringHaverAfregningDato"/>
                  
                                    <xs:element ref="fase2.1:FordringHaverAfregningPerFra"/>
                  
                                    <xs:element ref="fase2.1:FordringHaverAfregningPerTil"/>
                                    <xs:element name="FordringHaverFordringListe">
                                       <xs:complexType>
                                          <xs:sequence>

                                             <xs:element name="FordringerOmfattetAfUdligningenAfregningen" minOccurs="1"
                                                      maxOccurs="unbounded">
                                                <xs:complexType>
                                                   <xs:sequence>
                                                      <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                                      <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>

                                                      <xs:element ref="fase2.1:DMIFordringPEnhedNummer" minOccurs="0"/>



                                                      <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>

                                                      <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                                      <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                                      <xs:element ref="fase2.1:DMIFordringTypeKategori"/>
                  
                                                      <xs:element ref="fase2.1:DMITransaktionVirkningDato"/>

                                                      <xs:element ref="fase2.1:DMIUdbetalingReference" minOccurs="0"/>


                                                      <!--Sequence removed-->

                                                         <xs:element name="SupplerendeIndbetalingOplysninger" minOccurs="0">
                                                            <xs:complexType>
                                                               <xs:sequence>
                                                                  <xs:element ref="fase2.1:DMIIndbetalingID"/>
                  
                                                                  <xs:element ref="fase2.1:DMIIndbetalingAktivitetType"/>

                                                                  <xs:element ref="fase2.1:DMIIndbetalingAktivitetTekst" minOccurs="0"/>

                                                                  <xs:element ref="fase2.1:KundeStruktur"/>
                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      
                                                      <xs:element ref="fase2.1:FordringAfregningBeløbStruktur"/>
                  
                                                      <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>

                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               
            
         
         
         
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
