systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MFUnderretModregningStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/DMIMyndighed.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetaling.xsd"/>
				     
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/InddrivelseRente.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordringDaekning.xsd"/>
         <xs:include schemaLocation="../view/MyndighedUdbetalingPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringDaekningBeloebStrukturType.xsd"/>
				     
         <xs:element name="MFUnderretModregningStruktur"
                     type="fase2.1:MFUnderretModregningStrukturType"/>
         <xs:complexType name="MFUnderretModregningStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:KundeNummer"/>
                  
                  <xs:element ref="fase2.1:KundeType"/>
                  
                  <xs:element ref="fase2.1:DMIMyndighedUdbetalerNavn"/>
                  
                  <xs:element ref="fase2.1:MyndighedUdbetalingDato"/>
                  
                  <xs:element ref="fase2.1:MyndighedUdbetalingBeløb"/>

               <xs:element ref="fase2.1:MyndighedUdbetalingPeriodeStruktur" minOccurs="0"/>

               <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode"/>
                  
                  <xs:element ref="fase2.1:MyndighedUdbetalingTypeNavn"/>
                  
                  <xs:element ref="fase2.1:MyndighedUdbetalingSpecKonto"/>
               <xs:element name="FordringListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="Fordring" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>

                                 <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>

                                 <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>

                                 <xs:element ref="fase2.1:DMIFordringPEnhedNummer" minOccurs="0"/>

                                 <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringTypeKategori"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                                 <!--Sequence removed-->

                                    <xs:element name="InddrivelseRenteDelPeriode" minOccurs="0">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:InddrivelseRenteDelPeriodeFra"/>
                  
                                             <xs:element ref="fase2.1:InddrivelseRenteDelPeriodeTil"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 

                                 <xs:element name="ModregningsBeløb">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:FordringDækningBeløbStruktur"/>
                  
                                          <xs:element ref="fase2.1:DMIFordringDækningDato"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
