systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/MFUnderretAfskrivStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../operational/DMIFordringAfskrivID.xsd"/>
				     
         <xs:include schemaLocation="../operational/DMIFordringAfskrivTilbagekald.xsd"/>
				     
         <xs:include schemaLocation="../class/FordringAfskrivning.xsd"/>
				     
         <xs:include schemaLocation="../operational/TransaktionHaeftelseFordringValg.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Haeftelse.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../view/AfskrivningAArsagStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AfskrevetBeloebStrukturType.xsd"/>
				     
         <xs:element name="MFUnderretAfskrivStruktur" type="fase2.1:MFUnderretAfskrivStrukturType"/>
         <xs:complexType name="MFUnderretAfskrivStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="FordringAfskrivningListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="FordringAfskrivning" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>

                                 <xs:element ref="fase2.1:DMIFordringPEnhedNummer" minOccurs="0"/>



                                 <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>

                                 <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringTypeKategori"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringAfskrivID"/>
                  
                                 <xs:element ref="fase2.1:DMIFordringAfskrivTilbagekald"/>
                  
                                 <xs:element ref="fase2.1:FordringAfskrivningVirkningFra"/>
                  
                                 <xs:element ref="fase2.1:AfskrivningÅrsagStruktur"/>
                  
                                 <xs:element ref="fase2.1:FordringAfskrivningDato"/>
                  
                                 <xs:element ref="fase2.1:TransaktionHæftelseFordringValg"/>
                                 <!--Sequence removed-->

                                    <xs:element name="AfskrivHæftelse" minOccurs="0">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                             <xs:element ref="fase2.1:HæftelseForm"/>

                                             <xs:element ref="fase2.1:HæftelseSubsidiær" minOccurs="0"/>


                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 

                                 <xs:element name="RestbeløbValg">
                                    <xs:complexType>
                                       <xs:choice>
                                          <xs:sequence>
                                             <xs:element name="FordringRestBeløb">
                                                <xs:complexType>
                                                   <xs:sequence>
                                                      <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
				
				                                      </xs:sequence>
                                          <xs:sequence>
				
                                             <xs:element name="HæftelseRestBeløb">
                                                <xs:complexType>
                                                   <xs:sequence>
                                                      <xs:element ref="fase2.1:HæftelseRestBeløbStruktur"/>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
                                          </xs:sequence>
                                       </xs:choice>
                                    </xs:complexType>
                                 </xs:element>
                                 <xs:element ref="fase2.1:AfskrevetBeløbStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
