systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/PersonBudgetPostStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
				     
				     
				     
         <xs:include schemaLocation="../view/EFIBudgetPostStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIBudgetPostBeloebStrukturType.xsd"/>
				     
				     
         <xs:element name="PersonBudgetPostStruktur" type="fase2.1:PersonBudgetPostStrukturType"/>
         <xs:complexType name="PersonBudgetPostStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:EFIBudgetPostStruktur"/>
                  <!--Sequence removed-->

                     <xs:element name="KundeBudgetPostBeloeb" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:EFIBudgetPostBeløbStruktur"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  

                  <!--Sequence removed-->

                     <xs:element name="SamleverBudgetPostBeloeb" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:EFIBudgetPostBeløbStruktur"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
               
            
         
         
         
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
