systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/PersonBudgetStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/EFIBudgetPost.xsd"/>
         <xs:include schemaLocation="../operational/EFIBudgetPostAEgtefaelleGaeld.xsd"/>
				     
         <xs:include schemaLocation="../operational/EFIBudgetBeregningRegel.xsd"/>
				     
         <xs:include schemaLocation="../operational/EFIBudgetModtagetDato.xsd"/>
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/BudgetSumBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/PersonBudgetPostStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/LaaneUdgiftPostStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BoerneBudgetStrukturType.xsd"/>
				     
         <xs:element name="PersonBudgetStruktur" type="fase2.1:PersonBudgetStrukturType"/>
         <xs:complexType name="PersonBudgetStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:EFIBudgetPostGældFørSamliv"/>
                  
                  <xs:element ref="fase2.1:EFIBudgetPostÆgtefælleGæld"/>

               <xs:element ref="fase2.1:EFIBudgetBeregningRegel" minOccurs="0"/>



               <xs:element ref="fase2.1:EFIBudgetModtagetDato" minOccurs="0"/>



               <xs:element ref="fase2.1:BudgetSumBeløbStruktur" minOccurs="0"/>


               <xs:element name="PersonBudgetPostListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:PersonBudgetPostStruktur" minOccurs="1" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               <xs:element name="LåneUdgiftPostGruppeListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:LåneUdgiftPostStruktur" minOccurs="0" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               <xs:element name="BørneBudgetListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:BørneBudgetStruktur" minOccurs="0" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
