systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/RSAlarmModtagerSoeg_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Alarm.xsd"/>
         <xs:include schemaLocation="../class/Medarbejderprofil.xsd"/>
         <xs:include schemaLocation="../operational/KunIgnoreredeAlarmerMarkering.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/RSPagingStrukturType.xsd"/>
				     
         <xs:element name="RSAlarmModtagerSøg_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:RSAlarmModtagerSøg_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="RSAlarmModtagerSøg_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->

                     <xs:element ref="fase2.1:AlarmID" minOccurs="0"/>



                     <xs:element ref="fase2.1:MedarbejderprofilID" minOccurs="0"/>



                     <xs:element ref="fase2.1:AlarmSupplerendeTekst" minOccurs="0"/>


                     <!--Sequence removed-->

                        <xs:element name="DatoTidFra" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:AlarmOprettetTid"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     

                     <!--Sequence removed-->

                        <xs:element name="DatoTidTil" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:AlarmOprettetTid"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     


                     <xs:element ref="fase2.1:KunIgnoreredeAlarmerMarkering" minOccurs="0"/>



                     <xs:element ref="fase2.1:AlarmFarve" minOccurs="0"/>



                     <xs:element ref="fase2.1:RSPagingStruktur" minOccurs="0"/>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
