systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/RSEFIFindLedigeRessourcer_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Opgave.xsd"/>
         <xs:include schemaLocation="../class/Slot.xsd"/>
         <xs:include schemaLocation="../operational/ReturnerMaxAntal.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/RSRessource.xsd"/>
         <xs:include schemaLocation="../view/RSEFIEkstraInfoStrukturType.xsd"/>
				     
         <xs:element name="RSEFIFindLedigeRessourcer_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:RSEFIFindLedigeRessourcer_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="RSEFIFindLedigeRessourcer_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:OpgaveOpgavetypeID"/>
                     <xs:element name="SøgePeriodeFra">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:SlotStartDatoTid"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="SøgePeriodeTil">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:SlotStartDatoTid"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                     <xs:element ref="fase2.1:ReturnerMaxAntal" minOccurs="0"/>



                     <xs:element ref="fase2.1:OpgaveKundeid" minOccurs="0"/>



                     <xs:element ref="fase2.1:RSEFIEkstraInfoStruktur" minOccurs="0"/>


                     <!--Sequence removed-->

                        <xs:element name="RessourceSamling" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element name="Ressourcer">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:RSRessourceID" minOccurs="1" maxOccurs="unbounded"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
