systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/RSEFIEkstraInfoStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/DriftForm.xsd"/>
         <xs:include schemaLocation="../class/Person.xsd"/>
         <xs:include schemaLocation="../class/SporSkabelon.xsd"/>
         <xs:include schemaLocation="../class/RSKommuneNummerPostNummer.xsd"/>
         <xs:include schemaLocation="../class/IndkomstType.xsd"/>
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../operational/EFIBookingHaendelseType.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:element name="RSEFIEkstraInfoStruktur" type="fase2.1:RSEFIEkstraInfoStrukturType"/>
         <xs:complexType name="RSEFIEkstraInfoStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <!--Sequence removed-->

                  <xs:element name="KundeStruktur" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:KundeNummer"/>
                  
                           <xs:element ref="fase2.1:KundeType"/>

                           <xs:element ref="fase2.1:VirksomhedCVRNummer" minOccurs="0"/>



                           <xs:element ref="fase2.1:KundeNavn" minOccurs="0"/>



                           <xs:element ref="fase2.1:DriftFormKode" minOccurs="0"/>


                           <!--Sequence removed-->

                              <xs:element name="EnkeltmandVirksomhedEjer" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:PersonCPRNummer"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           

                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               


               <xs:element ref="fase2.1:SporSkabelonID" minOccurs="0"/>



               <xs:element ref="fase2.1:RSKommuneNummerPostNummerPostNummer" minOccurs="0"/>



               <xs:element ref="fase2.1:RSKommuneNummerPostNummerKommuneNummer" minOccurs="0"/>



               <xs:element ref="fase2.1:IndkomstTypeKode" minOccurs="0"/>



               <xs:element ref="fase2.1:IndsatsID" minOccurs="0"/>



               <xs:element ref="fase2.1:EFIBookingHændelseType" minOccurs="0"/>


               <!--Sequence removed-->

                  <xs:element name="FordringSamling" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="FordringListe">
                              <xs:complexType>
                                 <xs:sequence>

                                    <xs:element name="Fordring" minOccurs="0" maxOccurs="unbounded">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                             <xs:element ref="fase2.1:DMIFordringRestBeløbDKK"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>

                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
