systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/RSMoedetidAEndr_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/RSRessource.xsd"/>
         <xs:include schemaLocation="../class/Slot.xsd"/>
         <xs:include schemaLocation="../class/Medarbejderprofil.xsd"/>
         <xs:element name="RSMødetidÆndr_I" type="fase2.1:RSMødetidÆndr_IType"/>
         <xs:complexType name="RSMødetidÆndr_IType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:RSRessourceID"/>

                  <xs:element ref="fase2.1:SlotStartDatoTid" minOccurs="0"/>



                  <xs:element ref="fase2.1:SlotSlutDatoTid" minOccurs="0"/>


                  <xs:element name="MødetidÆndretAf">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:MedarbejderprofilWNummer"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
