systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/RSOpgavekoeHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/OpgavekoeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpgavekoeAlarmtypeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AlarmTypeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpgavetypeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KompetenceStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpgavekoeBookingRegelStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpgavekoeProdLederStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RSRessourceStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MedarbejderprofilStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RSRessourcegruppeStrukturType.xsd"/>
				     
         <xs:element name="RSOpgavekøHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:RSOpgavekøHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="RSOpgavekøHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="Opgavekø" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:OpgavekøStruktur"/>
                              <!--Sequence removed-->

                                 <xs:element name="AlarmtypeSamling" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="Alarmtyper">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element name="Alarmtype" minOccurs="0" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:OpgavekøAlarmtypeStruktur"/>
                  
                                                            <xs:element ref="fase2.1:AlarmTypeStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                              <!--Sequence removed-->

                                 <xs:element name="OpgavetypeSamling" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="Opgavetyper">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:OpgavetypeStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                              <!--Sequence removed-->

                                 <xs:element name="KompetenceSamling" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="Kompetencer">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:KompetenceStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                              <!--Sequence removed-->

                                 <xs:element name="BookingregelSamling" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="BookingRegler">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:OpgavekøBookingRegelStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                              <!--Sequence removed-->

                                 <xs:element name="ProduktionslederSamling" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="ProduktionslederListe">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element name="ProduktionsLeder" minOccurs="1" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:OpgavekøProdLederStruktur"/>
                  
                                                            <xs:element ref="fase2.1:RSRessourceStruktur"/>
                  
                                                            <xs:element ref="fase2.1:MedarbejderprofilStruktur"/>
                  
                                                            <xs:element ref="fase2.1:RSRessourcegruppeStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
