systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/RSOpgaveSoeg_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Medarbejderprofil.xsd"/>
         <xs:include schemaLocation="../operational/ProduktionslederMarkering.xsd"/>
				     
         <xs:include schemaLocation="../class/Opgavetype.xsd"/>
         <xs:include schemaLocation="../class/Opgavekoe.xsd"/>
         <xs:include schemaLocation="../class/Opgave.xsd"/>
         <xs:include schemaLocation="../operational/ReturnerTagetOpgaver.xsd"/>
				     
         <xs:include schemaLocation="../operational/ReturnerIkkeTagetOpgaver.xsd"/>
				     
         <xs:include schemaLocation="../operational/ReturnerBookedeOpgaver.xsd"/>
				     
         <xs:include schemaLocation="../operational/ReturnerIkkeBookedeOpgaver.xsd"/>
				     
				     
         <xs:include schemaLocation="../operational/ReturnerAfsluttedeOpgaver.xsd"/>
				     
         <xs:include schemaLocation="../operational/ReturnerIkkeAfsluttedeOpgaver.xsd"/>
				     
         <xs:include schemaLocation="../view/RSPagingStrukturType.xsd"/>
				     
         <xs:element name="RSOpgaveSøg_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:RSOpgaveSøg_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="RSOpgaveSøg_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:MedarbejderprofilID"/>

                     <xs:element ref="fase2.1:ProduktionslederMarkering" minOccurs="0"/>



                     <xs:element ref="fase2.1:OpgavetypeOpgaveKategori" minOccurs="0"/>



                     <xs:element ref="fase2.1:OpgavetypeID" minOccurs="0"/>



                     <xs:element ref="fase2.1:OpgavekøID" minOccurs="0"/>



                     <xs:element ref="fase2.1:OpgaveKundeid" minOccurs="0"/>



                     <xs:element ref="fase2.1:MedarbejderprofilWNummer" minOccurs="0"/>



                     <xs:element ref="fase2.1:ReturnerTagetOpgaver" minOccurs="0"/>



                     <xs:element ref="fase2.1:ReturnerIkkeTagetOpgaver" minOccurs="0"/>



                     <xs:element ref="fase2.1:ReturnerBookedeOpgaver" minOccurs="0"/>



                     <xs:element ref="fase2.1:ReturnerIkkeBookedeOpgaver" minOccurs="0"/>



                     <xs:element ref="fase2.1:RSPagingStruktur" minOccurs="0"/>



                     <xs:element ref="fase2.1:OpgaveID" minOccurs="0"/>



                     <xs:element ref="fase2.1:ReturnerAfsluttedeOpgaver" minOccurs="0"/>



                     <xs:element ref="fase2.1:ReturnerIkkeAfsluttedeOpgaver" minOccurs="0"/>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
