systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/RSOpgavetypeHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
         <xs:include schemaLocation="../view/OpgavetypeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RSRessourcekravStrukturType.xsd"/>
				     
         <xs:element name="RSOpgavetypeHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:RSOpgavetypeHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="RSOpgavetypeHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
                  
                     <xs:element name="Opgavetype" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:OpgavetypeStruktur"/>
                              <!--Sequence removed-->

                                 <xs:element name="RessourcekravSamling" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="Ressourcekrav">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:RSRessourcekravStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
