systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/RSRessourceHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/RSRessourceStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RSRessourcegruppeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KalenderStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MedarbejderprofilStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OrganisatoriskEnhedRessourceStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RSOrganisatoriskEnhedStrukturType.xsd"/>
				     
         <xs:element name="RSRessourceHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:RSRessourceHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="RSRessourceHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
                  
                     <xs:element name="Ressource" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:RSRessourceStruktur"/>

                              <xs:element ref="fase2.1:RSRessourcegruppeStruktur" minOccurs="0"/>



                              <xs:element ref="fase2.1:KalenderStruktur" minOccurs="0"/>



                              <xs:element ref="fase2.1:MedarbejderprofilStruktur" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="OrganisatoriskEnhedSamling" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="OrganisatoriskeEnheder">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element name="OrganisatoriskeEnhed" minOccurs="1" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:OrganisatoriskEnhedRessourceStruktur"/>
                  
                                                            <xs:element ref="fase2.1:RSOrganisatoriskEnhedStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
