systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/RSSlotList_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/Slot.xsd"/>
				     
         <xs:include schemaLocation="../operational/AntalOpgaver.xsd"/>
				     
         <xs:include schemaLocation="../operational/PraeferenceBelaegningProcent.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/SlotStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpgaveStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RSEFIEkstraInfoStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpgaveGentagelseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/SlotUndtagelseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/OpgavetypeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KalenderPraeferenceStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RSRessourceStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/PraeferenceslotGeografiStrukturType.xsd"/>
				     
         <xs:element name="RSSlotList_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:RSSlotList_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14254"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="RSSlotList_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="SlotListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="SlotInfo" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:SlotStruktur"/>

                                       <xs:element ref="fase2.1:OpgaveStruktur" minOccurs="0"/>



                                       <xs:element ref="fase2.1:RSEFIEkstraInfoStruktur" minOccurs="0"/>



                                       <xs:element ref="fase2.1:OpgaveGentagelseStruktur" minOccurs="0"/>


                                       <!--Sequence removed-->

                                          <xs:element name="UndtagelseSamling" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="Undtagelser">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:SlotUndtagelseStruktur" minOccurs="1" maxOccurs="unbounded"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       


                                       <xs:element ref="fase2.1:OpgavetypeStruktur" minOccurs="0"/>



                                       <xs:element ref="fase2.1:KalenderPræferenceStruktur" minOccurs="0"/>


                                       <!--Sequence removed-->

                                          <xs:element name="ForløbsopgaveSamling" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="Forløbsopgaver">
                                                      <xs:complexType>
                                                         <xs:sequence>

                                                            <xs:element name="Slot" minOccurs="1" maxOccurs="unbounded">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:SlotNavn"/>
                  
                                                                     <xs:element ref="fase2.1:SlotStartDatoTid"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                       <!--Sequence removed-->

                                          <xs:element name="RessourceSamling" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="Ressourcer">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:RSRessourceStruktur" minOccurs="1" maxOccurs="unbounded"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       


                                       <xs:element ref="fase2.1:AntalOpgaver" minOccurs="0"/>



                                       <xs:element ref="fase2.1:PræferenceBelægningProcent" minOccurs="0"/>


                                       <!--Sequence removed-->

                                          <xs:element name="PræferenceslotGeografiSamling" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="PræferenceslotGeografier">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:PræferenceslotGeografiStruktur" minOccurs="1"
                                                               maxOccurs="unbounded"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
