systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/SamarbejdPartStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SamarbejdPart.xsd"/>
				     
         <xs:include schemaLocation="../class/Person.xsd"/>
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/AlternativKontakt.xsd"/>
         <xs:include schemaLocation="../view/KFIAdresseStrukturType.xsd"/>
				     
         <xs:element name="SamarbejdPartStruktur" type="fase2.1:SamarbejdPartStrukturType"/>
         <xs:complexType name="SamarbejdPartStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:SamarbejdPartType"/>
                  
                  <xs:element ref="fase2.1:SamarbejdPartNavn"/>

               <xs:element ref="fase2.1:KFIAdresseStruktur" minOccurs="0"/>


               <xs:element name="IdentifikationsValg">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="fase2.1:PersonCPRNummer"/>
				
				
				                    <xs:element ref="fase2.1:VirksomhedSENummer"/>
				
				
				                    <xs:element ref="fase2.1:VirksomhedCVRNummer"/>
				
				
				                    <xs:element ref="fase2.1:AlternativKontaktID"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
