systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/StatstidendeKonkursboMeddelelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
				     
				     
         <xs:include schemaLocation="../view/StatstidendeVirksomhedKontekstStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/StatstidendePersonKontekstStrukturType.xsd"/>
				     
         <xs:element name="StatstidendeKonkursboMeddelelseStruktur"
                     type="fase2.1:StatstidendeKonkursboMeddelelseStrukturType"/>
         <xs:complexType name="StatstidendeKonkursboMeddelelseStrukturType">
         
         
         
         
         
         
         
            
            
            
               <xs:sequence>
               <xs:element name="KonkursVirksomhedSamling">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="VirksomhedTypeValg" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:choice>
                                 <xs:sequence>
                                    <xs:element name="KonkursVirksomhed">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:StatstidendeVirksomhedKontekstStruktur"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
				
				                             </xs:sequence>
                                 <xs:sequence>
				
                                    <xs:element name="KonkursPerson">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element ref="fase2.1:StatstidendePersonKontekstStruktur"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:choice>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
