systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/StatstidendeRekonstruktionMeddelelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
				     
				     
         <xs:include schemaLocation="../class/StatstidendeMeddelelse.xsd"/>
				     
         <xs:include schemaLocation="../view/StatstidendePersonStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AdresseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/StatstidendeVirksomhedKontekstStrukturType.xsd"/>
				     
         <xs:element name="StatstidendeRekonstruktionMeddelelseStruktur"
                     type="fase2.1:StatstidendeRekonstruktionMeddelelseStrukturType"/>
         <xs:complexType name="StatstidendeRekonstruktionMeddelelseStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="Kontakt">
                  <xs:complexType>
                     <xs:sequence>
                        <!--Sequence removed-->

                           <xs:element name="KundeRepræsentant" minOccurs="0">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:StatstidendePersonStruktur"/>
                  
                                    <xs:element ref="fase2.1:AdresseStruktur"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        
                        <xs:element ref="fase2.1:StatstidendeMeddelelseKontaktTekst"/>
                  
                        <xs:element ref="fase2.1:StatstidendeMeddelelseRetsKreds"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="DebitorSamling">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:StatstidendeVirksomhedKontekstStruktur" minOccurs="0"
                                    maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
