systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/StatstidendeMeddelelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/StatstidendeMeddelelse.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../view/StatstidendeKonkursboMeddelelseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/StatstidendeGaeldssaneringMeddelelseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/StatstidendeDoedsboMeddelelseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/StatstidendeRekonstruktionMeddelelseStrukturType.xsd"/>
				     
         <xs:element name="StatstidendeMeddelelseStruktur"
                     type="fase2.1:StatstidendeMeddelelseStrukturType"/>
         <xs:complexType name="StatstidendeMeddelelseStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:StatstidendeMeddelelseType"/>
                  
                  <xs:element ref="fase2.1:StatstidendeMeddelelseNummer"/>

               <xs:element ref="fase2.1:StatstidendeMeddelelsePreface" minOccurs="0"/>



               <xs:element ref="fase2.1:StatstidendeMeddelelseTekst" minOccurs="0"/>



               <xs:element ref="fase2.1:StatstidendeMeddelelseRetsKreds" minOccurs="0"/>



               <xs:element ref="fase2.1:StatstidendeMeddelelseRetsKredsSagNummer" minOccurs="0"/>



               <xs:element ref="fase2.1:StatstidendeMeddelelseProklamaDato" minOccurs="0"/>



               <xs:element ref="fase2.1:StatstidendeMeddelelseDekretDato" minOccurs="0"/>


               <xs:element name="StatstidendeMeddelelseValg">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="fase2.1:StatstidendeKonkursboMeddelelseStruktur"/>
				
				
				                    <xs:element ref="fase2.1:StatstidendeGældssaneringMeddelelseStruktur"/>
				
				
				                    <xs:element ref="fase2.1:StatstidendeDødsboMeddelelseStruktur"/>
				
				
				                    <xs:element ref="fase2.1:StatstidendeRekonstruktionMeddelelseStruktur"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
