systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/UdlaegTilsigelseSendStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
				     
				     
				     
         <xs:include schemaLocation="../class/UdlaegAEndring.xsd"/>
         <xs:include schemaLocation="../operational/TilsigSubsidiaerHaefterMarkering.xsd"/>
				     
         <xs:include schemaLocation="../view/KFIAdresseStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/OpgaveReferenceStrukturType.xsd"/>
				     
         <xs:element name="UdlægTilsigelseSendStruktur"
                     type="fase2.1:UdlægTilsigelseSendStrukturType"/>
         <xs:complexType name="UdlægTilsigelseSendStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element name="TilsigelseAdresse">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:KFIAdresseStruktur"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <!--Sequence removed-->

                     <xs:element name="UdlægsAdresse" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:KFIAdresseStruktur"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  

                  <xs:element name="OpgaveReferenceSamling">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:OpgaveReferenceStruktur" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element ref="fase2.1:UdlægÆndringSendMeddelelseTilKunde"/>

                  <xs:element ref="fase2.1:UdlægÆndringBegrundelse" minOccurs="0"/>



                  <xs:element ref="fase2.1:TilsigSubsidiærHæfterMarkering" minOccurs="0"/>

               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
