systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/view/VirksomhedKontaktOplysningStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
				     
         <xs:include schemaLocation="../class/Telefon.xsd"/>
         <xs:include schemaLocation="../class/EmailAdresse.xsd"/>
         <xs:include schemaLocation="../class/Fax.xsd"/>
         <xs:include schemaLocation="../view/VirksomhedAdresseStrukturType.xsd"/>
				     
         <xs:element name="VirksomhedKontaktOplysningStruktur"
                     type="fase2.1:VirksomhedKontaktOplysningStrukturType"/>
         <xs:complexType name="VirksomhedKontaktOplysningStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:VirksomhedAdresseStruktur"/>
                  <xs:element name="TelefonListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="Telefon" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:TelefonNummer"/>

                                    <xs:element ref="fase2.1:TelefonGyldigFra" minOccurs="0"/>



                                    <xs:element ref="fase2.1:TelefonGyldigTil" minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element name="EmailAdresseListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="EmailAdresse" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:EmailAdresseEmail"/>

                                    <xs:element ref="fase2.1:EmailAdresseGyldigFra" minOccurs="0"/>



                                    <xs:element ref="fase2.1:EmailAdresseGyldigTil" minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element name="FaxListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="Fax" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:FaxNummer"/>

                                    <xs:element ref="fase2.1:FaxGyldigFra" minOccurs="0"/>



                                    <xs:element ref="fase2.1:FaxGyldigTil" minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               
            
         
         
         
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
