services/review/EFIOIO_20110504/urn/oio/skat/efi/ws/1_0_1/MFTransportRettighedshaverStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r4325</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/TransportRettighedHaverProcent.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/TransportRettighedHaverPrioritetIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/TransportRettighedHaverModtagerIndikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/TransportRettighedHaverBeskedIndikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/FordringHaverIdentifikator.xsd"/><xs:include schemaLocation="../../../../../../urn/oio/skat/efi/ws/1_0_1/MFKundeStruktur.xsd"/>
	<xs:include schemaLocation="../../../../../../urn/oio/skat/efi/ws/1_0_1/TransportUdlaegRettighedStruktur.xsd"/>
	<xs:include schemaLocation="../../../../../../urn/oio/skat/efi/ws/1_0_1/TransportRettighedHaverBeloebStruktur.xsd"/>
	<xs:element name="MFTransportRettighedshaverStruktur" type="efiws:MFTransportRettighedshaverStrukturType"/>
	<xs:complexType name="MFTransportRettighedshaverStrukturType">
		<xs:sequence>
			<xs:element ref="efiws:MFKundeStruktur"/>
			<xs:element ref="efi:FordringHaverIdentifikator" minOccurs="0"/>
			<xs:element ref="efiws:TransportUdlaegRettighedStruktur" minOccurs="0"/>
			<xs:element ref="efi:TransportRettighedHaverBeskedIndikator"/>
			<xs:element ref="efi:TransportRettighedHaverModtagerIndikator"/>
			<xs:element ref="efi:TransportRettighedHaverPrioritetIdentifikator"/>
			<xs:element name="TransportRettighedhaverUdbetalingFordeling" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="efi:TransportRettighedHaverProcent"/>
						<xs:element ref="efiws:TransportRettighedHaverBeloebStruktur"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
