services/review/EFIOIO_20110504/urn/oio/skat/efi/ws/1_0_1/MFUnderretRenteTilskrivningStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2002/06/28/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r4325</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2002/06/28/" schemaLocation="../../../../../../cvr_dk/xml/schemas/2002/06/28/ProductionUnitNumber.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/ValutaKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/RenteAarTilDatoDKKBeloeb.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/RenteAarTilDatoBeloeb.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/RentePeriodeTypeKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/RentePeriode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/RentePeriodeDKKBeloeb.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/RentePeriodeBeloeb.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/FordringTypeKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/FordringFordringHaverReference.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/FordringFordringArtKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../../../../../urn/oio/skat/efi/1_0_0/FordringInddrivelseFordringIdentifikator.xsd"/><xs:element name="MFUnderretRenteTilskrivningStruktur" type="efiws:MFUnderretRenteTilskrivningStrukturType"/>
	<xs:complexType name="MFUnderretRenteTilskrivningStrukturType">
		<xs:sequence>
			<xs:element name="FordringListe">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fordring" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="efi:FordringFordringArtKode"/>
									<xs:element ref="efi:FordringTypeKode"/>
									<xs:element ref="efi:FordringInddrivelseFordringIdentifikator"/>
									<xs:element ref="efi:FordringFordringHaverReference" minOccurs="0"/>
									<xs:element ref="cvr:ProductionUnitNumber" minOccurs="0"/>
									<xs:element ref="efi:RentePeriodeTypeKode"/>
									<xs:element ref="efi:RentePeriode"/>
									<xs:element ref="efi:ValutaKode"/>
									<xs:element ref="efi:RentePeriodeBeloeb"/>
									<xs:element ref="efi:RentePeriodeDKKBeloeb"/>
									<xs:element ref="efi:RenteAarTilDatoBeloeb"/>
									<xs:element ref="efi:RenteAarTilDatoDKKBeloeb"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
