systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/AfskrivningEjendom.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="AfskrivningEjendomStraksTotal" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Summen af straksafskrivning/nedrivningsfradrag på fast ejendom. Felt 140</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AfskrivningEjendomSkattemæssigTotal" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Summen af skattemæssige afskrivninger på fast ejendom. Felt 141</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AfskrivningEjendomGenvundneTotal" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Summen af genvundne afskrivninger på fast ejendom. Felt 142</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
