systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/FondForeningErklaering.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/TalHel1Type.xsd"/>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:element name="FondForeningErklæringBegrundelseKode" type="skat2012:TalHel1Type">
               
               <xs:annotation>
                  <xs:documentation>Fonde, der tilhører én af disse tre kategorier, kan efter fondsbeskatningslovens § 15, stk. 3, afgive erklæring i stedet for at selvangive, hvis de:  1 -  Fonden har ikke indkomst ved erhvervsmæssig virksomhed, og hvis indkomsten inklusive skattefrie udbytter ikke overstiger 100.000 kr. når fradrag af renteudgifter og administrationsomkostninger er trukket fra, men før fradrag af uddelinger,  2 - Fonden driver offentligt tilgængelige museer, og som efter § 4, stk. 8, i fondsbeskatningsloven har opnået tilladelse til uden begrænsninger at hensætte til almenvelgørende eller på anden måde almennyttige kulturelle formål, og hvis overskud i indkomståret udelukkende anvendes til museets formål.  3 - Fonden anvender udelukkende overskuddet til formålet og har fået tilladelse til at afgive erklæring i stedet for selvangivelse. Felt 232a </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FondForeningErklæringTilvalgt" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om fonden/foreningen har valgt at afgive erklæring i stedet for at selvangive. (True = ja, False = nej) Felt 39</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FondForeningErklæringForeningMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Feltet angiver om foreningen øånsker, såfremt den opfylder betingelserne i § 15, stk. 2, i fondsbeskatningsloven, i stedet for at selvangive, at afgive en erklæring Felt 132</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FondForeningErklæringFondMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Ønsker fonden, såfremt den opfylder betingelserne i § 15, stk. 3 i fondsbeskatningsloven, i stedet for at selvangive, at afgive en erklæring? Felt 232 </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FondForeningErklæringSELForeningMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>For at kunne afgive erklæring må den skattepligtiges midler udelukkende kunne anvendes til almengørende eller på anden måde almennyttigt øjemed i foreningen.   Ønsker den skattepligtige, såfremt den opfylde betingelserne i Selskabsskatteloven § 24A, i stedet for at selvangive, at afgive en erklæring.  Felt 133</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FondForeningErklæringSELForeningIndkomst" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Den skattepligtige indkomst er før fradrag for uddelinger og hensættelser   Der er følgende to (1 / 2)  valg muligheder:  1 - Har den skattepligtige en skattepligtig indkomst på mere end kr. 100.000?  2 - Har den skattepligtige en skattepligtig indkomst på mindre eller lig med kr. 100.000?  Regel: Foldes ud hvis der svares ja i 133  Felt 133b </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FondForeningErklæringSELForeningIndkomstEkstraordinær"
                     type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Ekstraordinære indtægter er indtægter som følge af afhændelse, afståelse eller opgivelse af formuegoder.   Er der i indkomståret oppebåret væsentlige ekstraordinære indtægter?  Regel: Foldes ud hvis der vælges option 2 i 133b  Felt 133c </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FondForeningErklæringFBLIndkomstBeløbHøj" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Den skattepligtige indkomst er før fradrag for uddelinger og hensættelser   Der er følgende to (1 / 2) valgmuligheder:  1 - Har den skattepligtige en skattepligtig indkomst på mere end kr. 100.000  2 - Har den skattepligtige en skattepligtig indkomst på mindre end eller lig med kr. 100.000?  Regel: Foldes ud hvis der er svaret option 1 felt 232a OG option 1) 232c   Felt 232d</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FondForeningErklæringFBLIndkomstBeløbLav" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Der er opebået en skattepligtig inkomst   Der er følgende to (1 / 2)  valgmuligheder:  1 - Der er oppebåret en skattepligtig indkomst på mere end kr. 25.000.  2 - Der er oppebåret en skattepligtig indkomst på mindre end eller lig med kr. 25.000.  Regel: Foldes ud hvis der er svaret nej i felt 232b  Felt 232c</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FondForeningErklæringFBLIndkomstMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Der svares ja såfremt der er indkomst ved erhvervsmæssig virksomhed.   Den skattepligtige har indkomst ved erhvervsmæssig virksomhed.  Regel: Foldes ud hvis der er svaret option 1, 2 eller 3 i felt 232a  Felt 232b </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
