systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/HensaettelseOpgoerelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Dækker over en opgørelse over en fonds fradragsberettigede hensættelser</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="HensættelseOpgørelseAlmenVelgørendeFormålTotal" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Det samlede beløb for et givent indkomstår for hensættelser til almenvelgørende / almennyttige formål. Rubrik 22.  Felt 205</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HensættelseOpgørelseKonsolideringForeningFormueTotal"
                     type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Det sammlede beløb for et givent indkomstår for hensættelser til konsolidering af foreningens formue. Rubrik 26. Felt 226</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HensættelseOpgørelseKonsolideringFondKapitalTotal"
                     type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Det sammlede beløb for et givent indkomstår for hensættelser til konsolidering af fondskapitalen, dog max 25 pct. af årets samlede almenvelgørende/almennyttige uddelinger (rubrik 20 + 33). Rubrik 24. Felt 224</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HensættelseOpgørelseEfterSærligTilladelseTotal" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Fradrag for andre hensættelser efter særlig tilladelse. Rubrik 25. Felt 225</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HensættelseOpgørelseFradragTotal" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Sum af fradrag i alt  Felt 227</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
