systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/InternationalSambeskatning.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/TalHel3Type.xsd"/>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:element name="InternationalSambeskatningStartDato" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Første dag hvor selskabet er under international sambeskatning.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InternationalSambeskatningSlutDato" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Sidste dag hvor selskabet er under international sambeskatning.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InternationalSambeskatningBindingsperiodeStart" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Første dag i bindingsperioden for international sambeskatning.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InternationalSambeskatningBindingsperiodeSlut" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Sidste dag i bindingsperioden for international sambeskatning.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InternationalSambeskatningBindingsperiodeAntalÅr"
                     type="skat2012:TalHel3Type">
               
               <xs:annotation>
                  <xs:documentation>Parameter som angiver bindingsperioden i antal år (for international sambeskatning).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InternationalSambeskatningUdtrådtFastDriftUdlandUnderskud"
                     type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om selskabet er udtrådt af international sambeskatning og selskabet har faste driftssteder i udlandet med restunderskud. (True = ja, False = nej). Felt 165</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InternationalSambeskatningFastDriftFastEjendomUdlandRestunderskud"
                     type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Har selskabet henholdsvis faste driftssteder eller faste ejendomme i udlandet med restunderskud, der ikke kan fremføres til modregning  i senere indkomstår, jf. selskabsskattelovens § 31 A, stk. 2, 3. punktum? Hvis Ja - klik på spørgsmålstegnet for supplerende vejledning. Felt 165a</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
