systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/RevisorBistand.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/TalHel1Type.xsd"/>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/ValgTypeKodeType.xsd"/>
         <xs:element name="RevisorBistandTypeKode" type="skat2012:TalHel1Type">
               
               <xs:annotation>
                  <xs:documentation>Bistand fra: 1. Ingen bistand fra revisor 2. Godkendt revisor 3. Anden rådgiver  Felt 102</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RevisorBistandErklæringInkluderet" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver hvorvidt årsrapporten er forsynet med revisorerklæring Felt 103</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RevisorBistandErklæringTypeKode" type="skat2012:TalHel1Type">
               
               <xs:annotation>
                  <xs:documentation>Angiver hvilken type revisorerklæring der tales om:  1: Revision 2: Gennemgang af regnskab 3: Assistance med regnskabsopstilling 4: Andet 5: Udvidet gennemgang  Felt 104</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RevisorBistandErklæringSuppleringOplysningInkluderet"
                     type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver hvorvidt der er forbehold/supplerende oplysninger i revisorerklæring. Felt 105</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RevisorBistandErklæringSuppleringOplysningTypeKode"
                     type="skat2012:ValgTypeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Angiver det emne forbehold/supplerende oplysninger vedrører:  1. Overholdelse af skatte- og afgiftslovgivningen 2. Overholdelse af selskabslovgivningen 3. Overholdelse af regnskabslovgivningen 4. Andet  Felt 106</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RevisorBistandSkattePligtigIndkomstOpgjort" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om skattepligtig indkomst er opgjort med bistand fra revisor. (True = Ja) Felt 107</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
