systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/SaerbeskattetForskning.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Informationer til brug for skattekreditordningen hvor ansøger er særbeskattet.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/JaNejType.xsd"/>
         <xs:include schemaLocation="../types/Tekst300Type.xsd"/>
         <xs:include schemaLocation="../types/BeloebPositivNegativ13Decimaler2Type.xsd"/>
         <xs:element name="SærbeskattetForskningPeriode" type="skat2012:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Tilkendegivelse af om der ansøges for en periode der er kortere end 12 måneder. Felt 607</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SærbeskattetForskningPeriodeHent" type="skat2012:Tekst300Type">
               
               <xs:annotation>
                  <xs:documentation>Angiver den faktiske indkomstperiode som er registreret på selskabet i systemet. Felt 607A</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SærbeskattetForskningSkattepligtigIndkomstFørUnderskud"
                     type="skat2012:BeløbPositivNegativ13Decimaler2Type">
               
               <xs:annotation>
                  <xs:documentation>Negativ skattepligtig indkomst før reduktion af underskud vedr. forsøgs- og forskningsaktiviteter. Felt 606</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SærbeskattetForskningSkatteværdiUnderskudAnsøgt"
                     type="skat2012:BeløbPositivNegativ13Decimaler2Type">
               
               <xs:annotation>
                  <xs:documentation>Skatteværdien af underskuddet der søges om udbetaling af under skattekreditordningen. Felt 609</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SærbeskattetForskningOmkostningStraksafskrivning"
                     type="skat2012:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Tilkendegivelse af om omkostningerne der ligger til grund for ansøgning om skattekredit, er straksafskrevet efter ligningsloven eller afskrivningsloven. Felt 611</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SærbeskattetForskningNedsættelseUnderskudSkattekredit"
                     type="skat2012:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Tilkendegivelse af at underskud til fremførsel nedsættes tilsvarende det underskud der ligger til grund for ansøgning om skattekredit. Felt 612</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
