systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/SelskabYdetTilskud.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Ydede tilskud, herunder eftergivelse af lån.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/HjemmehoerendeRegionType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="SelskabYdetTilskudOver25ProcentMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om de kontrollerede transaktioner af denne art overstiger 25 % af virksomhedens totale transaktioner af denne art. Felt 521c</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SelskabYdetTilskudStatHjemmehørendeKode"
                     type="skat2012:HjemmehørendeRegionType">
               
               <xs:annotation>
                  <xs:documentation>Kode som angiver hvilke(n) stat(er) de enheder, der har været kontrollerede transaktioner med, er hjemmehørende - for den pågældende art transaktion.  Vælg en af følgende værdier (A-D):  A = i Danmark. B = i EU/EØS C = i stater uden for EU/EØS, som Danmark har en TP-relevant DBO med D = i stater uden for EU/EØS, som Danmark ikke har en TP-relevant DBO med  Felt 521d</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SelskabYdetTilskudBrutto" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Summen af kontrollerede transaktioner for ydede tilskud, herunder eftergivelse af lån.  Vælg en af følgende værdier (1-8) for at angive beløbets størrelse:  1 = 0 kr. - 1 mio kr. 2 = stoerre end1 mio kr. - 5 mio. kr. 3 = stoerre end5 mio kr. - 25 mio. kr. 4 = stoerre end25 mio kr. - 100 mio. kr. 5= stoerre end100 mio kr. - 250 mio. kr. 6 = stoerre end250 mio kr. - 500 mio. kr. 7 = stoerre end500 mio kr. - 1 mia. kr. 8 = stoerre end1 mia kr.  Felt 521b</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SelskabYdetTilskudMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Feltet angiver om der været kontrollerede transaktioner af ydede tilskud, herunder eftergivelse af lån Felt 521a </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
