systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/SelskabIndtaegt.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Dækker over indtægter i et selskab</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="SelskabIndtægtPositivNettoKapitalMedTillægUdlejning"
                     type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Positive nettokapitalindtægter med tillæg af indkomst fra udlejning af afskrivningsberettigede driftsmidler og skibe. Felt 261</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SelskabIndtægtSkattefriUdbytteUdlodningTotal" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Sum af skattefrit udbytte og udlodninger Felt 230</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SelskabIndtægtSkattefriFradragTotal" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Fradrag i alt - skattefrie indtægter Felt 231</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
