systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/Telefon.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En specialisering af klassen KontaktOplysning. Indeholder et telefonnummer til en given person/virksomhed. Ifølge standarden E.164 kan et internationalt telefonnummer være op til 15 cifre inkl. landekode og excl. præfix. Et udenlandsk telefonnummer kan indeholde flere tegn end 15, derfor er det også muligt at angive et udenlandsk telefonnummer.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/TelefonFaxLandeKodeType.xsd"/>
         <xs:include schemaLocation="../types/TelefonNummerType.xsd"/>
         <xs:include schemaLocation="../types/UdenlandskTelefonNummerType.xsd"/>
         <xs:include schemaLocation="../types/Tekst30Type.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="TelefonLandeKode" type="skat2012:TelefonFaxLandeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Telefon- og faxnummer landekode. Fx +45 eller 0045. Selve telefonnummeret indgår ikke.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TelefonNummer" type="skat2012:TelefonNummerType">
               
               <xs:annotation>
                  <xs:documentation>Et telefonnummer svarende til eks: 23232323.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TelefonUdenlandskNummer" type="skat2012:UdenlandskTelefonNummerType">
               
               <xs:annotation>
                  <xs:documentation>Andre telefonnumre end danske.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TelefonInternationalNummer" type="skat2012:Tekst30Type">
               
               <xs:annotation>
                  <xs:documentation>Kan indeholde både danske og ikke danske telefonnumre med landekode startende med 00 eller + Landekoden skal separeres fra resten af telefonnummeret med en bindestreg. Yderligere bindestreger i det eftefølgende nummer er også tilladt.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TelefonGyldigFra" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TelefonGyldigTil" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
