systems/Selskabsskat(DIAS)/Leverance/Arkiv/20211216/SelskabSelvangivelseSimuler20211216.r23726/package/class/TonnageErklaering.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/FilType.xsd"/>
         <xs:element name="TonnageErklæringForskelligtValgPGF3" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om selskabet indgår i en koncern, hvor der er truffet forskelligt valg omkring anvendelse af tonnageskatteloven jfr. TSL PGF. 3.  (Ja = True). Felt 350</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TonnageErklæringBareBoatUdlejningPGF6Stk2" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om selskabet har udlejet skibe på bare-boat vilkår, og medtaget denne udlejning under tonnageindkomsten, jf. TSL PGF.6, stk. 2. (Ja = True). Felt 352</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TonnageErklæringTimeCharterUdlejning" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om selskabet har udlejet skibe på time-charter vilkår og henført indkomsten fra udlejningen under tonnageskatteordningen, jf. tonnageskattelovens § 6, stk. 2, 1. pkt. (Ja = True). Felt 351</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TonnageErklæringIndhold" type="skat2012:FilType">
               
               <xs:annotation>
                  <xs:documentation>Digital fil som indeholder en (eller flere) revisorerklæringer. (Hører til felt 318, 319, 320)</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
