systems/NTSE/20190524/Fase1eService.r19396/package/class/RevisorOrdning.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase1="http://skat.dk/begrebsmodel/2006/09/07/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2006/09/07/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Angiver revisor-ordning for en virksomheds tilmeldte angivelsestyper.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/BatchOnlineKodeType.xsd"/>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:element name="RevisorOrdningStartDato" type="fase1:DatoType">
               
            </xs:element>
         <xs:element name="RevisorOrdningSlutDato" type="fase1:DatoType">
               
            </xs:element>
         <xs:element name="RevisorOrdningBatchOnlineKode" type="fase1:BatchOnlineKodeType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om revisorordning vedrørende en specifik angivelsestype for en virksomheds tilmelding er foretaget via SKAT (F.12) eller online via TastSelv Erhverv. Kodens indhold ved leverance til DW dannes via loggen og der leveres altid et totalt indhold for en virksomhed ved en ændring. Det er derfor kun muligt at levere korrekt kode B første gang for en autorisation, mens næste leverance for virksomheden (grundet en anden ændring) vil have O i samme kode.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RevisorOrdningMarkering" type="fase1:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om revisorordningen ønskes oprettet (J) eller afmeldt (N)</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
