services/prodtin/eIndkomst13/view/AngivelseBlanketIndholdStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:eindkomstws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="../view/AngivelseNiveau1Type.xsd"/>
	<xs:element name="AngivelseBlanketIndholdStruktur" type="eindkomstws:AngivelseBlanketIndholdStrukturType"/>
	<xs:complexType name="AngivelseBlanketIndholdStrukturType">
		<xs:sequence>
			<xs:element name="AngivelseOplysningSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="eindkomstws:AngivelseNiveau1" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
