projects/DMO/DMO20190509/Fase2_1DMO.r19330/package/wsdl/KontoStatusHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="KontoStatusHentService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Service modtager input om en kunde og leverer de seneste op til 99 posteringer på kundens skattekonto samt diverse sumbeløb og oplysninger om henholdsvis: - Posteringer til godkendelse (Udbetalinger, Afskrivninger)   - Sikkerhedsstillelse - Betalingsordninger - Administrative tiltag </xs:documentation>
            <xs:documentation>1.5</xs:documentation>
            <xs:documentation>r19330</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/KontoStatusHentInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="KontoStatusHentServiceRequest">
            <wsdl:part name="Request" element="fase2.1:KontoStatusHent_I"/>
         </wsdl:message>
         <wsdl:message name="KontoStatusHentServiceResponse">
            <wsdl:part name="Response" element="fase2.1:KontoStatusHent_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="KontoStatusHentServicePortType">
            <wsdl:operation name="getKontoStatusHent">
               <wsdl:input message="fase2.1:KontoStatusHentServiceRequest"/>
               <wsdl:output message="fase2.1:KontoStatusHentServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
