projects/DMO/DMO20190509/Fase2_1DMO.r19330/package/wsdl/OpkraevningFordringRenteHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="OpkrævningFordringRenteHentService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Service modtager input om en kunde og enten en specifik hovedfordring eller en liste af rentefordringer og henter data om renteberegningen svarende til input, dvs. enten for den specifikke hovedfordring eller for rentefordringerne på den givne liste .</xs:documentation>
            <xs:documentation>2</xs:documentation>
            <xs:documentation>r19330</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/OpkraevningFordringRenteHentInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="OpkrævningFordringRenteHentServiceRequest">
            <wsdl:part name="Request" element="fase2.1:OpkrævningFordringRenteHent_I"/>
         </wsdl:message>
         <wsdl:message name="OpkrævningFordringRenteHentServiceResponse">
            <wsdl:part name="Response" element="fase2.1:OpkrævningFordringRenteHent_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="OpkrævningFordringRenteHentServicePortType">
            <wsdl:operation name="getOpkrævningFordringRenteHent">
               <wsdl:input message="fase2.1:OpkrævningFordringRenteHentServiceRequest"/>
               <wsdl:output message="fase2.1:OpkrævningFordringRenteHentServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
