projects/TAS blanketter/Leverancer/20160912TAS/20160912TAS.r14865/package/class/DokumentFil.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/FilType.xsd"/>
         <xs:include schemaLocation="../types/Tekst80Type.xsd"/>
         <xs:include schemaLocation="../types/TalHelType.xsd"/>
         <xs:include schemaLocation="../types/Tekst25Type.xsd"/>
         <xs:element name="DokumentFilIndhold" type="skat2016:FilType">
               
               <xs:annotation>
                  <xs:documentation>En elektronisk fil. Kan være modtaget elektronisk eller indskannet fra papirdokument.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DokumentFilType" type="skat2016:Tekst80Type">
               
               <xs:annotation>
                  <xs:documentation>Dokuments filtype, f.eks. TIFF, doc, pdf, txt mv.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DokumentFilStørrelse" type="skat2016:TalHelType">
               
               <xs:annotation>
                  <xs:documentation>Angiver størrelse på en dokumentfil.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="DokumentFilEncoding" type="skat2016:Tekst25Type">
               
               <xs:annotation>
                  <xs:documentation>Angiver hvilken encoding type dokumentfilen foreligger i, fx UTF8 eller UTF16.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
