projects/TAS blanketter/Leverancer/20160912TAS/20160912TAS.r14865/package/class/ToldAktivitet.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Inderholder elementer under Toldaktiviteter, fx toldprocesdurer, toldtransaktioner mv.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/Type500Type.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:include schemaLocation="../types/TalHel10Type.xsd"/>
         <xs:element name="ToldAktivitetToldprocedureType" type="skat2016:Type500Type">
               
               <xs:annotation>
                  <xs:documentation>Ansøger angiver hvilke toldprocedurer der ønskes anvendt. Der kan vælges en eller flere af følgende:   - Fri omsætning med særligt anvendelsesformål (end-use)  - Toldoplag  - Aktiv forædling: Suspensionsordningen  - Aktiv forædling: Tilbagebatalingsordningen  - Forarbejdning under toldkontrol  - Midlertidig indførsel  - Passiv forædling</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldAktivitetKommentarer" type="skat2016:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>I forbindelse med at ansøger angiver hvilke toldprocedurer der ønskes anvendt kan han hertil tilføje kommentarer. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldAktivitetAntalTransaktioner" type="skat2016:TalHel10Type">
               
               <xs:annotation>
                  <xs:documentation>Antal operationer (sendinger). Ansøger angiver hvor ofte forenklingen vil blive anvendt pr. måned.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldAktivitetPlanlagteTransaktionerOplysning"
                     type="skat2016:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Oplysninger om planlagte aktiviteter. Angives i forbindelse med en ansøgning eller bevilling.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
