projects/TAS blanketter/Leverancer/20160912TAS/20160912TAS.r14865/package/class/Toldsted.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En generaliseret klasse som rummer de e-AAD referencenumre på toldsteder, som relevante myndigheder (import, export, tilsyn mv.) har.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/EUMyndighedNummerType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/Tekst35Type.xsd"/>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/Tekst50Type.xsd"/>
         <xs:element name="ToldstedReferenceNummer" type="skat2016:EUMyndighedNummerType">
               
               <xs:annotation>
                  <xs:documentation>En myndigheds referencenummer</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldstedDataNavn" type="skat2016:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Angivelse af datanavnet på det toldsted som har ansvaret for stedet, hvor varerne er tilgængelige for kontrol. Et datanavn er en kode. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldstedNavn" type="skat2016:Tekst35Type">
               
               <xs:annotation>
                  <xs:documentation>Navnet for toldstedet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldstedAlleDanskeToldsteder" type="skat2016:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Der skal markeres om det gælder alle danske toldsteder.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ToldstedNummer" type="skat2016:Tekst50Type">
               
               <xs:annotation>
                  <xs:documentation>Alle toldsteder har et nummer.  Det er opbygget med 2 bogstaver og 6 numeriske.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
