projects/TAS blanketter/Leverancer/20160912TAS/20160912TAS.r14865/package/class/UCCDatakravOplaegAfVarer.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/JaNejType.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:include schemaLocation="../types/Tal5Type.xsd"/>
         <xs:element name="UCCDatakravOplægAfVarerFjernelseAfVarerKrævet" type="skat2016:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Dette er en boolean datatype, hvor man kan vælge mellem ja og nej (hhv. true og false).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="UCCDatakravOplægAfVarerFjernelseAfVarerOplysninger"
                     type="skat2016:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Nødvendige oplysninger, der anses for relevante i forbindelse med den midlertidige fjernelse af varer.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="UCCDatakravOplægAfVarerSvindProcent" type="skat2016:Tal5Type">
               
               <xs:annotation>
                  <xs:documentation>En integer maksimalt bestående af 5 cifre </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
