projects/TAS blanketter/Leverancer/20160912TAS/20160912TAS.r14865/package/class/VareRegnskab.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>IT- og data specifikationer indenfor vareregnskab.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/Tekst50Type.xsd"/>
         <xs:include schemaLocation="../types/TypeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/Tal5Type.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:element name="VareRegnskabPrincip" type="skat2016:Tekst50Type">
               
               <xs:annotation>
                  <xs:documentation>I forbindelse med en ansøgning eller bevilling angives der hvilket vareregnskabsprincip der bruges. Der kan vælges mellem:  1. FIFO 2. LIFO 3. Andet (angiv hvilket)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VareRegnskabSystem" type="skat2016:Tekst50Type">
               
               <xs:annotation>
                  <xs:documentation>I forbindelse med en ansøgning eller bevilling angives der hvilket vareregnskabssystem der bruges. Der kan vælges mellem:  1. SAP 2. Dynamic AX 3. Navision 4. Oracle Business Suite 5. Egenudviklet Excel eller Access 6. Andet (angiv hvilket)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VareRegnskabType" type="skat2016:TypeType">
               
               <xs:annotation>
                  <xs:documentation>I forbindelse med en ansøgn(ing) eller bevilling angives der anvendt(e) regnskabstype(r).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VareRegnskabDataAdgang" type="skat2016:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>I forbindelse med en ansøgning eller bevilling angives der hvilket dataadgang der bruges. Der kan vælges mellem:  1. Excel 2. Edi-fact 3. SAP 4. Axapta 5. Navision 6. Andet (angiv hvilken)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VareRegnskabUdbyttesats" type="skat2016:Tal5Type">
               
               <xs:annotation>
                  <xs:documentation>I forbindelse med angivelse af Forædlings eller forarbejdningsprodukter angives der til hver varelinie en udbyttesats.  Udbyttesatsen er den mængde eller den procentdel af forædlingsprodukter, der opnås ved forædling af en bestemt mængde varer. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VareRegnskabSystemNavn" type="skat2016:Tekst50Type">
               
               <xs:annotation>
                  <xs:documentation>Et andet navn på et vareregnskabssystem som ikke er i listen over valgmuligheder.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VareRegnskabDataAdgangNavn" type="skat2016:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>I forbindelse med en ansøgning eller bevilling angives der hvilket dataadgang der bruges, som angives med tekst.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
