services/prodtin/eIndkomst11/skat_dk/eindkomst/IndkomstPersonStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" version="1.0" xml:lang="DA">
<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:include schemaLocation="LoenPeriodeOplysningStruktur.xsd"/>
         <xs:element name="IndkomstPersonStruktur" type="fase2:IndkomstPersonStrukturType"/>
         <xs:complexType name="IndkomstPersonStrukturType">
            <xs:sequence>
                  <xs:element ref="core:PersonCivilRegistrationIdentifier"/>
                  <xs:element name="IndkomstLoenPeriodeSamling">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element maxOccurs="unbounded" minOccurs="1" ref="fase2:LoenPeriodeOplysningStruktur"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
