services/prodtin/eIndkomst11/skat_dk/eindkomst/VirksomhedIndkomstOplysningStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:indkomstoplysningadgangreferencenummer="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" version="1.0" xml:lang="DA">
<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" schemaLocation="class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/IndkomstOplysningAdgangReferenceNummerIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:include schemaLocation="IndberetningPligtigVirksomhedStruktur.xsd"/>
         <xs:include schemaLocation="IndkomstPersonStruktur.xsd"/>
         <xs:include schemaLocation="IndkomstVirksomhedStruktur.xsd"/>
         <xs:include schemaLocation="IndkomstUdenlandskPersonStruktur.xsd"/>
         <xs:include schemaLocation="VirksomhedPeriodeOplysningStruktur.xsd"/>
         <xs:element name="VirksomhedIndkomstOplysningStruktur" type="fase2:VirksomhedIndkomstOplysningStrukturType"/>
         <xs:complexType name="VirksomhedIndkomstOplysningStrukturType">
               <xs:sequence>
               <xs:element name="VirksomhedIndkomstOplysning">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="VirksomhedIndkomst">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="1" name="Virksomhed">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2:IndberetningPligtigVirksomhedStruktur"/>
                                          <xs:element minOccurs="0" ref="indkomstoplysningadgangreferencenummer:IndkomstOplysningAdgangReferenceNummerIdentifikator"/>
                                          <xs:element name="IndkomstOplysningPersonSamling">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element maxOccurs="unbounded" minOccurs="0" ref="fase2:IndkomstPersonStruktur"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element name="IndkomstOplysningVirksomhedSamling">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element maxOccurs="unbounded" minOccurs="0" ref="fase2:IndkomstVirksomhedStruktur"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element name="IndkomstOplysningUdenlandskPersonSamling">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element maxOccurs="unbounded" minOccurs="0" ref="fase2:IndkomstUdenlandskPersonStruktur"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element name="VirksomhedPeriodeOplysningSamling">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element maxOccurs="unbounded" minOccurs="0" ref="fase2:VirksomhedPeriodeOplysningStruktur"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
