services/prodtin/eIndkomst17/skat_dk/eindkomst/AnsaettelseForholdPersonHent_O.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/>
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="PersonAnsaettelseForholdStruktur.xsd"/>
	<xs:element name="AnsaettelseForholdPersonHent_O" type="fase2:AnsaettelseForholdPersonHent_OType"/>
	<xs:complexType name="AnsaettelseForholdPersonHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="AnsaettelseForholdPersonUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnsaettelseForholdPerson">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AnsaettelseForhold" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:PersonAnsaettelseForholdStruktur"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>