projects/TAS blanketter/Leverancer/20160819TAS/20160819TAS.r14689/package/wsdl/UCCBlanketMultiModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:skat2016="http://skat.dk/begrebsmodel/2016/01/01/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/"
                        name="UCCBlanketMultiModtagService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Service udstillet af UCC, med det formål at modtage blanketter vedrørende UCC (EU-toldkodeks), der er indberettet via Erhvervsstyrelsens Blanketservice på virk.dk</xs:documentation>
            <xs:documentation>1.0</xs:documentation>
            <xs:documentation>r14689</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2016/01/01/">
               <xsd:include schemaLocation="../service/UCCBlanketMultiModtagInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="UCCBlanketMultiModtagServiceRequest">
            <wsdl:part name="Request" element="skat2016:UCCBlanketMultiModtag_I"/>
         </wsdl:message>
         <wsdl:message name="UCCBlanketMultiModtagServiceResponse">
            <wsdl:part name="Response" element="skat2016:UCCBlanketMultiModtag_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="skat2016:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="skat2016:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="UCCBlanketMultiModtagServicePortType">
            <wsdl:operation name="getUCCBlanketMultiModtag">
               <wsdl:input message="skat2016:UCCBlanketMultiModtagServiceRequest"/>
               <wsdl:output message="skat2016:UCCBlanketMultiModtagServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="skat2016:KompenserTransRequest"/>
               <wsdl:output message="skat2016:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
