systems/SAPPS/Leverancer/SAPPS20160927/Services_20160927.r14933/package/class/ProduktionEnhed.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En klasse, indeholdende et virksomheds tilknyttede P-enhednumre</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ProduktionEnhedNummerType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/Tekst300Type.xsd"/>
         <xs:element name="ProduktionEnhedNummer" type="fase2.1:ProduktionEnhedNummerType">
               
               <xs:annotation>
                  <xs:documentation>Det nummer som for SKAT identificerer en produktionsenhed.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ProduktionEnhedStartDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ProduktionEnhedOphørDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ProduktionEnhedNavn" type="fase2.1:Tekst300Type">
               
               <xs:annotation>
                  <xs:documentation>Navn på produktionsenhed.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
