services/demo/eIndkomst/view/AngivelseBlanketIndholdStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="../view/AngivelseNiveau1Type.xsd"/>
	<xs:element name="AngivelseBlanketIndholdStruktur" type="fase2:AngivelseBlanketIndholdStrukturType"/>
	<xs:complexType name="AngivelseBlanketIndholdStrukturType">
		<xs:sequence>
			<xs:element name="AngivelseOplysningSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AngivelseNiveau1" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
