services/demo/eIndkomst/view/AnsaettelseForholdPersonHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../view/PersonAnsaettelseForholdStrukturType.xsd"/>
	<xs:element name="AnsættelseForholdPersonHent_O" type="fase2:AnsættelseForholdPersonHent_OType">
	</xs:element>
	<xs:complexType name="AnsættelseForholdPersonHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<!--Sequence removed-->
			<xs:element name="AnsættelseForholdPersonUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnsættelseForholdPerson">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AnsættelseForhold" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:PersonAnsættelseForholdStruktur"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
