services/demo/eIndkomst/view/IndberetningForVirksomhedStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:virksomhed="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/" schemaLocation="http://rep.oio.dk/skat.dk/TSE/virksomhed/xml/schemas/2006/09/01/SKAT_SEnummerIdentifikator.xsd"/><xs:element name="IndberetningForVirksomhedStruktur" type="fase2:IndberetningForVirksomhedStrukturType"/>
	<xs:complexType name="IndberetningForVirksomhedStrukturType">
		<xs:sequence>
			<xs:element name="IndberetningForVirksomhed">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="virksomhed:SEnummerIdentifikator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
