services/demo/eIndkomst/view/IndkomstOplysningKlassiskAbonnentHent_I_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:bestillingid="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingidentifikator/xml/schemas/20071202/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingidentifikator/xml/schemas/20071202/" schemaLocation="../class/abonnentbestillingidentifikator/xml/schemas/20071202/SKAT_AbonnentBestillingIdentifikator.xsd"/>
	<xs:element name="IndkomstOplysningKlassiskAbonnentHent_I_O" type="fase2:IndkomstOplysningKlassiskAbonnentHent_I_OType"/>
	<xs:complexType name="IndkomstOplysningKlassiskAbonnentHent_I_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:sequence>
				<xs:element name="IndkomstOplysningKlassiskAbonnentHent_IUddata" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="bestillingid:AbonnentBestillingIdentifikator"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
