services/demo/eIndkomst/view/IndkomstPersonVirksomhedStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="http://digitaliser.dk/resource/3541/artefact/CPR_PersonCivilRegistrationIdentifier.xsd"/><xs:include schemaLocation="../view/IndberetningForVirksomhedStrukturType.xsd"/>
	<xs:element name="IndkomstPersonVirksomhedStruktur" type="fase2:IndkomstPersonVirksomhedStrukturType"/>
	<xs:complexType name="IndkomstPersonVirksomhedStrukturType">
		<xs:sequence>
			<xs:element name="PersonVirksomhedValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Person">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="core:PersonCivilRegistrationIdentifier"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="Virksomhed">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="fase2:IndberetningForVirksomhedStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
