services/demo/eIndkomst/view/IndkomstOplysningPersonAbonnementAjourfoer_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:abonnentadgangomfangtype="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentadgangomfangtype/xml/schemas/20071202/" xmlns:xkom="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" xmlns:xkom1="http://rep.oio.dk/xkom.dk/xml/schemas/2007/04/15/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247441/artefact/SKAT_HovedOplysninger.xsd"/><xs:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2007/04/15/" schemaLocation="http://digitaliser.dk/resource/3018/artefact/XKOM_EndDate.xsd"/><xs:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/784/artefact/XKOM_StartDate.xsd"/><xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentadgangomfangtype/xml/schemas/20071202/" schemaLocation="../class/abonnentadgangomfangtype/xml/schemas/20071202/AbonnentAdgangOmfangTypeTekst.xsd"/><xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="http://digitaliser.dk/resource/3541/artefact/CPR_PersonCivilRegistrationIdentifier.xsd"/><xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentVirksomhedStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningPersonAbonnementAjourfør_I" type="fase2:IndkomstOplysningPersonAbonnementAjourfør_IType">
	</xs:element>
	<xs:complexType name="IndkomstOplysningPersonAbonnementAjourfør_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<!--Sequence removed-->
			<!--Sequence removed-->
			<xs:element name="PersonIndkomstAbonnementInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element ref="abonnentadgangomfangtype:AbonnentAdgangOmfangTypeTekst"/>
						<xs:element ref="fase2:AbonnentVirksomhedStruktur"/>
						<xs:element name="PersonAbonnementSamling">
							<xs:complexType>
								<xs:choice>
									<xs:sequence>
										<xs:element name="PersonStartAbonnementSamling">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PersonStart">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="xkom:StartDate"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PersonSamling">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Person">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PersonListe">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element ref="core:PersonCivilRegistrationIdentifier" minOccurs="1" maxOccurs="unbounded"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:sequence>
										<xs:element name="PersonSlutAbonnementSamling">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PersonSlut">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="xkom1:EndDate"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PersonSamling">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Person">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PersonListe">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element ref="core:PersonCivilRegistrationIdentifier" minOccurs="1" maxOccurs="unbounded"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
