services/demo/eIndkomst/view/VirksomhedAnsaettelseForholdStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:indkomstoplysningadgangreferencenummer="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" schemaLocation="../class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/SKAT_IndkomstOplysningAdgangReferenceNummerIdentifikator.xsd"/><xs:include schemaLocation="../view/IndberetningPligtigVirksomhedStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AnsaettelsePersonStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AnsaettelseUdenlandskPersonStrukturType.xsd"/>
	<xs:element name="VirksomhedAnsættelseForholdStruktur" type="fase2:VirksomhedAnsættelseForholdStrukturType"/>
	<xs:complexType name="VirksomhedAnsættelseForholdStrukturType">
		<xs:sequence>
			<xs:element name="AnsættelseForholdVirksomhed">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnsættelseForhold">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Ansættelse" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:IndberetningPligtigVirksomhedStruktur"/>
												<xs:element ref="indkomstoplysningadgangreferencenummer:IndkomstOplysningAdgangReferenceNummerIdentifikator" minOccurs="0"/>
												<xs:element name="AnsættelseDanskPersonSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:AnsættelsePersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="AnsættelseUdenlandskPersonSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:AnsættelseUdenlandskPersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
