systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 Captia/WSDL/package/class/Dokument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Dokument omfatter dels metadata om et dokument, der skal knyttes til en Sag, dels selve dokumentet.</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/IDType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/Tekst240Type.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/NavnType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/Tekst8Type.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/Tekst30Type.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
      
   
   
   <xs:include schemaLocation="../types/Tekst32Type.xsd"/>
      
      
   
   
   <xs:include schemaLocation="../types/Tekst2000Type.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/KodeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/UUIDType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
      
      
      
   
   
   <xs:element name="DokumentNummer" type="fase2.1:IDType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Vilkårligt unikt identifikationsnummer</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentTitel" type="fase2.1:Tekst240Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Den titel der angiver dokumentets indhold</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentProfilNavn" type="fase2.1:NavnType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Ethvert dokument i CAPTIA er beskrevet ved de tre egenskaber: Gruppe, Type og Tilstand. For at gøre det simplere, kan kalderen nøjes med at anvende DokumentProfilNavn, der udpeger værdier for disse tre egenskaber. Således kan kalderen nøjes med at referere til et på forhånd aftalt profilnavn, hvorefter servicen selv sørger for at sætte de tre egenskaber tilsvarende før dokumentet bliver oprettet i CAPTIA.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentType" type="fase2.1:Tekst8Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Indgående, udgående, andet, notat</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentKategori" type="fase2.1:Tekst30Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Forbehold dok på virk-mapper - ikke relevant her</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentAktuelNote" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Mulighed for at knytte en gul lap til dokumentet</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentGruppe" type="fase2.1:Tekst8Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Starter / afbryder / afslutter sagstidmåling (se nedenfor)</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentIndblik" type="fase2.1:Tekst32Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Arver automatisk sagens indblik, men kan ændres manuelt</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentTilstand" type="fase2.1:Tekst8Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver hvilken tilstand dokumentet har.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentBemærkning" type="fase2.1:Tekst2000Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>tekstfelt til notering af hvad som helst</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentArkiveringForm" type="fase2.1:KodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>angiver dokumentets beskaffenhed. Elektronisk, delvist elektronisk, papir</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentUUID" type="fase2.1:UUIDType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Unik ekstern dokumentidentifikator - forskelligt fra DokumentID</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentOprettetDato" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Dato for dokumentets oprettelse i Captia-basen.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentSvarfristDato" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Mulighed for indsættelse af svarfrist.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="DokumentBrevDato" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Dato for brevets oprettelsesdato</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
