projects/DMO/DMO20180920/Fase2_1Graensesnit.r18034/package/wsdl/OpkraevningFordringListeOpdater.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="OpkrævningFordringListeOpdaterService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Med denne service kan man opdatere eller tilbagekalde en eller flere eksisterende opkrævningsfordringer i Skatteforvaltningens opkrævningssystem, DMO, fx hvor:  - fordringshaver har ændringer til en eller flere specifikke opkrævningsfordringer. - fordringshaver vil tilbagekalde en eller flere specifikke opkrævningsfordringer.</xs:documentation>
            <xs:documentation>1.4</xs:documentation>
            <xs:documentation>r18034</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/OpkraevningFordringListeOpdaterInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="OpkrævningFordringListeOpdaterServiceRequest">
            <wsdl:part name="Request" element="fase2.1:OpkrævningFordringListeOpdater_I_I"/>
         </wsdl:message>
         <wsdl:message name="OpkrævningFordringListeOpdaterServiceResponse">
            <wsdl:part name="Response" element="fase2.1:OpkrævningFordringListeOpdater_I_O"/>
         </wsdl:message>
         <wsdl:message name="OpkrævningFordringListeOpdaterServiceRequest">
            <wsdl:part name="Request" element="fase2.1:OpkrævningFordringListeOpdater_O_I"/>
         </wsdl:message>
         <wsdl:message name="OpkrævningFordringListeOpdaterServiceResponse">
            <wsdl:part name="Response" element="fase2.1:OpkrævningFordringListeOpdater_O_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="OpkrævningFordringListeOpdaterServicePortType">
            <wsdl:operation name="getOpkrævningFordringListeOpdater">
               <wsdl:input message="fase2.1:OpkrævningFordringListeOpdaterServiceRequest"/>
               <wsdl:output message="fase2.1:OpkrævningFordringListeOpdaterServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
