projects/DMO/DMO20180920/Fase2_1Graensesnit.r18034/package/wsdl/OpkraevningFordringOpdater.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="OpkrævningFordringOpdaterService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Med denne service kan man opdatere eller tilbagekalde en eller flere eksisterende opkrævningsfordringer i Skatteforvaltningens opkrævningssystem, DMO, fx hvor: - fordringshaver har ændringer til en specifik opkrævningsfordring. - fordringshaver vil tilbagekalde en specifik opkrævningsfordring.</xs:documentation>
            <xs:documentation>1.1</xs:documentation>
            <xs:documentation>r18034</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/OpkraevningFordringOpdaterInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="OpkrævningFordringOpdaterServiceRequest">
            <wsdl:part name="Request" element="fase2.1:OpkrævningFordringOpdater_I"/>
         </wsdl:message>
         <wsdl:message name="OpkrævningFordringOpdaterServiceResponse">
            <wsdl:part name="Response" element="fase2.1:OpkrævningFordringOpdater_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="OpkrævningFordringOpdaterServicePortType">
            <wsdl:operation name="getOpkrævningFordringOpdater">
               <wsdl:input message="fase2.1:OpkrævningFordringOpdaterServiceRequest"/>
               <wsdl:output message="fase2.1:OpkrævningFordringOpdaterServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
