projects/DMO/DMO20180920/Fase2_1Graensesnit.r18034/package/wsdl/OpkraevningFordringListeOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="OpkrævningFordringListeOpretService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Denne service modtager og opretter en liste af opkrævningsfordringer i Skatteforvaltningens opkrævningssystem, DMO, således at det videre forløb med den enkelte fordring kan håndteres ud fra de regler, der er opsat på de enkelte fordringstyper.</xs:documentation>
            <xs:documentation>1.0</xs:documentation>
            <xs:documentation>r18034</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/OpkraevningFordringListeOpretInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="OpkrævningFordringListeOpretServiceRequest">
            <wsdl:part name="Request" element="fase2.1:OpkrævningFordringListeOpret_I_I"/>
         </wsdl:message>
         <wsdl:message name="OpkrævningFordringListeOpretServiceResponse">
            <wsdl:part name="Response" element="fase2.1:OpkrævningFordringListeOpret_I_O"/>
         </wsdl:message>
         <wsdl:message name="OpkrævningFordringListeOpretServiceRequest">
            <wsdl:part name="Request" element="fase2.1:OpkrævningFordringListeOpret_O_I"/>
         </wsdl:message>
         <wsdl:message name="OpkrævningFordringListeOpretServiceResponse">
            <wsdl:part name="Response" element="fase2.1:OpkrævningFordringListeOpret_O_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="OpkrævningFordringListeOpretServicePortType">
            <wsdl:operation name="getOpkrævningFordringListeOpret">
               <wsdl:input message="fase2.1:OpkrævningFordringListeOpretServiceRequest"/>
               <wsdl:output message="fase2.1:OpkrævningFordringListeOpretServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
