services/prodtin/eIndkomst8/skat_dk/eindkomst/IndkomstOplysningKlassiskAbonnentHent_O_O.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/>
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="AfstemningOplysningStruktur.xsd"/>
	<xs:include schemaLocation="IndberetningPligtigVirksomhedStruktur.xsd"/>
	<xs:include schemaLocation="IndkomstPersonStruktur.xsd"/>
	<xs:include schemaLocation="IndkomstVirksomhedStruktur.xsd"/>
	<xs:include schemaLocation="IndkomstUdenlandskPersonStruktur.xsd"/>
	<xs:include schemaLocation="VirksomhedPeriodeOplysningStruktur.xsd"/>
	<xs:element name="IndkomstOplysningKlassiskAbonnentHent_O_O" type="fase2:IndkomstOplysningKlassiskAbonnentHent_O_OType"/>
	<xs:complexType name="IndkomstOplysningKlassiskAbonnentHent_O_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="IndkomstOplysningKlassiskAbonnentUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AfstemningOplysning" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="fase2:AfstemningOplysningStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="IndkomstOplysningVirksomhedSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IndkomstOplysningVirksomhed" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:IndberetningPligtigVirksomhedStruktur"/>
												<xs:element name="IndkomstOplysningPersonSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:IndkomstPersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="IndkomstOplysningVirksomhedSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:IndkomstVirksomhedStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="IndkomstOplysningUdenlandskPersonSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:IndkomstUdenlandskPersonStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="VirksomhedPeriodeOplysningSamling">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="fase2:VirksomhedPeriodeOplysningStruktur" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>