services/prod/Motor/ExternXML/wsdl/ESForsikringAfgangListeModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESForsikringAfgangListeModtagService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Når en køretøj bliver afmeldt, Ejer/brugerskiftes, pladerne afmeldes pga. ændring af art/anvendelse eller der foretages et forsikringsselskabsskift skal det gamle selskab have besked om, at det ikke længere betragtes som ansvarlig for forsikringen af køretøjet.</xs:documentation>
		<xs:documentation>r3110</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESForsikringAfgangListeModtagInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESForsikringAfgangListeModtagServiceRequest">
		<wsdl:part name="Request" element="dmr:ESForsikringAfgangListeModtag_I"/>
	</wsdl:message>
	<wsdl:message name="ESForsikringAfgangListeModtagServiceResponse">
		<wsdl:part name="Response" element="dmr:ESForsikringAfgangListeModtag_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESForsikringAfgangListeModtagServicePortType">
		<wsdl:operation name="getESForsikringAfgangListeModtag">
			<wsdl:input message="dmr:ESForsikringAfgangListeModtagServiceRequest"/>
			<wsdl:output message="dmr:ESForsikringAfgangListeModtagServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
