services/prod/Motor/ExternXML/wsdl/ESKoeretoejAEndringForsikringListeModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESKoeretoejAendringForsikringListeModtagService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>En service til Forsikringsselskaberne, som understøtter at DMR kan sende en liste over alle de køretøjer, som har fået foretaget en teknisk ændring.</xs:documentation>
		<xs:documentation>r3110</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESKoeretoejAEndringForsikringListeModtagInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESKoeretoejAendringForsikringListeModtagServiceRequest">
		<wsdl:part name="Request" element="dmr:ESKoeretoejAendringForsikringListeModtag_I"/>
	</wsdl:message>
	<wsdl:message name="ESKoeretoejAendringForsikringListeModtagServiceResponse">
		<wsdl:part name="Response" element="dmr:ESKoeretoejAendringForsikringListeModtag_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESKoeretoejAendringForsikringListeModtagServicePortType">
		<wsdl:operation name="getESKoeretoejAendringForsikringListeModtag">
			<wsdl:input message="dmr:ESKoeretoejAendringForsikringListeModtagServiceRequest"/>
			<wsdl:output message="dmr:ESKoeretoejAendringForsikringListeModtagServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
