services/prod/Motor/ExternXML/wsdl/ESKoeretoejNationalEfterlysningStatusHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESKoeretoejNationalEfterlysningStatusHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At hente status (efterlyst ja/nej) på et kørertøj fra Politiets register over efterlyste køretøjer EK.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESKoeretoejNationalEfterlysningStatusHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESKoeretoejNationalEfterlysningStatusHentServiceRequest">
		<wsdl:part name="Request" element="dmr:ESKoeretoejNationalEfterlysningStatusHent_I"/>
	</wsdl:message>
	<wsdl:message name="ESKoeretoejNationalEfterlysningStatusHentServiceResponse">
		<wsdl:part name="Response" element="dmr:ESKoeretoejNationalEfterlysningStatusHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESKoeretoejNationalEfterlysningStatusHentServicePortType">
		<wsdl:operation name="getESKoeretoejNationalEfterlysningStatusHent">
			<wsdl:input message="dmr:ESKoeretoejNationalEfterlysningStatusHentServiceRequest"/>
			<wsdl:output message="dmr:ESKoeretoejNationalEfterlysningStatusHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
