services/prod/Motor/ExternXML/wsdl/ESPladeLeveringBestillingOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESPladeLeveringBestillingOpretService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>DMR skal have mulighed for at bede pladeproducenten om at levere en given mængde plader (antal, type og serie) til en given pladeoperatør.</xs:documentation>
		<xs:documentation>r3554</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESPladeLeveringBestillingOpretInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESPladeLeveringBestillingOpretServiceRequest">
		<wsdl:part name="Request" element="dmr:ESPladeLeveringBestillingOpret_I"/>
	</wsdl:message>
	<wsdl:message name="ESPladeLeveringBestillingOpretServiceResponse">
		<wsdl:part name="Response" element="dmr:ESPladeLeveringBestillingOpret_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESPladeLeveringBestillingOpretServicePortType">
		<wsdl:operation name="getESPladeLeveringBestillingOpret">
			<wsdl:input message="dmr:ESPladeLeveringBestillingOpretServiceRequest"/>
			<wsdl:output message="dmr:ESPladeLeveringBestillingOpretServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
