services/prod/Motor/ExternXML/wsdl/ESPladeProduktionBestillingOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESPladeProduktionBestillingOpretService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>DMR skal kunne bestille specificerede plader hos plade producenten</xs:documentation>
		<xs:documentation>r3554</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESPladeProduktionBestillingOpretInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESPladeProduktionBestillingOpretServiceRequest">
		<wsdl:part name="Request" element="dmr:ESPladeProduktionBestillingOpret_I"/>
	</wsdl:message>
	<wsdl:message name="ESPladeProduktionBestillingOpretServiceResponse">
		<wsdl:part name="Response" element="dmr:ESPladeProduktionBestillingOpret_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESPladeProduktionBestillingOpretServicePortType">
		<wsdl:operation name="getESPladeProduktionBestillingOpret">
			<wsdl:input message="dmr:ESPladeProduktionBestillingOpretServiceRequest"/>
			<wsdl:output message="dmr:ESPladeProduktionBestillingOpretServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
