services/prod/Motor/ExternXML/wsdl/ESProeveFigurantPladeAEndringListeModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESProeveFigurantPladeAendringListeModtagService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>
		</xs:documentation>
		<xs:documentation>r3110</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESProeveFigurantPladeAEndringListeModtagInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESProeveFigurantPladeAEndringListeModtagServiceRequest">
		<wsdl:part name="Request" element="dmr:ESProeveFigurantPladeAendringListeModtag_I"/>
	</wsdl:message>
	<wsdl:message name="ESProeveFigurantPladeAEndringListeModtagServiceResponse">
		<wsdl:part name="Response" element="dmr:ESProeveFigurantPladeAendringListeModtag_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESProeveFigurantPladeAEndringListeModtagServicePortType">
		<wsdl:operation name="getESProeveFigurantPladeAEndringListeModtag">
			<wsdl:input message="dmr:ESProeveFigurantPladeAEndringListeModtagServiceRequest"/>
			<wsdl:output message="dmr:ESProeveFigurantPladeAEndringListeModtagServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
