services/prod/Motor/ExternXML/wsdl/ESSynIndkaldelseErindringListeModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESSynIndkaldelseErindringListeModtagService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At fremsende en liste til Færdselsstyrelsen over køretøjer, som ikke er mødt til syn inden senest syns dato.</xs:documentation>
		<xs:documentation>r3110</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESSynIndkaldelseErindringListeModtagInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESSynIndkaldelseErindringListeModtagServiceRequest">
		<wsdl:part name="Request" element="dmr:ESSynIndkaldelseErindringListeModtag_I"/>
	</wsdl:message>
	<wsdl:message name="ESSynIndkaldelseErindringListeModtagServiceResponse">
		<wsdl:part name="Response" element="dmr:ESSynIndkaldelseErindringListeModtag_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESSynIndkaldelseErindringListeModtagServicePortType">
		<wsdl:operation name="getESSynIndkaldelseErindringListeModtag">
			<wsdl:input message="dmr:ESSynIndkaldelseErindringListeModtagServiceRequest"/>
			<wsdl:output message="dmr:ESSynIndkaldelseErindringListeModtagServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
