services/prod/Motor/ExternXML/wsdl/ESSynIndkaldelseListeModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESSynIndkaldelseListeModtagService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At fremsende en liste over de køretøjer, som Færdselsstyrelsen har indkaldt til periodisk syn.</xs:documentation>
		<xs:documentation>r3110</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESSynIndkaldelseListeModtagInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESSynIndkaldelseListeModtagServiceRequest">
		<wsdl:part name="Request" element="dmr:ESSynIndkaldelseListeModtag_I"/>
	</wsdl:message>
	<wsdl:message name="ESSynIndkaldelseListeModtagServiceResponse">
		<wsdl:part name="Response" element="dmr:ESSynIndkaldelseListeModtag_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESSynIndkaldelseListeModtagServicePortType">
		<wsdl:operation name="getESSynIndkaldelseListeModtag">
			<wsdl:input message="dmr:ESSynIndkaldelseListeModtagServiceRequest"/>
			<wsdl:output message="dmr:ESSynIndkaldelseListeModtagServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
