services/prod/Motor/ExternXML/wsdl/ESSynErindringListeRegistrer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESSynErindringListeRegistrerService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At modtage en erindringsliste over køretøjer, som er indkaldt til syn, men hvor de endnu ikke er godkendte.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESSynErindringListeRegistrerInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESSynErindringListeRegistrerServiceRequest">
		<wsdl:part name="Request" element="dmr:ESSynErindringListeRegistrer_I"/>
	</wsdl:message>
	<wsdl:message name="ESSynErindringListeRegistrerServiceResponse">
		<wsdl:part name="Response" element="dmr:ESSynErindringListeRegistrer_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESSynErindringListeRegistrerServicePortType">
		<wsdl:operation name="getESSynErindringListeRegistrer">
			<wsdl:input message="dmr:ESSynErindringListeRegistrerServiceRequest"/>
			<wsdl:output message="dmr:ESSynErindringListeRegistrerServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
