services/prod/Motor/ExternXML/wsdl/ESVejbenyttelsesAfgiftOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="ESVejbenyttelsesAfgiftOpretService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At generere en liste af køretøjer som betaler vejbenytteleses afgift ved registrering eller ved afmelding. Der skal dagligt oprettes en XML fil som leveres til en FTP server. Filen sendes derefer til AGES via en VPN tunnel. </xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/ESVejbenyttelsesAfgiftOpretInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ESVejbenyttelsesAfgiftOpretServiceRequest">
		<wsdl:part name="Request" element="dmr:ESVejbenyttelsesAfgiftOpret_I"/>
	</wsdl:message>
	<wsdl:message name="ESVejbenyttelsesAfgiftOpretServiceResponse">
		<wsdl:part name="Response" element="dmr:ESVejbenyttelsesAfgiftOpret_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="ESVejbenyttelsesAfgiftOpretServicePortType">
		<wsdl:operation name="getESVejbenyttelsesAfgiftOpret">
			<wsdl:input message="dmr:ESVejbenyttelsesAfgiftOpretServiceRequest"/>
			<wsdl:output message="dmr:ESVejbenyttelsesAfgiftOpretServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
