services/prod/Motor/ExternXML/wsdl/USCO2EmissionKlasseOplysningHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USCO2EmissionKlasseOplysningHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Servicen skal ud fra registreringsnummeret og et eventuelt angivet tidspunkt finde CO2emissionsioninformationerne på det angivne køretøj. Hvis et tidspunkt angives, så hentes CO2emissionsinformationerne, som de så ud på det tidspunkt, på det køretøj som havde registreringsnummeret på dette tidspunkt. Hvis ikke et tidspunkt angives så hentes det aktuelle information. At give Sund &amp; Bælt mulighed for at hente CO2-emissionsinformation vedrørende lastbiler og påhængsvogne. Dette bruges til at beregne km-baseret vejafgifter.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USCO2EmissionKlasseOplysningHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USCO2EmissionKlasseOplysningHentServiceRequest">
		<wsdl:part name="Request" element="dmr:USCO2EmissionKlasseOplysningHent_I"/>
	</wsdl:message>
	<wsdl:message name="USCO2EmissionKlasseOplysningHentServiceResponse">
		<wsdl:part name="Response" element="dmr:USCO2EmissionKlasseOplysningHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USCO2EmissionKlasseOplysningHentServicePortType">
		<wsdl:operation name="getUSCO2EmissionKlasseOplysningHent">
			<wsdl:input message="dmr:USCO2EmissionKlasseOplysningHentServiceRequest"/>
			<wsdl:output message="dmr:USCO2EmissionKlasseOplysningHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
