services/prod/Motor/ExternXML/wsdl/USDrivkraftTypeListeHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USDrivkraftTypeListeHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At hente en komplet liste af drivkraft typer</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USDrivkraftTypeListeHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USDrivkraftTypeListeHentServiceRequest">
		<wsdl:part name="Request" element="dmr:USDrivkraftTypeListeHent_I"/>
	</wsdl:message>
	<wsdl:message name="USDrivkraftTypeListeHentServiceResponse">
		<wsdl:part name="Response" element="dmr:USDrivkraftTypeListeHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USDrivkraftTypeListeHentServicePortType">
		<wsdl:operation name="getUSDrivkraftTypeListeHent">
			<wsdl:input message="dmr:USDrivkraftTypeListeHentServiceRequest"/>
			<wsdl:output message="dmr:USDrivkraftTypeListeHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
