services/prod/Motor/ExternXML/wsdl/USEfterlysningOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USEfterlysningOpretService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At give politiet mulighed for at meddele SKAT, at en efterlysning skal sættes for et eller flere køretøjer og registreringsnumre (nummerplader)</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USEfterlysningOpretInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USEfterlysningOpretServiceRequest">
		<wsdl:part name="Request" element="dmr:USEfterlysningOpret_I"/>
	</wsdl:message>
	<wsdl:message name="USEfterlysningOpretServiceResponse">
		<wsdl:part name="Response" element="dmr:USEfterlysningOpret_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USEfterlysningOpretServicePortType">
		<wsdl:operation name="getUSEfterlysningOpret">
			<wsdl:input message="dmr:USEfterlysningOpretServiceRequest"/>
			<wsdl:output message="dmr:USEfterlysningOpretServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
