services/prod/Motor/ExternXML/wsdl/USEjerBrugerForholdAEndringListeHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USEjerBrugerForholdAendringListeHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At kunne hente alle køretøjer for hvilke der, i en given periode, er foretaget ejerbruger ændringer.</xs:documentation>
		<xs:documentation>r3110</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USEjerBrugerForholdAEndringListeHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USEjerBrugerForholdAendringListeHentServiceRequest">
		<wsdl:part name="Request" element="dmr:USEjerBrugerForholdAendringListeHent_I"/>
	</wsdl:message>
	<wsdl:message name="USEjerBrugerForholdAendringListeHentServiceResponse">
		<wsdl:part name="Response" element="dmr:USEjerBrugerForholdAendringListeHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USEjerBrugerForholdAendringListeHentServicePortType">
		<wsdl:operation name="getUSEjerBrugerForholdAendringListeHent">
			<wsdl:input message="dmr:USEjerBrugerForholdAendringListeHentServiceRequest"/>
			<wsdl:output message="dmr:USEjerBrugerForholdAendringListeHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
