services/prod/Motor/ExternXML/wsdl/USEkkoTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USEkkoTestService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At lave sikkerhedstest.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USEkkoTestInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USEkkoTestServiceRequest">
		<wsdl:part name="Request" element="dmr:USEkkoTest_I"/>
	</wsdl:message>
	<wsdl:message name="USEkkoTestServiceResponse">
		<wsdl:part name="Response" element="dmr:USEkkoTest_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USEkkoTestServicePortType">
		<wsdl:operation name="getUSEkkoTest">
			<wsdl:input message="dmr:USEkkoTestServiceRequest"/>
			<wsdl:output message="dmr:USEkkoTestServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
