services/prod/Motor/ExternXML/wsdl/USForsikringOphoerListeModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USForsikringOphoerListeModtagService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Bruges når der skal indsættes et forsikringsophør på et registreret køretøj.</xs:documentation>
		<xs:documentation>r3110</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USForsikringOphoerListeModtagInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USForsikringOphoerListeModtagServiceRequest">
		<wsdl:part name="Request" element="dmr:USForsikringOphoerListeModtag_I"/>
	</wsdl:message>
	<wsdl:message name="USForsikringOphoerListeModtagServiceResponse">
		<wsdl:part name="Response" element="dmr:USForsikringOphoerListeModtag_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USForsikringOphoerListeModtagServicePortType">
		<wsdl:operation name="getUSForsikringOphoerListeModtag">
			<wsdl:input message="dmr:USForsikringOphoerListeModtagServiceRequest"/>
			<wsdl:output message="dmr:USForsikringOphoerListeModtagServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
