services/prod/Motor/ExternXML/wsdl/USForsikringSelskabListeHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USForsikringSelskabListeHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Bruges til at hente en liste over forsikringsselskaber, der må tegne lovpligtig ansvarsforsikring i Danmark.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USForsikringSelskabListeHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USForsikringSelskabListeHentServiceRequest">
		<wsdl:part name="Request" element="dmr:USForsikringSelskabListeHent_I"/>
	</wsdl:message>
	<wsdl:message name="USForsikringSelskabListeHentServiceResponse">
		<wsdl:part name="Response" element="dmr:USForsikringSelskabListeHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USForsikringSelskabListeHentServicePortType">
		<wsdl:operation name="getUSForsikringSelskabListeHent">
			<wsdl:input message="dmr:USForsikringSelskabListeHentServiceRequest"/>
			<wsdl:output message="dmr:USForsikringSelskabListeHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
