services/prod/Motor/ExternXML/wsdl/USForsikringSelskabSkiftListeModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USForsikringSelskabSkiftListeModtagService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Et forsikringsselskab som har et køretøj som skal tilgå deres register skal have mulighed for at oplyse dette til DMR. Både tidligere forsikringsselskab og hvilket forsikringsselskab der skiftes til.</xs:documentation>
		<xs:documentation>r3110</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USForsikringSelskabSkiftListeModtagInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USForsikringSelskabSkiftListeModtagServiceRequest">
		<wsdl:part name="Request" element="dmr:USForsikringSelskabSkiftListeModtag_I"/>
	</wsdl:message>
	<wsdl:message name="USForsikringSelskabSkiftListeModtagServiceResponse">
		<wsdl:part name="Response" element="dmr:USForsikringSelskabSkiftListeModtag_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USForsikringSelskabSkiftListeModtagServicePortType">
		<wsdl:operation name="getUSForsikringSelskabSkiftListeModtag">
			<wsdl:input message="dmr:USForsikringSelskabSkiftListeModtagServiceRequest"/>
			<wsdl:output message="dmr:USForsikringSelskabSkiftListeModtagServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
