services/prod/Motor/ExternXML/wsdl/USJuridiskEnhedKoeretoejListeHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USJuridiskEnhedKoeretoejListeHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At kunne indhente en detaljeret liste over de køretøjer, hvor pågældende borger/virksomhed er angivet som ejer eller bruger.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USJuridiskEnhedKoeretoejListeHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USJuridiskEnhedKoeretoejListeHentServiceRequest">
		<wsdl:part name="Request" element="dmr:USJuridiskEnhedKoeretoejListeHent_I"/>
	</wsdl:message>
	<wsdl:message name="USJuridiskEnhedKoeretoejListeHentServiceResponse">
		<wsdl:part name="Response" element="dmr:USJuridiskEnhedKoeretoejListeHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USJuridiskEnhedKoeretoejListeHentServicePortType">
		<wsdl:operation name="getUSJuridiskEnhedKoeretoejListeHent">
			<wsdl:input message="dmr:USJuridiskEnhedKoeretoejListeHentServiceRequest"/>
			<wsdl:output message="dmr:USJuridiskEnhedKoeretoejListeHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
