services/prod/Motor/ExternXML/wsdl/USKoeretoejTekniskDataHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USKoeretoejTekniskDataHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At hente teknisk data for et køretøj.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USKoeretoejTekniskDataHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USKoeretoejTekniskDataHentServiceRequest">
		<wsdl:part name="Request" element="dmr:USKoeretoejTekniskDataHent_I"/>
	</wsdl:message>
	<wsdl:message name="USKoeretoejTekniskDataHentServiceResponse">
		<wsdl:part name="Response" element="dmr:USKoeretoejTekniskDataHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USKoeretoejTekniskDataHentServicePortType">
		<wsdl:operation name="getUSKoeretoejTekniskDataHent">
			<wsdl:input message="dmr:USKoeretoejTekniskDataHentServiceRequest"/>
			<wsdl:output message="dmr:USKoeretoejTekniskDataHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
