services/prod/Motor/ExternXML/wsdl/USKoeretoejDetaljerVis.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USKoeretoejDetaljerVisService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>SAV-løsningen, der udvikles af Auto IT foretager handels- og nyprisvurderinger på køretøjer. Til dette har SAV-løsningen brug for oplysninger der er registreret i DMR. Denne service er således oprettet med det formål, at opnå bedre sikkerhed for tilgængelighed til oplysningerne, større hastighed og effektivitet i SAV og formindske resursetrækket på DMR</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USKoeretoejDetaljerVisInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USKoeretoejDetaljerVisServiceRequest">
		<wsdl:part name="Request" element="dmr:USKoeretoejDetaljerVis_I"/>
	</wsdl:message>
	<wsdl:message name="USKoeretoejDetaljerVisServiceResponse">
		<wsdl:part name="Response" element="dmr:USKoeretoejDetaljerVis_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USKoeretoejDetaljerVisServicePortType">
		<wsdl:operation name="getUSKoeretoejDetaljerVis">
			<wsdl:input message="dmr:USKoeretoejDetaljerVisServiceRequest"/>
			<wsdl:output message="dmr:USKoeretoejDetaljerVisServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
