services/prod/Motor/ExternXML/wsdl/USKoeretoejAnvendelseListeHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USKoeretoejAnvendelseListeHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At hente en liste af anvendelser - eventuelt begrænset ud fra en på forhånd fastsat art.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USKoeretoejAnvendelseListeHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USKoeretoejAnvendelseListeHentServiceRequest">
		<wsdl:part name="Request" element="dmr:USKoeretoejAnvendelseListeHent_I"/>
	</wsdl:message>
	<wsdl:message name="USKoeretoejAnvendelseListeHentServiceResponse">
		<wsdl:part name="Response" element="dmr:USKoeretoejAnvendelseListeHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USKoeretoejAnvendelseListeHentServicePortType">
		<wsdl:operation name="getUSKoeretoejAnvendelseListeHent">
			<wsdl:input message="dmr:USKoeretoejAnvendelseListeHentServiceRequest"/>
			<wsdl:output message="dmr:USKoeretoejAnvendelseListeHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
