services/prod/Motor/ExternXML/wsdl/USKoeretoejBetegnelseHierarkiListeHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USKoeretoejBetegnelseHierarkiListeHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At kunne fremsøge relevante dele af hierarkiet ud fra enten mærke, model og/eller variant tekster.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USKoeretoejBetegnelseHierarkiListeHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USKoeretoejBetegnelseHierarkiListeHentServiceRequest">
		<wsdl:part name="Request" element="dmr:USKoeretoejBetegnelseHierarkiListeHent_I"/>
	</wsdl:message>
	<wsdl:message name="USKoeretoejBetegnelseHierarkiListeHentServiceResponse">
		<wsdl:part name="Response" element="dmr:USKoeretoejBetegnelseHierarkiListeHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USKoeretoejBetegnelseHierarkiListeHentServicePortType">
		<wsdl:operation name="getUSKoeretoejBetegnelseHierarkiListeHent">
			<wsdl:input message="dmr:USKoeretoejBetegnelseHierarkiListeHentServiceRequest"/>
			<wsdl:output message="dmr:USKoeretoejBetegnelseHierarkiListeHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
