services/prod/Motor/ExternXML/wsdl/USKoeretoejSkadeBlokeringOphaevelseListeModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USKoeretoejSkadeBlokeringOphaevelseListeModtagService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At sikre, at en tidligere anmeldt skadeblokering på et køretøj kan ophæves.</xs:documentation>
		<xs:documentation>r3554</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USKoeretoejSkadeBlokeringOphaevelseListeModtagInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USKoeretoejSkadeBlokeringOphaevelseListeModtagServiceRequest">
		<wsdl:part name="Request" element="dmr:USKoeretoejSkadeBlokeringOphaevelseListeModtag_I"/>
	</wsdl:message>
	<wsdl:message name="USKoeretoejSkadeBlokeringOphaevelseListeModtagServiceResponse">
		<wsdl:part name="Response" element="dmr:USKoeretoejSkadeBlokeringOphaevelseListeModtag_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USKoeretoejSkadeBlokeringOphaevelseListeModtagServicePortType">
		<wsdl:operation name="getUSKoeretoejSkadeBlokeringOphaevelseListeModtag">
			<wsdl:input message="dmr:USKoeretoejSkadeBlokeringOphaevelseListeModtagServiceRequest"/>
			<wsdl:output message="dmr:USKoeretoejSkadeBlokeringOphaevelseListeModtagServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
