services/prod/Motor/ExternXML/wsdl/USKoeretoejCoCOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USKoeretoejCoCOpretService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At oprette et køretøj ud fra enten et system kald eller en brugergrænseflade med tilhørende XML fil opdatering.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USKoeretoejCoCOpretInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USKoeretoejCoCOpretServiceRequest">
		<wsdl:part name="Request" element="dmr:USKoeretoejCoCOpret_I"/>
	</wsdl:message>
	<wsdl:message name="USKoeretoejCoCOpretServiceResponse">
		<wsdl:part name="Response" element="dmr:USKoeretoejCoCOpret_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USKoeretoejCoCOpretServicePortType">
		<wsdl:operation name="getUSKoeretoejCoCOpret">
			<wsdl:input message="dmr:USKoeretoejCoCOpretServiceRequest"/>
			<wsdl:output message="dmr:USKoeretoejCoCOpretServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
