services/prod/Motor/ExternXML/wsdl/USPladeProduktionFoelgeseddelOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USPladeProduktionFoelgeseddelOpretService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Pladeproducenten skal gøre DMR opmærksom på, når den fysiske plade er produceret</xs:documentation>
		<xs:documentation>r3554</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USPladeProduktionFoelgeseddelOpretInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USPladeProduktionFoelgeseddelOpretServiceRequest">
		<wsdl:part name="Request" element="dmr:USPladeProduktionFoelgeseddelOpret_I"/>
	</wsdl:message>
	<wsdl:message name="USPladeProduktionFoelgeseddelOpretServiceResponse">
		<wsdl:part name="Response" element="dmr:USPladeProduktionFoelgeseddelOpret_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USPladeProduktionFoelgeseddelOpretServicePortType">
		<wsdl:operation name="getUSPladeProduktionFoelgeseddelOpret">
			<wsdl:input message="dmr:USPladeProduktionFoelgeseddelOpretServiceRequest"/>
			<wsdl:output message="dmr:USPladeProduktionFoelgeseddelOpretServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
