services/prod/Motor/ExternXML/wsdl/USPladeInddragelseAnnulleringAdvisListeHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USPladeInddragelseAnnulleringAdvisListeHentService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At oplyse Politiet omkring en eller flere annulleringer af plade inddragelses opgaver med til-hørende informationer omkring registreringsnummer, bruger adresse med videre. Bemærk, at der er tale om batch baseret synkronisering af Politiets register. </xs:documentation>
		<xs:documentation>r3110</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USPladeInddragelseAnnulleringAdvisListeHentInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USPladeInddragelseAnnulleringAdvisListeHentServiceRequest">
		<wsdl:part name="Request" element="dmr:USPladeInddragelseAnnulleringAdvisListeHent_I"/>
	</wsdl:message>
	<wsdl:message name="USPladeInddragelseAnnulleringAdvisListeHentServiceResponse">
		<wsdl:part name="Response" element="dmr:USPladeInddragelseAnnulleringAdvisListeHent_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USPladeInddragelseAnnulleringAdvisListeHentServicePortType">
		<wsdl:operation name="getUSPladeInddragelseAnnulleringAdvisListeHent">
			<wsdl:input message="dmr:USPladeInddragelseAnnulleringAdvisListeHentServiceRequest"/>
			<wsdl:output message="dmr:USPladeInddragelseAnnulleringAdvisListeHentServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
