services/prod/Motor/ExternXML/wsdl/USPladeLeveringFoelgeseddelOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USPladeLeveringFoelgeseddelOpretService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Pladeproducenten er forpligtiget til at oplyse omkring en given leveringsordres afsendelse til en given pladeoperatør.</xs:documentation>
		<xs:documentation>r3554</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USPladeLeveringFoelgeseddelOpretInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USPladeLeveringFoelgeseddelOpretServiceRequest">
		<wsdl:part name="Request" element="dmr:USPladeLeveringFoelgeseddelOpret_I"/>
	</wsdl:message>
	<wsdl:message name="USPladeLeveringFoelgeseddelOpretServiceResponse">
		<wsdl:part name="Response" element="dmr:USPladeLeveringFoelgeseddelOpret_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USPladeLeveringFoelgeseddelOpretServicePortType">
		<wsdl:operation name="getUSPladeLeveringFoelgeseddelOpret">
			<wsdl:input message="dmr:USPladeLeveringFoelgeseddelOpretServiceRequest"/>
			<wsdl:output message="dmr:USPladeLeveringFoelgeseddelOpretServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
