services/prod/Motor/ExternXML/wsdl/USRegistreringNummerListeOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USRegistreringNummerListeOpretService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Pladeproducenten skal have mulighed for at udtrække registreringsnumre i forhold til en given type og serie for at kunne producere plader til eget lager.</xs:documentation>
		<xs:documentation>r3554</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USRegistreringNummerListeOpretInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USRegistreringNummerListeOpretServiceRequest">
		<wsdl:part name="Request" element="dmr:USRegistreringNummerListeOpret_I"/>
	</wsdl:message>
	<wsdl:message name="USRegistreringNummerListeOpretServiceResponse">
		<wsdl:part name="Response" element="dmr:USRegistreringNummerListeOpret_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USRegistreringNummerListeOpretServicePortType">
		<wsdl:operation name="getUSRegistreringNummerListeOpret">
			<wsdl:input message="dmr:USRegistreringNummerListeOpretServiceRequest"/>
			<wsdl:output message="dmr:USRegistreringNummerListeOpretServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
