services/prod/Motor/ExternXML/wsdl/USRegistreringsSynAEndr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USRegistreringsSynAendrService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>En udstillet service som muliggører at eSyn kan ændre køretøjers synsresultater.At opdatere resultatet på et registreringssyn, uanset den tidligere status. </xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USRegistreringsSynAEndrInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USRegistreringsSynAendrServiceRequest">
		<wsdl:part name="Request" element="dmr:USRegistreringsSynAendr_I"/>
	</wsdl:message>
	<wsdl:message name="USRegistreringsSynAendrServiceResponse">
		<wsdl:part name="Response" element="dmr:USRegistreringsSynAendr_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USRegistreringsSynAendrServicePortType">
		<wsdl:operation name="getUSRegistreringsSynAendr">
			<wsdl:input message="dmr:USRegistreringsSynAendrServiceRequest"/>
			<wsdl:output message="dmr:USRegistreringsSynAendrServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
