services/prod/Motor/ExternXML/wsdl/USSynIndkaldelseAEndr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USSynIndkaldelseAendrService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>At muliggøre ændringer i synsindkaldelser</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USSynIndkaldelseAEndrInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USSynIndkaldelseAendrServiceRequest">
		<wsdl:part name="Request" element="dmr:USSynIndkaldelseAendr_I"/>
	</wsdl:message>
	<wsdl:message name="USSynIndkaldelseAendrServiceResponse">
		<wsdl:part name="Response" element="dmr:USSynIndkaldelseAendr_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USSynIndkaldelseAendrServicePortType">
		<wsdl:operation name="getUSSynIndkaldelseAendr">
			<wsdl:input message="dmr:USSynIndkaldelseAendrServiceRequest"/>
			<wsdl:output message="dmr:USSynIndkaldelseAendrServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
