services/prod/Motor/ExternXML/wsdl/USUkompletKoeretoejOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://skat.dk/dmr/2007/05/31/" name="USUkompletKoeretoejOpretService">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>Gør det muligt at angive prisoplysninger for køretøjer der skal færdigoprettes ved registreringssyn.</xs:documentation>
		<xs:documentation>1.0</xs:documentation>
		<xs:documentation>r27806</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/">
			<xsd:include schemaLocation="../service/USUkompletKoeretoejOpretInterface.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="USUkompletKoeretoejOpretServiceRequest">
		<wsdl:part name="Request" element="dmr:USUkompletKoeretoejOpret_I"/>
	</wsdl:message>
	<wsdl:message name="USUkompletKoeretoejOpretServiceResponse">
		<wsdl:part name="Response" element="dmr:USUkompletKoeretoejOpret_O"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransRequest">
		<wsdl:part name="Request" element="dmr:KompenserTrans"/>
	</wsdl:message>
	<wsdl:message name="KompenserTransResponse">
		<wsdl:part name="Response" element="dmr:KompenserTransSvar"/>
	</wsdl:message>
	<wsdl:portType name="USUkompletKoeretoejOpretServicePortType">
		<wsdl:operation name="getUSUkompletKoeretoejOpret">
			<wsdl:input message="dmr:USUkompletKoeretoejOpretServiceRequest"/>
			<wsdl:output message="dmr:USUkompletKoeretoejOpretServiceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKompenserTrans">
			<wsdl:input message="dmr:KompenserTransRequest"/>
			<wsdl:output message="dmr:KompenserTransResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
