projects/Selvangivelsen/20191213/oioservice/urn/oio/skat/selvangivelse/ws/1_0_2/ServiceFradragAngivelseStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sla="urn:oio:skat:selvangivelse:ws:1.0.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:selvangivelse:ws:1.0.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:selvangivelse="urn:oio:skat:selvangivelse:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/VirksomhedCVRNummerIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ServicefradragUdenlandskVirksomhedNummerEllerNavnText.xsd"/><xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ServicefradragFritidsboligUdlejetIndikator.xsd"/><xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ServicefradragArbejdstypeKode.xsd"/><xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ServicefradragBetalingDato.xsd"/><xs:import namespace="urn:oio:skat:selvangivelse:1.0.0" schemaLocation="../../1_0_0/ServicefradragAngivelseBeloeb.xsd"/><xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../../../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd"/><xs:element name="ServiceFradragAngivelseStruktur" type="sla:ServiceFradragAngivelseStrukturType"/>
	<xs:complexType name="ServiceFradragAngivelseStrukturType">
		<xs:sequence>
			<xs:element name="BoligTypeValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Helaarsbolig">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SaelgerIdentifikationValg">
											<xs:complexType>
												<xs:choice>
													<xs:element ref="core:PersonCivilRegistrationIdentifier"/>
													<xs:element ref="selvangivelse:VirksomhedCVRNummerIdentifikator"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="FritidsboligDK">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SaelgerIdentifikationValg">
											<xs:complexType>
												<xs:choice>
													<xs:element ref="core:PersonCivilRegistrationIdentifier"/>
													<xs:element ref="selvangivelse:VirksomhedCVRNummerIdentifikator"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element ref="selvangivelse:ServicefradragFritidsboligUdlejetIndikator"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="FritidsboligUdland">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="selvangivelse:ServicefradragUdenlandskVirksomhedNummerEllerNavnText"/>
										<xs:element ref="selvangivelse:ServicefradragFritidsboligUdlejetIndikator"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="selvangivelse:ServicefradragAngivelseBeloeb"/>
			<xs:element ref="selvangivelse:ServicefradragBetalingDato"/>
			<xs:element ref="selvangivelse:ServicefradragArbejdstypeKode"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
