services/review/EFIOIO_20130208/urn/oio/skat/efi/ws/1_0_1/AlternativKontaktErstatningNummerStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" xmlns:virksomhed="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" schemaLocation="../../../../../../skat_dk/motor/class/virksomhed/xml/schemas/20080401/VirksomhedSENummerIdentifikator.xsd"/><xs:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" schemaLocation="../../../../../../cvr_dk/xml/schemas/2005/03/22/CVRnumberIdentifier.xsd"/><xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../../../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/AlternativKontaktIdentifikator.xsd"/><xs:element name="AlternativKontaktErstatningNummerStruktur" type="efiws:AlternativKontaktErstatningNummerStrukturType"/>
	<xs:complexType name="AlternativKontaktErstatningNummerStrukturType">
		<xs:sequence>
			<xs:element name="ErstatningNummerValg">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="virksomhed:VirksomhedSENummerIdentifikator"/>
						<xs:element ref="cvr:CVRnumberIdentifier"/>
						<xs:element ref="core:PersonCivilRegistrationIdentifier"/>
						<xs:element ref="efi:AlternativKontaktIdentifikator"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
