services/demo/eIndkomst3/urn/oio/skat/eindkomst/ws/1_0_0/IndkomstOplysningPersonTidHent_I.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:hsws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../../../../../../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd"/><xs:include schemaLocation="AbonnentAdgangStruktur.xsd"/>
	<xs:include schemaLocation="AbonnentStruktur.xsd"/>
	<xs:include schemaLocation="PersonIndkomstUdstilletTidStruktur.xsd"/>
	<xs:element name="IndkomstOplysningPersonTidHent_I" type="hsws:IndkomstOplysningPersonTidHent_IType">
	</xs:element>
	<xs:complexType name="IndkomstOplysningPersonTidHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="IndkomstOplysningPersonTidInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="hsws:AbonnentAdgangStruktur"/>
						<xs:element ref="hsws:AbonnentStruktur"/>
						<xs:element ref="hsws:PersonIndkomstUdstilletTidStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
