services/prod/Arkiv/eIndkomst420170310/wsdl/urn/oio/skat/eindkomst/ws/1_0_0/AngivelseBlanketIndholdStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:hsws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="AngivelseNiveau1.xsd"/>
	<xs:element name="AngivelseBlanketIndholdStruktur" type="hsws:AngivelseBlanketIndholdStrukturType"/>
	<xs:complexType name="AngivelseBlanketIndholdStrukturType">
		<xs:sequence>
			<xs:element name="AngivelseOplysningSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="hsws:AngivelseNiveau1" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
