oioxml/skat_dk/urn/hentselv/RegnskabOplysningStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" xmlns:hentselv="urn:oio:skat:hentselv:1.0.0" xmlns:hsws="urn:oio:skat:hentselv:ws:1.0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:hentselv:ws:1.0.1" version="1.0" xml:lang="DA">
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/RegnskabOplysningNettoomsaetningBeloeb.xsd"/>
   <xs:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" schemaLocation="../../../../../../cvr_dk/xml/schemas/2005/03/22/CVRnumberIdentifier.xsd"/>
   <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../../../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/RegnskabOplysningOrdinaertResultatBeloeb.xsd"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:element name="RegnskabOplysningStruktur" type="hsws:RegnskabOplysningStrukturType"/>
         <xs:complexType name="RegnskabOplysningStrukturType">
               <xs:sequence>
               <xs:element name="RegnskabOplysningListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="RegnskabOplysning">
                           <xs:complexType>
                              <xs:sequence>
                                    <xs:element minOccurs="0" name="RegnskabsoplysningValg">
                                       <xs:complexType>
                                          <xs:choice>
                                             <xs:element ref="cvr:CVRnumberIdentifier"/>
				                                         <xs:element ref="core:PersonCivilRegistrationIdentifier"/>
                                          </xs:choice>
                                       </xs:complexType>
                                    </xs:element>
                                 <xs:element minOccurs="0" ref="hentselv:RegnskabOplysningNettoomsaetningBeloeb"/>
                                 <xs:element minOccurs="0" ref="hentselv:RegnskabOplysningOrdinaertResultatBeloeb"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               </xs:sequence>
         </xs:complexType>
      </xs:schema>
