services/demo/eIndkomst/wsdl/IndkomstOplysningPersonAbonnentBestil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IndkomstOplysningPersonAbonnentBestilService" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>ABONNEMENT 
En abonnents bestilling til senere (asynkron) levering af indkomstoplysninger for en eller flere fysiske eller juridiske personer. (Fysiske personer er personer identificeret med dansk CPR-nummer. Juridiske personer er virksomheder identificeret med CVR- eller SE-nummer) 
Der kan for hver fysisk eller juridisk person angives CVR/SE-nummer på indberetningspligtige, som udstillingen ønskes begrænset til. Bestilling anvendes, når der er behov for indkomstoplysninger til opfølgningsformål. 

Muligheden anvendes typisk, når en abonnent ønsker, 
at hente eventuelle ændringer til tidligere hentede oplysninger 
at hente eventuelle nye oplysninger til brug for opfølgning på en igangværende sag, og 
at hente eventuelle ændringer til tidligere hentede oplysninger samt eventuelle nye oplysninger på en igangværende sag. 

Servicen stiller indkomstoplysninger til rådighed for myndigheder og andre, som iht. eIndkomstlovens § 7 stk. 1, jf. § 15 stk. 1 i eIndkomstbekendtgørelsen, kan anvende oplysninger fra indkomstregistret. 
Anvendelsen af servicen er betinget af, at de pågældende har indgået en abonnementsaftale med told- og skatteforvaltningen herom, jf. § 7 stk. 4 i lov om et indkomstregister. 

Servicen udstilles ikke til enhver og må således alene anvendes af kendte brugere, dvs. af de myndigheder m.fl., som abonnerer på indkomstoplysninger. 

Servicen kan give adgang til alle indkomstoplysninger eller en begrænset mængde af indkomstoplysninger afhængig af abonnent. De oplysninger, som en abonnent ikke har adgang til, filtreres fra (fjernes før udstilling til abonnenten) på grundlag af oplysning om abonnent, abonnement og anvendelsesformål. 
Begrænsning i kredsen af indberetningspligtige, som der stilles oplysninger til rådighed for, sker hos den enkelte abonnent og fastlægges individuelt med abonnenten i den aftale, der skal indgås iht. lov og bekendtgørelse. Eksempelvis begrænser servicen ikke adgangen for en kommune til alene at omfatte de indberetningspligtige, som bor i kommunen. Denne begrænsning skal ske hos kommunen. 
Indkomstoplysninger stilles til rådighed ubearbejdet. Eventuel tolkning, sammenstilling, summering o. lign. af indkomstoplysninger sker hos den, som har adgang til indkomstoplysninger på grundlag af den lovgivning, som gælder for området. Indkomstoplysninger, som er tilbageført stilles også til rådighed. 

UDFYLDELSE AF SØGEKRITERIER 
Når oplysninger bestilles skal der anføres mindst et og højest to sæt af søgeperioder. 
SøgeDatoTidFra og SøgeDatoTidTil kan udfyldes. SøgeDatoTidFra og SøgeDatoTidTil angiver det tidsrum, hvor indkomstoplysninger er modtaget hos SKAT. Udfyldes de, kan de alene udfyldes i kombination med SøgeDatoFra og eventuelt SøgeDatoTil. 
SøgeDatoFra eller SøgeÅrMånedFra skal altid udfyldes. SøgeDatoTil eller SøgeÅrMånedTil kan udfyldes 

SØGNING MED BASISMÅNED 
En basismåned er den måned, som indkomstoplysningerne, rent skattemæssigt hører til i. 
Hvis SøgeÅrMånedFra er udfyldt, hentes der oplysninger fra og med det angivne år og måned. Hvis både SøgeÅrMånedFra og SøgeÅrMånedTil er udfyldt hentes, der oplysninger for den angivne periode. Angives basismånedsperioden til eksempelvis 201001 ? 201004, så hentes alle indkomstoplysninger, der har basismåned i denne periode. 

SØGNING MED LØNPERIODE 
Lønperioden er den periode, som indkomstmodtageren kender fra sin lønseddel, eksempelvis løn for perioden 20. december 2009 til 19. januar 2010. 
Hvis SøgeDatoFra er udfyldt hentes der indkomstoplysninger, hvor lønperioden ligger helt eller delvist efter den angivne SøgeDatoFra. 
Hvis både SøgeDatoFra og SøgeDatoTil er udfyldt, hentes der oplysninger, hvor lønperiode er helt eller delvis omfattet af den angivne søgeperiode. 

SØGNING MED DATO TID OG LØNPERIODE 
SøgeDatoTidFra og SøgeDatoTidTil indebærer, at der hentes indkomstoplysninger, som er indberettet i den angivne tidsperiode. Denne søgeperiode skal kombineres med SøgeDatoFra og eventuelt SøgeDatoTil 
SøgeDatoFra udtrykker således det tidligste tidspunkt, som der må hentes oplysninger for, som er indberettet i den periode, som er angivet med SøgeDatoTidFra og SøgeDatoTidTil. 

LOGNING 
En myndigheds (abonnents) anmodning om adgang til oplysninger kan udstilles til den, som oplysningerne vedrører, eksempelvis via Skattemappen for personer. Om der sker udstilling fastlægges i abonnementsaftalen for hver abonnent for hvert adgangsformål. Eventuel oplysning fra en abonnent om medarbejderidentifikation udstilles dog ikke. 

Der stilles ikke oplysninger til rådighed, hvis der er krav om logning, og adgangen til oplysningerne ikke kan logges. 

ANDRE FORHOLD 
Servicen kan ikke anvendes i digitale selvbetjeningsløsninger til virksomheder. 

Servicen anvendes normalt ikke til præsentation af oplysninger via en brugergrænseflade for en sagsbehandler, da bestilte oplysninger først leveres efter et stykke tid, medmindre abonnenten understøtter asynkron levering af bestilte oplysninger til en brugergrænseflade.
</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<soap:schema targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:p="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<soap:include schemaLocation="../service/IndkomstOplysningPersonAbonnentBestilInterface.xsd"/>
		</soap:schema>
	</wsdl:types>
	<wsdl:message name="IndkomstOplysningPersonAbonnentBestil_IServiceRequest">
		<wsdl:part element="fase2:IndkomstOplysningPersonAbonnentBestil_I_I" name="Request"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAbonnentBestil_IServiceResponse">
		<wsdl:part element="fase2:IndkomstOplysningPersonAbonnentBestil_I_O" name="Response"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAbonnentBestil_OServiceRequest">
		<wsdl:part element="fase2:IndkomstOplysningPersonAbonnentBestil_O_I" name="Request"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAbonnentBestil_OServiceResponse">
		<wsdl:part element="fase2:IndkomstOplysningPersonAbonnentBestil_O_O" name="Response"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAbonnentBestil_OKServiceRequest">
		<wsdl:part element="fase2:IndkomstOplysningPersonAbonnentBestil_OK_I" name="Request"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAbonnentBestil_OKServiceResponse">
		<wsdl:part element="fase2:IndkomstOplysningPersonAbonnentBestil_OK_O" name="Response"/>
	</wsdl:message>
	<wsdl:portType name="IndkomstOplysningPersonAbonnentBestil_IServicePortType">
		<wsdl:operation name="getIndkomstOplysningPersonAbonnentBestil_I">
			<wsdl:input message="fase2:IndkomstOplysningPersonAbonnentBestil_IServiceRequest"/>
			<wsdl:output message="fase2:IndkomstOplysningPersonAbonnentBestil_IServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="IndkomstOplysningPersonAbonnentBestil_OServicePortType">
		<wsdl:operation name="getIndkomstOplysningPersonAbonnentBestil_O">
			<wsdl:input message="fase2:IndkomstOplysningPersonAbonnentBestil_OServiceRequest"/>
			<wsdl:output message="fase2:IndkomstOplysningPersonAbonnentBestil_OServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="IndkomstOplysningPersonAbonnentBestil_OKServicePortType">
		<wsdl:operation name="getIndkomstOplysningPersonAbonnentBestil_OK">
			<wsdl:input message="fase2:IndkomstOplysningPersonAbonnentBestil_OKServiceRequest"/>
			<wsdl:output message="fase2:IndkomstOplysningPersonAbonnentBestil_OKServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Binding1" type="fase2:IndkomstOplysningPersonAbonnentBestil_IServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getIndkomstOplysningPersonAbonnentBestil_I">
			<soap:operation soapAction="urn:#IndkomstOplysningPersonAbonnentBestil_I"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Binding2" type="fase2:IndkomstOplysningPersonAbonnentBestil_OServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getIndkomstOplysningPersonAbonnentBestil_O">
			<soap:operation soapAction="urn:#IndkomstOplysningPersonAbonnentBestil_O"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Binding3" type="fase2:IndkomstOplysningPersonAbonnentBestil_OKServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getIndkomstOplysningPersonAbonnentBestil_OK">
			<soap:operation soapAction="urn:#getIndkomstOplysningPersonAbonnentBestil_OK"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IndkomstOplysningPersonAbonnentBestil">
		<wsdl:port binding="fase2:Binding1" name="Binding1Port">
			<soap:address location="https://services.extranet.demo.skat.dk/vericert/services/IndkomstOplysningPersonAbonnentBestilServicePort"/>
		</wsdl:port>
		<wsdl:port binding="fase2:Binding2" name="Binding2Port">
			<soap:address location="https://services.extranet.demo.skat.dk/vericert/services/BestillingHent "/>
		</wsdl:port>
		<wsdl:port binding="fase2:Binding3" name="Binding3Port">
			<soap:address location="https://services.extranet.demo.skat.dk/vericert/services/BestillingModtaget "/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
