services/prodtin/eIndkomst13/class/AbonnentVirksomhedStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:eindkomstws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:virksomhed="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" schemaLocation="../class/SKAT_VirksomhedSENummerIdentifikator.xsd"/><xs:element name="AbonnentVirksomhedStruktur" type="eindkomstws:AbonnentVirksomhedStrukturType"/>
	<xs:complexType name="AbonnentVirksomhedStrukturType">
		<xs:sequence>
			<xs:element name="AbonnentVirksomhed">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="virksomhed:VirksomhedSENummerIdentifikator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
