services/prodtin/eIndkomst4/skat_dk/eindkomst/PersonIndkomstOplysningStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:indkomstoplysningadgangreferencenummer="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" xmlns:soege="http://eksternwiki.skat.dk/oioxml/skat_dk/eIndkomst/soege/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:import namespace="http://eksternwiki.skat.dk/oioxml/skat_dk/eIndkomst/soege/" schemaLocation="../../oioxml/skat_dk/eIndkomst/soege/NySoegeDatoTidFraDatoTid.xsd"/>
	<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" schemaLocation="class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/IndkomstOplysningAdgangReferenceNummerIdentifikator.xsd"/>
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="IndberetningPligtigVirksomhedStruktur.xsd"/>
	<xs:include schemaLocation="LoenPeriodeOplysningStruktur.xsd"/>
	<xs:element name="PersonIndkomstOplysningStruktur" type="fase2:PersonIndkomstOplysningStrukturType"/>
	<xs:complexType name="PersonIndkomstOplysningStrukturType">
		<xs:sequence>
			<xs:element ref="core:PersonCivilRegistrationIdentifier"/>
			<xs:element ref="indkomstoplysningadgangreferencenummer:IndkomstOplysningAdgangReferenceNummerIdentifikator" minOccurs="0"/>
			<xs:element ref="soege:NySoegeDatoTidFraDatoTid" minOccurs="0"/>
			<xs:element name="IndkomstOplysningSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IndberetningPligtigVirksomhed" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="fase2:IndberetningPligtigVirksomhedStruktur"/>
									<xs:element name="IndkomstLoenPeriodeSamling">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:LoenPeriodeOplysningStruktur" minOccurs="1" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>