systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/view/JuridiskEnhedIdentifikatorStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
            
      
   
   
   <xs:include schemaLocation="../class/Person.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         
            
      
         
            
      
   
   
   <xs:include schemaLocation="../class/ProduktionEnhed.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/UdenlandskPerson.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/UdenlandskVirksomhed.xsd"/>
         
   
   
   
   <xs:element name="JuridiskEnhedIdentifikatorStruktur" type="fase2.1:JuridiskEnhedIdentifikatorStrukturType"/>
   
   
   
   <xs:complexType name="JuridiskEnhedIdentifikatorStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               
      
      
      
      <xs:sequence>

         
         
         
         <xs:element name="JuridiskEnhedValg">
            
            
            
            <xs:complexType>
               
               
               
               <xs:choice>
                  
                  
                  
                  <xs:element ref="fase2.1:PersonCPRNummer"/>
				
				
				
                  
                  
                  
                  <xs:element ref="fase2.1:VirksomhedSENummer"/>
				
				
				
                  
                  
                  
                  <xs:element ref="fase2.1:VirksomhedCVRNummer"/>
				
				
				
                  
                  
                  
                  <xs:element ref="fase2.1:ProduktionEnhedNummer"/>
				
				
				
                  
                  
                  
                  <xs:element ref="fase2.1:UdenlandskPersonNummer"/>
				
				
				
                  
                  
                  
                  <xs:element ref="fase2.1:UdenlandskVirksomhedNummer"/>

               
               
               
               </xs:choice>
            
            
            
            </xs:complexType>
         
         
         
         </xs:element>
      
      
      
      </xs:sequence>
            
         
         
         
         
      
   
   
   
   </xs:complexType>



</xs:schema>
