systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/view/JuridiskEnhedStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
            
      
   
   
   <xs:include schemaLocation="../class/Person.xsd"/>
         
            
      
         
            
      
         
            
      
         
            
      
   
   
   <xs:include schemaLocation="../class/PersonNavn.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         
            
      
         
            
      
   
   
   <xs:include schemaLocation="../class/ProduktionEnhed.xsd"/>
         
            
      
         
            
      
         
            
      
         
   
   
   
   <xs:include schemaLocation="../view/PersonAdresseStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/VirksomhedNavnStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/VirksomhedAdresseStrukturType.xsd"/>
   
   
   
   
   
   
   <xs:element name="JuridiskEnhedStruktur" type="fase2.1:JuridiskEnhedStrukturType"/>
   
   
   
   <xs:complexType name="JuridiskEnhedStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               
      
      
      
      <xs:sequence>

         
         
         
         <xs:element name="JuridiskEnhedValg">
            
            
            
            <xs:complexType>
               
               
               
               <xs:choice>
                  
                  
                  
                  <xs:sequence>

                     
                     
                     
                     <xs:element name="Person">
                        
                        
                        
                        <xs:complexType>
                           
                           
                           
                           <xs:sequence>


                              
                              
                              
                              <xs:element ref="fase2.1:PersonNavnAdresseBeskyttelseMarkering" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:PersonCPRNummer" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:PersonFødselDato" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:PersonKøn" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:PersonNavnNavn" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:PersonAdresseStruktur" minOccurs="0"/>



                           
                           
                           
                           </xs:sequence>
                        
                        
                        
                        </xs:complexType>
                     
                     
                     
                     </xs:element>
				
				
                  
                  
                  
                  </xs:sequence>
                  
                  
                  
                  <xs:sequence>
				

                     
                     
                     
                     <xs:element name="Virksomhed">
                        
                        
                        
                        <xs:complexType>
                           
                           
                           
                           <xs:sequence>
                              
                              
                              
                              <xs:element ref="fase2.1:VirksomhedCVRNummer"/>
                  
                  
                              
                              
                              
                              <xs:element ref="fase2.1:VirksomhedSENummer"/>


                              
                              
                              
                              <xs:element ref="fase2.1:ProduktionEnhedNummer" minOccurs="0"/>


                              
                              
                              
                              <xs:element ref="fase2.1:VirksomhedNavnStruktur"/>
                  
                  
                              
                              
                              
                              <xs:element ref="fase2.1:VirksomhedAdresseStruktur"/>

                           
                           
                           
                           </xs:sequence>
                        
                        
                        
                        </xs:complexType>
                     
                     
                     
                     </xs:element>
				
				
                  
                  
                  
                  </xs:sequence>
                  
                  
                  
                  <xs:sequence>
				

                     
                     
                     
                     <xs:element name="UdenlandskPerson">
                        
                        
                        
                        <xs:complexType>
                           
                           
                           
                           <xs:sequence>


                              
                              
                              
                              <xs:element ref="fase2.1:PersonFødselDato" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:PersonKøn" minOccurs="0"/>


                              
                              
                              
                              <xs:element ref="fase2.1:PersonNavnNavn"/>
                  
                  
                              
                              
                              
                              <xs:element ref="fase2.1:PersonAdresseStruktur"/>

                           
                           
                           
                           </xs:sequence>
                        
                        
                        
                        </xs:complexType>
                     
                     
                     
                     </xs:element>
				
				
                  
                  
                  
                  </xs:sequence>
                  
                  
                  
                  <xs:sequence>
				

                     
                     
                     
                     <xs:element name="UdenlandskVirksomhed">
                        
                        
                        
                        <xs:complexType>
                           
                           
                           
                           <xs:sequence>
                              
                              
                              
                              <xs:element ref="fase2.1:VirksomhedNavnStruktur"/>
                  
                  
                              
                              
                              
                              <xs:element ref="fase2.1:VirksomhedAdresseStruktur"/>

                           
                           
                           
                           </xs:sequence>
                        
                        
                        
                        </xs:complexType>
                     
                     
                     
                     </xs:element>

                  
                  
                  
                  </xs:sequence>
               
               
               
               </xs:choice>
            
            
            
            </xs:complexType>
         
         
         
         </xs:element>
      
      
      
      </xs:sequence>
            
         
         
         
         
      
   
   
   
   </xs:complexType>



</xs:schema>
