systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/view/PeriodiskAfgiftHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   
   <xs:include schemaLocation="../class/OpgjortAfgift.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../view/PeriodiskAfgiftStrukturType.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/PeriodiskAfgiftSatsStrukturType.xsd"/>
   
   
   
   <xs:element name="PeriodiskAfgiftHent_O">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:PeriodiskAfgiftHent_OType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2317"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="PeriodiskAfgiftHent_OType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
										
         
         
         
         
         
         
         
            
            
            
            
               
            
                  
         
               
            
         <xs:element ref="fase2.1:OpgjortAfgiftNummer" minOccurs="0"/>
                  
                  
         
               
            
         <xs:element ref="fase2.1:PeriodiskAfgiftStruktur" minOccurs="0"/>
                  
                  
         
               
            
         <xs:element ref="fase2.1:PeriodiskAfgiftSatsStruktur" minOccurs="0"/>
               
      
            
            
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
