systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/view/PeriodiskAfgiftSatsStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
            
      
   
   
   <xs:include schemaLocation="../class/PeriodiskAfgiftSats.xsd"/>
         
            
      
         
            
      
   
   
   <xs:include schemaLocation="../class/PeriodiskAfgiftGruppe.xsd"/>
         
            
      
         
   
   
   
   <xs:element name="PeriodiskAfgiftSatsStruktur" type="fase2.1:PeriodiskAfgiftSatsStrukturType"/>
   
   
   
   <xs:complexType name="PeriodiskAfgiftSatsStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
               
      
      
      
      <xs:sequence>
                  
         
         
         
         <xs:element ref="fase2.1:PeriodiskAfgiftSatsNummer"/>
                  
                  
         
         
         
         <xs:element ref="fase2.1:PeriodiskAfgiftSatsBeløb"/>

         
         
         
         <xs:element name="PeriodiskAfgiftGruppe">
            
            
            
            <xs:complexType>
               
               
               
               <xs:sequence>
                  
                  
                  
                  <xs:element ref="fase2.1:PeriodiskAfgiftGruppeNummer"/>
                  
                  
                  
                  
                  
                  <xs:element ref="fase2.1:PeriodiskAfgiftGruppeNavn"/>

               
               
               
               </xs:sequence>
            
            
            
            </xs:complexType>
         
         
         
         </xs:element>
      
      
      
      </xs:sequence>
            
         
         
         
         
      
   
   
   
   </xs:complexType>



</xs:schema>
