systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 DMR/WSDL/package/view/VirksomhedAdresseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
            
      
   
   
   <xs:include schemaLocation="../class/VirksomhedAdresseType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/AdresseType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/Adresse.xsd"/>
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
   
   
   <xs:include schemaLocation="../class/Land.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../operational/MyndighedNummer.xsd"/>
            
      
   
   
   <xs:include schemaLocation="../class/AlternativAdresse.xsd"/>
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
            
      
         
   
   
   
   <xs:element name="VirksomhedAdresseStruktur" type="fase2.1:VirksomhedAdresseStrukturType"/>
   
   
   
   <xs:complexType name="VirksomhedAdresseStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               
      
      
      
      <xs:sequence>
                  
         
         
         
         <xs:element ref="fase2.1:VirksomhedAdresseTypeKode"/>
                  
                  
         
         
         
         <xs:element ref="fase2.1:AdresseTypeKode"/>

         
         
         
         <xs:element name="AdresseValg">
            
            
            
            <xs:complexType>
               
               
               
               <xs:choice>
                  
                  
                  
                  <xs:sequence>

                     
                     
                     
                     <xs:element name="Adresse">
                        
                        
                        
                        <xs:complexType>
                           
                           
                           
                           <xs:sequence>


                              
                              
                              
                              <xs:element ref="fase2.1:AdresseFortløbendeNummer" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseVejNavn" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseFraHusNummer" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseFraHusBogstav" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseTilHusNummer" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseTilHusBogstav" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseEtageTekst" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseSideDørTekst" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseCONavn" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseByNavn" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdressePostNummer" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdressePostDistrikt" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseVejKode" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdressePostBox" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseGyldigFra" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AdresseGyldigTil" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:LandKode" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:MyndighedNummer" minOccurs="0"/>



                           
                           
                           
                           </xs:sequence>
                        
                        
                        
                        </xs:complexType>
                     
                     
                     
                     </xs:element>
				
				
                  
                  
                  
                  </xs:sequence>
                  
                  
                  
                  <xs:sequence>
				

                     
                     
                     
                     <xs:element name="AlternativAdresse">
                        
                        
                        
                        <xs:complexType>
                           
                           
                           
                           <xs:sequence>


                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseFortløbendeNummer" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseAnvendelseKode" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseAdresseLinie1" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseAdresseLinie2" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseAdresseLinie3" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseAdresseLinie4" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseAdresseLinie5" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseAdresseLinie6" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseAdresseLinie7" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseGyldigFra" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:AlternativAdresseGyldigTil" minOccurs="0"/>




                              
                              
                              
                              <xs:element ref="fase2.1:LandKode" minOccurs="0"/>



                           
                           
                           
                           </xs:sequence>
                        
                        
                        
                        </xs:complexType>
                     
                     
                     
                     </xs:element>

                  
                  
                  
                  </xs:sequence>
               
               
               
               </xs:choice>
            
            
            
            </xs:complexType>
         
         
         
         </xs:element>
      
      
      
      </xs:sequence>
            
         
         
         
         
         
         
         
      
   
   
   
   </xs:complexType>



</xs:schema>
