systems/ES/- Arkiv/Fase 2 - Leverancer/20100826/VirksomhedStamOplysningSamlingHent/class/VirksomhedNavn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2008/01/01/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2="http://skat.dk/begrebsmodel/2008/01/01/">
   
   
   <xs:annotation>
      
      
      <xs:documentation>Angiver virksomhedens primære (officielle) navn, der knytter sig til den primære (officielle) adresse (virksomhedsadressen) og identificerer virksomheden.</xs:documentation>
   
   
   </xs:annotation>
   
   
   <xs:include schemaLocation="../types/NavnType.xsd"/>
   
   
   <xs:include schemaLocation="../types/FirmaNavnKortType.xsd"/>
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
   
   
   
   <xs:element name="VirksomhedNavnFirmaNavn" type="fase2:NavnType">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Angiver virksomhedens fulde navn.</xs:documentation>
      
      
      </xs:annotation>
   
   
   </xs:element>
   
   
   <xs:element name="VirksomhedNavnFirmaNavnKort" type="fase2:FirmaNavnKortType">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Angiver virksomhedens forkortede navn (max 34 karakterer)</xs:documentation>
      
      
      </xs:annotation>
   
   
   </xs:element>
   
   
   <xs:element name="VirksomhedNavnGyldigFra" type="fase2:DatoType">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Angiver startdato for virksomhedens navn (år md dg)</xs:documentation>
      
      
      </xs:annotation>
   
   
   </xs:element>
   
   
   <xs:element name="VirksomhedNavnGyldigTil" type="fase2:DatoType">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Angiver slutdato for virksomhedens navn (år md dg)</xs:documentation>
      
      
      </xs:annotation>
   
   
   </xs:element>


</xs:schema>
