projects/ICS/ICS20120320/EU/Manifest - Udstillede wsdl filer v22/Til erhvervslivet/Wsdl-xsd Manifest part 2 - Temporary Storage  (v22 - 20032012)/DKA58A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKA58A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKA58A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--=====DKA58A:N_DECL_TSF_ VAL_DK -->
	<!--===== DECLARATION FOR TEMPORARY STORAGE FACILITY VALIDATION -->
	<!--===== Manifest / ICS Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--=========================================-->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKA58A" type="ie:DKA58AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKA58AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" minOccurs="1" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="GOODS ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARROPE" type="ie:ARROPEType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="ARRIVAL OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MESMDE" type="ie:MESMDEType" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="MESSAGE DETAIL"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFAC" type="ie:TEMSTOFACType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFACOPE" type="ie:TEMSTOFACOPEType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDECTEMSTOFAC" type="ie:PERLODDECTEMSTOFACType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUSOFFARR" type="ie:CUSOFFARRType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="CUSTOMS OFFICE OF ARRIVAL"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUSOFFSUP" type="ie:CUSOFFSUPType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="CUSTOMS OFFICE OF SUPERVISION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!-- === HEADER ===-->
	<xs:complexType name="HEAType">
		<xs:sequence>
			<xs:element name="TemStoRefNumHEA" type="simple:Numeric_13" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefNumHEA4" type="simple:DeclarationRequestNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="LRN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecReaForAccDatTim" type="simple:DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Declaration ready for acceptance date and time"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDatOfArrFIRENT733" type="simple:DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Expected date and time of arrival"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecRegDatTimHEA115" type="simple:DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Declaration registration date and time"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatTimOfArr" type="simple:DateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Date and time of arrival"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecStaCodHEA" type="simple:Alphanumeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Declaration status code"/>
						<codeList name="StatusCodes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotNumOfIteHEA305" type="simple:Numeric_Max5" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Total number of items"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotNumOfPacHEA306" type="simple:Numeric_Max5" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Number of packages"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotGroMasHEA307" type="simple:Decimal_11_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Total gross mass"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComRefNumTST" type="simple:Alphanumeric_Max70" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Commercial reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>
	<!--=== GOODS ITEM ===-->
	<xs:complexType name="GOOITEGDSType">
		<xs:annotation>
			<xs:documentation>
				<description value="GOODS ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IteNumGDS7" type="simple:Numeric_Max3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GooDesGDS23" type="simple:Alphanumeric_Max280" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Textual Goods description"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroMasGDS46" type="simple:Decimal_11_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Gross mass"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PACGS2" type="complex_manifest:PACGS2Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="PACKAGES"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CONNR2" type="ie:CONNR2Type" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="CONTAINERS"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PREADMDOC" type="ie:PREADMDOCType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="PREVIOUS ADMINISTRATIVE DOCUMENT"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CONTAINERS ===-->
	<xs:complexType name="CONNR2Type">
		<xs:annotation>
			<xs:documentation>
				<description value="CONTAINERS"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
				<xs:annotation>
					<xs:documentation>
						<description value="Container number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PREVIOUS ADMINISTRATIVE DOCUMENT ===-->
	<xs:complexType name="PREADMDOCType">
		<xs:annotation>
			<xs:documentation>
				<description value="PREVIOUS ADMINISTRATIVE DOCUMENT"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PreDocTypPDO" type="simple:Alphanumeric_Max6" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document type"/>
						<codeList name="DocumentTypeCommon" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreDocRefPDO" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document reference"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== ARRIVAL OPERATION ===-->
	<xs:complexType name="ARROPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="ARRIVAL OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManRefNumAOP" type="simple:Numeric_13" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MANITE" type="ie:MANITEType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="MANIFEST ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== MANIFEST ITEM ===-->
	<xs:complexType name="MANITEType">
		<xs:annotation>
			<xs:documentation>
				<description value="MANIFEST ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManIteNumMIT" type="simple:Numeric_Max4" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== MESSAGE DETAIL ===-->
	<xs:complexType name="MESMDEType">
		<xs:annotation>
			<xs:documentation>
				<description value="MESSAGE DETAIL"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResDatTimMDE" type="simple:DateTimeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Response date and time"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMDE" type="simple:Numeric_2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessagesType" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesReaCodMDE" type="simple:Alphanumeric_Max6" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Message reason code"/>
						<codeList name="MessagesReasonCodes" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesReaMDE" type="simple:Alphanumeric_Max350" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Meassage reason"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY OPERATOR ===-->
	<xs:complexType name="TEMSTOFACOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamTFO" type="simple:TradNameType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINTFO" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="TEMSTOFACType">
		<xs:sequence>
			<xs:element name="AutTypTEF" type="simple:Numeric_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Authorisation type"/>
						<codeList name="AuthorisationTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemStoFacAddTEF" type="simple:Numeric_Max3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage facility address ID"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="PERLODDECTEMSTOFACType">
		<xs:sequence>
			<xs:element name="NamPLF" type="simple:TradNameType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINPLF" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CUSTOMS OFFICE OF ARRIVAL ===-->
	<xs:complexType name="CUSOFFARRType">
		<xs:annotation>
			<xs:documentation>
				<description value="CUSTOMS OFFICE OF ARRIVAL"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RefNumCOA" type="simple:CORefNumType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Reference number"/>
						<codeList name="COL"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CUSTOMS OFFICE OF SUPERVISION ===-->
	<xs:complexType name="CUSOFFSUPType">
		<xs:annotation>
			<xs:documentation>
				<description value="CUSTOMS OFFICE OF SUPERVISION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RefNumCOS" type="simple:CORefNumType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Reference number"/>
						<codeList name="COL"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
