projects/ICS/ICS20120320/EU/Manifest - Udstillede wsdl filer v22/Til erhvervslivet/Wsdl-xsd Manifest part 2 - Temporary Storage  (v22 - 20032012)/DKA74A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKA74A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKA74A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--===== DKA73A:N_CHANGE_TS_FAC_DK-->
	<!--===== CHANGE TEMPORARY STORAGE FACILITY  -->
	<!--===== Manifest /ics Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--===== Included Features: [10, 12, 18, 20, 26, 27, 28, 29]  -->
	<!--=========================================-->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKA74A" type="ie:DKA74AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKA74AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MESMDE" type="ie:MESMEDType" minOccurs="1" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="MESSAGE DETAIL"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DECTEMSTOFAC" type="ie:DECTEMSTOFACType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="DECLARED TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DECTEMSTOFACOPE" type="ie:DECTEMSTOFACOPEType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="DECLARED TEPORARY STORAGE FACILITY OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFAC" type="ie:TEMSTOFACType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFACOPE" type="ie:TEMSTOFACOPEType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEPORARY STORAGE FACILITY OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDECTEMSTOFACCHA" type="ie:PERLODDECTEMSTOFACCHAType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY CHANGE"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--=== HEADER ===-->
	<xs:complexType name="HEAType">
		<xs:annotation>
			<xs:documentation>
				<description value="HEADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TemStoRefNumHEA" type="simple:Numeric_13" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecStaCodHEA" type="simple:Alphanumeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Declaration status code"/>
						<codeList name="StatusCodes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComRefNumHEA" type="simple:Alphanumeric_Max70" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Commercial reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== MESSAGE DETAIL ===-->
	<xs:complexType name="MESMEDType">
		<xs:annotation>
			<xs:documentation>
				<description value="MESSAGE DETAIL"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResDatTimMDE" type="simple:DateTimeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Response date and time"/>
						</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMDE" type="simple:Numeric_2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessagesType"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesReaCodMDE" type="simple:Alphanumeric_Max6" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Message reason code"/>
						<codeList name="MessagesReasonCodes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesReaMDE" type="simple:Alphanumeric_Max350" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Message reason"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== DECLARED TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="DECTEMSTOFACType">
		<xs:annotation>
			<xs:documentation>
				<description value="DECLARED TEMPORARY STORAGE FACILITY"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AutTypDTF" type="simple:Numeric3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Authorisation type"/>
						<codeList name="TemporaryStorageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemStoFacAddIdDTF" type="simple:Numeric_Max3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage facility address Id"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== DECLARED TEMPORARY STORAGE FACILITY OPERATOR ===-->
	<xs:complexType name="DECTEMSTOFACOPEType">
		<xs:sequence>
			<xs:element name="NamDSO" type="simple:TradNameType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINDSO" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R837"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="TEMSTOFACType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AutTypTEF" type="simple:Numeric3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Authorisation type"/>
						<codeList name="TemporaryStorageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemStoFacAddIdTEF" type="simple:Numeric_Max3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage facility address ID"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY OPERATOR ===-->
	<xs:complexType name="TEMSTOFACOPEType">
		<xs:sequence>
			<xs:element name="NamTFO" type="simple:TradNameType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINTFO" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY CHANGE ===-->
	<xs:complexType name="PERLODDECTEMSTOFACCHAType">
		<xs:annotation>
			<xs:documentation>
				<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY CHANGE"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamPFC" type="simple:TradNameType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINPFC" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
