projects/ICS/ICS20120320/EU/Manifest - Udstillede wsdl filer v22/Til erhvervslivet/Wsdl-xsd Manifest part 2 - Temporary Storage  (v22 - 20032012)/DKA80A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Bjarne Ulvmose (SKAT Hovedcentret) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKA80A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKA80A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--=====DKA80A:N_DIVIDE_RQ_TSF_DK -->
	<!--===== DIVIDE REGUEST TEMPORARY STORAGE FACILITY -->
	<!--===== Manifest /ics Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--===== Included Features: [10, 12, 18, 20, 26, 27, 28, 29]  -->
	<!--=========================================-->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKA80A" type="ie:DKA80AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKA80AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDIVREQTEMSTOFAC" type="ie:PERLODDIVREQTEMSTOFACType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DIVIDE REQUEST FOR TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFAOPE" type="ie:TEMSTOFAOPEType" minOccurs="1" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--=== HEADER ===-->
	<xs:complexType name="HEAType">
		<xs:annotation>
			<xs:documentation>
				<description value="HEADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TemStoRefNumHEA" type="simple:TempStoNumType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage refrence number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotGroMasHEA307" type="simple:Decimal_11_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Total gross mass"/>
						<rule name="R154DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumOfDivDecTemStoHEA" type="simple:Numeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Number of divide declarations for temporary storage"/>
						<rule name="R187DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DIVIDE REQUEST FOR TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="PERLODDIVREQTEMSTOFACType">
		<xs:annotation>
			<xs:documentation>
				<description value="PERSON LODGING THE DIVIDE REQUEST FOR TEMPORARY STORAGE FACILITY"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINPDR" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY OPERATION ===-->
	<xs:complexType name="TEMSTOFAOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TemStoRefNumTSF" type="simple:DeclarationRequestNumberType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="LRN"/>
						<rule name="R891"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotNumOfIteTSF" type="simple:Numeric_Max5" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Total number of items"/>
						<rule name="R163DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotNumOfPacTSF" type="simple:Numeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Total number of packages"/>
						<condition name="C582"/>
						<rule name="R105"/>
						<condition name="C311DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotGroMasTSF" type="simple:Decimal_11_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Total gross mass"/>
						<rule name="R164DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComRefNumTSF" type="simple:Alphanumeric_Max70" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Commercial reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InlTraModTSF" type="simple:Numeric_Max2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Inland transport mode"/>
						<rule name="R226DK"/>
						<condition name="C309DK"/>
						<codeList name="TransportMode"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdeOfMeaOfTraArrTSF" type="simple:Alphanumeric_Max31" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Identity of means of transport at arrival"/>
						<rule name="R011DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatOfMeaOfTraArrTSF" type="simple:CountryCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Nationality of the means of transport at arrival"/>
						<rule name="R038DK"/>
						<codeList name="CountryCodesFullList"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFAC" type="ie:TEMSTOFACType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY"/>
						<condition name="C309DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFACOPE" type="ie:TEMSTOFACOPEType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRANCOCEE" type="ie:TRANCONCEEType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="CONSIGNEE"/>
						<condition name="C309DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GOOITEGDI" type="ie:GOOITEGDIType" minOccurs="1" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="GOODS ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDECTEMSTOFAC" type="ie:PERLODDECTEMSTOFACType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="TEMSTOFACType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AutTypTFA" type="simple:Numeric_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Authorisation type"/>
						<rule name="R059DK"/>
						<codeList name="TemporaryStorageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemStoFacAddIdTFA" type="simple:Numeric_Max3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage facility address ID"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY OPERATOR ===-->
	<xs:complexType name="TEMSTOFACOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINTPR" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R210DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CONSIGNEE ===-->
	<xs:complexType name="TRANCONCEEType">
		<xs:annotation>
			<xs:documentation>
				<description value="CONSIGNEE"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamCEE" type="simple:TradNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
						<condition name="C252DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrNumCEE" type="simple:StreetNumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Street and number"/>
						<condition name="C252DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CouCodCEE" type="simple:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Country"/>
						<condition name="C252DK"/>
						<rule name="R038DK"/>
						<codeList name="ContryCodesFullList"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstCodCEE" type="simple:PostalCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Postal code"/>
						<condition name="C252DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtyCEE" type="simple:CityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="City"/>
						<condition name="C252DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINCEE" type="simple:TINType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
						<condition name="C251DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== GOODS ITEM ===-->
	<xs:complexType name="GOOITEGDIType">
		<xs:annotation>
			<xs:documentation>
				<description value="GOODS ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IteNumGDI" type="simple:Numeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Iten number"/>
						<rule name="R004DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GooDesGDI" type="simple:Alphanumeric_Max280" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Goods description"/>
						<condition name="C309DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroMassGDI" type="simple:Decimal_11_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Gross mass"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PACPKS" type="ie:PACPKSType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="PACKAGES"/>
						<condition name="C309DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CONNR3" type="ie:CONNR3Type" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="CONTAINERS"/>
						<condition name="C238DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COMCODGOOITM" type="ie:COMCODGOOITMType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="COMMODITY CODE"/>
						<condition name="C310DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRODOCDC3" type="ie:PRODOCDC3Type" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="PRODUCED DOCUMENTS / CERTIFICATES"/>
						<condition name="C310DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PREADMDOC" type="ie:PREADMDOCType" minOccurs="1" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="PREVIUOS ADMINISTRATIVE DOCUMENT"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PACKAGES ===-->
	<xs:complexType name="PACPKSType">
		<xs:annotation>
			<xs:documentation>
				<description value="PACKAGES"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumOfPacPKS" type="simple:Numeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Number of packages"/>
						<condition name="C062"/>
						<rule name="R021DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KinOfPacPKS" type="simple:Alphanumeric_2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Kind of packages"/>
						<rule name="R030DK"/>
						<codeList name="KindOfPackages"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NomOfPiePKS" type="simple:Numeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Number of pieces"/>
						<condition name="C062"/>
						<rule name="R021DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarNumOfPacPKS" type="simple:Alphanumeric_Max140" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Marks and numbers of packages"/>
						<condition name="C062"/>
						<rule name="R021DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== CONTAINERS ===-->
	<xs:complexType name="CONNR3Type">
		<xs:annotation>
			<xs:documentation>
				<description value="CONTAINERS"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConNumNR3" type="simple:Alphanumeric_Max17">
				<xs:annotation>
					<xs:documentation>
						<description value="Container number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== COMMODITY CODE ===-->
	<xs:complexType name="COMCODGOOITMType">
		<xs:annotation>
			<xs:documentation>
				<description value="COMMODITY CODE"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConNomCOM" type="simple:TARICCommodityCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Combined nomenclature"/>
						<rule name="R168DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PRODUCED DOCUMENTS / CERTIFICATES ===-->
	<xs:complexType name="PRODOCDC3Type">
		<xs:annotation>
			<xs:documentation>
				<description value="PRODUCED DOCUMENTS / CERTIFICATES"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodRegDC3" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Goods regulation (VAB)"/>
						<rule name="R169DK"/>
						<codeList name="GoodsRegulation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocTypDC3" type="simple:Alphanumeric_Max4" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Document type"/>
						<rule name="R211DK"/>
						<rule name="R170DK"/>
						<codeList name="DocumentTypeCommon"/>
						<codeList name=" Goods Regulations And Certificates (MIO VAB_Certifikater)"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocRefDC3" type="simple:Alphanumeric_Max35" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Document reference"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PREVIUOS ADMINISTRATIVE DOCUMENT ===-->
	<xs:complexType name="PREADMDOCType">
		<xs:annotation>
			<xs:documentation>
				<description value="PREVIOUS ADMINISTRATIVE DOCUMENT"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PreDocTypPRA" type="simple:Alphanumeric_Max4" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document type"/>
						<rule name="R131DK"/>
						<codeList name="DocumentTypeCommon"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreDocRefPRA" type="simple:Alphanumeric_Max20" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document reference"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="PERLODDECTEMSTOFACType">
		<xs:annotation>
			<xs:documentation>
				<description value=" PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RepStaPDS" type="simple:Numeric_1">
				<xs:annotation>
					<xs:documentation>
						<description value="Representative status"/>
						<rule name="R060DK"/>
						<codeList name="RepresentativeStatusCode"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
