services/demo/eIndkomst18/view/AfregnendeEnhedFaellesRegistreringStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" schemaLocation="http://eksternwiki.skat.dk/oioxml/cvr_dk/CVRnumberIdentifier.xsd"/>
	<xs:element name="AfregnendeEnhedFaellesRegistreringStruktur" type="fase2:AfregnendeEnhedFaellesRegistreringStrukturType"/>
	<xs:complexType name="AfregnendeEnhedFaellesRegistreringStrukturType">
		<xs:sequence>
			<xs:element name="AfregnendeEnhedFaellesRegistrering">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="cvr:CVRnumberIdentifier"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
