services/demo/eIndkomst18/view/IndberetningPligtigVirksomhedStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:virksomhed="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" schemaLocation="../class/VirksomhedSENummerIdentifikator.xsd"/>
	<xs:element name="IndberetningPligtigVirksomhedStruktur" type="fase2:IndberetningPligtigVirksomhedStrukturType"/>
	<xs:complexType name="IndberetningPligtigVirksomhedStrukturType">
		<xs:sequence>
			<xs:element name="IndberetningPligtigVirksomhed">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="virksomhed:VirksomhedSENummerIdentifikator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
