services/review/EFIOIO_20110111/urn/oio/skat/efi/ws/1_0_1/FordringHaverRelationStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringHaverFordelingProcent.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringHaverIdentifikator.xsd"/><xs:element name="FordringHaverRelationStruktur" type="efiws:FordringHaverRelationStrukturType"/>
	<xs:complexType name="FordringHaverRelationStrukturType">
		<xs:sequence>
			<xs:element name="FordringHaverRelationStruktur">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="efi:FordringHaverIdentifikator"/>
						<xs:sequence>
							<xs:element name="FordringHaverFordelingListe">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ProcentFordeling" minOccurs="2" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="efi:FordringHaverIdentifikator"/>
													<xs:element ref="efi:FordringHaverFordelingProcent"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
