services/review/EFIOIO_20110111/urn/oio/skat/efi/ws/1_0_1/MFAendrFordringStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/KundeArrestIndikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringStiftelseDato.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringProduktionEnhedIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringFordringArtKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringInddrivelseFordringIdentifikator.xsd"/><xs:include schemaLocation="MFNoteStruktur.xsd"/>
	<xs:include schemaLocation="MFDokumentStruktur.xsd"/>
	<xs:include schemaLocation="RenteValgStruktur.xsd"/>
	<xs:include schemaLocation="MFHaeftelseStruktur.xsd"/>
	<xs:element name="MFAendrFordringStruktur" type="efiws:MFAendrFordringStrukturType"/>
	<xs:complexType name="MFAendrFordringStrukturType">
		<xs:sequence>
			<xs:element ref="efi:FordringInddrivelseFordringIdentifikator"/>
			<xs:element ref="efi:FordringFordringArtKode"/>
			<xs:element ref="efi:FordringProduktionEnhedIdentifikator" minOccurs="0"/>
			<xs:element ref="efi:FordringStiftelseDato" minOccurs="0"/>
			<xs:element ref="efi:KundeArrestIndikator" minOccurs="0"/>
			<xs:element name="SagsbemaerkningSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efiws:MFNoteStruktur" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DokumentSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efiws:MFDokumentStruktur" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="efiws:RenteValgStruktur" minOccurs="0"/>
			<xs:element name="HaeftelseSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efiws:MFHaeftelseStruktur" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
