services/review/EFIOIO_20110111/urn/oio/skat/efi/ws/1_0_1/MFAendrTransportStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/TransportRettighedHaverBeskedIndikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringFordringArtKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringInddrivelseFordringIdentifikator.xsd"/><xs:include schemaLocation="FordringBeloebStruktur.xsd"/>
	<xs:include schemaLocation="TransportUdlaegGyldigPeriodeStruktur.xsd"/>
	<xs:include schemaLocation="MFKundeStruktur.xsd"/>
	<xs:element name="MFAendrTransportStruktur" type="efiws:MFAendrTransportStrukturType"/>
	<xs:complexType name="MFAendrTransportStrukturType">
		<xs:sequence>
			<xs:element ref="efi:FordringInddrivelseFordringIdentifikator"/>
			<xs:element ref="efi:FordringFordringArtKode"/>
			<xs:element ref="efiws:FordringBeloebStruktur" minOccurs="0"/>
			<xs:element ref="efiws:TransportUdlaegGyldigPeriodeStruktur" minOccurs="0"/>
			<xs:element name="TransportRettighedshaver" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efiws:MFKundeStruktur"/>
						<xs:element ref="efi:TransportRettighedHaverBeskedIndikator" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
