services/review/EFIOIO_20110111/urn/oio/skat/efi/ws/1_0_1/MFAktionAfvistStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/ModtagFordringAktionAfvistParameterTekst.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/ModtagFordringAktionAfvistTekst.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/ModtagFordringAktionAfvistIdentifikator.xsd"/><xs:element name="MFAktionAfvistStruktur" type="efiws:MFAktionAfvistStrukturType"/>
	<xs:complexType name="MFAktionAfvistStrukturType">
		<xs:sequence>
			<xs:element ref="efi:ModtagFordringAktionAfvistIdentifikator"/>
			<xs:element ref="efi:ModtagFordringAktionAfvistTekst"/>
			<xs:element name="MFAktionAfvistParamSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efi:ModtagFordringAktionAfvistParameterTekst" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
