services/review/EFIOIO_20110111/urn/oio/skat/efi/ws/1_0_1/MFOpretTransportStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/TransportUdlaegAcceptDato.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/MyndighedUdbetalingTypeNemKontoYdelseArtKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/MyndighedUdbetalingTypeKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringTypeKode.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringFordringHaverReference.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/TransportRettighedHaverBeskedIndikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../../1_0_0/FordringFordringArtKode.xsd"/><xs:include schemaLocation="MFKundeStruktur.xsd"/>
	<xs:include schemaLocation="FordringPeriodeStruktur.xsd"/>
	<xs:include schemaLocation="FordringBeloebStruktur.xsd"/>
	<xs:include schemaLocation="MyndighedUdbetalingPeriodeStruktur.xsd"/>
	<xs:include schemaLocation="TransportUdlaegGyldigPeriodeStruktur.xsd"/>
	<xs:include schemaLocation="MFDokumentStruktur.xsd"/>
	<xs:element name="MFOpretTransportStruktur" type="efiws:MFOpretTransportStrukturType"/>
	<xs:complexType name="MFOpretTransportStrukturType">
		<xs:sequence>
			<xs:element ref="efi:FordringFordringArtKode"/>
			<xs:element ref="efi:FordringTypeKode"/>
			<xs:element ref="efi:FordringFordringHaverReference" minOccurs="0"/>
			<xs:element ref="efiws:MFKundeStruktur"/>
			<xs:element ref="efiws:FordringPeriodeStruktur" minOccurs="0"/>
			<xs:element ref="efiws:FordringBeloebStruktur" minOccurs="0"/>
			<xs:element name="MyndighedUdbetaling" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="efi:MyndighedUdbetalingTypeKode"/>
						<xs:element ref="efi:MyndighedUdbetalingTypeNemKontoYdelseArtKode"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="efiws:MyndighedUdbetalingPeriodeStruktur"/>
			<xs:element ref="efi:TransportUdlaegAcceptDato" minOccurs="0"/>
			<xs:element ref="efiws:TransportUdlaegGyldigPeriodeStruktur"/>
			<xs:element name="TransportDokument" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efiws:MFDokumentStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransportRettighedshaver">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efiws:MFKundeStruktur"/>
						<xs:element ref="efi:TransportRettighedHaverBeskedIndikator" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransportUnderrettighedshaver" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efiws:MFKundeStruktur"/>
						<xs:element ref="efi:TransportRettighedHaverBeskedIndikator" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
