systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 eIndkomst/WSDL/package/class/AdresseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Indeholder alle adresseformtyper, fx Udenlandsk adresse. Må ikke forveksles med VirksomedAdresseType. Klassen beskriver udformningen af adressen, ikke adressens anvendelse.</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/AdresseTypeKodeType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstKortType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/TekstLangType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
      
      
   
   
   <xs:element name="AdresseTypeKode" type="fase2.1:AdresseTypeKodeType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Unik kode som identificerer en adressetype. Koder omfatter:  001 = Vejregisteradresse 002 = Postboksadresse 003 = Dansk adresse 004 = Udenlandsk adresse 005 = Ufuldstændig adresse</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseTypeTekst" type="fase2.1:TekstKortType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En kort beskrivelse af adressetypen, såsom Udenlandsk adresse.</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseTypeBeskrivelse" type="fase2.1:TekstLangType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En hjælpetekst til adressetypen</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseTypeGyldigFra" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En adressetypes gyldighedsstartdato</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="AdresseTypeGyldigTil" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>En adressetypes gyldighedsslutdato</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
