systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 eIndkomst/WSDL/package/class/SkattekortType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
      
   
   
   <xs:annotation>
         
      
      
      <xs:documentation>Angiver de mulige typer af skattekort, som kan anvendes. Hovedkort, Bikort, Intet skattekort, Frikort</xs:documentation>
      
   
   
   </xs:annotation>
      
   
   
   <xs:include schemaLocation="../types/KodeToCifreStartNulType.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/Tekst45Type.xsd"/>
      
   
   
   <xs:include schemaLocation="../types/DatoType.xsd"/>
      
      
   
   
   <xs:element name="SkattekortTypeKode" type="fase2.1:KodeToCifreStartNulType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Kode som entydig identificerer en skattekort type.  Der findes pt. følgende værdier af eSkattekortTypeKode:  00 = Intet skattekort 01 = Bruttokort 02 = Hovedkort 03 = Frikort 04 = Bikort 05 = Bruttokort uden lønindeholdelse 06 = Hovedkort uden lønindeholdelse  07 = Bikort uden lønindeholdelse</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="SkattekortTypeTekst" type="fase2.1:Tekst45Type">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver klartekst til en tilladt værdi af skattekort</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="SkattekortTypeGyldigFra" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver den dato fra og med en given værdi er gyldig til</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>
      
   
   
   <xs:element name="SkattekortTypeGyldigTil" type="fase2.1:DatoType">
         
      
      
      <xs:annotation>
            
         
         
         <xs:documentation>Angiver den dato fra og med en given værdi er gyldig til</xs:documentation>
         
      
      
      </xs:annotation>
      
   
   
   </xs:element>



</xs:schema>
