services/test/Spil/urn/oio/skat/spil/ws/1_0_0/SpilRestaurationSpecifikation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:spilws="urn:oio:skat:spil:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:spil:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:spil="urn:oio:skat:spil:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseAfgiftGrundlagProcentBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseFradragNedreBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseBruttoSpilIndtaegtBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseUdbetaltGevinstKassenBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseUdbetaltGevinstAutomatBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseSpilIndsatsBeloeb.xsd"/><xs:element name="SpilRestaurationSpecifikation" type="spilws:SpilRestaurationSpecifikationType"/>
	<xs:complexType name="SpilRestaurationSpecifikationType">
		<xs:sequence>
			<xs:element name="RestaurationSpecifikation">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="spil:SpecifikationSpilAngivelseSpilIndsatsBeloeb"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseUdbetaltGevinstAutomatBeloeb"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseUdbetaltGevinstKassenBeloeb" minOccurs="0"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseBruttoSpilIndtaegtBeloeb"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseFradragNedreBeloeb" minOccurs="0"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseAfgiftGrundlagProcentBeloeb" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
