services/test/Spil/urn/oio/skat/spil/ws/1_0_0/SpilTivoliSpecifikation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:spilws="urn:oio:skat:spil:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:spil:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:spil="urn:oio:skat:spil:1.0.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseTillaegAndenNoteBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseTillaegFoersteNoteBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseFradragOevreBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseAfgiftGrundlagProcentBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseBruttoSpilIndtaegtBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseUdbetaltGevinstKassenBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseUdbetaltGevinstAutomatBeloeb.xsd"/><xs:import namespace="urn:oio:skat:spil:1.0.0" schemaLocation="../../1_0_0/SpecifikationSpilAngivelseSpilIndsatsBeloeb.xsd"/><xs:element name="SpilTivoliSpecifikation" type="spilws:SpilTivoliSpecifikationType"/>
	<xs:complexType name="SpilTivoliSpecifikationType">
		<xs:sequence>
			<xs:element name="TivoliSpecifikation">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="spil:SpecifikationSpilAngivelseSpilIndsatsBeloeb"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseUdbetaltGevinstAutomatBeloeb"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseUdbetaltGevinstKassenBeloeb" minOccurs="0"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseBruttoSpilIndtaegtBeloeb"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseFradragOevreBeloeb" minOccurs="0"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseTillaegFoersteNoteBeloeb" minOccurs="0"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseTillaegAndenNoteBeloeb" minOccurs="0"/>
						<xs:element ref="spil:SpecifikationSpilAngivelseAfgiftGrundlagProcentBeloeb" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
