services/demo/Arkiv/eIndkomst420170310/view/IndkomstOplysningPersonTidAbonnentBestil_O_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:hsws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstOplysningPersonStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningPersonTidAbonnentBestil_O_O" type="hsws:IndkomstOplysningPersonTidAbonnentBestil_O_OType">
	</xs:element>
	<xs:complexType name="IndkomstOplysningPersonTidAbonnentBestil_O_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="IndkomstPersonAbonnentTidBestilUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="hsws:AbonnentAdgangStruktur"/>
						<xs:element name="AbonnentUddataSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AbonnentUddata" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="hsws:AbonnentStruktur"/>
												<xs:element name="IndkomstOplysning">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PersonIndkomstSamling">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element ref="hsws:IndkomstOplysningPersonStruktur" minOccurs="1" maxOccurs="unbounded"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
