systems/SAPPS/Leverancer/SAPPS20160927/Services_20160927.r14933/package/view/FaxNummerStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14933</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Fax.xsd"/>
         <xs:element name="FaxNummerStruktur" type="fase2.1:FaxNummerStrukturType"/>
         <xs:complexType name="FaxNummerStrukturType">
         
         
         
         
            
            
            
            
            
               <xs:sequence>
               <xs:element name="FaxNummer">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element ref="fase2.1:FaxNummer" minOccurs="0"/>



                        <xs:element ref="fase2.1:FaxLandeKode" minOccurs="0"/>



                        <xs:element ref="fase2.1:FaxGyldigFra" minOccurs="0"/>



                        <xs:element ref="fase2.1:FaxGyldigTil" minOccurs="0"/>


                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
