systems/SAPPS/Leverancer/SAPPS20160927/Services_20160927.r14933/package/view/MeddelelseStatusMultiHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14933</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Fagsystem.xsd"/>
         <xs:include schemaLocation="../class/MeddelelseBatch.xsd"/>
         <xs:include schemaLocation="../class/Meddelelse.xsd"/>
         <xs:include schemaLocation="../operational/DatoTidSoegFra.xsd"/>
				     
         <xs:include schemaLocation="../operational/DatoTidSoegTil.xsd"/>
				     
         <xs:include schemaLocation="../class/FormateretMeddelelse.xsd"/>
         <xs:element name="MeddelelseStatusMultiHent_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:MeddelelseStatusMultiHent_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r14933"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="MeddelelseStatusMultiHent_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="SøgeValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:sequence>
                                 <xs:element name="BatchValg">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:FagsystemNavn"/>
                  
                                          <xs:element ref="fase2.1:MeddelelseBatchID"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="PartielBatchValg">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:FagsystemNavn"/>
                  
                                          <xs:element ref="fase2.1:MeddelelseBatchID"/>
                                          <xs:element name="MeddelelseStart">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:MeddelelseAfsenderReference"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                          <xs:element name="MeddelelseSlut">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:MeddelelseAfsenderReference"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="ÆndretStatusValg">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:FagsystemNavn"/>
                  
                                          <xs:element ref="fase2.1:MeddelelseBatchID"/>
                  
                                          <xs:element ref="fase2.1:DatoTidSøgFra"/>

                                          <xs:element ref="fase2.1:DatoTidSøgTil" minOccurs="0"/>


                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="EnkeltMeddelelseValg">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:FagsystemNavn"/>
                  
                                          <xs:element ref="fase2.1:MeddelelseBatchID"/>
                  
                                          <xs:element ref="fase2.1:MeddelelseID"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="EnkeltFormatteretMeddelelseValg">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:FagsystemNavn"/>
                  
                                          <xs:element ref="fase2.1:MeddelelseBatchID"/>
                  
                                          <xs:element ref="fase2.1:FormateretMeddelelseID"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
