systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 SLS P/WSDL/package/wsdl/PersonKontrolOplysningHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="PersonKontrolOplysningHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Udtrækker oplysninger fra R75 for en personLevere overblik over personlige skatteforhold mhp. kontrol eller sagsbehandling.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/PersonKontrolOplysningHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="PersonKontrolOplysningHentServiceRequest">
      
      <part name="Request" element="fase2.1:PersonKontrolOplysningHent_I"/>
   
   </message>
   
   <message name="PersonKontrolOplysningHentServiceResponse">
      
      <part name="Response" element="fase2.1:PersonKontrolOplysningHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="PersonKontrolOplysningHentServicePortType">
      
      <operation name="getPersonKontrolOplysningHent">
         
         <input message="fase2.1:PersonKontrolOplysningHentServiceRequest"/>
         
         <output message="fase2.1:PersonKontrolOplysningHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
