systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/AlternativUdbetalingKanalStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/DMIUdbetaling.xsd"/>
         <xs:include schemaLocation="../operational/DMIUdbetalingKontoNummer.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:element name="AlternativUdbetalingKanalStruktur"
                     type="fase2.1:AlternativUdbetalingKanalStrukturType"/>
         <xs:complexType name="AlternativUdbetalingKanalStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:DMIUdbetalingForm"/>
                  <!--Sequence removed-->

                     <xs:element name="SupplerendeBankOplysningerValg" minOccurs="0">
                        <xs:complexType>
                           <xs:choice>
                              <xs:sequence>
                                 <xs:element name="DanskBankOverførsel">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIUdbetalingRegistreringsNummer"/>
                  
                                          <xs:element ref="fase2.1:DMIUdbetalingKontoNummer"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="UdenlandskBankOverførsel">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIUdbetalingBankLand"/>

                                          <xs:element ref="fase2.1:DMIUdbetalingBankNavn" minOccurs="0"/>


                                          <xs:element name="OverførselValg">
                                             <xs:complexType>
                                                <xs:choice>
                                                   <xs:sequence>
                                                      <xs:element name="AlmindeligOverførsel">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element ref="fase2.1:DMIUdbetalingBankNøgle"/>
                  
                                                               <xs:element ref="fase2.1:DMIUdbetalingKontoNummer"/>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
				
				                                               </xs:sequence>
                                                   <xs:sequence>
				
                                                      <xs:element name="IBANOverførsel">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element ref="fase2.1:DMIUdbetalingSwiftKode"/>
                  
                                                               <xs:element ref="fase2.1:DMIUdbetalingIBANKode"/>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
                                                   </xs:sequence>
                                                </xs:choice>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="NemKontoUdbetaling">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIUdbetalingEgenNemkonto"/>

                                          <xs:element ref="fase2.1:KundeStruktur" minOccurs="0"/>


                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  
               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
