systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIBetalingOrdningForslagBeregn_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/BetalingOrdning.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/BetalingOrdningRate.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../operational/SimuleretInddrivelseRentePeriodeFraDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/SimuleretInddrivelseRentePeriodeTilDato.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/BetalingOrdningDaek.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingOrdningBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingOrdningRateBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/SimuleretInddrivelseRenteBeloebStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/AfledtOmkostningBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DaekningRaekkefoelgeBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringDaekningBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIBetalingOrdningForslagBeregn_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIBetalingOrdningForslagBeregn_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIBetalingOrdningForslagBeregn_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="Betalingsordningforslag" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:KundeStruktur"/>
                  
                              <xs:element ref="fase2.1:BetalingOrdningStart"/>
                  
                              <xs:element ref="fase2.1:BetalingOrdningRatefrekvens"/>
                  
                              <xs:element ref="fase2.1:BetalingOrdningBeløbStruktur"/>
                              <xs:element name="RatePlanListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="RatePlan" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:BetalingOrdningRateBeløbStruktur"/>
                  
                                                <xs:element ref="fase2.1:BetalingOrdningRateSRBDato"/>
                  
                                                <xs:element ref="fase2.1:SimuleretInddrivelseRenteBeløbStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element name="SimuleretInddrivelsesrenteListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="SimuleretInddrivelsesrente" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>
                  
                                                <xs:element ref="fase2.1:SimuleretInddrivelseRentePeriodeFraDato"/>
                  
                                                <xs:element ref="fase2.1:SimuleretInddrivelseRentePeriodeTilDato"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringTypeFradragsret"/>
                  
                                                <xs:element ref="fase2.1:SimuleretInddrivelseRenteBeløbStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element name="AfledtOmkostningListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="AfledtOmkostning" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:AfledtOmkostningBeløbStruktur"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element name="FordringListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="Fordring" minOccurs="1" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>

                                                <xs:element ref="fase2.1:BetalingOrdningDækPriorit" minOccurs="0"/>

                                                <xs:element ref="fase2.1:DækningRækkefølgeBeløbStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element name="IkkeDækkedeFordringListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="Fordring" minOccurs="1" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                                <xs:element ref="fase2.1:FordringDækningBeløbStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
