systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIBetalingOrdningList_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
         <xs:include schemaLocation="../class/BetalingOrdning.xsd"/>
				     
         <xs:include schemaLocation="../class/Indsats.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/BetalingOrdningStatusAArsagKodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AlternativAdresseStrukturType.xsd"/>
				     
         <xs:element name="DMIBetalingOrdningList_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIBetalingOrdningList_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIBetalingOrdningList_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="BetalingsordningerListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Betalingsordning" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeStruktur"/>
                                       <!--Sequence removed-->

                                          <xs:element name="AlternativIndbetaler" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                                   <xs:element ref="fase2.1:BetalingOrdningUdbAlternIndb"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       
                                       <xs:element ref="fase2.1:BetalingOrdningID"/>
                  
                                       <xs:element ref="fase2.1:BetalingOrdningType"/>
                                       <xs:element name="BetalingOrdningStatus">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:BetalingOrdningStatusKode"/>
                  
                                                <xs:element ref="fase2.1:BetalingOrdningStatusÅrsagKodeStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element ref="fase2.1:BetalingOrdningStart"/>

                                       <xs:element ref="fase2.1:BetalingOrdningSlut" minOccurs="0"/>

                                       <xs:element ref="fase2.1:BetalingOrdningSidsteRateSRB"/>
                  
                                       <xs:element ref="fase2.1:BetalingOrdningOprettelseDato"/>

                                       <xs:element ref="fase2.1:BetalingOrdningIgangværRykker" minOccurs="0"/>



                                       <xs:element ref="fase2.1:BetalingOrdningRatefrekvens" minOccurs="0"/>

                                       <xs:element ref="fase2.1:IndsatsID"/>

                                       <xs:element ref="fase2.1:AlternativAdresseStruktur" minOccurs="0"/>


                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
