systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIBetalingOrdningForslagBeregn_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/BetalingOrdning.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../operational/HentRelateredeFordringer.xsd"/>
				     
         <xs:include schemaLocation="../class/BetalingOrdningDaek.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../operational/BetalingOrdningOpretRateIndeks.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/BetalingOrdningRate.xsd"/>
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingOrdningBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DaekningRaekkefoelgeBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingOrdningRateBeloebStrukturType.xsd"/>
				     
				     
				     
         <xs:element name="DMIBetalingOrdningForslagBeregn_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIBetalingOrdningForslagBeregn_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIBetalingOrdningForslagBeregn_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:KundeStruktur"/>
                  
                     <xs:element ref="fase2.1:BetalingOrdningType"/>

                     <xs:element ref="fase2.1:BetalingOrdningStart" minOccurs="0"/>



                     <xs:element ref="fase2.1:BetalingOrdningBeløbStruktur" minOccurs="0"/>


                     <xs:element name="FordringListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Fordring" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>

                                       <xs:element ref="fase2.1:HentRelateredeFordringer" minOccurs="0"/>



                                       <xs:element ref="fase2.1:BetalingOrdningDækPriorit" minOccurs="0"/>


                                       <!--Sequence removed-->

                                          <xs:element name="BetalingOrdningAndelValg" minOccurs="0">
                                             <xs:complexType>
                                                <xs:choice>
                                                   <xs:sequence>
                                                      <xs:element name="ProcentAndel">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element ref="fase2.1:BetalingOrdningDækProcent"/>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
				
				                                               </xs:sequence>
				                                               <xs:element ref="fase2.1:DækningRækkefølgeBeløbStruktur"/>
                                                </xs:choice>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                     <xs:element name="RateOgFrekvensValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:sequence>
                                 <xs:element name="A-AntalRaterOgFrekvens">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:BetalingOrdningAntalRater"/>
                  
                                          <xs:element ref="fase2.1:BetalingOrdningRatefrekvens"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="B-RateBeløbOgFrekvens">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:BetalingOrdningRateBeløbStruktur"/>
                  
                                          <xs:element ref="fase2.1:BetalingOrdningRatefrekvens"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="E-SidsteRateSRBOgFrekvens">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:BetalingOrdningSidsteRateSRB"/>
                  
                                          <xs:element ref="fase2.1:BetalingOrdningRatefrekvens"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="D-RateBeløbAntalRaterOgFrekvens">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:BetalingOrdningRateBeløbStruktur"/>
                  
                                          <xs:element ref="fase2.1:BetalingOrdningAntalRater"/>
                  
                                          <xs:element ref="fase2.1:BetalingOrdningRatefrekvens"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="C-RatebeløbOgBetalingsFristListe">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="RateBetalingFrist" minOccurs="1" maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element ref="fase2.1:BetalingOrdningOpretRateIndeks" minOccurs="0"/>

                                                   <xs:element ref="fase2.1:BetalingOrdningRateBeløbStruktur"/>
                  
                                                   <xs:element ref="fase2.1:BetalingOrdningRateSRBDato"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              </xs:sequence>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
