systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIBetalingOrdningAEndr_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/BetalingOrdning.xsd"/>
				     
				     
         <xs:include schemaLocation="../operational/BetalingOrdningRykRateGebyr.xsd"/>
				     
         <xs:include schemaLocation="../class/ForventetIndbetaling.xsd"/>
         <xs:include schemaLocation="../class/Indsats.xsd"/>
				     
         <xs:include schemaLocation="../class/BetalingOrdningRate.xsd"/>
         <xs:include schemaLocation="../operational/BetalingOrdningOpretRateIndeks.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../operational/HentRelateredeFordringer.xsd"/>
				     
         <xs:include schemaLocation="../class/BetalingOrdningDaek.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingOrdningStatusAArsagKodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AlternativAdresseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingOrdningRateBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingOrdningRateAArsStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DaekningRaekkefoelgeBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIBetalingOrdningÆndr_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIBetalingOrdningÆndr_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIBetalingOrdningÆndr_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="BetalingOrdningOplysninger">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:BetalingOrdningID"/>
                  
                              <xs:element ref="fase2.1:BetalingOrdningStart"/>

                              <xs:element ref="fase2.1:BetalingOrdningSlut" minOccurs="0"/>


                              <!--Sequence removed-->

                                 <xs:element name="AlternativIndbetaler" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                          <xs:element ref="fase2.1:BetalingOrdningUdbAlternIndb"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              
                              <xs:element ref="fase2.1:BetalingOrdningType"/>
                              <!--Sequence removed-->

                                 <xs:element name="BetalingOrdningErstatterID" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:BetalingOrdningID"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                              <xs:element name="BetalingOrdningStatus">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:BetalingOrdningStatusKode"/>
                  
                                       <xs:element ref="fase2.1:BetalingOrdningStatusÅrsagKodeStruktur"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element ref="fase2.1:BetalingOrdningBSMarkering"/>
                  
                              <xs:element ref="fase2.1:BetalingOrdningRykRate"/>
                  
                              <xs:element ref="fase2.1:BetalingOrdningRykRateGebyr"/>

                              <xs:element ref="fase2.1:BetalingOrdningKundeBankRegNr" minOccurs="0"/>



                              <xs:element ref="fase2.1:BetalingOrdningKundeBankKonto" minOccurs="0"/>

                              <xs:element ref="fase2.1:BetalingOrdningPåmind"/>
                  
                              <xs:element ref="fase2.1:BetalingOrdningSendMeddelelse"/>
                  
                              <xs:element ref="fase2.1:BetalingOrdningOpsatAfSpor"/>

                              <xs:element ref="fase2.1:BetalingOrdningGiroSendFørSRB" minOccurs="0"/>



                              <xs:element ref="fase2.1:ForventetIndbetalingHændelse" minOccurs="0"/>

                              <xs:element ref="fase2.1:IndsatsID"/>

                              <xs:element ref="fase2.1:AlternativAdresseStruktur" minOccurs="0"/>


                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="RatePlanListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Rate" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:BetalingOrdningID"/>
                  
                                       <xs:element ref="fase2.1:BetalingOrdningRateID"/>

                                       <xs:element ref="fase2.1:BetalingOrdningOpretRateIndeks" minOccurs="0"/>

                                       <xs:element ref="fase2.1:BetalingOrdningRateBeløbStruktur"/>
                  
                                       <xs:element ref="fase2.1:BetalingOrdningRateSRBDato"/>

                                       <xs:element ref="fase2.1:ForventetIndbetalingHændelse" minOccurs="0"/>


                                       <xs:element name="BetalingOrdningRateStatusOplysninger">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:BetalingOrdningRateStatusKode"/>
                  
                                                <xs:element ref="fase2.1:BetalingOrdningRateÅrsStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                     <xs:element name="FordringListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Fordring" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>

                                       <xs:element ref="fase2.1:HentRelateredeFordringer" minOccurs="0"/>



                                       <xs:element ref="fase2.1:BetalingOrdningDækPriorit" minOccurs="0"/>


                                       <!--Sequence removed-->

                                          <xs:element name="BetalingOrdningValg" minOccurs="0">
                                             <xs:complexType>
                                                <xs:choice>
                                                   <xs:sequence>
                                                      <xs:element name="Procentandel">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element ref="fase2.1:BetalingOrdningDækProcent"/>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
				
				                                               </xs:sequence>
				                                               <xs:element ref="fase2.1:DækningRækkefølgeBeløbStruktur"/>
                                                </xs:choice>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
