systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIDWTransportEllerUdlaegsfordringListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/CRUDFunktionType.xsd"/>
				     
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../operational/DMITransaktionIDType.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/TransportUdlaeg.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetaling.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
         <xs:include schemaLocation="../view/MyndighedUdbetalingPeriodeStrukturType.xsd"/>
				     
         <xs:element name="DMIDWTransportEllerUdlægsfordringListeStruktur"
                     type="fase2.1:DMIDWTransportEllerUdlægsfordringListeStrukturType"/>
         <xs:complexType name="DMIDWTransportEllerUdlægsfordringListeStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <!--Sequence removed-->

                  <xs:element name="TransportEllerUdlægsfordring">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:CRUDFunktionType"/>
                  
                           <xs:element ref="fase2.1:DMITransaktionID"/>
                  
                           <xs:element ref="fase2.1:DMITransaktionIDType"/>
                  
                           <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                           <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                           <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                           <xs:element ref="fase2.1:DMIFordringModtagelseDato"/>

                           <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>



                           <xs:element ref="fase2.1:DMIFordringBogførtDen" minOccurs="0"/>

                           <xs:element ref="fase2.1:TransportUdlægUbegrænset"/>
                  
                           <xs:element ref="fase2.1:TransportUdlægVerificeres"/>
                  
                           <xs:element ref="fase2.1:MyndighedUdbetalingNKSNr"/>
                  
                           <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode"/>
                  
                           <xs:element ref="fase2.1:MyndighedUdbetalingPeriodeStruktur"/>
                  
                           <xs:element ref="fase2.1:TransportUdlægAcceptDato"/>
                  
                           <xs:element ref="fase2.1:TransportUdlægKorrektionDato"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
