systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIDWHaeftelseForaeldelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/CRUDFunktionType.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/Haeftelse.xsd"/>
         <xs:element name="DMIDWHæftelseForældelseStruktur"
                     type="fase2.1:DMIDWHæftelseForældelseStrukturType"/>
         <xs:complexType name="DMIDWHæftelseForældelseStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <!--Sequence removed-->

                  <xs:element name="DMIDWHæftelseForældelse">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:CRUDFunktionType"/>
                  
                           <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                           <xs:element ref="fase2.1:KundeNummer"/>
                  
                           <xs:element ref="fase2.1:KundeType"/>
                  
                           <xs:element ref="fase2.1:HæftelseForældelseDatoID"/>
                  
                           <xs:element ref="fase2.1:HæftelseForældelseDatoAktiv"/>
                  
                           <xs:element ref="fase2.1:HæftelseForældelseDato"/>
                  
                           <xs:element ref="fase2.1:HæftelseBasisDatoForBeregning"/>
                           <xs:element name="HæftelseForældelseÅrsagStruktur">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:HæftelseForældelseÅrsagKode"/>
                  
                                    <xs:element ref="fase2.1:HæftelseForældelseÅrsagBegr"/>

                                    <xs:element ref="fase2.1:HæftelseForældelseÅrsagTekst" minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
