systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIDWTransportTransaktionListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/CRUDFunktionType.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../operational/DMITransaktionIDType.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/FordringAfskrivning.xsd"/>
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
         <xs:include schemaLocation="../view/DMIIndberetterHentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMITransaktionBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIDWTransportTransaktionListeStruktur"
                     type="fase2.1:DMIDWTransportTransaktionListeStrukturType"/>
         <xs:complexType name="DMIDWTransportTransaktionListeStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <!--Sequence removed-->

                  <xs:element name="TransportTransaktion">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:CRUDFunktionType"/>
                  
                           <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                           <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                  
                           <xs:element ref="fase2.1:KundeNummer"/>
                  
                           <xs:element ref="fase2.1:KundeType"/>
                  
                           <xs:element ref="fase2.1:DMITransaktionType"/>
                  
                           <xs:element ref="fase2.1:DMITransaktionID"/>
                  
                           <xs:element ref="fase2.1:DMITransaktionIDType"/>
                  
                           <xs:element ref="fase2.1:DMITransaktionBeløbStruktur"/>

                           <xs:element ref="fase2.1:FordringAfskrivningProcent" minOccurs="0"/>

                           <xs:element ref="fase2.1:DMITransaktionDato"/>

                           <xs:element ref="fase2.1:DMITransaktionVirkningDato" minOccurs="0"/>

                           <xs:element ref="fase2.1:DMITransaktionBogføringDato"/>

                           <xs:element ref="fase2.1:DMITransaktionÅrsagKode" minOccurs="0"/>



                           <xs:element ref="fase2.1:DMITransaktionÅrsagBegr" minOccurs="0"/>



                           <xs:element ref="fase2.1:DMITransaktionÅrsagTekst" minOccurs="0"/>



                           <xs:element ref="fase2.1:DMIIndbetalingArt" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
