systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIDWIndbetalingListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/CRUDFunktionType.xsd"/>
				     
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../operational/DMITransaktionIDType.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
				     
         <xs:include schemaLocation="../class/BetalingOrdning.xsd"/>
         <xs:include schemaLocation="../class/BetalingOrdningRate.xsd"/>
         <xs:include schemaLocation="../class/ForventetIndbetaling.xsd"/>
				     
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterHentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/MyndighedUdbetalingPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IndbetalingBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIDWIndbetalingListeStruktur"
                     type="fase2.1:DMIDWIndbetalingListeStrukturType"/>
         <xs:complexType name="DMIDWIndbetalingListeStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <!--Sequence removed-->

                  <xs:element name="Indbetaling">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:CRUDFunktionType"/>
                  
                           <xs:element ref="fase2.1:DMITransaktionID"/>
                  
                           <xs:element ref="fase2.1:DMITransaktionIDType"/>
                  
                           <xs:element ref="fase2.1:DMIIndbetalingID"/>
                  
                           <xs:element ref="fase2.1:DMIIndbetalingDato"/>
                  
                           <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>

                           <xs:element ref="fase2.1:DMIIndbetalingBogførtDen" minOccurs="0"/>

                           <xs:element ref="fase2.1:DMIIndbetalingArt"/>
                  
                           <xs:element ref="fase2.1:DMIIndbetalingKilde"/>

                           <xs:element ref="fase2.1:DMIIndbetalingAfsender" minOccurs="0"/>



                           <xs:element ref="fase2.1:BetalingOrdningID" minOccurs="0"/>



                           <xs:element ref="fase2.1:BetalingOrdningRateID" minOccurs="0"/>



                           <xs:element ref="fase2.1:ForventetIndbetalingID" minOccurs="0"/>


                           <xs:element name="IndrivelseKunde">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:KundeStruktur"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>

                           <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode" minOccurs="0"/>



                           <xs:element ref="fase2.1:MyndighedUdbetalingPeriodeStruktur" minOccurs="0"/>

                           <xs:element ref="fase2.1:IndbetalingBeløbStruktur"/>

                           <xs:element ref="fase2.1:DMIIndbetalingEFIIndsatsID" minOccurs="0"/>



                           <xs:element ref="fase2.1:DMIIndbetalingEFIIndbetalingID" minOccurs="0"/>



                           <xs:element ref="fase2.1:DMIIndbetalingAdvisTekst" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
