systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIDWHaeftelseRenteFritagListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/CRUDFunktionType.xsd"/>
				     
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/HaeftelseRenteFritag.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRenteFritagAArsagStrukturType.xsd"/>
				     
         <xs:element name="DMIDWHæftelseRenteFritagListeStruktur"
                     type="fase2.1:DMIDWHæftelseRenteFritagListeStrukturType"/>
         <xs:complexType name="DMIDWHæftelseRenteFritagListeStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <!--Sequence removed-->

                  <xs:element name="HæftelseRenteFritag">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:CRUDFunktionType"/>
                  
                           <xs:element ref="fase2.1:DMITransaktionID"/>
                  
                           <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                           <xs:element ref="fase2.1:KundeNummer"/>
                  
                           <xs:element ref="fase2.1:KundeType"/>

                           <xs:element ref="fase2.1:HæftelseRenteFritagID" minOccurs="0"/>

                           <xs:element ref="fase2.1:HæftelseRenteFritagStart"/>
                  
                           <xs:element ref="fase2.1:HæftelseRenteFritagSlut"/>
                  
                           <xs:element ref="fase2.1:HæftelseRenteFritagStatusKode"/>
                  
                           <xs:element ref="fase2.1:HæftelseRenteFritagÅrsagStruktur"/>

                           <xs:element ref="fase2.1:HæftelseRenteFritagAnnDato" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
