systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIFordringNedskrivSvarStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Kunde.xsd"/>
				     
				     
         <xs:include schemaLocation="../operational/DMIReduceretBeloeb.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/NedskrivningBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIFordringNedskrivSvarStruktur"
                     type="fase2.1:DMIFordringNedskrivSvarStrukturType"/>
         <xs:complexType name="DMIFordringNedskrivSvarStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <!--Sequence removed-->

                     <xs:element name="Kunde" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:KundeNummer"/>
                  
                              <xs:element ref="fase2.1:KundeType"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  

                  <xs:element name="RestBeløb">
                     <xs:complexType>
                        <xs:choice>
                           <xs:sequence>
                              <xs:element name="FordringRestBeløb">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
				
				                       </xs:sequence>
                           <xs:sequence>
				
                              <xs:element name="HæftelseRestBeløb">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:HæftelseRestBeløbStruktur"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
                  <xs:element ref="fase2.1:DMIReduceretBeløb"/>
                  <xs:element name="NedskrivningBeløb">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:NedskrivningBeløbStruktur"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
