systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIFordringOpretFejlStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/DMIFordringOpretFejlNummer.xsd"/>
				     
         <xs:include schemaLocation="../operational/DMIFordringOpretFejlTekst.xsd"/>
				     
         <xs:include schemaLocation="../operational/DMIFordringOpretFejlParam.xsd"/>
				     
         <xs:element name="DMIFordringOpretFejlStruktur"
                     type="fase2.1:DMIFordringOpretFejlStrukturType"/>
         <xs:complexType name="DMIFordringOpretFejlStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:DMIFordringOpretFejlNummer"/>
                  
                  <xs:element ref="fase2.1:DMIFordringOpretFejlTekst"/>
               <xs:element name="DMIFordringOpretFejlParamSamling">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="fase2.1:DMIFordringOpretFejlParam" minOccurs="0" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
