systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIForventetIndbetalingList_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/ForventetIndbetaling.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Indsats.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
         <xs:include schemaLocation="../class/ForventetIndbetalingDaek.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterHentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/ForventetIndbetalingStatusAArsagStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/SimuleretRenteBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IndbetalingRaekkefoelgeBeloebStrukturType.xsd"/>
				     
				     
         <xs:element name="DMIForventetIndbetalingList_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIForventetIndbetalingList_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIForventetIndbetalingList_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="ForventetIndbetalingList" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="ForventetIndbetaling" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                  
                                       <xs:element ref="fase2.1:ForventetIndbetalingID"/>
                                       <xs:element name="StatusOplysninger">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:ForventetIndbetalingKode"/>
                  
                                                <xs:element ref="fase2.1:ForventetIndbetalingStatusÅrsagStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element ref="fase2.1:ForventetIndbetalingOCRLinie"/>
                                       <xs:element name="Kunde">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                                <xs:element ref="fase2.1:ForventetIndbetalingSRBDato"/>
                  
                                                <xs:element ref="fase2.1:ForventetIndbetalingHændelse"/>
                  
                                                <xs:element ref="fase2.1:IndsatsID"/>
                                                <xs:element name="FordringListe">
                                                   <xs:complexType>
                                                      <xs:sequence>

                                                         <xs:element name="Fordring" minOccurs="1" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                               <xs:sequence>
                                                                  <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                                                  <xs:element ref="fase2.1:SimuleretRenteBeløbStruktur"/>
                                                                  <!--Sequence removed-->

                                                                     <xs:element name="DækningRækkefølgeOplysning" minOccurs="0">
                                                                        <xs:complexType>
                                                                           <xs:sequence>

                                                                              <xs:element ref="fase2.1:ForventetIndbetalingDækPriorit" minOccurs="0"/>


                                                                              <xs:element name="ForventetIndbetalingAndelValg">
                                                                                 <xs:complexType>
                                                                                    <xs:choice>
                                                                                       <xs:element ref="fase2.1:ForventetIndbetalingDækProcent"/>
				
				
				                                                                                   <xs:element ref="fase2.1:IndbetalingRækkefølgeBeløbStruktur"/>
                                                                                    </xs:choice>
                                                                                 </xs:complexType>
                                                                              </xs:element>
                                                                           </xs:sequence>
                                                                        </xs:complexType>
                                                                     </xs:element>
                                                                  

                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>

                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <!--Sequence removed-->

                                          <xs:element name="AlternativIndbetaler" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:ForventetIndbetalingUdbAltIndb"/>
                  
                                                   <xs:element ref="fase2.1:KundeStruktur"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
