systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIForventetIndbetalingList_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/ForventetIndbetaling.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
				     
         <xs:element name="DMIForventetIndbetalingList_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIForventetIndbetalingList_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIForventetIndbetalingList_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="SøgeValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:element ref="fase2.1:ForventetIndbetalingID"/>
				
				                          <xs:sequence>
				
                                 <xs:element name="IndrivelseKunde">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KundeStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="AlternativIndbetaler">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KundeStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="Fordring">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
