systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIFordringHaverAftaleOplysningerAEndr_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
         <xs:include schemaLocation="../class/DMIFordringHaver.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/FordringHaverAftale.xsd"/>
         <xs:include schemaLocation="../class/AfregningKonto.xsd"/>
         <xs:include schemaLocation="../class/Valuta.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/FordHaverFordType.xsd"/>
         <xs:include schemaLocation="../view/DMIIndberetterOpretStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringHaverStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransportUdlaegGyldigPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AlternativAdresseStrukturType.xsd"/>
				     
         <xs:element name="DMIFordringHaverAftaleOplysningerÆndr_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIFordringHaverAftaleOplysningerÆndr_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIFordringHaverAftaleOplysningerÆndr_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="FordringHaverAftaleListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="FordringHaverAftale" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndberetterOpretStruktur"/>
                  
                                       <xs:element ref="fase2.1:FordringHaverStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringHaverAftaleType"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringHaverAftaleStart"/>

                                       <xs:element ref="fase2.1:DMIFordringHaverAftaleSlut" minOccurs="0"/>



                                       <xs:element ref="fase2.1:TransportUdlægGyldigPeriodeStruktur" minOccurs="0"/>


                                       <xs:element name="FordringOplysninger">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element name="FordringArtListe">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:DMIFordringFordringArtKode" minOccurs="1" maxOccurs="4"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>

                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="Modregningoplysninger">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:FordringHaverAftaleInternModr"/>
                  
                                                <xs:element ref="fase2.1:AfregningKontoOpdModregning"/>
                  
                                                <xs:element ref="fase2.1:AfregningKontoNKSNrModregning"/>
                  
                                                <xs:element ref="fase2.1:AfregningKontoRIMSendUnderret"/>
                  
                                                <xs:element ref="fase2.1:AfregningKontoOplOmModregning"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="Afregningoplysninger">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:AfregningKontoFrekvens"/>
                  
                                                <xs:element ref="fase2.1:ValutaKode"/>
                  
                                                <xs:element ref="fase2.1:AfregningKontoMetode"/>
                  
                                                <xs:element ref="fase2.1:AfregningKontoIRMetode"/>
                                                <!--Sequence removed-->

                                                   <xs:element name="CheckAdresse" minOccurs="0">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:AlternativAdresseStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                


                                                <xs:element ref="fase2.1:AfregningKontoIBANNummer" minOccurs="0"/>



                                                <xs:element ref="fase2.1:AfregningKontoSWIFTKode" minOccurs="0"/>



                                                <xs:element ref="fase2.1:AfregningKontoAltDkKonto" minOccurs="0"/>

                                                <xs:element ref="fase2.1:AfregningKontoMinimumBeløb"/>
                  
                                                <xs:element ref="fase2.1:AfregningKontoKursDifference"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="FordringTypeOplysningerListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="FordringType" minOccurs="1" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                                                         <xs:element name="FordringHaverFordringType">
                                                            <xs:complexType>
                                                               <xs:sequence>
                                                                  <xs:element ref="fase2.1:FordHaverFordTypeAfrSpecØnskes"/>

                                                                  <xs:element ref="fase2.1:FordHaverFordTypeAfrMetode" minOccurs="0"/>

                                                                  <xs:element ref="fase2.1:FordHaverFordTypeAfrIR"/>

                                                                  <xs:element ref="fase2.1:FordHaverFordTypeIBANNr" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:FordHaverFordTypeSWIFTKode" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:FordHaverFordTypeAltDkKontoNr" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:FordHaverFordTypeSENrNemKonto" minOccurs="0"/>

                                                                  <xs:element ref="fase2.1:FordHaverFordTypeAfrHeleKroner"/>
                                                                  <xs:element name="OplysningerOmModregningPerFordringstype">
                                                                     <xs:complexType>
                                                                        <xs:sequence>

                                                                           <xs:element ref="fase2.1:FordHaverFordTypeIntModrMeddJa" minOccurs="0"/>



                                                                           <xs:element ref="fase2.1:FordHaverFordTypeAfrModrFrekv" minOccurs="0"/>



                                                                           <xs:element ref="fase2.1:FordHaverFordTypeAfrOplIntModr" minOccurs="0"/>


                                                                        </xs:sequence>
                                                                     </xs:complexType>
                                                                  </xs:element>
                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
