systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIFordringReturner_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
         <xs:include schemaLocation="../class/HovedFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
         <xs:include schemaLocation="../operational/GenoptagDaekning.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIIndberetterOpretStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HovedFordringReturnerAArsagStrukturType.xsd"/>
				     
         <xs:element name="DMIFordringReturner_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIFordringReturner_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIFordringReturner_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="FordringReturnerListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="ReturneretFordring" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndberetterOpretStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMITransaktionLøbenummer"/>
                                       <xs:element name="RelateretFordringKategoriListe">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:DMIFordringTypeKategori" minOccurs="0" maxOccurs="unbounded"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <xs:element ref="fase2.1:HovedFordringReturnerÅrsagStruktur"/>
                  
                                       <xs:element ref="fase2.1:HovedFordringReturDato"/>

                                       <xs:element ref="fase2.1:HovedFordringReturBogførtDen" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIFordringVirkningFra"/>
                                       <xs:element name="VerificeringAfTransporterUdlæg">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element ref="fase2.1:DMIIndbetalingID" minOccurs="0"/>



                                                <xs:element ref="fase2.1:GenoptagDækning" minOccurs="0"/>


                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
