systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIFordringHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringHaver.xsd"/>
         <xs:include schemaLocation="../operational/HentRelateredeFordringer.xsd"/>
				     
         <xs:include schemaLocation="../operational/InddrivelseRenteHaeftelseForaeldelseBeregn.xsd"/>
				     
         <xs:include schemaLocation="../operational/RenterTilDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/SaldoPerDato.xsd"/>
				     
         <xs:include schemaLocation="../operational/Historik.xsd"/>
				     
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:element name="DMIFordringHent_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIFordringHent_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIFordringHent_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="SøgekritierieListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Søgekriterie" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="Valg">
                                          <xs:complexType>
                                             <xs:choice>
                                                <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
				
				                                            <xs:sequence>
				
                                                   <xs:element name="EksternReference">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:DMIFordringHaverID"/>
                  
                                                            <xs:element ref="fase2.1:DMIFordringFordringHaverRef"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element ref="fase2.1:HentRelateredeFordringer"/>

                                       <xs:element ref="fase2.1:InddrivelseRenteHæftelseForældelseBeregn" minOccurs="0"/>



                                       <xs:element ref="fase2.1:RenterTilDato" minOccurs="0"/>



                                       <xs:element ref="fase2.1:SaldoPerDato" minOccurs="0"/>



                                       <xs:element ref="fase2.1:Historik" minOccurs="0"/>


                                       <!--Sequence removed-->

                                          <xs:element name="SøgningPåFordringshaverEllerRettighedshaver" minOccurs="0">
                                             <xs:complexType>
                                                <xs:choice>
                                                   <xs:sequence>
                                                      <xs:element name="FordringsHaver">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element ref="fase2.1:DMIFordringHaverID"/>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
				
				                                               </xs:sequence>
                                                   <xs:sequence>
				
                                                      <xs:element name="RettighedsHaver">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element ref="fase2.1:KundeNummer"/>
                  
                                                               <xs:element ref="fase2.1:KundeType"/>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
                                                   </xs:sequence>
                                                </xs:choice>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
