systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIFordringAfskriv_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../operational/DMIFordringAfskrivID.xsd"/>
				     
         <xs:include schemaLocation="../class/Kunde.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterHentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AfskrevetBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIFordringAfskriv_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIFordringAfskriv_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIFordringAfskriv_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="FordringAfskrivListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="FordringAfskrivningSvar" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMITransaktionLøbenummer"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>

                                       <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIFordringTypeKategori"/>

                                       <xs:element ref="fase2.1:DMIFordringAfskrivID" minOccurs="0"/>


                                       <!--Sequence removed-->

                                          <xs:element name="Kunde" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:KundeNummer"/>
                  
                                                   <xs:element ref="fase2.1:KundeType"/>
                  
                                                   <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                       <xs:element name="RestbeløbValg">
                                          <xs:complexType>
                                             <xs:choice>
                                                <xs:sequence>
                                                   <xs:element name="FordringRestBeløb">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
				
				                                            </xs:sequence>
                                                <xs:sequence>
				
                                                   <xs:element name="HæftelseRestBeløb">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:HæftelseRestBeløbStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element ref="fase2.1:AfskrevetBeløbStruktur"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
