systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIFordringAsynkronRegulering_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../operational/FordringReguleringBatchID.xsd"/>
				     
         <xs:include schemaLocation="../class/FordringReguleringAktion.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringHaver.xsd"/>
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterOpretStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIFordringNedskrivStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIFordringOpskrivStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMITransportNedskrivStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMITransportOpskrivStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIFordringTilbagekaldStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMITransportTilbagekaldStrukturType.xsd"/>
				     
         <xs:element name="DMIFordringAsynkronRegulering_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIFordringAsynkronRegulering_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIFordringAsynkronRegulering_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:FordringReguleringBatchID"/>
                     <xs:element name="FordringAktionSamling">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="FordringAktion" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:FordringReguleringAktionTypeKode"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringHaverID"/>
                  
                                       <xs:element ref="fase2.1:DMITransaktionLøbenummer"/>
                  
                                       <xs:element ref="fase2.1:DMIIndberetterOpretStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                                       <xs:element name="AktionValg">
                                          <xs:complexType>
                                             <xs:choice>
                                                <xs:element ref="fase2.1:DMIFordringNedskrivStruktur"/>
				
				
				                                            <xs:element ref="fase2.1:DMIFordringOpskrivStruktur"/>
				
				
				                                            <xs:element ref="fase2.1:DMITransportNedskrivStruktur"/>
				
				
				                                            <xs:element ref="fase2.1:DMITransportOpskrivStruktur"/>
				
				
				                                            <xs:element ref="fase2.1:DMIFordringTilbagekaldStruktur"/>
				
				
				                                            <xs:element ref="fase2.1:DMITransportTilbagekaldStruktur"/>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
