systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIFordringHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/Haeftelse.xsd"/>
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/TransportUdlaeg.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetaling.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterHentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringPeriodeStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/FordringStopListeStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseStopListeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseModregningStopListeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRenteFritagListeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseAfgiftBeregningStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIFordringFundamentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransaktionDaekningElementStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransaktionElementStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RenteValgStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringHaverRelationStrukturType.xsd"/>
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/MyndighedUdbetalingPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransportRettighedshaverElementUdStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/TransportTransaktionElementStrukturType.xsd"/>
				     
         <xs:element name="DMIFordringHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIFordringHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIFordringHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="FordringListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="InddrivelsesfordringModregningRIMopkrævningsfordring" minOccurs="0"
                                    maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringTypeKategori"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>

                                       <xs:element ref="fase2.1:DMIFordringKlasse" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIFordringTypeKode"/>

                                       <xs:element ref="fase2.1:DMIFordringPEnhedNummer" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringModtagelseDato"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringStiftelseTidspunkt"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringForfaldDato"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringSRBDato"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringBogførtDen"/>
                  
                                       <xs:element ref="fase2.1:FordringBeløbStruktur"/>
                  
                                       <xs:element ref="fase2.1:FordringRestBeløbStruktur"/>
                  
                                       <xs:element ref="fase2.1:FordringPeriodeStruktur"/>

                                       <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>



                                       <xs:element ref="fase2.1:DMIFordringFordringHaverBeskr" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIFordringForeløbigFastsat"/>
                                       <!--Sequence removed-->

                                          <xs:element name="Hovedstol" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:FordringBeløbStruktur"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       
                                       <xs:element ref="fase2.1:FordringStopListeStruktur"/>
                                       <xs:element name="Hæftelseliste">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="Hæftelse" minOccurs="1" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                  
                                                         <xs:element ref="fase2.1:HæftelseUnderBobehandling"/>
                  
                                                         <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                                         <xs:element ref="fase2.1:HæftelseForm"/>

                                                         <xs:element ref="fase2.1:HæftelseSubsidiær" minOccurs="0"/>

                                                         <xs:element ref="fase2.1:HæftelseModtagelseDato"/>

                                                         <xs:element ref="fase2.1:HæftelseSlutDato" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:HæftelseBegrænsetProcent" minOccurs="0"/>

                                                         <xs:element ref="fase2.1:HæftelseRestBeløbStruktur"/>

                                                         <xs:element ref="fase2.1:HæftelseForældelseDato" minOccurs="0"/>

                                                         <xs:element ref="fase2.1:HæftelseMåForælde"/>

                                                         <xs:element ref="fase2.1:HæftelseOpkMyndRykkerDato1" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:HæftelseOpkMyndRykkerDato2" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:HæftelseKommentar" minOccurs="0"/>

                                                         <xs:element ref="fase2.1:HæftelseDom"/>

                                                         <xs:element ref="fase2.1:HæftelseDomDato" minOccurs="0"/>

                                                         <xs:element ref="fase2.1:HæftelseForlig"/>

                                                         <xs:element ref="fase2.1:HæftelseForligDato" minOccurs="0"/>

                                                         <xs:element ref="fase2.1:HæftelseStopListeStruktur"/>
                  
                                                         <xs:element ref="fase2.1:HæftelseModregningStopListeStruktur"/>
                  
                                                         <xs:element ref="fase2.1:HæftelseRenteFritagListeStruktur"/>

                                                         <xs:element ref="fase2.1:HæftelseAfgiftBeregningStruktur" minOccurs="0"/>



                                                         <xs:element ref="fase2.1:EFIFordringFundamentStruktur" minOccurs="0"/>


                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <xs:element name="TransaktionDækningElementListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="TransaktionDækningElement" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:TransaktionDækningElementStruktur"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <xs:element name="TransaktionListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="Transaktion" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:TransaktionElementStruktur"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>


                                       <xs:element ref="fase2.1:RenteValgStruktur" minOccurs="0"/>

                                       <xs:element ref="fase2.1:FordringHaverRelationStruktur"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                     <xs:element name="TransportEllerUdlægsfordringListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="TransportEllerUdlægsfordring" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                       <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringModtagelseDato"/>

                                       <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>



                                       <xs:element ref="fase2.1:DMIFordringBogførtDen" minOccurs="0"/>



                                       <xs:element ref="fase2.1:FordringBeløbStruktur" minOccurs="0"/>



                                       <xs:element ref="fase2.1:FordringRestBeløbStruktur" minOccurs="0"/>

                                       <xs:element ref="fase2.1:TransportUdlægUbegrænset"/>
                  
                                       <xs:element ref="fase2.1:TransportUdlægVerificeres"/>
                  
                                       <xs:element ref="fase2.1:MyndighedUdbetalingNKSNr"/>
                  
                                       <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode"/>
                  
                                       <xs:element ref="fase2.1:MyndighedUdbetalingPeriodeStruktur"/>
                  
                                       <xs:element ref="fase2.1:TransportUdlægAcceptDato"/>
                  
                                       <xs:element ref="fase2.1:TransportUdlægKorrektionDato"/>
                                       <xs:element name="TransportRettighedshaverListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="TransportRettighedHaver" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:TransportRettighedshaverElementUdStruktur"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <xs:element name="TransaktionDækningElementListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="TransaktionDækningElement" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:TransaktionDækningElementStruktur"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <xs:element name="TransportTransaktionListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="TransportTransaktion" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:TransportTransaktionElementStruktur"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
