systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIFordringAsynkronOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../operational/DMIFordringFordringHaverSkift.xsd"/>
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/Haeftelse.xsd"/>
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/TransportUdlaeg.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetaling.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterOpretStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringPeriodeStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/FordringStopListeStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseStopListeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseModregningStopListeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRenteFritagListeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/RenteValgStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringHaverRelationStrukturType.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../view/MyndighedUdbetalingPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransportRettighedshaverElementIndStrukturType.xsd"/>
				     
         <xs:element name="DMIFordringAsynkronOpret_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIFordringAsynkronOpret_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIFordringAsynkronOpret_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="Indberetter">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:DMIIndberetterOpretStruktur"/>
                              <xs:element name="Fordringliste">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="InddrivelseModregningsRIMopkrævningsfordring" minOccurs="0"
                                             maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                                <xs:element ref="fase2.1:DMITransaktionLøbenummer"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringTypeKode"/>

                                                <xs:element ref="fase2.1:DMIFordringKlasse" minOccurs="0"/>

                                                <xs:element ref="fase2.1:DMIFordringFordringHaverSkift"/>

                                                <xs:element ref="fase2.1:DMIFordringPEnhedNummer" minOccurs="0"/>

                                                <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>

                                                <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID" minOccurs="0"/>

                                                <xs:element ref="fase2.1:DMIFordringModtagelseDato"/>

                                                <xs:element ref="fase2.1:DMIFordringTypeKategori" minOccurs="0"/>

                                                <xs:element ref="fase2.1:DMIFordringStiftelseTidspunkt"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringForfaldDato"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringSRBDato"/>

                                                <xs:element ref="fase2.1:DMIFordringBogførtDen" minOccurs="0"/>

                                                <xs:element ref="fase2.1:FordringBeløbStruktur"/>
                  
                                                <xs:element ref="fase2.1:FordringPeriodeStruktur"/>

                                                <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>



                                                <xs:element ref="fase2.1:DMIFordringFordringHaverBeskr" minOccurs="0"/>

                                                <xs:element ref="fase2.1:DMIFordringForeløbigFastsat"/>
                                                <!--Sequence removed-->

                                                   <xs:element name="Hovedstol" minOccurs="0">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:FordringBeløbStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                
                                                <xs:element ref="fase2.1:FordringStopListeStruktur"/>
                                                <xs:element name="FordringHæftelseListe">
                                                   <xs:complexType>
                                                      <xs:sequence>

                                                         <xs:element name="FordringHæftelse" minOccurs="1" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                               <xs:sequence>
                                                                  <xs:element ref="fase2.1:DMIIndberetterOpretStruktur"/>
                  
                                                                  <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                                                  <xs:element ref="fase2.1:HæftelseForm"/>

                                                                  <xs:element ref="fase2.1:HæftelseSubsidiær" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:HæftelseUnderBobehandling" minOccurs="0"/>

                                                                  <xs:element ref="fase2.1:HæftelseStartDato"/>

                                                                  <xs:element ref="fase2.1:HæftelseSlutDato" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:HæftelseSubsiAutoAfskriv" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:HæftelseSubsiStartDato" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:HæftelseBegrænsetProcent" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:HæftelseForældelseDato" minOccurs="0"/>

                                                                  <xs:element ref="fase2.1:HæftelseForældelseAutoOpdater"/>

                                                                  <xs:element ref="fase2.1:HæftelseOpkMyndRykkerDato1" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:HæftelseOpkMyndRykkerDato2" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:HæftelseKommentar" minOccurs="0"/>



                                                                  <xs:element ref="fase2.1:HæftelseModtagelseDato" minOccurs="0"/>

                                                                  <xs:element ref="fase2.1:HæftelseDom"/>

                                                                  <xs:element ref="fase2.1:HæftelseDomDato" minOccurs="0"/>

                                                                  <xs:element ref="fase2.1:HæftelseForlig"/>

                                                                  <xs:element ref="fase2.1:HæftelseForligDato" minOccurs="0"/>

                                                                  <xs:element ref="fase2.1:HæftelseStopListeStruktur"/>
                  
                                                                  <xs:element ref="fase2.1:HæftelseModregningStopListeStruktur"/>
                  
                                                                  <xs:element ref="fase2.1:HæftelseRenteFritagListeStruktur"/>
                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>


                                                <xs:element ref="fase2.1:RenteValgStruktur" minOccurs="0"/>

                                                <xs:element ref="fase2.1:FordringHaverRelationStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element name="Transportudlægsfordringliste">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="TransportEllerUdlægsfordring" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                                <xs:element ref="fase2.1:DMITransaktionLøbenummer"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                                <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                                <xs:element ref="fase2.1:DMIFordringModtagelseDato"/>

                                                <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>



                                                <xs:element ref="fase2.1:FordringBeløbStruktur" minOccurs="0"/>

                                                <xs:element ref="fase2.1:TransportUdlægUbegrænset"/>
                  
                                                <xs:element ref="fase2.1:TransportUdlægVerificeres"/>
                  
                                                <xs:element ref="fase2.1:MyndighedUdbetalingNKSNr"/>
                  
                                                <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode"/>
                  
                                                <xs:element ref="fase2.1:MyndighedUdbetalingPeriodeStruktur"/>
                  
                                                <xs:element ref="fase2.1:TransportUdlægAcceptDato"/>

                                                <xs:element ref="fase2.1:DMIFordringBogførtDen" minOccurs="0"/>


                                                <xs:element name="TransportRettighedshaverListe">
                                                   <xs:complexType>
                                                      <xs:sequence>

                                                         <xs:element name="TransportRettighedHaver" minOccurs="1" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                               <xs:sequence>
                                                                  <xs:element ref="fase2.1:TransportRettighedshaverElementIndStruktur"/>
                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>

                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
