systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIHaeftelsesforholdList_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Haeftelse.xsd"/>
				     
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterHentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseBegraensetBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseStopListeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseModregningStopListeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRenteFritagListeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIFordringFundamentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseAfgiftBeregningStrukturType.xsd"/>
				     
         <xs:element name="DMIHæftelsesforholdList_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIHæftelsesforholdList_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIHæftelsesforholdList_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="HæftelsesforholdListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Hæftelsesforhold" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                  
                                       <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                       <xs:element ref="fase2.1:HæftelseForm"/>

                                       <xs:element ref="fase2.1:HæftelseSubsidiær" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HæftelseSubsiAutoAfskriv" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HæftelseSubsiAutoAfskrivUdløb" minOccurs="0"/>

                                       <xs:element ref="fase2.1:HæftelseStartDato"/>

                                       <xs:element ref="fase2.1:HæftelseSlutDato" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HæftelseSubsiStartDato" minOccurs="0"/>


                                       <!--Sequence removed-->

                                          <xs:element name="ValgHæftelse" minOccurs="0">
                                             <xs:complexType>
                                                <xs:choice>
                                                   <xs:element ref="fase2.1:HæftelseProcent"/>
				
				
				                                               <xs:element ref="fase2.1:HæftelseBeløbStruktur"/>
                                                </xs:choice>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                       <!--Sequence removed-->

                                          <xs:element name="ValgHæftelseBegrænset" minOccurs="0">
                                             <xs:complexType>
                                                <xs:choice>
                                                   <xs:element ref="fase2.1:HæftelseBegrænsetProcent"/>
				
				
				                                               <xs:element ref="fase2.1:HæftelseBegrænsetBeløbStruktur"/>
                                                </xs:choice>
                                             </xs:complexType>
                                          </xs:element>
                                       
                                       <xs:element ref="fase2.1:HæftelseRestBeløbStruktur"/>

                                       <xs:element ref="fase2.1:HæftelseUnderBobehandling" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HæftelseForældelseDato" minOccurs="0"/>

                                       <xs:element ref="fase2.1:HæftelseMåAfskrives"/>

                                       <xs:element ref="fase2.1:HæftelseMåAfskrivesEfterDato" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HæftelseMåAfskrivesEfterDatoNote" minOccurs="0"/>

                                       <xs:element ref="fase2.1:HæftelseMåForælde"/>

                                       <xs:element ref="fase2.1:HæftelseOpkMyndRykkerDato1" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HæftelseOpkMyndRykkerDato2" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HæftelseKommentar" minOccurs="0"/>

                                       <xs:element ref="fase2.1:HæftelseModtagelseDato"/>
                  
                                       <xs:element ref="fase2.1:HæftelseDom"/>

                                       <xs:element ref="fase2.1:HæftelseDomDato" minOccurs="0"/>

                                       <xs:element ref="fase2.1:HæftelseForlig"/>

                                       <xs:element ref="fase2.1:HæftelseForligDato" minOccurs="0"/>

                                       <xs:element ref="fase2.1:HæftelseStopListeStruktur"/>
                  
                                       <xs:element ref="fase2.1:HæftelseModregningStopListeStruktur"/>
                  
                                       <xs:element ref="fase2.1:HæftelseRenteFritagListeStruktur"/>

                                       <xs:element ref="fase2.1:EFIFordringFundamentStruktur" minOccurs="0"/>



                                       <xs:element ref="fase2.1:HæftelseAfgiftBeregningStruktur" minOccurs="0"/>


                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
