systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIKontoUdbetalingOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/DMIUdbetaling.xsd"/>
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
         <xs:include schemaLocation="../class/Indsats.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Kunde.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
         <xs:include schemaLocation="../operational/RaekkefoelgeNummer.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/DMIIndberetterOpretStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/UdbetalingBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AlternativUdbetalingKanalStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/AlternativAdresseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIUdbetalingAArsagStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMITransaktionBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIKontoUdbetalingOpret_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIKontoUdbetalingOpret_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIKontoUdbetalingOpret_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="UdbetalingListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Udbetaling" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMIIndberetterOpretStruktur"/>

                                       <xs:element ref="fase2.1:DMITransaktionLøbenummer" minOccurs="0"/>

                                       <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                       <xs:element ref="fase2.1:UdbetalingBeløbStruktur"/>
                  
                                       <xs:element ref="fase2.1:DMIUdbetalingDato"/>

                                       <xs:element ref="fase2.1:DMIUdbetalingBogførtDen" minOccurs="0"/>



                                       <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode" minOccurs="0"/>



                                       <xs:element ref="fase2.1:DMIUdbetalingNote" minOccurs="0"/>



                                       <xs:element ref="fase2.1:DMIUdbetalingNoteDato" minOccurs="0"/>



                                       <xs:element ref="fase2.1:DMIUdbetalingStatus" minOccurs="0"/>



                                       <xs:element ref="fase2.1:IndsatsID" minOccurs="0"/>



                                       <xs:element ref="fase2.1:AlternativUdbetalingKanalStruktur" minOccurs="0"/>


                                       <!--Sequence removed-->

                                          <xs:element name="AlternativtKundenummer" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:KundeStruktur"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                       <!--Sequence removed-->

                                          <xs:element name="AdresseOplysning" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element ref="fase2.1:KundeNavn" minOccurs="0"/>



                                                   <xs:element ref="fase2.1:AlternativAdresseStruktur" minOccurs="0"/>


                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       
                                       <xs:element ref="fase2.1:DMIUdbetalingÅrsagStruktur"/>
                                       <xs:element name="TransaktionDækningElementListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="TransaktionDækningElement" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:DMITransaktionType"/>
                  
                                                         <xs:element ref="fase2.1:DMITransaktionID"/>

                                                         <xs:element ref="fase2.1:DMIIndbetalingID" minOccurs="0"/>

                                                         <xs:element ref="fase2.1:RækkefølgeNummer"/>
                  
                                                         <xs:element ref="fase2.1:DMITransaktionBeløbStruktur"/>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
