systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIKontoSpecifikationHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../operational/KontoStartSaldo.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringHaver.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
				     
         <xs:include schemaLocation="../class/BetalingOrdning.xsd"/>
         <xs:include schemaLocation="../class/BetalingOrdningRate.xsd"/>
         <xs:include schemaLocation="../class/DMIUdbetaling.xsd"/>
				     
         <xs:include schemaLocation="../view/TransaktionDaekningElementMedFordringStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIIndberetterHentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMITransaktionBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IndbetalingRestBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIInddrivelseKontoStrukturType.xsd"/>
				     
         <xs:element name="DMIKontoSpecifikationHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIKontoSpecifikationHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIKontoSpecifikationHent_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="TransaktionSpecifikation" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Kunde">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeNummer"/>
                  
                                       <xs:element ref="fase2.1:KundeType"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element ref="fase2.1:KontoStartSaldo"/>
                              <xs:element name="TransaktionDækningElementListe">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:TransaktionDækningElementMedFordringStruktur" minOccurs="0"
                                             maxOccurs="unbounded"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <xs:element name="TransaktionListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="Transaktion" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                  
                                                <xs:element ref="fase2.1:DMITransaktionType"/>
                  
                                                <xs:element ref="fase2.1:DMITransaktionID"/>
                  
                                                <xs:element ref="fase2.1:DMITransaktionLøbenummer"/>

                                                <xs:element ref="fase2.1:DMIFordringHaverID" minOccurs="0"/>

                                                <xs:element ref="fase2.1:DMITransaktionBeløbStruktur"/>
                  
                                                <xs:element ref="fase2.1:DMITransaktionDato"/>

                                                <xs:element ref="fase2.1:DMITransaktionVirkningDato" minOccurs="0"/>

                                                <xs:element ref="fase2.1:DMITransaktionBogføringDato"/>

                                                <xs:element ref="fase2.1:DMITransaktionÅrsagKode" minOccurs="0"/>



                                                <xs:element ref="fase2.1:DMITransaktionÅrsagBegr" minOccurs="0"/>



                                                <xs:element ref="fase2.1:DMITransaktionÅrsagTekst" minOccurs="0"/>


                                                <!--Sequence removed-->

                                                   <xs:element name="FordringInfo" minOccurs="0">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>
                  
                                                            <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                                            <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                                            <xs:element ref="fase2.1:DMIFordringKlasse"/>
                  
                                                            <xs:element ref="fase2.1:DMIFordringTypeKategori"/>
                  
                                                            <xs:element ref="fase2.1:DMIFordringModtagelseDato"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                

                                                <!--Sequence removed-->

                                                   <xs:element name="IndbetalingInfo" minOccurs="0">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:DMIIndbetalingArt"/>
                  
                                                            <xs:element ref="fase2.1:IndbetalingRestBeløbStruktur"/>

                                                            <xs:element ref="fase2.1:BetalingOrdningID" minOccurs="0"/>



                                                            <xs:element ref="fase2.1:BetalingOrdningRateID" minOccurs="0"/>


                                                            <xs:element name="IndbetalingKunde">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:KundeNummer"/>
                  
                                                                     <xs:element ref="fase2.1:KundeType"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                

                                                <!--Sequence removed-->

                                                   <xs:element name="UdbetalingInfo" minOccurs="0">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:DMIUdbetalingGodkendt"/>
                  
                                                            <xs:element ref="fase2.1:DMIUdbetalingStatus"/>
                                                            <xs:element name="UdbetalingKunde">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:KundeNummer"/>
                  
                                                                     <xs:element ref="fase2.1:KundeType"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                

                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <!--Sequence removed-->

                                 <xs:element name="KontoAndreOplysninger" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIInddrivelseKontoStruktur"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
