systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIKontoSpecifikationHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../operational/EjerAfEnkeltmandsvirksomhed.xsd"/>
				     
         <xs:include schemaLocation="../operational/BogfoeringDatoSoegFra.xsd"/>
				     
         <xs:include schemaLocation="../operational/BogfoeringDatoSoegTil.xsd"/>
				     
         <xs:include schemaLocation="../operational/VirkningDatoSoegFra.xsd"/>
				     
         <xs:include schemaLocation="../operational/VirkningDatoSoegTil.xsd"/>
				     
         <xs:include schemaLocation="../operational/RenteSpecifikationKode.xsd"/>
				     
         <xs:include schemaLocation="../operational/TransaktionSpecifikationMarkering.xsd"/>
				     
         <xs:include schemaLocation="../operational/KontoAndreOplysningerMarkering.xsd"/>
				     
         <xs:include schemaLocation="../operational/TransaktionDaekningElementListeMarkering.xsd"/>
				     
         <xs:element name="DMIKontoSpecifikationHent_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIKontoSpecifikationHent_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIKontoSpecifikationHent_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="Kunde">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:KundeNummer"/>
                  
                              <xs:element ref="fase2.1:KundeType"/>
                  
                              <xs:element ref="fase2.1:EjerAfEnkeltmandsvirksomhed"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                     <xs:element ref="fase2.1:BogføringDatoSøgFra" minOccurs="0"/>



                     <xs:element ref="fase2.1:BogføringDatoSøgTil" minOccurs="0"/>



                     <xs:element ref="fase2.1:VirkningDatoSøgFra" minOccurs="0"/>



                     <xs:element ref="fase2.1:VirkningDatoSøgTil" minOccurs="0"/>



                     <xs:element ref="fase2.1:RenteSpecifikationKode" minOccurs="0"/>

                     <xs:element ref="fase2.1:TransaktionSpecifikationMarkering"/>
                  
                     <xs:element ref="fase2.1:KontoAndreOplysningerMarkering"/>
                  
                     <xs:element ref="fase2.1:TransaktionDækningElementListeMarkering"/>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
