systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIKontoIndbetalingFordelingAEndr_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
				     
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
         <xs:include schemaLocation="../operational/RaekkefoelgeNummer.xsd"/>
				     
				     
         <xs:include schemaLocation="../operational/ForetagIkkeAutomatiskDaekning.xsd"/>
				     
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/IndbetalingFordelingAArsagStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransaktionDaekningBeloebStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
				     
				     
				     
         <xs:element name="DMIKontoIndbetalingFordelingÆndr_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIKontoIndbetalingFordelingÆndr_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIKontoIndbetalingFordelingÆndr_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="ÆndringAfDækningsrækkefølge">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Valg">
                                 <xs:complexType>
                                    <xs:choice>
                                       <xs:sequence>
                                          <xs:element name="Nr1OphævDækningEnEllerFlereIndbetalingerUdenPosteringVækListe">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element name="IndbetalingIdentifikation" minOccurs="1" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:DMIIndbetalingID"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

				
				                                   </xs:sequence>
                                       <xs:sequence>
				
                                          <xs:element name="Nr2ForetagDækningPåIkkeAnventIndbetaling">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:DMIIndbetalingID"/>
                  
                                                   <xs:element ref="fase2.1:IndbetalingFordelingÅrsagStruktur"/>
                                                   <xs:element name="TransaktionDækningElementListe">
                                                      <xs:complexType>
                                                         <xs:sequence>

                                                            <xs:element name="TransaktionDækningElement" minOccurs="1" maxOccurs="unbounded">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:DMITransaktionType"/>
                  
                                                                     <xs:element ref="fase2.1:DMITransaktionID"/>
                  
                                                                     <xs:element ref="fase2.1:RækkefølgeNummer"/>
                  
                                                                     <xs:element ref="fase2.1:TransaktionDækningBeløbStruktur"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
				
				                                   </xs:sequence>
                                       <xs:sequence>
				
                                          <xs:element name="Nr3OphævDækningIndbetalingerMedPosteringVækListe">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element name="IndbetalingPosterVæk" minOccurs="1" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:DMIIndbetalingID"/>
                  
                                                            <xs:element ref="fase2.1:ForetagIkkeAutomatiskDækning"/>
                  
                                                            <xs:element ref="fase2.1:IndbetalingFordelingÅrsagStruktur"/>

                                                            <xs:element ref="fase2.1:KundeStruktur" minOccurs="0"/>


                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

				
				                                   </xs:sequence>
                                       <xs:sequence>
				
                                          <xs:element name="Nr4OphævDækningIndbetalingForetagNyDækning">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:DMIIndbetalingID"/>
                  
                                                   <xs:element ref="fase2.1:IndbetalingFordelingÅrsagStruktur"/>
                                                   <xs:element name="TransaktionDækningElementListe">
                                                      <xs:complexType>
                                                         <xs:sequence>

                                                            <xs:element name="TransaktionDækningElement" minOccurs="1" maxOccurs="unbounded">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:DMITransaktionType"/>
                  
                                                                     <xs:element ref="fase2.1:DMITransaktionID"/>
                  
                                                                     <xs:element ref="fase2.1:RækkefølgeNummer"/>
                  
                                                                     <xs:element ref="fase2.1:TransaktionDækningBeløbStruktur"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
				
				                                   </xs:sequence>
                                       <xs:sequence>
				
                                          <xs:element name="Nr5OphævDækningVedAfvisningTilOprindeligKundeListe">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element name="IndbetalingPosterVæk" minOccurs="1" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:DMIIndbetalingID"/>
                  
                                                            <xs:element ref="fase2.1:ForetagIkkeAutomatiskDækning"/>
                  
                                                            <xs:element ref="fase2.1:IndbetalingFordelingÅrsagStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
