systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIKontoIndbetalingFordelingBeregn_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
         <xs:include schemaLocation="../operational/BeregnReaktion.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../operational/HentRelateredeFordringer.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IndbetalingBeloebStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/TransaktionDaekningBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIKontoIndbetalingFordelingBeregn_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIKontoIndbetalingFordelingBeregn_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIKontoIndbetalingFordelingBeregn_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="OplysningerTilBrugForBeregningAfDækningsforslag">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Valg">
                                 <xs:complexType>
                                    <xs:choice>
                                       <xs:sequence>
                                          <xs:element name="Nr1TænktIndbetalingsbeløb">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element name="Indbetaler">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:KundeStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                   <xs:element ref="fase2.1:IndbetalingBeløbStruktur"/>
                  
                                                   <xs:element ref="fase2.1:DMIIndbetalingVirkningFra"/>
                  
                                                   <xs:element ref="fase2.1:BeregnReaktion"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
				
				                                   </xs:sequence>
                                       <xs:sequence>
				
                                          <xs:element name="NR2IndbetalingBetalingIdentifikation">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:DMIIndbetalingID"/>
                  
                                                   <xs:element ref="fase2.1:BeregnReaktion"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
				
				                                   </xs:sequence>
                                       <xs:sequence>
				
                                          <xs:element name="NR3DækningRækkefølge">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:DMIIndbetalingVirkningFra"/>
                  
                                                   <xs:element ref="fase2.1:BeregnReaktion"/>
                                                   <xs:element name="Indbetaler">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:KundeStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                   <xs:element name="TransaktionDækningElementListe">
                                                      <xs:complexType>
                                                         <xs:sequence>

                                                            <xs:element name="TransaktionDækningElement" minOccurs="1" maxOccurs="unbounded">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>

                                                                     <xs:element ref="fase2.1:HentRelateredeFordringer" minOccurs="0"/>

                                                                     <xs:element ref="fase2.1:TransaktionDækningBeløbStruktur"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>

                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
