systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIMeddelelseInformationDUMMY_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
				     
				     
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../view/DMIMeddelelseStandardModregningStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIMeddelelseModregningTilRettighedshaverStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIMeddelelseModregningLoenStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIMeddelelseUdbetalingStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIMeddelelsePaamindelseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIMeddelelseRykkerOgOprkaevningStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIMeddelelseAutomatiskAfskrivningStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIMeddelelseRenteIndberetningStrukturType.xsd"/>
				     
         <xs:element name="DMIMeddelelseInformationDUMMY_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIMeddelelseInformationDUMMY_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIMeddelelseInformationDUMMY_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
                  
                     <xs:element ref="fase2.1:DMIMeddelelseStandardModregningStruktur" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:DMIMeddelelseModregningTilRettighedshaverStruktur" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:DMIMeddelelseModregningLønStruktur" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:DMIMeddelelseUdbetalingStruktur" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:DMIMeddelelsePåmindelseStruktur" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:DMIMeddelelseRykkerOgOprkævningStruktur" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:DMIMeddelelseAutomatiskAfskrivningStruktur" minOccurs="0"/>
                  
                     <xs:element ref="fase2.1:DMIMeddelelseRenteIndberetningStruktur" minOccurs="0"/>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
