systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIMeddelelseModregningLoenStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/MeddelelseAfsenderDato.xsd"/>
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
				     
         <xs:include schemaLocation="../class/NemKontoUdbetaling.xsd"/>
				     
				     
				     
				     
         <xs:include schemaLocation="../view/UdbetalingBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringHaverStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AdresseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AlternativAdresseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TransaktionDaekningBeloebStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/AlternativUdbetalingKanalStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
				     
				     
         <xs:element name="DMIMeddelelseModregningLønStruktur"
                     type="fase2.1:DMIMeddelelseModregningLønStrukturType"/>
         <xs:complexType name="DMIMeddelelseModregningLønStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="fase2.1:MeddelelseAfsenderDato"/>
                  <xs:element name="DMILønindeholdelseOverskudFørDækningAfAndreFordringer">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:UdbetalingBeløbStruktur"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="SpecificeretModregningListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="Modregning" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:FordringHaverStruktur"/>
                                    <!--Sequence removed-->

                                       <xs:element name="FordringHaverAdresse" minOccurs="0">
                                          <xs:complexType>
                                             <xs:choice>
                                                <xs:element ref="fase2.1:AdresseStruktur"/>
				
				
				                                            <xs:element ref="fase2.1:AlternativAdresseStruktur"/>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                    
                                    <xs:element ref="fase2.1:DMIFordringTypeKode"/>

                                    <xs:element ref="fase2.1:FordringPeriodeStruktur" minOccurs="0"/>



                                    <xs:element ref="fase2.1:TransaktionDækningBeløbStruktur" minOccurs="0"/>



                                    <xs:element ref="fase2.1:DMIFordringFordringHaverRef" minOccurs="0"/>



                                    <xs:element ref="fase2.1:DMIFordringFordringHaverBeskr" minOccurs="0"/>



                                    <xs:element ref="fase2.1:DMIFordringModtagelseDato" minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element name="RestBeløb">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:UdbetalingBeløbStruktur"/>

                           <xs:element ref="fase2.1:NemKontoUdbetalingModtagerPosteringTekst" minOccurs="0"/>



                           <xs:element ref="fase2.1:AlternativUdbetalingKanalStruktur" minOccurs="0"/>


                           <!--Sequence removed-->

                              <xs:element name="AlternativtKundenummer" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeStruktur"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           

                           <!--Sequence removed-->

                              <xs:element name="AdresseOplysning" minOccurs="0">
                                 <xs:complexType>
                                    <xs:choice>
                                       <xs:element ref="fase2.1:AdresseStruktur"/>
				
				
				                                   <xs:element ref="fase2.1:AlternativAdresseStruktur"/>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           

                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
