systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIMeddelelsePaamindelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
				     
         <xs:include schemaLocation="../operational/AdresseBeskyttelse.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../class/BetalingOrdningRate.xsd"/>
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/AdresseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingOrdningRateBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIMeddelelsePåmindelseStruktur"
                     type="fase2.1:DMIMeddelelsePåmindelseStrukturType"/>
         <xs:complexType name="DMIMeddelelsePåmindelseStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="fase2.1:KundeStruktur"/>
                  
                  <xs:element ref="fase2.1:AdresseBeskyttelse"/>
               <!--Sequence removed-->

                  <xs:element name="KundeAdresse" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="fase2.1:AdresseStruktur"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
               <xs:element ref="fase2.1:BetalingOrdningRateBeløbStruktur"/>
                  
                  <xs:element ref="fase2.1:BetalingOrdningRateSRBDato"/>
               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
