systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIRenteGodtgoerelseBeregn_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/RenteGodtgoerelse.xsd"/>
				     
         <xs:include schemaLocation="../view/RenteGodtgoerelseDelPeriodeBeloebStrukturType.xsd"/>
				     
         <xs:element name="DMIRenteGodtgørelseBeregn_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIRenteGodtgørelseBeregn_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIRenteGodtgørelseBeregn_OType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
                  
                     <xs:element name="BeregnetRenteGodgørelse" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:RenteGodtgørelseBeløb"/>
                              <xs:element name="RenteGodtgørelseSpecifikationList">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="RenteGodtgørelseSpecifikation" minOccurs="1" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element ref="fase2.1:RenteGodtgørelseRefRenteSats" minOccurs="0"/>

                                                <xs:element ref="fase2.1:RenteGodtgørelseSumRenteSats"/>
                  
                                                <xs:element ref="fase2.1:RenteGodtgørelseDelPeriodeFra"/>
                  
                                                <xs:element ref="fase2.1:RenteGodtgørelseDelPeriodeTil"/>
                  
                                                <xs:element ref="fase2.1:RenteGodtgørelseDelPeriodeBeløbStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
