systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/DMIUdbetalingList_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/DMIUdbetaling.xsd"/>
         <xs:include schemaLocation="../operational/DMIUdbetalingBeloebFra.xsd"/>
				     
         <xs:include schemaLocation="../operational/DMIUdbetalingBeloebTil.xsd"/>
				     
         <xs:include schemaLocation="../operational/DMIUdbetalingDatoFra.xsd"/>
				     
         <xs:include schemaLocation="../operational/DMIUdbetalingDatoTil.xsd"/>
				     
         <xs:include schemaLocation="../class/Kunde.xsd"/>
				     
				     
         <xs:element name="DMIUdbetalingList_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:DMIUdbetalingList_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="DMIUdbetalingList_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="SøgekriterierValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:sequence>
                                 <xs:element name="Nr1SpecifikSøgning">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element name="UdbetalingIDList">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:DMIUdbetalingID" minOccurs="1" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="Nr2BeløbPeriode">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:DMIUdbetalingBeløbFra"/>
                  
                                          <xs:element ref="fase2.1:DMIUdbetalingBeløbTil"/>
                  
                                          <xs:element ref="fase2.1:DMIUdbetalingDatoFra"/>
                  
                                          <xs:element ref="fase2.1:DMIUdbetalingDatoTil"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
                              <xs:sequence>
				
                                 <xs:element name="Nr3KundePeriode">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KundeNummer"/>
                  
                                          <xs:element ref="fase2.1:KundeType"/>
                  
                                          <xs:element ref="fase2.1:DMIUdbetalingDatoFra"/>
                  
                                          <xs:element ref="fase2.1:DMIUdbetalingDatoTil"/>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
