systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/EFIBetalingEvneHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
         <xs:include schemaLocation="../class/BetalingEvne.xsd"/>
         <xs:include schemaLocation="../operational/BeregnBeggeModeller.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIKundeIdentStrukturType.xsd"/>
				     
         <xs:element name="EFIBetalingEvneHent_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:EFIBetalingEvneHent_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="EFIBetalingEvneHent_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="KundeValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:sequence>
                                 <xs:element name="DMI">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KundeStruktur"/>

                                          <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode" minOccurs="0"/>


                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
				                          <xs:element ref="fase2.1:EFIKundeIdentStruktur"/>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>

                     <xs:element ref="fase2.1:BetalingEvneEnhedPeriode" minOccurs="0"/>



                     <xs:element ref="fase2.1:BeregnBeggeModeller" minOccurs="0"/>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
