systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/EFIBetalingEvneAEndr_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/MyndighedUdbetalingType.xsd"/>
				     
         <xs:include schemaLocation="../class/BetalingEvne.xsd"/>
				     
         <xs:include schemaLocation="../class/BetalingEvneRes.xsd"/>
         <xs:include schemaLocation="../class/IndsatsType.xsd"/>
         <xs:include schemaLocation="../class/Indsats.xsd"/>
				     
         <xs:include schemaLocation="../class/SBetalingEvne.xsd"/>
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EFIKundeIdentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/BetalingEvneResBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/SBetalingEvneBeloebStrukturType.xsd"/>
				     
         <xs:element name="EFIBetalingEvneÆndr_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:EFIBetalingEvneÆndr_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="EFIBetalingEvneÆndr_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="KundeValg">
                        <xs:complexType>
                           <xs:choice>
                              <xs:sequence>
                                 <xs:element name="DMI">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element ref="fase2.1:KundeStruktur"/>

                                          <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode" minOccurs="0"/>


                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
				
				                          </xs:sequence>
				                          <xs:element ref="fase2.1:EFIKundeIdentStruktur"/>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>

                     <xs:element ref="fase2.1:BetalingEvneEnhedPeriode" minOccurs="0"/>


                     <xs:element name="BetalingEvneReservation">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2.1:BetalingEvneResBeløbStruktur"/>
                  
                              <xs:element ref="fase2.1:BetalingEvneResStartDato"/>
                              <xs:element name="ReservationPartValg">
                                 <xs:complexType>
                                    <xs:choice>
                                       <xs:sequence>
                                          <xs:element name="DMI">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:MyndighedUdbetalingTypeKode"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
				
				                                   </xs:sequence>
                                       <xs:sequence>
				
                                          <xs:element name="EFIIndsats">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:IndsatsTypeKode"/>
                  
                                                   <xs:element ref="fase2.1:IndsatsID"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <!--Sequence removed-->

                        <xs:element name="SbetalingEvneReservation" minOccurs="0">
                           <xs:complexType>
                              <xs:choice>
                                 <xs:element ref="fase2.1:SBetalingEvneBeløbStruktur"/>
				
				
				                             <xs:element ref="fase2.1:SBetalingEvneBeregnLønIndProcent"/>
                              </xs:choice>
                           </xs:complexType>
                        </xs:element>
                     
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
