systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/EFIIndbetalingModtaget_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../class/BetalingOrdning.xsd"/>
         <xs:include schemaLocation="../class/BetalingOrdningRate.xsd"/>
         <xs:include schemaLocation="../class/ForventetIndbetaling.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
         <xs:include schemaLocation="../view/IndbetalingBeloebStrukturType.xsd"/>
				     
         <xs:element name="EFIIndbetalingModtaget_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:EFIIndbetalingModtaget_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="EFIIndbetalingModtaget_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="InformationTilEFIIndbetalingModtagetListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="InformationTilEFIIndbetalingModtaget" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:KundeNummer"/>
                  
                                       <xs:element ref="fase2.1:KundeType"/>
                                       <xs:element name="BetalingsIdentifikation">
                                          <xs:complexType>
                                             <xs:choice>
                                                <xs:sequence>
                                                   <xs:element name="BetalingOrdningForventetIndbetaling">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:BetalingOrdningID"/>
                  
                                                            <xs:element ref="fase2.1:BetalingOrdningRateID"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
				
				                                            </xs:sequence>
                                                <xs:sequence>
				
                                                   <xs:element name="ForventetIndbetaling">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="fase2.1:ForventetIndbetalingID"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element ref="fase2.1:IndbetalingBeløbStruktur"/>

                                       <xs:element ref="fase2.1:ForventetIndbetalingID" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIIndbetalingDato"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
