systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/InddrivelseKontoStopListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Kunde.xsd"/>
         <xs:include schemaLocation="../operational/EjerAfEnkeltmandsvirksomhed.xsd"/>
				     
         <xs:include schemaLocation="../class/DMIIndbetaling.xsd"/>
         <xs:include schemaLocation="../class/InddrivelseKontoStop.xsd"/>
				     
         <xs:include schemaLocation="../view/InddrivelseKontoStopAArsagStrukturType.xsd"/>
				     
         <xs:element name="InddrivelseKontoStopListeStruktur"
                     type="fase2.1:InddrivelseKontoStopListeStrukturType"/>
         <xs:complexType name="InddrivelseKontoStopListeStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="InddrivelseKontoStopListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="InddrivelseKontoStop" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="fase2.1:KundeNummer"/>
                  
                                 <xs:element ref="fase2.1:KundeType"/>

                                 <xs:element ref="fase2.1:EjerAfEnkeltmandsvirksomhed" minOccurs="0"/>



                                 <xs:element ref="fase2.1:DMIIndbetalingID" minOccurs="0"/>

                                 <xs:element ref="fase2.1:InddrivelseKontoStopType"/>
                  
                                 <xs:element ref="fase2.1:InddrivelseKontoStopStart"/>
                  
                                 <xs:element ref="fase2.1:InddrivelseKontoStopSlut"/>
                  
                                 <xs:element ref="fase2.1:InddrivelseKontoStopÅrsagStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
