systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/KundeIdentifikationStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/ProduktionEnhed.xsd"/>
         <xs:include schemaLocation="../class/Person.xsd"/>
         <xs:element name="KundeIdentifikationStruktur"
                     type="fase2.1:KundeIdentifikationStrukturType"/>
         <xs:complexType name="KundeIdentifikationStrukturType">
         
         
         
         
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="IdentifikationValg">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="fase2.1:VirksomhedCVRNummer"/>
				
				                    <xs:sequence>
				
                           <xs:element name="ProduktionEnhed">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:VirksomhedCVRNummer"/>
                  
                                    <xs:element ref="fase2.1:ProduktionEnhedNummer"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
				
				                    </xs:sequence>
				                    <xs:element ref="fase2.1:PersonCPRNummer"/>
				
				                    <xs:sequence>
				
                           <xs:element name="CVRSENummer">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:VirksomhedCVRNummer"/>
                  
                                    <xs:element ref="fase2.1:VirksomhedSENummer"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         
         
         
         
         
         
         </xs:complexType>
      </xs:schema>
