systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/MFFordringAsynkronOprettet_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/DMITransaktion.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/DMIFordring.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
				     
				     
				     
				     
         <xs:include schemaLocation="../class/Haeftelse.xsd"/>
         <xs:include schemaLocation="../view/DMIIndberetterHentStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/DMIFordringOpretFejlStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringBeloebStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringPeriodeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/FordringHaverRelationStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:element name="MFFordringAsynkronOprettet_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:MFFordringAsynkronOprettet_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="MFFordringAsynkronOprettet_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="FordringOprettetListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Fordringsvar" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:DMITransaktionLøbenummer"/>
                  
                                       <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                                       <xs:element name="FejlÅrsagSamling">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:DMIFordringOpretFejlStruktur" minOccurs="0" maxOccurs="unbounded"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <xs:element ref="fase2.1:DMIFordringEFIFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringEFIHovedFordringID"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringRegistreringDato"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringFordringArtKode"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringTypeKode"/>
                  
                                       <xs:element ref="fase2.1:DMIFordringTypeKategori"/>

                                       <xs:element ref="fase2.1:DMIFordringStiftelseTidspunkt" minOccurs="0"/>



                                       <xs:element ref="fase2.1:DMIFordringForfaldDato" minOccurs="0"/>



                                       <xs:element ref="fase2.1:DMIFordringSRBDato" minOccurs="0"/>

                                       <xs:element ref="fase2.1:FordringBeløbStruktur"/>

                                       <xs:element ref="fase2.1:FordringPeriodeStruktur" minOccurs="0"/>

                                       <xs:element ref="fase2.1:DMIFordringModtagelseDato"/>

                                       <xs:element ref="fase2.1:DMIFordringBogførtDen" minOccurs="0"/>



                                       <xs:element ref="fase2.1:DMIFordringForeløbigFastsat" minOccurs="0"/>



                                       <xs:element ref="fase2.1:FordringHaverRelationStruktur" minOccurs="0"/>


                                       <xs:element name="FordringHæfteListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="Hæftelse" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:DMIIndberetterHentStruktur"/>
                  
                                                         <xs:element ref="fase2.1:KundeStruktur"/>
                  
                                                         <xs:element ref="fase2.1:HæftelseForm"/>

                                                         <xs:element ref="fase2.1:HæftelseSubsidiær" minOccurs="0"/>


                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
