systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/MFFordringAfskrivUnderret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/DMIFordringHaver.xsd"/>
         <xs:include schemaLocation="../operational/UnderretningId.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/MFUnderretAfskrivStrukturType.xsd"/>
				     
         <xs:element name="MFFordringAfskrivUnderret_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:MFFordringAfskrivUnderret_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="MFFordringAfskrivUnderret_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="fase2.1:DMIFordringHaverID"/>

                     <xs:element ref="fase2.1:UnderretningId" minOccurs="0"/>

                     <xs:element ref="fase2.1:MFUnderretAfskrivStruktur"/>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
