systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/NettoIndkomstBeregningMetodeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/AArsopgoerelse.xsd"/>
         <xs:include schemaLocation="../class/RapportOplysningPeriode.xsd"/>
         <xs:element name="NettoIndkomstBeregningMetodeStruktur"
                     type="fase2.1:NettoIndkomstBeregningMetodeStrukturType"/>
         <xs:complexType name="NettoIndkomstBeregningMetodeStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
               <xs:sequence>
               <xs:element name="Valg">
                  <xs:complexType>
                     <xs:choice>
                        <xs:sequence>
                           <xs:element name="ÅrsOpgørelse">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:ÅrsopgørelseIndkomstÅr"/>
                  
                                    <xs:element ref="fase2.1:ÅrsopgørelseNummer"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
				
				                    </xs:sequence>
                        <xs:sequence>
				
                           <xs:element name="IndkomstOplysning">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2.1:RapportOplysningPeriodeMåned"/>
                  
                                    <xs:element ref="fase2.1:RapportOplysningPeriodeÅr"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
