systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/view/RSOpgaveAsynkronBook_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12518</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Opgavetype.xsd"/>
         <xs:include schemaLocation="../class/Opgave.xsd"/>
         <xs:include schemaLocation="../class/Medarbejderprofil.xsd"/>
				     
         <xs:include schemaLocation="../class/Adresse.xsd"/>
         <xs:include schemaLocation="../class/RSKommuneNummerPostNummer.xsd"/>
         <xs:include schemaLocation="../class/SporSkabelon.xsd"/>
         <xs:include schemaLocation="../class/DMIFordringType.xsd"/>
				     
         <xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/HaeftelseRestBeloebStrukturType.xsd"/>
				     
         <xs:element name="RSOpgaveAsynkronBook_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="fase2.1:RSOpgaveAsynkronBook_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12518"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="RSOpgaveAsynkronBook_IType">
            <xs:sequence>
               <xs:element ref="fase2.1:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element name="OpgaveBookListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="OpgaveBooking" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="fase2.1:OpgavetypeID"/>

                                       <xs:element ref="fase2.1:OpgaveBookingreference" minOccurs="0"/>



                                       <xs:element ref="fase2.1:OpgaveTekst" minOccurs="0"/>



                                       <xs:element ref="fase2.1:OpgaveVentedage" minOccurs="0"/>



                                       <xs:element ref="fase2.1:OpgaveGennemførselsfrist" minOccurs="0"/>



                                       <xs:element ref="fase2.1:OpgaveGennemførselstid" minOccurs="0"/>



                                       <xs:element ref="fase2.1:OpgaveLinkParametre" minOccurs="0"/>



                                       <xs:element ref="fase2.1:OpgavePrioritet" minOccurs="0"/>



                                       <xs:element ref="fase2.1:OpgavePoint" minOccurs="0"/>



                                       <xs:element ref="fase2.1:OpgaveOverbooking" minOccurs="0"/>


                                       <xs:element name="BooketAf">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2.1:MedarbejderprofilWNummer" minOccurs="0" maxOccurs="1"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                       <!--Sequence removed-->

                                          <xs:element name="OpgaveKundeStruktur" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="fase2.1:KundeStruktur"/>

                                                   <xs:element ref="fase2.1:AdressePostNummer" minOccurs="0"/>



                                                   <xs:element ref="fase2.1:RSKommuneNummerPostNummerKommuneNummer" minOccurs="0"/>



                                                   <xs:element ref="fase2.1:SporSkabelonID" minOccurs="0"/>


                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       

                                       <xs:element name="OpgaveFordringListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="Fordring" minOccurs="0" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="fase2.1:DMIFordringTypeKode"/>

                                                         <xs:element ref="fase2.1:HæftelseRestBeløbStruktur" minOccurs="0"/>


                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
