systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/AbonnentType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Angiver de abonnenter, som der kan oprettes abonnement for, dvs. hvem der abonnerer. Der kan ikke dynamisk oprettes nye værdier af abonnenttype, medmindre dette er omfattet af et standardabonnement.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeFireCifreStartEtType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="AbonnentTypeKode" type="skat2012:KodeFireCifreStartEtType">
               
               <xs:annotation>
                  <xs:documentation>Abonnenttypens unikke kode.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AbonnentTypeTekst" type="skat2012:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Abonnenttypens tekst som beskriver abonnenttypekoden.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AbonnentTypeGyldigFra" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Abonnenttypens startdato</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AbonnentTypeGyldigTil" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Abonnenttypens slutdato</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
