systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/AndenModtagetFinansiering.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Anden modtaget finansiering, herunder finansielle kontrakter.  (Som finansielle kontrakter anses bl.a. optioner, futures, terminskontrakter, swaps og forward rate agreements).</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/KontrolleredeTransaktionerStatHjemmehoerendeKodeType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="AndenModtagetFinansieringOver25ProcentMarkering"
                     type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om de kontrollerede transaktioner af denne art overstiger 25 % af virksomhedens totale transaktioner af denne art. Felt 535c</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AndenModtagetFinansieringStatHjemmehørendeKode"
                     type="skat2012:KontrolleredeTransaktionerStatHjemmehørendeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Kode som angiver hvilke(n) stat(er) de enheder, der har været kontrollerede transaktioner med, er hjemmehørende - for den pågældende art transaktion. Felt 535d</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AndenModtagetFinansieringBrutto" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Summen (beløb) af kontrollerede transaktioner for anden modtaget finansiering, herunder finansielle kontrakter. Felt 535b</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AndenModtagetFinansieringMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Feltet angiver om der været kontrollerede transaktioner af anden modtaget finansiering, herunder finansielle kontrakter Felt 535a </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
