systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/BrancheType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BrancheTypeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:element name="BrancheTypeKode" type="skat2012:BrancheTypeType">
               
               <xs:annotation>
                  <xs:documentation>1 Hovedbranche 3 Bibranche 1 4 Bibranche 2 5 Bibranche 3 </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheTypeTekst" type="skat2012:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Branchetype-tekst (Hovedbranche, Bibranche 1, Bibranche 2, Bibranche 3)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheTypeGyldigFra" type="skat2012:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheTypeGyldigTil" type="skat2012:DatoTidType">
               
            </xs:element>
      </xs:schema>
