systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/Branche.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BrancheType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:element name="BrancheNummer" type="skat2012:BrancheType">
               
               <xs:annotation>
                  <xs:documentation>Branchekode ifølge branchekodetabel (DB07)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheTekst" type="skat2012:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Branchenavn/-tekst, jf branchetabel (DB07)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheGyldigFra" type="skat2012:DatoTidType">
               
            </xs:element>
         <xs:element name="BrancheGyldigTil" type="skat2012:DatoTidType">
               
            </xs:element>
      </xs:schema>
