systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/EjerRolleType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Angiver de typer af roller en ejer kan optræde i.  Eksempelvis Herboende repræsentant, Hovedaktionær, Virksomhedsejer, Virksomhedsstifter.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/EjerRolleTypeKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="EjerRolleTypeKode" type="skat2012:EjerRolleTypeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Angiver tilladte værdier. To numeriske karakterer</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EjerRolleTypeTekst" type="skat2012:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Omsætter kode til klartekst. Character felt på 45 karakterer.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EjerRolleTypeGyldigFra" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver første dag en given værdi gælder.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EjerRolleTypeGyldigTil" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver sidste dag en given værdi gælder.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
