systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/EjerForhold.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Indeholder oplysning om hvilke forskellige typer af ejere og roller, som en virksomhed har eller har haft over tid.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="EjerForholdEjerType" type="skat2012:KodeType">
               
               <xs:annotation>
                  <xs:documentation>En vilk책rlig kode p책 10 tegn.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EjerForholdEjerRolleType" type="skat2012:KodeType">
               
               <xs:annotation>
                  <xs:documentation>En vilk책rlig kode p책 10 tegn.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EjerForholdGyldigFra" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Specifik dato (uden start og slutangivelse).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EjerForholdGyldigTil" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Specifik dato (uden start og slutangivelse).</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
