systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/ImmaterielAktivSalg.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Salg af immaterielle aktiver.  Omfatter såvel aktiver erhvervet mod vederlag, som salg af egne  forsknings- og udviklingsresultater, hvad enten de afholdte omkostninger er aktiveret eller udgiftsført.)</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/KontrolleredeTransaktionerStatHjemmehoerendeKodeType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="ImmaterielAktivSalgOver25ProcentMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om de kontrollerede transaktioner af denne art overstiger 25 % af virksomhedens totale transaktioner af denne art. Felt 524c</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ImmaterielAktivSalgStatHjemmehørendeKode"
                     type="skat2012:KontrolleredeTransaktionerStatHjemmehørendeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Kode som angiver hvilke(n) stat(er) de enheder, der har været kontrollerede transaktioner med, er hjemmehørende - for den pågældende art transaktion. Felt 524d</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ImmaterielAktivSalgBrutto" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Summen (beløb) af kontrollerede transaktioner for salg af immaterielle aktiver. Felt 524b</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ImmaterielAktivSalgMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Feltet angiver om der været kontrollerede transaktioner af salg af immaterielle aktiver Felt 524a </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
