systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/SaerligeIndkomstforhold.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:element name="SærligeIndkomstforholdTonnageMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om selskabet driver rederi- og/eller operatørvirksomhed, som kan omfattes af tonnageskatteordningen. (True = ja, False = nej). Felt 300</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SærligeIndkomstforholdCFCIndkomstMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om selskabet har CFC-indkomst. (True = ja, False = nej). Felt 066</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SærligeIndkomstforholdHybrideFinansInstrumenterMarkering"
                     type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om selskabet er omfattet af selskabsskattelovens § 2 B. (True = ja, False = nej). Felt 069</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
