systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/Selvangivelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/Tekst1Type.xsd"/>
         <xs:element name="SelvangivelseDelperiodeStart" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Første dag i selvangivelsens delperiode.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SelvangivelseDelperiodeSlut" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Sidste dag i selvangivelsens delperiode (inklusiv).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SelvangivelseKladdeStatusKode" type="skat2012:Tekst1Type">
               
               <xs:annotation>
                  <xs:documentation>Kode som angiver, om den aktuelle selvangivelse er en kladde eller afsluttet (=registreret): A: Afsluttet K: Kladde</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
