systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/ServiceYdelseUdgift.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Udgifter til serviceydelser, herunder management fees, og fordelte omkostninger.  (Indtægter og udgifter i forbindelse med serviceydelser omfatter enhver allokering og omkostningsfordeling mellem de pågældende enheder, uanset benævnelsen).</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/KontrolleredeTransaktionerStatHjemmehoerendeKodeType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="ServiceYdelseUdgiftOver25ProcentMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om de kontrollerede transaktioner af denne art overstiger 25 % af virksomhedens totale transaktioner af denne art. Felt 513c</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ServiceYdelseUdgiftStatHjemmehørendeKode"
                     type="skat2012:KontrolleredeTransaktionerStatHjemmehørendeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Kode som angiver hvilke(n) stat(er) de enheder, der har været kontrollerede transaktioner med, er hjemmehørende - for den pågældende art transaktion. Felt 513d</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ServiceYdelseUdgiftBrutto" type="skat2012:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Summen (beløb) af kontrollerede transaktioner for udgifter til serviceydelser, herunder management fees, og fordelte omkostninger. Felt 513b</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ServiceYdelseUdgiftMarkering" type="skat2012:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Feltet tager stilling til om der været kontrollerede transaktioner af udgifter til serviceydelser, herunder management fees, og fordelte omkostninger Felt 513a</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
