systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/TonnageBindingPeriode.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/TalHel3Type.xsd"/>
         <xs:element name="TonnageBindingPeriodeStartDato" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Startdato for den igangværende bindingsperiode for aktivitet, der kan omfattes af tonnageskatteordningen Felt 303 </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TonnageBindingPeriodeSlutDato" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Slutdato for den igangværende bindingsperiode for aktivitet, der kan omfattes af tonnageskatteordningen Felt 304</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TonnageBindingPeriodeÆndringUdførtDato" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Datoen hvor kundens ændring er registreret - ændring af bindingsperiode for tonnageskatteordningen. (Er ikke det samme som den dag hvor ændringe træder i kraft).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TonnageBindingPeriodeAntalÅr" type="skat2012:TalHel3Type">
               
               <xs:annotation>
                  <xs:documentation>Parameter som angiver bindingsperioden i antal år (for tonnageordningen).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TonnageBindingPeriodeRegistreringDato" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Datoen hvor selskabet har foretaget tilvalg/fornyelse af tonnageskatteordningen. (Ikke det samme som den valgte startdato.)</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
