systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/VirksomhedType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Angiver tilladte værdier af de virksomhedstyper som findes, dvs. juridisk enhed, administrativ enhed og ikke CVR-enhed.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/VirksomhedTypeKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="VirksomhedTypeKode" type="skat2012:VirksomhedTypeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Kode for virksomhedstype</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedTypeTekst" type="skat2012:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Omsætter kode til klartekst. Character felt på 45 karakterer.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedTypeGyldigFra" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver første dag en given værdi gælder.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedTypeGyldigTil" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver sidste dag en given værdi gælder.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
