systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/class/VirksomhedStatusType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Grunddatatype som angiver de mulige typer af virksomhedsstatus, eksempelvis betalingsstandsning, konkurs, likvidation, skifteretsopløsning. </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeToCifreStartEtType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="VirksomhedStatusTypeKode" type="skat2012:KodeToCifreStartEtType">
               
               <xs:annotation>
                  <xs:documentation>Angiver koden for virksomhedsstatustypen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedStatusTypeTekst" type="skat2012:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Angiver navnet på virksomhedstatustypen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedStatusTypeHjælpeTekst" type="skat2012:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Formålet med hjælpeteksten er at give brugeren en supplerende og/eller forklarende bemærkning til en konkret forekomst af et grunddataværdisæt. Hjælpeteksten anvendes som hjælp til brugeren, hvor denne eksempelvis bliver i tvivl om indholdet af en konkret forekomst af et grunddataværdisæt.  Hjælpeteksten kan, når det er relevant, indeholder reference til lovgivningens paragraffer og faglige vejledninger, hvor brugeren kan finde yderligere hjælp. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedStatusTypeGyldigFra" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver den første dag en virksomhedsstatustype er gyldig. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedStatusTypeGyldigTil" type="skat2012:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver den sidste dag en virksomhedsstatustype er gyldig. </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
