services/review/FERVOIO_20110509/view/DMIFERVModregningFordringList_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmiws="urn:oio:skat:dmi:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:dmi:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:dmi="urn:oio:skat:dmi:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:import namespace="urn:oio:skat:dmi:1.0.0" schemaLocation="../class/FordringStiftelseTidspunktDato.xsd"/><xs:import namespace="urn:oio:skat:dmi:1.0.0" schemaLocation="../class/FordringInddrivelseFordringIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:dmi:1.0.0" schemaLocation="../class/MyndighedUdbetalingDato.xsd"/><xs:import namespace="urn:oio:skat:dmi:1.0.0" schemaLocation="../class/MyndighedUdbetalingTypeKode.xsd"/><xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/MyndighedUdbetalingBeloebStrukturType.xsd"/>
	<xs:include schemaLocation="../view/DMIUdbetalingDaekningMaxBeloebStrukturType.xsd"/>
	<xs:element name="DMIFERVModregningFordringList_O" type="dmiws:DMIFERVModregningFordringList_OType">
	</xs:element>
	<xs:complexType name="DMIFERVModregningFordringList_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="KundeFordringListe" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KundeFordring" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dmiws:KundeStruktur"/>
									<xs:element name="Udbetaling">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="dmi:MyndighedUdbetalingTypeKode"/>
												<xs:element ref="dmi:MyndighedUdbetalingDato"/>
												<xs:element ref="dmiws:MyndighedUdbetalingBeloebStruktur"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HovedFordringListe">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="HovedFordring" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="dmi:FordringInddrivelseFordringIdentifikator"/>
															<xs:element ref="dmi:FordringStiftelseTidspunktDato"/>
															<xs:element ref="dmiws:DMIUdbetalingDaekningMaxBeloebStruktur"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
