services/review/FERVOIO_20110509/view/DMIFERVModregningModtag_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmiws="urn:oio:skat:dmi:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:dmi:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:dmi="urn:oio:skat:dmi:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247441/artefact/SKAT_HovedOplysninger.xsd"/><xs:import namespace="urn:oio:skat:dmi:1.0.0" schemaLocation="../class/FoedevareErhvervTransportBeloebIndikator.xsd"/><xs:import namespace="urn:oio:skat:dmi:1.0.0" schemaLocation="../class/FoedevareErhvervTransportModtagelseDato.xsd"/><xs:import namespace="urn:oio:skat:dmi:1.0.0" schemaLocation="../class/NemKontoUdbetalingBankdagDato.xsd"/><xs:import namespace="urn:oio:skat:dmi:1.0.0" schemaLocation="../class/FoedevareErhvervFordringStiftelseDato.xsd"/><xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
	<xs:include schemaLocation="../view/MyndighedUdbetalingBeloebStrukturType.xsd"/>
	<xs:include schemaLocation="../view/FoedevareErhvervFordringRestbeloebStrukturType.xsd"/>
	<xs:element name="DMIFERVModregningModtag_I" type="dmiws:DMIFERVModregningModtag_IType">
	</xs:element>
	<xs:complexType name="DMIFERVModregningModtag_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element ref="dmiws:KundeStruktur"/>
			<xs:element name="Udbetaling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmiws:MyndighedUdbetalingBeloebStruktur"/>
						<xs:element ref="dmi:NemKontoUdbetalingBankdagDato"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SidstDaekkedeTransport">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dmi:FoedevareErhvervTransportModtagelseDato" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DaekningValg" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="NaesteUdaekketTransport">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmi:FoedevareErhvervTransportModtagelseDato"/>
										<xs:element ref="dmi:FoedevareErhvervTransportBeloebIndikator"/>
										<xs:element ref="dmiws:FoedevareErhvervFordringRestbeloebStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="NaesteUdaekketInternFordring">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dmi:FoedevareErhvervFordringStiftelseDato"/>
										<xs:element ref="dmiws:FoedevareErhvervFordringRestbeloebStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
