systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/AktivLoesoere.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/Tekst25Type.xsd"/>
         <xs:include schemaLocation="../types/TalHel10Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst4000Type.xsd"/>
         <xs:include schemaLocation="../types/BehaeftelseTypeKodeType.xsd"/>
         <xs:element name="AktivLøsøreType" type="fase2.1:Tekst25Type">
               
               <xs:annotation>
                  <xs:documentation>Angiver type af løsøre (kan ikke enumereres)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivLøsøreAntal" type="fase2.1:TalHel10Type">
               
               <xs:annotation>
                  <xs:documentation>Angiver antal af enheder i aktiv</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivLøsøreBeskrivelse" type="fase2.1:Tekst4000Type">
               
               <xs:annotation>
                  <xs:documentation>Beskrivelse af løsøret </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivLøsøreBehæftelseType" type="fase2.1:BehæftelseTypeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om aktivet er behæftet  Enum omfatter:  Behæftet, Ubehæftet </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
