systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/AktivPlacering.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/Tekst25Type.xsd"/>
         <xs:element name="AktivPlaceringBegrundelse" type="fase2.1:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Begrundelse af den enkelte aktive placering.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivPlaceringLokation" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Angiver aktivets placering - lokation (evt. adresse)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivPlaceringLokaleNummer" type="fase2.1:Tekst25Type">
               
               <xs:annotation>
                  <xs:documentation>Angiver aktivets placering - lokalenr på lokation</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
