systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/AktivHaeftelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/TalHelType.xsd"/>
         <xs:include schemaLocation="../types/Tekst25Type.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="AktivHæftelsePrioritet" type="fase2.1:TalHelType">
               
               <xs:annotation>
                  <xs:documentation>Angiver prioriteten på haeftelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivHæftelseDatoLøbeNummer" type="fase2.1:Tekst25Type">
               
               <xs:annotation>
                  <xs:documentation>Unik identifikation af en hæftelse hos e-TL</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivHæftelseType" type="fase2.1:Tekst25Type">
               
               <xs:annotation>
                  <xs:documentation>Hæftelsestypen, f.eks. ejerpantebrev</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivHæftelseBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Hæftelsesbeløb</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
