systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/AktivOphaevetPension.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/Tekst25Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst50Type.xsd"/>
         <xs:include schemaLocation="../types/AktivBeloebType.xsd"/>
         <xs:element name="AktivOphævetPensionFinansInstitut" type="fase2.1:Tekst25Type">
               
               <xs:annotation>
                  <xs:documentation>Angiver navn på finansinstitut</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivOphævetPensionRegNummer" type="fase2.1:Tekst50Type">
               
               <xs:annotation>
                  <xs:documentation>Registreringsnummer på en ophævet pension</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivOphævetPensionKontoNummer" type="fase2.1:Tekst50Type">
               
               <xs:annotation>
                  <xs:documentation>Kontonummer på en ophævet pension</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivOphævetPensionIndestående" type="fase2.1:AktivBeløbType">
               
               <xs:annotation>
                  <xs:documentation>Indestående beløb</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
