systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/AktivVaerdipapir.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:include schemaLocation="../types/Tekst25Type.xsd"/>
         <xs:include schemaLocation="../types/AktivBeloebType.xsd"/>
         <xs:include schemaLocation="../types/TalHelType.xsd"/>
         <xs:include schemaLocation="../types/BehaeftelseTypeKodeType.xsd"/>
         <xs:include schemaLocation="../types/Tekst50Type.xsd"/>
         <xs:element name="AktivVærdipapirAktieBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>ANDERS: Mangler tydelig definition</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivVærdipapirObligationBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>ANDERS: Mangler tydelig definition.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivVærdipapirPanteBreveDepot" type="fase2.1:Tekst25Type">
               
               <xs:annotation>
                  <xs:documentation>ANDERS: Mangler tydelig definition og antaget feltlængde fra KMD.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivVærdipapirKursBeløb" type="fase2.1:AktivBeløbType">
               
               <xs:annotation>
                  <xs:documentation>KursBeløb</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivVærdipapirAntal" type="fase2.1:TalHelType">
               
               <xs:annotation>
                  <xs:documentation>Antal af værdipapirer</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivVærdipapirBehæftelseType" type="fase2.1:BehæftelseTypeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om aktivet er behæftet</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivVærdipapirRegNummer" type="fase2.1:Tekst50Type">
               
               <xs:annotation>
                  <xs:documentation>Konto registreringsnummer</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivVærdipapirKontoNummer" type="fase2.1:Tekst50Type">
               
               <xs:annotation>
                  <xs:documentation>Konto kontonummer</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
