systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/AktivAndel.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:include schemaLocation="../types/ProcentType.xsd"/>
         <xs:include schemaLocation="../types/Tekst1024Type.xsd"/>
         <xs:element name="AktivAndelRestgæld" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Angiver restgæld i boligen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivAndelEjerAndel" type="fase2.1:ProcentType">
               
               <xs:annotation>
                  <xs:documentation>Ejers andel af aktivet (procent fra R75)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AktivAndelMedejer" type="fase2.1:Tekst1024Type">
               
               <xs:annotation>
                  <xs:documentation>Medejer(e) af aktivet, liste af en eller flere fødselsdage/cprnr</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
