systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/AlternativKontaktPerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/KoenType.xsd"/>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:element name="AlternativKontaktPersonFødselDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for hvornår en alternativ kontakt er født for det tilfælde, hvor kontakten er en person.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AlternativKontaktPersonKøn" type="fase2.1:KønType">
               
            </xs:element>
         <xs:element name="AlternativKontaktPersonNavnAdresseBeskyttelseMarkering"
                     type="fase2.1:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om en alternativ kontaktpersons navn og adresse er beskyttet for offentligheden. Det er således kun myndigheder med lovmæssigt grundlag, som har adgang til disse data (fx i forbindelse med sagsbehandling).</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
