systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/AttachmentContainer.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En teknisk klasse som kan rumme attributter der anvendes til at beskrive en email attachment</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/IDType.xsd"/>
         <xs:include schemaLocation="../types/MailAttachmentIndholdType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:element name="AttachmentContainerID" type="fase2.1:IDType">
               
               <xs:annotation>
                  <xs:documentation>Id som unikt identificerer attachment indenfor den specifikke email.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AttachmentContainerIndhold" type="fase2.1:MailAttachmentIndholdType">
               
               <xs:annotation>
                  <xs:documentation>Attachment content for en email - base64 encoded</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AttachmentContainerType" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>ContentType i henhold til standarden for MIME-typer. </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
