systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/BetalingEvneRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:include schemaLocation="../types/TalHel3Type.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="BetalingEvneResBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Den andel af betalingsevnen, der eventuelt er reserveret af indsatser i EFI eller DMI til modregning i myndighedsudbetalingstypen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BetalingEvneResBeløbDKK" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Den andel af betalingsevnen, der eventuelt er reserveret af af indsatser i EFI eller DMI til modregning i myndighedsudbetalingstypen - i danske kroner.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BetalingEvneResNummer" type="fase2.1:TalHel3Type">
               
               <xs:annotation>
                  <xs:documentation>Reservationens nummer i reservationsrækkefølgen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BetalingEvneResStartDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hvor reservationen træder i kraft.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
