systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/EFIHaendelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/UUIDType.xsd"/>
         <xs:include schemaLocation="../types/EFIHaendelseTypeType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="EFIHændelseID" type="fase2.1:UUIDType">
               
               <xs:annotation>
                  <xs:documentation>Unik identifikation af en EFI-hændelse.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EFIHændelseType" type="fase2.1:EFIHændelseTypeType">
               
               <xs:annotation>
                  <xs:documentation>Identifikation af hændelsestypen som hændelsen valideres og distribueres udfra (bemærk at dokumentation ikke er fuldstændig grundet længde begrænsning i System Architect!)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EFIHændelseDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den (fremtidige) dato hvor hændelsen skal aktiveres.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
