systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/EFIKunde.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/EFIKundeTypeType.xsd"/>
         <xs:include schemaLocation="../types/JaNejType.xsd"/>
         <xs:include schemaLocation="../types/EFIKundeNummerTypeType.xsd"/>
         <xs:element name="EFIKundeType" type="fase2.1:EFIKundeTypeType">
               
               <xs:annotation>
                  <xs:documentation>Enumeration omfatter:  CPR PEF SE AKP AKV</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EFIKundeArrest" type="fase2.1:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Markering om hvorvidt er indberettet til arrest.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EFIKundeNummerType" type="fase2.1:EFIKundeNummerTypeType">
               
               <xs:annotation>
                  <xs:documentation>Type for KundeNummer - anvendes til nettoindkomst-beregner.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
