systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/Ejendom.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>I lovgivningen defineret som vurderingsejendom (Vurderingsloven). Kan bestå af samlet fast ejendom, umatrikuleret ejendom, ejerlejlighed, bygning på lejet grund, bygning på søterritoriet, fraskilt andel i fælleslod mv.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/EjendomNummerType.xsd"/>
         <xs:include schemaLocation="../types/TalHel2Type.xsd"/>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/Tekst1Type.xsd"/>
         <xs:element name="EjendomNummer" type="fase2.1:EjendomNummerType">
               
               <xs:annotation>
                  <xs:documentation>6-cifret identifikation af en ejendom i BBR-registreret</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EjendomBenyttelseKode" type="fase2.1:TalHel2Type">
               
               <xs:annotation>
                  <xs:documentation>To-cifret benyttelseskode for fast ejendom. (Som angivet i Vurderingsvejledningen afs. D)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EjendomSletMarkering" type="fase2.1:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Angiver at det pågældende ejendomsnummer er blevet slettet (ja=true).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EjendomTypeKode" type="fase2.1:Tekst1Type">
               
               <xs:annotation>
                  <xs:documentation>Angiver ejendommens benyttelse (jfr. felt 705)</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
