systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/Forsendelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En meddelelse skal afsendes til modtageren (en kunde). Forsendelse udtrykker, at en (formateret) meddelelse er (forsøgt) afsendt til kunden på et bestemt tidspunkt til en bestemt kanaladresse (og dermed en kanaltype).  En meddelelse kan afsendes flere gange - både i forbindelse med fejl på kanaler og i forbindelse med at en brugere gensender kommunikation (fra kommunikationsmappen) </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/Tekst300Type.xsd"/>
         <xs:element name="ForsendelseAfsendelseDatoTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Tidstempel for afsendelse af meddelelse</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForsendelseKvitteringDatoTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Tidstempel for kvittering for afsendelse. Muligvis tom.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForsendelseStatus" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Status for afsendelse  Værdiset: Formodet afsendt Ikke kvitteret Positivt kvitteret Fejlet</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForsendelseFejlårsag" type="fase2.1:Tekst300Type">
               
               <xs:annotation>
                  <xs:documentation>Tekstfelt hvor der kan angives årsag til at forsendelsestatus er manuelt ændret. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForsendelseGensendDatoTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Datotid for gensenselse af meddelelse. Overskrives hvis den samme meddelelse gensendes igen.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
