systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/Fravaer.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Der oprettes fravær til en kalender når en ressource ikke er til rådighed i en periode, f.eks. ved ferie, orlov, sygdom osv.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:include schemaLocation="../types/Tekst80Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst128Type.xsd"/>
         <xs:element name="FraværID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Fravær objektets unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværKalenderID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den kalender som fraværet er tilknyttet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværDatoFra" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Startdatoen for fraværet. Datoen er inkluderet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværDatoTil" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Slutdatoen for fraværet. Datoen er inkluderet</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværÅrsag" type="fase2.1:Tekst80Type">
               
               <xs:annotation>
                  <xs:documentation>Beskrivelse af årsagen ti fraværet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværOprettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har oprettet fraværet. Hvis ID er -1, er det systemet der har foretaget oprettelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværOprettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt fraværet er blevet oprettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværÆndretAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der sidst har ændret fraværet. Hvis ID er -1, er det systemet der har foretaget ændringen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværÆndretTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt fraværet er blevet ændret.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværSlettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har slettet fraværet. Hvis ID er -1, er det systemet der har foretaget sletningen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværSlettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt fraværet er blevet slettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FraværTimestampVersion" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Angiver dato og tidspunkt for sidste ændring til fraværet, det kan både være oprettelse, opdatering og sletning. Attributten anvendes til optimistisk låsning i databasen, samt til at hente delta-ændringer når der overføres til DataWarehouse.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
