systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/Graensezone.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:include schemaLocation="../types/ProcentType.xsd"/>
         <xs:element name="GrænsezoneOmfattesIkkeMaxbeløb" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="GrænsezoneMaxbeløb" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="GrænsezoneOmfattesIkkeMaxProcent" type="fase2.1:ProcentType">
               
            </xs:element>
      </xs:schema>
