systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/HaeftelseRenteFritag.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En fordring kan være rentefritaget i en given periode. Rentefritagelsen er anført på hæftelsen, da rentefritagelsen ikke nødvendigvis vedrører alle hæftere på en fordring.  </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/HaeftelseRenteFritagStatusKodeType.xsd"/>
         <xs:include schemaLocation="../types/HaeftelseRenteFritagAArsagKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:element name="HæftelseRenteFritagID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Unik identifikation af rentefritagelse.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseRenteFritagStart" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Startdato for rentefritagelse (rentestop).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseRenteFritagSlut" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Slutdato for rentefritagelse (rentestop)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseRenteFritagStatusKode"
                     type="fase2.1:HæftelseRenteFritagStatusKodeType">
               
               <xs:annotation>
                  <xs:documentation>Status på rentefritagelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseRenteFritagÅrsagKode"
                     type="fase2.1:HæftelseRenteFritagÅrsagKodeType">
               
               <xs:annotation>
                  <xs:documentation>Sagsbehandler muligheder for valg mellem forud defineret årsager til rentefritagelse</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseRenteFritagÅrsagKodeBegr" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybende begrundelse for rentefritagelsen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseRenteFritagÅrsagTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af ÅrsagKode Anden for rentefritagelse</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseRenteFritagAnnDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for annulering af rentefritagelse.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
