systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/HaeftelseModregningStop.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En fordring kan være fritaget for modregning i  en given periode.  En specifik myndighedsudbetaling type kan være fritaget for modregning i fordring i en given periode.  Modregningsstoppene er anført på hæftelsen, da fritagelsen ikke nødvendigvis vedrører alle hæftere på en fordring.  </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/HaeftelseModregningStopTypeDomaeneType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/AArsagStopKodeModregningType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:element name="HæftelseModregningStopType"
                     type="fase2.1:HæftelseModregningStopTypeDomæneType">
               
            </xs:element>
         <xs:element name="HæftelseModregningStopStart" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hvor stop  for modregning i en i fordring eller myndighedsudbetaling  gælder fra </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseModregningStopSlut" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hvor stop  for modregning i en i fordring eller myndighedsudbetaling  ophører. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseModregningStopÅrsagKode"
                     type="fase2.1:ÅrsagStopKodeModregningType">
               
               <xs:annotation>
                  <xs:documentation>Sagsbehandler muligheder for valg mellem foruddefineret årsag til stop.   Note til elementnavn: Dette elementnavn er ikke blevet forkortet til de aftalte maks. 30 karakterer, da det ikke var muligt at finde en forkortelse der ikke var meningsforstyrrende i forhold til begrebet. Elementet skal forkortes i databasen, og her er SKATs forslag til forkortelse: HæftelseModrStopÅrsagKode   </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseModregningStopÅrsagBegr" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af valg af StopÅrsagKode  Note til elementnavn: Dette elementnavn er ikke blevet forkortet til de aftalte maks. 30 karakterer, da det ikke var muligt at finde en forkortelse der ikke var meningsforstyrrende i forhold til begrebet. Elementet skal forkortes i databasen, og her er SKATs forslag til forkortelse: HæftelseModrStopÅrsagBegr</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseModregningStopÅrsagTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af ÅrsagKode Anden   Note til elementnavn: Dette elementnavn er ikke blevet forkortet til de aftalte maks. 30 karakterer, da det ikke var muligt at finde en forkortelse der ikke var meningsforstyrrende i forhold til begrebet. Elementet skal forkortes i databasen, og her er SKATs forslag til forkortelse: HæftelseModrStopÅrsagTekst</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
