systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/HaeftelseStop.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En fordring kan være omfattet af udligningstop i en given periode. Udligningsstoppet er anført på hæftelsen, da udligningsstoppet ikke nødvendigvis vedrører alle hæftere på en fordring.  </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/HaeftelseStopTypeType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/HaeftelseStopAArsagKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:element name="HæftelseStopType" type="fase2.1:HæftelseStopTypeType">
               
               <xs:annotation>
                  <xs:documentation>Type der angiver hvilket stop en sagsbehandler kan sætte på en hæftelse.  Udligningsstop kan være et almindelig udligningsstop eller Et stop sat med flaget HæftelseUnderBobehnadling (hvor ja virker som udligningsstop) </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseStopStart" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hæftelsesstoppet gælder fra</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseStopSlut" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hvor hæftelsesstoppet ophører</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseStopÅrsagKode" type="fase2.1:HæftelseStopÅrsagKodeType">
               
               <xs:annotation>
                  <xs:documentation>Beskriver årsagen til et givet stop.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseStopÅrsagBegr" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af valg af StopÅrsagKode</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HæftelseStopÅrsagTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af ÅrsagKode Anden </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
