systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/Henstand.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/JaNejType.xsd"/>
         <xs:include schemaLocation="../types/EFIHenvendelseFormTypeType.xsd"/>
         <xs:include schemaLocation="../types/HenstandBegrundelseKodeType.xsd"/>
         <xs:include schemaLocation="../types/Tekst4000Type.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:include schemaLocation="../types/HenstandAktivitetTypeType.xsd"/>
         <xs:include schemaLocation="../types/Tekst80Type.xsd"/>
         <xs:element name="HenstandUdløbDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for udløb af henstand.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandSendDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Anders: Afventer definition fra KMD.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandMedSpecifikation" type="fase2.1:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Er henstand med specifikation.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandMedRentestop" type="fase2.1:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Er henstand med rentestop</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandHenvendelseForm" type="fase2.1:EFIHenvendelseFormTypeType">
               
               <xs:annotation>
                  <xs:documentation>MANGLER ENUMS.  Anders: Afventer definition fra KMD.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandHenvendelseDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for hvornår en henvendelse er foretaget.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandBegrundelseKode" type="fase2.1:HenstandBegrundelseKodeType">
               
               <xs:annotation>
                  <xs:documentation>ANDET: Andet LIKVIDITET: Midlertidig likviditetsproblem SOCIAL: Sociale hensyn VELFAERD: Velfærdstruende forhold OEKONOMI: Økonomiske hensyn</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandBegrundelseTekst" type="fase2.1:Tekst4000Type">
               
            </xs:element>
         <xs:element name="HenstandErMeddelelseSendt" type="fase2.1:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Anders: Afventer definition fra KMD.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandSenestÆndret" type="fase2.1:DatoTidType">
               
            </xs:element>
         <xs:element name="HenstandMeddelelseIkkeModtaget" type="fase2.1:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Dette er en boolean datatype, hvor man kan vælge mellem ja og nej (hhv. true og false).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandAktivitetType" type="fase2.1:HenstandAktivitetTypeType">
               
               <xs:annotation>
                  <xs:documentation>Enum:  BEVILGET FORLAENGET</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandSlutDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for udløb af henstand.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenstandÅrsag" type="fase2.1:Tekst80Type">
               
               <xs:annotation>
                  <xs:documentation>Årsag til henstand gives</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
