systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/InddrivelseKontoStop.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En inddrivelseskonto kan være omfattet af udligningsstop og/eller Udbetalingsstop i en given periode.   </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/InddrivelseKontoStopTypeType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/InddrivelseKontoStopAArsagKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:element name="InddrivelseKontoStopType" type="fase2.1:InddrivelseKontoStopTypeType">
               
               <xs:annotation>
                  <xs:documentation>Typer der angiver sagsbehandlers muligheder for valg af stop, som kan sættes på kundens konto.  Udligningstop kan være et almindelig udligningsstop eller Et stop sat med flaget KundeUnderBobehnadling ( hvor ja virker som udligningstop). </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InddrivelseKontoStopStart" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hvor et kontostop gælder fra.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InddrivelseKontoStopSlut" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hvor et kontostop ophører</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InddrivelseKontoStopÅrsagKode"
                     type="fase2.1:InddrivelseKontoStopÅrsagKodeType">
               
               <xs:annotation>
                  <xs:documentation>Beskriver årsagen til et givet stop.  </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InddrivelseKontoStopÅrsagBegr" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af valg af StopÅrsagKode</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InddrivelseKontoStopÅrsagTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af ÅrsagKode Anden </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
