systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/IndkomstType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Angiver tilladte indkomsttyper, eksempelvis lønindkomst, kontanthjælp, uddannelsesydelse (SU) osv. </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeToCifreStartNulType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="IndkomstTypeKode" type="fase2.1:KodeToCifreStartNulType">
               
               <xs:annotation>
                  <xs:documentation>Angiver de tilladte værdier for indkomsttype. OBS!! - Værdien 00 er tilladt. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="IndkomstTypeTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Angiver klartekst til en tilladt værdi </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="IndkomstTypeGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver gyldig fra og med dato </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="IndkomstTypeGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver gyldig til og med dato </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
