systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/KOBIndberetning.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Beskriver en indberetning til et kreditoplysningsbureau (KOB).</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/JaNejType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="KOBIndberetningID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Unik identifikation af en indberetning til et kreditoplysningsbureau.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KOBIndberetningDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for indberetning til et kreditoplysningsbureau.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KOBIndberetningUdløbDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Datoen hvornår en indberetning udløber.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KOBIndberetningAfmeldelseDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for afmeldelse/sletning af en indberetning til KOB.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KOBIndberetningVarselDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for udsendelse af varsel om en indberetning til KOB.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KOBIndberetningVarselHenvendelseFristDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Frist for henvendelse efter varsel og inden indberetning til KOB kan finde sted.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KOBIndberetningVarselIkkeModtaget" type="fase2.1:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Angiver at varsel er modtaget retur - ikke modtaget</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KOBIndberetningFordringSum" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Summen af de omfattede fordringsbeløb.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KOBIndberetningRestSaldo" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Summen af restbeløb for de indberettede fordringer.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
