systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/Koerselstid.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Kørselstider anvendes når der bookes udgående opgaver. Medarbejderen kører fra et arbejdssted til et postnummer, og kørselstiden lægges til opgavens varighed når der bookes en aftale. Hvis der allerede er en aftale i samme postnummer anvendes tiden indenfor postnummeret som kørselstid.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:include schemaLocation="../types/PostNummerType.xsd"/>
         <xs:include schemaLocation="../types/TalHelType.xsd"/>
         <xs:include schemaLocation="../types/Tekst128Type.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:element name="KørselstidID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Kørselstidens unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidArbejdsstedID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på arbejdsstedet som kørselstiden gælder fra.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidPostNummer" type="fase2.1:PostNummerType">
               
               <xs:annotation>
                  <xs:documentation>Det postnummer som kørselstiden gælder til</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidMinutter" type="fase2.1:TalHelType">
               
               <xs:annotation>
                  <xs:documentation>Kørselstiden fra arbejdsstedet til postnummeret i minutter.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidMinutterIndenforPostNummer" type="fase2.1:TalHelType">
               
               <xs:annotation>
                  <xs:documentation>Den gennemsnitlige tid i minutter, som det tager at køre mellem to adresser indenfor det samme postnummer.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidOprettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har oprettet kørselstiden. Hvis ID er -1, er det systemet der har foretaget oprettelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidOprettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt kørselstiden er blevet oprettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidÆndretAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der sidst har ændret kørselstiden. Hvis ID er -1, er det systemet der har foretaget ændringen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidÆndretTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt kørselstiden er blevet ændret.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidSlettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har slettet kørselstiden. Hvis ID er -1, er det systemet der har foretaget sletningen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidSlettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt kørselstiden er blevet slettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KørselstidTimestampVersion" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Angiver dato og tidspunkt for sidste ændring til kørselstiden, det kan både være oprettelse, opdatering og sletning. Attributten anvendes til optimistisk låsning i databasen, samt til at hente delta-ændringer når der overføres til DataWarehouse.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
