systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/KontaktOplysning.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En generalisering af kontaktoplysning, såsom e-mail, adresse, telefonnummer mv.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/NavnType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:include schemaLocation="../types/JaNejType.xsd"/>
         <xs:element name="KontaktOplysningKontaktPerson" type="fase2.1:NavnType">
               
               <xs:annotation>
                  <xs:documentation>Her kan angives den kontaktperson, som man kan kontakte direkte. Det kan fx være en sagsbehandler i en kommune. En kontaktperson kan også have telefonnr. og E-mail. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KontaktOplysningGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Datoen hvorfra kontaktoplysningen er gyldig.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KontaktOplysningGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Datoen hvortil kontaktoplysningen er gyldig.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KontaktOplysningÅrsag" type="fase2.1:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Her kan angives årsagen til at kontaktoplysningen er indsat.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KontaktOplysningSkjult" type="fase2.1:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Når der oprettes en adresse, en AlternativAdresse, et TelefonNummer, en EmailAdresse eller et Faxnummer, skal det angives, hvorvidt denne skal være skjult for kunden (vil være default Nej). Anvendes typisk ifm inddrivelse, hvor man kommer i besiddelse af fx en adresse, som ikke er den officielle adresse på en kunde, men der hvor denne kan træffes. </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
