systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/LaaneUdgift.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Låneudgift er en budget post </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/KontoNummerType.xsd"/>
         <xs:element name="LåneUdgiftAnvendelse" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Beskrivelse af et lån</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="LåneUdgiftKreditorNavn" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Navnet på kreditoren til lånet</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="LåneUdgiftStiftelseDato" type="fase2.1:DatoType">
               
            </xs:element>
         <xs:element name="LåneUdgiftUdløbDato" type="fase2.1:DatoType">
               
            </xs:element>
         <xs:element name="LåneUdgiftRegistreringNummer" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Et registreringsnummer for et lån</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="LåneUdgiftKontoNummer" type="fase2.1:KontoNummerType">
               
               <xs:annotation>
                  <xs:documentation>Angivelsen af et kontonummer</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
