systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/MeddelelseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Enhver meddelelse, der skal sendes af A&amp;D har en type. Den type bruges til styre hvordan meddelelsen skal sendes, hvor den skal sendes og hvordan den skal formateres.  Meddelelsestyper sættes op af procesejer. </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/MeddelelseKodeType.xsd"/>
         <xs:include schemaLocation="../types/KodeType.xsd"/>
         <xs:element name="MeddelelseTypeNavn" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Navn på meddelelsestypen. Se liste over værdier.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MeddelelseTypeNummer" type="fase2.1:MeddelelseKodeType">
               
               <xs:annotation>
                  <xs:documentation>Unikt ID af den enkelte meddelelsestype.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MeddelelseTypeKode" type="fase2.1:KodeType">
               
               <xs:annotation>
                  <xs:documentation>En vilkårlig kode på 10 tegn. (Anvendes ikke i A&amp;D)</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
