systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/MeddelelsePakkeBilag.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/Tekst240Type.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:element name="MeddelelsePakkeBilagDato" type="fase2.1:DatoType">
               
            </xs:element>
         <xs:element name="MeddelelsePakkeBilagTitel" type="fase2.1:Tekst240Type">
               
               <xs:annotation>
                  <xs:documentation>Den titel der angiver dokumentets indhold</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MeddelelsePakkeBilagNote" type="fase2.1:TekstLangType">
               
            </xs:element>
      </xs:schema>
