systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/MeddelelsePakke.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/Tekst128Type.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:include schemaLocation="../types/JaNejType.xsd"/>
         <xs:include schemaLocation="../types/Tekst4000Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst300Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst240Type.xsd"/>
         <xs:element name="MeddelelsePakkeID" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Angiver meddelelsespakke id som unique tekst</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MeddelelsePakkeDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MeddelelsePakkeBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Beløb i udenlandsk valuta angivet som decimaltal, fx. 1500,00 , som anvendes i udenlandske opkrævninger</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MeddelelsePakkeOCRLinjeMarkering" type="fase2.1:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Flag for om OCR-linje skal dannes</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MeddelelsePakkeTekst" type="fase2.1:Tekst128Type">
               
            </xs:element>
         <xs:element name="MeddelelsePakkeTekstLang" type="fase2.1:Tekst4000Type">
               
            </xs:element>
         <xs:element name="MeddelelsePakkeNavn" type="fase2.1:Tekst300Type">
               
               <xs:annotation>
                  <xs:documentation>Manuel specifikation af navn</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MeddelelsePakkeAdresseReferenceNummer" type="fase2.1:Tekst240Type">
               
               <xs:annotation>
                  <xs:documentation>Tekstfelt til brug for reference oplysninger f.eks Journal nr.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
