systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/MFOpgave.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/UUIDType.xsd"/>
         <xs:include schemaLocation="../types/MFOpgaveTypeType.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:include schemaLocation="../types/MFOpgaveAfvisAArsagKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:element name="MFOpgaveID" type="fase2.1:UUIDType">
               
               <xs:annotation>
                  <xs:documentation>Unik identifikation af en opgave i Modtag Fordring.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MFOpgaveType" type="fase2.1:MFOpgaveTypeType">
               
               <xs:annotation>
                  <xs:documentation>TRANSPORT - Godkend  transport AKR - Identificer eller opret alternativ kontakt AFSKRIV - Godkend afskrivning</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MFOpgaveAfsluttetDatoTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt for hvornår en opgave i Modtag Fordring er afsluttet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MFOpgaveAfvisÅrsagKode" type="fase2.1:MFOpgaveAfvisÅrsagKodeType">
               
               <xs:annotation>
                  <xs:documentation>Sagsbehandlers mulighed for at vælge en årsag til afvisning af opgave. Ved valg af årsagskode anden skal felt Anden tekst udfyldes med forklaring af, hvorfor de øvrige årsager ikke er anvendelige. Værdisæt (enum): TRANSPORTDOK: Ugyldigt transportdokument AFSKRIV: Afskrivning ikke godkendt AKRIKKEFUNDET: Ikke nok information til identifikation  ANDEN: Anden årsag</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MFOpgaveAfvisÅrsagBegr" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybende begrundelse for, hvorfor en opgave er afvist.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MFOpgaveAfvisÅrsagTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybende begrundelse for valg af ÅrsagKode Anden.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
