systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/NettoIndkomstBeregningSpecifikaton.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/Tekst45Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst100Type.xsd"/>
         <xs:element name="NettoIndkomstBeregningSpecifikatonRubrik" type="fase2.1:Tekst45Type">
               
               <xs:annotation>
                  <xs:documentation>Specifikation af grundlaget for nettoindkomstberegningen. Kan indeholde rubriknummer fra f.eks. selvangivelsens.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="NettoIndkomstBeregningSpecifikatonTekst" type="fase2.1:Tekst100Type">
               
               <xs:annotation>
                  <xs:documentation>Specifikation af grundlaget for nettoindkomstberegningen. Kan indeholde f.eks. selvangivelsens rubrikoverskrift.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="NettoIndkomstBeregningSpecifikatonVærdi" type="fase2.1:Tekst45Type">
               
               <xs:annotation>
                  <xs:documentation>Specifikation af værdien anvendt i grundlaget for nettoindkomstberegningen. Kan f.eks. være selvangivelsens rubrikindhold.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
