systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/OpgavekoeAlarmtype.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Relation mellem en opgavekø og en tilknyttet alarmtype. Alarmtypen kan konfigureres på køen så den vises med en bestemt farve i alarmlisten.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:include schemaLocation="../types/TalHelType.xsd"/>
         <xs:include schemaLocation="../types/Tekst128Type.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:element name="OpgavekøAlarmtypeID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>OpgavekøAlarmtype objektets unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeOpgavekøID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Opgavekøens unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeAlarmtypeID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Alarmtypens unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeFarve" type="fase2.1:TalHelType">
               
               <xs:annotation>
                  <xs:documentation>Den farve alarmtypen vises med på alarmlisten.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeOprettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har oprettet OpgavekøAlarmtype objektet. Hvis ID er -1, er det systemet der har foretaget oprettelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeOprettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt OpgavekøAlarmtype objektet er blevet oprettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeÆndretAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der sidst har ændret opgavekøalarmtype objektet. Hvis ID er -1, er det systemet der har foretaget ændringen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeÆndretTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt opgavekøalarmtype objektet er blevet ændret.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeSlettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har slettet opgavekøalarmtype objektet. Hvis ID er -1, er det systemet der har foretaget sletningen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeSlettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt opgavekøalarmtype objektet er blevet slettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OpgavekøAlarmtypeTimestampVersion" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Angiver dato og tidspunkt for sidste ændring til opgavekøalarmtype objektet, det kan både være oprettelse, opdatering og sletning. Attributten anvendes til optimistisk låsning i databasen, samt til at hente delta-ændringer når der overføres til DataWarehouse.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
