systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/PointAnvendelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Indeholder oplysninger om hvornår, og hvad en medarbejder har brugt point, samt hvor mange point der er brugt.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:include schemaLocation="../types/Tekst300Type.xsd"/>
         <xs:include schemaLocation="../types/TalHel10Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst128Type.xsd"/>
         <xs:element name="PointAnvendelseID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>PointAnvendelsens unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PointAnvendelseMedarbejderprofilID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Medarbejderprofilens unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PointAnvendelseDato" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Datoen pointene er brugt</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PointAnvendelseBeskrivelse" type="fase2.1:Tekst300Type">
               
               <xs:annotation>
                  <xs:documentation>Beskrivelse af hvad pointene er brugt til.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PointAnvendelsePoint" type="fase2.1:TalHel10Type">
               
               <xs:annotation>
                  <xs:documentation>Antal point der er brugt</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PointAnvendelseOprettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har oprettet pointanvendelsen. Hvis ID er -1, er det systemet der har foretaget oprettelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PointAnvendelseOprettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt pointanvendelsen er blevet oprettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PointAnvendelseSlettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har slettet pointanvendelsen. Hvis ID er -1, er det systemet der har foretaget sletningen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PointAnvendelseSlettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt pointanvendelsen er blevet slettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="PointAnvendelseTimestampVersion" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Angiver dato og tidspunkt for sidste ændring til pointanvendelsen, det kan både være oprettelse, opdatering og sletning. Attributten anvendes til optimistisk låsning i databasen, samt til at hente delta-ændringer når der overføres til DataWarehouse.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
