systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/RSRessourcekrav.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En opgavetype har et eller flere ressourcekrav der angiver hvilke ressourcegrupper der skal bruges ressourcer fra for at løse opgaven.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:include schemaLocation="../types/JaNejType.xsd"/>
         <xs:include schemaLocation="../types/Tekst128Type.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:element name="RSRessourcekravID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Ressourcekravets unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravOpgavetypeID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den opgavetype ressourcekravet er konfigureret på.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravRessourcegruppeID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressourcegruppe som ressourcen der skal løse opgaven skal komme fra.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravVidne" type="fase2.1:JaNejType">
               
               <xs:annotation>
                  <xs:documentation>Angiver om ressourcekravet gælder et vidne. Anvendes når der bookes, da det ikke kræver nogen kompetencer at være vidne.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravOprettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har oprettet ressourcekravet. Hvis ID er -1, er det systemet der har foretaget oprettelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravOprettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt ressourcekravet er blevet oprettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravÆndretAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der sidst har ændret ressourcekravet. Hvis ID er -1, er det systemet der har foretaget ændringen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravÆndretTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt ressourcekravet er blevet ændret.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravSlettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke ID på den ressource (medarbejder) der har slettet ressourcekravet. Hvis ID er -1, er det systemet der har foretaget sletningen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravSlettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt ressourcekravet er blevet slettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSRessourcekravTimestampVersion" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Angiver dato og tidspunkt for sidste ændring til ressourcekravet, det kan både være oprettelse, opdatering og sletning. Attributten anvendes til optimistisk låsning i databasen, samt til at hente delta-ændringer når der overføres til DataWarehouse.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
