systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/RykkerAEndring.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/Tekst1024Type.xsd"/>
         <xs:element name="RykkerÆndringBetalingsFrist" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Ny betalingsdato for rykkeren.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RykkerÆndringBegrundelse" type="fase2.1:Tekst1024Type">
               
               <xs:annotation>
                  <xs:documentation>Standardtekst  der kan vælges, med en begrundelse hvorfor der er ændret betalingsfrist på rykkeren.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RykkerÆndringYderligBegrundelse" type="fase2.1:Tekst1024Type">
               
               <xs:annotation>
                  <xs:documentation>Yderligere tekst der kan angives, hvorfor der er ændret betalingsfrist på rykkeren,</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
