systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/SBetalingEvne.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:include schemaLocation="../types/ProcentType.xsd"/>
         <xs:element name="SBetalingEvneBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Kundens S-betalingsevne periodiseret til samme periode som ønsket i input elementet BetalingEvneEnhedPeriode. Hvis periden ikke er udfyldt returneres i kr. pr. måned</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SBetalingEvneBeløbDKK" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Kundens S-betalingsevne periodiseret til samme periode som ønsket i input elementet BetalingEvneEnhedPeriode. Hvis periden ikke er udfyldt returneres i kr. pr. måned</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SBetalingEvneBeregnLønIndProcent" type="fase2.1:ProcentType">
               
               <xs:annotation>
                  <xs:documentation>Kundens beregnede S-lønindeholdelsesprocent afrundet i overensstemmelse med reglerne for afrunding af denne sats</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
