systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/SlotUndtagelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En undtagelse er en dag hvor en gentagelse ikke skal gælde.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:include schemaLocation="../types/Tekst128Type.xsd"/>
         <xs:element name="SlotUndtagelseID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Undtagelsens unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SlotUndtagelseOpgaveGentagelseID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Fremmednøgle til OpgaveGentagelse</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SlotUndtagelseDato" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Undtagelsesdatoen - den dato gentagelsen ikke skal gælde.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SlotUndtagelseOprettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke DN på den medarbejder der har oprettet undtagelsen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SlotUndtagelseOprettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt undtagelsen er blevet oprettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SlotUndtagelseSlettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>Det unikke DN på den medarbejder der har slettet undtagelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SlotUndtagelseSlettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt undtagelsen er blevet slettet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SlotUndtagelseTimestampVersion" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt for sidste ændring af undtagelsen, det kan være oprettelsestidspunkt eller sletningstidspunkt.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
