systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/StatstidendeMeddelelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/Tekst60Type.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/Tekst255Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst4000Type.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:include schemaLocation="../types/Tekst20Type.xsd"/>
         <xs:element name="StatstidendeMeddelelseNummer" type="fase2.1:Tekst60Type">
               
               <xs:annotation>
                  <xs:documentation>Unik identifikation af meddelelse fra Statstidende.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseType" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Typen af meddelelse fra Statstidende.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelsePreface" type="fase2.1:Tekst255Type">
               
               <xs:annotation>
                  <xs:documentation>En tekst til overskrift eller indledning på meddelelsen fra Statstidende.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseTekst" type="fase2.1:Tekst4000Type">
               
               <xs:annotation>
                  <xs:documentation>Selve beskeden fra Statstidende.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseRetsKreds" type="fase2.1:Tekst60Type">
               
               <xs:annotation>
                  <xs:documentation>Navn på retskredsen som meddelelsen kommer fra.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseRetsKredsSagNummer" type="fase2.1:Tekst60Type">
               
               <xs:annotation>
                  <xs:documentation>Sagsnummer som retskredsen har tilknyttet meddelelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseProklamaDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Datoen for bekendtgørelsen fra Statstidende.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseDekretDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for dekret. (Er kun udfyldt såfremt meddelelsen er et dekret.)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseUdstedelseSted" type="fase2.1:Tekst60Type">
               
               <xs:annotation>
                  <xs:documentation>Stedet hvor udstedelsen eller underskrivningen foregik. (Indgår kun i enkelte Dødsbo-meddelelser.)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseUdstedelseDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for udstedelse eller underskrift af beskeden. (Indgår kun i enkelte Dødsbo-meddelelser.)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseUnderskriver" type="fase2.1:Tekst255Type">
               
               <xs:annotation>
                  <xs:documentation>Underskriver af meddelelsen. (Indgår kun i enkelte Dødsbo-meddelelser.)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseLov69Markering" type="fase2.1:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>Anvendes ved Dødsbo-meddelelser og angiver om dødsboet er omfattet af skiftelovens § 69.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseBemærkning" type="fase2.1:Tekst4000Type">
               
               <xs:annotation>
                  <xs:documentation>Et ekstra kommentarfelt der benyttes ifm. Dødsbo-meddelelser.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseSagNr" type="fase2.1:Tekst60Type">
               
               <xs:annotation>
                  <xs:documentation>Et sagsnummer der er tilknyttet personen eller virksomheden relateret til denne meddelelse.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseMødeType" type="fase2.1:Tekst60Type">
               
               <xs:annotation>
                  <xs:documentation>Mødetype for et møde relateret til et dødsbo. (Feltet optræder kun i Dødsbo-meddelelser.)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseMødeDatoTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt for et afholdt møde ifm. behandling af dødsbo. (Feltet indgår kun i dødsbo-meddelelser.)  (Svarer indholdsmæssigt til XML Schema-typen dateTime.)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseKontaktTekst" type="fase2.1:Tekst4000Type">
               
               <xs:annotation>
                  <xs:documentation>Et kommentarfelt der er relateret til oplysninger om en kontaktperson. (Anvendes kun for Rekonstruktions-meddelelser.)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="StatstidendeMeddelelseRegistreringNummer" type="fase2.1:Tekst20Type">
               
               <xs:annotation>
                  <xs:documentation>Identificerer entydigt en færøsk virksomhed. Benyttes i meddelelser fra Statstidende hvori færøske virksomheder indgår, idet disse ikke har et CVR-nummer. (Eksempel på værdi: Sp/f3310) </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
