systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/Valuta.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Indeholder oplysning om den valutakurs der er anvendt ved omregning.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ValutaType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/ValutaKursType.xsd"/>
         <xs:element name="ValutaKode" type="fase2.1:ValutaType">
               
               <xs:annotation>
                  <xs:documentation>Angiver valuta enheden (ISO-møntkoden) for et beløb.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ValutaDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hvor valutaomregningen er foretaget</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ValutaKurs" type="fase2.1:ValutaKursType">
               
               <xs:annotation>
                  <xs:documentation>Den valutakurs der er anvendt til omregning</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
