systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/class/VirksomhedAdresseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En angivelse af virksomhedens adressetype, herunder om virksomhedens hovedadresse, lageradresse, harpunadresse og så videre.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/VirksomhedAdresseTypeKodeType.xsd"/>
         <xs:include schemaLocation="../types/Tekst300Type.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:include schemaLocation="../types/MarkeringType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="VirksomhedAdresseTypeKode" type="fase2.1:VirksomhedAdresseTypeKodeType">
               
               <xs:annotation>
                  <xs:documentation>VirksomhedAdresseType angiver de typer af adresse, som kan oprettes for en virksomhed i forskellige situationer. VirksomhedAdresseType. VirksomhedAdresseType indeholder følgende tilladte værdier:  01 Virksomhed 02 Fors. (selsk. selvang.) 03 Hjemstedadr - selskab mfl 04 Lager for T 1 varer 05 Fjernregistrering 06 Bo 07 Postboks 08 Harpunadresse 09 Regnskab 10 Lager 12 Udenlandsk 13 Fors. (moms/lønsum) 14 Gammel virksomhedsadresse 15 Frivillig registrering 16 Spillestedsadresse  AdresseFormType angiver altså hvilken former for adresse, der tillades oprettes, hvorimod VirksomhedAdresseType angiver de adresser, der kan oprettes for en virksomhed.  Der findes i Erhvervssystemet tillige regler, som angiver tilladte kombinationer af AdresseFormType og VirksomhedAdresseType.   VirksomhedAdresseType = 01 kan således alene oprettes for AdresseFormType = 01 osv.  VirksomhedAdresseType indeholder elementerne:  - VirksomhedAdresseTypeKode - VirksomhedAdresseTypeTekst - VirksomhedAdresseTypeBeskrivelse - VirksomhedAdresseGyldigFra - VirksomhedAdresseGyldigTil </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedAdresseTypeTekst" type="fase2.1:Tekst300Type">
               
               <xs:annotation>
                  <xs:documentation>En kort tekst der knytter sig til den tilhørende kode.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedAdresseTypeBeskrivelse" type="fase2.1:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>En hjælpetekst til adressetypen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedAdresseTypeLøbeNummerMarkering" type="fase2.1:MarkeringType">
               
               <xs:annotation>
                  <xs:documentation>En ja/nej markering som definerer om en virksomhed kan have mere end en virksomhedadressetype</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedAdresseTypeGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato hvor typen er gyldig fra.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="VirksomhedAdresseTypeGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Ophørsdato for typen</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
