projects/ICS/ICS20120320/EU/Manifest - Udstillede wsdl filer v22/DKA57A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Bjarne Ulvmose (SKAT Hovedcentret) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKA57A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKA57A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--=====DKA57A:N_DECL_TSF_DAT_E_ENS_DAT_DK -->
	<!--===== DECLARATION FOR TEMPORARY STORAGE FACILITY  -->
	<!--===== Manifest / ICS Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--=========================================-->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKA57A" type="ie:DKA57AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKA57AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFAC" type="ie:TEMSTOFACType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFACOPE" type="ie:TEMSTOFACOPEType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRACONCE1" type="complex_manifest:TRACONCE1Type">
				<xs:annotation>
					<xs:documentation>
						<description value="CONSIGNEE"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRACARENT601" type="ie:TRACARENT601Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="(ENTRY CARRIER) TRADER"/>
						<condition name="C094DK"/>
						<condition name="C099DK"/>
						<condition name="C237DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDECTEMSTOFAC" type="ie:PERLODDECTEMSTOFACType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARROPR" type="ie:ARROPRType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="ARRIVAL OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" minOccurs="1" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="GOODS ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EENSDAT" type="ie:EENSDATType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="E_ENS_DAT"/>
						<condition name="C072DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!-- === HEADER ===-->
	<xs:complexType name="HEAType">
		<xs:annotation>
			<xs:documentation>
				<description value="HEADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RefNumHEA4" type="simple:DeclarationRequestNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="LRN"/>
						<rule name="R891"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotNumOfIteHEA305" type="simple:Numeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Total number of items"/>
						<rule name="R163DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotNumOfPacHEA306" type="simple:Numeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Total numbers of packages"/>
						<condition name="C582"/>
						<rule name="R105"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotGroMasHEA307" type="simple:Decimal_11_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Total gross mass"/>
						<rule name="R164DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComRefNumHEA" type="simple:Alphanumeric_Max70" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Commercial reference number"/>
						<condition name="C567"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TraModAtBorHEA76" type="simple:Numeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Transport mode at border"/>
						<rule name="R165DK"/>
						<codeList name="TransportMode" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InlTraModHEA" type="simple:Numeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Inland transport mode"/>
						<rule name="R165DK"/>
						<codeList name="TransportMode" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdeOfMeaOfTraArrHEA" type="simple:Alphanumeric_Max31" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Identification of the means of transport at arrival"/>
						<rule name="R011DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatOfMeaOfTraArrHEA" type="simple:CountryCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Nationality of the means of transport at arrival"/>
						<rule name="R038DK"/>
						<codeList name="CountryCodesFullList"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConRefNumHEA" type="simple:Alphanumeric_Max35" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Conveyance reference number"/>
						<condition name="C235DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDatOfArrFIRENT733" type="simple:DateTimeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Expected date and time of arrival"/>
						<rule name="R009DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaOfUnlHEA" type="simple:PlaceType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Unloading place"/>
						<rule name="R021DK"/>
						<codeList name="Loadin_UnloadingPlaceFacility"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="TEMSTOFACType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AutTypTEF" type="simple:Numeric3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Authorisation type"/>
						<rule name="R059DK"/>
						<codeList name="TemporaryStorageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemStoFacAddIDTEF" type="simple:Numeric_Max3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage facility address ID"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY OPERATOR ===-->
	<xs:complexType name="TEMSTOFACOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINTFO" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R210DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== (ENTRY CARRIER) TRADER =====-->
	<xs:complexType name="TRACARENT601Type">
		<xs:annotation>
			<xs:documentation>
				<description value="(ENTRY CARRIER) TRADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINTRACARENT602" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DECLERATION FOR TEMPORARY STORAGE DISCHARGE ===-->
	<xs:complexType name="PERLODDECTEMSTOFACType">
		<xs:annotation>
			<xs:documentation>
				<description value=" PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINPLF" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepStaPDS" type="simple:Numeric_1">
				<xs:annotation>
					<xs:documentation>
						<description value="Representative status"/>
						<rule name="R060DK"/>
						<codeList name="RepresentativeStatusCode"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== ARRIVAL OPERATION ===-->
	<xs:complexType name="ARROPRType">
		<xs:annotation>
			<xs:documentation>
				<description value="ARRIVAL OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManRefNumOPR" type="simple:Numeric_13" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MANMIT" type="ie:MANMITType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="MANIFEST ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== MANIFEST ITEM ===-->
	<xs:complexType name="MANMITType">
		<xs:annotation>
			<xs:documentation>
				<description value="MANIFEST ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManIteNumMIT" type="simple:Numeric_Max4" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Manifest item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===    GOODS ITEM ===-->
	<xs:complexType name="GOOITEGDSType">
		<xs:annotation>
			<xs:documentation>
				<description value="GOODS ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IteNumGDS7" type="simple:Numeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Item number"/>
						<rule name="R004DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GooDesGDS23" type="simple:Alphanumeric_Max280" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Goods description"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroMasGDS46" type="simple:Decimal_11_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Gross mass"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PACGS2" type="complex_manifest:PACGS2Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="PACKAGES"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CONNR2" type="ie:CONNR2Type" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="CONTAINERS"/>
						<condition name="C238DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COMCODGODITM" type="ie:COMCODGODITM2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="COMMODITY CODE"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRODOCDC2" type="ie:PRODOCDC2Type" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="PRODUCED DOCUMENTS / CERTIFICATES"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PREADMDOC" type="ie:PREADMDOCType" minOccurs="1" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="PREVIOUS ADMINISTRATIVE DOCUMENT"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ENTSUMDECOPE" type="ie:ENTSUMDECOPEType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="ENTRY SUMMARY DECLARATION OPERATION"/>
						<condition name="C246DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== CONTAINERS =====-->
	<xs:complexType name="CONNR2Type">
		<xs:annotation>
			<xs:documentation>
				<description value="CONTAINERS"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
				<xs:annotation>
					<xs:documentation>
						<description value="Container number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== COMMODITY CODE ===-->
	<xs:complexType name="COMCODGODITM2Type">
		<xs:annotation>
			<xs:documentation>
				<description value="COMMODITY CODE"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ComNomCOM2" type="simple:NumericMin4Max10" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Combined nomenclature"/>
						<rule name="R168DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PRODUCED DOCUMENTS / CERTIFICATES ===-->
	<xs:complexType name="PRODOCDC2Type">
		<xs:annotation>
			<xs:documentation>
				<description value="PRODUCED DOCUMENTS / CERTIFICATES"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GooRegDC2" type="simple:Alphanumeric_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Goods regulation"/>
						<rule name="R169DK"/>
						<codeList name="GoodsRegulation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocTypDC21" type="simple:Alphanumeric_Max4" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Document type"/>
						<rule name="R170DK"/>
						<rule name="R211DK"/>
						<codeList name="GoodsRegulationsAndCertificates"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocRefDC23" type="simple:Alphanumeric_Max35" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Document reference"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PREVIOUS ADMINISTRATIVE DOCUMENT ===-->
	<xs:complexType name="PREADMDOCType">
		<xs:annotation>
			<xs:documentation>
				<description value="PREVIOUS ADMINISTRATIVE DOCUMENT"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PreDocTypPDO" type="simple:Alphanumeric_Max4" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document type"/>
						<rule name="R131DK"/>
						<codeList name="DocumentTypeCommon" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreDocRefPDO" type="simple:Alphanumeric_Max20">
				<xs:annotation>
					<xs:documentation>
						<description value="Previous document reference"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== ENTRY SUMMARY DECLARATION OPERATION ===-->
	<xs:complexType name="ENTSUMDECOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="ENTRY SUMMARY DECLARATION OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MRNEDO" type="simple:MRNType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="MRN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IteNumEDO" type="simple:Numeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== E_ENS_DAT ===-->
	<xs:complexType name="EENSDATType">
		<xs:annotation>
			<xs:documentation>
				<description value="E_ENS_DAT"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IMPOPE" type="ie:IMPOPEType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="IMPORT OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRACONCO3" type="ie:TRACONCO3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="(CONSIGNOR) TRADER"/>
						<condition name="C511"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NOTPAR" type="ie:NOTPARType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="NOTIFY PARTY"/>
						<condition name="C583"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRAENTCAR" type="ie:TRAENTCARType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="(ENTRY CARRIER) TRADER"/>
						<condition name="C244DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRAREPRET" type="ie:TRAREPRETType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="(REPRESENTATIVE) TRADER"/>
						<rule name="R896"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GOOITEEDD" type="ie:GOOITEEDDType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="GOODS ITEM"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ITIARY" type="complex_manifest:ITIIMP304Type" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="ITINERARY"/>
						<condition name="C570"/>
						<rule name="R879"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SEAID" type="complex_manifest:SEAID529Type" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="SEALS ID"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== IMPORT OPERATION ===-->
	<xs:complexType name="IMPOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="IMPORT OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecPlaIMO" type="simple:Alphanumeric_Max35" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Declaration place"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoaPlaIMO" type="simple:LongPlaceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Loading place"/>
						<rule name="R670"/>
						<codeList name="Loading_UnloadingPlaceFacility"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpeCirIndIMO" type="simple:Alphanumeric_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Specific circumstance indicator"/>
						<rule name="R834"/>
						<codeList name="SpecificCircumstanceIndicator" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TraChaIMO" type="simple:Alphanumeric_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Transport charges - method of payment"/>
						<codeList name="TransportChargesMethodOfPayment" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== (CONSIGNOR) TRADER ===-->
	<xs:complexType name="TRACONCO3Type">
		<xs:annotation>
			<xs:documentation>
				<description value="(CONSIGNOR) TRADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamCO3" type="simple:TradNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrAndNumCO3" type="simple:StreetNumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Street and number"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PosCodCONCO3" type="simple:PostalCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Postcode"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CitCONCO3" type="simple:CityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="City"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CouCodCONCO3" type="simple:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Country code"/>
						<condition name="C501"/>
						<codeList name="CountryCodesFullList"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINCONCO3" type="simple:TINType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R835"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== NOTIFY PARTY ===-->
	<xs:complexType name="NOTPARType">
		<xs:annotation>
			<xs:documentation>
				<description value="NOTIFY PARTY"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamNTP" type="simple:TradNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrNumNTP" type="simple:StreetNumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Street and number"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstCodNTP" type="simple:PostalCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Postal code"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtyNTP" type="simple:CityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="City"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CouCodNTP" type="simple:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Country code"/>
						<condition name="C501"/>
						<codeList name="CountryCodesFullList"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINNTP" type="simple:TINType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R835"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== (ENTRY CARRIER) TRADER ===-->
	<xs:complexType name="TRAENTCARType">
		<xs:annotation>
			<xs:documentation>
				<description value="(ENTRY CARRIER) TRADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamTEC" type="simple:TradNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Name"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrNumTEC" type="simple:StreetNumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Street and number"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PstTEC" type="simple:PostalCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Postcode"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtyTEC" type="simple:CityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="City"/>
						<condition name="C501"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CouCodTEC" type="simple:CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Country code"/>
						<condition name="C501"/>
						<codeList name="CountryCodesFullList"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINTEC" type="simple:TINType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R835"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== (REPRESENTATIVE) TRADER ===-->
	<xs:complexType name="TRAREPRETType">
		<xs:annotation>
			<xs:documentation>
				<description value="(REPRESENTATIVE) TRADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINRET" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R837"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--==== GOODS ITEM ===-->
	<xs:complexType name="GOOITEEDDType">
		<xs:annotation>
			<xs:documentation>
				<description value="GOODS ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IteNumGOI" type="simple:Numeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UNDanGooCodGOI" type="simple:Alphanumeric_4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="UN dangerous goods code"/>
						<rule name="R823"/>
						<codeList name="UnDangerousGoodsCode" type="business"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PACGES" type="ie:PACGESType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="PACKAGES"/>
						<condition name="C577"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPEMEN" type="ie:SPEMENType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="SPECIAL MENTIONS"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PACKAGES ===-->
	<xs:complexType name="PACGESType">
		<xs:annotation>
			<xs:documentation>
				<description value="PACKAGES"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumOfPiePAC" type="simple:Numeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Number of pieces"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
		<!--=== SPECIAL MENTIONS ===-->
	<xs:complexType name="SPEMENType">
		<xs:annotation>
			<xs:documentation>
				<description value="SPECIAL MENTIONS"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddInfIdGSA" type="simple:Alphanumeric_Max5" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Additional information id"/>
						<rule name="R080DK"/>
						<codeList name="AdditionalInformationIdCommon"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
