projects/Manifest/20160919/OIO wsdl filer/Manifest/Manifest - Udstillede wsdl filer/Til erhvervslivet/Wsdl-xsd Manifest part 2 - Temporary Storage  (v24 - 15052012)/DKA72A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKA72A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKA72A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--===== DKA72A:N_DECL_TSF_DEL_REJ_DK-->
	<!--===== DECLARATION FOR TEMPORARY STORAGE FACILITY DELETE REJECTION -->
	<!--===== Manifest /ics Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--===== Included Features: [10, 12, 18, 20, 26, 27, 28, 29]  -->
	<!--=========================================-->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKA72A" type="ie:DKA72AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKA72AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MESMDE" type="ie:MESMEDType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="MESSAGE DETAIL"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FUNERRER1" type="ie:FUNERRER1Type" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="FUNCTIONAL ERROR"/>
						<rule name="R098DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDECTEMSTODEL" type="ie:PERLODDECTEMSTODELType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value=" PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE DELETE"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--=== HEADER ===-->
	<xs:complexType name="HEAType">
		<xs:annotation>
			<xs:documentation>
				<description value="HEADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TemStoRefNumHEA" type="simple:Numeric_13" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage reference number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== FUNCTIONAL ERROR =====-->
	<xs:complexType name="FUNERRER1Type">
		<xs:annotation>
			<xs:documentation>
				<description value="FUNCTIONAL ERROR"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrTypER11" type="tcl:FunctionalErrorCodes">
				<xs:annotation>
					<xs:documentation>
						<description value="Error type"/>
						<codeList name="FunctionalErrorCodes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrPoiER12" type="simple:Alphanumeric_Max210">
				<xs:annotation>
					<xs:documentation>
						<description value="Error pointer"/>
						</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrReaER13" type="simple:Alphanumeric_Max6">
				<xs:annotation>
					<xs:documentation>
						<description value="Error reason"/>
						</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriAttValER14" type="simple:Alphanumeric_Max140" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Original attribute value"/>
						</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== MESSAGE DETAIL ===-->
	<xs:complexType name="MESMEDType">
		<xs:annotation>
			<xs:documentation>
				<description value="MESSAGE DETAIL"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResDatTimMDE" type="simple:DateTimeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Response date and time"/>
						</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMDE" type="simple:Numeric_2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessagesType"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesReaCodMDE" type="simple:Alphanumeric_Max6" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Message reason code"/>
						<codeList name="MessagesReasonCodes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesReaMDE" type="simple:Alphanumeric_Max350" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Message reason"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===  PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE DELETE ===-->
	<xs:complexType name="PERLODDECTEMSTODELType">
		<xs:annotation>
			<xs:documentation>
				<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE DELETE"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TINPPTE" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
