projects/Manifest/20160919/OIO wsdl filer/Manifest/Manifest - Udstillede wsdl filer/Til erhvervslivet/Wsdl-xsd Manifest part 2 - Temporary Storage  (v24 - 15052012)/DKA77A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://manifest.skat.dk/DKA77A" xmlns:complex_manifest="http://manifest.skat.dk/complex_manifest" xmlns:simple_manifest="http://manifest.skat.dk/simple_manifest" xmlns:tcl_manifest="http://manifest.skat.dk/tcl_manifest" xmlns:simple="http://manifest.skat.dk/simple" xmlns:tcl="http://manifest.skat.dk/tcl" xmlns:doc="http://manifest.skat.dk/doc" targetNamespace="http://manifest.skat.dk/DKA77A" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00">
	<!--=========================================-->
	<!--===== DKA77A:N_DECL_TSF_TSAD_DK-->
	<!--===== DECLARATION FOR TEMPORARY STORAGE FACILITY TSAD  -->
	<!--===== Manifest /ics Domain Definition  -->
	<!--===== DDNIA v6.00  -->
	<!--===== CSE v0.11 / DDNA KEL 0.23  -->
	<!--===== Included Features: [10, 12, 18, 20, 26, 27, 28, 29]  -->
	<!--=========================================-->
	<!--===== Imports =====-->
	<xs:import namespace="http://manifest.skat.dk/doc" schemaLocation="doc.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/complex_manifest" schemaLocation="complex_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple_manifest" schemaLocation="simple_types_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl_manifest" schemaLocation="tcl_manifest.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/simple" schemaLocation="simple_types.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/tcl" schemaLocation="tcl.xsd"/>
	<!--===== Root Element =====-->
	<xs:element name="DKA77A" type="ie:DKA77AType"/>
	<!--===== Root Element Content =====-->
	<xs:complexType name="DKA77AType">
		<xs:sequence>
			<xs:group ref="ie:MESSAGE"/>
			<xs:element name="HEAHEA" type="ie:HEAType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="HEADER"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOOPE" type="ie:TEMSTOOPEType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE OPERATION"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFAC" type="ie:TEMSTOFACType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TEMSTOFACOPE" type="ie:TEMSTOFACOPEType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TEMPORARY STORAGE FACILITY OPERATOR"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TRACON" type="ie:TRACONType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="CONSIGNEE"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PERLODDECTEMSTOFAC" type="ie:PERLODDECTEMSTOFACType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<description value="GOODS ITEM"/>
						<rule name="R212DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--===== MESSAGE Content =====-->
	<xs:group name="MESSAGE">
		<xs:sequence>
			<xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message sender"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
				<xs:annotation>
					<xs:documentation>
						<description value="Message recipient"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatOfPreMES9" type="simple:DatePrepType">
				<xs:annotation>
					<xs:documentation>
						<description value="Date of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimOfPreMES10" type="simple:TimeType">
				<xs:annotation>
					<xs:documentation>
						<description value="Time of preparation"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Priority"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Test indicator"/>
						<rule name="TR9085"/>
						<codeList name="Flag"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
				<xs:annotation>
					<xs:documentation>
						<description value="Message identification"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MesTypMES20" type="tcl:MessageTypes">
				<xs:annotation>
					<xs:documentation>
						<description value="Message type"/>
						<codeList name="MessageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Correlation identifier"/>
						<rule name="TR9181"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--=== HEADER ===-->
	<xs:complexType name="HEAType">
		<xs:annotation>
			<xs:documentation>
				<description value="HEADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocNumHEA5" type="simple:MRNType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="MRN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IteNumHEA" type="simple:Numeric_Max5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Item number"/>
						<condition name="C055DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefNumHEA4" type="simple:DeclarationRequestNumberType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="LRN"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TINCON" type="simple:TINType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Consignee(TIN)"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE OPERATION ===-->
	<xs:complexType name="TEMSTOOPEType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE OPERATION"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LRNTST" type="simple:Alphanumeric_Max22" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="LRN"/>
						<rule name="R891"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnlPlaFacTST" type="simple:PlaceType">
				<xs:annotation>
					<xs:documentation>
						<description value="Unloading place facility"/>
						<rule name="R021DK"/>
						<codeList name="Loading_UnloadingPlaceFacility"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="TEMSTOFACType">
		<xs:annotation>
			<xs:documentation>
				<description value="TEMPORARY STORAGE FACILITY"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AutTypTEF" type="simple:Numeric_3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Authorisation type"/>
						<rule name="R059DK"/>
						<codeList name="TemporaryStorageTypes"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemStoFacAddIdTEF" type="simple:Numeric_Max3" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Temporary storage facility address ID"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== TEMPORARY STORAGE FACILITY OPERATOR ===-->
	<xs:complexType name="TEMSTOFACOPEType">
		<xs:sequence>
			<xs:element name="TINTFO" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R210DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== (CONSIGNEE) TRADER ===-->
	<xs:complexType name="TRACONType">
		<xs:annotation>
			<xs:documentation>
				<description value="(CONSIGNEE) TRADER"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TIN" type="simple:TINType">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PERSON LODGING THE DECLARATION FOR TEMPORARY STORAGE FACILITY ===-->
	<xs:complexType name="PERLODDECTEMSTOFACType">
		<xs:sequence>
			<xs:element name="TINPLF" type="simple:TINType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="TIN"/>
						<rule name="R029DK"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepStaPLF" type="simple:Numeric_1">
				<xs:annotation>
					<xs:documentation>
						<description value="Representative status"/>
						<rule name="R060DK"/>
						<codeList name="RepresentativeStatusCode"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== GOODS ITEM ===-->
	<xs:complexType name="GOOITEGDSType">
		<xs:annotation>
			<xs:documentation>
				<description value="GOODS ITEM"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IteNumGDS7" type="simple:Numeric_Max2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Item number"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PRODOCDC2" type="ie:PRODOCDC2Type" minOccurs="1" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>
						<description value="PRODUCED DOCUMENTS/CERTIFICATES"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=== PRODUCED DOCUMENTS / CERTIFICATES ===-->
	<xs:complexType name="PRODOCDC2Type">
		<xs:annotation>
			<xs:documentation>
				<description value="PRODUCED DOCUMENTS / CERTIFICATES"/>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodRegDC2" type="simple:Alphanumeric_1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<description value="Goods regulation (VAB)"/>
						<rule name="R169DK"/>
						<codeList name="Goods Regulation (MIO)"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocTypDC21" type="simple:Alphanumeric_Max4" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Document type"/>
						<rule name="R211DK"/>
						<rule name="R170DK"/>
						<codeList name="DocumentTypeCommon"/>
						<codeList name="Goods Regulations And Certificates (MIO VAB_Certifikater)"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocRefDC23" type="simple:Alphanumeric_Max35" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<description value="Document reference"/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
