projects/Manifest/20160919/OIO wsdl filer/Manifest/Manifest - Udstillede wsdl filer/Til erhvervslivet/Wsdl-xsd Manifest part 2 - Temporary Storage  (v24 - 15052012)/OIOTolddokumentSamlingHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tfe="urn:oio:skat:tfe:ws:1.0.1" xmlns:dka19a="http://manifest.skat.dk/DKA19A" xmlns:eu="urn:eu" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="urn:oio:skat:tfe:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation xml:lang="en">The english translation of "OIOTolddokumentSamlingHent" is "InquiryForProducedCustomsDocumentStatusList".
		 This translation applies to all names containing "OIOTolddokumentSamlingHent".
		 Example: "OIOTolddokumentSamlingHentServicePortType" translates to "InquiryForProducedCustomsDocumentStatusListServicePortType".</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="SKAT_HovedOplysninger.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/DKA19A" schemaLocation="DKA19A.xsd"/>
	<xs:element name="OIOTolddokumentSamlingHent_I" type="tfe:OIOTolddokumentSamlingHent_IType"/>
	<xs:complexType name="OIOTolddokumentSamlingHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="InputListe" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="dka19a:DKA19A"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
