projects/Manifest/20160919/OIO wsdl filer/Manifest/Manifest - Udstillede wsdl filer/Til erhvervslivet/Wsdl-xsd Manifest part 2 - Temporary Storage  (v24 - 15052012)/OIOTolddokumentSamlingHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tfe="urn:oio:skat:tfe:ws:1.0.1" xmlns:dka20a="http://manifest.skat.dk/DKA20A" xmlns:dka21a="http://manifest.skat.dk/DKA21A" xmlns:dk917b="http://manifest.skat.dk/DK917B" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="urn:oio:skat:tfe:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation xml:lang="en">The english translation of "OIOTolddokumentSamlingHent" is "InquiryForProducedCustomsDocumentStatusList".
		 This translation applies to all names containing "OIOTolddokumentSamlingHent".
		 Example: "OIOTolddokumentSamlingHentServicePortType" translates to "InquiryForProducedCustomsDocumentStatusListServicePortType".</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="SKAT_HovedOplysningerSvar.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/DKA20A" schemaLocation="DKA20A.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/DKA21A" schemaLocation="DKA21A.xsd"/>
	<xs:import namespace="http://manifest.skat.dk/DK917B" schemaLocation="DK917B.xsd"/>
	<xs:element name="OIOTolddokumentSamlingHent_O" type="tfe:OIOTolddokumentSamlingHent_OType"/>
	<xs:complexType name="OIOTolddokumentSamlingHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="KvitteringListe" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="dka20a:DKA20A"/>
						<xs:element ref="dka21a:DKA21A"/>
						<xs:element ref="dk917b:DK917B"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
