systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 ES/WSDL/package/wsdl/CVRNummerSENummerRelationHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="CVRNummerSENummerRelationHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Formålet er at hente   • alle relationer mellem SENummer og eventuelt CVRNummer og virksomhedstype på grundlag af et SENummer.   Hvis det angivne SENummer er et CVRnummer hentes alle tilhørende administrative enheder.  Hvis det angivne SENummer er en administrativ enhed, hentes på grundlag af CVRNummer alle øvrige tilhørende administrative enheder   • start- og evt. ophørsdato for virksomhed for såvel SENummer som eventuelt CVRNummer  • Aktuelt gældende kort navn samt adresse af typen virksomhedsadresse for såvel SENummer som eventuelt CVRNummer  Hvis der er tale om en ikke CVR-enhed hentes alene navn, adresse mm.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/CVRNummerSENummerRelationHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="CVRNummerSENummerRelationHentServiceRequest">
      
      <part name="Request" element="fase2.1:CVRNummerSENummerRelationHent_I"/>
   
   </message>
   
   <message name="CVRNummerSENummerRelationHentServiceResponse">
      
      <part name="Response" element="fase2.1:CVRNummerSENummerRelationHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="CVRNummerSENummerRelationHentServicePortType">
      
      <operation name="getCVRNummerSENummerRelationHent">
         
         <input message="fase2.1:CVRNummerSENummerRelationHentServiceRequest"/>
         
         <output message="fase2.1:CVRNummerSENummerRelationHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
