systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 ES/WSDL/package/wsdl/EjerVirksomhedRelationHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="EjerVirksomhedRelationHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Formålet er at hente oplysninger om hvilke virksomhed eller virksomheder en ejer indgår i. Er søgedato fra udfyldt hentes ejerforhold, som er gældende fra og med den anførte søgedato, dvs. inklusive ejerforhold med fremtidig startdato. Er søgedato fra og til udfyldt hentes ejerforhold, som er gældende helt eller delvist i den anførte periode.  Er søgedato ikke udfyldt hentes alle ejeroplysninger.  Er driftsform udfyldt hentes alene ejerforhold for virksomheder, som har den anførte driftsform.  Er både driftsform, ejerrolle og ejertype udfyldt hentes ejerforhold, som gælder for den anførte kombination af ejerrolle, ejertype og driftsform.  Hvis en serviceanvender har brug for eksempelvis adgang til personlige ejere i enkeltmandsvirksomheder og interessentskaber udfyldes følgende oplysninger for hvert   CPRNummer: EjerRolleTypeKode = 03 (Ejer) EjerTypeKode = 02 (CPR Ejer) DriftFormKode = 01 (Enkeltmandsfirma)  og EjerRolleTypeKode = 03 (Ejer) EjerTypeKode = 02 (CPR Ejer) DriftFormKode = 03 (Interessentskab)  og EjerRolleTypeKode = 03 (Ejer) EjerTypeKode = 02 (CPR Ejer) DriftFormKode = 55 (Registreret enkeltmandsfirma)  Der hentes uanset søgedato altid aktuelt gældende langt og kort navn for virksomhed samt adresse af typen virksomhedsadresse for SENummer og eventuelt CVRNummer </xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/EjerVirksomhedRelationHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="EjerVirksomhedRelationHentServiceRequest">
      
      <part name="Request" element="fase2.1:EjerVirksomhedRelationHent_I"/>
   
   </message>
   
   <message name="EjerVirksomhedRelationHentServiceResponse">
      
      <part name="Response" element="fase2.1:EjerVirksomhedRelationHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="EjerVirksomhedRelationHentServicePortType">
      
      <operation name="getEjerVirksomhedRelationHent">
         
         <input message="fase2.1:EjerVirksomhedRelationHentServiceRequest"/>
         
         <output message="fase2.1:EjerVirksomhedRelationHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
