systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 ES/WSDL/package/wsdl/VirksomhedKontaktOplysningSamlingHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="VirksomhedKontaktOplysningSamlingHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Henter alle gældende (d.d.) kontaktoplysninger, herunder adresser, for en virksomhed.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/VirksomhedKontaktOplysningSamlingHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="VirksomhedKontaktOplysningSamlingHentServiceRequest">
      
      <part name="Request" element="fase2.1:VirksomhedKontaktOplysningSamlingHent_I"/>
   
   </message>
   
   <message name="VirksomhedKontaktOplysningSamlingHentServiceResponse">
      
      <part name="Response" element="fase2.1:VirksomhedKontaktOplysningSamlingHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="VirksomhedKontaktOplysningSamlingHentServicePortType">
      
      <operation name="getVirksomhedKontaktOplysningSamlingHent">
         
         <input message="fase2.1:VirksomhedKontaktOplysningSamlingHentServiceRequest"/>
         
         <output message="fase2.1:VirksomhedKontaktOplysningSamlingHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
