systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 ES/WSDL/package/wsdl/VirksomhedStamOplysningSamlingHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="VirksomhedStamOplysningSamlingHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>NTSE har følgende kommentar: VÆR OPMÆRKSOM PÅ, at denne service kun må kaldes med max. 1200 virksomheder i input for at undgå timeout.Formålet er at hente stamoplysninger (faktiske forhold) for en virksomhed til brug for præsentation ved forespørgsel samt eventuelle valideringer og beregninger, eksempelvis beregning af angivelses- og betalingsfrister for virksomheder med driftsformen kommune, amt og stat. </xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/VirksomhedStamOplysningSamlingHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="VirksomhedStamOplysningSamlingHentServiceRequest">
      
      <part name="Request" element="fase2.1:VirksomhedStamOplysningSamlingHent_I"/>
   
   </message>
   
   <message name="VirksomhedStamOplysningSamlingHentServiceResponse">
      
      <part name="Response" element="fase2.1:VirksomhedStamOplysningSamlingHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="VirksomhedStamOplysningSamlingHentServicePortType">
      
      <operation name="getVirksomhedStamOplysningSamlingHent">
         
         <input message="fase2.1:VirksomhedStamOplysningSamlingHentServiceRequest"/>
         
         <output message="fase2.1:VirksomhedStamOplysningSamlingHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
