systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 Captia/WSDL/package/wsdl/DokumentSamlingHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="DokumentSamlingHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>At fremsøge en liste af dokumenter, fx for at kunne danne en liste af dokumenter, som er tilknyttet en given sag.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/DokumentSamlingHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="DokumentSamlingHentServiceRequest">
      
      <part name="Request" element="fase2.1:DokumentSamlingHent_I"/>
   
   </message>
   
   <message name="DokumentSamlingHentServiceResponse">
      
      <part name="Response" element="fase2.1:DokumentSamlingHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="DokumentSamlingHentServicePortType">
      
      <operation name="getDokumentSamlingHent">
         
         <input message="fase2.1:DokumentSamlingHentServiceRequest"/>
         
         <output message="fase2.1:DokumentSamlingHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
