systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 Captia/WSDL/package/wsdl/DokumentMultiOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="DokumentMultiOpretService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>At oprette et eller flere nye dokumenter i Captia.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/DokumentMultiOpretInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="DokumentMultiOpretServiceRequest">
      
      <part name="Request" element="fase2.1:DokumentMultiOpret_I"/>
   
   </message>
   
   <message name="DokumentMultiOpretServiceResponse">
      
      <part name="Response" element="fase2.1:DokumentMultiOpret_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="DokumentMultiOpretServicePortType">
      
      <operation name="getDokumentMultiOpret">
         
         <input message="fase2.1:DokumentMultiOpretServiceRequest"/>
         
         <output message="fase2.1:DokumentMultiOpretServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
