services/prod/eIndkomst/view/AnsaettelseForholdPersonAbonnentBestil_I_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:bestilling="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingcallbackreference/xml/schemas/20071202/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247441/artefact/SKAT_HovedOplysninger.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingcallbackreference/xml/schemas/20071202/" schemaLocation="../class/abonnentbestillingcallbackreference/xml/schemas/20071202/SKAT_AbonnentBestillingCallbackReference.xsd"/>
	<xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/SoegeDatoTidLukketStrukturType.xsd"/>
	<xs:include schemaLocation="../view/PersonIndkomstAAbenSoegeStrukturType.xsd"/>
	<xs:element name="AnsaettelseForholdPersonAbonnentBestil_I_I" type="fase2:AnsaettelseForholdPersonAbonnentBestil_I_IType"/>
	<xs:complexType name="AnsaettelseForholdPersonAbonnentBestil_I_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element ref="bestilling:AbonnentBestillingCallbackReference" minOccurs="0"/>
			<xs:element name="AnsaettelseForholdPersonAbonnentBestil_IInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element name="AbonnentSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Abonnent" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:AbonnentStruktur"/>
												<xs:element ref="fase2:SøgeDatoTidLukketStruktur" minOccurs="0"/>
												<xs:element name="AnsættelseSøgeValg">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="AnsættelsePersonSamling">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element ref="fase2:PersonIndkomstÅbenSøgeStruktur" maxOccurs="unbounded"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
