services/prod/eIndkomst/view/eSkattekortTypeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:eskattekort="http://rep.oio.dk/skat.dk/eindkomst/class/eskattekort/xml/schemas/20071202/" xmlns:eskattekorttype="http://rep.oio.dk/skat.dk/eindkomst/class/eskattekorttype/xml/schemas/20071202/" xmlns:eskattekortabonnement="http://rep.oio.dk/skat.dk/eindkomst/class/eskattekortabonnement/xml/schemas/20071202/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/eskattekortabonnement/xml/schemas/20071202/" schemaLocation="http://digitaliser.dk/resource/3083/artefact/SKAT_ESkattekortAbonnementReserveretIndikator.xsd"/><xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/eskattekorttype/xml/schemas/20071202/" schemaLocation="http://digitaliser.dk/resource/939/artefact/SKAT_ESkattekortTypeKode.xsd"/><xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/eskattekort/xml/schemas/20071202/" schemaLocation="http://digitaliser.dk/resource/6781/artefact/SKAT_ESkattekortIndkomstAarIdentifikator.xsd"/><xs:include schemaLocation="../view/eSkattekortStrukturType.xsd"/>
	<xs:element name="eSkattekortTypeStruktur" type="fase2:eSkattekortTypeStrukturType"/>
	<xs:complexType name="eSkattekortTypeStrukturType">
		<xs:sequence>
			<xs:element name="eSkattekortTypeStruktur">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="eskattekorttype:ESkattekortTypeKode"/>
						<xs:element ref="eskattekort:ESkattekortIndkomstAarIdentifikator" minOccurs="0"/>
						<xs:element ref="eskattekortabonnement:ESkattekortAbonnementReserveretIndikator" minOccurs="0"/>
						<xs:element name="eSkattekortStrukturSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="fase2:eSkattekortStruktur" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
