services/prod/eIndkomst/view/eSkattekortHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:virksomhed="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247441/artefact/SKAT_HovedOplysninger.xsd"/><xs:import namespace="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" schemaLocation="http://digitaliser.dk/resource/2665/artefact/SKAT_VirksomhedSENummerIdentifikator.xsd"/><xs:include schemaLocation="../view/eSkattekortPersonBlanketStrukturType.xsd"/>
	<xs:element name="eSkattekortHent_I" type="fase2:eSkattekortHent_IType">
	</xs:element>
	<xs:complexType name="eSkattekortHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="eSkattekortBrugerVirksomhedSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eSkattekortBrugerVirksomhed" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="virksomhed:VirksomhedSENummerIdentifikator"/>
									<xs:element name="eSkattekortPersonBlanketStrukturSamling">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:eSkattekortPersonBlanketStruktur" minOccurs="1" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
