services/prod/eIndkomst/view/IndkomstOplysningVirksomhedHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:include schemaLocation="../view/VirksomhedIndkomstOplysningStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningVirksomhedHent_O" type="fase2:IndkomstOplysningVirksomhedHent_OType">
	</xs:element>
	<xs:complexType name="IndkomstOplysningVirksomhedHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<!--Sequence removed-->
			<xs:element name="IndkomstOplysningVirksomhedUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IndkomstOplysningVirksomhedSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="fase2:VirksomhedIndkomstOplysningStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
