services/prod/eIndkomst/view/IndkomstOplysningPersonAbonnentBestil_O_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/>
	<xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstOplysningPersonStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndkomstOplysningVirksomhedStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningPersonAbonnentBestil_O_O" type="fase2:IndkomstOplysningPersonAbonnentBestil_O_OType"/>
	<xs:complexType name="IndkomstOplysningPersonAbonnentBestil_O_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<!--Sequence removed-->
			<xs:element name="IndkomstPersonAbonnentBestil_OUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element name="AbonnentUddataSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AbonnentUddata" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:AbonnentStruktur"/>
												<xs:element name="IndkomstOplysning">
													<xs:complexType>
														<xs:choice>
															<xs:sequence>
																<xs:element name="PersonIndkomstSamling">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="fase2:IndkomstOplysningPersonStruktur" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:sequence>
																<xs:element name="VirksomhedIndkomstSamling">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="fase2:IndkomstOplysningVirksomhedStruktur" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:choice>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
