services/prodtin/eIndkomst6/skat_dk/eindkomst/IndkomstOplysningPersonAbonnentBestil_I_I.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" version="1.0" xml:lang="DA">
<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../basis/kontekst/xml/schemas/2006/09/01/HovedOplysninger.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:include schemaLocation="AbonnentAdgangStruktur.xsd"/>
         <xs:include schemaLocation="AbonnentStruktur.xsd"/>
         <xs:include schemaLocation="SoegeDatoTidLukketStruktur.xsd"/>
         <xs:include schemaLocation="PersonIndkomstAabenSoegeStruktur.xsd"/>
         <xs:include schemaLocation="VirksomhedIndkomstAabenSoegeStruktur.xsd"/>
         <xs:element name="IndkomstOplysningPersonAbonnentBestil_I_I" type="fase2:IndkomstOplysningPersonAbonnentBestil_I_IType"/>
         <xs:complexType name="IndkomstOplysningPersonAbonnentBestil_I_IType">
            <xs:sequence>
               <xs:element ref="kontekst:HovedOplysninger"/>
                     <xs:element name="IndkomstOplysningPersonAbonnentBestilInddata">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="fase2:AbonnentAdgangStruktur"/>
                              <xs:element name="AbonnentSamling">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element maxOccurs="unbounded" minOccurs="1" name="Abonnent">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="fase2:AbonnentStruktur"/>
                                                <xs:element minOccurs="0" ref="fase2:SoegeDatoTidLukketStruktur"/>
                                                <xs:element name="IndkomstSoegeValg">
                                                   <xs:complexType>
                                                      <xs:choice>
                                                         <xs:sequence>
                                                            <xs:element name="IndkomstPersonSamling">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element maxOccurs="unbounded" minOccurs="1" ref="fase2:PersonIndkomstAabenSoegeStruktur"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
				                                                     </xs:sequence>
                                                         <xs:sequence>
                                                            <xs:element name="IndkomstForVirksomhedSamling">
                                                               <xs:complexType>
                                                                  <xs:sequence>
                                                                     <xs:element maxOccurs="unbounded" minOccurs="1" ref="fase2:VirksomhedIndkomstAabenSoegeStruktur"/>
                                                                  </xs:sequence>
                                                               </xs:complexType>
                                                            </xs:element>
                                                         </xs:sequence>
                                                      </xs:choice>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
