services/prodtin/eIndkomst6/skat_dk/eindkomst/IndkomstOplysningPersonStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:indkomstoplysningadgangreferencenummer="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" version="1.0" xml:lang="DA">
<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/" schemaLocation="class/indkomstoplysningadgangreferencenummer/xml/schemas/20071202/IndkomstOplysningAdgangReferenceNummerIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:include schemaLocation="IndberetningPligtigVirksomhedStruktur.xsd"/>
         <xs:include schemaLocation="LoenPeriodeOplysningStruktur.xsd"/>
         <xs:element name="IndkomstOplysningPersonStruktur" type="fase2:IndkomstOplysningPersonStrukturType"/>
         <xs:complexType name="IndkomstOplysningPersonStrukturType">
            <xs:sequence>
                  <xs:element ref="core:PersonCivilRegistrationIdentifier"/>
                  <xs:element minOccurs="0" ref="indkomstoplysningadgangreferencenummer:IndkomstOplysningAdgangReferenceNummerIdentifikator"/>
                  <xs:element name="IndkomstOplysningSamling">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="IndberetningPligtigVirksomhed">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="fase2:IndberetningPligtigVirksomhedStruktur"/>
                                    <xs:element name="IndkomstLoenPeriodeSamling">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element maxOccurs="unbounded" minOccurs="1" ref="fase2:LoenPeriodeOplysningStruktur"/>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
