services/prodtin/eIndkomst6/skat_dk/eindkomst/IndkomstOplysningPersonAbonnentBestil_I_O.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:abonnentbestillingidentifikator="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingidentifikator/xml/schemas/20071202/" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/abonnentbestillingidentifikator/xml/schemas/20071202/" schemaLocation="class/abonnentbestillingidentifikator/xml/schemas/20071202/AbonnentBestillingIdentifikator.xsd"/>
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:element name="IndkomstOplysningPersonAbonnentBestil_I_O" type="fase2:IndkomstOplysningPersonAbonnentBestil_I_OType"/>
	<xs:complexType name="IndkomstOplysningPersonAbonnentBestil_I_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="IndkomstOplysningPersonAbonnentBestil_IUddata" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element ref="abonnentbestillingidentifikator:AbonnentBestillingIdentifikator"/>
			</xs:sequence>			
			</xs:complexType>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>
</xs:schema>