systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 A D/WSDL/package/wsdl/KommunikationAftaleHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="KommunikationAftaleHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Henter en kommunikationsaftale</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/KommunikationAftaleHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="KommunikationAftaleHentServiceRequest">
      
      <part name="Request" element="fase2.1:KommunikationAftaleHent_I"/>
   
   </message>
   
   <message name="KommunikationAftaleHentServiceResponse">
      
      <part name="Response" element="fase2.1:KommunikationAftaleHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="KommunikationAftaleHentServicePortType">
      
      <operation name="getKommunikationAftaleHent">
         
         <input message="fase2.1:KommunikationAftaleHentServiceRequest"/>
         
         <output message="fase2.1:KommunikationAftaleHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
