systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 A D/WSDL/package/wsdl/KunderepraesentantForholdOpdater.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="KunderepræsentantForholdOpdaterService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>At skifte godkendt flaget på et forhold til eller fra sat.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="../service/KunderepraesentantForholdOpdaterInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="KunderepræsentantForholdOpdaterServiceRequest">
      
      <part name="Request" element="fase2.1:KunderepræsentantForholdOpdater_I"/>
   
   </message>
   
   <message name="KunderepræsentantForholdOpdaterServiceResponse">
      
      <part name="Response" element="fase2.1:KunderepræsentantForholdOpdater_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="KunderepræsentantForholdOpdaterServicePortType">
      
      <operation name="getKunderepræsentantForholdOpdater">
         
         <input message="fase2.1:KunderepræsentantForholdOpdaterServiceRequest"/>
         
         <output message="fase2.1:KunderepræsentantForholdOpdaterServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

</definitions>
