systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 Captia/WSDL/package/view/DokumentHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   
   <xs:include schemaLocation="../class/Dokument.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../operational/DokumentFilMarkering.xsd"/>
   
   
   
   <xs:include schemaLocation="../operational/SagTilknytningListeMarkering.xsd"/>
   
   
   
   <xs:include schemaLocation="../operational/DokumentErindringListeMarkering.xsd"/>
   
   
   
   <xs:include schemaLocation="../operational/DokumentPartListeMarkering.xsd"/>
   
   
   
   <xs:include schemaLocation="../operational/DokumentFriOplysningMarkering.xsd"/>
   
   
   
   <xs:include schemaLocation="../operational/DokumentFriDatoMarkering.xsd"/>
   
   
   
   <xs:element name="DokumentHent_I">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:DokumentHent_IType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2311"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="DokumentHent_IType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
									
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
               
            
            <!--Sequence removed-->

         
               
               
         <xs:element name="Søgekriterier">
            
                  
                  
            <xs:complexType>
               
                     
                     
               <xs:sequence>
                  
                        
                        
                  <xs:element ref="fase2.1:DokumentNummer"/>

                  
                        
                        
                  <xs:element name="TilpasningAfResultat">
                     
                           
                           
                     <xs:complexType>
                        
                              
                              
                        <xs:sequence>


                           
                                 
                                 
                           <xs:element ref="fase2.1:DokumentFilMarkering" minOccurs="0"/>




                           
                                 
                                 
                           <xs:element ref="fase2.1:SagTilknytningListeMarkering" minOccurs="0"/>




                           
                                 
                                 
                           <xs:element ref="fase2.1:DokumentErindringListeMarkering" minOccurs="0"/>




                           
                                 
                                 
                           <xs:element ref="fase2.1:DokumentPartListeMarkering" minOccurs="0"/>




                           
                                 
                                 
                           <xs:element ref="fase2.1:DokumentFriOplysningMarkering" minOccurs="0"/>




                           
                                 
                                 
                           <xs:element ref="fase2.1:DokumentFriDatoMarkering" minOccurs="0"/>



                        
                              
                              
                        </xs:sequence>
                     
                           
                           
                     </xs:complexType>
                  
                        
                        
                  </xs:element>

               
                     
                     
               </xs:sequence>
            
                  
                  
            </xs:complexType>
         
               
               
         </xs:element>
      
            
            
            
         
         
         
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
