services/prod/Motor/ExternXML/class/AnmeldelseAArsag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/TekstKortType.xsd"/>
	<xs:include schemaLocation="../types/TekstLangType.xsd"/>
	<xs:element name="AnmeldelseAarsagNummer" type="dmr:TalHelType">
	</xs:element>
	<xs:element name="AnmeldelseAarsagNavn" type="dmr:TekstKortType">
	</xs:element>
	<xs:element name="AnmeldelseAarsagBeskrivelse" type="dmr:TekstLangType">
	</xs:element>
</xs:schema>
