services/prod/Motor/ExternXML/class/BeregningRegulering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="../types/BeloebType.xsd"/>
	<xs:include schemaLocation="../types/AntalType.xsd"/>
	<xs:include schemaLocation="../types/IDType.xsd"/>
	<xs:include schemaLocation="../types/TekstKortType.xsd"/>
	<xs:include schemaLocation="../types/TekstLangType.xsd"/>
	<xs:element name="BeregningReguleringBeloeb" type="dmr:BeloebType">
	</xs:element>
	<xs:element name="BeregningReguleringAntal" type="dmr:AntalType">
	</xs:element>
	<xs:element name="BeregningReguleringNummer" type="dmr:IDType">
	</xs:element>
	<xs:element name="BeregningReguleringNavn" type="dmr:TekstKortType">
	</xs:element>
	<xs:element name="BeregningReguleringBeskrivelse" type="dmr:TekstLangType">
	</xs:element>
	<xs:element name="BeregningReguleringVedroerer" type="dmr:TekstLangType">
	</xs:element>
</xs:schema>
