services/prod/Motor/ExternXML/class/ForsikringAnmodning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Elektronisk anmodning til et forsikringsselskab om tegning af forsikring.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:include schemaLocation="../types/BolskType.xsd"/>
	<xs:include schemaLocation="../types/RegistreringNummerType.xsd"/>
	<xs:element name="ForsikringAnmodningDato" type="dmr:DatoType">
	</xs:element>
	<xs:element name="ForsikringKaskoOenskes" type="dmr:BolskType">
	</xs:element>
	<xs:element name="ForsikringVognskifteFraRegistreringNr" type="dmr:RegistreringNummerType">
	</xs:element>
</xs:schema>
