services/prod/Motor/ExternXML/class/Leasing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:include schemaLocation="../types/KodeType.xsd"/>
	<xs:include schemaLocation="../types/LeasingStatusType.xsd"/>
	<xs:include schemaLocation="../types/Tekst2000Type.xsd"/>
	<xs:include schemaLocation="../types/TekstKortType.xsd"/>
	<xs:include schemaLocation="../types/DatoTidType.xsd"/>
	<xs:element name="LeasingMaaneder" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Antallet af måneder leasing aftalen er gældende. Er gældende fra LeasingGyldigFra datoen, hvis denne er sat. Ellers løber gyldigheden fra registreringstidspunktet (hvorved LeasingGyldigFra sættes).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeasingNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Unikt id for en leasingaftale/leasingcertifikat</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeasingGyldigFra" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Datoen leasingen er gyldig fra.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeasingGyldigTil" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Datoen leasingen er gyldig til.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeasingReelOphoerDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Den faktiske dato for leasing ophør.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeasingKode" type="dmr:KodeType">
		<xs:annotation>
			<xs:documentation>Den unikke kode på et leasing certifikat der bruges til at låse certifikatet op med.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeasingStatus" type="dmr:LeasingStatusType">
	</xs:element>
	<xs:element name="LeasingBemaerkning" type="dmr:Tekst2000Type">
		<xs:annotation>
			<xs:documentation>Feltet skal  bruges i forbindelse med leasing afgørelse.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeasingAendringType" type="dmr:TekstKortType">
		<xs:annotation>
			<xs:documentation>Angiver om der er tale om en forkortelse eller en forlængelse af leasingperioden. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeasingSidstAendret" type="dmr:DatoTidType">
		<xs:annotation>
			<xs:documentation>Datoen hvor læsingoplysninger sidst er ændret. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeasingVFGrundlagIdent" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Værdifastsættelsen, leasingaftalen er baseret på efter foretaget H81. Dette felt bliver ikke sat før en leasingaftale har været reguleret (H81).</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
