services/prod/Motor/ExternXML/class/PeriodiskAfgiftSats.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>En afgiftsgruppe indeholder en eller typisk flere satser, hvor hver sats rent tildelingsmæssigt i forhold til et givet køretøj er begrænset af en række betingelser (f.eks. anvendelsen af benzin som drivmiddel, kørte km/l).</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/BeloebType.xsd"/>
	<xs:include schemaLocation="../types/PeriodeHyppighedType.xsd"/>
	<xs:include schemaLocation="../types/TekstKortType.xsd"/>
	<xs:include schemaLocation="../types/TalFlydendeType.xsd"/>
	<xs:include schemaLocation="../types/BolskType.xsd"/>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:include schemaLocation="../types/VaegtAfgiftKategoriType.xsd"/>
	<xs:element name="PeriodiskAfgiftSatsNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Et nummer, som unikt beskrive den enkelte værdi for en given periode.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Det aktuelle beløb for en sats. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsPeriodeHyppighed" type="dmr:PeriodeHyppighedType">
		<xs:annotation>
			<xs:documentation>Den hyppighed med hvilken den givne sats opkræves.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsFormel" type="dmr:TekstKortType">
		<xs:annotation>
			<xs:documentation>Når der ikke er tale om et fast beløb, men en formel, f.eks. =oprund(egenvægt/100)*  der angiver at beløbet betales pr 100 kg egenvægt.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsBraendstofForbrugFra" type="dmr:TalFlydendeType">
		<xs:annotation>
			<xs:documentation>Nedre grænse for brændstofforbrug for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsBraendstofForbrugTil" type="dmr:TalFlydendeType">
		<xs:annotation>
			<xs:documentation>Øvre grænse for brændstofforbrug for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsEgenvaegtFra" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Nedre grænse for egenvægt for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsEgenvaegtTil" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Øvre grænse for egenvægt for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsTotalvaegtFra" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Nedre grænse for totalvægt for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsTotalvaegtTil" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Øvre grænse for totalvægt for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsAntalAksler" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Antal aksler for denne sats</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsGodkendtTilGodstransport" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Feltet er lidt uhensigtsmæssigt navngivet. Angiver om denne sats (for vægtafgift eller lignende) er, eller ikke er, for køretøjer der er vejafgiftspligtige. Bemærk at det ikke er en vejafgiftsats, men blot en (f.eks.) vægtafgift sats for køretøjer der også betaler vejafgift.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsLuftAffjerdring" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Luftaffjedring for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsAkslerPaaSaetteEllerPaahaengsvogn" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Aksler på sætte- eller påhængsvogn for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsRegistreringsDatoForKoeretoejFra" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Tidligste registreringsdato (world-wide) for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsRegistreringsDatoForKoeretoejTil" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Seneste registreringsdato (world-wide) for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftSatsVaegtAfgiftKategori" type="dmr:VaegtAfgiftKategoriType">
		<xs:annotation>
			<xs:documentation>Hvis satsen er en vægtafgift, så vægtafgiftkategorien for denne sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
