services/prod/Motor/ExternXML/class/PeriodiskAfgiftOpkraev.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="../types/BeloebType.xsd"/>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:element name="PeriodiskAfgiftOpkraevBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Samlet beløb der skal opkræves som periodiskafgift. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftOpkraevGruppeNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Nummer på periodiskafgift gruppen som skal opkræves. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodiskAfgiftOpkraevFaktor" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Faktor som er ganget på under udregningen af den periodiske afgift fra en sats.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
