services/prod/Motor/ExternXML/class/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Privat person identificeret ved et personnummer (CPR-nummer). </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/CPRNummerType.xsd"/>
	<xs:include schemaLocation="../types/MarkeringType.xsd"/>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:include schemaLocation="../types/FoedeStedType.xsd"/>
	<xs:include schemaLocation="../types/AdresseLandKodeType.xsd"/>
	<xs:include schemaLocation="../types/KoenType.xsd"/>
	<xs:element name="PersonCPRNummer" type="dmr:CPRNummerType">
		<xs:annotation>
			<xs:documentation>CPR-nummer er et 10 cifret personnummer der entydigt identificerer en dansk person.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonNavnAdresseBeskyttelseMarkering" type="dmr:MarkeringType">
		<xs:annotation>
			<xs:documentation>Angiver om en persons navn og adresse er beskyttet for offentligheden.  Markeringen bliver sat af Folkeregistret, dvs. i Det Centrale Personregister (CPR).  Det er således kun myndigheder med lovmæssigt grundlag, som har adgang til disse data (fx i forbindelse med sagsbehandling).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonFoedselDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Personens fødselsdato</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonFoedeSted" type="dmr:FoedeStedType">
		<xs:annotation>
			<xs:documentation>Stammer fra CPS og udenlandsk pension.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonFoedeLandKode" type="dmr:AdresseLandKodeType">
		<xs:annotation>
			<xs:documentation>Stammer fra CPS og udenlandsk pension.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonGyldigFra" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Gyldighed startdato for en Person. Person kan skifte CPRNummer, NavnAdresseBeskyttelseMarkering og FødselDato.  - CPR-skifte kan ske ved kønskifteoperationer eller fejlvurdering af køn og FødselDato, eller fordi en udenlandsk person har fået et midlertidigt CPRNummer.  - NavnAdresseBeskyttelseMarkering kan ændre sig ved at en Person anmoder Folkeregistret om navn- &amp; adressebeskyttelse.  - FødselDato kan ændre sig ved at man har fejlvurderet en alder.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonGyldigTil" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Gyldighed slutdato for en Person. Person kan skifte CPRNummer, NavnAdresseBeskyttelseMarkering og FødselDato.  - CPR-skifte kan ske ved kønskifteoperationer eller fejlvurdering af køn og FødselDato, eller fordi en udenlandsk person har fået et midlertidigt CPRNummer.  - NavnAdresseBeskyttelseMarkering kan ændre sig ved at en Person anmoder Folkeregistret om navn- &amp; adressebeskyttelse.  - FødselDato kan ændre sig ved at man har fejlvurderet en alder.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonKoen" type="dmr:KoenType">
	</xs:element>
</xs:schema>
