services/prod/Motor/ExternXML/class/PersonStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Oplysning om en persons status i enten skattemæssig forstand eller vedrørende liv/død og årsag til en eventuel omplacering af CPR-nummeret. </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/PersonStatusKodeType.xsd"/>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:include schemaLocation="../types/KodeType.xsd"/>
	<xs:include schemaLocation="../types/OmplaceringKodeType.xsd"/>
	<xs:element name="PersonStatusKode" type="dmr:PersonStatusKodeType">
		<xs:annotation>
			<xs:documentation>Angivelse af personens skattemæssige status - fx om personen er aktiv, forsvundet, kongelig el. lign. En person med status 2 = Omplaceret har fået nyt CPR-nr. Denne status vil blive sat på det gamle CPR-nr.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonStatusDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Dato for hvornår en personstatuskode træder i kraft - det vil sige, hvornår en person får tildelt en given skattemæssig status.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonStatusDoedsfaldDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Dato for, hvornår personen er død</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonStatusBobehandlingKode" type="dmr:KodeType">
		<xs:annotation>
			<xs:documentation>Kode for typen af behandlingen af et dødsbo   A = Boudlægsbo.  B = Uskiftet bo, ægtefælleudlæg eller forenklet privat skifte § 34.  C = Privat skifte, forenklet privat skifte § 33 eller bobestyrerbo.  D = Uskiftet bo + skifte såvel privat som ved bobestyrer.  E = Ingen bobehandling her i landet. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonStatusGenoplivetDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Dato for, hvornår en person er registreret som genoplivet</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonStatusOmplaceringKode" type="dmr:OmplaceringKodeType">
		<xs:annotation>
			<xs:documentation>Kode, der viser den reelle årsag for ændring af en personstatus til omplaceret. Kan have værdierne: S = sletning, D = dobbeltregistrering og O = omplacering.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
