services/prod/Motor/ExternXML/class/PladeType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>En pladetype beskriver den fysiske plade i form af farve, dimension (højde, brede) og materiale. Den er adskilt fra selve indholdet på pladen;  men den giver mulighed for at definere en eller flere rækker tekst. Flere rækker tekst er eksempelvis relevante i forhold til plader til motorcykler.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/TekstKortType.xsd"/>
	<xs:include schemaLocation="../types/BolskType.xsd"/>
	<xs:element name="PladeTypeNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Et nummer, som unikt beskrive den enkelte værdi for en given periode.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeTypeNavn" type="dmr:TekstKortType">
		<xs:annotation>
			<xs:documentation>En mindre tekst - typisk et eller få ord - som unikt giver mulighed for identifikationen af et givet begreb.  I nogle sammenhænge er det også brugt til mindre forklaringer (sætningsniveau)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeTypeEUPlade" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Her angives om nummerpladen har EU mærke. Hvis dette er sandt har nummerpladen et EU mærke.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeTypeViserAarstal" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>En angivelse af at årstalet vises på den fysiske plade. F. eks. grænseplader.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeTypeKvadratisk" type="dmr:BolskType">
	</xs:element>
</xs:schema>
