services/prod/Motor/ExternXML/class/PladeInddragelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>En aktuel pladeinddragelse er beskrevet i en forekomst af denne klasse. Der kan være flere pladeinddragelser relateret til den samme registrering (funderet i flere forskellige årsager).  Hver årsag er isoleret, således at hvis en af årsagerne rettes (f.eks. at der skabes en ny forsikring), så vil pladeinddragelsen ikke fjernes, da der derfor stadigvæk er aktive pladeinddragelser i forhold til det givne køretøj.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/DatoTidType.xsd"/>
	<xs:include schemaLocation="../types/PladeInddragelseStatusType.xsd"/>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:include schemaLocation="../types/TekstLangType.xsd"/>
	<xs:element name="PladeInddragelseNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Et nummer, som unikt identificerer den givne pladeinddragelse.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeInddragelseOprettetDato" type="dmr:DatoTidType">
		<xs:annotation>
			<xs:documentation>Et dato og tidsstempel for oprettelse af pladeinddralgesen (herunder inddirekte en registrering af tidspunktet for seneste statusskift.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeInddragelseStatus" type="dmr:PladeInddragelseStatusType">
		<xs:annotation>
			<xs:documentation>En registrering af inddragelsens aktuelle status, herunder hvorvidt inddragelsen er planlagt, gennemført eller annulleret.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeInddragelseStatusDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Tidspunktet for seneste opdatering af status.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeInddragelseOprettetBemaerkning" type="dmr:TekstLangType">
		<xs:annotation>
			<xs:documentation>En registrering af en yderligere bemærkning til inddragelsen. Dette kunne f.eks. være en tekst, som modtages fra forsikringsselskabet i forbindelse med forsikringsophøret (f.eks. manglende betaling af et givet beløb på en bestemt dato).</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
