services/prod/Motor/ExternXML/class/PladeBestilling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>PladeBestilling anvendes til at angive transport af plader fra en afsender til en modtager. Afsender vil enten være pladeproducenten eller en pladeoperatør. Modtager kan være en pladeoperatør eller en JuridiskEnhed (fx i tilfælde af forsendelse af 3. nummerplade direkte til modtageren).   Hvis en bestilling oprettes på afsendelse af standardplader fra pladeproducenten, skal fysiske plader ikke angives i bestillingsøjeblikket. I det tilfælde vil pladeproducenten senere angive fysiske plader når bestillingen afsendes fra producenten.  Hvis en bestilling oprettes på afsendelse fra en anden pladeoperatør eller på afsendelse af specialplader fra pladeproducenten, skal fysiske plader tilknyttes pladebestillingen i oprettelsesøjeblikket.  Hvis bestillingen foretages af en JuridiskEnhed (bestiller specialplade), vil der kunne være tale om ønskenummerplade, 3. plade, historisk plade, erstatningsplade eller løse prøvemærker.  Hvis en bestiller specialplade er angivet sammen med en bestiller, vil angivelse af leveringsform afgøre om de fysiske plader skal afsendes direkte til bestiller specialplade eller om de skal være tilgænglige for udskrivning og afhentning på et skattecenter eller en synsvirksomhed.  Løse prøvemærker, 3. nummerplader og erstatningsplader kan sendes direkte til bestiller specialplade. </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/PladeBestillingStatusType.xsd"/>
	<xs:include schemaLocation="../types/DatoTidType.xsd"/>
	<xs:include schemaLocation="../types/PladeBestillingLeveringsformerType.xsd"/>
	<xs:element name="PladeBestillingAntal" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Antallet af plader, som er bestilt</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeBestillingNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Ordrenummer, som oprettes ifm. bestilling af plader og som følger ordren, så det er muligt at følge ordren fra start til slut.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeBestillingStatus" type="dmr:PladeBestillingStatusType">
		<xs:annotation>
			<xs:documentation>En status på bestillingen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeBestillingStatusDatoTid" type="dmr:DatoTidType">
		<xs:annotation>
			<xs:documentation>Tidspunktet for seneste opdatering af status.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeBestillingDatoTid" type="dmr:DatoTidType">
		<xs:annotation>
			<xs:documentation>Datoen hvor bestillingen er foretaget.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeBestillingLeveringsform" type="dmr:PladeBestillingLeveringsformerType">
		<xs:annotation>
			<xs:documentation>Anvendes til at angive om løse prøvemærker skal afhentes på et skattecenter/synsvirksomhed eller afsendes direkte til låneren.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeBestillingAfhentesSenest" type="dmr:DatoTidType">
		<xs:annotation>
			<xs:documentation>Dato for seneste afhentning af bestilte nummerplader.  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeBestillingRegistreresSenest" type="dmr:DatoTidType">
		<xs:annotation>
			<xs:documentation>Frist for hvornår historiske plader skal være registreret.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
