services/prod/Motor/ExternXML/class/PladeSerieTypeKombination.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>En given kombination af en type og en serie vil have en angivelse af en betingelse, således at man undgår at tildele en given kombination til et køretøj, som ikke må anvende denne type og serie i kombination.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/TekstKortType.xsd"/>
	<xs:include schemaLocation="../types/BolskType.xsd"/>
	<xs:element name="PladeSerieTypeKombinationNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Et nummer, som unikt beskrive den enkelte værdi for en given periode.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeSerieTypeKombinationNavn" type="dmr:TekstKortType">
		<xs:annotation>
			<xs:documentation>En mindre tekst - typisk et eller få ord - som unikt giver mulighed for identifikationen af et givet begreb.  I nogle sammenhænge er det også brugt til mindre forklaringer (sætningsniveau)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeSerieTypeKombinationSaetAntal" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Antallet af plader i et sæt. F.eks. vil en motorcykler have én plade og en almindelige personbiler have to plader.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeSerieTypeKombinationTillad3NummerPlade" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Angiver om det er tilladt at bestille 3. nummerplade til registreringsnumre med denne PladeSerieTypeKombination. </xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
