services/prod/Motor/ExternXML/class/PladeOphaevelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:include schemaLocation="../types/TekstLangType.xsd"/>
	<xs:element name="PladeOphaevelseNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Plade ophævelse nummer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeOphaevelseDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Dato for ophævelse af plade. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PladeOphaevelseBemaerkning" type="dmr:TekstLangType">
		<xs:annotation>
			<xs:documentation>Eventuelle bemærkning. </xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
