services/prod/Motor/ExternXML/class/RegistreringAfgiftBeregning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="../types/BolskType.xsd"/>
	<xs:include schemaLocation="../types/TalFlydendeType.xsd"/>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/VarebilTypeType.xsd"/>
	<xs:include schemaLocation="../types/BeloebType.xsd"/>
	<xs:include schemaLocation="../types/RegistreringAfgiftBeregningAArsagType.xsd"/>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:element name="RegistreringAfgiftBeregningBrugtKoeretoej" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Bolsk værdi. den kan enten være True eller False. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningKmPerLiter" type="dmr:TalFlydendeType">
		<xs:annotation>
			<xs:documentation>Flydene tal</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningAntalBesatteKm" type="dmr:TalHelType">
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningAntalAar" type="dmr:TalHelType">
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningVarebilType" type="dmr:VarebilTypeType">
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningVaerdiAfIkkeAfgiftpligtigtUdstyr" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Beløb angivet som decimaltal, fx. 1500,00</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningAarsag" type="dmr:RegistreringAfgiftBeregningAarsagType">
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningAntalKm" type="dmr:TalHelType">
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningSkalaKnaekInterval1" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation> Delbeløb af registreringsafgift indtil første skalaknæk </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningSkalaKnaekInterval2" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation> Delbeløb af registreringsafgift indtil andet skalaknæk </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningSkalaKnaekInterval3" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Delbeløb af registreringsafgift indtil tredje skalaknæk  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningBruttoAfgift" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Feltet indeholder registreringsafgiften for et kørtøj, inden der er taget højde for tillæg of fradrag i udgiften. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningFoersteDKRegistreringDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningEksportLoft" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Feltet skal bruges til at angive loft for eksportgodtgørelse.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningTidligereBetaltAfgift" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Beløbet for en tidligere betalt registreringsafgift. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningKmPerLiterPlugInHybridUdenEl" type="dmr:TalFlydendeType">
		<xs:annotation>
			<xs:documentation>Angivelse af brændstofforbrug (kilometre per liter med en decimal) før beregning af totalbrændstofforbrug for pluginhybrid køretøjer (køretøjer der både kører på el og brændstof).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningElektriskForbrug" type="dmr:TalFlydendeType">
		<xs:annotation>
			<xs:documentation>Elektrisk forbrug pr. beregningsdatoen i Wh/Km anvendt ved beregning af Registreringsafgift</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningElektriskRaekkevidde" type="dmr:TalFlydendeType">
		<xs:annotation>
			<xs:documentation>Elektrisk rækkevidde pr. beregningsdatoen i Km anvendt ved beregning af Registreringsafgift</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegistreringAfgiftBeregningGasForbrug" type="dmr:TalFlydendeType">
		<xs:annotation>
			<xs:documentation>Gasforbrug pr. beregningsdatoen i m3/100 Km anvendt ved beregning af Registreringsafgift</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
