services/prod/Motor/ExternXML/class/SynErindring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>En aktuel erindring af syn er besjrevet i en forekomst af denne klasse. </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/ErindringTypeType.xsd"/>
	<xs:include schemaLocation="../types/DatoTidType.xsd"/>
	<xs:element name="SynErindringNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Et nummer, som unikt identificerer den givne synserindring.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynErindringType" type="dmr:ErindringTypeType">
		<xs:annotation>
			<xs:documentation>En angivelse af typen af erindring. Nærmere præciseret om der er tale om en erindring, en bøde eller en annullering.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynErindringUdtraekningDato" type="dmr:DatoTidType">
		<xs:annotation>
			<xs:documentation>Tidspunktet, hvor køretøjet er blevet udtrækkket til syn.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
