services/prod/Motor/ExternXML/class/SynIndkaldelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Når et køretøj er udtrukket til syn - via synsudtræksplanlægningen så vil indkaldelsen og specielt den dato, hvor køretøjet senest skal være synet, blive registreret her. Hvis der ikke er modtaget et godkendt synsresultat inden den seneste syns dato er overskredet, så skal der iværksættes en pladeinddragelse grundet manglende syn. En synsindkaldelse er at betragte som aktiv så længe der foreligger en aktiv registrering og der endnu ikke er registreret et godkendt synsresultat for den givne indkaldelse.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/SynIndkaldelseTypeType.xsd"/>
	<xs:include schemaLocation="../types/DatoTidType.xsd"/>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:include schemaLocation="../types/SynIndkaldelseAArsagerType.xsd"/>
	<xs:include schemaLocation="../types/TekstLangType.xsd"/>
	<xs:include schemaLocation="../types/SynInkaldelseStatusType.xsd"/>
	<xs:element name="SynIndkaldelseNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Et nummer, som unikt angiver den enkelte indkaldelseslinie. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynIndkaldelseIndkaldelseType" type="dmr:SynIndkaldelseTypeType">
		<xs:annotation>
			<xs:documentation>En angivelse af typen af indkaldelse. Nærmere præciseret om der er tale om et periodisk syn eller et ekstraordinært syn.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynIndkaldelseUdtraekningDato" type="dmr:DatoTidType">
		<xs:annotation>
			<xs:documentation>Tidspunktet, hvor køretøjet er blevet udtrækket til syn.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynIndkaldelseIndkaldelseDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>En registrering af den dato, hvor køretøjet blev indkaldt til syn. Skal ikke sammenlignes med udtræksdatoen, da Færdselsstyrelsen selv fastlægger indkaldelsesdatoen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynIndkaldelseSenesteSynDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>En angivelse af, hvornår køretøjet senest skal have været synet og godkendt. Datoen modtages fra Færdselsstyrelsen eller sættes til 35 dage efter Indkaldelsesdato. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynIndkaldelseIndkaldelseAarsag" type="dmr:SynIndkaldelseAarsagerType">
		<xs:annotation>
			<xs:documentation>1. Styreapparat - ratslør. 2. Driftsbremse - pedalvandring. 3. Parkeringsbremse - vandring. 4. Lygter til belysning/markering/refleksanordning. 5. Lygter/apparat til signalgivning. 6. Unødig røg/støj.  7. Hjul - dæk. 8. Karrosseri - skærme. 9. Udsyn: Spejle - viskere - vaskere.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynIndkaldelseIndkaldelseAarsagAndet" type="dmr:TekstLangType">
		<xs:annotation>
			<xs:documentation>Her angives kommentar til indkaldelsesårsag. Benyttes kun i forbindelse med indkaldelse til ekstraordinært syn.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynIndkaldelseForrigeSenesteSynDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Skal bruges til beregning af næste synsfrist og i udtrækkene til erindringslisterne</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynIndkaldelseStatus" type="dmr:SynInkaldelseStatusType">
		<xs:annotation>
			<xs:documentation>En angivelse af indkaldelsens status</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
