services/prod/Motor/ExternXML/class/SynResultat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Når et syn er gennemført (registreringssyn, periodisk syn eller ekstraordinært syn), så modtager DMR resultatet, som gemmes i dette begreb.  Hvis der er tale om et 'ikke godkendt' resultat, så skal færdselsstyrelsen ligeledes oplyse en ny seneste synsdato, som opdateres i synsindkaldelsen. Hvis der ved et 'ikke godkendt' resultat ikke oplyses en ny seneste synsdato, så vil der iværksættes en pladeinddragelse grundet 'ikke godkendt synsresultat. </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/DatoType.xsd"/>
	<xs:include schemaLocation="../types/SynResultatType.xsd"/>
	<xs:include schemaLocation="../types/SynStatusType.xsd"/>
	<xs:include schemaLocation="../types/SynTypeType.xsd"/>
	<xs:element name="SynResultatNummer" type="dmr:TalHelType">
		<xs:annotation>
			<xs:documentation>Et unikt nummer, som angiver det enkelte synsresultat. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynResultatSynsDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Datoen for gennemførelsen af synet.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynResultatSynsResultat" type="dmr:SynResultatType">
		<xs:annotation>
			<xs:documentation>Selve resultatet af synet</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynResultatSynStatus" type="dmr:SynStatusType">
		<xs:annotation>
			<xs:documentation>En angivelse af et syn's status (aktivt, anulleret)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynResultatSynStatusDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Dato for status på resultat af køretøjets syn.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynResultatSynsType" type="dmr:SynTypeType">
		<xs:annotation>
			<xs:documentation>En registrering af, hvilken type syn, som medførte synsresultatet.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SynResultatOmsynMoedeDato" type="dmr:DatoType">
		<xs:annotation>
			<xs:documentation>Ny mødedato for syn. En dato som indsættes af en synsvirksomhed i forbindelse med syn</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
