services/prod/Motor/ExternXML/class/VaerdiFastsaettelseGrundlag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dmr="http://skat.dk/dmr/2007/05/31/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/dmr/2007/05/31/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="../types/TalHelType.xsd"/>
	<xs:include schemaLocation="../types/BolskType.xsd"/>
	<xs:include schemaLocation="../types/BeloebType.xsd"/>
	<xs:include schemaLocation="../types/TekstKortType.xsd"/>
	<xs:include schemaLocation="../types/Tekst2000Type.xsd"/>
	<xs:element name="VaerdiFastsaettelseGrundlagIdent" type="dmr:TalHelType">
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagKoeretoejFremvist" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Skat har besigtiget KT inden værdifastsættelsen</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagStand" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Over middel, middel og under middel </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagKoerteKm" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Kørte km (fra syn og/eller servicebog)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagEkstraUdstyr" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Udstyr ud over modellens standardudstyr.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagSaerligAnvendelse" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Anvendelse som kan begrunde et afslag (fx udlejning, taxi)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagNypris" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>KT oprindelige nypris her i landet</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagNyprisBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>KT oprindelige nypris her i landet</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagHandelspris" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Angiver om køretøjet værdifastsættes på grundlag af den almindelige pris ved salg fra forhandler.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagHandelsprisBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>KT alm pris ved salg fra forhandler </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagAnnoncePris" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Evt. handelspriser af sammenlignelige KT</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagAnnoncePrisNedreBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Mindste pris på annoncerede priser</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagAnnoncePrisOevreBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Højeste pris på annoncerede priser</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagDafKatalog" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Danmarks Automobil Forhandlerforening udsteder hver måned et katalog med handelspriser.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagDafKatalogBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>DAF katalogets handelspris.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagSalgsprisAndreMedier" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Salgspriser fx fra internettet</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagSalgsprisAndreMedierNedreBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Mindste pris på annoncerede priser</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagSalgsprisAndreMedierOevreBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Højeste pris på annoncerede priser</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagTidligereVurderingTilsvarende" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Modep værdier på tidligere vurderinger af tilsvarende KT</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagTidligereVurderingTilsvarendeBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Modep værdier på tidligere vurderinger af tilsvarende KT</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeAnnoncePris" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Markering af annoncepriser (handelspriser) på køretøj før omregistrering.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeAnnoncePrisNedreBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Mindste pris på annoncerede priser på køretøj før omregistrering.  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeAnnoncePrisOevreBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Højeste pris på annoncerede priser for køretøj før omregistrering.  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeDafKatalog" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Markering af handelspriser fra DAF katalog på køretøj før omregistrering.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeDafKatalogBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>DAF kataloget handelspris på køretøj før omregistrering.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeSalgsprisAndreMedier" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Markering af salgspriser fra andre medier fx internettet på køretøj før omregistrering.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeSalgsprisAndreMedierNedreBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Mindste pris på annoncerede priser fra andre medier på køretøj før omregistrering.  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeSalgsprisAndreMedierOevreBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Højeste pris på annoncerede priser fra andre medier på køretøj før omregistrering.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeTidligereVurderingTilsvarende" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Markering af tidligere vurderinger på køretøj før omregistrering.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagForrigeTidligereVurderingTilsvarendeBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Prisen fra tidligere vurderinger på køretøj før omregistrering.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagKoerteKmBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Beløb til justering i forhold til antal kørte kilometer.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagStandBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Beløb til justering i forhold til køretøjets stand.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagEkstraUdstyrBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Beløb til justering i forhold til køretøjets ekstraudstyr.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagSaerligAnvendelseBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Beløb til justering i forhold til køretøjets særlige anvendelse.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagNiveau" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Om der er brugt et niveau i forbindelse med vurderingen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagNiveauBeloeb" type="dmr:BeloebType">
		<xs:annotation>
			<xs:documentation>Niveauets beløb.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagNiveauKm" type="dmr:TekstKortType">
		<xs:annotation>
			<xs:documentation>Antal kørte km for køretøjer på niveauet.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagOffentlig" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Om værdifastsættelsen må ses af andre end SKAT.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagJournalNummer" type="dmr:TekstKortType">
		<xs:annotation>
			<xs:documentation>Sagsnummer for værdifastsættelsen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagNoter" type="dmr:Tekst2000Type">
		<xs:annotation>
			<xs:documentation>Noter relateret til grundlag for værdifastsættelsen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagBemaerkning" type="dmr:Tekst2000Type">
		<xs:annotation>
			<xs:documentation>Dette er en lang tekst.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VaerdiFastsaettelseGrundlagElPluginHybridAfgiftFri" type="dmr:BolskType">
		<xs:annotation>
			<xs:documentation>Markerer el-biler og plug-in hybrid biler på overgangsordning, dvs. el-biler og plug-in-hybrid biler købt før 8/10-2015, men som indregistreres fra 1/1 til 30/6-2016 (som skal indregistreres afgiftsfrit).</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
