systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 A D/WSDL/package/view/FormateretMeddelelseIndholdMultiHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   
   <xs:include schemaLocation="../class/FormateretMeddelelse.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/Meddelelse.xsd"/>
         
            
      
         
   
   
   
   <xs:element name="FormateretMeddelelseIndholdMultiHent_I">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:FormateretMeddelelseIndholdMultiHent_IType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2315"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="FormateretMeddelelseIndholdMultiHent_IType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
									
         
         
         
         
         
         
         
            
            
            
            
               
            
            <!--Sequence removed-->

         
               
               
         <xs:element name="Meddelelser">
            
                  
                  
            <xs:complexType>
               
                     
                     
               <xs:sequence>


                  
                        
                        
                  <xs:element name="Meddelelse" minOccurs="0" maxOccurs="unbounded">
                     
                           
                           
                     <xs:complexType>
                        
                              
                              
                        <xs:sequence>
                           
                                 
                                 
                           <xs:element ref="fase2.1:FormateretMeddelelseFormat"/>

                           
                                 
                                 
                           <xs:element name="Identifikation">
                              
                                    
                                    
                              <xs:complexType>
                                 
                                       
                                       
                                 <xs:choice>
                                    
                                          
                                          
                                    <xs:element ref="fase2.1:MeddelelseID"/>
				
				
				
                                    
                                          
                                          
                                    <xs:element ref="fase2.1:FormateretMeddelelseID"/>

                                 
                                       
                                       
                                 </xs:choice>
                              
                                    
                                    
                              </xs:complexType>
                           
                                 
                                 
                           </xs:element>

                        
                              
                              
                        </xs:sequence>
                     
                           
                           
                     </xs:complexType>
                  
                        
                        
                  </xs:element>

               
                     
                     
               </xs:sequence>
            
                  
                  
            </xs:complexType>
         
               
               
         </xs:element>

               
      
            
            
            
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
