systems/EFI/- Arkiv/100614 Pakker til konsortiet AD, BFY, Captia, DMR, ES, Forskud Slut 3S Svur, Slsp, eIndkomst/100611 A D/WSDL/package/view/KommunikationAftaleHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
   
   
   
   <xs:annotation>
      
      
      
      <xs:documentation/>
   
   
   
   </xs:annotation>
   
   
   
   <xs:include schemaLocation="../context/KontekstType.xsd"/>

					

            
      
   
   
   <xs:include schemaLocation="../class/KommunikationAftale.xsd"/>
         
            
      
         
            
      
         
            
      
   
   
   <xs:include schemaLocation="../class/MeddelelseType.xsd"/>
         
            
      
   
   
   <xs:include schemaLocation="../class/KanalType.xsd"/>
         
   
   
   
   <xs:include schemaLocation="../operational/KommunikationAftaleMeddelelseAntal.xsd"/>
   
   
   
   <xs:include schemaLocation="../view/KundeNummerStrukturType.xsd"/>
   
   
   
   
   
   <xs:include schemaLocation="../view/KanalAdresseStrukturType.xsd"/>
   
   
   
   <xs:element name="KommunikationAftaleHent_O">
      
      
      
      <xs:complexType>
         
         
         
         <xs:complexContent>
            
            
            
            <xs:extension base="fase2.1:KommunikationAftaleHent_OType">
               
               
               
               <xs:attribute name="revision">
                  
                  
                  
                  <xs:simpleType>
                     
                     
                     
                     <xs:restriction base="xs:string">
                        
                        
                        
                        <xs:pattern value="r2315"/>
                     
                     
                     
                     </xs:restriction>
                  
                  
                  
                  </xs:simpleType>
               
               
               
               </xs:attribute>
            
            
            
            </xs:extension>
         
         
         
         </xs:complexContent>
      
      
      
      </xs:complexType>
   
   
   
   </xs:element>
   
   
   
   <xs:complexType name="KommunikationAftaleHent_OType">
					
      
      
      <xs:sequence>
							
         
         
         <xs:element ref="fase2.1:Kontekst"/>
							
         
         <!--Sequence removed-->
										
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
               
            

         
               
            
         <xs:element name="KommunikationAftale" minOccurs="0">
            
                  
               
            <xs:complexType>
               
                     
                  
               <xs:sequence>
                  
                        
                     
                  <xs:element ref="fase2.1:KommunikationAftaleSprog"/>
                  
                  
                  
                        
                     
                  <xs:element ref="fase2.1:KundeNummerStruktur"/>
                  
                  
                  
                        
                     
                  <xs:element ref="fase2.1:KommunikationAftaleGyldigFra"/>


                  
                        
                     
                  <xs:element ref="fase2.1:KommunikationAftaleGyldigTil" minOccurs="0"/>



                  
                        
                     
                  <xs:element name="Kunderepræsentanter">
                     
                           
                        
                     <xs:complexType>
                        
                              
                           
                        <xs:sequence>


                           
                                 
                              
                           <xs:element name="Kunderepræsentantforhold" minOccurs="0" maxOccurs="unbounded">
                              
                                    
                                 
                              <xs:complexType>
                                 
                                       
                                    
                                 <xs:sequence>

                                    
                                          
                                       
                                    <xs:element name="Kunde">
                                       
                                             
                                          
                                       <xs:complexType>
                                          
                                                
                                             
                                          <xs:sequence>
                                             
                                                   
                                                
                                             <xs:element ref="fase2.1:KundeNummerStruktur"/>

                                          
                                                
                                             
                                          </xs:sequence>
                                       
                                             
                                          
                                       </xs:complexType>
                                    
                                          
                                       
                                    </xs:element>

                                    
                                          
                                       
                                    <xs:element name="Kunderepræsentant">
                                       
                                             
                                          
                                       <xs:complexType>
                                          
                                                
                                             
                                          <xs:sequence>
                                             
                                                   
                                                
                                             <xs:element ref="fase2.1:KundeNummerStruktur"/>

                                          
                                                
                                             
                                          </xs:sequence>
                                       
                                             
                                          
                                       </xs:complexType>
                                    
                                          
                                       
                                    </xs:element>

                                 
                                       
                                    
                                 </xs:sequence>
                              
                                    
                                 
                              </xs:complexType>
                           
                                 
                              
                           </xs:element>

                        
                              
                           
                        </xs:sequence>
                     
                           
                        
                     </xs:complexType>
                  
                        
                     
                  </xs:element>


                  
                        
                     
                  <xs:element name="Kommunikationspræferencer">
                     
                           
                        
                     <xs:complexType>
                        
                              
                           
                        <xs:sequence>


                           
                                 
                              
                           <xs:element name="Kommunikationspræference" minOccurs="0" maxOccurs="unbounded">
                              
                                    
                                 
                              <xs:complexType>
                                 
                                       
                                    
                                 <xs:sequence>
                                    
                                          
                                       
                                    <xs:element ref="fase2.1:MeddelelseTypeNummer"/>
                  
                  
                                    
                                          
                                       
                                    <xs:element ref="fase2.1:KanalTypeNummer"/>
                  
                  
                                    
                                          
                                       
                                    <xs:element ref="fase2.1:KanalAdresseStruktur"/>

                                 
                                       
                                    
                                 </xs:sequence>
                              
                                    
                                 
                              </xs:complexType>
                           
                                 
                              
                           </xs:element>

                        
                              
                           
                        </xs:sequence>
                     
                           
                        
                     </xs:complexType>
                  
                        
                     
                  </xs:element>

                  
                  
                        
                     
                  <xs:element ref="fase2.1:KommunikationAftaleMeddelelseAntal"/>

               
                     
                  
               </xs:sequence>
            
                  
               
            </xs:complexType>
         
               
            
         </xs:element>
      
            
            
         
         
         
         
      
							
         
         
									
						
      
      
      </xs:sequence>
								
   
   
   </xs:complexType>



</xs:schema>
