services/demotin/eIndkomst12/view/IndkomstOplysningPersonAdvisBestil_I_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:eindkomstws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:indkomstoplysningadgangmedarbejderidentifikator="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangmedarbejderidentifikator/xml/schemas/20071202/" xmlns:eindkomst="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../class/SKAT_HovedOplysninger.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/" schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/indkomstoplysningadgangmedarbejderidentifikator/xml/schemas/20071202/" schemaLocation="../class/SKAT_IndkomstOplysningAdgangMedarbejderIdentifikator.xsd"/>
	<xs:include schemaLocation="../view/AbonnentVirksomhedStrukturType.xsd"/>
	<xs:include schemaLocation="../view/SoegeAArMaanedLukketStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AdvisBlanketNiveau1Type.xsd"/>
	<xs:element name="IndkomstOplysningPersonAdvisBestil_I_I" type="eindkomstws:IndkomstOplysningPersonAdvisBestil_I_IType"/>
	<xs:complexType name="IndkomstOplysningPersonAdvisBestil_I_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="IndkomstOplysningPersonAdvisBestilInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="eindkomst:AbonnentAdgangStruktur"/>
						<xs:element name="Abonnent">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="eindkomstws:AbonnentVirksomhedStruktur"/>
									<xs:element ref="indkomstoplysningadgangmedarbejderidentifikator:IndkomstOplysningAdgangMedarbejderIdentifikator"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AdvisPeriode">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="eindkomstws:SoegeAarMaanedLukketStruktur"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AdvisBlanketSamlingStruktur">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AdvisBlanketNiveau1Samling">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="eindkomstws:AdvisBlanketNiveau1" minOccurs="1" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>