services/demotin/eIndkomst6/skat_dk/eindkomst/IndkomstOplysningPersonAbonnentBestil_O_O.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:soege="http://eksternwiki.skat.dk/oioxml/skat_dk/eIndkomst/soege/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd"/>
	<xs:import namespace="http://eksternwiki.skat.dk/oioxml/skat_dk/eIndkomst/soege/" schemaLocation="../../oioxml/skat_dk/eIndkomst/soege/NySoegeDatoTidFraDatoTid.xsd"/>
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="AbonnentAdgangStruktur.xsd"/>
	<xs:include schemaLocation="AbonnentStruktur.xsd"/>
	<xs:include schemaLocation="IndkomstOplysningPersonStruktur.xsd"/>
	<xs:include schemaLocation="IndkomstOplysningVirksomhedStruktur.xsd"/>
	<xs:element name="IndkomstOplysningPersonAbonnentBestil_O_O" type="fase2:IndkomstOplysningPersonAbonnentBestil_O_OType"/>
	<xs:complexType name="IndkomstOplysningPersonAbonnentBestil_O_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="IndkomstPersonAbonnentBestilUddata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AbonnentAdgangStruktur"/>
						<xs:element name="AbonnentUddataSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AbonnentUddata" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="fase2:AbonnentStruktur"/>
												<xs:element ref="soege:NySoegeDatoTidFraDatoTid" minOccurs="0"/>
												<xs:element name="IndkomstOplysning">
													<xs:complexType>
														<xs:choice>
															<xs:sequence>
																<xs:element name="PersonIndkomstSamling">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="fase2:IndkomstOplysningPersonStruktur" minOccurs="1" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:sequence>
																<xs:element name="VirksomhedIndkomstSamling">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="fase2:IndkomstOplysningVirksomhedStruktur" minOccurs="1" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:choice>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>