systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/DOKontoUdbetalingOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DOKontoUdbetalingOpretService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Servicen har ansvar for at orkestrere kald til DMIKontoUdbetalingOpret for at sende overskydende beløb fra en indbetaling til udbetaling, samt afslutning og bookning af relaterede sagsbehandler opgaver.</xs:documentation>
            <xs:documentation>1.12</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DOKontoUdbetalingOpretInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DOKontoUdbetalingOpretServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DOKontoUdbetalingOpret_I"/>
         </wsdl:message>
         <wsdl:message name="DOKontoUdbetalingOpretServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DOKontoUdbetalingOpret_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DOKontoUdbetalingOpretServicePortType">
            <wsdl:operation name="getDOKontoUdbetalingOpret">
               <wsdl:input message="fase2.1:DOKontoUdbetalingOpretServiceRequest"/>
               <wsdl:output message="fase2.1:DOKontoUdbetalingOpretServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
