systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/DOKontoUdbetalingAfgoer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="DOKontoUdbetalingAfgørService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Servicen DOKontoUdbetalingAfgør har ansvaret for at orkestrere kald til DMIUdbetalingAfgør for at godkende eller afvise ventende udbetalinger i DMI, samt afslutning og bookning af relaterede opgaver.</xs:documentation>
            <xs:documentation>1.2</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/DOKontoUdbetalingAfgoerInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="DOKontoUdbetalingAfgørServiceRequest">
            <wsdl:part name="Request" element="fase2.1:DOKontoUdbetalingAfgør_I"/>
         </wsdl:message>
         <wsdl:message name="DOKontoUdbetalingAfgørServiceResponse">
            <wsdl:part name="Response" element="fase2.1:DOKontoUdbetalingAfgør_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="DOKontoUdbetalingAfgørServicePortType">
            <wsdl:operation name="getDOKontoUdbetalingAfgør">
               <wsdl:input message="fase2.1:DOKontoUdbetalingAfgørServiceRequest"/>
               <wsdl:output message="fase2.1:DOKontoUdbetalingAfgørServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
