systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/EFIOpgaveOpretHaendelseModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="EFIOpgaveOpretHændelseModtagService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Denne portal orkestrerings (PO) service opretter synkront en manuel aftaleopgave eller en plugopgave på en kø i resourcesystemet  og sender en hændelse til den angivne indsats.  En manuel opgave er en aftaleopgave, der bookes fra sagsbehandlerportalen. En manuel aftaleopgave er enten en telefonopgave eller aftaleopgave, f.eks. et kundemøde. En plugopgave er en opgave, som sagsbehandleren tager fra en pulje af opgaver.</xs:documentation>
            <xs:documentation>1.7</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/EFIOpgaveOpretHaendelseModtagInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="EFIOpgaveOpretHændelseModtagServiceRequest">
            <wsdl:part name="Request" element="fase2.1:EFIOpgaveOpretHændelseModtag_I"/>
         </wsdl:message>
         <wsdl:message name="EFIOpgaveOpretHændelseModtagServiceResponse">
            <wsdl:part name="Response" element="fase2.1:EFIOpgaveOpretHændelseModtag_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="EFIOpgaveOpretHændelseModtagServicePortType">
            <wsdl:operation name="getEFIOpgaveOpretHændelseModtag">
               <wsdl:input message="fase2.1:EFIOpgaveOpretHændelseModtagServiceRequest"/>
               <wsdl:output message="fase2.1:EFIOpgaveOpretHændelseModtagServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
