systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/IAHaendelseSignaler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="IAHændelseSignalerService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>DENNE SERVICE ER UDGÅET OG SLETTES PÅ SIGT At modtage hændelser til indsatser og på grundlag af indsatsen (dens type og tilstand) og hændelsetypen at afgøre om aktiviteter skal afvikles og indsatsens tilstand opdateres.</xs:documentation>
            <xs:documentation>1.13</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/IAHaendelseSignalerInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="IAHændelseSignalerServiceRequest">
            <wsdl:part name="Request" element="fase2.1:IAHændelseSignaler_I"/>
         </wsdl:message>
         <wsdl:message name="IAHændelseSignalerServiceResponse">
            <wsdl:part name="Response" element="fase2.1:IAHændelseSignaler_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="IAHændelseSignalerServicePortType">
            <wsdl:operation name="getIAHændelseSignaler">
               <wsdl:input message="fase2.1:IAHændelseSignalerServiceRequest"/>
               <wsdl:output message="fase2.1:IAHændelseSignalerServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
