systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/IAIndsatsBetalingsRykkerHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="IAIndsatsBetalingsRykkerHentService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At returnere al indsatsdata for en given indsats af typen rykker.</xs:documentation>
            <xs:documentation>1.2</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/IAIndsatsBetalingsRykkerHentInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="IAIndsatsBetalingsRykkerHentServiceRequest">
            <wsdl:part name="Request" element="fase2.1:IAIndsatsBetalingsRykkerHent_I"/>
         </wsdl:message>
         <wsdl:message name="IAIndsatsBetalingsRykkerHentServiceResponse">
            <wsdl:part name="Response" element="fase2.1:IAIndsatsBetalingsRykkerHent_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="IAIndsatsBetalingsRykkerHentServicePortType">
            <wsdl:operation name="getIAIndsatsBetalingsRykkerHent">
               <wsdl:input message="fase2.1:IAIndsatsBetalingsRykkerHentServiceRequest"/>
               <wsdl:output message="fase2.1:IAIndsatsBetalingsRykkerHentServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
