systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/IMMultiHaendelseModtag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="IMMultiHændelseModtagService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At kunne sende flere hændelser til IM via et servicekald, og derved eliminere det overhead der ville være ved flere kald til servicen IMHændelseModtag.</xs:documentation>
            <xs:documentation>1.11</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/IMMultiHaendelseModtagInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="IMMultiHændelseModtagServiceRequest">
            <wsdl:part name="Request" element="fase2.1:IMMultiHændelseModtag_I"/>
         </wsdl:message>
         <wsdl:message name="IMMultiHændelseModtagServiceResponse">
            <wsdl:part name="Response" element="fase2.1:IMMultiHændelseModtag_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="IMMultiHændelseModtagServicePortType">
            <wsdl:operation name="getIMMultiHændelseModtag">
               <wsdl:input message="fase2.1:IMMultiHændelseModtagServiceRequest"/>
               <wsdl:output message="fase2.1:IMMultiHændelseModtagServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
