systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/KFIKundeStamoplysningerHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="KFIKundeStamoplysningerHentService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At hente detaljerede oplysninger om personer, virksomheder og alternative kontakter - både EFI kunder og ikke-EFI kunder. For personer hentes navn, adresse, informationer om familiære forhold og personer på samme bopæl samt kontaktoplysninger. For virksomheder hentes firmanavn, adresse, driftform, virksomhedstatus og kontaktoplysninger. For alternative kontakter hentes navn, adresse og kontaktoplysninger. </xs:documentation>
            <xs:documentation>1.4</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/KFIKundeStamoplysningerHentInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="KFIKundeStamoplysningerHentServiceRequest">
            <wsdl:part name="Request" element="fase2.1:KFIKundeStamoplysningerHent_I"/>
         </wsdl:message>
         <wsdl:message name="KFIKundeStamoplysningerHentServiceResponse">
            <wsdl:part name="Response" element="fase2.1:KFIKundeStamoplysningerHent_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="KFIKundeStamoplysningerHentServicePortType">
            <wsdl:operation name="getKFIKundeStamoplysningerHent">
               <wsdl:input message="fase2.1:KFIKundeStamoplysningerHentServiceRequest"/>
               <wsdl:output message="fase2.1:KFIKundeStamoplysningerHentServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
