systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/KFIKundeOverfoer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="KFIKundeOverførService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Servicen KFIKundeOverfoer anvendes til enten at skifte kundenummer og evt. kundetype på en kunde i EFI eller sammenlægning to AKR kunder i EFI.  EFI opdaterer DMI og evt. AKR i overenstemmelse med valgene i input.</xs:documentation>
            <xs:documentation>1.0</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/KFIKundeOverfoerInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="KFIKundeOverførServiceRequest">
            <wsdl:part name="Request" element="fase2.1:KFIKundeOverfør_I"/>
         </wsdl:message>
         <wsdl:message name="KFIKundeOverførServiceResponse">
            <wsdl:part name="Response" element="fase2.1:KFIKundeOverfør_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="KFIKundeOverførServicePortType">
            <wsdl:operation name="getKFIKundeOverfør">
               <wsdl:input message="fase2.1:KFIKundeOverførServiceRequest"/>
               <wsdl:output message="fase2.1:KFIKundeOverførServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
