systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/KFIKundeFordringList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="KFIKundeFordringListService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Denne webservice returnerer en liste af kundens fordringer med fhv. få outputparametre for hver fordring. Desuden beregner servicen restgælden for hver fordringstype og for hver fordringsart, samt returnerer listen af transaktioner på kundens konto i den ønskede periode. Ønskes flere detaljer på den enkelte fordring, kaldes KFIFordringHent-webservicen.</xs:documentation>
            <xs:documentation>1.15</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/KFIKundeFordringListInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="KFIKundeFordringListServiceRequest">
            <wsdl:part name="Request" element="fase2.1:KFIKundeFordringList_I"/>
         </wsdl:message>
         <wsdl:message name="KFIKundeFordringListServiceResponse">
            <wsdl:part name="Response" element="fase2.1:KFIKundeFordringList_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="KFIKundeFordringListServicePortType">
            <wsdl:operation name="getKFIKundeFordringList">
               <wsdl:input message="fase2.1:KFIKundeFordringListServiceRequest"/>
               <wsdl:output message="fase2.1:KFIKundeFordringListServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
