systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/MFAftaleHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="MFAftaleHentService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>At hente en aftale for en fordringhaver og/eller rettighedshaver. Der eksisterer kun en aftale per haver. Det fremgår af feltet DMIFordringHaverAftaleType om aftalen er for en fordringhaver, en rettighedshaver eller en kombinations aftale.  Alle fordringhavere skal have en aftale , og rettighedshavere kan have en aftale.  Fordringhavere identificeres unikt ved et DMIFordringHaverID, men har også altid en tilknyttet KundeStruktur.</xs:documentation>
            <xs:documentation>1.14</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/MFAftaleHentInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="MFAftaleHentServiceRequest">
            <wsdl:part name="Request" element="fase2.1:MFAftaleHent_I"/>
         </wsdl:message>
         <wsdl:message name="MFAftaleHentServiceResponse">
            <wsdl:part name="Response" element="fase2.1:MFAftaleHent_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="MFAftaleHentServicePortType">
            <wsdl:operation name="getMFAftaleHent">
               <wsdl:input message="fase2.1:MFAftaleHentServiceRequest"/>
               <wsdl:output message="fase2.1:MFAftaleHentServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
