systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/MFAftaleSoeg.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="MFAftaleSøgService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Søg efter en fordringhaver eller rettighedshaver aftale. Der angives enten et DMIFordringHaverID, et kundenummer eller del af et fordringhaver navn. Hvis der søges med DMIFordringHaverID eller kundenummer vil der være 0 eller 1 resultat.  DMIFordringHaverAftaleType angiver typen af aftale der søges efter: - BG: Alle aftaletyper - FH: Aftaler af type FH eller BG - RH: Aftaler af type RH eller BG   Der kan søges efter aftaler der ved at udløbe ved at udfylde  MFAftaleUdløberFørDato. I dette tilfælde alene kan man undlade at udfylde Valg strukturen. </xs:documentation>
            <xs:documentation>1.5</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/MFAftaleSoegInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="MFAftaleSøgServiceRequest">
            <wsdl:part name="Request" element="fase2.1:MFAftaleSøg_I"/>
         </wsdl:message>
         <wsdl:message name="MFAftaleSøgServiceResponse">
            <wsdl:part name="Response" element="fase2.1:MFAftaleSøg_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="MFAftaleSøgServicePortType">
            <wsdl:operation name="getMFAftaleSøg">
               <wsdl:input message="fase2.1:MFAftaleSøgServiceRequest"/>
               <wsdl:output message="fase2.1:MFAftaleSøgServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
