systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/MFFordringAfskriv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="MFFordringAfskrivService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Igangsætter godkendelse af afskrivning af en liste af kunders (både som primærhæfter og medhæfter) fordringer i DMI helt eller delvist. Afskrivning og underretninger udføres af servicen MFFordringOpgaveAfslut når sagsbehandler godkender. </xs:documentation>
            <xs:documentation>1.7</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/MFFordringAfskrivInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="MFFordringAfskrivServiceRequest">
            <wsdl:part name="Request" element="fase2.1:MFFordringAfskriv_I"/>
         </wsdl:message>
         <wsdl:message name="MFFordringAfskrivServiceResponse">
            <wsdl:part name="Response" element="fase2.1:MFFordringAfskriv_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="MFFordringAfskrivServicePortType">
            <wsdl:operation name="getMFFordringAfskriv">
               <wsdl:input message="fase2.1:MFFordringAfskrivServiceRequest"/>
               <wsdl:output message="fase2.1:MFFordringAfskrivServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
