systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/MFFordringOpgaveHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="MFFordringOpgaveHentService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Hent informationer om en sagsbehandler opgave til visning i portalen. Opgaven afsluttes ved et kald fra portalen til servicen MFFordringOpgaveAfslut.</xs:documentation>
            <xs:documentation>1.19</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/MFFordringOpgaveHentInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="MFFordringOpgaveHentServiceRequest">
            <wsdl:part name="Request" element="fase2.1:MFFordringOpgaveHent_I"/>
         </wsdl:message>
         <wsdl:message name="MFFordringOpgaveHentServiceResponse">
            <wsdl:part name="Response" element="fase2.1:MFFordringOpgaveHent_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="MFFordringOpgaveHentServicePortType">
            <wsdl:operation name="getMFFordringOpgaveHent">
               <wsdl:input message="fase2.1:MFFordringOpgaveHentServiceRequest"/>
               <wsdl:output message="fase2.1:MFFordringOpgaveHentServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
