systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/MFMeddelelseSamlingContainer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="MFMeddelelseSamlingContainerService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Dette er en DUMMY service som er oprettet for at kunne udskrive MF meddelelse strukturer til fordringhavere.  </xs:documentation>
            <xs:documentation>1.16</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/MFMeddelelseSamlingContainerInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="MFMeddelelseSamlingContainerServiceRequest">
            <wsdl:part name="Request" element="fase2.1:MFMeddelelseSamlingContainer_I"/>
         </wsdl:message>
         <wsdl:message name="MFMeddelelseSamlingContainerServiceResponse">
            <wsdl:part name="Response" element="fase2.1:MFMeddelelseSamlingContainer_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="MFMeddelelseSamlingContainerServicePortType">
            <wsdl:operation name="getMFMeddelelseSamlingContainer">
               <wsdl:input message="fase2.1:MFMeddelelseSamlingContainerServiceRequest"/>
               <wsdl:output message="fase2.1:MFMeddelelseSamlingContainerServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
