systems/EFI/KMD-leverancer/EFI20160615/Services/EFI_Intern/Fase2_1EFI_Intern.r14254/Fase2_1/EFI_Intern/Fase2_1EFI_Intern/wsdl/RSOrganisatoriskEnhedOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
      <wsdl:definitions xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                        name="RSOrganisatoriskEnhedOpretService">
         <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:documentation>Opretter en organisatorisk enhed i ressourcestyring</xs:documentation>
            <xs:documentation>1.0</xs:documentation>
            <xs:documentation>r14254</xs:documentation>
         </xs:annotation>
         <wsdl:types>
            <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
               <xsd:include schemaLocation="../service/RSOrganisatoriskEnhedOpretInterface.xsd"/>
               
            </xsd:schema>
         </wsdl:types>
         <wsdl:message name="RSOrganisatoriskEnhedOpretServiceRequest">
            <wsdl:part name="Request" element="fase2.1:RSOrganisatoriskEnhedOpret_I"/>
         </wsdl:message>
         <wsdl:message name="RSOrganisatoriskEnhedOpretServiceResponse">
            <wsdl:part name="Response" element="fase2.1:RSOrganisatoriskEnhedOpret_O"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransRequest">
            <wsdl:part name="Request" element="fase2.1:KompenserTrans"/>
         </wsdl:message>
         <wsdl:message name="KompenserTransResponse">
            <wsdl:part name="Response" element="fase2.1:KompenserTransSvar"/>
         </wsdl:message>
         <wsdl:portType name="RSOrganisatoriskEnhedOpretServicePortType">
            <wsdl:operation name="getRSOrganisatoriskEnhedOpret">
               <wsdl:input message="fase2.1:RSOrganisatoriskEnhedOpretServiceRequest"/>
               <wsdl:output message="fase2.1:RSOrganisatoriskEnhedOpretServiceResponse"/>
            </wsdl:operation>
            <wsdl:operation name="getKompenserTrans">
               <wsdl:input message="fase2.1:KompenserTransRequest"/>
               <wsdl:output message="fase2.1:KompenserTransResponse"/>
            </wsdl:operation>
         </wsdl:portType>
         </wsdl:definitions>
