services/demo/eIndkomst20/view/AngivelseNiveau2Type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" xmlns:blanket="http://rep.oio.dk/skat.dk/eindkomst/class/blanket/xml/schemas/20071202/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/eindkomst/class/blanket/xml/schemas/20071202/" schemaLocation="../class/blanket/xml/schemas/20071202/SKAT_BlanketNummerIdentifikator.xsd"/>
	<xs:include schemaLocation="../view/AngivelseFeltIndholdStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AngivelseNiveau3Type.xsd"/>
	<xs:element name="AngivelseNiveau2" type="fase2:AngivelseNiveau2Type"/>
	<xs:complexType name="AngivelseNiveau2Type">
		<xs:sequence>
			<!--Sequence removed-->
			<xs:element ref="blanket:BlanketNummerIdentifikator"/>
			<xs:element name="AngivelseFeltSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AngivelseFeltIndholdStruktur" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UnderAngivelseSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AngivelseNiveau3" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
