services/demo/eIndkomst20/view/AnsaettelseUdenlandskPersonStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fase2="http://rep.oio.dk/skat.dk/eindkomst/" targetNamespace="http://rep.oio.dk/skat.dk/eindkomst/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:include schemaLocation="../view/SupplerendePersonOplysningStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AnsaettelsePeriodeOplysningStrukturType.xsd"/>
	<xs:element name="AnsættelseUdenlandskPersonStruktur" type="fase2:AnsættelseUdenlandskPersonStrukturType"/>
	<xs:complexType name="AnsættelseUdenlandskPersonStrukturType">
		<xs:sequence>
			<xs:element name="AnsættelseUdenlandskPerson">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:SupplerendePersonOplysningStruktur"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AnsættelsePeriodeSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="fase2:AnsættelsePeriodeOplysningStruktur" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
