services/test/3S/view/OIOSkatteoplysningSelskabAngivelseOpret_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ssws="urn:oio:skat:selskabskat:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:selskabskat:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:dkal="urn:oio:dkal:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:import namespace="urn:oio:dkal:1.0.0" schemaLocation="http://digitaliser.dk/resource/451496/artefact/MeddelelseIndholdData.xsd"/><xs:element name="OIOSkatteoplysningSelskabAngivelseOpret_O" type="ssws:OIOSkatteoplysningSelskabAngivelseOpret_OType">
	</xs:element>
	<xs:complexType name="OIOSkatteoplysningSelskabAngivelseOpret_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="Kvittering" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dkal:MeddelelseIndholdData"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
