systems/eSKATdata (HentSelv)/eSKATdata20211214/OIOXML/HentSelvSendData_20211214/urn/oio/skat/hentselv/ws/1_0_1/OevrigeOplysningerStruktur.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" xmlns:hentselv="urn:oio:skat:hentselv:1.0.0" xmlns:hsws="urn:oio:skat:hentselv:ws:1.0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:hentselv:ws:1.0.1" version="1.0" xml:lang="DA">
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/PersonKontrolOplysningVirksomhedIndkomstOverfoertBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/VirksomhedTypeFremtidigLigningArtKode.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/VirksomhedOplysningSamledeHaevningerBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/PersonKontrolOplysningRenteudgifterTilAEgtefaelleBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/RegnskabOplysningNettoomsaetningBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/VirksomhedTypeLigningArtKode.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/SelvstaendigVirksomhedOverskudBeloeb.xsd"/>
   <xs:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" schemaLocation="../../../../../../cvr_dk/xml/schemas/2005/03/22/CVRnumberIdentifier.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/SelvstaendigVirksomhedUnderskudBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/PersonKontrolOplysningRenteudgifterFraAEgtefaelleBeloeb.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/PersonKontrolOplysningUdenlandskIndkomstOverfoertBeloeb.xsd"/>
   <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../../../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd"/>
   <xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/RegnskabOplysningOrdinaertResultatBeloeb.xsd"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:element name="OevrigeOplysningerStruktur" type="hsws:OevrigeOplysningerStrukturType"/>
         <xs:complexType name="OevrigeOplysningerStrukturType">
               <xs:sequence>
               <xs:element name="RenteudgifterFraAegtefaelleBeloebListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hentselv:PersonKontrolOplysningRenteudgifterFraAEgtefaelleBeloeb"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="RenteudgifterTilAegtefaelleBeloebListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hentselv:PersonKontrolOplysningRenteudgifterTilAEgtefaelleBeloeb"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="UdenlandskIndkomstOverfoertBeloebListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hentselv:PersonKontrolOplysningUdenlandskIndkomstOverfoertBeloeb"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
                  <xs:element minOccurs="0" name="PersonligVirksomhedOplysning">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element minOccurs="0" ref="cvr:CVRnumberIdentifier"/>
                           <xs:element minOccurs="0" ref="core:PersonCivilRegistrationIdentifier"/>
                           <xs:element minOccurs="0" ref="hentselv:SelvstaendigVirksomhedOverskudBeloeb"/>
                           <xs:element minOccurs="0" ref="hentselv:SelvstaendigVirksomhedUnderskudBeloeb"/>
                           <xs:element minOccurs="0" ref="hentselv:VirksomhedTypeLigningArtKode"/>
                           <xs:element minOccurs="0" ref="hentselv:VirksomhedTypeFremtidigLigningArtKode"/>
                           <xs:element minOccurs="0" ref="hentselv:RegnskabOplysningNettoomsaetningBeloeb"/>
                           <xs:element minOccurs="0" ref="hentselv:RegnskabOplysningOrdinaertResultatBeloeb"/>
                           <xs:element minOccurs="0" ref="hentselv:VirksomhedOplysningSamledeHaevningerBeloeb"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               <xs:element name="VirksomhedIndkomstOverfoertBeloebListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="hentselv:PersonKontrolOplysningVirksomhedIndkomstOverfoertBeloeb"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               </xs:sequence>
         </xs:complexType>
      </xs:schema>
