oioxml/skat_dk/urn/hentselv/ws/HentSelvSendData_O.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:core="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:dkal="urn:oio:dkal:1.0.0" xmlns:hentselv="urn:oio:skat:hentselv:1.0.0" xmlns:hentselv1="urn:oio:skat:hentselv:1.0.1" xmlns:hsws="urn:oio:skat:hentselv:ws:1.0.1" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xmlns:virksomhed="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" xmlns:xkom="http://rep.oio.dk/xkom.dk/xml/schemas/2007/04/15/" xmlns:xkom1="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:skat:hentselv:ws:1.0.1" version="1.0" xml:lang="DA">
<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="../../../../../../skat_dk/basis/kontekst/xml/schemas/2006/09/01/HovedOplysningerSvar.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/JubilaeumsGratialeFratraedelsesGodtgoerelseIndsatPensionsordningBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonBruttoferiepengeFratraedenFunktionaerBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/SundhedsforsikringspraemiePensionsbetaltIkkeGruppelivBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/RestanceOplysningKvantitet.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonVaerdiFriHelaarsboligBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/eSkattekortFradragUgeBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonBruttoferiepengeTimeloennedeBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/MedarbejderinvesteringsselskabIndskudBruttoBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonFriBilVaerdiBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonASkatUdenLoenindeholdelseProcent.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:dkal:1.0.0" schemaLocation="../../../../dkal/1_0_0/FilformatNavn.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonIndeholdtArbejdsmarkedbidragBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonTilbagefoerselKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonBIndkomstTilArbejdsmarkedbidragBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndberetningIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonNettoferiepengeTimeloennedeBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonAndrePersonalegoderUdenBundgraenseBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/eSkattekortFradrag14DageBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/JubilaeumsGratialeFratraedelsesGodtgoerelseBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonVaerdiAfFriTelefonBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/eSkattekortFradragDagBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonAndrePersonalegoderOverstigerBundgraenseBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonIndeholdtASkatBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonVaerdiFriSommerboligDKBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2006/09/01/" schemaLocation="../../../../../../xkom_dk/xml/schemas/2006/09/01/StartDate.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonArbejdsgiversPensionsandelBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/eSkattekortFradragMaanedBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonIndberetningsartKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonAIndkomstIkkeTilArbejdsmarkedbidragBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonIndeholdtForskudsskatBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonReference.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/RestanceOplysningSumBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonNettoferiepengeFratraedenFunktionaerBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonIndberetningDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonSkattefriRejseBefordringsgodtgoerelseBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.1" schemaLocation="../../1_0_1/IndkomstOplysningPersonLoenmodtagerPensionsandelBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonAIndkomstTilArbejdsmarkedbidragBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonIndtaegtsartKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonATPBidragBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.1" schemaLocation="../../1_0_1/IndkomstOplysningPersonIndkomstTypeIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonAldersopsparingForeloebigASkatBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonFeriepengeUdbetalerIdentifier.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonATPSatsTekst.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonAldersopsparingASkatBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/LoenIndeholdelseTraekProcent.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningIndkomstTypeKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.1" schemaLocation="../../1_0_1/IndkomstOplysningPersonPersonLoentimerBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonForBagudLoenKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2007/04/15/" schemaLocation="../../../../../../xkom_dk/xml/schemas/2007/04/15/EndDate.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonVaerdiHaedersgaverBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonAldersopsparingAIndkomstBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/LoenIndeholdelseSaerskiltTraekProcent.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/SundhedsforsikringspraemieArbejdsgiverbetaltBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonVaerdiFriKostLogiBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/OpgoerelseFilStoerrelseMaal.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonRettelseTidligereIndberetningKode.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/skat.dk/motor/class/virksomhed/xml/schemas/20080401/" schemaLocation="../../../../../../skat_dk/motor/class/virksomhed/xml/schemas/20080401/VirksomhedSENummerIdentifikator.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" schemaLocation="../../../../../../cpr_dk/xml/schemas/core/2005/03/18/PersonCivilRegistrationIdentifier.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/BeloebDispositionDato.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/IndkomstOplysningPersonBIndkomstIkkeTilArbejdsmarkedbidragBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/MedarbejderinvesteringsselskabIndskudAMBidragBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/SundhedsforsikringspraemiePensionsbetaltGruppelivBeloeb.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
<xs:import namespace="urn:oio:skat:hentselv:1.0.0" schemaLocation="../../1_0_0/OpgoerelseFilIndholdData.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
         <xs:annotation>
            <xs:documentation/>
         </xs:annotation>
         <xs:include schemaLocation="LoenudbetalerStruktur.xsd"/>
         <xs:include schemaLocation="AarligSkatteOplysningStruktur.xsd"/>
         <xs:include schemaLocation="RegnskabOplysningStruktur.xsd"/>
         <xs:include schemaLocation="PersonKontrolOplysningStruktur.xsd"/>
         <xs:element name="HentSelvSendData_O" type="hsws:HentSelvSendData_OType"/>
         <xs:complexType name="HentSelvSendData_OType">
            <xs:sequence>
               <xs:element ref="kontekst:HovedOplysningerSvar"/>
                        <xs:element minOccurs="0" name="IndkomstOplysningPerson">
                           <xs:complexType>
                              <xs:sequence>
                                    <xs:element minOccurs="0" ref="core:PersonCivilRegistrationIdentifier"/>
                                    <xs:element minOccurs="0" name="IndkomstOplysningerDetaljer">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element name="IndberetningOplysningListe">
                                                <xs:complexType>
                                                   <xs:sequence>
                                                      <xs:element maxOccurs="unbounded" minOccurs="1" name="IndberetningOplysning">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element name="Indberetter">
                                                                  <xs:complexType>
                                                                     <xs:sequence>
                                                                        <xs:element ref="virksomhed:VirksomhedSENummerIdentifikator"/>
                                                                     </xs:sequence>
                                                                  </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="LoenperiodeListe">
                                                                  <xs:complexType>
                                                                     <xs:sequence>
                                                                        <xs:element maxOccurs="unbounded" minOccurs="1" name="Loenperiode">
                                                                           <xs:complexType>
                                                                              <xs:sequence>
                                                                                 <xs:element ref="hentselv:IndberetningIdentifikator"/>
                                                                                 <xs:element ref="xkom1:StartDate"/>
                                                                                 <xs:element ref="xkom:EndDate"/>
                                                                                 <xs:element minOccurs="0" ref="hentselv:BeloebDispositionDato"/>
                                                                                 <xs:element name="BlanketOplysninger">
                                                                                    <xs:complexType>
                                                                                       <xs:sequence>
                                                                                          <xs:element minOccurs="0" ref="hentselv:LoenIndeholdelseTraekProcent"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:LoenIndeholdelseSaerskiltTraekProcent"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonASkatUdenLoenindeholdelseProcent"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonAndrePersonalegoderOverstigerBundgraenseBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonAndrePersonalegoderUdenBundgraenseBeloeb"/>
                                                                                          <xs:element ref="hentselv1:IndkomstOplysningPersonIndkomstTypeIdentifikator"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningIndkomstTypeKode"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonIndberetningsartKode"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonReference"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonForBagudLoenKode"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonRettelseTidligereIndberetningKode"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonTilbagefoerselKode"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonSkattefriRejseBefordringsgodtgoerelseBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonAIndkomstTilArbejdsmarkedbidragBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonAIndkomstIkkeTilArbejdsmarkedbidragBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonIndeholdtASkatBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonIndeholdtArbejdsmarkedbidragBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonFriBilVaerdiBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonBIndkomstTilArbejdsmarkedbidragBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonBIndkomstIkkeTilArbejdsmarkedbidragBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonATPSatsTekst"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonATPBidragBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonVaerdiAfFriTelefonBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonIndeholdtForskudsskatBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv1:IndkomstOplysningPersonPersonLoentimerBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv1:IndkomstOplysningPersonLoenmodtagerPensionsandelBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonArbejdsgiversPensionsandelBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonVaerdiFriKostLogiBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonVaerdiFriHelaarsboligBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonVaerdiFriSommerboligDKBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonVaerdiHaedersgaverBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonNettoferiepengeTimeloennedeBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonNettoferiepengeFratraedenFunktionaerBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonFeriepengeUdbetalerIdentifier"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonBruttoferiepengeFratraedenFunktionaerBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonBruttoferiepengeTimeloennedeBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonAldersopsparingAIndkomstBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonAldersopsparingASkatBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonAldersopsparingForeloebigASkatBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonIndberetningDato"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:IndkomstOplysningPersonIndtaegtsartKode"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:JubilaeumsGratialeFratraedelsesGodtgoerelseBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:JubilaeumsGratialeFratraedelsesGodtgoerelseIndsatPensionsordningBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:SundhedsforsikringspraemiePensionsbetaltGruppelivBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:SundhedsforsikringspraemiePensionsbetaltIkkeGruppelivBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:SundhedsforsikringspraemieArbejdsgiverbetaltBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:MedarbejderinvesteringsselskabIndskudBruttoBeloeb"/>
                                                                                          <xs:element minOccurs="0" ref="hentselv:MedarbejderinvesteringsselskabIndskudAMBidragBeloeb"/>
                                                                                       </xs:sequence>
                                                                                    </xs:complexType>
                                                                                 </xs:element>
                                                                              </xs:sequence>
                                                                           </xs:complexType>
                                                                        </xs:element>
                                                                     </xs:sequence>
                                                                  </xs:complexType>
                                                               </xs:element>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>
                                          </xs:sequence>
                                       </xs:complexType>
                                    </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="LoenudbetalerListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="0" ref="hsws:LoenudbetalerStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="SkatteOplysninger">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element minOccurs="0" ref="hsws:AarligSkatteOplysningStruktur"/>
                                 <xs:element minOccurs="0" ref="hsws:RegnskabOplysningStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="SlutOpgoerelse">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="hentselv:OpgoerelseFilIndholdData"/>
                                 <xs:element ref="dkal:FilformatNavn"/>
                                 <xs:element ref="hentselv:OpgoerelseFilStoerrelseMaal"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="PersonKontrolOplysningListe">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="0" ref="hsws:PersonKontrolOplysningStruktur"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="eSkattekortHent">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element minOccurs="0" ref="hentselv:eSkattekortFradragMaanedBeloeb"/>
                                 <xs:element minOccurs="0" ref="hentselv:eSkattekortFradrag14DageBeloeb"/>
                                 <xs:element minOccurs="0" ref="hentselv:eSkattekortFradragUgeBeloeb"/>
                                 <xs:element minOccurs="0" ref="hentselv:eSkattekortFradragDagBeloeb"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="RestanceOplysning">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="hentselv:RestanceOplysningSumBeloeb"/>
                                 <xs:element ref="hentselv:RestanceOplysningKvantitet"/>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
