services/test/EFI/view/MFKvitteringHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../class/ModtagFordringLeveranceIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../class/ModtagFordringAktionStatusAendretDato.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../class/FordringHaverIdentifikator.xsd"/><xs:include schemaLocation="../view/FordringhaverSystemIDStrukturType.xsd"/>
	<xs:include schemaLocation="../view/MFAktionStrukturType.xsd"/>
	<xs:include schemaLocation="../view/FordringRestBeloebStrukturType.xsd"/>
	<xs:include schemaLocation="../view/KundeStrukturType.xsd"/>
	<xs:element name="MFKvitteringHent_O" type="efiws:MFKvitteringHent_OType">
	</xs:element>
	<xs:complexType name="MFKvitteringHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element ref="efiws:FordringhaverSystemIDStruktur" minOccurs="0"/>
			<xs:element ref="efi:ModtagFordringLeveranceIdentifikator" minOccurs="0"/>
			<xs:element ref="efi:FordringHaverIdentifikator" minOccurs="0"/>
			<xs:element name="SoegeDatoFra" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efi:ModtagFordringAktionStatusAendretDato"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KvitteringSamling" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Kvittering" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="efiws:MFAktionStruktur"/>
									<xs:element ref="efiws:FordringRestBeloebStruktur" minOccurs="0"/>
									<xs:element name="KundeSamling">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="efiws:KundeStruktur" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
