services/test/EFI/view/MFUnderretSamlingHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247432/artefact/SKAT_HovedOplysningerSvar.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../class/ModtagFordringUnderretningIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../class/ModtagFordringUnderretningDatoTid.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../class/FordringHaverIdentifikator.xsd"/><xs:include schemaLocation="../view/MFUnderretReturnerStrukturType.xsd"/>
	<xs:include schemaLocation="../view/MFUnderretAfskrivStrukturType.xsd"/>
	<xs:include schemaLocation="../view/MFUnderretAfregnStrukturType.xsd"/>
	<xs:include schemaLocation="../view/MFUnderretRenteTilskrivningStrukturType.xsd"/>
	<xs:include schemaLocation="../view/MFUnderretModregningStrukturType.xsd"/>
	<xs:include schemaLocation="../view/MFUnderretNyFordringHaverStrukturType.xsd"/>
	<xs:element name="MFUnderretSamlingHent_O" type="efiws:MFUnderretSamlingHent_OType">
	</xs:element>
	<xs:complexType name="MFUnderretSamlingHent_OType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysningerSvar"/>
			<xs:element name="UnderretSamling" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MFUnderret" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="efi:ModtagFordringUnderretningIdentifikator"/>
									<xs:element ref="efi:ModtagFordringUnderretningDatoTid"/>
									<xs:element ref="efi:FordringHaverIdentifikator"/>
									<xs:element name="UnderretValg">
										<xs:complexType>
											<xs:choice>
												<xs:element ref="efiws:MFUnderretReturnerStruktur"/>
												<xs:element ref="efiws:MFUnderretAfskrivStruktur"/>
												<xs:element ref="efiws:MFUnderretAfregnStruktur"/>
												<xs:element ref="efiws:MFUnderretRenteTilskrivningStruktur"/>
												<xs:element ref="efiws:MFUnderretModregningStruktur"/>
												<xs:element ref="efiws:MFUnderretNyFordringHaverStruktur"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
