services/test/EFI/view/MFUnderretSamlingHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:efiws="urn:oio:skat:efi:ws:1.0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:efi:ws:1.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:efi="urn:oio:skat:efi:1.0.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247441/artefact/SKAT_HovedOplysninger.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../class/ModtagFordringUnderretningIdentifikator.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../class/ModtagFordringUnderretningDatoTid.xsd"/><xs:import namespace="urn:oio:skat:efi:1.0.0" schemaLocation="../class/FordringHaverIdentifikator.xsd"/><xs:include schemaLocation="../view/FordringhaverSystemIDStrukturType.xsd"/>
	<xs:element name="MFUnderretSamlingHent_I" type="efiws:MFUnderretSamlingHent_IType">
	</xs:element>
	<xs:complexType name="MFUnderretSamlingHent_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element ref="efiws:FordringhaverSystemIDStruktur"/>
			<xs:element name="FordringHaverSamling">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efi:FordringHaverIdentifikator" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SoegeDatoFra" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efi:ModtagFordringUnderretningDatoTid"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UnderretNummerFra" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efi:ModtagFordringUnderretningIdentifikator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UnderretNummerTil" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="efi:ModtagFordringUnderretningIdentifikator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
