services/demo/eIndkomst2/wsdl/IndkomstOplysningPersonAdvisBestil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IndkomstOplysningVirksomhedAbonnentBestilService" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eindkomst="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:documentation>En abonnents bestilling af adviseringer på en kreds af personer til senere (asynkron) afhentning. Servicen leverer ikke detaljer om de oplysninger, der ligger til grund for adviseringen. Detailoplysninger om indkomstoplysninger til brug for yderligere behandling skal hentes via andre serviceopslag på udstillede indkomst- og ansættelsesoplysninger.

Kredsen af personer, der ønskes advisering for, oprettes og vedligeholdes via servicen IndkomstOplysningPersonAbonne-mentAjourfør.

Servicen stiller indkomstoplysninger til rådighed for myndigheder og andre, som iht. eIndkomstlovens § 7 stk. 1, jf. § 15 stk. 1 i eIndkomstbekendtgørelsen, kan anvende oplysninger fra indkomstregistret. 

Anvendelsen af servicen er betinget af, at der er indgået en abonnementsaftale med told- og skatteforvaltningen herom, jf. § 7 stk. 4 i lov om et indkomstregister. 

Begrænsning i kredsen af personer, som der stilles adviser til rådighed for, sker hos den enkelte abonnent og fastlægges individuelt med abonnenten i den aftale, der skal indgås iht. lov og bekendtgørelse. Eksempelvis begrænser servicen ikke adgangen for en kommune til alene at omfatte de indberetningspligtige, som bor i kommunen. Denne begrænsning skal ske hos kommunen. 

SERVICENS VIRKEMÅDE
Servicen indeholder 3 synkrone servicekald (metoder):
1. Bestilling (I_I og I_O)
2. BestillingHent (O_I og O_O)
3. BestillingModtaget (OK_I og OK_O)

Nedenfor beskrives overordnet funktionaliteten i de 3 metoder. Funktionaliteten og anvendelsen af de 3 metoder er uddybet i vejledningsmateriale, der udleveres af SKAT ved indgåelse af abonnementsaftalen.

Metoden Bestilling
Omfatter abonnentens eller databehandlers bestilling af adviser på den personkreds, der er ajourført via servicen IndkomstOplysningPersonAbonnementAjourfør.

Der kvitteres med et bestillingsnummer (AbonnentBestillingIdentifikator)

Metoden BestillingHent
Omfatter abonnentens eller databehandlers hentning af bestilte oplysninger. Oplysningerne fra BestillingHent leveres komprimeret. Større mængder data kan aftales leveret via en MQ forbindelse.

Metoden BestillingModtaget
Omfatter abonnentens eller databehandlers kvittering for modtagelsen af bestilte oplysninger. Oplysningerne slettes efter kvittering.

UDFYLDELSE AF SØGEKRITERIER
AbonnentAdgangStruktur
AbonnentAdgangStruktur udfyldes med oplysninger som fremgår af den abonnementsaftale, som indgås med SKAT.

AbonnentStruktur
AbonnentStruktur udfyldes med abonnentens CVR- eller SE-nummer

IndkomstOplysningAdgangMedarbejderIdentifikation (IndkomstOplysningAdgangMedarbejderIdentifikator i OIO format) udfyldes med enten en entydig identifikation af det system hos abonnenten eller databehandler, som har bestilt oplysningerne, eller en entydig identifikation af en medarbejder hos abonnenten, dvs. CPR-nummer, CVR-nummer fra abonnenten samt RID (Identifikationsnummer fra medarbejdercertifikat) eller anden entydig identifikation af medarbejderen.

SØGNING
Den indkomst, der adviseres på grundlag af, er periodiseret til den måned, som indkomsten rent skattemæssigt hører til i uanset lønperiodens længde. Adviseringerne beregnes således på grundlag af den skattemæssige indkomst.

SøgeÅrMånedFra og SøgeÅrMånedTil angiver den periode, som der ønskes adviseringer for.

Indholdet af AdvisBlanketSamlingStruktur, dvs. BlanketNummer, BlanketFeltNummer, FeltEnhedTypeKode samt eventuelt AngivelseFeltIndhold angiver indholdet af den type advisering, der ønskes. Typen af advisering samt indholdet af AdvisBlanketSamlingStruktur fastlægges ved indgåelse af abonnementsaftale med SKAT.
Der kan eksempelvis adviseres om start- og ophør af indkomst, ændringer i indkomst over en aftalt bagatel- eller procentgrænse. Det vil også være muligt at indtage nærmere angivne indkomsttyper fra advisering.

LOGNING
Abonnentens adgang til oplysninger logges. Der stilles ikke oplysninger til rådighed, adgangen til oplysningerne ikke kan logges.

ANDRE FORHOLD
Servicen kan ikke anvendes i digitale selvbetjeningsløsninger. 

Servicen anvendes normalt ikke til præsentation af oplysninger via en brugergrænseflade for en sagsbehandler, da bestilte oplysninger først leveres efter et stykke tid, medmindre abonnenten understøtter asynkron levering af bestilte oplysninger til en brugergrænseflade. 

</xs:documentation>
	</xs:annotation>
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:include schemaLocation="../service/IndkomstOplysningPersonAdvisBestilInterface.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="IndkomstOplysningPersonAdvisBestil_IServiceRequest">
		<wsdl:part element="eindkomst:IndkomstOplysningPersonAdvisBestil_I_I" name="Request"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAdvisBestil_IServiceResponse">
		<wsdl:part element="eindkomst:IndkomstOplysningPersonAdvisBestil_I_O" name="Response"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAdvisBestil_OServiceRequest">
		<wsdl:part element="eindkomst:IndkomstOplysningPersonAdvisBestil_O_I" name="Request"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAdvisBestil_OServiceResponse">
		<wsdl:part element="eindkomst:IndkomstOplysningPersonAdvisBestil_O_O" name="Response"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAdvisBestil_OKServiceRequest">
		<wsdl:part element="eindkomst:IndkomstOplysningPersonAdvisBestilAfslut_I" name="Request"/>
	</wsdl:message>
	<wsdl:message name="IndkomstOplysningPersonAdvisBestil_OKServiceResponse">
		<wsdl:part element="eindkomst:IndkomstOplysningPersonAdvisBestilAfslut_O" name="Response"/>
	</wsdl:message>
	<wsdl:portType name="IndkomstOplysningPersonAdvisBestil_IServicePortType">
		<wsdl:operation name="getIndkomstOplysningPersonAdvisBestil_I">
			<wsdl:input message="eindkomst:IndkomstOplysningPersonAdvisBestil_IServiceRequest"/>
			<wsdl:output message="eindkomst:IndkomstOplysningPersonAdvisBestil_IServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="IndkomstOplysningPersonAdvisBestil_OServicePortType">
		<wsdl:operation name="getIndkomstOplysningPersonAdvisBestil_O">
			<wsdl:input message="eindkomst:IndkomstOplysningPersonAdvisBestil_OServiceRequest"/>
			<wsdl:output message="eindkomst:IndkomstOplysningPersonAdvisBestil_OServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="IndkomstOplysningPersonAdvisBestil_OKServicePortType">
		<wsdl:operation name="getIndkomstOplysningPersonAdvisBestil_OK">
			<wsdl:input message="eindkomst:IndkomstOplysningPersonAdvisBestil_OKServiceRequest"/>
			<wsdl:output message="eindkomst:IndkomstOplysningPersonAdvisBestil_OKServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Binding1" type="eindkomst:IndkomstOplysningPersonAdvisBestil_IServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getIndkomstOplysningPersonAdvisBestil_I">
			<soap:operation soapAction="urn:#getIndkomstOplysningPersonAdvisBestil_I"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Binding2" type="eindkomst:IndkomstOplysningPersonAdvisBestil_OServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getIndkomstOplysningPersonAdvisBestil_O">
			<soap:operation soapAction="urn:#getIndkomstOplysningPersonAdvisBestil_O"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Binding3" type="eindkomst:IndkomstOplysningPersonAdvisBestil_OKServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getIndkomstOplysningPersonAdvisBestil_OK">
			<soap:operation soapAction="urn:#getIndkomstOplysningPersonAdvisBestil_OK"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IndkomstOplysningPersonAdvisBestil">
		<wsdl:port binding="eindkomst:Binding1" name="Binding1Port">
			<soap:address location="https://services.extranet.demo.skat.dk/vericert/services/IndkomstOplysningPersonAdvisBestilServicePort"/>
		</wsdl:port>
		<wsdl:port binding="eindkomst:Binding2" name="Binding2Port">
			<soap:address location="https://services.extranet.demo.skat.dk/vericert/services/BestillingHent "/>
		</wsdl:port>
		<wsdl:port binding="eindkomst:Binding3" name="Binding3Port">
			<soap:address location="https://services.extranet.demo.skat.dk/vericert/services/BestillingModtaget "/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
