systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/AfledtOmkostning.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Omkostninger</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/TypeType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="AfledtOmkostningTypeNavn" type="fase2.1:TypeType">
               
               <xs:annotation>
                  <xs:documentation>Navnet på den afledte omkostningstype, fx Betalingsordningoprettelsesgerbyr</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AfledtOmkostningBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Omkostningsbeløbet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AfledtOmkostningBeløbDKK" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Omkostningsbeløbet omregnet til danske kroner.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
