systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/AngivelseMedieType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Typen af et angivelsemedieforhold.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="AngivelseMedieTypeKode" type="fase2.1:KodeType">
               
               <xs:annotation>
                  <xs:documentation>Kode som identificerer en medietype.  Der eksisterer pt. disse koder: 1 Almindelig diskette  2 Papir  3 Diskette med program 4 Magnetbånd 5 Online 6 Via bureau 7 EDB medium (gammel værdi), 01.01.1900-01.07.2000 8 Internet, 01.01.1999- A Letløn - hel, 01.01.2002- B Letløn - delvis, 01.01.2002-</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AngivelseMedieTypeTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>En mindre tekst - typisk et eller få ord - som unikt giver mulighed for identifikationen af et givet begreb.  I nogle sammenhænge er det også brugt til mindre forklaringer (sætningsniveau)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AngivelseMedieTypeGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Startdato for typens gyldighedperiode</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="AngivelseMedieTypeGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Slutdato for typens gyldighedperiode</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
