systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/BrancheType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BrancheTypeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:element name="BrancheTypeKode" type="fase2.1:BrancheTypeType">
               
               <xs:annotation>
                  <xs:documentation>1 Hovedbranche 3 Bibranche 1 4 Bibranche 2 5 Bibranche 3 </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheTypeTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Branchetype-tekst (Hovedbranche, Bibranche 1, Bibranche 2, Bibranche 3)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheTypeGyldigFra" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheTypeGyldigTil" type="fase2.1:DatoTidType">
               
            </xs:element>
      </xs:schema>
