systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/Branche.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/BrancheType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:element name="BrancheNummer" type="fase2.1:BrancheType">
               
               <xs:annotation>
                  <xs:documentation>Branchekode ifølge branchekodetabel (DB07)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Branchenavn/-tekst, jf branchetabel (DB07)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="BrancheGyldigFra" type="fase2.1:DatoTidType">
               
            </xs:element>
         <xs:element name="BrancheGyldigTil" type="fase2.1:DatoTidType">
               
            </xs:element>
      </xs:schema>
