systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/DMIRente.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/ValutaKodeType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="DMIRentePeriodeValutaKode" type="fase2.1:ValutaKodeType">
               
            </xs:element>
         <xs:element name="DMIRentePeriodeBeløb" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRentePeriodeBeløbDKK" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRenteÅTDValutaKode" type="fase2.1:ValutaKodeType">
               
            </xs:element>
         <xs:element name="DMIRenteÅTDBeløb" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRenteÅTDBeløbDKK" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRenteÅrStartValutaKode" type="fase2.1:ValutaKodeType">
               
            </xs:element>
         <xs:element name="DMIRenteÅrStartBeløb" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRenteÅrStartBeløbDKK" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRentePeriodeÅbenValutaKode" type="fase2.1:ValutaKodeType">
               
            </xs:element>
         <xs:element name="DMIRentePeriodeÅbenBeløb" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRentePeriodeÅbenBeløbDKK" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRenteÅTDÅbenValutaKode" type="fase2.1:ValutaKodeType">
               
            </xs:element>
         <xs:element name="DMIRenteÅTDÅbenBeløb" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRenteÅTDÅbenBeløbDKK" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRenteÅrStartÅbenValutaKode" type="fase2.1:ValutaKodeType">
               
            </xs:element>
         <xs:element name="DMIRenteÅrStartÅbenBeløb" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="DMIRenteÅrStartÅbenBeløbDKK" type="fase2.1:BeløbType">
               
            </xs:element>
      </xs:schema>
