systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/EmailAdresse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En specialisering af KontaktOplysning som indeholder en email.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/MailAdresseType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/TypeType.xsd"/>
         <xs:element name="EmailAdresseEmail" type="fase2.1:MailAdresseType">
               
               <xs:annotation>
                  <xs:documentation>En generisk email adresse, som kan være indeholde en vilkårlig emailadresse, fx. en.person@skat.dk</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EmailAdresseGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato hvorfra emailadressen er gyldig</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EmailAdresseGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato hvortil emailadressen er gyldig</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="EmailAdresseSikkerhedserklæring" type="fase2.1:TypeType">
               
               <xs:annotation>
                  <xs:documentation>SKAT giver kunden mulighed for at definere, hvilke informationsniveau (sikkerhed) kunden ønsker at modtage via kommunikationsformen e-mail.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
