systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/ForaeldelseFristType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Typen af forældelsesfrister som en fordringstype kan være underlagt ud fra lovgivningen. Det kan fx være fem års frist før en fordring forælder og ikke længere kan opkræves eller inddrives.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/TypeType.xsd"/>
         <xs:include schemaLocation="../types/TalHelType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="ForældelsesFristTypeNavn" type="fase2.1:TypeType">
               
               <xs:annotation>
                  <xs:documentation>Navnet på forældelsesfristtypen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForældelsesFristTypeVarighed" type="fase2.1:TalHelType">
               
               <xs:annotation>
                  <xs:documentation>Hvor lang fristen er målt i antal år. For nuværende er mulige forældelsesfrister 1, 3, 5,10, 20 og 30 år.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForældelsesFristTypeGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Hvornår er forældelsesfristtypen gyldig fra.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForældelsesFristTypeGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Hvornår er forældelsesfristtypen gyldig til.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForældelsesFristTypeBeløbFra" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Fra hvilket beløb er typen gældende for, fx fra 0,01 kr. og op.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForældelsesFristTypeBeløbTil" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Fra hvilket beløb er typen gældende til, fx til og med 2999,99 kr.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
