systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/FordringHaverRetur.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="FordringHaverReturSRBDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Sidste frist for tilbagebetaling af fejlagtigt afregnet beløb (i fordringhaverafregning)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FordringHaverReturBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Det beløb som fordringhaver skal tilbagebetale ved fejlagtig afregning.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FordringHaverReturBeløbDKK" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Det beløb som fordringhaver skal tilbagebetale ved fejlagtig afregning - i danske kroner</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
