systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/FordringStop.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Der kan indsættes stop på en fordring i en given periode,.  Indtil videre kan der kun sættes afregningsstop, hvilket medfører at fordringen ikke afregnes til fordringshaver i perioden.   </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/FordringStopTypeType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/FordringStopAArsagKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:element name="FordringStopType" type="fase2.1:FordringStopTypeType">
               
               <xs:annotation>
                  <xs:documentation>Type der angiver hvilket stop en sagsbehandler kan sætte på en fordring.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FordringStopStart" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato fordringsstoppet gælder fra</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FordringStopSlut" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hvor fordringsstoppet ophører</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FordringStopÅrsagKode" type="fase2.1:FordringStopÅrsagKodeType">
               
               <xs:annotation>
                  <xs:documentation>Sagsbehandler muligheder for valg mellem foruddefineret årsag til stop.   </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FordringStopÅrsagBegr" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af valg af StopÅrsagKode</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="FordringStopÅrsagTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af ÅrsagKode Anden </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
