systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/ForholdRegel.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En samling af værdier for regler der gælder for AngivelseFrekvensForhold, ForretningOmrådeRegel, OplysningForhold, BevillingForhold, AcontoForhold og KreditBegrænsningForhold.  Det er specialiseringer til begreberne, som indeholder de forretningsmæssige regler. Eksempelvis indeholder ForretningOmrådeRegel tilladte kombinationer af PligtKode og ForretningOmrådeTypeKode</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:element name="ForholdRegelGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForholdRegelGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="ForholdRegelBeskrivelse" type="fase2.1:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Dette er en lang tekst.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
