systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/HenvisningRolle.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Angiver de mulige roller der kan tildeles de mulige henvisningstyper. </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeToCifreStartEtType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/TekstLangType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="HenvisningRolleKode" type="fase2.1:KodeToCifreStartEtType">
               
               <xs:annotation>
                  <xs:documentation>Fortæller hvilke roller 2 SE_nr kan have i en henvisning, f.eks. Afregnende, Nyt, Gammelt......... </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenvisningRolleTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Indeholder de mulige typer af henvisningsroller i klartekst. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenvisningRolleHjælpeTekst" type="fase2.1:TekstLangType">
               
               <xs:annotation>
                  <xs:documentation>Formålet med hjælpeteksten er at give brugeren en supplerende og/eller forklarende bemærkning til en konkret forekomst af et grunddataværdisæt. Hjælpeteksten anvendes som hjælp til brugeren, hvor denne eksempelvis bliver i tvivl om indholdet af en konkret forekomst af et grunddataværdisæt.  Hjælpeteksten kan, når det er relevant, indeholder reference til lovgivningens paragraffer og faglige vejledninger., hvor brugeren kan finde yderligere hjælp. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenvisningRolleGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver start dato for en henvisningsrolle. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="HenvisningRolleGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Angiver start dato for en henvisningsrolle. </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
