systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/InddrivelseRente.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Renter tilskrives i DMI som særskilte fordringer, der er knyttet til den oprindelige fordring</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/Rentesats85Type.xsd"/>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:element name="InddrivelseRenteTilskrevetDen" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato for rentetilskrivningen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InddrivelseRenteRenteSats" type="fase2.1:Rentesats85Type">
               
               <xs:annotation>
                  <xs:documentation>Satserne for renter. 3 heltal og 5 decimaler.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InddrivelseRenteDelPeriodeFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato hvorfra renten beregnes eller tilskrives</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InddrivelseRenteDelPeriodeTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato hvortil renten beregnes eller tilskrives</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="InddrivelseRenteDelPeriode" type="fase2.1:BeløbType">
               
            </xs:element>
         <xs:element name="InddrivelseRenteBeregnet" type="fase2.1:BeløbType">
               
            </xs:element>
      </xs:schema>
