systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/KommunikationPraeferenceAftale.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>KommunikationPræferenceAftalen bestemmer indenfor rammerne af ServicePræferenceAftale og Serviceaftalen, hvilke Meddelelsestyper og Kanaler, Kunden ønsker at anvende.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/IdentifikationNummerType.xsd"/>
         <xs:element name="KommunikationPræferenceAftaleNavn" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Navnet på kommunikationspræferenceaftalen, som består af meddelelsestypens navn (tekst)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KommunikationPræferenceAftaleStartdato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Specifik dato</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KommunikationPræferenceAftaleSlutdato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Specifik dato (uden start og slutangivelse).</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KommunikationPræferenceAftaleNummer"
                     type="fase2.1:IdentifikationNummerType">
               
               <xs:annotation>
                  <xs:documentation>Et nummer som unikt identificerer kommunikationpræferenceaftalen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KommunikationPræferenceAftaleRedigeringDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den dato hvor aftalen er blevet redigeret.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
