systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/KundeNummerSkiftAArsag.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Mulige årsager til kundeskift.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/KundeNummerSkiftAArsagKodeDomaeneType.xsd"/>
         <xs:element name="KundeNummerSkiftÅrsagNavn" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Navn på årsag</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KundeNummerSkiftÅrsagKode"
                     type="fase2.1:KundeNummerSkiftÅrsagKodeDomæneType">
               
               <xs:annotation>
                  <xs:documentation> Årsager til kundenummer skift</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KundeNummerSkiftÅrsagBegr" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af årsag til kundenummerskift</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="KundeNummerSkiftÅrsagTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybning af ÅrsagKode Anden.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
