systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/LovPligtType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Tilknytningsklasse som forbinder lov og pligt</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/LovPligtTypeKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="LovPligtTypeKode" type="fase2.1:LovPligtTypeKodeType">
               
               <xs:annotation>
                  <xs:documentation>Angiver hvilken pligttype en lov omhandler. Eksempelvis Toldpligt, Skattepligt.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="LovPligtTypeTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>En mindre tekst - typisk et eller få ord - som unikt giver mulighed for identifikationen af et givet begreb.  I nogle sammenhænge er det også brugt til mindre forklaringer (sætningsniveau)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="LovPligtTypeGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="LovPligtTypeGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
