systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/Matrikel.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En matrikel er en registrering af en fast ejendom i Danmark. Dette sker i Matriklen, som består af matrikelregistret, matrikelkortet og matrikelarkivet.  En matrikel indeholder oplysninger om areal, herunder evt. vej- eller vandløbsareal noteringsforhold (f.eks om landbrugsejendomme, samlede faste ejendomme eller fredskov)  I matrikelregistret identificeres en matrikel ved et matrikelnummer (max fire cifre + max tre bogstaver). I SKAT indeholder MatrikelNummer ligeledes både tal og bogstav.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeType.xsd"/>
         <xs:include schemaLocation="../types/ArealType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="MatrikelNummer" type="fase2.1:KodeType">
               
               <xs:annotation>
                  <xs:documentation>MatrikelNummer svarer til matrikelregistrets matrikelnummer.  I matrikelregistret identificeres en matrikel ved et matrikelnummer (max fire cifre + max tre bogstaver). I SKAT indeholder MatrikelNummer ligeledes både tal og bogstav.  Værdier: 0001-6999 jfr. approbation 7000-9999 specielle arealer</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MatrikelAreal" type="fase2.1:ArealType">
               
               <xs:annotation>
                  <xs:documentation>Samlet areal på en matrikel.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MatrikelVejareal" type="fase2.1:ArealType">
               
               <xs:annotation>
                  <xs:documentation>Matriklens vejareal.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="MatrikelApprobationDato" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Gyldighedsdato på en matrikel. Datoen ændres, hvis der sker ændringer på matriklen.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
