systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/OplysningType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/KodeTreCifreStartEtType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="OplysningTypeKode" type="fase2.1:KodeTreCifreStartEtType">
               
            </xs:element>
         <xs:element name="OplysningTypeTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>En mindre tekst - typisk et eller få ord - som unikt giver mulighed for identifikationen af et givet begreb.  I nogle sammenhænge er det også brugt til mindre forklaringer (sætningsniveau)</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OplysningTypeGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Startdato for hvornår oplysningstypen var gyldig</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="OplysningTypeGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Slutdato for hvornår oplysningstypen var gyldig</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
