systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/RegnskabType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Der eksisterer 3 regnskabstyper i SKAT (ยง 38 regnskab, ยง 9 regnskab samt Statsregnskab). Hver enkelt type er udtryk for et komplet regnskab og hver enkelt type har sin egen kontoplan.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="RegnskabTypeKode" type="fase2.1:KodeType">
               
            </xs:element>
         <xs:element name="RegnskabTypeTekst" type="fase2.1:TekstKortType">
               
            </xs:element>
         <xs:element name="RegnskabTypeGyldigFra" type="fase2.1:DatoType">
               
            </xs:element>
         <xs:element name="RegnskabTypeGyldigTil" type="fase2.1:DatoType">
               
            </xs:element>
      </xs:schema>
