systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/RenteGodtgoerelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>En af en skattemedarbejder beregnet rentegodtgørelse, som er tilskrevet kundens konto.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/BeloebType.xsd"/>
         <xs:include schemaLocation="../types/ProcentType.xsd"/>
         <xs:include schemaLocation="../types/RenteGodtgoerelseTypeType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/RenteGodtgoerelseAArsagKodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:element name="RenteGodtgørelseBeregnBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Det beløb som sagsbehandler indtaster til brug for beregning af en rentegodtgørelse</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseBeregnBeløbDKK" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Det beløb som sagsbehandler indtaster i danske kroner til brug for beregning af en rentegodtgørelse</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseBeløb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Den beregnede rentegodtgørelse som leveres til sagsbehand-ler.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseRefRenteSats" type="fase2.1:ProcentType">
               
               <xs:annotation>
                  <xs:documentation>Referencesatsen er den officielle udlånsrente, der fastsættes af Nationalbanken pr. 1.januar og 1.juli. Benyttes ved godtgørelse efter renteloven.  </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseSumRenteSats" type="fase2.1:ProcentType">
               
               <xs:annotation>
                  <xs:documentation>Den samlede rentesats som danner grundlag for renteberegningen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseType" type="fase2.1:RenteGodtgørelseTypeType">
               
               <xs:annotation>
                  <xs:documentation>Angiver hvilken type af rentegørelse der skal beregnes. </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseDelPeriodeBlb" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>RenteGodtgørelseBeløb for en del af den samlede periode. Skal bruges til at flette i meddelelse for kunde, hvis rentegodtgørelsen er be-regnet over flere renteperioder </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseDelPeriodeBlbDKK" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>RenteGodtgørelseBeløb i danske kroner for en del af den samlede periode. Skal bruges til at flette i meddelelse for kunde, hvis rentegodtgørelsen er be-regnet over flere renteperioder </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseDelPeriodeFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato hvorfra en sats er gyldig. Skal anvendes hvis der er flere satser inden for den samlede periode</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseDelPeriodeTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Dato hvortil en sats er gyldig. Skal anvendes hvis der er flere satser inden for den samlede periode</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelsePeriodeFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den  dato hvorfra rentegodtgørelsen beregnes fra = første rentedag.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelsePeriodeTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Den  dato hvorfra rentegodtgørelsen beregnes til = sidste rentedag.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseÅrsagKode" type="fase2.1:RenteGodtgørelseÅrsagKodeType">
               
               <xs:annotation>
                  <xs:documentation>Værdier til angivekse af årsag for rentegodtgørelse.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseÅrsagBegr" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Sagsbehandler skal angive begrundelse for beregning af rentegodtgørelse.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseÅrsagTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Uddybende begrundelse for valg af ÅrsagKode Anden.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RenteGodtgørelseBeløbDKK" type="fase2.1:BeløbType">
               
               <xs:annotation>
                  <xs:documentation>Den beregnede rentegodtgørelse i danske kroner, som leveres til sagsbehand-ler.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
