systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/RSKommuneNummerPostNummer.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Relation mellem kommunenummer og postnummer</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:include schemaLocation="../types/TalHelType.xsd"/>
         <xs:include schemaLocation="../types/PostNummerType.xsd"/>
         <xs:include schemaLocation="../types/Tekst80Type.xsd"/>
         <xs:include schemaLocation="../types/Tekst128Type.xsd"/>
         <xs:include schemaLocation="../types/DatoTidType.xsd"/>
         <xs:element name="RSKommuneNummerPostNummerID" type="fase2.1:ID18Type">
               
               <xs:annotation>
                  <xs:documentation>Recordens unikke ID</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerKommuneNummer" type="fase2.1:TalHelType">
               
               <xs:annotation>
                  <xs:documentation>Kommunenummer. Der er 98 kommuner i Danmark med hver sin tre-cifrede kode</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerPostNummer" type="fase2.1:PostNummerType">
               
               <xs:annotation>
                  <xs:documentation>Postnummer</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerByNavn" type="fase2.1:Tekst80Type">
               
               <xs:annotation>
                  <xs:documentation>Navnet på byen postnummeret tilhører</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerKommuneNavn" type="fase2.1:Tekst80Type">
               
               <xs:annotation>
                  <xs:documentation>Navnet på kommunen</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerOprettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>ID på den ressource (medarbejder) der har oprettet recorden. -1 hvis den er oprettet af systemet.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerOprettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt for oprettelsen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerÆndretAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>ID på den ressource (medarbejder) der sidst har ændret recorden.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerÆndretTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tidspunkt for sidste ændring.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerSlettetAf" type="fase2.1:Tekst128Type">
               
               <xs:annotation>
                  <xs:documentation>ID på den ressource (medarbejder) der har slettet recorden.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerSlettetTid" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Dato og tid for sletning.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="RSKommuneNummerPostNummerTimestampVersion" type="fase2.1:DatoTidType">
               
               <xs:annotation>
                  <xs:documentation>Angiver dato og tidspunkt for sidste ændring til recorden, det kan både være oprettelse, opdatering og sletning. Attributten anvendes til optimistisk låsning i databasen, samt til at hente delta-ændringer når der overføres til DataWarehouse.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
