systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/SporSkabelon.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:include schemaLocation="../types/UUIDType.xsd"/>
         <xs:include schemaLocation="../types/Tekst20Type.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:include schemaLocation="../types/ID18Type.xsd"/>
         <xs:element name="SporSkabelonID" type="fase2.1:UUIDType">
               
            </xs:element>
         <xs:element name="SporSkabelonNavn" type="fase2.1:Tekst20Type">
               
               <xs:annotation>
                  <xs:documentation>Administratorvalgt navn for sportypen.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SporSkabelonStartdato" type="fase2.1:DatoType">
               
            </xs:element>
         <xs:element name="SporSkabelonSlutdato" type="fase2.1:DatoType">
               
            </xs:element>
         <xs:element name="SporSkabelonSenestScoredeID" type="fase2.1:ID18Type">
               
            </xs:element>
         <xs:element name="SporSkabelonIndsatsSkabelonID" type="fase2.1:UUIDType">
               
               <xs:annotation>
                  <xs:documentation>ID på konfiguration af den enkelte node i en SporSkabelon. Dette ID benyttes som IndsatsParameterID i IA indsatsparameter services.  Identificerer den SporSkabelon som indsatsen er placeret på. Det er nødvendigt for at indsatsparameterkomponenten kan fungere korrekt da et niveau af parametre på en indsats kan være sat på SporSkabelonen. </xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
