systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/SupplerendeForretningOmraadeForholdType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Angiver supplerende forretningsområdeforhold kan være 10 Lokaleg. udleveringsvirksomhed. 12 Lokalegodk. §8 stk 3, spiritus 13 Lokalegodk. §7 stk 1, øl og vin 14 Lokalegodk/cigarer/cigaretter/røgtobak  16 Lagerkapacitet på mindst 1000 tons  17 Lagerkapacitet på mindst 1000 m3 18 Godk.af lageranlæg/årligt salg 100.000 l 20 Røgrensning m.v 23 Mellemhandler 24 Årligt salg på mindst 500.000 l 25 Årligt salg på mindst 10.000 kg  </xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeToCifreStartEtType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="SupplerendeForretningOmrådeForholdTypeKode"
                     type="fase2.1:KodeToCifreStartEtType">
               
               <xs:annotation>
                  <xs:documentation>Kode som angiver forretningsområdet</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SupplerendeForretningOmrådeForholdTypeTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Beskrivende tekst for den tilsvarende kode</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SupplerendeForretningOmrådeForholdTypeGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Startdato for typens gyldighed</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="SupplerendeForretningOmrådeForholdTypeGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Slutdato for typens gyldighed</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
