systems/EFI/KMD-leverancer/EFI20160610/Services/DMI/Fase2_1DMI.r12518/Fase2_1/DMI/Fase2_1DMI/class/TelefonType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         <xs:annotation>
               <xs:documentation>Indeholder lovlige telefonnummer typer, som eksempelvis kunne være: fastnet, mobil, udenlandsk m.v.</xs:documentation>
            </xs:annotation>
         <xs:include schemaLocation="../types/KodeType.xsd"/>
         <xs:include schemaLocation="../types/TekstKortType.xsd"/>
         <xs:include schemaLocation="../types/DatoType.xsd"/>
         <xs:element name="TelefonTypeKode" type="fase2.1:KodeType">
               
               <xs:annotation>
                  <xs:documentation>En kode som beskriver telefonnummeret. Der findes pt. disse i Erhvervssystemet: 1 = Telefon 2 = Telefax 3 = Mobil 4 = Elektronisk post 5 = Udenlandsk telefon 6 = Udenlandsk telefax 7 = Udenlandsk mobil </xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TelefonTypeTekst" type="fase2.1:TekstKortType">
               
               <xs:annotation>
                  <xs:documentation>Kort beskrivelse af koden. Se dokumentation på koden.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TelefonTypeGyldigFra" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
         <xs:element name="TelefonTypeGyldigTil" type="fase2.1:DatoType">
               
               <xs:annotation>
                  <xs:documentation>Alle gyldige datoer i den danske kalender.</xs:documentation>
               </xs:annotation>
            </xs:element>
      </xs:schema>
