services/prod/Arkiv/eIndkomst420170310/view/IndkomstOplysningPersonTidAbonnentBestil_I_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:hsws="urn:oio:skat:eindkomst:ws:1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oio:skat:eindkomst:ws:1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:kontekst="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" xml:lang="DA">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:import namespace="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/" schemaLocation="http://digitaliser.dk/resource/247441/artefact/SKAT_HovedOplysninger.xsd"/><xs:include schemaLocation="../view/AbonnentAdgangStrukturType.xsd"/>
	<xs:include schemaLocation="../view/AbonnentStrukturType.xsd"/>
	<xs:include schemaLocation="../view/PersonIndkomstUdstilletTidStrukturType.xsd"/>
	<xs:element name="IndkomstOplysningPersonTidAbonnentBestil_I_I" type="hsws:IndkomstOplysningPersonTidAbonnentBestil_I_IType">
	</xs:element>
	<xs:complexType name="IndkomstOplysningPersonTidAbonnentBestil_I_IType">
		<xs:sequence>
			<xs:element ref="kontekst:HovedOplysninger"/>
			<xs:element name="IndkomstOplysningPersonTidAbonnentBestilInddata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="hsws:AbonnentAdgangStruktur"/>
						<xs:element name="AbonnentSamling">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Abonnent" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="hsws:AbonnentStruktur"/>
												<xs:element name="IndkomstSoegeValg">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="IndkomstPersonSamling">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element ref="hsws:PersonIndkomstUdstilletTidStruktur" minOccurs="1" maxOccurs="unbounded"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
