systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/DataWarehouseKontrolStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../operational/UdtraekForetagetDatoTid.xsd"/>
				     
         <xs:include schemaLocation="../operational/ValoerFraDatoTid.xsd"/>
				     
         <xs:include schemaLocation="../operational/ValoerTilDatoTid.xsd"/>
				     
         <xs:include schemaLocation="../operational/XMLElementXPath.xsd"/>
				     
         <xs:include schemaLocation="../operational/XMLElementQName.xsd"/>
				     
         <xs:include schemaLocation="../operational/XMLElementAntal.xsd"/>
				     
         <xs:element name="DataWarehouseKontrolStruktur"
                     type="skat2012:DataWarehouseKontrolStrukturType"/>
         <xs:complexType name="DataWarehouseKontrolStrukturType">
            <xs:sequence>
         
         
         
         
         
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="skat2012:UdtrækForetagetDatoTid"/>

                  <xs:element ref="skat2012:ValørFraDatoTid" minOccurs="0"/>



                  <xs:element ref="skat2012:ValørTilDatoTid" minOccurs="0"/>


                  <xs:element name="TællerListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="Tæller" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>

                                    <xs:element ref="skat2012:XMLElementXPath" minOccurs="0"/>



                                    <xs:element ref="skat2012:XMLElementQName" minOccurs="0"/>

                                    <xs:element ref="skat2012:XMLElementAntal"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               
            
         
         
         
         
         
         
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
