systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/DIASMeddelelsePaalaegSkattetillaegStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SelskabSelvangivelse.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:element name="DIASMeddelelsePålægSkattetillægStruktur"
                     type="skat2012:DIASMeddelelsePålægSkattetillægStrukturType"/>
         <xs:complexType name="DIASMeddelelsePålægSkattetillægStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="skat2012:SelskabSelvangivelseIndkomstÅr"/>
               <xs:element name="Aktør">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="skat2012:VirksomhedNavnFirmaNavn"/>
                  
                        <xs:element ref="skat2012:VirksomhedCVRNummer"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element ref="skat2012:SelskabSelvangivelseIndberettetDato"/>
                  
                  <xs:element ref="skat2012:SelskabSelvangivelseFristDato"/>
                  
                  <xs:element ref="skat2012:SelskabSelvangivelseFristOverskridelseDage"/>
                  
                  <xs:element ref="skat2012:SelskabSelvangivelseSkatteTillæg"/>
               <!--Sequence removed-->

                  <xs:element name="Admin" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element ref="skat2012:VirksomhedNavnFirmaNavn" minOccurs="0"/>



                           <xs:element ref="skat2012:VirksomhedCVRNummer" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
