systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/DokumentNummerListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Dokument.xsd"/>
         <xs:element name="DokumentNummerListeStruktur"
                     type="skat2012:DokumentNummerListeStrukturType"/>
         <xs:complexType name="DokumentNummerListeStrukturType">
         
         
         
         
         
         
         
            
            
               <xs:sequence>
               <xs:element name="DokumentNummerListe">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="skat2012:DokumentNummer" minOccurs="1" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
