systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/LigningAfgoerelseSelvangivelseSkatteAnsaettelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SelskabSelvangivelse.xsd"/>
         <xs:include schemaLocation="../class/LigningMyndighed.xsd"/>
         <xs:include schemaLocation="../class/SelskabSkattepligtigIndkomst.xsd"/>
				     
         <xs:include schemaLocation="../view/DokumentNummerListeStrukturType.xsd"/>
				     
         <xs:element name="LigningAfgørelseSelvangivelseSkatteAnsættelseStruktur"
                     type="skat2012:LigningAfgørelseSelvangivelseSkatteAnsættelseStrukturType"/>
         <xs:complexType name="LigningAfgørelseSelvangivelseSkatteAnsættelseStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="skat2012:SelskabSelvangivelseIndkomstÅr"/>
                  
                  <xs:element ref="skat2012:LigningMyndighedKode"/>
                  
                  <xs:element ref="skat2012:SelskabSelvangivelseFristDato"/>
                  
                  <xs:element ref="skat2012:SelskabSkattepligtigIndkomstFørUnderskud"/>
               <!--Sequence removed-->

                  <xs:element name="SkattepligtigIndkomstListe" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="SkattepligtigIndkomst" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2012:SelskabSelvangivelseIndkomstÅr"/>

                                    <xs:element ref="skat2012:SelskabSkattepligtigIndkomstFørUnderskud" minOccurs="0"/>

                                    <xs:element ref="skat2012:SelskabSkattepligtigIndkomstEfterAnvendtUnderskud"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               


               <xs:element ref="skat2012:DokumentNummerListeStruktur" minOccurs="0"/>

            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
