systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/LigningSagAEndreRegnskabValutaStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SelskabSelvangivelse.xsd"/>
         <xs:include schemaLocation="../class/SkatteRegnskabValuta.xsd"/>
				     
         <xs:include schemaLocation="../view/DokumentNummerListeStrukturType.xsd"/>
				     
         <xs:element name="LigningSagÆndreRegnskabValutaStruktur"
                     type="skat2012:LigningSagÆndreRegnskabValutaStrukturType"/>
         <xs:complexType name="LigningSagÆndreRegnskabValutaStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="skat2012:SelskabSelvangivelseIndkomstÅr"/>
                  <xs:element name="Fra">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="skat2012:SkatteRegnskabValutaKode"/>

                           <xs:element ref="skat2012:SkatteRegnskabValutaCentralBankNavn" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Til">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="skat2012:SkatteRegnskabValutaKode"/>

                           <xs:element ref="skat2012:SkatteRegnskabValutaCentralBankNavn" minOccurs="0"/>


                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element ref="skat2012:DokumentNummerListeStruktur" minOccurs="0"/>

               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
