systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/LigningAfgoerelseAEndreBeskatningsparagrafStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SelskabSelvangivelse.xsd"/>
         <xs:include schemaLocation="../class/BeskatningParagrafType.xsd"/>
				     
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../view/DokumentNummerListeStrukturType.xsd"/>
				     
         <xs:element name="LigningAfgørelseÆndreBeskatningsparagrafStruktur"
                     type="skat2012:LigningAfgørelseÆndreBeskatningsparagrafStrukturType"/>
         <xs:complexType name="LigningAfgørelseÆndreBeskatningsparagrafStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
               <xs:sequence>
                  <xs:element ref="skat2012:SelskabSelvangivelseIndkomstÅr"/>
                  
                  <xs:element ref="skat2012:BeskatningParagrafTypeKode"/>

               <xs:element ref="skat2012:DokumentNummerListeStruktur" minOccurs="0"/>


               <!--Sequence removed-->

                  <xs:element name="ReferenceTilAndetSelskab" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element ref="skat2012:VirksomhedSENummer"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
