systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/SelskabSambeskatningskredsHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/SambeskatningskredsTilhoerPeriode.xsd"/>
         <xs:element name="SelskabSambeskatningskredsHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="skat2012:SelskabSambeskatningskredsHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12404"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="SelskabSambeskatningskredsHent_OType">
            <xs:sequence>
               <xs:element ref="skat2012:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
                  
                     <xs:element name="ModerselskabListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Moderselskab" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="skat2012:VirksomhedSENummer"/>
                                       <xs:element name="KredsPeriodeListe">
                                          <xs:complexType>
                                             <xs:sequence>

                                                <xs:element name="KredsPeriode" minOccurs="1" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element ref="skat2012:SambeskatningskredsTilhørPeriodeStart"/>
                  
                                                         <xs:element ref="skat2012:SambeskatningskredsTilhørPeriodeSlut"/>
                                                         <xs:element name="DatterselskabListe">
                                                            <xs:complexType>
                                                               <xs:sequence>
                                                                  <xs:element ref="skat2012:VirksomhedSENummer" minOccurs="0" maxOccurs="unbounded"/>
                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>

                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
