systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/SelskabSelvangivelseSpecifikkeHaendelserStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/SelskabHaendelse.xsd"/>
         <xs:include schemaLocation="../operational/SelskabHaendelseGaeldEftergivelseAkkord.xsd"/>
				     
         <xs:include schemaLocation="../operational/SelskabHaendelseSkattefriOmstruktureringMedUnderskudDato.xsd"/>
				     
         <xs:element name="SelskabSelvangivelseSpecifikkeHændelserStruktur"
                     type="skat2012:SelskabSelvangivelseSpecifikkeHændelserStrukturType"/>
         <xs:complexType name="SelskabSelvangivelseSpecifikkeHændelserStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>

               <xs:element ref="skat2012:SelskabHændelseSkattefriAktieombyt" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseOmstruktureringUdenTilladelse" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseOmstrukturering" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseHandletVirksomhed" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseKøbtImmaterielleAktiver" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseImmaterielleAktiverKøbt" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseImmaterielleAktiverKøbtInternt" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseSolgtImmaterielleAktiver" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseImmaterielleAktiverSolgt" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseImmaterielleAktiverSolgtInternt" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseGældEftergivelseAkkord" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseImmatrielleAktiverKøbSalg" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseTvangAkkordDato" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseGældEftergivelseDato" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseEftergivetGæld" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseFrivilligAkkordDato" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseFrivilligAkkord" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseKreditorGældKonverteringDato" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseKreditorKonverteretGæld" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseGældNedbringelsePgf12CDato" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelsePgf12CNedbragtGæld" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseOverHalvEjerkredsÆndringDato" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseEjerkredsUdenRisikoErhverv" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseEjerkredsPositivNettoKapitalIndtægterMedTillæg"
                           minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseSkattefriOmstruktureringMedUnderskudDato"
                           minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseOmstruktureringUdenRisikoErhverv" minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseOmstruktureringMellemperiodeUnderskud"
                           minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseOmstruktureringPositivNettoKapitalIndtægterMedTillæg"
                           minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseBortseFremførselUnderskudPgf33HKilder"
                           minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseBortseFremførselUnderskudPgf33HPositivLempelseIndkomst"
                           minOccurs="0"/>



               <xs:element ref="skat2012:SelskabHændelseIndskyderSkattefriTilEjIntSambeskatningMarkering"
                           minOccurs="0"/>


               <!--Sequence removed-->

                  <xs:element name="SkattefriTilEjIntSambeskatningListe" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="SkattefriTilEjIntSambeskatning" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>

                                    <xs:element ref="skat2012:SelskabHændelseIndskyderSkattefriTilEjIntSambeskatningUdenlandskVirksomhedNummer"
                                             minOccurs="0"/>



                                    <xs:element ref="skat2012:SelskabHændelseIndskyderSkattefriTilEjIntSambeskatningOmstruktureringDato"
                                             minOccurs="0"/>



                                    <xs:element ref="skat2012:SelskabHændelseIndskyderSkattefriTilEjIntSambeskatningIndsatProcentandelOverført"
                                             minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               


               <xs:element ref="skat2012:SelskabHændelseIndskyderSkattefriTilNonSambeskattetMarkering"
                           minOccurs="0"/>


               <!--Sequence removed-->

                  <xs:element name="SkattefriTilNonSambeskattetListe" minOccurs="0">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="SkattefriTilNonSambeskattet" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>

                                    <xs:element ref="skat2012:SelskabHændelseIndskyderSkattefriTilNonSambeskattetVirksomhedSENummer"
                                             minOccurs="0"/>



                                    <xs:element ref="skat2012:SelskabHændelseIndskyderSkattefriTilNonSambeskattetOmstrukteringDato"
                                             minOccurs="0"/>



                                    <xs:element ref="skat2012:SelskabHændelseIndskyderSkattefriTilNonSambeskattetProcentandelOverført"
                                             minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
