systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/SKATLigningSagOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Fagsystem.xsd"/>
         <xs:include schemaLocation="../class/Myndighed.xsd"/>
         <xs:include schemaLocation="../operational/SagAfsenderReference.xsd"/>
				     
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/LigningSag.xsd"/>
         <xs:element name="SKATLigningSagOpret_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="skat2012:SKATLigningSagOpret_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12404"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="SKATLigningSagOpret_IType">
            <xs:sequence>
               <xs:element ref="skat2012:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="skat2012:FagsystemNavn"/>
                  
                     <xs:element ref="skat2012:MyndighedNummer"/>
                  
                     <xs:element ref="skat2012:SagAfsenderReference"/>
                     <xs:element name="Kunde">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="skat2012:VirksomhedSENummer"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element ref="skat2012:LigningSagTypeKode"/>
                  
                     <xs:element ref="skat2012:LigningSagIndhold"/>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
