systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/UdenlandskPersonTelefonHistorikHent_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/UdenlandskPerson.xsd"/>
         <xs:include schemaLocation="../operational/InkluderHistorikMarkering.xsd"/>
				     
         <xs:include schemaLocation="../class/PersonAdresseType.xsd"/>
         <xs:include schemaLocation="../class/Adresse.xsd"/>
         <xs:include schemaLocation="../class/AlternativAdresse.xsd"/>
         <xs:element name="UdenlandskPersonTelefonHistorikHent_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="skat2012:UdenlandskPersonTelefonHistorikHent_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12404"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="UdenlandskPersonTelefonHistorikHent_IType">
            <xs:sequence>
               <xs:element ref="skat2012:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="skat2012:UdenlandskPersonNummer"/>
                  
                     <xs:element ref="skat2012:InkluderHistorikMarkering"/>
                     <!--Sequence removed-->

                        <xs:element name="UdenlandskPersonAdresse" minOccurs="0">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="skat2012:PersonAdresseTypeESKode"/>
                                 <xs:element name="AdresseValg">
                                    <xs:complexType>
                                       <xs:choice>
                                          <xs:element ref="skat2012:AdresseGyldigFra"/>
				
				
				                                      <xs:element ref="skat2012:AlternativAdresseGyldigFra"/>
                                       </xs:choice>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
