systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/UdenlandskJuridiskEjerHent_FejlIdType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/UdenlandskVirksomhed.xsd"/>
         <xs:element name="UdenlandskJuridiskEjerHent_FejlId"
                     type="skat2012:UdenlandskJuridiskEjerHent_FejlIdType"/>
         <xs:complexType name="UdenlandskJuridiskEjerHent_FejlIdType">
         
         
         
         
         
         
         
            
            
               <xs:sequence>
               <xs:element name="FejlIdenfikation">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element ref="skat2012:UdenlandskVirksomhedNummer" minOccurs="0"/>


                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
