systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/UdenlandskPersonOpret_IType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/UdenlandskPerson.xsd"/>
         <xs:include schemaLocation="../class/PersonNavn.xsd"/>
         <xs:include schemaLocation="../class/Person.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/PersonAdresseOplysningStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/TelefonOplysningStrukturType.xsd"/>
				     
         <xs:element name="UdenlandskPersonOpret_I">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="skat2012:UdenlandskPersonOpret_IType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12404"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="UdenlandskPersonOpret_IType">
            <xs:sequence>
               <xs:element ref="skat2012:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
                  <!--Sequence removed-->
                     <xs:element ref="skat2012:UdenlandskPersonNummer"/>
                  
                     <xs:element ref="skat2012:PersonNavnNavn"/>

                     <xs:element ref="skat2012:PersonFødselDato" minOccurs="0"/>


                     <xs:element name="UdenlandskPersonKontaktOplysningListe">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="UdenlandskPersonKontaktOplysning" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="skat2012:PersonAdresseOplysningStruktur"/>
                                       <!--Sequence removed-->

                                          <xs:element name="UdenlandskPersonTelefonOplysningListe" minOccurs="0">
                                             <xs:complexType>
                                                <xs:sequence>

                                                   <xs:element name="UdenlandskPersonTelefonOplysning" minOccurs="1" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                         <xs:sequence>
                                                            <xs:element ref="skat2012:TelefonOplysningStruktur"/>
                                                         </xs:sequence>
                                                      </xs:complexType>
                                                   </xs:element>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>

                                       

                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
