systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/VirksomhedKontaktOplysningStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
				     
         <xs:include schemaLocation="../class/Telefon.xsd"/>
         <xs:include schemaLocation="../class/EmailAdresse.xsd"/>
         <xs:include schemaLocation="../class/Fax.xsd"/>
         <xs:include schemaLocation="../view/VirksomhedAdresseStrukturType.xsd"/>
				     
         <xs:element name="VirksomhedKontaktOplysningStruktur"
                     type="skat2012:VirksomhedKontaktOplysningStrukturType"/>
         <xs:complexType name="VirksomhedKontaktOplysningStrukturType">
            <xs:sequence>
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
               <!--Sequence removed-->
                  <xs:element ref="skat2012:VirksomhedAdresseStruktur"/>
                  <xs:element name="TelefonListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="Telefon" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2012:TelefonNummer"/>

                                    <xs:element ref="skat2012:TelefonGyldigFra" minOccurs="0"/>



                                    <xs:element ref="skat2012:TelefonGyldigTil" minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element name="EmailAdresseListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="EmailAdresse" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2012:EmailAdresseEmail"/>

                                    <xs:element ref="skat2012:EmailAdresseGyldigFra" minOccurs="0"/>



                                    <xs:element ref="skat2012:EmailAdresseGyldigTil" minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

                  <xs:element name="FaxListe">
                     <xs:complexType>
                        <xs:sequence>

                           <xs:element name="Fax" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element ref="skat2012:FaxNummer"/>

                                    <xs:element ref="skat2012:FaxGyldigFra" minOccurs="0"/>



                                    <xs:element ref="skat2012:FaxGyldigTil" minOccurs="0"/>


                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>

               
            
         
         
         
         
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
