systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/VirksomhedAktieandelHistorikHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
				     
         <xs:include schemaLocation="../class/EjerRolleType.xsd"/>
				     
         <xs:include schemaLocation="../class/AktieKlasse.xsd"/>
         <xs:include schemaLocation="../class/AktieAndel.xsd"/>
         <xs:include schemaLocation="../class/StemmeAndel.xsd"/>
         <xs:include schemaLocation="../view/VirksomhedSporOplysningStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/EjerLederTypeValgStrukturType.xsd"/>
				     
         <xs:element name="VirksomhedAktieandelHistorikHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="skat2012:VirksomhedAktieandelHistorikHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12404"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="VirksomhedAktieandelHistorikHent_OType">
            <xs:sequence>
               <xs:element ref="skat2012:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element name="AktieandeleListe" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>

                              <xs:element name="Aktieandel" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element ref="skat2012:VirksomhedSporOplysningStruktur"/>
                  
                                       <xs:element ref="skat2012:EjerRolleTypeKode"/>
                  
                                       <xs:element ref="skat2012:EjerLederTypeValgStruktur"/>
                  
                                       <xs:element ref="skat2012:AktieKlasseTypeKode"/>

                                       <xs:element ref="skat2012:AktieAndelBeløb" minOccurs="0"/>



                                       <xs:element ref="skat2012:AktieAndelProcent" minOccurs="0"/>

                                       <xs:element ref="skat2012:AktieAndelGyldigFra"/>

                                       <xs:element ref="skat2012:AktieAndelGyldigTil" minOccurs="0"/>



                                       <xs:element ref="skat2012:StemmeAndelProcent" minOccurs="0"/>


                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>

                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
