systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/VirksomhedStamOplysningHistorikSamlingHent_OType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../context/KontekstType.xsd"/>

					    
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
         <xs:include schemaLocation="../class/Fogedomraade.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedRegnskabPeriode.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
         <xs:include schemaLocation="../class/DriftForm.xsd"/>
         <xs:include schemaLocation="../class/DriftFormForhold.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedStatusType.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedStatusForhold.xsd"/>
         <xs:include schemaLocation="../class/Myndighed.xsd"/>
         <xs:include schemaLocation="../class/VirksomhedMyndighedTilhoerForhold.xsd"/>
				     
         <xs:include schemaLocation="../class/SkatteRegnskabValuta.xsd"/>
         <xs:include schemaLocation="../view/VirksomhedKontaktOplysningStrukturType.xsd"/>
				     
         <xs:element name="VirksomhedStamOplysningHistorikSamlingHent_O">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="skat2012:VirksomhedStamOplysningHistorikSamlingHent_OType">
                     <xs:attribute name="revision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:pattern value="r12404"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="VirksomhedStamOplysningHistorikSamlingHent_OType">
            <xs:sequence>
               <xs:element ref="skat2012:Kontekst"/>
               <!--Sequence removed-->
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                  
                     <xs:element ref="skat2012:VirksomhedSENummer" minOccurs="0"/>

                     <xs:element ref="skat2012:VirksomhedCVRNummer" minOccurs="0"/>

                     <xs:element ref="skat2012:VirksomhedStartDato" minOccurs="0"/>

                     <xs:element ref="skat2012:VirksomhedOphørDato" minOccurs="0"/>



                     <xs:element ref="skat2012:FogedområdeNummer" minOccurs="0"/>


                     <xs:element name="BeregnetRegnskabPeriode" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element ref="skat2012:VirksomhedRegnskabPeriodeStartDato"/>
                  
                              <xs:element ref="skat2012:VirksomhedRegnskabPeriodeSlutDato"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="VirksomhedStamOplysningHistorik" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="VirksomhedNavnHistorikListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="VirksomhedNavn" minOccurs="1" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="skat2012:VirksomhedNavnFirmaNavn"/>
                  
                                                <xs:element ref="skat2012:VirksomhedNavnFirmaNavnKort"/>
                  
                                                <xs:element ref="skat2012:VirksomhedNavnGyldigFra"/>

                                                <xs:element ref="skat2012:VirksomhedNavnGyldigTil" minOccurs="0"/>


                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <!--Sequence removed-->

                                 <xs:element name="DriftFormHistorikListe" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="DriftForm" minOccurs="1" maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="skat2012:DriftFormKode"/>
                  
                                                   <xs:element ref="skat2012:DriftFormForholdStartDato"/>

                                                   <xs:element ref="skat2012:DriftFormForholdSlutDato" minOccurs="0"/>


                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              

                              <!--Sequence removed-->

                                 <xs:element name="VirksomhedStatusHistorikListe" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="VirksomhedStatus" minOccurs="1" maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="skat2012:VirksomhedStatusTypeKode"/>
                  
                                                   <xs:element ref="skat2012:VirksomhedStatusForholdGyldigFra"/>

                                                   <xs:element ref="skat2012:VirksomhedStatusForholdGyldigTil" minOccurs="0"/>


                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              

                              <!--Sequence removed-->

                                 <xs:element name="VirksomhedRegnskabsPeriodeHistorikListe" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="Regnskabsperiode" minOccurs="1" maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="skat2012:VirksomhedRegnskabPeriodeKode"/>
                  
                                                   <xs:element ref="skat2012:VirksomhedRegnskabPeriodeStartDato"/>
                  
                                                   <xs:element ref="skat2012:VirksomhedRegnskabPeriodeSlutDato"/>
                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              

                              <!--Sequence removed-->

                                 <xs:element name="VirksomhedMyndighedTilhørForholdHistorikListe" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="VirksomhedMyndighedMyndighedTilhørForhold" minOccurs="1"
                                             maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="skat2012:MyndighedNummer"/>
                  
                                                   <xs:element ref="skat2012:MyndighedType"/>
                  
                                                   <xs:element ref="skat2012:VirksomhedMyndighedTilhørForholdKode"/>
                  
                                                   <xs:element ref="skat2012:VirksomhedMyndighedTilhørForholdGyldigFra"/>

                                                   <xs:element ref="skat2012:VirksomhedMyndighedTilhørForholdGyldigTil" minOccurs="0"/>


                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              

                              <xs:element name="PrimærAdresseHistorikListe">
                                 <xs:complexType>
                                    <xs:sequence>

                                       <xs:element name="PrimærAdresseHistorik" minOccurs="1" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element ref="skat2012:VirksomhedKontaktOplysningStruktur"/>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>

                              <!--Sequence removed-->

                                 <xs:element name="RegnskabValutaHistorikListe" minOccurs="0">
                                    <xs:complexType>
                                       <xs:sequence>

                                          <xs:element name="RegnskabValuta" minOccurs="1" maxOccurs="unbounded">
                                             <xs:complexType>
                                                <xs:sequence>
                                                   <xs:element ref="skat2012:SkatteRegnskabValutaKode"/>
                  
                                                   <xs:element ref="skat2012:SkatteRegnskabValutaCentralBankNavn"/>
                  
                                                   <xs:element ref="skat2012:SkatteRegnskabValutaGyldigFra"/>

                                                   <xs:element ref="skat2012:SkatteRegnskabValutaGyldigTil" minOccurs="0"/>


                                                </xs:sequence>
                                             </xs:complexType>
                                          </xs:element>
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>

                              

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  
            
         
         
         
         
               
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
