systems/Selskabsskat(DIAS)/Leverance/Arkiv/20150513/Skat2012Graensesnit.r12404/package/view/VirksomhedPligtHaendelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r12404</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Pligt.xsd"/>
         <xs:include schemaLocation="../class/RegistreringForhold.xsd"/>
         <xs:element name="VirksomhedPligtHændelseStruktur"
                     type="skat2012:VirksomhedPligtHændelseStrukturType"/>
         <xs:complexType name="VirksomhedPligtHændelseStrukturType">
         
         
         
         
         
         
         
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="FørVærdiListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="FørVærdi" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="skat2012:PligtKode"/>
                  
                                 <xs:element ref="skat2012:RegistreringForholdStartDato"/>

                                 <xs:element ref="skat2012:RegistreringForholdSlutDato" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               <xs:element name="EfterVærdiListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="EfterVærdi" minOccurs="0" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="skat2012:PligtKode"/>
                  
                                 <xs:element ref="skat2012:RegistreringForholdStartDato"/>

                                 <xs:element ref="skat2012:RegistreringForholdSlutDato" minOccurs="0"/>


                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
